Repository containers/podman, pull requests merged in 2018-11, with the labels that each got.

#1740 allow ppc64le to pass libpod integration tests
  .papr.yml
  test/e2e/config.go
  test/e2e/config_amd64.go
  test/e2e/config_ppc64le.go
  test/e2e/libpod_suite_test.go
  test/e2e/load_test.go
  test/e2e/logs_test.go
  test/e2e/push_test.go
  test/e2e/rmi_test.go
  test/e2e/rootless_test.go
  test/e2e/run_signal_test.go
  test/e2e/run_test.go
  test/e2e/search_test.go
Labels: approved, lgtm, size/L

#1741 Change humanize to use MB vs MiB.
  contrib/python/pypodman/pypodman/lib/actions/history_action.py
  contrib/python/pypodman/pypodman/lib/actions/images_action.py
Labels: approved, bug, lgtm, size/XS

#1746 replace quay.io/baude to quay.io/libpod
  test/e2e/config_amd64.go
  test/e2e/config_ppc64le.go
  test/e2e/pull_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/S

#1738 Make restart parallel and add --all
  cmd/podman/restart.go
  cmd/podman/shared/parallel.go
  completions/bash/podman
  docs/podman-restart.1.md
  test/e2e/restart_test.go
Labels: approved, lgtm, size/L

#1737 Make kill, pause, and unpause parallel.
  cmd/podman/kill.go
  cmd/podman/pause.go
  cmd/podman/shared/parallel.go
  cmd/podman/stop.go
  cmd/podman/unpause.go
  completions/bash/podman
  docs/podman-kill.1.md
  docs/podman-pause.1.md
  docs/podman-unpause.1.md
  test/e2e/pause_test.go
Labels: approved, lgtm, size/L

#1748 Fix long image name handling
  contrib/python/pypodman/pypodman/lib/actions/images_action.py
  contrib/python/pypodman/pypodman/lib/report.py
Labels: approved, bug, lgtm, size/M

#1753 Do never override podman with docker
  Makefile
Labels: approved, lgtm, size/XS

#1754 `--interactive` shall keep STDIN attached even when not explicitly set
  cmd/podman/run.go
Labels: approved, lgtm, size/XS

#1743 Add ChangeAction to parse sub-options from --change
  contrib/python/podman/podman/libs/images.py
  contrib/python/pypodman/pypodman/lib/__init__.py
  contrib/python/pypodman/pypodman/lib/actions/commit_action.py
  contrib/python/pypodman/pypodman/lib/actions/export_action.py
  contrib/python/pypodman/pypodman/lib/actions/import_action.py
  contrib/python/pypodman/pypodman/lib/parser_actions.py
Labels: approved, bug, lgtm, size/L

#1768 Fix cleanup for "Pause a bunch of running containers"
  .papr.sh
  test/e2e/pause_test.go
Labels: approved, lgtm, size/XS

#1616 Cirrus-CI: Add option to run system-tests
  .cirrus.yml
  contrib/cirrus/optional_system_test.sh
Labels: approved, lgtm, size/S

#1762 Temporarily fix the Python tests to fix some PRs
  contrib/python/podman/test/test_pods_ctnrs.py
Labels: approved, lgtm, size/XS

#1767 Remove conmon cgroup before pod cgroup for cgroupfs
  libpod/runtime_pod_linux.go
Labels: approved, lgtm, size/S

#1689 Do not call out to runc for sync
  libpod/container_api.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/L

#1771 move defer'd function declaration ahead of prepare error return
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/M

#1774 Fix run --hostname test that started failing post-merge
  test/e2e/run_dns_test.go
Labels: approved, lgtm, size/S

#1778 update seccomp.json
  seccomp.json
Labels: approved, lgtm, size/M

#1781 Update release notes for 0.11.1
  RELEASE_NOTES.md
Labels: approved, lgtm, size/M

#1785 Bump to v0.11.1
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/L

#1790 Do not hide errors when creating container with UserNSRoot
  libpod/oci_linux.go
Labels: approved, lgtm, size/XS

#1787 correct assignment of networkStatus
  libpod/networking_linux.go
Labels: approved, lgtm, size/XS

#1784 Cirrus: Ignore any error from the IRC messenger
  contrib/cirrus/lib.sh
Labels: approved, lgtm

#1793 info: add rootless field
  libpod/info.go
Labels: approved, lgtm, size/XS

#1726 rootless: default to fuse-overlayfs when available
  docs/podman.1.md
  pkg/util/utils.go
Labels: approved, lgtm, size/S

#1789 Accurately update state if prepare() partially fails
  libpod/container_internal_linux.go
  libpod/networking_linux.go
Labels: approved, lgtm, size/M

#1795 Better document rootless containers
  docs/podman.1.md
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm, size/S

#1799 docs: Fix duplicated entry for pod-container-unmount
  docs/podman-container.1.md
Labels: approved, lgtm, size/XS

#1794 remove $-prefix from (most) shell examples
  docs/tutorials/podman_tutorial.md
Labels: approved, lgtm, size/M

#1779 troubleshooting.md: add a recipe for rootless ping
  troubleshooting.md
Labels: approved, lgtm, size/S

#1802 Update troubleshooting guide to deal with rootless path
  troubleshooting.md
Labels: approved, lgtm, size/M

#1803 Add space between num & unit in images output
  cmd/podman/images.go
  docs/podman-images.1.md
Labels: approved, lgtm, size/M

#1805 Cleanup podman spec to not show git checkout is dirty
  contrib/spec/podman.spec.in
Labels: approved, lgtm, size/S

#1807 vendor: update ostree-go
  vendor.conf
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/admin.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/admin.go.h
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/admincleanup.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/admindeploy.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/admindiff.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/admininit.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/admininstutil.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/adminosinit.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/adminsetorigin.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/adminstatus.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/adminswitch.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/adminundeploy.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/adminunlock.go
  vendor/github.com/ostreedev/ostree-go/pkg/otadmin/adminupgrade.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/builtin.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/builtin.go.h
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/cat.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/checkout.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/checksum.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/commit.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/config.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/diff.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/export.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/fsck.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/gpgsign.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/init.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/log.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/ls.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/prune.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/pull.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/pulllocal.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/refs.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/remote.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/reset.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/revparse.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/show.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/staticdelta.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/summary.go
  vendor/github.com/ostreedev/ostree-go/pkg/otbuiltin/trivialhttpd.go
  vendor/github.com/ostreedev/ostree-go/pkg/otremote/remote.go.h
  vendor/github.com/ostreedev/ostree-go/pkg/otremote/remoteadd.go
  vendor/github.com/ostreedev/ostree-go/pkg/otremote/remotedelete.go
  vendor/github.com/ostreedev/ostree-go/pkg/otremote/remotegpgimport.go
  vendor/github.com/ostreedev/ostree-go/pkg/otremote/remotelist.go
  vendor/github.com/ostreedev/ostree-go/pkg/otremote/remoterefs.go
  vendor/github.com/ostreedev/ostree-go/pkg/otremote/remoteshowurl.go
  vendor/github.com/ostreedev/ostree-go/pkg/otremote/remotesummary.go
Labels: approved, lgtm, size/L

#1809 Make list of approvers same as reviewers
  OWNERS
Labels: approved, lgtm, size/XS

#1804 Standardized container image for gofmt and lint
  CONTRIBUTING.md
  contrib/gate/Dockerfile
  contrib/gate/README.md
  contrib/gate/entrypoint.sh
Labels: approved, lgtm, size/L

#1811 Bump golang to v1.10 in install.md
  install.md
Labels: approved, lgtm, size/XS

#1814 Cirrus: Add master branch testing status badge
  README.md
Labels: approved, lgtm, size/XS

#1818 Increase pidWaitTimeout to 60s
  libpod/container_api.go
Labels: approved, lgtm, size/XS

#1820 Vendor in containers/storage
  vendor.conf
  vendor/github.com/containers/storage/README.md
  vendor/github.com/containers/storage/drivers/aufs/aufs.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
  vendor/github.com/containers/storage/pkg/idtools/parser.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/vendor.conf
Labels: approved, lgtm, size/L

#1819 Add release notes for 0.11.1.1
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm, size/S

#1821 Bump to v0.11.1.1
  Makefile
  changelog.txt
Labels: size/M

#1769 Set --force-rm for podman build to true by default
  cmd/podman/build.go
  vendor.conf
  vendor/github.com/containers/buildah/README.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/common.go
  vendor/github.com/containers/buildah/delete.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/chroot_symlink.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/unshare/unshare.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/buildah/vendor.conf
Labels: approved, lgtm, size/XL

#1756 Update metalinter dependency
  .tool/lint
  Makefile
  libpod/container_graph_test.go
  libpod/oci.go
  libpod/oci_linux.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/S

#1813 Add version command to pypodman
  contrib/python/pypodman/pypodman/lib/actions/__init__.py
  contrib/python/pypodman/pypodman/lib/actions/version_action.py
Labels: approved, lgtm, size/M

#1822 runlabel: use shlex for splitting commands
  cmd/podman/shared/funcs.go
  cmd/podman/shared/funcs_test.go
  vendor.conf
  vendor/github.com/google/shlex/COPYING
  vendor/github.com/google/shlex/README
  vendor/github.com/google/shlex/shlex.go
Labels: approved, lgtm, size/XL

#1780 Reveal magic, parallel system-testing and system-testing simplification
  .cirrus.yml
  contrib/cirrus/README.md
  contrib/cirrus/build_vm_images.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/optional_system_test.sh
  contrib/cirrus/system_test.sh
Labels: approved, lgtm, size/L

#1823 Implement pypodman start command
  contrib/python/podman/podman/libs/_containers_attach.py
  contrib/python/pypodman/pypodman/lib/actions/__init__.py
  contrib/python/pypodman/pypodman/lib/actions/start_action.py
  contrib/python/pypodman/pypodman/lib/parser_actions.py
Labels: approved, kind/feature, lgtm, size/L

#1806 rootless: create user conf files when they don't exist
  libpod/runtime.go
  pkg/registries/registries.go
  pkg/secrets/secrets.go
  pkg/util/utils.go
Labels: approved, lgtm, size/M

#1824 pypodman: Don't use $HOST and $USER variables for remote
  contrib/python/pypodman/docs/man1/pypodman.1
  contrib/python/pypodman/pypodman/lib/podman_parser.py
Labels: approved, lgtm, size/S

#1831 Improve speed of containers.list()
  contrib/python/podman/podman/libs/containers.py
Labels: approved, bug, lgtm, size/M

#1829 Allow users to expose ports from the pod to the host
  cmd/podman/pod_create.go
  completions/bash/podman
  docs/podman-pod-create.1.md
  libpod/options.go
  libpod/pod.go
  libpod/pod_easyjson.go
  libpod/runtime_pod_infra_linux.go
  pkg/spec/createconfig.go
  test/e2e/pod_create_test.go
Labels: approved, lgtm, size/L

#1810 generate kubernetes YAML from a libpod container
  cmd/podman/kube.go
  cmd/podman/kube_generate.go
  cmd/podman/main.go
  libpod/kube.go
Labels: approved, lgtm, size/L

#1835 Added option to keep container running after checkpointing
  cmd/podman/checkpoint.go
  docs/podman-container-checkpoint.1.md
  docs/podman-container-restore.1.md
  libpod/container_api.go
  libpod/container_internal_linux.go
  libpod/oci.go
Labels: approved, lgtm, size/M

#1858 Load NAT modules to fix tests involving CRIU
  .papr_prepare.sh
Labels: approved, lgtm, size/XS

#1862 podman_tutorial.md typo: arguement -> argument
  docs/tutorials/podman_tutorial.md
Labels: approved, lgtm, size/XS

#1860 implement --format for version command
  cmd/podman/version.go
  completions/bash/podman
  docs/podman-version.1.md
Labels: approved, lgtm, size/M

#1865 add podman container|image exists
  cmd/podman/container.go
  cmd/podman/exists.go
  cmd/podman/image.go
  completions/bash/podman
  docs/podman-container-exists.1.md
  docs/podman-container.1.md
  docs/podman-image-exists.1.md
  docs/podman-image.1.md
  libpod/image/errors.go
  libpod/image/image.go
  test/e2e/exists_test.go
Labels: approved, lgtm, size/L

#1868 Add history field to image inspect
  libpod/image/image.go
  pkg/inspect/inspect.go
Labels: approved, lgtm, size/XS

#1871 Add some tests for --ip flag with run and create command
  test/e2e/create_staticip_test.go
  test/e2e/run_staticip_test.go
Labels: approved, lgtm, size/M

#1832 exec: always make explicit the tty value
  libpod/oci.go
Labels: approved, lgtm, size/XS

#1863 Actually set version for podman module / pypodman
  contrib/python/podman/Makefile
  contrib/python/pypodman/Makefile
Labels: approved, lgtm, size/XS

#1874 Improve podman run --mount test
  test/e2e/run_test.go
Labels: approved, lgtm, size/XS

#1878 test: cleanup CNI network used by the tests
  test/e2e/create_staticip_test.go
  test/e2e/run_staticip_test.go
Labels: approved, lgtm, size/XS

#1837 vendor: update selinux
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
Labels: approved, lgtm, size/XS

#1839 rootless: store only subset of storage.conf
  pkg/util/utils.go
Labels: approved, lgtm, size/M

#1833 exec: remove polling for PID file
  libpod/container_api.go
  libpod/util.go
Labels: approved, lgtm, size/M

#1849 rootless: add new netmode "slirp4netns"
  cmd/podman/common.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  libpod/container.go
  libpod/container_easyjson.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/options.go
  libpod/runtime_pod_infra_linux.go
  pkg/namespaces/namespaces.go
  pkg/spec/createconfig.go
  pkg/spec/spec.go
  pkg/varlinkapi/containers_create.go
  test/e2e/libpod_suite_test.go
  test/e2e/rootless_test.go
  test/utils/podmantest_test.go
  test/utils/utils.go
Labels: approved, lgtm, size/M

#1848 Add tcp-established to checkpoint/restore
  .cirrus.yml
  Dockerfile
  Dockerfile.CentOS
  Dockerfile.Fedora
  cmd/podman/checkpoint.go
  cmd/podman/restore.go
  completions/bash/podman
  docs/podman-container-checkpoint.1.md
  docs/podman-container-restore.1.md
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/oci.go
  libpod/oci_linux.go
  libpod/oci_unsupported.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/L

#1879 Stopping a stopped container is not an error for Podman
  cmd/podman/stop.go
  test/e2e/stop_test.go
Labels: approved, lgtm, size/S

#1846 Use host's resolv.conf if no network namespace enabled
  libpod/container_internal_linux.go
  pkg/resolvconf/resolvconf.go
Labels: approved, lgtm, size/S

#1880 Fix golang formatting issues
  cmd/podman/commit.go
  cmd/podman/images.go
  cmd/podman/import.go
  cmd/podman/inspect.go
  libpod/container.go
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/kube.go
  libpod/pod_internal.go
Labels: approved, lgtm, size/M

#1881 Fixes #1867
  contrib/python/podman/podman/libs/containers.py
  contrib/python/podman/test/test_containers.py
  contrib/python/pypodman/pypodman/lib/actions/commit_action.py
Labels: approved, bug, lgtm, size/M

#1885 _split_token(): handle None
  contrib/python/podman/podman/libs/images.py
Labels: approved, lgtm, size/XS

#1798 systemd: fix NOTIFY_SOCKET with patched runc
  libpod/oci.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/S

#1888 hide kube command for now
  cmd/podman/kube.go
Labels: approved, lgtm, size/XS

#1852 Cleaning up completions.
  completions/bash/podman
Labels: approved, lgtm, size/XXL

#1714 tests: fix rootless tests with an updated runc
  .papr.yml
  Dockerfile.Fedora
  test/e2e/rootless_test.go
Labels: approved, lgtm, size/XS

#1890 disable checkpoint tests on f29
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/XS

#1906 add pod short option to ps
  cmd/podman/ps.go
  completions/bash/podman
  docs/podman-ps.1.md
Labels: approved, lgtm, size/XS

#1777 /dev/shm should be mounted even in rootless mode.
  libpod/container_internal.go
Labels: approved, lgtm, size/S

#1317 Disable mount options when running --privileged
  docs/podman-create.1.md
  docs/podman-run.1.md
  libpod/container_internal.go
  vendor.conf
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/containers_ffjson.go
  vendor/github.com/containers/storage/drivers/aufs/aufs.go
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/devmapper/deviceset.go
  vendor/github.com/containers/storage/drivers/devmapper/driver.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/drivers/windows/windows.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/layers_ffjson.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
  vendor/github.com/containers/storage/pkg/idtools/parser.go
  vendor/github.com/containers/storage/store.go
Labels: approved, lgtm, size/L

#1886 pypod run: ignore args intended for container command
  contrib/python/pypodman/pypodman/lib/actions/create_action.py
  contrib/python/pypodman/pypodman/lib/actions/run_action.py
  contrib/python/pypodman/pypodman/lib/podman_parser.py
Labels: approved, lgtm, size/XS

#1896 Add create test with --mount flag
  test/e2e/create_test.go
Labels: approved, lgtm, needs-ok-to-test, size/M
