Repository containers/podman, pull requests merged in 2018-09, with the labels that each got.

#1544 Update release notes for 0.9.3.1
  README.md
  RELEASE_NOTES.md
Labels: size/XS

#818 Makefile: Call contrib/python's clean regardless of HAS_PYTHON3
  Makefile
  contrib/python/podman/Makefile
  contrib/python/podman/setup.py
  contrib/python/pypodman/Makefile
  contrib/python/pypodman/setup.py
Labels: enhancement

#1549 Update the OWNERS file so bot assigns sane reviewers
  OWNERS
Labels: approved, lgtm, size/S

#1559 podman runs disabled containers and privileged containers as spc_t
  test/e2e/run_test.go
Labels: approved, lgtm, size/XS

#1556 Disable CentOS7 VM testing
  .papr.yml
Labels: approved, lgtm, size/L

#1561 Add buildah version and distribution to info
  API.md
  cmd/podman/varlink/io.podman.varlink
  docs/podman-info.1.md
  libpod/info.go
  pkg/varlinkapi/system.go
Labels: approved, lgtm, size/L

#1551 run complex image names with short names
  libpod/image/image.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/M

#1567 Vendor in the latest containers/storage, image and buildah
  test/e2e/search_test.go
  vendor.conf
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/unshare/unshare.c
  vendor/github.com/containers/buildah/unshare/unshare.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/containers/image/storage/storage_image.go
  vendor/github.com/containers/storage/drivers/chown_unix.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/layers_ffjson.go
  vendor/github.com/containers/storage/store.go
Labels: approved, lgtm, size/L
