Repository containers/podman, pull requests merged in 2018-10, with the labels that each got.

#1571 runtime: fix message which assumes the runtime is runc
  libpod/runtime.go
Labels: approved, lgtm, size/XS

#1568 Add --all flag to podman kill
  cmd/podman/kill.go
  completions/bash/podman
  docs/podman-kill.1.md
  docs/podman-stop.1.md
Labels: approved, lgtm, size/M

#1547 rootless: raise an error when trying to use cgroups
  pkg/spec/config_linux.go
  pkg/spec/spec.go
Labels: approved, lgtm, size/L

#1577 Need to allocate memory for hook struct
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#1563 Implement pod varlink bindings
  API.md
  cmd/podman/varlink/io.podman.varlink
  contrib/python/podman/.pylintrc
  contrib/python/podman/podman/__init__.py
  contrib/python/podman/podman/client.py
  contrib/python/podman/podman/libs/__init__.py
  contrib/python/podman/podman/libs/errors.py
  contrib/python/podman/podman/libs/images.py
  contrib/python/podman/podman/libs/pods.py
  contrib/python/podman/test/test_pods_ctnrs.py
  contrib/python/podman/test/test_pods_no_ctnrs.py
  contrib/python/podman/test/test_runner.sh
  contrib/python/pypodman/pypodman/lib/podman_parser.py
  pkg/varlinkapi/pods.go
Labels: approved, lgtm, size/XXL

#1576 Disable SELinux labeling if --privileged
  cmd/podman/create.go
  test/e2e/run_selinux_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/L

#1562 Update docs to build a runc that works with systemd
  docs/tutorials/podman_tutorial.md
  install.md
  libpod/container_internal.go
Labels: approved, lgtm, size/S

#1528 Add container runlabel command
  cmd/podman/container.go
  cmd/podman/runlabel.go
  cmd/podman/shared/funcs.go
  cmd/podman/shared/funcs_test.go
  commands.md
  completions/bash/podman
  docs/podman-container-runlabel.1.md
  libpod/image/image.go
  libpod/oci.go
  test/e2e/libpod_suite_test.go
  utils/utils.go
Labels: approved, lgtm, size/XL

#1531 Add ContainerStateExited and OCI delete() in cleanup()
  cmd/podman/cleanup.go
  cmd/podman/pod_stop.go
  cmd/podman/ps.go
  cmd/podman/run.go
  cmd/podman/start.go
  contrib/python/podman/test/test_pods_ctnrs.py
  libpod/container.go
  libpod/container_api.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/pod_api.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  pkg/varlinkapi/pods.go
Labels: approved, lgtm, size/L

#1580 rootless: always set XDG_RUNTIME_DIR
  cmd/podman/main.go
  libpod/runtime.go
Labels: approved, lgtm, size/S

#1584 selinux: drop superflous relabel
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#1578 Add Ubuntu-18.04 to CI testing
  .travis.yml
  .ubuntu_prepare.sh
  libpod/container_internal.go
  libpod/runtime_pod_linux.go
  libpod/stats.go
  libpod/util.go
  test/e2e/libpod_suite_test.go
  test/e2e/run_cgroup_parent_test.go
  test/e2e/run_memory_test.go
Labels: approved, lgtm, size/L

#1557 Don't tmpcopyup on systemd cgroup
  pkg/spec/spec.go
Labels: approved, lgtm, size/XS

#469 Add support to checkpoint/restore containers
  Dockerfile
  cmd/podman/checkpoint.go
  cmd/podman/container.go
  cmd/podman/restore.go
  completions/bash/podman
  docs/podman-container-checkpoint.1.md
  docs/podman-container-restore.1.md
  docs/podman-container.1.md
  docs/tutorials/podman_tutorial.md
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_internal_unsupported.go
  libpod/oci.go
  libpod/oci_linux.go
  libpod/oci_unsupported.go
  test/e2e/checkpoint_test.go
  test/e2e/libpod_suite_test.go
Labels: approved, enhancement, lgtm, size/XL

#1518 Add cirrus-ci: eventual replacement for papr and travis
  .cirrus.yml
  contrib/cirrus/build_vm_images.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/ooe.sh
  contrib/cirrus/packer/README.md
  contrib/cirrus/packer/centos_setup.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/libpod_images.json
  contrib/cirrus/packer/rhel_setup.sh
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/unit_test.sh
Labels: approved, lgtm, size/XXL

#1537 Switch to using libnetwork's resolvconf package
  libpod/container_easyjson.go
  libpod/container_internal.go
  pkg/resolvconf/dns/resolvconf.go
  pkg/resolvconf/resolvconf.go
Labels: approved, lgtm, size/L

#1593 docker: Double quote array expansions to avoid re-splitting elements
  docker
Labels: approved, lgtm, size/XS

#1595 Remove Travis
  .travis.yml
Labels: approved, lgtm, size/M

#1590 skip userns tests on non-fedora distributions for now
  .papr.sh
Labels: approved, lgtm, size/S

#1594 runlabel: execute /proc/self/exe and avoid recursion
  cmd/podman/runlabel.go
  cmd/podman/shared/funcs.go
  cmd/podman/shared/funcs_test.go
Labels: approved, lgtm, size/S

#1597 added links to buildah.io and podman.io to README.md
  README.md
Labels: approved, lgtm, size/XS

#1598 Lower Cirrus-CI CPU + Re-add verify step
  .cirrus.yml
  contrib/cirrus/verify_source.sh
Labels: approved, lgtm, size/M

#1573 re-add BR for golang compiler to contrib/spec/podman.spec.in
  .copr/prepare.sh
  contrib/spec/podman.spec.in
Labels: approved, lgtm, size/S

#1600 Vendor in latest github.com/containers/storage,image, buildah
  vendor.conf
  vendor/github.com/containers/buildah/README.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/common.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/unshare/unshare.c
  vendor/github.com/containers/buildah/unshare/unshare.go
  vendor/github.com/containers/buildah/util.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/containers/image/docker/docker_client.go
  vendor/github.com/containers/image/pkg/tlsclientconfig/tlsclientconfig.go
  vendor/github.com/containers/storage/drivers/chown_unix.go
Labels: approved, lgtm, size/L

#1587 Fix pod status reporting for new Exited state
  cmd/podman/pod_ps.go
  cmd/podman/shared/pod.go
Labels: approved, lgtm, size/XS

#1622 Paprdind
  .papr.sh
  .papr_prepare.sh
  Dockerfile
  Dockerfile.CentOS
  Dockerfile.Fedora
  Makefile
  hack/dind
Labels: approved, lgtm, size/M

#1617 remove hack/dind
  Dockerfile
  Dockerfile.CentOS
  Dockerfile.Fedora
  Makefile
  hack/dind
Labels: approved, size/M

#1620 Vendor latest containers/image
  vendor.conf
  vendor/github.com/containers/image/docker/docker_client.go
  vendor/github.com/containers/image/docker/docker_image.go
  vendor/github.com/containers/image/docker/docker_image_dest.go
  vendor/github.com/containers/image/docker/docker_image_src.go
  vendor/github.com/containers/image/openshift/openshift.go
  vendor/github.com/containers/image/pkg/docker/config/config.go
Labels: approved, lgtm, size/M

#1607 fix runlabel functions based on QA feedback
  cmd/podman/runlabel.go
  cmd/podman/shared/funcs.go
  docs/podman-container-runlabel.1.md
Labels: approved, lgtm, size/L

#1621 Document --net as an alias of --network in podman run & create
  docs/podman-create.1.md
  docs/podman-run.1.md
Labels: approved, lgtm, size/XS

#1613 Log an otherwise ignored error from joining a net ns
  libpod/boltdb_state_linux.go
Labels: approved, lgtm, size/XS

#1623 Add ability to specify static IPs with --ip flag
  cmd/podman/common.go
  completions/bash/podman
  docs/podman-create.1.md
  docs/podman-run.1.md
  libpod/container.go
  libpod/container_easyjson.go
  libpod/networking_linux.go
  libpod/options.go
  libpod/pod_easyjson.go
  pkg/spec/createconfig.go
  test/e2e/run_staticip_test.go
  vendor.conf
  vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/types.go
Labels: approved, lgtm, size/L

#1614 Stop containers in parallel fashion
  cmd/podman/stop.go
  cmd/podman/utils.go
  vendor.conf
Labels: approved, lgtm, size/M

#1628 rootless: fix hang on startup with older glibc versions
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/M

#1605 Pass along syslog variable to podman cleanup processes
  cmd/podman/create.go
  pkg/spec/createconfig.go
Labels: approved, lgtm, size/S

#1632 Swap from map to channels for podman stop workers
  cmd/podman/utils.go
Labels: approved, lgtm, size/S

#1633 Add release notes for 0.10.1
  RELEASE_NOTES.md
Labels: size/S

#1634 Bump to v0.10.1
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: size/M

#1611 Support auth file environment variable in related podman commands & add change to man pages
  cmd/podman/common.go
  cmd/podman/login.go
  cmd/podman/logout.go
  cmd/podman/pull.go
  cmd/podman/push.go
  cmd/podman/runlabel.go
  cmd/podman/search.go
  docs/podman-build.1.md
  docs/podman-container-runlabel.1.md
  docs/podman-login.1.md
  docs/podman-logout.1.md
  docs/podman-pull.1.md
  docs/podman-push.1.md
  docs/podman-search.1.md
  vendor/github.com/containers/buildah/pkg/cli/common.go
Labels: approved, lgtm, size/M

#1558 Generate a passwd file for users not in container
  libpod/container.go
  libpod/container_internal.go
  pkg/chrootuser/user.go
  pkg/chrootuser/user_basic.go
  pkg/chrootuser/user_linux.go
  test/e2e/run_passwd_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/L

#1635 Add support for pod commands
  contrib/python/podman/podman/libs/images.py
  contrib/python/podman/podman/libs/pods.py
  contrib/python/podman/test/test_images.py
  contrib/python/podman/test/test_runner.sh
  contrib/python/pypodman/.pylintrc
  contrib/python/pypodman/pypodman/lib/__init__.py
  contrib/python/pypodman/pypodman/lib/action_base.py
  contrib/python/pypodman/pypodman/lib/actions/__init__.py
  contrib/python/pypodman/pypodman/lib/actions/create_action.py
  contrib/python/pypodman/pypodman/lib/actions/pod/__init__.py
  contrib/python/pypodman/pypodman/lib/actions/pod/create_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/inspect_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/kill_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/pause_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/processes_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/remove_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/restart_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/start_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/stop_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/top_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod/unpause_parser.py
  contrib/python/pypodman/pypodman/lib/actions/pod_action.py
  contrib/python/pypodman/pypodman/lib/actions/port_action.py
  contrib/python/pypodman/pypodman/lib/podman_parser.py
  docs/podman-pod-create.1.md
Labels: approved, enhancement, lgtm, size/XXL

#1631 papr_prepare: remove double process for starting up .papr.sh
  .papr_prepare.sh
  contrib/python/podman/test/test_runner.sh
  test/e2e/run_test.go
Labels: approved, lgtm, size/XS

#1644 Touchup fileo typo
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#1657 Update release notes for 0.10.1.1
  README.md
  RELEASE_NOTES.md
Labels: size/S

#1667 Fix CGroup paths used for systemd CGroup mount
  libpod/container_internal_linux.go
Labels: approved, size/S

#1669 Bump to v0.10.1.2
  Makefile
  changelog.txt
Labels: size/XS

#1672 Fix podman in podman
  .papr_prepare.sh
Labels: approved, size/XS

#1676 Vendor in new new buildah/ci
  .papr_prepare.sh
  libpod/container_commit.go
  libpod/image/image.go
  libpod/image/pull.go
  libpod/runtime_img.go
  test/copyimg/copyimg.go
  vendor.conf
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/util.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/containers/image/README.md
  vendor/github.com/containers/image/copy/copy.go
  vendor/github.com/containers/image/manifest/docker_schema1.go
  vendor/github.com/containers/image/oci/archive/oci_dest.go
  vendor/github.com/containers/image/oci/archive/oci_src.go
  vendor/github.com/containers/image/openshift/openshift.go
  vendor/github.com/containers/image/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/storage/storage_transport.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
Labels: approved, size/XL

#1678 Update release notes for 0.10.1.3
  README.md
  RELEASE_NOTES.md
Labels: size/XS

#1679 Bump to v0.10.1.3
  Makefile
  changelog.txt
Labels: size/XS

#1647 fix NOTIFY_SOCKET in e2e testfix NOTIFY_SOCKET in e2e tests
  .papr.yml
  .papr_prepare.sh
  Dockerfile.Fedora
  test/e2e/run_passwd_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/S

#1673 Fix trivial missing markup in manpage
  docs/podman.1.md
Labels: approved, lgtm, size/XS

#1698 Fix man page to show info on storage
  docs/podman.1.md
  pkg/util/utils.go
Labels: approved, lgtm, size/XS

#1661 Handle http/https in registry given to login/out
  cmd/podman/common.go
  cmd/podman/login.go
  cmd/podman/logout.go
Labels: approved, lgtm, size/S

#1681 oci: cleanup process status
  libpod/oci.go
Labels: approved, lgtm, size/XS

#1639 Make rm faster
  cmd/podman/rm.go
Labels: approved, lgtm, size/M

#1700 Use restoreArtifacts to save time in integration tests
  test/e2e/exec_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/XS

#1660 Cirrus: Install CRIU in test images
  .cirrus.yml
  contrib/cirrus/build_vm_images.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/centos_setup.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/libpod_images.json
  contrib/cirrus/packer/rhel_setup.sh
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm, size/L

#1688 re-enable f29 testing
  .papr.yml
Labels: approved, lgtm, size/M

#1665 fix environment variable parsing
  cmd/podman/create_cli_test.go
  cmd/podman/parse.go
Labels: approved, lgtm, size/S

#1648 Add simple IRC messenger
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/podbot.py
  contrib/cirrus/success.sh
  contrib/python/podman/test/test_runner.sh
Labels: approved, lgtm, size/L

#1627 Add CRIU version check for checkpoint and restore
  libpod/container_internal_linux.go
  pkg/criu/criu.go
  test/e2e/checkpoint_test.go
  test/e2e/libpod_suite_test.go
  vendor.conf
  vendor/github.com/checkpoint-restore/go-criu/LICENSE
  vendor/github.com/checkpoint-restore/go-criu/README.md
  vendor/github.com/checkpoint-restore/go-criu/main.go
  vendor/github.com/checkpoint-restore/go-criu/notify.go
  vendor/github.com/checkpoint-restore/go-criu/rpc/rpc.pb.go
  vendor/github.com/checkpoint-restore/go-criu/test/main.go
  vendor/github.com/checkpoint-restore/go-criu/test/phaul-main.go
  vendor/github.com/checkpoint-restore/go-criu/test/piggie.c
  vendor/github.com/golang/protobuf/LICENSE
  vendor/github.com/golang/protobuf/README.md
  vendor/github.com/golang/protobuf/proto/clone.go
  vendor/github.com/golang/protobuf/proto/decode.go
  vendor/github.com/golang/protobuf/proto/encode.go
  vendor/github.com/golang/protobuf/proto/equal.go
  vendor/github.com/golang/protobuf/proto/extensions.go
  vendor/github.com/golang/protobuf/proto/lib.go
  vendor/github.com/golang/protobuf/proto/message_set.go
  vendor/github.com/golang/protobuf/proto/pointer_reflect.go
  vendor/github.com/golang/protobuf/proto/pointer_unsafe.go
  vendor/github.com/golang/protobuf/proto/properties.go
  vendor/github.com/golang/protobuf/proto/text.go
  vendor/github.com/golang/protobuf/proto/text_parser.go
Labels: approved, lgtm, size/XXL

#1664 Fix podman port -l
  cmd/podman/port.go
Labels: approved, lgtm, size/XS

#1686 Use more reliable check for rootless for firewall init
  libpod/runtime.go
Labels: approved, lgtm, size/XS

#1638 Make podman ps fast
  cmd/podman/ps.go
  cmd/podman/shared/container.go
  libpod/container_api.go
  test/e2e/libpod_suite_test.go
  test/e2e/logs_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/pod_top_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_privileged_test.go
  test/e2e/version_test.go
Labels: approved, lgtm, size/XL

#1649 Downgrade code to support python3.4
  contrib/python/podman/MANIFEST.in
  contrib/python/podman/tox.ini
  contrib/python/pypodman/pypodman/lib/actions/pod/processes_parser.py
  contrib/python/pypodman/pypodman/lib/podman_parser.py
Labels: approved, bug, lgtm, size/S

#1662 Add --all and --latest to checkpoint/restore
  cmd/podman/checkpoint.go
  cmd/podman/cleanup.go
  cmd/podman/common.go
  cmd/podman/kill.go
  cmd/podman/restore.go
  cmd/podman/rm.go
  cmd/podman/stop.go
  cmd/podman/utils.go
Labels: approved, lgtm, size/L

#1687 Move selinux label reservations to containers storage.
  libpod/container.go
  libpod/container_easyjson.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/options.go
  libpod/runtime_ctr.go
  libpod/storage.go
  vendor.conf
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/aufs/aufs.go
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/chown.go
  vendor/github.com/containers/storage/drivers/devmapper/driver.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/fsdiff.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/drivers/windows/windows.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
Labels: approved, lgtm, size/XXL

#1677 Cirrus: Use images w/ buildah fix
  .cirrus.yml
Labels: approved, lgtm, size/XS

#1705 read conmon output and convert to json in two steps
  libpod/oci.go
Labels: approved, lgtm, size/XS

#1707 Add support for /usr/local installation
  libpod.conf
Labels: approved, lgtm, size/XS

#1666 vendor: update container/storage
  vendor.conf
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
Labels: approved, lgtm, size/S

#1706 create: fix writing cidfile when using rootless
  cmd/podman/create.go
  cmd/podman/pod_create.go
  libpod/util.go
Labels: approved, lgtm, size/M

#1684 Explain the device format in man pages
  docs/podman-create.1.md
  docs/podman-run.1.md
Labels: approved, lgtm, size/XS

#1708 Eat our own dogfood
  Makefile
Labels: approved, lgtm, size/S

#1646 Support auth file environment variable in podman build
  cmd/podman/build.go
Labels: approved, lgtm, size/XS

#1712 Increase security and performance when looking up groups
  libpod/container_internal_linux.go
  vendor/github.com/cyphar/filepath-securejoin/LICENSE
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/cyphar/filepath-securejoin/vendor.conf
  vendor/github.com/cyphar/filepath-securejoin/vfs.go
Labels: approved, lgtm, size/L

#1699 run performance improvements
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/networking_linux.go
Labels: approved, lgtm, size/L

#1709 Add --max-workers and heuristics for parallel operations
  cmd/podman/main.go
  cmd/podman/ps.go
  cmd/podman/rm.go
  cmd/podman/shared/container.go
  cmd/podman/shared/parallel.go
  cmd/podman/stop.go
  cmd/podman/utils.go
Labels: approved, lgtm, size/L

#1716 fix bug in rm -fa parallel deletes
  cmd/podman/ps.go
Labels: approved, lgtm, size/XS

#1637 runlabel: run any command
  cmd/podman/runlabel.go
  cmd/podman/shared/funcs.go
  cmd/podman/shared/funcs_test.go
  test/e2e/runlabel_test.go
Labels: approved, lgtm, size/L

#1585 Add tests for selinux labels
  test/e2e/run_selinux_test.go
Labels: approved, lgtm, size/M

#1717 Ensure test container in running state
  contrib/python/podman/test/test_images.py
  contrib/python/podman/test/test_runner.sh
Labels: approved, lgtm, size/S

#1718 Vendor in latest containers/storage
  vendor.conf
  vendor/github.com/checkpoint-restore/go-criu/test/main.go
  vendor/github.com/checkpoint-restore/go-criu/test/phaul-main.go
  vendor/github.com/checkpoint-restore/go-criu/test/piggie.c
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
Labels: approved, lgtm, size/L

#1696 Change ParseDevice to exported name
  pkg/spec/config_linux.go
  pkg/spec/parse.go
Labels: approved, lgtm, size/S

#1722 Use two spaces to pad PS fields
  cmd/podman/ps.go
Labels: approved, lgtm, size/XS

#1723 Sync default config with libpod.conf
  libpod/runtime.go
Labels: approved, lgtm, size/XS

#1724 make various changes to ps output
  cmd/podman/ps.go
Labels: approved, lgtm, size/S

#1720 CONTRIBUTING.md: add section about describing changes
  CONTRIBUTING.md
Labels: approved, lgtm, size/M

#1721 unmount: fix error logic
  libpod/container_api.go
Labels: approved, lgtm, size/S

#1725 Use newer runc commit in VM images
  .cirrus.yml
  Dockerfile
Labels: approved, lgtm, size/XS

#1728 truncate command output in ps by default
  cmd/podman/shared/container.go
Labels: approved, lgtm, size/XS

#1715 get user and group information using securejoin and runc's user library
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  pkg/lookup/lookup.go
Labels: approved, lgtm, size/L

#1735 rootless: avoid hang on failed slirp4netns
  libpod/networking_linux.go
Labels: approved, lgtm, size/S

#1731 Fix setting of version information
  Makefile
  cmd/podman/info.go
  cmd/podman/version.go
  libpod/version.go
  pkg/varlinkapi/system.go
Labels: approved, lgtm, size/M

#1736 rootless: do not add an additional /run to runroot
  pkg/util/utils.go
Labels: approved, lgtm, size/XS
