Repository containers/podman, pull requests merged in 2018-12, with the labels that each got.

#1903 tests: fix rootless tests on Ubuntu
  .cirrus.yml
  Dockerfile
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/cirrus/setup_environment.sh
  libpod/oci.go
Labels: approved, lgtm, size/M

#1913 podman pod exists
  cmd/podman/exists.go
  cmd/podman/pod.go
  completions/bash/podman
  docs/podman-pod-exists.1.md
  test/e2e/exists_test.go
Labels: approved, lgtm, size/L

#1907 create pod on the fly
  cmd/podman/create.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  pkg/spec/createconfig.go
  test/e2e/create_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/L

#1894 Only include container SizeRootFs when requested
  contrib/python/pypodman/pypodman/lib/actions/inspect_action.py
Labels: approved, lgtm, size/S

#1938 correct algorithm for deleting all images
  cmd/podman/rmi.go
Labels: approved, lgtm, size/S

#1932 vendor: update containers/storage
  vendor.conf
  vendor/github.com/containers/storage/drivers/fsdiff.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
  vendor/github.com/containers/storage/pkg/chrootarchive/archive.go
Labels: approved, lgtm, size/L

#1933 test: update runc again
  .cirrus.yml
  Dockerfile
Labels: approved, lgtm, size/XS

#1920 libpod/container_internal: Deprecate implicit hook directories
  cmd/podman/libpodruntime/runtime.go
  cmd/podman/main.go
  docs/libpod.conf.5.md
  docs/podman.1.md
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/options.go
  libpod/runtime.go
  libpod/testdata/config.toml
  test/e2e/run_test.go
Labels: approved, lgtm, size/L

#1939 Don't initialize CNI when running as rootless
  libpod/runtime.go
Labels: approved, lgtm, size/S

#1942 test for rmi with children
  test/e2e/rmi_test.go
Labels: approved, lgtm, size/S

#1918 Use paths written in DB instead if they differ from our defaults
  cmd/podman/create.go
  cmd/podman/libpodruntime/runtime.go
  cmd/podman/run.go
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/in_memory_state.go
  libpod/options.go
  libpod/runtime.go
  libpod/state.go
  libpod/state_test.go
  pkg/util/utils.go
Labels: approved, lgtm, size/L

#1940 libpod/container_internal_linux: Allow gids that aren't in the group file
  libpod/container_internal_linux.go
  pkg/lookup/lookup.go
Labels: approved, lgtm, size/M

#1947 set .54 version for f28 due to memory error
  .papr.yml
Labels: approved, lgtm, size/XS

#1924 Adding more varlink endpoints
  API.md
  cmd/podman/runlabel.go
  cmd/podman/shared/container.go
  cmd/podman/varlink/io.podman.varlink
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/mount.go
Labels: approved, lgtm, size/L

#1945 Invert tlsverify default in API
  contrib/python/podman/podman/libs/images.py
  contrib/python/podman/test/test_images.py
Labels: approved, enhancement, lgtm, size/XS

#1946 Vendor in latest containers/storage
  vendor.conf
  vendor/github.com/containers/storage/drivers/copy/copy.go
  vendor/github.com/containers/storage/drivers/devmapper/deviceset.go
  vendor/github.com/containers/storage/drivers/vfs/copy_linux.go
  vendor/github.com/containers/storage/drivers/vfs/copy_unsupported.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
  vendor/github.com/containers/storage/vendor.conf
Labels: approved, lgtm, size/L

#1944 tutorial: add ostree dependency
  docs/tutorials/podman_tutorial.md
Labels: approved, lgtm, size/XS

#1887 Add --sync option to podman rm
  cmd/podman/ps.go
  cmd/podman/shared/container.go
  completions/bash/podman
  docs/podman-ps.1.md
  libpod/container_api.go
Labels: approved, lgtm, size/M

#1912 Add ability to prune containers and images
  cmd/podman/container.go
  cmd/podman/containers_prune.go
  cmd/podman/image.go
  cmd/podman/images_prune.go
  cmd/podman/shared/prune.go
  completions/bash/podman
  docs/podman-container-prune.1.md
  docs/podman-container.1.md
  docs/podman-image-prune.1.md
  docs/podman-image.1.md
  docs/podman-rmi.1.md
  libpod/image/prune.go
  test/e2e/prune_test.go
Labels: approved, lgtm, size/L

#1904 Add "podman volume" command
  cmd/podman/create_cli.go
  cmd/podman/libpodruntime/runtime.go
  cmd/podman/main.go
  cmd/podman/utils.go
  cmd/podman/volume.go
  cmd/podman/volume_create.go
  cmd/podman/volume_inspect.go
  cmd/podman/volume_ls.go
  cmd/podman/volume_prune.go
  cmd/podman/volume_rm.go
  commands.md
  completions/bash/podman
  docs/podman-volume-create.1.md
  docs/podman-volume-inspect.1.md
  docs/podman-volume-ls.1.md
  docs/podman-volume-prune.1.md
  docs/podman-volume-rm.1.md
  docs/podman-volume.1.md
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/common_test.go
  libpod/container_inspect.go
  libpod/errors.go
  libpod/in_memory_state.go
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_volume.go
  libpod/runtime_volume_linux.go
  libpod/state.go
  libpod/volume.go
  libpod/volume_internal.go
  pkg/util/utils.go
  test/e2e/libpod_suite_test.go
  test/e2e/volume_create_test.go
  test/e2e/volume_inspect_test.go
  test/e2e/volume_ls_test.go
  test/e2e/volume_prune_test.go
  test/e2e/volume_rm_test.go
Labels: approved, lgtm, size/XXL

#1905 Pick registry to login from full image name as well
  cmd/podman/login.go
Labels: approved, lgtm, size/M

#1951 bind mount /etc/resolv.conf|hosts in pods
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/M

#1952 Update release notes for 0.12.1
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm, size/M

#1954 Bump to v0.12.1
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: size/L

#1788 Codify and document base-image production + Enable testing with Fedora
  .cirrus.yml
  Makefile
  contrib/cirrus/README.md
  contrib/cirrus/build_vm_images.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/.gitignore
  contrib/cirrus/packer/Makefile
  contrib/cirrus/packer/README.md
  contrib/cirrus/packer/fah_base-setup.sh
  contrib/cirrus/packer/fah_setup.sh
  contrib/cirrus/packer/fedora_base-setup.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/image-builder-image_base-setup.sh
  contrib/cirrus/packer/libpod_base_images.yml
  contrib/cirrus/packer/libpod_images.json
  contrib/cirrus/packer/libpod_images.yml
  contrib/cirrus/packer/make-user-data.sh
  contrib/cirrus/packer/rhel_base-setup.sh
  contrib/cirrus/packer/rhel_setup.sh
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/system_test.sh
  contrib/cirrus/unit_test.sh
  contrib/cirrus/verify_source.sh
Labels: approved, lgtm, size/XXL

#1953 add timeout to pod stop
  API.md
  cmd/podman/pod_stop.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  docs/podman-pod-stop.1.md
  libpod/pod_api.go
  pkg/varlinkapi/pods.go
Labels: API, Python, approved, lgtm, size/M

#1955 Fix errors where OCI hooks directory does not exist
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#1956 Update release notes for v0.12.1.1
  RELEASE_NOTES.md
Labels: size/XS

#1957 Bump to v0.12.1.1
  Makefile
  changelog.txt
Labels: size/S

#1958 add more example usage to varlink endpoints
  API.md
  cmd/podman/varlink/io.podman.varlink
  pkg/varlinkapi/images.go
Labels: API, approved, lgtm, size/L

#1968 disable F29 tests on PAPR
  .papr.yml
Labels: approved, lgtm, size/M

#1857 Vendor c/image + Buildah after merging blob-info-caching in both
  test/bin2img/bin2img.go
  vendor.conf
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/blobcache/blobcache.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/containers/image/copy/copy.go
  vendor/github.com/containers/image/directory/directory_dest.go
  vendor/github.com/containers/image/directory/directory_src.go
  vendor/github.com/containers/image/docker/cache.go
  vendor/github.com/containers/image/docker/docker_client.go
  vendor/github.com/containers/image/docker/docker_image_dest.go
  vendor/github.com/containers/image/docker/docker_image_src.go
  vendor/github.com/containers/image/docker/tarfile/dest.go
  vendor/github.com/containers/image/docker/tarfile/src.go
  vendor/github.com/containers/image/image/docker_schema2.go
  vendor/github.com/containers/image/image/oci.go
  vendor/github.com/containers/image/oci/archive/oci_dest.go
  vendor/github.com/containers/image/oci/archive/oci_src.go
  vendor/github.com/containers/image/oci/layout/oci_dest.go
  vendor/github.com/containers/image/oci/layout/oci_src.go
  vendor/github.com/containers/image/openshift/openshift.go
  vendor/github.com/containers/image/ostree/ostree_dest.go
  vendor/github.com/containers/image/ostree/ostree_src.go
  vendor/github.com/containers/image/pkg/blobinfocache/boltdb.go
  vendor/github.com/containers/image/pkg/blobinfocache/default.go
  vendor/github.com/containers/image/pkg/blobinfocache/memory.go
  vendor/github.com/containers/image/pkg/blobinfocache/none.go
  vendor/github.com/containers/image/pkg/blobinfocache/prioritize.go
  vendor/github.com/containers/image/storage/storage_image.go
  vendor/github.com/containers/image/tarball/tarball_src.go
  vendor/github.com/containers/image/types/types.go
  vendor/github.com/containers/image/vendor.conf
Labels: approved, lgtm, size/XXL

#1971 Cirrus: Update base-image build docs
  contrib/cirrus/README.md
Labels: approved, lgtm, size/M

#1970 Add capabilities to generate kube
  libpod/kube.go
Labels: approved, lgtm, size/M

#1966 Ensure storage options are properly initialized
  libpod/options.go
Labels: approved, lgtm, size/S

#1977 No need to use `-i` in go build (with go 1.10 and above)
  Makefile
Labels: approved, lgtm, size/XS

#1975 rootless: fix restart when using fuse-overlayfs
  cmd/podman/main.go
  cmd/podman/restart.go
  test/e2e/rootless_test.go
Labels: approved, lgtm, size/M

#1978 Prevent a second lookup of user for image volumes
  libpod/container_internal.go
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/S

#1983 fix typo in kubernetes
  cmd/podman/generate_kube.go
Labels: approved, lgtm, size/XS

#1962 Set Socket label for contianer
  libpod/oci.go
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
Labels: approved, lgtm, size/M

#2001 Makefile tweaks to fix make shell
  Dockerfile
  Makefile
Labels: approved, lgtm, size/XS

#1987 e2e: add tests for systemd
  test/e2e/systemd_test.go
Labels: approved, lgtm, size/M

#1982 Cirrus: Add/fix documentation links
  README.md
  contrib/cirrus/README.md
Labels: approved, lgtm, size/M

#1990 condition fixed for adding volume to boltdb.
  libpod/boltdb_state_internal.go
Labels: approved, lgtm, size/XS

#1989 failed containers with --rm should remove themselves
  cmd/podman/run.go
  cmd/podman/start.go
  test/e2e/run_test.go
  test/e2e/start_test.go
Labels: approved, lgtm, size/M

#1988 Containers sharing a netns should share resolv/hosts
  libpod/container.go
  libpod/container_internal_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm, size/L

#2003 runlabel should sub podman for docker|/usr/bin/docker
  cmd/podman/shared/funcs.go
Labels: approved, size/S

#2004 Add release notes for 0.12.1.2
  RELEASE_NOTES.md
Labels: size/XS

#2005 Bump to v0.12.1.2
  Makefile
  changelog.txt
Labels: size/XS

#1994 mount: allow mount only when using vfs
  cmd/podman/main.go
  cmd/podman/mount.go
Labels: approved, lgtm, size/S

#1969 Cirrus: Migrate PAPR testing of F28 to Cirrus
  .cirrus.yml
  .papr.yml
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/libpod_base_images.yml
  contrib/cirrus/packer/libpod_images.yml
  contrib/cirrus/packer/prior_fedora_base-setup.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/unit_test.sh
  test/e2e/checkpoint_test.go
  test/e2e/libpod_suite_test.go
Labels: approved, lgtm, size/L

#2011 Add script to create CI VMs for debugging
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm, size/L

#1986 Clean up some existing varlink endpoints
  API.md
  cmd/podman/pod_create.go
  cmd/podman/shared/pod.go
  cmd/podman/varlink/io.podman.varlink
  pkg/varlinkapi/images.go
  pkg/varlinkapi/pods.go
Labels: API, Python, approved, lgtm, size/L

#2000 Show image only once with images -q
  cmd/podman/images.go
  test/README.md
  test/e2e/images_test.go
Labels: approved, lgtm, size/S

#2018 display proper error when rmi -fa with infra containers
  cmd/podman/rmi.go
Labels: approved, lgtm, size/S

#2010 Cirrus: Add text editors to cache-images
  contrib/cirrus/packer/centos_setup.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/rhel_setup.sh
  contrib/cirrus/packer/ubuntu_setup.sh
Labels: approved, lgtm, size/XS

#2022 all flakes must die
  contrib/python/podman/test/test_runner.sh
Labels: approved, lgtm, size/XS

#2019 generate service object inline
  cmd/podman/generate_kube.go
  docs/podman-generate-kube.1.md
Labels: approved, lgtm, size/M

#2021 Add information on --restart
  cmd/podman/common.go
  cmd/podman/create.go
  docs/podman-create.1.md
  docs/podman-run.1.md
Labels: approved, lgtm, size/M

#1996 Makefile: validate that each commit can at least build
  .cirrus.yml
  Makefile
Labels: approved, lgtm, size/S

#1899 Support podman image trust command
  cmd/podman/image.go
  cmd/podman/trust.go
  docs/podman-image-trust.1.md
  docs/podman-image.1.md
  libpod/image/utils.go
  libpod/runtime.go
  pkg/trust/trust.go
  test/e2e/trust_test.go
Labels: approved, lgtm, size/XL

#2031 Cirrus: Skip build all commits test on master
  .cirrus.yml
Labels: approved, lgtm, size/XS

#2030 prepare for move to validate on 1.11 only
  contrib/gate/Dockerfile
  test/install/Dockerfile.Fedora
Labels: approved, lgtm, size/XS

#2029 [skip ci] Gate: Update docs w/ safer local command
  CONTRIBUTING.md
Labels: approved, lgtm, size/XS

#1900 docs/tutorials: add a basic network config
  docs/tutorials/podman_tutorial.md
Labels: approved, lgtm, size/XS

#1967 Add Play
  API.md
  cmd/podman/create.go
  cmd/podman/generate_kube.go
  cmd/podman/main.go
  cmd/podman/play.go
  cmd/podman/play_kube.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  docs/podman-generate-kube.1.md
  docs/podman-play-kube.1.md
  docs/podman-play.1.md
  libpod/kube.go
Labels: approved, lgtm, size/XL

#1757 perf test a stress test to profile CPU load of podman
  Makefile
  contrib/perftest/README.md
  contrib/perftest/main.go
  vendor.conf
  vendor/github.com/pkg/profile/LICENSE
  vendor/github.com/pkg/profile/README.md
  vendor/github.com/pkg/profile/mutex.go
  vendor/github.com/pkg/profile/mutex17.go
  vendor/github.com/pkg/profile/profile.go
  vendor/github.com/pkg/profile/trace.go
  vendor/github.com/pkg/profile/trace16.go
Labels: approved, lgtm, size/XL

#2037 skip test for blkio.weight when kernel does not support it
  cmd/podman/rmi.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/S

#1998 Use existing CRIU packages for testing instead of building from git
  contrib/cirrus/lib.sh
Labels: approved, lgtm, size/M

#2028 rootless: fix export when using fuse-overlayfs
  cmd/podman/export.go
  cmd/podman/main.go
  libpod/runtime_ctr.go
  pkg/rootless/rootless_linux.c
  pkg/rootless/rootless_linux.go
  test/e2e/rootless_test.go
Labels: approved, lgtm, size/L

#2035 Vendor in latest psgo code
  vendor.conf
  vendor/github.com/containers/psgo/internal/capabilities/capabilities.go
  vendor/github.com/containers/psgo/internal/dev/tty.go
  vendor/github.com/containers/psgo/internal/host/host.go
  vendor/github.com/containers/psgo/internal/proc/attr.go
  vendor/github.com/containers/psgo/internal/proc/cmdline.go
  vendor/github.com/containers/psgo/internal/proc/ns.go
  vendor/github.com/containers/psgo/internal/proc/pids.go
  vendor/github.com/containers/psgo/internal/proc/stat.go
  vendor/github.com/containers/psgo/internal/proc/status.go
  vendor/github.com/containers/psgo/internal/process/process.go
  vendor/github.com/containers/psgo/internal/types/types.go
  vendor/github.com/containers/psgo/psgo.go
Labels: approved, lgtm, size/L

#2033 Allow users to specify a directory for additonal devices
  README.md
  cmd/podman/create.go
  cmd/podman/create_cli.go
  pkg/namespaces/namespaces.go
  pkg/spec/config_linux.go
  pkg/spec/parse.go
  pkg/spec/spec.go
  test/utils/common_function_test.go
  troubleshooting.md
Labels: approved, lgtm, size/M

#2042 Use new VM images with updated CRIU
  .cirrus.yml
  contrib/cirrus/lib.sh
Labels: approved, lgtm, size/M

#2023 Switch all references to image.ContainerConfig to image.Config
  cmd/podman/create.go
  cmd/podman/docker/types.go
  cmd/podman/run_test.go
  cmd/podman/shared/container.go
  contrib/python/podman/podman/libs/images.py
  contrib/python/podman/test/test_containers.py
  contrib/python/podman/test/test_images.py
  docs/podman-inspect.1.md
  libpod/boltdb_state.go
  libpod/common_test.go
  libpod/container.go
  libpod/container_easyjson.go
  libpod/container_internal.go
  libpod/container_internal_test.go
  libpod/image/image.go
  libpod/options.go
  libpod/runtime_ctr.go
  libpod/state_test.go
  pkg/inspect/inspect.go
  pkg/varlinkapi/containers_create.go
  test/e2e/commit_test.go
  test/e2e/import_test.go
Labels: approved, lgtm, size/L

#2048 Refactor: use idtools.ParseIDMap instead of bundling own version
  pkg/util/utils.go
Labels: approved, lgtm, size/M

#2044 Allow alias for list, ls, ps to work
  cmd/podman/container.go
  cmd/podman/images.go
  cmd/podman/ps.go
  completions/bash/podman
  docs/links/podman-container-ps.1
  docs/links/podman-image-list.1
  docs/links/podman-list.1
  docs/links/podman-ls.1
  docs/links/podman-unmount.1
  docs/podman-container.1.md
  docs/podman-image.1.md
Labels: approved, lgtm, size/M

#2049 rootless tests using stop is more reliable
  test/e2e/rootless_test.go
Labels: approved, lgtm, size/XS

#2051 Fixes to handle /dev/shm correctly.
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/runtime_ctr.go
  pkg/spec/spec.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/S

#2060 Fix handling of symbolic links
  pkg/spec/config_linux.go
Labels: approved, lgtm, size/XS

#2059 podman build is not using the default oci-runtime
  cmd/podman/build.go
  libpod/info.go
Labels: approved, lgtm, size/S

#2058 Re-enable checkpoint/restore CI tests on Fedora
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/XS
