Repository containers/podman, pull requests merged in 2019-02, with the labels that each got.

#2249 add Pod Manager References
  README.md
Labels: approved, lgtm, size/XS

#2239 Consistency in verbs in podman help command
  cmd/podman/inspect.go
  cmd/podman/pause.go
  cmd/podman/rmi.go
  cmd/podman/umount.go
  vendor/github.com/urfave/cli/help.go
Labels: approved, lgtm, size/S

#2143 Fix up `image sign` in PR 2108
  cmd/podman/trust.go
  pkg/trust/trust.go
Labels: approved, lgtm, size/L

#2255 vendor latest containers/image
  vendor.conf
  vendor/github.com/containers/image/copy/copy.go
  vendor/github.com/containers/image/docker/docker_client.go
  vendor/github.com/containers/image/docker/docker_image.go
  vendor/github.com/containers/image/docker/docker_image_dest.go
  vendor/github.com/containers/image/docker/docker_image_src.go
  vendor/github.com/containers/image/version/version.go
Labels: approved, lgtm, size/L

#2233 Touch up image-trust man
  docs/podman-image-trust.1.md
Labels: approved, lgtm, size/M

#2213 [skip ci] Cirrus: Container for tracking image use
  .cirrus.yml
  contrib/imgts/Dockerfile
  contrib/imgts/README.md
  contrib/imgts/entrypoint.sh
  contrib/imgts/google-cloud-sdk.repo
Labels: approved, lgtm, size/M

#2263 Increase e2e info/json test exit timeout
  test/e2e/info_test.go
Labels: approved, lgtm, size/XS

#2253 Reduce Dockerfile based build time for libpod.
  Dockerfile
  Makefile
Labels: approved, lgtm

#2222 rootless: copy some settings from the global configuration
  libpod/runtime.go
Labels: approved, lgtm, size/S

#2196 Changes to container runlabel for toolbox project
  cmd/podman/create.go
  cmd/podman/play_kube.go
  cmd/podman/pull.go
  cmd/podman/runlabel.go
  cmd/podman/shared/container.go
  cmd/podman/sign.go
  contrib/perftest/main.go
  docs/podman-container-runlabel.1.md
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/image/image.go
  libpod/image/image_test.go
  libpod/image/pull.go
  libpod/runtime_pod_infra_linux.go
  pkg/varlinkapi/containers_create.go
  pkg/varlinkapi/images.go
  test/e2e/runlabel_test.go
Labels: approved, lgtm, size/L

#2227 podman-remote import|export
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/export.go
  cmd/podman/image.go
  cmd/podman/import.go
  cmd/podman/main.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/client.go
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/runtime_ctr.go
  libpod/runtime_img.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/transfers.go
  test/e2e/export_test.go
  vendor/github.com/varlink/go/varlink/bridge.go
  vendor/github.com/varlink/go/varlink/bridge_windows.go
  vendor/github.com/varlink/go/varlink/call.go
  vendor/github.com/varlink/go/varlink/connection.go
  vendor/github.com/varlink/go/varlink/orgvarlinkservice.go
  vendor/github.com/varlink/go/varlink/service.go
Labels: approved, lgtm, size/XL

#2267 tests: allow to override the OCI runtime
  Makefile
  test/e2e/common_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
Labels: approved, lgtm, size/M

#2273 Preserve exited state across reboot
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#2275 e2e tests: sigproxy: fix rare hang condition
  test/e2e/run_signal_test.go
Labels: approved, lgtm, ok-to-test

#2282 Add StartPeriod to cmd/podman/docker.HealthConfig
  cmd/podman/docker/types.go
Labels: approved, lgtm, size/XS

#2279 rootless: do not override /dev/pts if not needed
  pkg/spec/spec.go
Labels: approved, lgtm

#2284 Makefile: minor fix to reenable system tests
  Makefile
Labels: approved, lgtm

#2283 Generate make helping message dynamicaly.
  Makefile
Labels: approved, lgtm, size/M

#2252 Add podman system prune and info commands
  cmd/podman/attach.go
  cmd/podman/build.go
  cmd/podman/checkpoint.go
  cmd/podman/commands.go
  cmd/podman/commands_remoteclient.go
  cmd/podman/common.go
  cmd/podman/containers_prune.go
  cmd/podman/generate.go
  cmd/podman/generate_kube.go
  cmd/podman/images.go
  cmd/podman/images_prune.go
  cmd/podman/info.go
  cmd/podman/main.go
  cmd/podman/mount.go
  cmd/podman/pause.go
  cmd/podman/play.go
  cmd/podman/play_kube.go
  cmd/podman/pod_inspect.go
  cmd/podman/pod_pause.go
  cmd/podman/pod_restart.go
  cmd/podman/pod_start.go
  cmd/podman/pod_stats.go
  cmd/podman/pod_stop.go
  cmd/podman/pod_unpause.go
  cmd/podman/port.go
  cmd/podman/pull.go
  cmd/podman/push.go
  cmd/podman/restart.go
  cmd/podman/restore.go
  cmd/podman/rmi.go
  cmd/podman/run.go
  cmd/podman/runlabel.go
  cmd/podman/save.go
  cmd/podman/search.go
  cmd/podman/start.go
  cmd/podman/stats.go
  cmd/podman/stop.go
  cmd/podman/system.go
  cmd/podman/system_prune.go
  cmd/podman/umount.go
  cmd/podman/unpause.go
  cmd/podman/varlink.go
  cmd/podman/volume_prune.go
  commands.md
  completions/bash/podman
  docs/links/podman-system-info.1
  docs/podman-info.1.md
  docs/podman-system-prune.1.md
  docs/podman-system.1.md
  docs/podman.1.md
  libpod/adapter/runtime_remote.go
  test/e2e/info_test.go
  test/e2e/prune_test.go
  test/e2e/volume_prune_test.go
  transfer.md
Labels: approved, lgtm, size/L

#2268 Unconditionally refresh storage options from config
  pkg/util/utils.go
Labels: approved, lgtm, size/M

#2237 Mention officially supported OSes, fixes #2208
  README.md
Labels: approved, lgtm, ok-to-test, size/XS

#2278 Fix handling of memory limits via varlink
  pkg/varlinkapi/containers_create.go
Labels: approved, lgtm, size/S

#2269 Add documentation on running systemd on SELinux systems
  docs/podman-create.1.md
  docs/podman-run.1.md
  troubleshooting.md
Labels: approved, lgtm, size/M

#2287 Add varlink generate to the make documentation
  Makefile
Labels: approved, lgtm

#2288 Vendor docs
  Makefile
  install.md
Labels: approved, lgtm, size/S

#2271 Fix down/missing registry.access.redhat.com
  test/e2e/search_test.go
Labels: approved, lgtm, size/XS

#2290 cleanup: use the correct runtime
  pkg/spec/createconfig.go
Labels: approved, lgtm, size/XS

#2292 Remove some dead type declarations
  cmd/podman/docker/types.go
Labels: approved, lgtm, size/L

#2297 do not crash when displaying dangling images
  cmd/podman/images.go
Labels: approved, lgtm, size/S

#2296 Add volume mounts to PS output
  cmd/podman/shared/container.go
Labels: approved, lgtm, size/XS

#2280 Update image-trust man with further comments
  docs/podman-image-trust.1.md
Labels: approved, lgtm, size/M

#2286 Add troubleshooting information about running a rootless containers.
  docs/podman-create.1.md
  docs/podman-run.1.md
  troubleshooting.md
Labels: approved, lgtm, size/L

#2302 Add common_test.go to single test instructions
  test/README.md
Labels: approved, lgtm, size/XS

#2308 pod: drop invalid check for rootless
  cmd/podman/pod_create.go
  libpod/oci.go
Labels: approved, lgtm, size/XS

#2306 Podman pod stats -- fix GO template output
  cmd/podman/pod_stats.go
  docs/podman-stats.1.md
  test/e2e/pod_stats_test.go
Labels: approved, lgtm, size/L

#2294 V1.0 backports
  .cirrus.yml
  API.md
  changelog.txt
  cmd/podman/create.go
  cmd/podman/formats/formats.go
  cmd/podman/images_prune.go
  cmd/podman/inspect.go
  cmd/podman/shared/prune.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  contrib/spec/podman.spec.in
  docs/podman-image-prune.1.md
  libpod/container.go
  libpod/container_easyjson.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/image/image.go
  libpod/image/prune.go
  libpod/oci.go
  libpod/runtime.go
  pkg/spec/spec.go
  pkg/varlinkapi/images.go
  test/e2e/prune_test.go
  test/e2e/rootless_test.go
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  version/version.go
Labels: approved, lgtm, size/L

#2310 lock and sync container before checking mountpoint
  libpod/kube.go
Labels: approved, lgtm, size/S

#2281 Remove container from storage on --force
  cmd/podman/rm.go
  docs/podman-rm.1.md
  libpod/errors.go
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/M

#2307 Separate remote and local commands
  cmd/podman/attach.go
  cmd/podman/build.go
  cmd/podman/commands.go
  cmd/podman/commands_remoteclient.go
  cmd/podman/commit.go
  cmd/podman/container.go
  cmd/podman/create.go
  cmd/podman/diff.go
  cmd/podman/exec.go
  cmd/podman/export.go
  cmd/podman/generate.go
  cmd/podman/history.go
  cmd/podman/image.go
  cmd/podman/images.go
  cmd/podman/import.go
  cmd/podman/info.go
  cmd/podman/inspect.go
  cmd/podman/kill.go
  cmd/podman/load.go
  cmd/podman/login.go
  cmd/podman/logout.go
  cmd/podman/logs.go
  cmd/podman/main.go
  cmd/podman/mount.go
  cmd/podman/pause.go
  cmd/podman/play.go
  cmd/podman/pod.go
  cmd/podman/port.go
  cmd/podman/ps.go
  cmd/podman/pull.go
  cmd/podman/push.go
  cmd/podman/refresh.go
  cmd/podman/restart.go
  cmd/podman/restore.go
  cmd/podman/rm.go
  cmd/podman/rmi.go
  cmd/podman/run.go
  cmd/podman/save.go
  cmd/podman/search.go
  cmd/podman/sign.go
  cmd/podman/start.go
  cmd/podman/stats.go
  cmd/podman/stop.go
  cmd/podman/system.go
  cmd/podman/tag.go
  cmd/podman/top.go
  cmd/podman/umount.go
  cmd/podman/unpause.go
  cmd/podman/varlink.go
  cmd/podman/version.go
  cmd/podman/volume.go
  cmd/podman/wait.go
Labels: approved, lgtm, size/L

#2313 podman-remote volume create
  cmd/podman/commands_remoteclient.go
  cmd/podman/varlink/io.podman.varlink
  cmd/podman/volume_create.go
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  pkg/varlinkapi/volumes.go
Labels: approved, lgtm, size/L

#2300 Remove urfave/cli from libpod
  Makefile
  cmd/podman/common_test.go
  test/bin2img/bin2img.go
  test/copyimg/copyimg.go
  vendor.conf
  vendor/github.com/urfave/cli/LICENSE
  vendor/github.com/urfave/cli/README.md
  vendor/github.com/urfave/cli/app.go
  vendor/github.com/urfave/cli/category.go
  vendor/github.com/urfave/cli/cli.go
  vendor/github.com/urfave/cli/command.go
  vendor/github.com/urfave/cli/context.go
  vendor/github.com/urfave/cli/errors.go
  vendor/github.com/urfave/cli/flag.go
  vendor/github.com/urfave/cli/flag_generated.go
  vendor/github.com/urfave/cli/funcs.go
  vendor/github.com/urfave/cli/help.go
  vendor/github.com/urfave/cli/sort.go
Labels: approved, lgtm, size/XXL

#2315 podman-remote volume rm
  cmd/podman/commands_remoteclient.go
  cmd/podman/varlink/io.podman.varlink
  cmd/podman/volume_rm.go
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/runtime_volume.go
  pkg/varlinkapi/volumes.go
Labels: approved, lgtm, size/L

#2264 Make varlink API more idiomatic
  Makefile
  cmd/podman/varlink.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/runtime_remote.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/system.go
  pkg/varlinkapi/util.go
Labels: approved, lgtm, ok-to-test, size/L

#2323 Only build varlink when buildtag is available
  cmd/podman/commands.go
  cmd/podman/varlink_dummy.go
Labels: approved, lgtm, size/S

#2326 get_ci_vm : allow running without sudo
  hack/get_ci_vm.sh
Labels: approved, lgtm, ok-to-test, size/M

#2322 podman-remote push
  API.md
  cmd/podman/commands.go
  cmd/podman/image.go
  cmd/podman/main.go
  cmd/podman/push.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/L

#2327 Parse fq name correctly for images
  cmd/podman/images.go
  libpod/image/utils.go
Labels: approved, lgtm, size/S

#2316 podman-remote volume inspect|ls
  API.md
  cmd/podman/commands_remoteclient.go
  cmd/podman/varlink/io.podman.varlink
  cmd/podman/volume_inspect.go
  cmd/podman/volume_ls.go
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/adapter/volumes_remote.go
  pkg/varlinkapi/volumes.go
Labels: approved, lgtm, size/L

#2331 show container ports of network namespace
  cmd/podman/port.go
  cmd/podman/shared/container.go
  libpod/container.go
  libpod/kube.go
Labels: approved, lgtm, size/M

#2329 completions: add --pod to run/create
  completions/bash/podman
Labels: approved, lgtm, size/XS

#2330 build varlink without GOPATH
  Makefile
Labels: approved, lgtm, size/XS

#2319 Fix manual detach from containers to not wait for exit
  cmd/podman/attach.go
  cmd/podman/cleanup.go
  cmd/podman/cliconfig/config.go
  cmd/podman/run.go
  cmd/podman/start.go
  libpod/container_attach_linux.go
  libpod/container_internal.go
  libpod/errors.go
  pkg/spec/createconfig.go
  test/e2e/create_test.go
  test/e2e/run_test.go
  utils/utils.go
Labels: approved, lgtm, size/L

#2321 podman-remote build
  API.md
  cmd/podman/build.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/transfers.go
  pkg/varlinkapi/util.go
Labels: approved, lgtm, size/XL

#2336 add build to main and as subcommand to image
  cmd/podman/commands.go
  cmd/podman/image.go
  cmd/podman/main.go
Labels: approved, lgtm, size/XS

#2229 Fix volume handling in podman
  API.md
  cmd/podman/cleanup.go
  cmd/podman/cliconfig/config.go
  cmd/podman/containers_prune.go
  cmd/podman/create.go
  cmd/podman/rm.go
  cmd/podman/run.go
  cmd/podman/start.go
  cmd/podman/system_prune.go
  cmd/podman/varlink/io.podman.varlink
  commands.md
  contrib/perftest/main.go
  docs/podman.1.md
  libpod/adapter/runtime_remote.go
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/options.go
  libpod/runtime_ctr.go
  libpod/runtime_img.go
  libpod/volume_internal.go
  pkg/spec/createconfig.go
  pkg/util/utils.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/containers_create.go
Labels: approved, lgtm, size/L

#2298 Vendor in latest c/storage and c/image
  vendor.conf
  vendor/github.com/containers/image/copy/copy.go
  vendor/github.com/containers/image/docker/docker_client.go
  vendor/github.com/containers/image/docker/docker_image.go
  vendor/github.com/containers/image/docker/docker_image_dest.go
  vendor/github.com/containers/image/docker/docker_image_src.go
  vendor/github.com/containers/image/docker/tarfile/src.go
  vendor/github.com/containers/image/ostree/ostree_src.go
  vendor/github.com/containers/image/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/storage/storage_image.go
  vendor/github.com/containers/image/storage/storage_reference.go
  vendor/github.com/containers/image/storage/storage_transport.go
  vendor/github.com/containers/image/version/version.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/images_ffjson.go
  vendor/github.com/containers/storage/pkg/config/config.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/vendor.conf
Labels: approved, lgtm, size/XXL

#2151 'podman cp' copy between host and container
  cmd/podman/cliconfig/create.go
  cmd/podman/cp.go
  commands.md
  docs/podman-cp.1.md
  test/e2e/cp_test.go
  transfer.md
Labels: approved, lgtm, size/L

#2320 --password-stdin flag in `podman login`
  cmd/podman/cliconfig/config.go
  cmd/podman/login.go
  completions/bash/podman
  docs/podman-login.1.md
Labels: approved, lgtm, size/M

#2332 volume prune
  API.md
  cmd/podman/commands.go
  cmd/podman/commands_remoteclient.go
  cmd/podman/varlink/io.podman.varlink
  cmd/podman/volume.go
  cmd/podman/volume_prune.go
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/runtime_volume.go
  pkg/varlinkapi/volumes.go
  test/e2e/volume_create_test.go
  test/e2e/volume_inspect_test.go
  test/e2e/volume_ls_test.go
  test/e2e/volume_rm_test.go
Labels: approved, lgtm, size/L

#2333 Add examples for Cobra
  cmd/podman/commit.go
  cmd/podman/common.go
  cmd/podman/create.go
  cmd/podman/exists.go
  cmd/podman/info.go
  cmd/podman/inspect.go
  cmd/podman/login.go
  cmd/podman/pod_inspect.go
  cmd/podman/pod_rm.go
  docs/podman-commit.1.md
  docs/podman-create.1.md
Labels: approved, lgtm, size/M

#2305 Add tlsVerify bool to SearchImage for varlink
  API.md
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/M

#2346 libpod.conf: add backward compatibility for runtime_path
  docs/libpod.conf.5.md
  libpod.conf
  libpod/runtime.go
Labels: approved, lgtm, size/M

#2188 Add --all-tags to pull command
  cmd/podman/cliconfig/config.go
  cmd/podman/pull.go
  docs/podman-pull.1.md
  test/e2e/pull_test.go
  test/utils/utils.go
Labels: approved, lgtm, size/M

#2353 podman: honor --storage-opt again
  cmd/podman/libpodruntime/runtime.go
Labels: approved, lgtm, size/XS

#2335 Enable --rm with --detach
  cmd/podman/create.go
  cmd/podman/start.go
Labels: approved, lgtm, size/M

#2341 Second chunk of Cobra help
  cmd/podman/attach.go
  cmd/podman/checkpoint.go
  cmd/podman/diff.go
  cmd/podman/exec.go
  cmd/podman/export.go
  cmd/podman/import.go
  cmd/podman/kill.go
  cmd/podman/logout.go
  cmd/podman/pause.go
  cmd/podman/pod_start.go
  cmd/podman/pod_stats.go
  cmd/podman/pod_top.go
  cmd/podman/ps.go
  cmd/podman/sign.go
  cmd/podman/trust_set_show.go
  cmd/podman/umount.go
  cmd/podman/unpause.go
  cmd/podman/volume_create.go
  cmd/podman/volume_inspect.go
  docs/podman-exec.1.md
Labels: approved, lgtm, size/M

#2340 Fix `podman login` lying problem
  cmd/podman/login.go
Labels: approved, lgtm, size/XS

#2295 Recursively start a pod if a container is run in it
  .gitignore
  cmd/podman/attach.go
  cmd/podman/play_kube.go
  cmd/podman/run.go
  cmd/podman/start.go
  cmd/podman/utils.go
  contrib/perftest/main.go
  docs/podman-pod-create.1.md
  docs/podman-run.1.md
  docs/podman-start.1.md
  libpod/container_api.go
  libpod/container_graph.go
  libpod/container_internal.go
  libpod/pod_internal.go
  libpod/runtime_pod_linux.go
  pkg/varlinkapi/containers.go
  test/e2e/e2e.coverprofile
  test/e2e/pod_infra_container_test.go
  test/trust_set_test.json
Labels: approved, lgtm, size/XL

#2357 Add 3rd chunk of Cobra examples
  cmd/podman/build.go
  cmd/podman/play_kube.go
  cmd/podman/pod_stop.go
  cmd/podman/pull.go
  cmd/podman/push.go
  cmd/podman/rm.go
  cmd/podman/rmi.go
  cmd/podman/run.go
  cmd/podman/start.go
  cmd/podman/stop.go
  docs/podman-start.1.md
  docs/podman-stop.1.md
Labels: approved, lgtm, size/M

#2359 packer: Make Makefile host arch sensitive
  contrib/cirrus/packer/Makefile
Labels: approved, lgtm, ok-to-test, size/XS

#2354 Add registry name to fields returned by varlink image search
  API.md
  cmd/podman/search.go
  cmd/podman/varlink/io.podman.varlink
  pkg/registries/registries.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/M

#2361 Add 4th chunk of Cobra Examples
  cmd/podman/cleanup.go
  cmd/podman/restart.go
  cmd/podman/restore.go
  cmd/podman/runlabel.go
  cmd/podman/save.go
  cmd/podman/search.go
  cmd/podman/stats.go
  cmd/podman/tag.go
  cmd/podman/top.go
  cmd/podman/varlink.go
Labels: approved, lgtm, size/M

#2366 Don't start running dependencies
  libpod/container_internal.go
Labels: approved, lgtm, size/S

#2348 podman-remote pull
  API.md
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/L

#2363 Fifth chunk of Cobra Examples
  cmd/podman/generate_kube.go
  cmd/podman/images.go
  cmd/podman/logs.go
  cmd/podman/pod_kill.go
  cmd/podman/pod_pause.go
  cmd/podman/pod_restart.go
  cmd/podman/pod_unpause.go
  cmd/podman/port.go
  cmd/podman/volume_rm.go
  cmd/podman/wait.go
  docs/podman-logs.1.md
  docs/podman-pod-restart.1.md
  docs/podman-port.1.md
Labels: approved, lgtm, size/M

#2373 Podman pod create now errors on receiving CLI args
  cmd/podman/pod_create.go
Labels: approved, lgtm, size/XS

#2374 Ensure that userns is created for stopped rootless pods
  cmd/podman/create.go
Labels: approved, lgtm, size/XS

#2360 podman-search: run in parallel
  API.md
  cmd/podman/search.go
  cmd/podman/varlink/io.podman.varlink
  libpod/image/search.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/XL

#2377 remove duplicate kill from `podman --help`
  cmd/podman/commands.go
Labels: approved, lgtm, size/XS

#2378 hack/tree_status.sh: preserve new lines
  hack/tree_status.sh
Labels: approved, lgtm, size/XS

#2367 podman-remote save [image]
  API.md
  cmd/podman/commands.go
  cmd/podman/image.go
  cmd/podman/main.go
  cmd/podman/save.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/image/image.go
  libpod/image/utils.go
  pkg/varlinkapi/images.go
  test/e2e/save_test.go
  utils/utils.go
Labels: approved, lgtm, size/L

#2390 Update c/storage vendor to v1.10 release
  vendor.conf
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/containers_ffjson.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/errors.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/layers_ffjson.go
  vendor/github.com/containers/storage/lockfile.go
  vendor/github.com/containers/storage/lockfile_unix.go
  vendor/github.com/containers/storage/lockfile_windows.go
  vendor/github.com/containers/storage/pkg/archive/archive_ffjson.go
  vendor/github.com/containers/storage/store.go
Labels: approved, lgtm, size/L

#2392 Adjust LISTEN_PID for reexec in varlink mode
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, needs-ok-to-test, size/M

#2387 enable podman-remote pod rm
  API.md
  cmd/podman/commands.go
  cmd/podman/main.go
  cmd/podman/pod.go
  cmd/podman/pod_rm.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/pods.go
  libpod/adapter/pods_remote.go
  libpod/adapter/shortcuts/shortcuts.go
  pkg/varlinkapi/pods.go
Labels: approved, lgtm, size/L

#2385 podman-remote load image
  cmd/podman/commands.go
  cmd/podman/image.go
  cmd/podman/load.go
  cmd/podman/main.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/image/image.go
  libpod/runtime_img.go
  pkg/varlinkapi/images.go
  test/e2e/load_test.go
Labels: approved, lgtm, size/L

#2350 Add lock renumbering
  cmd/podman/cliconfig/config.go
  cmd/podman/commands.go
  cmd/podman/libpodruntime/runtime.go
  cmd/podman/system_renumber.go
  docs/podman-system-renumber.1.md
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/in_memory_state.go
  libpod/lock/in_memory_locks.go
  libpod/lock/lock.go
  libpod/lock/shm/shm_lock.c
  libpod/lock/shm/shm_lock.go
  libpod/lock/shm/shm_lock.h
  libpod/lock/shm/shm_lock_test.go
  libpod/lock/shm_lock_manager_linux.go
  libpod/lock/shm_lock_manager_unsupported.go
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_renumber.go
  libpod/runtime_volume.go
  libpod/runtime_volume_linux.go
  libpod/state.go
  libpod/state_test.go
  libpod/volume.go
  libpod/volume_internal.go
Labels: approved, lgtm, size/XL

#2389 add newline to images output
  cmd/podman/formats/formats.go
Labels: approved, lgtm, size/XS

#2411 Cirrus: Install Go 1.11 on Ubuntu VMs
  .cirrus.yml
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm

#2403 podman: --runtime has higher priority on runtime_path
  libpod/options.go
Labels: approved, lgtm, size/XS

#2410 cmd: support rootless mode for cp command
  cmd/podman/cp.go
  cmd/podman/main.go
Labels: approved, lgtm, size/M

#2406 Exit with errors not just logging error
  cmd/podman/pull.go
  cmd/podman/runlabel.go
Labels: approved, lgtm, size/S

#2401 Vendor Buildah v1.7
  cmd/podman/build.go
  docs/podman-build.1.md
  libpod/container_commit.go
  vendor.conf
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/unshare/unshare.c
  vendor/github.com/containers/buildah/unshare/unshare.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/openshift/imagebuilder/README.md
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
Labels: approved, lgtm, size/XL

#2393 rootless: force same cwd when re-execing
  pkg/rootless/rootless_linux.c
  test/e2e/libpod_suite_test.go
  test/e2e/rootless_test.go
  test/utils/podmantest_test.go
  test/utils/utils.go
Labels: approved, lgtm, needs-backport, size/M

#2404 make remote-client error messaging more robust
  API.md
  cmd/podman/errors.go
  cmd/podman/main.go
  cmd/podman/varlink/io.podman.varlink
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/pods.go
Labels: approved, lgtm, size/L

#2400 Switch defaults for podman build versus buildah
  cmd/podman/build.go
Labels: approved, lgtm, size/S

#2413 Enable more podman-remote pod commands
  cmd/podman/build.go
  cmd/podman/commands.go
  cmd/podman/containers_prune.go
  cmd/podman/exists.go
  cmd/podman/export.go
  cmd/podman/history.go
  cmd/podman/imagefilters/filters.go
  cmd/podman/images.go
  cmd/podman/images_prune.go
  cmd/podman/import.go
  cmd/podman/info.go
  cmd/podman/inspect.go
  cmd/podman/load.go
  cmd/podman/pod.go
  cmd/podman/pod_inspect.go
  cmd/podman/pod_kill.go
  cmd/podman/pod_rm.go
  cmd/podman/pod_start.go
  cmd/podman/pod_stop.go
  cmd/podman/pull.go
  cmd/podman/push.go
  cmd/podman/rmi.go
  cmd/podman/save.go
  cmd/podman/system_prune.go
  cmd/podman/tag.go
  cmd/podman/volume_create.go
  cmd/podman/volume_inspect.go
  cmd/podman/volume_ls.go
  cmd/podman/volume_prune.go
  cmd/podman/volume_rm.go
  libpod/adapter/pods.go
  pkg/adapter/client.go
  pkg/adapter/containers_remote.go
  pkg/adapter/images_remote.go
  pkg/adapter/info_remote.go
  pkg/adapter/pods.go
  pkg/adapter/pods_remote.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/adapter/shortcuts/shortcuts.go
  pkg/adapter/volumes_remote.go
  pkg/varlinkapi/pods.go
  test/e2e/pod_start_test.go
  test/e2e/pod_stop_test.go
Labels: approved, lgtm, size/L

#2416 Allow dns settings with --net=host
  cmd/podman/create.go
Labels: approved, lgtm, size/XS

#2419 Fix play to show up in podman help
  cmd/podman/commands.go
  cmd/podman/generate.go
Labels: approved, lgtm, size/S

#2425 issue template: run `podman info --debug`
  .github/ISSUE_TEMPLATE.md
Labels: approved, lgtm, size/XS

#2429 remove duplicate commands in main
  cmd/podman/commands.go
  cmd/podman/play_kube.go
Labels: approved, lgtm, size/XS

#2417 In shared networkNS /etc/resolv.conf&/etc/hosts should be shared
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/S

#2423 Change exit code to 1 on podman rm nosuch container
  cmd/podman/rm.go
  docs/podman-rm.1.md
  test/e2e/rm_test.go
Labels: approved, lgtm, size/M

#2421 Change exit code to 1 on podman rmi nosuch image
  cmd/podman/errors.go
  cmd/podman/rmi.go
  docs/podman-container-cleanup.1.md
  docs/podman-rmi.1.md
  test/e2e/rmi_test.go
Labels: approved, lgtm, size/M

#2424 [skip-ci] README.md: rephrase Buildah description
  README.md
Labels: approved, lgtm, size/M

#2432 podman: fix ro bind mounts if no* opts are on the source
  pkg/spec/spec.go
Labels: approved, lgtm, size/M

#2358 Fix up handling of user defined network namespaces
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/ubuntu_setup.sh
  docs/podman-run.1.md
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/spec/createconfig.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm, size/M

#2422 podman-remote create|ps
  cmd/podman/commands.go
  cmd/podman/pod.go
  cmd/podman/pod_create.go
  cmd/podman/pod_ps.go
  cmd/podman/shared/pod.go
  cmd/podman/utils.go
  pkg/adapter/containers_remote.go
  pkg/adapter/pods.go
  pkg/adapter/pods_remote.go
  pkg/varlinkapi/pods.go
Labels: approved, lgtm, size/L

#2436 podman-remote pod pause|unpause|restart
  cmd/podman/commands.go
  cmd/podman/pod.go
  cmd/podman/pod_pause.go
  cmd/podman/pod_restart.go
  cmd/podman/pod_unpause.go
  pkg/adapter/pods.go
  pkg/adapter/pods_remote.go
Labels: approved, lgtm, size/L

#2362 Add num_locks to the default libpod config
  docs/libpod.conf.5.md
  libpod.conf
Labels: approved, lgtm, size/S

#2428 README: update "out of scope" section
  README.md
Labels: approved, lgtm, size/S

#2437 oci: improve error message when the OCI runtime is not found
  libpod/runtime.go
Labels: approved, lgtm, size/S

#2382 Fix one (of two) SELinux denials during checkpointing
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/S

#2438 [skip ci] readme/docs update
  README.md
  docs/podman-generate-kube.1.md
  docs/podman-play-kube.1.md
Labels: approved, lgtm, size/S

#2289 [skip ci]Introduce how to start to hack on libpod.
  CONTRIBUTING.md
Labels: approved, lgtm, ok-to-test, size/M

#2397 Volume path fixes
  cmd/podman/libpodruntime/runtime.go
  docs/libpod.conf.5.md
  libpod.conf
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/info.go
  libpod/options.go
  libpod/runtime.go
  libpod/state.go
Labels: approved, lgtm, size/M

#2439 vendor containers/image v1.5
  vendor.conf
  vendor/github.com/containers/image/pkg/blobinfocache/memory.go
  vendor/github.com/containers/image/version/version.go
Labels: approved, lgtm, size/S

#2444 Fix podman logs -l
  cmd/podman/logs.go
Labels: approved, lgtm, size/XS

#2443 start pod containers recursively
  cmd/podman/play_kube.go
Labels: approved, lgtm, size/XS

#2446 Only remove image volumes when removing containers
  cmd/podman/cleanup.go
  libpod/options.go
  libpod/runtime_ctr.go
  libpod/volume.go
Labels: approved, lgtm, size/M

#2448 volume: do not create a volume if there is a bind
  pkg/spec/createconfig.go
Labels: approved, lgtm, size/XS

#2440 Vendor in buildah v1.7.1
  vendor.conf
  vendor/github.com/containers/buildah/README.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/secrets/secrets.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/unshare/unshare_unsupported.go
  vendor/github.com/containers/buildah/vendor.conf
Labels: approved, lgtm, size/L

#2434 Update release notes for v1.1.0
  RELEASE_NOTES.md
Labels: approved, lgtm, size/M

#2458 Bump to 1.1.0
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/L

#2460 Remove restore as podman subcommand
  cmd/podman/commands.go
Labels: approved, lgtm, size/XS

#2456 Better usage synopses for subcommands
  cmd/podman/attach.go
  cmd/podman/build.go
  cmd/podman/checkpoint.go
  cmd/podman/cleanup.go
  cmd/podman/commit.go
  cmd/podman/cp.go
  cmd/podman/create.go
  cmd/podman/diff.go
  cmd/podman/exec.go
  cmd/podman/exists.go
  cmd/podman/export.go
  cmd/podman/generate_kube.go
  cmd/podman/history.go
  cmd/podman/import.go
  cmd/podman/inspect.go
  cmd/podman/kill.go
  cmd/podman/load.go
  cmd/podman/login.go
  cmd/podman/logout.go
  cmd/podman/logs.go
  cmd/podman/mount.go
  cmd/podman/pause.go
  cmd/podman/play_kube.go
  cmd/podman/pod_inspect.go
  cmd/podman/pod_kill.go
  cmd/podman/pod_pause.go
  cmd/podman/pod_restart.go
  cmd/podman/pod_rm.go
  cmd/podman/pod_start.go
  cmd/podman/pod_stats.go
  cmd/podman/pod_stop.go
  cmd/podman/pod_top.go
  cmd/podman/pod_unpause.go
  cmd/podman/port.go
  cmd/podman/pull.go
  cmd/podman/push.go
  cmd/podman/restart.go
  cmd/podman/restore.go
  cmd/podman/rm.go
  cmd/podman/rmi.go
  cmd/podman/run.go
  cmd/podman/runlabel.go
  cmd/podman/save.go
  cmd/podman/search.go
  cmd/podman/sign.go
  cmd/podman/start.go
  cmd/podman/stats.go
  cmd/podman/stop.go
  cmd/podman/tag.go
  cmd/podman/top.go
  cmd/podman/umount.go
  cmd/podman/unpause.go
  cmd/podman/varlink.go
  cmd/podman/volume_create.go
  cmd/podman/volume_inspect.go
  cmd/podman/volume_rm.go
  cmd/podman/wait.go
  docs/podman-import.1.md
Labels: approved, lgtm, ok-to-test, size/L

#2454 Move all storage configuration defaults into libpod
  cmd/podman/libpodruntime/runtime.go
  libpod/runtime.go
  pkg/util/utils.go
Labels: approved, lgtm, size/M

#2431 podman remote-client readme
  README.md
  remote_client.md
Labels: approved, lgtm, size/M

#2465 Fix build for non-Varlink-tagged Podman
  cmd/podman/rmi.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
Labels: approved, lgtm, size/M

#2464 Add a task to Cirrus gating to build w/o Varlink
  .cirrus.yml
  contrib/gate/Dockerfile
Labels: approved, lgtm, size/XS

#2471 fix up a number of misplace commands
  cmd/podman/commands.go
  cmd/podman/image.go
  cmd/podman/images.go
  cmd/podman/main.go
  cmd/podman/ps.go
Labels: approved, lgtm, size/S

#2463 Followup to #2456: update examples, add trust
  cmd/podman/checkpoint.go
  cmd/podman/exists.go
  cmd/podman/generate_kube.go
  cmd/podman/images.go
  cmd/podman/trust_set_show.go
Labels: approved, lgtm, ok-to-test, size/S

#2475 podman create: disable interspersed opts
  cmd/podman/create.go
Labels: approved, lgtm, size/XS

#2474 secrets: fix fips-mode with user namespaces
  pkg/secrets/secrets.go
Labels: approved, lgtm, size/S

#2476 Fix ignored --stop-timeout flag to 'podman create'
  cmd/podman/cliconfig/commands.go
  cmd/podman/common.go
  cmd/podman/create.go
  cmd/podman/restart.go
  cmd/podman/stop.go
Labels: approved, lgtm, size/L

#2470 Clean up man pages to match commands
  docs/podman-container.1.md
  docs/podman-generate.1.md
  docs/podman-image.1.md
  docs/podman-play.1.md
  docs/podman-pod-stats.1.md
  docs/podman-pod.1.md
  docs/podman-system.1.md
  docs/podman-volume.1.md
  docs/podman.1.md
  hack/podman-commands.sh
Labels: approved, lgtm, size/L

#2478 podman port fix output
  cmd/podman/port.go
Labels: Release Notes 1.2.0, approved, lgtm, size/XS

#2480 fix up a number of misplace commands
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/image.go
  cmd/podman/main.go
  cmd/podman/ps.go
  cmd/podman/rmi.go
Labels: approved, lgtm, size/S

#2479 rootless, new[ug]idmap: on failure add output
  pkg/rootless/rootless_linux.go
Labels: Release Notes 1.2.0, approved, lgtm, size/XS

#2487 Allow Exec API user to override streams
  cmd/podman/exec.go
  libpod/container_api.go
  libpod/oci.go
Labels: approved, lgtm, size/M

#2490 Fix -s to --storage-driver in baseline test
  test/test_podman_baseline.sh
Labels: approved, lgtm, size/XS

#2461 Skip checkpoint/restore tests on Fedora for now
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/XS

#2484 No podman container ps command exists
  docs/podman-container.1.md
  docs/podman-image.1.md
Labels: approved, lgtm, size/S
