Repository containers/podman, pull requests merged in 2019-12, with the labels that each got.

#4611 [CI:DOCS] apiv2: add make targets
  Makefile
  cmd/service/Makefile
Labels: approved, lgtm, size/S

#4493 Add ContainerStateRemoving
  cmd/podman/shared/container.go
  libpod/boltdb_state_linux.go
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/containerstate.go
  libpod/options.go
  libpod/runtime_ctr.go
  libpod/util.go
Labels: approved, lgtm, size/L

#4608 Fix podman-remote version to print client and server
  cmd/podman/version.go
  docs/source/markdown/podman-version.1.md
  test/e2e/version_test.go
Labels: approved, lgtm, size/M

#4617 libpod: fix case for executable file not found errors
  libpod/oci_util.go
Labels: approved, lgtm, size/XS

#4613 [CI:DOCS] Apiv2 rebase
  .gitignore
  API.md
  Makefile
  cmd/podman/cliconfig/config.go
  cmd/podman/images.go
  cmd/podman/main_local.go
  cmd/podman/reset.go
  cmd/podman/shared/container.go
  cmd/podman/system.go
  cmd/podman/varlink/io.podman.varlink
  commands.md
  completions/bash/podman
  contrib/build_rpm.sh
  contrib/spec/podman.spec.in
  docs/source/markdown/podman-images.1.md
  docs/source/markdown/podman-system-reset.1.md
  docs/source/markdown/podman-system.1.md
  go.mod
  go.sum
  libpod/boltdb_state_linux.go
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/containerstate.go
  libpod/image/image.go
  libpod/oci_util.go
  libpod/options.go
  libpod/reset.go
  libpod/runtime_ctr.go
  libpod/runtime_migrate_unsupported.go
  libpod/util.go
  pkg/adapter/reset.go
  pkg/adapter/reset_remote.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/system.go
  test/e2e/checkpoint_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/system_reset_test.go
  test/system/010-images.bats
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/copy/copy_linux.go
  vendor/github.com/containers/storage/drivers/vfs/copy_linux.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/images_ffjson.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/changes.go
  vendor/github.com/containers/storage/pkg/archive/changes_linux.go
  vendor/github.com/containers/storage/pkg/system/xattrs_linux.go
  vendor/github.com/containers/storage/pkg/system/xattrs_unsupported.go
  vendor/github.com/containers/storage/utils.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4596 container prune command fixed as per docker prune command
  cmd/podman/cliconfig/config.go
  cmd/podman/containers_prune.go
  cmd/podman/shared/container.go
  cmd/podman/system_prune.go
  completions/bash/podman
  docs/source/markdown/podman-container-prune.1.md
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  test/e2e/prune_test.go
Labels: approved, lgtm, size/L

#4616 build: improved main makefile
  Makefile
Labels: approved, lgtm, ok-to-test, size/S

#4584 install.md: added slirp4netns dependency to ubuntu
  install.md
Labels: approved, lgtm, ok-to-test, size/XS

#4624 Ensure volumes reacquire locks on state refresh
  libpod/runtime.go
  libpod/volume_internal.go
Labels: approved, lgtm, size/M

#4623 Ignore ErrCtrRemoved when removing a container
  pkg/adapter/containers.go
Labels: approved, lgtm, size/XS

#4622 Add comment on rootless containers creating device nodes
  rootless.md
Labels: approved, lgtm, size/XS

#4615 build: improved prepare.sh
  .copr/prepare.sh
Labels: approved, lgtm, ok-to-test, size/S

#4599 Updates on making doc building optional
  .copr/Makefile
  contrib/build_rpm.sh
  contrib/spec/podman.spec.in
Labels: approved, lgtm, ok-to-test, size/M

#4614 troubleshooting: warn about secure boot
  troubleshooting.md
Labels: approved, lgtm, needs-ok-to-test, size/S

#4629 Allow chained network namespace containers
  libpod/container.go
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/S

#4630 Quick grammar touchup in rootless.md
  rootless.md
Labels: approved, lgtm, size/XS

#4635 Attempt to install go-md2man only if missing
  Makefile
Labels: approved, lgtm, size/XS

#4637 rootless: add fallback for renameat2 at runtime
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/M

#4620 [CI:DOCS]enabled more tests
  cmd/podman/tree.go
  libpod/image/image.go
  pkg/adapter/images.go
  pkg/adapter/images_remote.go
  pkg/api/handlers/containers_create.go
  pkg/api/handlers/images.go
  pkg/api/handlers/types.go
  pkg/api/server/register_images.go
  pkg/util/utils.go
Labels: approved, lgtm, size/L

#4640 Improve dnf tests inside build_rpm.sh
  contrib/build_rpm.sh
Labels: approved, lgtm, ok-to-test, size/S

#4644 Improve hack/get_release_info.sh
  hack/get_release_info.sh
Labels: approved, lgtm, ok-to-test

#4642 Bump Buildah to v1.11.6
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/info.go
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#4638 Avoid git warnings by using detach on checkout
  .copr/prepare.sh
  Dockerfile
  Dockerfile.centos
  Dockerfile.fedora
  Makefile
Labels: approved, lgtm, ok-to-test, size/S

#4639 libpod: fix stats for rootless pods
  libpod/container.go
  test/e2e/pod_stats_test.go
  test/e2e/stats_test.go
Labels: approved, lgtm, size/S

#4601 Enable multi-platform rpm building
  Makefile
  contrib/build_rpm.sh
  install.md
Labels: approved, lgtm, ok-to-test, size/M

#4651 Use terminal detach keys sequence specified in the config file
  cmd/podman/attach.go
  cmd/podman/common.go
  cmd/podman/exec.go
  cmd/podman/start.go
  pkg/adapter/containers.go
Labels: approved, lgtm, size/M

#4563 Fix parsing for arrays of values in image changes
  libpod/container_commit.go
  libpod/runtime_img.go
  pkg/util/utils.go
  pkg/util/utils_test.go
  pkg/varlinkapi/images.go
  test/e2e/import_test.go
Labels: approved, lgtm, size/XL

#4440 test for #3920 (improper caching of tarballs in build)
  test/system/070-build.bats
Labels: approved, lgtm, size/M

#4657 Return empty runtime directory if we're not rootless
  pkg/util/utils_supported.go
Labels: approved, lgtm, ok-to-test, size/XS

#4650 [CI:DOCS]libpod endpoints
  pkg/api/handlers/containers.go
  pkg/api/handlers/errors.go
  pkg/api/handlers/generic/containers.go
  pkg/api/handlers/generic/containers_create.go
  pkg/api/handlers/generic/containers_stats.go
  pkg/api/handlers/generic/containers_top.go
  pkg/api/handlers/generic/images.go
  pkg/api/handlers/generic/info.go
  pkg/api/handlers/generic/ping.go
  pkg/api/handlers/generic/system.go
  pkg/api/handlers/generic/version.go
  pkg/api/handlers/images.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/utils/containers.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
  pkg/api/server/register_info.go
  pkg/api/server/register_ping.go
  pkg/api/server/register_pods.go
  pkg/api/server/register_system.go
  pkg/api/server/register_version.go
Labels: approved, lgtm, size/XXL

#4517 macvlan networks
  cmd/podman/cliconfig/config.go
  cmd/podman/network_create.go
  completions/bash/podman
  docs/source/markdown/podman-network-create.1.md
  pkg/adapter/network.go
  pkg/network/config.go
  pkg/network/netconflist.go
Labels: approved, lgtm, size/L

#4670 Backports for v1.6.4
  .cirrus.yml
  cmd/podman/main_local.go
  libpod/config/config.go
  libpod/container_internal.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/runtime.go
  libpod/volume_internal.go
Labels: approved, lgtm, size/M

#4675 Update containers/storage to v1.15.3
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/tarlog/tarlogger.go
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm, size/M

#4674 Re-add Fedora 31 migration code.
  libpod/config/config.go
Labels: approved, lgtm, size/M

#4664 move image filters under libpod/images
  API.md
  cmd/podman/images.go
  cmd/podman/varlink/io.podman.varlink
  libpod/image/filters.go
  libpod/image/image.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/L

#4667 Update release notes for 1.7.0
  RELEASE_NOTES.md
Labels: approved, lgtm, size/M

#4671 [1.6] bump c/storage to v1.13.6
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/tarlog/tarlogger.go
  vendor/modules.txt
Labels: approved, do-not-merge/hold, lgtm, size/S

#4679 Bump to v1.6.4
  version/version.go
Labels: approved, lgtm, size/XS

#4680 Bump to v1.7.0-RC1
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/L

#4677 allow exec to read files of environment variables
  cmd/podman/cliconfig/config.go
  cmd/podman/exec.go
  completions/bash/podman
  docs/source/markdown/podman-exec.1.md
  pkg/adapter/containers.go
Labels: approved, lgtm, size/S

#4672 [CI:DOCS]Implement /build and /events
  cmd/podman/build.go
  go.mod
  go.sum
  libpod/runtime_img.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/api/handlers/containers.go
  pkg/api/handlers/events.go
  pkg/api/handlers/generic/info.go
  pkg/api/handlers/handler.go
  pkg/api/handlers/images_build.go
  pkg/api/handlers/types.go
  pkg/api/server/handler_api.go
  pkg/api/server/register_events.go
  pkg/api/server/register_images.go
  pkg/api/server/register_info.go
  pkg/api/server/server.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/L

#4690 [Makefile] `LDFLAGS` is reserved for the GCC linker
  Makefile
Labels: approved, lgtm, ok-to-test, size/XS

#4692 Reap exec sessions on cleanup and removal
  libpod/container_api.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_conmon_linux.go
  libpod/oci_missing.go
Labels: approved, lgtm, size/M

#4682 Fixed the path of hack scripts in spec file
  contrib/spec/podman.spec.in
Labels: approved, lgtm, ok-to-test, size/XS

#4699 Fix F30-F31 migration for Podman 1.7.0
  libpod/config/config.go
Labels: approved, lgtm, size/S

#4583 troubleshooting.md: added #19 not enough ids
  troubleshooting.md
Labels: approved, lgtm, needs-ok-to-test, size/S

#4713 Remove coverprofile from the repository
  test/e2e/e2e.coverprofile
Labels: approved, lgtm, size/S

#4710 Use systemd/sd-daemon.h headers for systemd presence
  Makefile
  contrib/build_rpm.sh
  hack/systemd_tag.sh
Labels: approved, lgtm, ok-to-test, size/S

#4714 Allow the injection of TESTFLAGS
  Makefile
Labels: approved, lgtm, size/XS

#4701 install.md: openSUSE dependencies
  install.md
Labels: approved, lgtm, ok-to-test, size/XS

#4681 podman: mirror information
  docs/source/markdown/podman-info.1.md
  libpod/runtime.go
  pkg/registries/registries.go
Labels: approved, lgtm, ok-to-test, size/M

#4487 docs: add workaround for --device with rootless containers
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  troubleshooting.md
Labels: approved, lgtm, ok-to-test, size/M

#4643 Correctly export the root file-system changes
  libpod/container_internal_linux.go
  libpod/diff.go
  pkg/adapter/checkpoint_restore.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/L

#4689 podman images history test - clean up
  test/system/010-images.bats
  test/system/helpers.bash
Labels: approved, lgtm, size/M

#4684 container config: add CreateCommand
  cmd/podman/shared/create.go
  libpod/container.go
  libpod/container_inspect.go
  libpod/options.go
  test/e2e/inspect_test.go
Labels: approved, lgtm, size/M

#4723 Remove volumes after containers in pod remove
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
Labels: approved, lgtm, size/M

#4722 libpod: drop arbitrary memory limit of 4M
  cmd/podman/shared/create_cli.go
Labels: approved, lgtm, size/S

#4727 if container is not in a pid namespace, stop all processes
  libpod/container_api.go
  libpod/container_internal.go
  libpod/pod_api.go
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/S

#4731 [CI:DOCS]Apiv2imagesrework
  API.md
  cmd/podman/images.go
  cmd/podman/varlink/io.podman.varlink
  libpod/image/filters.go
  libpod/image/image.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/api/handlers/containers.go
  pkg/api/handlers/events.go
  pkg/api/handlers/generic/containers.go
  pkg/api/handlers/generic/containers_create.go
  pkg/api/handlers/generic/containers_stats.go
  pkg/api/handlers/generic/containers_top.go
  pkg/api/handlers/generic/images.go
  pkg/api/handlers/generic/info.go
  pkg/api/handlers/generic/system.go
  pkg/api/handlers/generic/version.go
  pkg/api/handlers/handler.go
  pkg/api/handlers/images.go
  pkg/api/handlers/images_build.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/types.go
  pkg/api/handlers/unsupported.go
  pkg/api/handlers/utils/containers.go
  pkg/api/handlers/utils/errors.go
  pkg/api/handlers/utils/handler.go
  pkg/api/handlers/utils/images.go
  pkg/api/server/register_images.go
  pkg/api/server/register_swarm.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/XXL

#4735 [CI:DOCS]add bindings for golang
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/server/register_ping.go
  pkg/api/server/register_pods.go
  pkg/bindings/containers.go
  pkg/bindings/generate.go
  pkg/bindings/healthcheck.go
  pkg/bindings/info.go
  pkg/bindings/mount.go
  pkg/bindings/network.go
  pkg/bindings/play.go
  pkg/bindings/pods.go
  pkg/bindings/port.go
  pkg/bindings/search.go
  pkg/bindings/version.go
  pkg/bindings/volumes.go
Labels: approved, lgtm, size/XL

#4697 Set contextdir to current PWD if user did not specify a context dir.
  go.mod
  go.sum
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/system/rm.go
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm, size/M

#4740 zsh completion: ignore multi-line output in Flags
  completions/zsh/_podman
Labels: approved, lgtm, size/XS

#4743 add struct response for removal of images
  API.md
  cmd/podman/rmi.go
  cmd/podman/varlink/io.podman.varlink
  libpod/image/config.go
  libpod/runtime_img.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/L

#4745 [CI:DOCS]add volume endpoints for libpod
  pkg/api/handlers/libpod/volumes.go
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/register_volumes.go
  pkg/api/server/server.go
  pkg/bindings/volumes.go
Labels: approved, lgtm, size/L

#4751 The --quiet flag does not conflict with templates in ps
  cmd/podman/ps.go
  test/e2e/ps_test.go
Labels: approved, lgtm, size/S

#4749 signal parsing - better input validation
  cmd/podman/kill.go
  cmd/podman/pod_kill.go
  cmd/podman/shared/create.go
  pkg/util/utils.go
  test/system/130-kill.bats
Labels: approved, lgtm, size/L

#4753 Ensure SizeRw is shown when a user does 'inspect --size -t container'.
  libpod/container_inspect.go
  libpod/container_internal.go
  test/e2e/inspect_test.go
Labels: approved, lgtm, ok-to-test, size/S

#4754 Ensure 'make uninstall' removes bin and conf files.
  Makefile
Labels: approved, lgtm, ok-to-test, size/S

#4756 Fix race condition in kill test leading to hang
  test/system/130-kill.bats
Labels: approved, lgtm, size/S

#4748 [Issue #4703] Add the pod name when we use `podman ps -p`
  cmd/podman/ps.go
  cmd/podman/shared/container.go
  libpod/runtime_ctr.go
  test/e2e/ps_test.go
Labels: approved, lgtm, ok-to-test, size/M

#4760 [CI:DOCS]apiv2 healthcheck enablement
  pkg/api/handlers/libpod/healthcheck.go
  pkg/api/server/register_healthcheck.go
  pkg/api/server/server.go
  pkg/bindings/healthcheck.go
Labels: approved, lgtm, size/M

#4761 [CI:DOCS]Add mount endpoints
  pkg/api/handlers/libpod/containers.go
  pkg/api/server/register_containers.go
  pkg/bindings/mount.go
Labels: approved, lgtm, size/M

#4763 [CI:DOCS]Add search endpoint
  pkg/api/handlers/images.go
  pkg/api/server/register_images.go
  pkg/bindings/search.go
Labels: approved, lgtm, size/M

#4757 refactor network commands
  pkg/adapter/network.go
  pkg/network/network.go
Labels: approved, lgtm, size/L
