Repository containers/podman, pull requests merged in 2019-08, with the labels that each got.

#3573 Vendor in latest buildah code
  go.mod
  go.sum
  libpod/container_internal_linux.go
  pkg/spec/spec.go
  pkg/varlinkapi/images.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.gitignore
  vendor/github.com/containers/buildah/.golangci.yml
  vendor/github.com/containers/buildah/.travis.yml
  vendor/github.com/containers/buildah/CONTRIBUTING.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/bind/util.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/chroot/util.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/common.go
  vendor/github.com/containers/buildah/config.go
  vendor/github.com/containers/buildah/docker/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/chroot_symlink_linux.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/imagebuildah/util.go
  vendor/github.com/containers/buildah/import.go
  vendor/github.com/containers/buildah/info.go
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/blobcache/blobcache.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/parse/parse_unix.go
  vendor/github.com/containers/buildah/pkg/unshare/unshare.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/troubleshooting.md
  vendor/github.com/containers/buildah/util.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/docker/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/docker/libnetwork/types/types.go
  vendor/github.com/ishidawataru/sctp/.gitignore
  vendor/github.com/ishidawataru/sctp/.travis.yml
  vendor/github.com/ishidawataru/sctp/GO_LICENSE
  vendor/github.com/ishidawataru/sctp/ipsock_linux.go
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/intelrdt.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/config.go
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/modules.txt
Labels: Release Notes 1.5.0, approved, size/XXL

#3671 Add runtime and conmon path discovery
  docs/libpod.conf.5.md
  libpod.conf
  libpod/oci.go
  libpod/runtime.go
Labels: approved, lgtm, size/M

#3681 e2e test: check exit codes for pull, save, inspect
  test/e2e/common_test.go
Labels: approved, size/S

#3677 systemd, cgroupsv2: not bind mount /sys/fs/cgroup/systemd
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/M

#3341 Add new exit codes to rm & rmi for running containers & dependencies
  cmd/podman/errors.go
  cmd/podman/errors_remote.go
  cmd/podman/rm.go
  cmd/podman/rmi.go
  docs/podman-rm.1.md
  docs/podman-rmi.1.md
  pkg/varlinkapi/containers.go
  test/e2e/checkpoint_test.go
  test/e2e/pause_test.go
  test/e2e/rm_test.go
  test/e2e/rmi_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3686 go build: use `-mod=vendor` for go >= 1.11.x
  Makefile
Labels: approved, lgtm, size/S

#3688 Print Pod ID in `podman inspect` output
  libpod/container_inspect.go
Labels: approved, lgtm, size/XS

#3458 Use buildah/pkg/parse volume parsing rather then internal version
  pkg/adapter/pods.go
  pkg/spec/storage.go
Labels: approved, lgtm, size/L

#3693 fix search output limit
  docs/podman-search.1.md
  libpod/image/search.go
  test/e2e/search_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/S

#3551 Fix memory leak with exit files
  Dockerfile
  cmd/podman/cliconfig/config.go
  cmd/podman/libpodruntime/runtime.go
  cmd/podman/main_local.go
  docs/libpod.conf.5.md
  docs/podman.1.md
  libpod/container_api.go
  libpod/container_internal.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/events_linux.go
  libpod/events/logfile.go
  libpod/options.go
  libpod/runtime_ctr.go
  pkg/adapter/containers.go
  pkg/spec/createconfig.go
  test/e2e/common_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/run_test.go
  test/utils/podmantest_test.go
  test/utils/utils.go
  test/utils/utils_suite_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/XL

#3676 Fix typo
  cmd/podman/generate_systemd.go
Labels: approved, do-not-merge/hold, lgtm, ok-to-test, size/XS

#3692 Add Capability support to play kube
  libpod/kube.go
  pkg/adapter/pods.go
  test/e2e/play_kube_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3695 System tests: resolve hang in rawhide rootless
  test/system/helpers.bash
Labels: approved, lgtm, size/XS

#3707 Add handling for empty LogDriver
  libpod/oci_internal_linux.go
Labels: Release Notes 1.5.0, approved, lgtm, size/XS

#3717 Don't log errors to the screen when XDG_RUNTIME_DIR is not set
  pkg/util/utils_supported.go
Labels: approved, lgtm, size/XS

#3720 honor libpod.conf in /usr/share/containers
  libpod/runtime.go
Labels: Release Notes 1.5.0, approved, lgtm, size/XS

#3673 Add rootless NFS and OverlayFS warnings to docs
  docs/podman.1.md
  troubleshooting.md
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3310 rootless: Rearrange setup of rootless containers ***CIRRUS: TEST IMAGES***
  libpod/container.go
  libpod/container_internal_linux.go
  libpod/networking_linux.go
  libpod/oci_internal_linux.go
  libpod/oci_linux.go
  libpod/runtime_pod_infra_linux.go
  pkg/netns/netns_linux.go
  pkg/spec/createconfig.go
Labels: approved, lgtm, ok-to-test, size/L

#3691 add eventlogger to info
  API.md
  cmd/podman/varlink/io.podman.varlink
  libpod/events/config.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/events/nullout.go
  libpod/info.go
  pkg/adapter/client.go
  pkg/varlinkapi/system.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3171 podman events format json
  docs/podman-events.1.md
  libpod/events/config.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  test/e2e/events_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3690 restore: added --ignore-static-ip option
  cmd/podman/cliconfig/config.go
  cmd/podman/restore.go
  completions/bash/podman
  docs/podman-container-restore.1.md
  libpod/container_api.go
  libpod/container_internal_linux.go
  pkg/adapter/containers.go
  test/e2e/checkpoint_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3701 container stop: kill conmon
  libpod/container_internal.go
Labels: Release Notes 1.5.0, approved, lgtm, size/S

#3718 fix system df crashes on unnamed images
  cmd/podman/system_df.go
Labels: Release Notes 1.5.0, approved, lgtm, size/XS

#3698 restore: correctly set StartedTime
  libpod/runtime_ctr.go
Labels: Release Notes 1.5.0, approved, lgtm, size/XS

#3716 various fixes for varlink endpoints
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/XS

#3723 Cirrus: Adjust destination branch name
  .cirrus.yml
Labels: approved, lgtm, size/S

#3729 Bump to v1.0.4
  cmd/podman/rm.go
  completions/bash/podman
  contrib/spec/podman.spec.in
  docs/podman-rm.1.md
  libpod/runtime_cstorage.go
  version/version.go
Labels: approved, lgtm, size/L

#3466 Touch up XDG, add rootless links
  README.md
  cmd/podman/main.go
  cmd/podman/main_local.go
  cmd/podman/main_remote.go
  cmd/podman/remoteclientconfig/config_linux.go
  docs/podman-container-runlabel.1.md
  docs/podman-login.1.md
  docs/podman-logout.1.md
  docs/podman-play-kube.1.md
  docs/podman-pull.1.md
  docs/podman-push.1.md
  docs/podman-run.1.md
  docs/podman-search.1.md
  docs/tutorials/README.md
  docs/tutorials/rootless_tutorial.md
  libpod/runtime.go
  pkg/util/utils.go
  pkg/util/utils_supported.go
  pkg/util/utils_windows.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3736 Revert "rootless: Rearrange setup of rootless containers"
  libpod/container_internal_linux.go
  libpod/networking_linux.go
  libpod/oci_internal_linux.go
  libpod/oci_linux.go
  libpod/runtime_pod_infra_linux.go
  pkg/netns/netns_linux.go
  pkg/spec/createconfig.go
Labels: approved, lgtm, size/L

#3733 pod top test: reenable
  test/system/200-pod-top.bats
Labels: approved, lgtm, size/XS

#3731 cgroup: fix regression when running systemd
  libpod/container_internal_linux.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3741 Properly share UTS namespaces in a pod
  pkg/namespaces/namespaces.go
  pkg/spec/spec.go
  test/e2e/pod_infra_container_test.go
Labels: approved, lgtm, size/L

#3745 systemd library conflict with seektail and addmatch
  libpod/events/journal_linux.go
Labels: approved, lgtm, size/S

#3757 add make to make installs
  Makefile
  contrib/spec/podman.spec.in
Labels: approved, lgtm, size/S

#3738 Allow --ro=[true|false] with mount flag
  pkg/spec/storage.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm, size/M

#3744 When populating CMD, do not include Entrypoint
  cmd/podman/shared/create.go
  pkg/spec/createconfig.go
  test/e2e/create_test.go
Labels: approved, lgtm, size/S

#3739 Add invalid credentials fix to docs
  troubleshooting.md
Labels: approved, lgtm, size/M

#3750 fix port early return
  cmd/podman/port.go
  test/e2e/port_test.go
Labels: approved, lgtm, size/M

#3699 add godoc link to readme
  README.md
Labels: approved, lgtm, ok-to-test, size/XS

#3767 fix copy change file owner if cp from container
  cmd/podman/cp.go
  test/e2e/cp_test.go
Labels: approved, lgtm, size/M

#3764 Allow the passing of '.' to --dns-search
  cmd/podman/shared/create.go
  test/e2e/run_dns_test.go
Labels: approved, lgtm, size/S

#3725 podman-container-runlabel(1): drop note
  docs/podman-container-runlabel.1.md
Labels: approved, lgtm, size/XS

#3766 Add conmon probe to runtime construction
  libpod/define/errors.go
  libpod/runtime.go
Labels: approved, lgtm, size/M

#3721 make rmi messages more compatible with docker
  libpod/runtime_img.go
Labels: approved, lgtm, size/XS

#3713 Add release notes for v1.5.0
  RELEASE_NOTES.md
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3762 Improve dns-search validation, empty domains now return an error
  cmd/podman/shared/create.go
Labels: approved, lgtm, size/XS

#3737 fix create&run getting --authfile from cli
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  test/e2e/login_logout_test.go
Labels: approved, lgtm, size/XS

#3771 Touch up build man page
  docs/podman-build.1.md
Labels: approved, lgtm, size/S

#3775 vendor github.com/containers/storage@v1.13.2
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/windows/windows.go
  vendor/modules.txt
Labels: approved, lgtm, size/S

#3776 Bump to v1.5.0
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/L

#3770 Cirrus: Enable updates-testing repo for Fedora
  contrib/cirrus/packer/fedora_setup.sh
Labels: approved, lgtm, size/XS

#3758 implement 'make remotesystem'
  Makefile
  test/system/001-basic.bats
  test/system/070-build.bats
  test/system/200-pod-top.bats
  test/system/README.md
  test/system/helpers.bash
Labels: approved, lgtm, size/M

#3742 Conmon pid file
  libpod/runtime_ctr.go
  test/e2e/checkpoint_test.go
Labels: Release Notes 1.5.1, approved, lgtm, size/S

#3746 enable windows remote client
  cmd/podman/main_local.go
  cmd/podman/main_remote.go
  cmd/podman/main_remote_supported.go
  cmd/podman/main_remote_windows.go
  pkg/adapter/runtime_remote.go
  pkg/util/utils_windows.go
Labels: approved, lgtm, size/L

#3594 Add Second partition for storage-drive testing
  .cirrus.yml
  contrib/cirrus/add_second_partition.sh
  contrib/cirrus/build_vm_images.sh
  contrib/cirrus/check_image.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/cloud-init/fedora/cloud.cfg.d/40_enable_root.cfg
  contrib/cirrus/packer/cloud-init/fedora/cloud.cfg.d/50_custom_disk_setup.cfg
  contrib/cirrus/packer/cloud-init/ubuntu/cloud.cfg.d/40_enable_root.cfg
  contrib/cirrus/packer/libpod_images.yml
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm, size/L

#3748 Fix a couple of errors descovered by coverity
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/S

#3783 Adjust read count so that a newline can be added afterwards
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, ok-to-test, size/XS

#3782 Fix incorrect use of realloc()
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, ok-to-test, size/XS

#3785 build: use the configured runtime
  pkg/adapter/runtime.go
Labels: approved, lgtm, size/XS

#3787 rootless: cherry-pick runtime from the system configuration
  libpod/runtime.go
Labels: Release Notes 1.5.1, approved, lgtm, size/S

#3786 rootless: drop some superflous checks
  cmd/podman/pod_create.go
  cmd/podman/pod_stats.go
  cmd/podman/shared/create.go
  cmd/podman/stats.go
  libpod/oci_internal_linux.go
  pkg/spec/storage.go
Labels: approved, lgtm, size/M

#3793 image: add user agent to Docker registry options
  libpod/image/docker_registry_options.go
Labels: approved, lgtm, ok-to-test, size/XS

#3789 cirrus: run tests with crun
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
  pkg/adapter/containers.go
  test/e2e/exec_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/run_exit_test.go
  test/e2e/run_test.go
  test/e2e/start_test.go
Labels: approved, lgtm, size/M

#3751 Squish a few tpyo nits in container.go doc
  cmd/podman/shared/container.go
Labels: approved, lgtm, size/XS

#3753 varlink endpoint for containerstats requires root
  API.md
  cmd/podman/varlink/io.podman.varlink
  pkg/varlinkapi/containers.go
Labels: approved, lgtm, size/S

#3607 Add another Fedora VM with cgroups v2 enabled
  .cirrus.yml
  contrib/cirrus/README.md
  contrib/cirrus/check_image.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/libpod_images.yml
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/cirrus/packer/xfedora_setup.sh
  contrib/cirrus/setup_environment.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm, size/L

#3797 Revert #3745 and fix missing exit code for journald
  libpod/events/journal_linux.go
Labels: approved, lgtm, size/S

#3794 Homebrew installation in install.md
  Makefile
  install.md
Labels: approved, lgtm, size/XS

#3649 Revert "Cirrus: Temp. workaround missing imgprune image"
  .cirrus.yml
  contrib/imgprune/Dockerfile
Labels: approved, lgtm, size/XS

#3662 Add user systemd service and socket
  Makefile
  contrib/spec/podman.spec.in
  contrib/varlink/io.podman.service
  contrib/varlink/io.podman.socket
Labels: approved, lgtm, ok-to-test, size/S

#3791 Cirrus: Install varlink in VM images
  contrib/cirrus/check_image.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/ubuntu_setup.sh
Labels: approved, lgtm, size/XS

#3772 fork https://github.com/abitrolly/podman
  contrib/snapcraft/.editorconfig
  contrib/snapcraft/.gitignore
  contrib/snapcraft/LICENSE
  contrib/snapcraft/README.md
  contrib/snapcraft/snap/snapcraft.yaml
Labels: approved, lgtm, size/L

#3806 Running Podman with a nonexistent hooks dir is nonfatal
  pkg/hooks/hooks.go
Labels: approved, lgtm, size/XS

#3809 Fix play kube command in pod yaml
  pkg/adapter/pods.go
  test/e2e/play_kube_test.go
Labels: Release Notes 1.5.1, approved, lgtm, ok-to-test, size/S

#3810 pkg/cgroups: use DBUS session when rootless
  libpod/util_linux.go
  pkg/cgroups/cgroups.go
  pkg/cgroups/systemd.go
Labels: approved, lgtm, size/L

#3807 removMergeDir from inspect result if not mounted
  libpod/driver/driver.go
Labels: approved, lgtm, size/XS

#3804 tests for exit status on podman run --rm
  test/system/030-run.bats
  test/system/055-rm.bats
Labels: approved, lgtm, size/M

#3812 performance fix for podman events with large journalds
  libpod/events/journal_linux.go
Labels: approved, lgtm, size/XS

#3815 Bump to v1.0.5
  contrib/spec/podman.spec.in
  vendor.conf
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  version/version.go
Labels: approved, lgtm, size/M

#3818 Set Pod hostname as Pod name
  libpod/runtime_pod_infra_linux.go
Labels: Release Notes 1.5.1, approved, lgtm, ok-to-test, size/XS

#3825 Add release notes for v1.5.1
  RELEASE_NOTES.md
Labels: Release Notes 1.5.1, approved, lgtm

#3830 Bump to v1.5.1
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/M

#3805 Remove --tmpfs size default
  docs/podman-create.1.md
  docs/podman-run.1.md
  pkg/spec/storage.go
  pkg/util/mountOpts.go
Labels: Release Notes 1.5.2, approved, lgtm, size/S

#3796 cirrus: enable cgroups v2 tests with crun
  contrib/cirrus/integration_test.sh
  pkg/adapter/runtime.go
  test/e2e/common_test.go
  test/e2e/pause_test.go
  test/e2e/run_cpu_test.go
  test/e2e/run_memory_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/L

#3719 inclusion of podman network
  cmd/podman/cliconfig/config.go
  cmd/podman/network.go
  cmd/podman/network_inspect.go
  cmd/podman/network_list.go
  cmd/podman/network_rm.go
  commands.md
  completions/bash/podman
  docs/podman-network-inspect.1.md
  docs/podman-network-ls.1.md
  docs/podman-network-rm.1.md
  docs/podman-network.1.md
  docs/podman.1.md
  pkg/adapter/network.go
  pkg/network/config.go
  pkg/network/network.go
  test/e2e/network_test.go
Labels: Release Notes 1.5.2, approved, lgtm, size/XL

#3832 Cirrus: Confirm networking more
  .cirrus.yml
  contrib/cirrus/networking.sh
  contrib/cirrus/required_host_ports.txt
Labels: approved, lgtm, size/M

#3822 Cirrus: Minor: Simplify crun test task
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm, size/S

#3617 add --pull flag for podman create&run
  API.md
  cmd/podman/common.go
  cmd/podman/pull.go
  cmd/podman/shared/container.go
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  cmd/podman/shared/intermediate_varlink.go
  cmd/podman/sign.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  contrib/perftest/main.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  libpod/image/image.go
  libpod/image/image_test.go
  libpod/runtime_pod_infra_linux.go
  pkg/adapter/checkpoint_restore.go
  pkg/adapter/pods.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/util/utils.go
  pkg/varlinkapi/images.go
  test/e2e/create_test.go
Labels: Release Notes 1.5.2, approved, lgtm, size/L

#3813 do not activate sd_notify support when varlink
  cmd/podman/libpodruntime/runtime.go
  cmd/podman/varlink.go
  libpod/oci.go
  libpod/oci_internal_linux.go
  libpod/options.go
  libpod/runtime.go
Labels: Release Notes 1.5.2, approved, lgtm, size/M

#3836 Allow customizing pod hostname
  cmd/podman/cliconfig/config.go
  cmd/podman/pod_create.go
  libpod/options.go
  libpod/pod.go
  libpod/runtime_pod_infra_linux.go
  libpod/runtime_pod_linux.go
  pkg/adapter/pods.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm, ok-to-test, size/M

#3777 Add support & documentation to run containers with different file types
  docs/podman-build.1.md
  docs/podman-create.1.md
  docs/podman-run.1.md
  go.mod
  go.sum
  test/e2e/run_selinux_test.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/modules.txt
Labels: Release Notes 1.5.2, approved, lgtm, size/L

#3709 Change backend code for 'volume inspect'
  API.md
  cmd/podman/varlink/io.podman.varlink
  cmd/podman/volume_create.go
  cmd/podman/volume_inspect.go
  libpod/options.go
  libpod/runtime_volume_linux.go
  libpod/volume.go
  libpod/volume_inspect.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/adapter/volumes_remote.go
  pkg/varlinkapi/volumes.go
Labels: Release Notes 1.5.2, approved, lgtm, size/L

#3847 Issue template update to Include package info
  .github/ISSUE_TEMPLATE.md
Labels: approved, lgtm, size/XS

#3848 tests: enable all tests for crun
  .cirrus.yml
  libpod.conf
  libpod/oci_internal_linux.go
  pkg/adapter/containers.go
  test/e2e/exec_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/run_exit_test.go
  test/e2e/run_test.go
  test/e2e/start_test.go
Labels: approved, lgtm, size/M

#3849 Fix directory pull image name for OCI images
  libpod/image/pull.go
  test/e2e/pull_test.go
  vendor/modules.txt
Labels: approved, lgtm, size/M

#3476 Implement healthcheck for remote client
  API.md
  cmd/podman/commands.go
  cmd/podman/commands_remoteclient.go
  cmd/podman/healthcheck.go
  cmd/podman/varlink/io.podman.varlink
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/containers.go
  test/e2e/healthcheck_run_test.go
Labels: Release Notes 1.5.2, approved, lgtm, size/M

#3852 Flake fix: build test timeout
  test/system/070-build.bats
Labels: approved, lgtm, size/S

#3760 Use GetRuntimeDir to setup auth.json for login
  cmd/podman/shared/funcs.go
  cmd/podman/varlink.go
  libpod/oci.go
  libpod/oci_internal_linux.go
  libpod/oci_linux.go
  libpod/runtime.go
  pkg/util/utils_supported.go
  pkg/util/utils_windows.go
Labels: Release Notes 1.5.2, approved, lgtm, size/M

#3853 Dockerfile.*: bump CNI plugins commit
  Dockerfile
  Dockerfile.centos
  Dockerfile.fedora
Labels: approved, lgtm, size/XS

#3569 Fix error message on podman stats on cgroups v1 rootless environments
  cmd/podman/stats.go
  docs/podman-stats.1.md
  libpod/runtime_pod_linux.go
  pkg/cgroups/cgroups.go
Labels: Release Notes 1.5.2, approved, lgtm, size/M

#3858 exec: run with user specified on container start
  libpod/container_api.go
  test/e2e/exec_test.go
Labels: approved, lgtm, size/S

#3855 Touchup README with Buildah build usage
  README.md
Labels: approved, lgtm, size/XS

#3856 Dockerfile*: fix build for CNI plugins
  Dockerfile
  Dockerfile.centos
  Dockerfile.fedora
Labels: approved, lgtm, size/S

#2940 networking: use firewall plugin
  cni/87-podman-bridge.conflist
  go.mod
  libpod/networking_linux.go
  libpod/runtime.go
  pkg/firewall/common.go
  pkg/firewall/firewall_linux.go
  pkg/firewall/firewall_none.go
  pkg/firewall/firewall_unsupported.go
  pkg/firewall/firewalld.go
  pkg/firewall/iptables.go
  vendor/github.com/coreos/go-iptables/LICENSE
  vendor/github.com/coreos/go-iptables/NOTICE
  vendor/github.com/coreos/go-iptables/iptables/iptables.go
  vendor/github.com/coreos/go-iptables/iptables/lock.go
  vendor/modules.txt
Labels: Release Notes 1.5.2, approved, lgtm, size/XXL

#3863 Add --digestfile option to push
  cmd/podman/cliconfig/config.go
  cmd/podman/push.go
  completions/bash/podman
  docs/podman-push.1.md
  libpod/image/image.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
  test/e2e/push_test.go
Labels: approved, lgtm, size/M

#3868 Dockerfile.fedora: install cni plugins package
  Dockerfile.fedora
Labels: approved, lgtm, size/S

#3872 podman-remote: cp crashes
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/cp.go
  cmd/podman/shared/intermediate.go
Labels: approved, lgtm, size/S

#3873 Need to include command name in error message
  cmd/podman/main_local.go
Labels: approved, lgtm, size/XS

#3800 generate systemd pod
  API.md
  cmd/podman/cliconfig/config.go
  cmd/podman/generate.go
  cmd/podman/generate_systemd.go
  cmd/podman/varlink/io.podman.varlink
  docs/podman-generate-systemd.1.md
  docs/podman-generate.1.md
  libpod/container_graph.go
  libpod/container_graph_test.go
  libpod/container_internal.go
  libpod/pod_api.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/systemdgen/systemdgen.go
  pkg/systemdgen/systemdgen_test.go
  pkg/varlinkapi/generate.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm, size/XL

#3844 Fix link format in rootless_tutorial.md.
  docs/tutorials/rootless_tutorial.md
Labels: approved, lgtm, ok-to-test, size/XS

#3845 Fix minor typos in podman-run docs.
  docs/podman-run.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#3877 Update cni config instructions
  cni/README.md
  install.md
  test/README.md
Labels: approved, lgtm, size/M

#3755 Adjust name of Podman CNI network bridge
  cni/87-podman-bridge.conflist
Labels: Release Notes 1.5.2, approved, lgtm, size/M

#3824 Create framework for varlink endpoint integration tests
  .cirrus.yml
  .gitignore
  Makefile
  contrib/cirrus/integration_test.sh
  contrib/cirrus/setup_environment.sh
  test/endpoint/config.go
  test/endpoint/endpoint.go
  test/endpoint/endpoint_suite_test.go
  test/endpoint/exists_test.go
  test/endpoint/pull_test.go
  test/endpoint/setup.go
  test/endpoint/version_test.go
Labels: approved, lgtm, size/XL

#3883 clean up after remote build
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/XS

#3886 add iproute to podman in podman image
  Dockerfile.fedora
Labels: approved, lgtm, size/XS

#3888 Update varlink doc and code for images
  API.md
  cmd/podman/shared/create.go
  cmd/podman/varlink/io.podman.varlink
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/S

#3895 Backport fixes for v1.4.2 branch
  libpod/events/journal_linux.go
  version/version.go
Labels: approved, lgtm, size/S

#3887 podman cp: big set of system tests
  test/system/065-cp.bats
Labels: approved, lgtm, size/L

#3889 Test build snap with Cirrus CI
  .cirrus.yml
Labels: approved, lgtm, ok-to-test, size/S

#3898 image: remove unused Decompose method
  libpod/image/image.go
Labels: approved, lgtm, size/XS

#3823 Cirrus: Enable VM image housekeeping
  .cirrus.yml
  contrib/imgprune/entrypoint.sh
Labels: approved, lgtm, size/M

#3710 Release redo
  .cirrus.yml
  .gitignore
  Makefile
  README.md
  contrib/cirrus/build_release.sh
  contrib/cirrus/cache_release_archive.sh
  contrib/cirrus/cirrus_yaml_test.py
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/uncache_release_archives.sh
  contrib/cirrus/unit_test.sh
  contrib/cirrus/upload_release_archive.sh
  contrib/imgts/lib_entrypoint.sh
  contrib/upldrel/Dockerfile
  contrib/upldrel/README.md
  contrib/upldrel/entrypoint.sh
  hack/get_release_info.sh
Labels: approved, lgtm, size/XL

#3907 dont panic when using varlink commit and uppercase image names
  pkg/varlinkapi/images.go
  test/endpoint/commit.go
  test/endpoint/endpoint.go
  test/endpoint/exists_test.go
Labels: approved, lgtm, size/M

#3908 man: events-logger → events-backend
  docs/podman.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#3913 Fix links to manpages
  docs/links/podman-container-umount.1
  docs/links/podman-container-unmount.1
Labels: approved, lgtm, ok-to-test, size/XS

#3911 Makefile: use go proxy
  Makefile
Labels: approved, lgtm, size/XS
