Repository containers/podman, pull requests merged in 2019-10, with the labels that each got.

#4155 Bump to v1.6.0
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/M

#4154 Cirrus: Show names/versions of critical packages
  .cirrus.yml
  contrib/cirrus/logcollector.sh
Labels: approved, lgtm, size/M

#4157 network: add workaround for slirp4netns --enable-sandbox issue
  libpod/networking_linux.go
Labels: approved, lgtm, size/XS

#4140 install.md: add libbtrfs-dev for Debian build
  install.md
Labels: approved, lgtm, size/XS

#4166 rootless: set DBUS_SESSION_BUS_ADDRESS if it is not set
  libpod/runtime.go
Labels: approved, lgtm, size/XS

#4168 system tests: reenable skipped tests
  test/system/055-rm.bats
  test/system/065-cp.bats
Labels: approved, lgtm, size/XS

#4171 rootless: allow cgroupfs manager on cgroups v2
  pkg/spec/spec.go
Labels: approved, lgtm, size/XS

#4170 Bump to v1.6.1-RC1
  Makefile
  changelog.txt
Labels: approved, lgtm, size/S

#4176 Update release notes for v1.6.1
  RELEASE_NOTES.md
Labels: approved, lgtm, size/XS

#4177 Bump to v1.6.1
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/S

#4169 Add api link to tutorials
  docs/tutorials/README.md
  docs/tutorials/podman-derivative-api.md
Labels: approved, lgtm, size/XS

#4179 system tests: info: deal with hyphen in username
  test/system/005-info.bats
Labels: approved, lgtm, size/XS

#4173 Podman 1.6.0 has been released, update the README
  README.md
Labels: approved, lgtm, size/XS

#4174 System-tests: Use bash explicitly
  test/system/400-unprivileged-access.bats
Labels: approved, lgtm, size/XS

#4161 Handle environment variables from podman-machine
  cmd/podman/cliconfig/config.go
  cmd/podman/main_remote.go
  cmd/podman/remoteclientconfig/config.go
  cmd/podman/remoteclientconfig/configfile_test.go
  docs/podman-remote.conf.5.md
  pkg/adapter/client.go
  pkg/adapter/client_unix.go
  pkg/adapter/client_windows.go
Labels: approved, lgtm, ok-to-test, size/M

#4188 podman network create: validate user input
  cmd/podman/network_create.go
  libpod/options.go
  test/e2e/network_create_test.go
Labels: approved, lgtm, ok-to-test, size/M

#3549 Add ability to evict a container
  API.md
  cmd/podman/rm.go
  cmd/podman/varlink/io.podman.varlink
  docs/podman-rm.1.md
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/define/errors.go
  libpod/in_memory_state.go
  libpod/runtime_cstorage.go
  libpod/runtime_ctr.go
  libpod/state.go
  libpod/state_test.go
  libpod/util_linux.go
  libpod/util_unsupported.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/containers.go
Labels: approved, lgtm, ok-to-test, size/XL

#4186 Cirrus: Simplify package NVR logging
  contrib/cirrus/logcollector.sh
Labels: approved, lgtm, size/M

#4180 Docs: Update links, add links to latest
  README.md
  contrib/upldrel/entrypoint.sh
Labels: approved, lgtm, size/S

#4196 When evicting containers, perform a normal remove first
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/S

#4032 Setup a reasonable default for pids-limit 4096
  cmd/podman/common.go
  cmd/podman/shared/create.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  pkg/spec/spec.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
Labels: approved, lgtm, size/M

#4189 Cirrus: Install conmon in Fedora VMs
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/fedora_setup.sh
Labels: approved, lgtm, size/M

#4218 io.podman.socket: drop Also=multi-user.target
  contrib/varlink/io.podman.socket
Labels: approved, lgtm, size/XS

#4200 Respect --sig-proxy flag with podman start --attach
  cmd/podman/start.go
Labels: approved, lgtm, size/XS

#4222 Cirrus: Produce and collect varlink output
  .cirrus.yml
  Makefile
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
Labels: approved, lgtm, size/S

#4225 rootless: automatically recreate the pause.pid file
  cmd/podman/main_local.go
  libpod/boltdb_state.go
  pkg/rootless/rootless.go
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm, size/M

#4216 catch runc v2 error
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#4197 vendor c/psgo@v1.3.2
  go.mod
  go.sum
  vendor/github.com/containers/psgo/.travis.yml
  vendor/github.com/containers/psgo/Makefile
  vendor/github.com/containers/psgo/go.mod
  vendor/github.com/containers/psgo/go.sum
  vendor/github.com/containers/psgo/internal/cgroups/cgroups.go
  vendor/github.com/containers/psgo/internal/proc/pids.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#4181 Raise start_test polling interval
  test/e2e/start_test.go
Labels: approved, lgtm, size/XS

#4206 systemd: expect full path /usr/sbin/init
  API.md
  cmd/podman/cliconfig/defaults.go
  cmd/podman/common.go
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  cmd/podman/shared/intermediate_varlink.go
  cmd/podman/varlink/io.podman.varlink
  docs/podman-create.1.md
  docs/podman-derivative-api
  docs/podman-run.1.md
  pkg/spec/createconfig.go
  test/e2e/systemd_test.go
Labels: approved, lgtm, size/L

#4223 show uid_map in podman info
  libpod/info.go
  pkg/rootless/rootless_linux.go
  pkg/rootless/rootless_unsupported.go
Labels: approved, lgtm, size/S

#4205 troubleshooting: fix useradd no-log-init argument
  troubleshooting.md
Labels: approved, lgtm, ok-to-test, size/XS

#4231 Make user io.podman.service unit WantedBy=default.target
  Makefile
Labels: approved, lgtm, size/XS

#4235 rootless: do not set PIDs limit if --cgroup-manager=cgroupfs
  pkg/spec/spec.go
Labels: approved, lgtm, size/S

#4232 Fix default path for auth.json
  cmd/podman/shared/funcs.go
Labels: approved, lgtm, needs-ok-to-test, size/XS

#4201 Update build man page with latest Buildah changes
  cmd/podman/build.go
  cmd/podman/utils.go
  docs/podman-build.1.md
  docs/podman.1.md
Labels: approved, lgtm, size/L

#4237 container: initialize results list
  cmd/podman/shared/container.go
  test/e2e/ps_test.go
Labels: approved, lgtm, size/S

#4221 Migrate can move containers to a user-defined runtime
  cmd/podman/cliconfig/config.go
  cmd/podman/libpodruntime/runtime.go
  cmd/podman/system_migrate.go
  docs/podman-system-migrate.1.md
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_migrate.go
Labels: approved, lgtm, size/M

#4172 [1.4.2-stable] Stop glob-ing on podman cp
  cmd/podman/cp.go
Labels: approved, lgtm, size/S

#4220 Move OCI runtime implementation behind an interface
  libpod/container.go
  libpod/container_api.go
  libpod/container_commit.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_internal_unsupported.go
  libpod/healthcheck.go
  libpod/info.go
  libpod/networking_linux.go
  libpod/oci.go
  libpod/oci_attach_linux.go
  libpod/oci_conmon_linux.go
  libpod/oci_conmon_unsupported.go
  libpod/oci_internal_linux.go
  libpod/oci_linux.go
  libpod/oci_unsupported.go
  libpod/oci_util.go
  libpod/pod_api.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  pkg/adapter/containers.go
  pkg/adapter/terminal_linux.go
  pkg/varlinkapi/containers.go
Labels: approved, lgtm, size/XXL

#4238 tests: enable ps --size tests for rootless
  test/e2e/ps_test.go
Labels: approved, lgtm, size/XS

#4243 Touch up bad math in run man page
  docs/podman-run.1.md
Labels: approved, lgtm, size/XS

#4233 Allow giving path to Podman for cleanup command
  pkg/spec/createconfig.go
Labels: approved, lgtm, size/S

#4253 Fix sample's JSON syntax error in oci-hooks.5.md
  pkg/hooks/docs/oci-hooks.5.md
Labels: approved, lgtm, ok-to-test, size/XS

#4245 images: empty list is valid json with --format=json
  cmd/podman/images.go
  test/e2e/images_test.go
Labels: approved, lgtm, size/S

#4229 change error wording when conmon fails without logs
  libpod/oci_conmon_linux.go
Labels: approved, lgtm, size/XS

#4262 Unwrap errors before comparing them
  libpod/container_internal.go
  libpod/runtime_cstorage.go
  libpod/runtime_img.go
Labels: approved, lgtm, size/S

#4215 Add squash-all, fix squash option in build
  cmd/podman/build.go
  cmd/podman/cliconfig/create.go
  completions/bash/podman
  docs/podman-build.1.md
Labels: approved, lgtm, size/M

#4261 vendor github.com/containers/storage@v1.13.5
  go.mod
  go.sum
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/.golangci.yml
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/config/config.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile_unix.go
  vendor/github.com/containers/storage/pkg/ostree/no_ostree.go
  vendor/github.com/containers/storage/pkg/ostree/ostree.go
  vendor/github.com/containers/storage/storage.conf
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#4267 systemd: accept also /sbin/init
  cmd/podman/shared/create.go
  docs/podman-create.1.md
  docs/podman-run.1.md
Labels: approved, lgtm, size/S

#4195 inspect: rename ImageID go field to Image
  cmd/podman/inspect.go
  libpod/container_inspect.go
  test/e2e/inspect_test.go
Labels: approved, lgtm, size/S

#4256 Ensure volumes can be removed when they fail to unmount
  libpod/define/errors.go
  libpod/runtime_volume_linux.go
  libpod/volume_internal_linux.go
Labels: approved, lgtm, size/M

#4272 rootless v2 cannot collect network stats
  docs/podman-stats.1.md
  libpod/networking_linux.go
Labels: approved, lgtm, size/XS

#4273 Add a MissingRuntime implementation
  libpod/boltdb_state_internal.go
  libpod/container_api.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_conmon_linux.go
  libpod/oci_missing.go
  test/system/005-info.bats
Labels: approved, lgtm, size/L

#4270 Fix output message for "podman start" command.
  pkg/adapter/containers.go
Labels: approved, lgtm, ok-to-test, size/XS

#4278 Add release notes for Podman 1.6.2
  RELEASE_NOTES.md
Labels: approved, lgtm, size/M

#4280 Bump to v1.6.2-RC1
  Makefile
  changelog.txt
Labels: approved, lgtm, size/M

#4279 rootless: drop dependency on docker
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm, size/S

#4199 Refactor tests when checking for error exit codes
  test/e2e/checkpoint_test.go
  test/e2e/cp_test.go
  test/e2e/create_staticip_test.go
  test/e2e/create_test.go
  test/e2e/exec_test.go
  test/e2e/export_test.go
  test/e2e/generate_kube_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/inspect_test.go
  test/e2e/kill_test.go
  test/e2e/load_test.go
  test/e2e/login_logout_test.go
  test/e2e/logs_test.go
  test/e2e/negative_test.go
  test/e2e/network_create_test.go
  test/e2e/pause_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/pod_kill_test.go
  test/e2e/pod_pause_test.go
  test/e2e/pod_ps_test.go
  test/e2e/pod_rm_test.go
  test/e2e/pod_stats_test.go
  test/e2e/port_test.go
  test/e2e/ps_test.go
  test/e2e/pull_test.go
  test/e2e/push_test.go
  test/e2e/rmi_test.go
  test/e2e/run_cpu_test.go
  test/e2e/run_device_test.go
  test/e2e/run_dns_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_ns_test.go
  test/e2e/run_staticip_test.go
  test/e2e/run_test.go
  test/e2e/run_volume_test.go
  test/e2e/runlabel_test.go
  test/e2e/save_test.go
  test/e2e/start_test.go
  test/e2e/volume_create_test.go
  test/e2e/volume_rm_test.go
  test/utils/matchers.go
  test/utils/utils.go
  vendor/modules.txt
Labels: approved, kind/test-flake, lgtm, size/L

#4271 Attach to container if it was created with --interactive
  pkg/adapter/containers.go
Labels: approved, lgtm, ok-to-test, size/XS

#4290 Finalize release notes for v1.6.2
  RELEASE_NOTES.md
Labels: approved, lgtm, size/XS

#4292 Bump to v1.6.2
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/S

#4282 System tests: make sure exec pid hash w/o leaking
  test/system/075-exec.bats
  test/system/helpers.bash
Labels: approved, lgtm, ok-to-test, size/M

#4241 play kube: refactor test suite
  test/e2e/play_kube_test.go
Labels: approved, lgtm, size/L

#4269 rootless: do not enable lingering mode
  libpod/runtime.go
  pkg/rootless/rootless_linux.go
  pkg/rootless/rootless_unsupported.go
  troubleshooting.md
Labels: approved, lgtm, size/L

#4297 README.md update latest version to 1.6.2
  README.md
Labels: approved, lgtm, ok-to-test, size/XS

#4125 Add ability to redirect bash for run -i
  cmd/podman/run.go
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/attach.go
  pkg/varlinkapi/virtwriter/virtwriter.go
Labels: approved, lgtm, size/M

#4309 rootless: write storage overrides to the conf file
  libpod/runtime.go
  pkg/util/utils.go
Labels: approved, lgtm, size/M

#4284 Show volume options in 'volume inspect'
  API.md
  cmd/podman/varlink/io.podman.varlink
  libpod/volume_inspect.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/volumes.go
  test/e2e/volume_inspect_test.go
Labels: approved, lgtm, size/M

#4313 exec: remove unused var
  libpod/oci_conmon_linux.go
Labels: approved, lgtm, size/XS

#4299 Markdown Formatting Fixes
  docs/tutorials/rootless_tutorial.md
Labels: approved, lgtm, ok-to-test, size/XS

#4287 Add support for anonymous volumes to `podman run -v`
  docs/podman-create.1.md
  docs/podman-run.1.md
  libpod/runtime_ctr.go
  pkg/adapter/containers.go
  pkg/spec/storage.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm, size/L

#4321 Initial checking for readthedocs
  Makefile
  docs/rtd/Makefile
  docs/rtd/make.bat
  docs/rtd/source/conf.py
  docs/rtd/source/index.rst
Labels: approved, lgtm, size/L

#4275 stats: list all running containers unless specified otherwise
  cmd/podman/stats.go
  test/e2e/stats_test.go
  test/system/015-help.bats
Labels: approved, lgtm, size/S

#4322 add pip requirements file for rtd
  docs/rtd/requirements.txt
Labels: approved, lgtm, size/XS

#4298 Add parsing for UID, GID in volume "o" option
  cmd/podman/shared/volumes_shared.go
  cmd/podman/volume_create.go
  libpod/options.go
  pkg/adapter/runtime.go
  pkg/varlinkapi/volumes.go
  test/e2e/volume_create_test.go
Labels: approved, lgtm, size/L

#4329 Image volumes should not be mounted noexec
  pkg/spec/storage.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm, size/S

#4228 rootless: detect no system session with --cgroup-manager=systemd
  cmd/podman/main_local.go
  libpod/runtime.go
  pkg/spec/spec.go
Labels: approved, lgtm, size/M

#4330 Add documentation on options to volume create manpage
  docs/podman-volume-create.1.md
Labels: approved, lgtm, size/S

#4339 Initial dump of man pages and first menus
  docs/rtd/Makefile
  docs/rtd/source/Commands.rst
  docs/rtd/source/Introduction.rst
  docs/rtd/source/Reference.rst
  docs/rtd/source/Tutorials.rst
  docs/rtd/source/conf.py
  docs/rtd/source/index.rst
  docs/rtd/source/man/generate.rst
  docs/rtd/source/man/healthcheck.rst
  docs/rtd/source/man/image.rst
  docs/rtd/source/man/managecontainers.rst
  docs/rtd/source/man/network.rst
  docs/rtd/source/man/play.rst
  docs/rtd/source/man/pod.rst
  docs/rtd/source/man/system.rst
  docs/rtd/source/man/volume.rst
Labels: approved, lgtm, size/L

#4333 rootless: raise an error with --network=
  libpod/options.go
Labels: approved, lgtm, size/XS

#4342 Add multiple networks explanation to docs
  docs/podman-create.1.md
  docs/podman-run.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#4345 systemd: mask /sys/fs/cgroup/systemd/release_agent
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/XS

#4348 Cleanup man pages
  docs/podman-create.1.md
  docs/podman-run.1.md
Labels: approved, lgtm, size/S

#4291 check existing bridge names when creating networks
  pkg/network/devices.go
  pkg/network/files.go
Labels: approved, lgtm, size/M

#4347 Log warn instead of error for removing nonexistant container
  pkg/adapter/containers.go
Labels: approved, lgtm, ok-to-test, size/XS

#4331 Return a better error for volume name conflicts
  libpod/runtime_volume_linux.go
Labels: approved, lgtm, size/XS

#4355 Add ensureState helper for checking container state
  libpod/container.go
  libpod/container_api.go
  libpod/container_internal.go
Labels: approved, lgtm, size/M

#4350 libpod: if slirp4netns fails, return its stderr
  libpod/networking_linux.go
Labels: approved, lgtm, size/S

#4356 GitHub stale action
  .github/workflows/stale.yml
Labels: approved, lgtm, size/S

#4187 enable dnsplugin for network create
  cmd/podman/cliconfig/config.go
  cmd/podman/network_create.go
  completions/bash/podman
  docs/podman-network-create.1.md
  pkg/adapter/network.go
  pkg/network/config.go
  pkg/network/netconflist.go
Labels: approved, lgtm, size/M

#4360 Fix spelling mistakes
  pkg/adapter/containers.go
Labels: approved, lgtm, size/XS

#3792 require conmon v2.0.1
  .cirrus.yml
  Dockerfile
  libpod/runtime.go
Labels: approved, lgtm, size/M

#4366 Makefile: fix embedding gitCommit
  Makefile
Labels: approved, lgtm, size/XS

#4319 Cirrus: Only upload tagged releases
  contrib/cirrus/lib.sh
  contrib/cirrus/lib.sh.t
  contrib/cirrus/upload_release_archive.sh
Labels: approved, lgtm, size/M

#4377 seccomp: use github.com/seccomp/containers-golang
  go.mod
  pkg/spec/config_linux_cgo.go
  vendor/github.com/docker/docker/pkg/parsers/kernel/kernel.go
  vendor/github.com/docker/docker/pkg/parsers/kernel/kernel_darwin.go
  vendor/github.com/docker/docker/pkg/parsers/kernel/kernel_unix.go
  vendor/github.com/docker/docker/pkg/parsers/kernel/kernel_windows.go
  vendor/github.com/docker/docker/pkg/parsers/kernel/uname_linux.go
  vendor/github.com/docker/docker/pkg/parsers/kernel/uname_unsupported.go
  vendor/github.com/docker/docker/profiles/seccomp/default.json
  vendor/github.com/docker/docker/profiles/seccomp/generate.go
  vendor/github.com/docker/docker/profiles/seccomp/seccomp.go
  vendor/github.com/docker/docker/profiles/seccomp/seccomp_default.go
  vendor/github.com/docker/docker/profiles/seccomp/seccomp_unsupported.go
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/mksyscall.go
  vendor/golang.org/x/sys/windows/registry/syscall.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/registry/zsyscall_windows.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4369 goland autocorrections
  cmd/podman/import.go
  pkg/adapter/containers_remote.go
  pkg/network/subnet.go
  test/e2e/create_test.go
Labels: approved, lgtm, size/S

#4372 Processes execed into container should match container label
  libpod/oci_conmon_linux.go
  test/e2e/exec_test.go
  test/e2e/run_selinux_test.go
Labels: approved, lgtm, size/S

#4376 build: drop support for ostree
  .golangci.yml
  Dockerfile
  Dockerfile.centos
  Dockerfile.fedora
  Makefile
  contrib/build_rpm.sh
  contrib/cirrus/container_test.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/gate/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
  contrib/spec/podman.spec.in
  docs/podman-pull.1.md
  docs/podman-push.1.md
  hack/ostree_tag.sh
  install.md
  test/e2e/push_test.go
Labels: approved, lgtm, size/M

#4305 Wait for `mount` command to finish when mounting volume
  libpod/volume_internal_linux.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm, size/S

#4380 libpod, rootless: create cgroup for conmon
  libpod/oci_conmon_linux.go
Labels: approved, lgtm, size/XS

#4387 Bump to v1.6.3-rc1
  changelog.txt
Labels: approved, lgtm, size/M

#4382 Podman cp does not work when stdin is a pipe
  cmd/podman/cp.go
Labels: approved, lgtm, ok-to-test, size/S

#4394 container start: fix regression when using name
  pkg/adapter/containers.go
  test/e2e/start_test.go
Labels: approved, lgtm, size/M

#4352 refactor libpod config into libpod/config
  Makefile
  cmd/podman/build.go
  cmd/podman/main_local.go
  go.sum
  libpod/boltdb_state.go
  libpod/common_test.go
  libpod/config/config.go
  libpod/config/config_test.go
  libpod/config/default.go
  libpod/config/merge.go
  libpod/config/merge_test.go
  libpod/config/testdata/empty.conf
  libpod/config/testdata/libpod.conf
  libpod/container.go
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  libpod/define/config.go
  libpod/define/runtime.go
  libpod/in_memory_state.go
  libpod/oci_attach_linux.go
  libpod/oci_conmon_linux.go
  libpod/oci_conmon_unsupported.go
  libpod/oci_util.go
  libpod/options.go
  libpod/pod_internal.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/state.go
  libpod/state_test.go
  libpod/util.go
  pkg/spec/spec.go
  pkg/util/utils.go
Labels: approved, lgtm, size/XXL

#4384 Cirrus: Disable F29 testing
  .cirrus.yml
Labels: approved, lgtm, size/XS

#4399 logs: support --tail 0
  cmd/podman/cliconfig/config.go
  cmd/podman/logs.go
  docs/source/markdown/podman-logs.1.md
  libpod/container_log_linux.go
  libpod/logs/log.go
  pkg/adapter/containers.go
  pkg/varlinkapi/containers.go
  test/e2e/logs_test.go
Labels: approved, lgtm, size/M
