Repository containers/podman, pull requests merged in 2019-07, with the labels that each got.

#3324 libpod: specify a detach keys sequence in libpod.conf
  cmd/podman/attach.go
  cmd/podman/common.go
  cmd/podman/start.go
  docs/libpod.conf.5.md
  docs/podman-attach.1.md
  docs/podman-create.1.md
  docs/podman-run.1.md
  docs/podman-start.1.md
  libpod.conf
  libpod/container_api.go
  libpod/container_attach_linux.go
  libpod/container_attach_unsupported.go
  libpod/runtime.go
  pkg/adapter/containers.go
  utils/utils.go
Labels: approved, lgtm, ok-to-test, size/L

#3468 rootless: do not join namespace if it has already euid == 0
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/XS

#3469 Update to containers/storage v1.12.13
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/quota/projectquota.go
  vendor/github.com/containers/storage/drivers/quota/projectquota_unsupported.go
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/modules.txt
Labels: approved, lgtm, size/M

#3473 Update release notes for 1.4.4
  RELEASE_NOTES.md
Labels: approved, lgtm, size/S

#3471 cgroups v2: fix cpu time
  libpod/stats.go
  pkg/cgroups/cgroups.go
  pkg/cgroups/cpu.go
Labels: approved, lgtm, size/S

#3461 Ensure locks are freed when ctr/pod creation fails
  RELEASE_NOTES.md
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
Labels: approved, lgtm, size/M

#3465 configure runtime without store
  cmd/podman/exec.go
  cmd/podman/exists.go
  cmd/podman/libpodruntime/runtime.go
  libpod/options.go
  libpod/runtime.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
Labels: approved, lgtm, size/M

#3477 Fix rootless detection error for pause & unpause
  cmd/podman/pause.go
  cmd/podman/unpause.go
Labels: approved, lgtm, size/S

#3479 Bump to v1.4.4
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/M

#3484 Bump current version in README
  README.md
Labels: approved, lgtm, size/XS

#3483 Store and print PID of conmon
  libpod/container.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_linux.go
Labels: approved, lgtm, size/M

#3437 build: allow to build without cgo on RISC-V
  .cirrus.yml
  Makefile
  docs/libpod.conf.5.md
  go.mod
  go.sum
  libpod.conf
  libpod/container_attach_linux.go
  libpod/container_attach_linux_cgo.go
  libpod/container_attach_linux_nocgo.go
  libpod/lock/file/file_lock.go
  libpod/lock/file/file_lock_test.go
  libpod/lock/file_lock_manager.go
  libpod/lock/shm/shm_lock.go
  libpod/lock/shm/shm_lock_nocgo.go
  libpod/runtime.go
  pkg/rootless/rootless_linux.go
  pkg/rootless/rootless_unsupported.go
  pkg/spec/config_linux.go
  pkg/spec/config_linux_cgo.go
  pkg/spec/config_linux_nocgo.go
  vendor/github.com/containers/psgo/Makefile
  vendor/github.com/containers/psgo/go.mod
  vendor/github.com/containers/psgo/go.sum
  vendor/github.com/containers/psgo/internal/host/host.go
  vendor/github.com/containers/psgo/internal/host/host_cgo.go
  vendor/github.com/containers/psgo/internal/host/host_nocgo.go
  vendor/github.com/containers/psgo/internal/process/process.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#3486 Vendor latest OCICNI version
  go.mod
  go.sum
  libpod/networking_linux.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/types.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3242 Updated install.md for Manjaro Linux
  install.md
Labels: approved, lgtm, ok-to-test, size/S

#3493 ps should use nostore when possible
  cmd/podman/ps.go
Labels: approved, lgtm, size/M

#3495 trivial cleanups from golang
  cmd/podman/build.go
  cmd/podman/cp.go
  cmd/podman/history.go
  cmd/podman/images.go
  cmd/podman/pod_kill.go
  cmd/podman/pod_stats.go
  cmd/podman/pull.go
  cmd/podman/run.go
  cmd/podman/shared/container.go
  cmd/podman/shared/container_inspect.go
  cmd/podman/tree.go
  libpod/container_internal.go
  libpod/image/pull.go
  libpod/lock/shm/shm_lock.go
  pkg/hooks/0.1.0/hook.go
  pkg/hooks/1.0.0/when_test.go
  pkg/logs/logs.go
  pkg/rootless/rootless_linux.go
  pkg/sysinfo/sysinfo_test.go
  pkg/tracing/tracing.go
  pkg/trust/trust.go
Labels: approved, lgtm, size/M

#3472 generate kube with volumes
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/L

#3505 get last container event
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/journal_linux.go
Labels: approved, lgtm, size/M

#3512 CONTRIBUTING.md: fix project paths
  CONTRIBUTING.md
Labels: approved, lgtm, size/S

#3514 fix integration flake tests
  test/e2e/run_cleanup_test.go
  test/e2e/run_staticip_test.go
Labels: approved, lgtm, size/M

#3496 code cleanup
  Makefile
  libpod/boltdb_state_internal.go
  libpod/common_test.go
  libpod/container_attach_linux.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/kube.go
  libpod/networking_linux.go
  libpod/oci.go
  libpod/oci_linux.go
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_migrate.go
  libpod/stats.go
  libpod/util.go
  utils/utils.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#3377 Add RUN priv'd test for build
  test/system/070-build.bats
  test/system/README.md
  test/test_podman_baseline.sh
Labels: approved, lgtm, size/M

#3517 docs: fix --healthcheck-command option
  docs/podman-create.1.md
  docs/podman-run.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#3425 Set correct SELinux label on restored containers
  libpod/container.go
  libpod/container_internal.go
  libpod/runtime_ctr.go
  test/e2e/checkpoint_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3515 speed up rootless tests
  test/e2e/push_test.go
  test/e2e/rmi_test.go
  test/e2e/run_signal_test.go
  test/e2e/tree_test.go
Labels: approved, lgtm, size/S

#3497 Use conmon pidfile in generated systemd unit as PIDFile.
  docs/podman-generate-systemd.1.md
  libpod/runtime_ctr.go
  pkg/adapter/containers.go
  pkg/systemdgen/systemdgen.go
  pkg/systemdgen/systemdgen_test.go
  test/system/250-generate-systemd.bats
  test/system/helpers.bash
Labels: approved, lgtm, ok-to-test, size/L

#3519 Podman-remote usage message to display `podman-remote` instead of `podman`
  cmd/podman/main.go
Labels: approved, lgtm, size/XS

#1936 Cirrus: Use packaged-based dependencies
  .cirrus.yml
  contrib/cirrus/build_vm_images.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/libpod_images.yml
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/unit_test.sh
Labels: approved, lgtm, size/L

#3518 rootless.md: Include GPFS as a parallel filesystem
  rootless.md
Labels: approved, lgtm, ok-to-test, size/XS

#3528 podman: create and run honors auth file location
  cmd/podman/common.go
  cmd/podman/login.go
  cmd/podman/logout.go
  cmd/podman/play_kube.go
  cmd/podman/pull.go
  cmd/podman/push.go
  cmd/podman/runlabel.go
  cmd/podman/search.go
  cmd/podman/shared/create.go
  cmd/podman/shared/funcs.go
Labels: approved, lgtm, size/M

#3480 Restart failed containers in tests
  test/e2e/common_test.go
Labels: approved, lgtm, size/S

#3501 Randomize IP addresses during checkpoint/restore tests
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/M

#3529 healthcheck: support rootless mode
  libpod/healthcheck_linux.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3536 make localsystem: wipe all user config state
  Makefile
Labels: approved, lgtm, size/XS

#3506 cgroups: support creating cgroupsv2 paths
  pkg/cgroups/blkio.go
  pkg/cgroups/cgroups.go
  pkg/cgroups/cpu.go
  pkg/cgroups/cpuset.go
  pkg/cgroups/memory.go
  pkg/cgroups/pids.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3106 Cirrus: Automate releasing of tested binaries
  .cirrus.yml
  .gitignore
  Makefile
  contrib/cirrus/README.md
  contrib/cirrus/cache_release_archive.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/rootless_test.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/uncache_release_archives.sh
  contrib/cirrus/unit_test.sh
Labels: approved, lgtm, size/L

#3367 account for varlink calls that dont use more
  pkg/channelwriter/channelwriter.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/util.go
Labels: Release Notes 1.5.0, approved, lgtm, size/L

#3538 runtime: drop spurious message log
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/XS

#3527 Correctly set FinishedTime for checkpointed container
  libpod/container_internal_linux.go
Labels: Release Notes 1.5.0, approved, lgtm, size/XS

#3545 Cirrus: Fix #3543: Failure in 'release' task
  .cirrus.yml
Labels: approved, lgtm, size/S

#3554 cgroups: fix a leak when using cgroupfs
  pkg/cgroups/blkio.go
  pkg/cgroups/cgroups.go
  pkg/cgroups/cpu.go
  pkg/cgroups/cpuset.go
  pkg/cgroups/memory.go
  pkg/cgroups/pids.go
  test/e2e/pod_rm_test.go
Labels: approved, lgtm, size/M

#3470 Update the testing documentation with system tests.
  test/README.md
Labels: approved, lgtm, ok-to-test, size/S

#3491 podman: add --ulimit host
  docs/podman-create.1.md
  docs/podman-run.1.md
  pkg/spec/spec.go
  pkg/spec/spec_linux.go
  pkg/spec/spec_unsupported.go
  test/e2e/run_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3552 golangci-lint pass number 2
  cmd/podman/pod_ps.go
  cmd/podman/ps.go
  cmd/podman/shared/container.go
  cmd/podman/shared/create.go
  cmd/podman/shared/create_cli.go
  cmd/podman/stats.go
  cmd/podman/tree.go
  libpod/container.go
  libpod/container_api.go
  libpod/container_graph.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/events/filters.go
  libpod/events/nullout.go
  libpod/healthcheck_linux.go
  libpod/image/image.go
  libpod/image/pull.go
  libpod/kube.go
  libpod/logs/log.go
  libpod/networking_linux.go
  libpod/oci.go
  libpod/oci_linux.go
  libpod/options.go
  pkg/adapter/checkpoint_restore.go
  pkg/adapter/containers.go
  pkg/adapter/pods.go
  pkg/adapter/runtime.go
  pkg/adapter/terminal_linux.go
  pkg/netns/netns_linux.go
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm, size/L

#3558 Fix a bug where ctrs could not be removed from pods
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/S

#3557 Add support for --env-host
  CONTRIBUTING.md
  cmd/podman/common.go
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  cmd/podman/shared/parse/parse.go
  cmd/podman/system_df.go
  completions/bash/podman
  docs/podman-build.1.md
  docs/podman-cp.1.md
  docs/podman-create.1.md
  docs/podman-generate-kube.1.md
  docs/podman-generate-systemd.1.md
  docs/podman-image-sign.1.md
  docs/podman-load.1.md
  docs/podman-mount.1.md
  docs/podman-play-kube.1.md
  docs/podman-pod-create.1.md
  docs/podman-pod-stats.1.md
  docs/podman-run.1.md
  docs/podman-stats.1.md
  docs/podman-system-df.1.md
  docs/podman-volume-inspect.1.md
  install.md
  rootless.md
  test/e2e/run_test.go
Labels: approved, lgtm, size/L

#3534 Cirrus: Execute system-tests during image-validation
  .cirrus.yml
  contrib/cirrus/check_image.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm, size/S

#3537 fix bug convert volume host path to absolute
  pkg/spec/storage.go
Labels: approved, lgtm, size/XS

#3563 spec: fix userns with less than 5 gids
  pkg/spec/spec.go
Labels: approved, lgtm, size/M

#3564 cgroupsv2: do not enable controllers for the last component
  pkg/cgroups/cgroups.go
Labels: approved, lgtm, size/XS

#3530 Improves STD output/readability in combination
  libpod/image/pull.go
Labels: approved, lgtm, ok-to-test, size/XS

#3532 Ensure we have a valid store when we refresh
  libpod/runtime.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3531 Fix the double replySendFile()
  pkg/varlinkapi/transfers.go
Labels: approved, lgtm, ok-to-test, size/XS

#3574 Improve parser for --healthcheck-command
  cmd/podman/shared/create.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  test/e2e/common_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, ok-to-test, size/M

#3513 Binary bloat analyses
  Makefile
  dependencies/analyses/README.md
  dependencies/analyses/dependency-tree.sh
  dependencies/analyses/go-archive-analysis.sh
  dependencies/analyses/nm-symbols-analysis.sh
Labels: approved, lgtm, size/L

#3539 Fix handling of healthcheck from image
  cmd/podman/shared/create.go
  libpod/healthcheck.go
Labels: approved, lgtm, ok-to-test, size/M

#3546 Cirrus: Abstract destination branch refs.
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/notice_branch_failure.sh
Labels: approved, lgtm, size/M

#3508 Make the healthcheck flags compatible with Docker CLI
  cmd/podman/common.go
  cmd/podman/create.go
  cmd/podman/run.go
  cmd/podman/shared/intermediate.go
  cmd/podman/utils.go
  completions/bash/podman
  docs/podman-create.1.md
  docs/podman-run.1.md
  test/e2e/common_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/run_test.go
Labels: Release Notes 1.5.0, approved, lgtm, ok-to-test, size/M

#3548 Cirrus: Disable most periodic services/timers
  .cirrus.yml
  contrib/cirrus/check_image.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/fedora_base-setup.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/ubuntu_setup.sh
Labels: approved, lgtm, size/M

#3335 Cirrus: Print images that should be pruned
  .cirrus.yml
  contrib/cirrus/build_vm_images.sh
  contrib/imgprune/Dockerfile
  contrib/imgprune/README.md
  contrib/imgprune/entrypoint.sh
  contrib/imgts/Dockerfile
  contrib/imgts/entrypoint.sh
  contrib/imgts/lib_entrypoint.sh
Labels: approved, lgtm, size/L

#3583 spec: simplify handling of --ulimit host
  pkg/spec/spec.go
  pkg/spec/spec_linux.go
  pkg/spec/spec_unsupported.go
Labels: approved, lgtm, size/M

#3588 Fix play kube command
  pkg/adapter/pods.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm, size/L

#3522 Move the HostConfig portion of Inspect inside libpod
  cmd/podman/inspect.go
  cmd/podman/shared/container_inspect.go
  cmd/podman/shared/create.go
  go.mod
  libpod/container_inspect.go
  libpod/oci_linux.go
  pkg/spec/spec.go
  pkg/util/utils_linux.go
  pkg/util/utils_unsupported.go
  pkg/varlinkapi/containers.go
  test/e2e/common_test.go
  vendor/modules.txt
Labels: Release Notes 1.5.0, approved, lgtm, size/XXL

#3591 Tweak GOPATH-related symlinking
  Makefile
Labels: approved, lgtm, ok-to-test, size/XS

#3592 Add DefaultContent API to retrieve apparmor profile content
  pkg/apparmor/apparmor_linux.go
  pkg/apparmor/apparmor_linux_test.go
  pkg/apparmor/apparmor_unsupported.go
Labels: approved, lgtm, size/M

#3595 Remove exec PID files after use to prevent memory leaks
  libpod/container_api.go
Labels: Release Notes 1.5.0, approved, lgtm, size/XS

#3509 libpod: support for cgroup namespace
  cmd/podman/common.go
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  pkg/namespaces/namespaces.go
  pkg/spec/createconfig.go
  pkg/spec/spec.go
  test/e2e/run_ns_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/L

#3584 podman-remote make --size optional in ps
  API.md
  cmd/podman/varlink/io.podman.varlink
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/util.go
Labels: approved, lgtm, size/M

#3593 rootless: add host devices with --privileged
  pkg/spec/config_linux.go
  pkg/spec/spec.go
  test/e2e/run_device_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3600 Backport Exec memory leak fix
  libpod/container_api.go
Labels: approved, lgtm, size/XS

#3604 Bump to v1.0.3
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/XS

#3597 Cirrus: Minor scripting typo fix
  contrib/cirrus/notice_branch_failure.sh
Labels: approved, lgtm, size/XS

#3579 fix --dns and --network conflict
  cmd/podman/create.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  test/e2e/run_dns_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/M

#3443 Include changes to the container's root file-system in the checkpoint archive
  cmd/podman/checkpoint.go
  cmd/podman/cliconfig/config.go
  cmd/podman/restore.go
  completions/bash/podman
  docs/podman-container-checkpoint.1.md
  docs/podman-container-restore.1.md
  libpod/container_api.go
  libpod/container_internal_linux.go
  libpod/diff.go
  pkg/adapter/checkpoint_restore.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/L

#3599 support podman ps filter regular expressions
  cmd/podman/shared/container.go
  test/e2e/ps_test.go
Labels: approved, lgtm, size/M

#3590 Add support for listing read/only and read/write images
  API.md
  cmd/podman/imagefilters/filters.go
  cmd/podman/images.go
  cmd/podman/rmi.go
  cmd/podman/varlink/io.podman.varlink
  docs/podman-images.1.md
  libpod/image/image.go
  libpod/image/prune.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
  test/e2e/images_test.go
Labels: approved, lgtm, size/L

#3601 Cirrus: Fix post-merge env. var. not set.
  .cirrus.yml
Labels: approved, lgtm, size/S

#3610 Cleanup Pull Message
  libpod/image/pull.go
Labels: approved, lgtm, size/S

#3611 Remove debug message
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/XS

#3562 golangci-lint round #3
  .golangci.yml
  cmd/podman/build.go
  cmd/podman/cp.go
  cmd/podman/diff.go
  cmd/podman/history.go
  cmd/podman/images.go
  cmd/podman/info.go
  cmd/podman/inspect.go
  cmd/podman/pod_pause.go
  cmd/podman/pod_ps.go
  cmd/podman/pod_restart.go
  cmd/podman/pod_stats.go
  cmd/podman/pod_unpause.go
  cmd/podman/remoteclientconfig/configfile.go
  cmd/podman/search.go
  cmd/podman/shared/create.go
  cmd/podman/stats.go
  cmd/podman/system_df.go
  cmd/podman/trust_set_show.go
  cmd/podman/version.go
  cmd/podman/volume_ls.go
  libpod/container.go
  libpod/container_api.go
  libpod/container_attach_linux.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/errors.go
  libpod/healthcheck.go
  libpod/image/search.go
  libpod/kube.go
  libpod/oci.go
  libpod/oci_linux.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/stats.go
  pkg/adapter/checkpoint_restore.go
  pkg/adapter/containers.go
  pkg/adapter/pods.go
  pkg/adapter/runtime.go
  pkg/adapter/sigproxy_linux.go
  pkg/adapter/terminal_linux.go
  pkg/apparmor/apparmor_linux.go
  pkg/cgroups/cgroups.go
  pkg/ctime/ctime_linux.go
  pkg/firewall/iptables.go
  pkg/hooks/exec/runtimeconfigfilter.go
  pkg/rootless/rootless_linux.go
  pkg/spec/config_linux.go
  pkg/spec/parse.go
  pkg/sysinfo/sysinfo_linux.go
  pkg/varlinkapi/virtwriter/virtwriter.go
Labels: approved, lgtm, size/L

#3605 "mkdir -p /etc/cni/net.d" requires sudo
  install.md
Labels: approved, lgtm, ok-to-test, size/XS

#3598 vendor github.com/containers/image@v2.0.1
  go.mod
  go.sum
  hack/ostree_tag.sh
  vendor/github.com/containers/image/copy/copy.go
  vendor/github.com/containers/image/docker/docker_image_src.go
  vendor/github.com/containers/image/docker/tarfile/src.go
  vendor/github.com/containers/image/manifest/docker_schema1.go
  vendor/github.com/containers/image/manifest/docker_schema2.go
  vendor/github.com/containers/image/manifest/oci.go
  vendor/github.com/containers/image/ostree/ostree_dest.go
  vendor/github.com/containers/image/ostree/ostree_src.go
  vendor/github.com/containers/image/ostree/ostree_transport.go
  vendor/github.com/containers/image/pkg/docker/config/config.go
  vendor/github.com/containers/image/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/storage/storage_image.go
  vendor/github.com/containers/image/transports/alltransports/ostree.go
  vendor/github.com/containers/image/transports/alltransports/ostree_stub.go
  vendor/github.com/containers/image/types/types.go
  vendor/github.com/containers/image/version/version.go
  vendor/modules.txt
Labels: Release Notes 1.5.0, approved, lgtm, size/L

#3620 use conmon v1.0.0-rc2
  .cirrus.yml
  .copr/prepare.sh
  Dockerfile
  Dockerfile.centos
  Dockerfile.fedora
  contrib/spec/podman.spec.in
Labels: approved, lgtm, size/S

#3143 use conmon for exec
  .cirrus.yml
  API.md
  cmd/podman/cliconfig/config.go
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/exec.go
  cmd/podman/healthcheck_run.go
  cmd/podman/main.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  docs/podman-exec.1.md
  docs/podman-run.1.md
  libpod/container_api.go
  libpod/container_attach_linux.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/errors.go
  libpod/healthcheck.go
  libpod/oci.go
  libpod/oci_attach_linux.go
  libpod/oci_attach_linux_cgo.go
  libpod/oci_attach_linux_nocgo.go
  libpod/oci_attach_unsupported.go
  libpod/oci_internal_linux.go
  libpod/oci_linux.go
  libpod/oci_unsupported.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/adapter/terminal_linux.go
  pkg/varlinkapi/attach.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/virtwriter/virtwriter.go
  test/e2e/exec_test.go
Labels: Release Notes 1.5.0, approved, lgtm, size/XXL

#3621 golangci-lint phase 4
  .cirrus.yml
  Makefile
  cmd/podman/build.go
  cmd/podman/images.go
  libpod/container_inspect.go
  libpod/image/image.go
  pkg/adapter/terminal_linux.go
  pkg/util/utils_linux.go
Labels: approved, lgtm, size/M

#3623 Change wait to sleep in podmanimage readme
  contrib/podmanimage/README.md
Labels: approved, lgtm, size/XS

#3630 golangci-lint cleanup
  libpod/oci_attach_linux.go
  libpod/oci_internal_linux.go
  pkg/adapter/terminal_linux.go
Labels: approved, lgtm, size/S

#3619 Cirrus: Temp. workaround missing imgprune image
  .cirrus.yml
Labels: approved, lgtm, size/XS

#3634 Re-add int64 casts for ctime to fix 32-bit build
  pkg/ctime/ctime_linux.go
Labels: approved, lgtm, size/XS

#3638 Fixes issue #3577.
  cmd/podman/shared/container.go
Labels: approved, lgtm, ok-to-test, size/M

#3633 fix build --network=container
  cmd/podman/build.go
Labels: approved, lgtm, size/XS

#3624 Add remote exec
  API.md
  cmd/podman/exec.go
  cmd/podman/varlink/io.podman.varlink
  libpod/container_api.go
  libpod/define/exec_codes.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/adapter/terminal.go
  pkg/adapter/terminal_linux.go
  pkg/varlinkapi/attach.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/virtwriter/virtwriter.go
  test/e2e/exec_test.go
Labels: approved, lgtm, size/L

#3615 install.md: mention all build tags
  install.md
Labels: approved, lgtm, size/S

#3626 Fix a segfault on Podman no-store commands with refresh
  libpod/runtime.go
Labels: approved, lgtm, size/S

#3641 When retrieving volumes, only use exact names
  libpod/runtime_volume.go
Labels: approved, lgtm, size/S

#3622 fix import not ignoring url path
  cmd/podman/import.go
  cmd/podman/shared/parse/parse.go
Labels: Release Notes 1.5.0, approved, lgtm, size/S

#3631 Document SELinux label requirements for the rootfs argument
  docs/podman-run.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#3643 Fix possible runtime panic if image history len is zero
  libpod/image/image.go
Labels: approved, lgtm, size/XS

#3580 Improved hooks monitoring
  pkg/hooks/hooks.go
  pkg/hooks/monitor.go
  pkg/hooks/monitor_test.go
  pkg/hooks/read.go
Labels: Release Notes 1.5.0, approved, lgtm, size/L

#3645 Use systemd cgroups for Ubuntu
  test/e2e/common_test.go
Labels: approved, lgtm, size/XS

#3627 Documenation & make tar.gz for remote
  .gitignore
  Makefile
  docs/links/podman-container-cp.1
  docs/links/podman-container-init.1
  docs/links/podman-help.1
  docs/podman-remote.1.md
  docs/podman-remote.sh
Labels: approved, lgtm, size/L

#3632 Small cirrus and image-build fixes
  .cirrus.yml
  contrib/cirrus/build_vm_images.sh
  contrib/cirrus/check_image.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm, size/M

#3639 podman: support --userns=ns|container
  cmd/podman/shared/create.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/adapter/pods.go
  pkg/namespaces/namespaces.go
  pkg/spec/createconfig.go
  pkg/spec/spec.go
  test/e2e/run_userns_test.go
Labels: approved, lgtm, size/L

#3654 Update pause/unpause video links and demo
  commands.md
Labels: approved, lgtm

#3650 Cirrus: Remove fixed clone depth
  .cirrus.yml
Labels: approved, lgtm, size/XS

#3233 libpod/container_internal: Make all errors loading explicitly configured hook dirs fatal
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#3646 fix `podman -v` regression
  cmd/podman/main.go
  test/e2e/version_test.go
Labels: approved, lgtm, size/S

#3663 Move random IP code for tests from checkpoint to common
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/create_staticip_test.go
  test/e2e/run_staticip_test.go
Labels: approved, lgtm, size/M

#3660 Fix the syntax in the podman export documentation example
  docs/podman-export.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#3656 Fix commit --changes env=X=Y
  cmd/podman/shared/create.go
  libpod/container_commit.go
Labels: approved, lgtm, size/S

#3667 Allow info test to work with usernames w/dash
  test/system/005-info.bats
Labels: approved, lgtm, ok-to-test, size/XS

#3668 Touch up input argument error on create
  cmd/podman/shared/create.go
Labels: approved, lgtm, size/XS

#3661 Update libpod.conf to be more friendly to NixOS
  libpod.conf
  libpod/runtime.go
Labels: approved, lgtm, size/XS

#3665 Set -env variables as appropriate
  cmd/podman/shared/parse/parse.go
  docs/podman-create.1.md
  docs/podman-run.1.md
  test/e2e/run_test.go
Labels: approved, lgtm, size/M

#3672 Build fix for 32-bit systems.
  libpod/stats.go
Labels: approved, lgtm, ok-to-test, size/XS

#3682 Cirrus: Fix re-run of release task into no-op.
  .cirrus.yml
  Makefile
  contrib/cirrus/cache_release_archive.sh
  contrib/cirrus/cirrus_yaml_test.py
Labels: approved, lgtm, size/M
