Repository containers/podman, pull requests merged in 2019-01, with the labels that each got.

#2067 Use sprintf to generate port numbers while committing
  libpod/container_commit.go
Labels: approved, lgtm, size/XS

#2068 Log container command before starting the container
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#2065 Touch up some troubleshooting nits
  troubleshooting.md
Labels: approved, lgtm, size/S

#2071 vendor in new containers/storage
  vendor.conf
  vendor/github.com/containers/storage/drivers/devmapper/device_setup.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/archive_110.go
  vendor/github.com/containers/storage/pkg/archive/archive_19.go
  vendor/github.com/containers/storage/pkg/archive/archive_ffjson.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/vendor.conf
  vendor/github.com/klauspost/compress/LICENSE
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/copy.go
  vendor/github.com/klauspost/compress/flate/crc32_amd64.go
  vendor/github.com/klauspost/compress/flate/crc32_amd64.s
  vendor/github.com/klauspost/compress/flate/crc32_noasm.go
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/dict_decoder.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/huffman_code.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/flate/reverse_bits.go
  vendor/github.com/klauspost/compress/flate/snappy.go
  vendor/github.com/klauspost/compress/flate/token.go
  vendor/github.com/klauspost/cpuid/LICENSE
  vendor/github.com/klauspost/cpuid/README.md
  vendor/github.com/klauspost/cpuid/cpuid.go
  vendor/github.com/klauspost/cpuid/cpuid_386.s
  vendor/github.com/klauspost/cpuid/cpuid_amd64.s
  vendor/github.com/klauspost/cpuid/detect_intel.go
  vendor/github.com/klauspost/cpuid/detect_ref.go
  vendor/github.com/klauspost/cpuid/generate.go
  vendor/github.com/klauspost/pgzip/GO_LICENSE
  vendor/github.com/klauspost/pgzip/LICENSE
  vendor/github.com/klauspost/pgzip/README.md
  vendor/github.com/klauspost/pgzip/gunzip.go
  vendor/github.com/klauspost/pgzip/gzip.go
Labels: approved, lgtm, size/XXL

#2045 add init support
  API.md
  Makefile
  cmd/podman/common.go
  cmd/podman/create.go
  cmd/podman/varlink/io.podman.varlink
  docs/libpod.conf.5.md
  docs/podman-create.1.md
  docs/podman-run.1.md
  hack/install_catatonit.sh
  libpod.conf
  libpod/runtime.go
  pkg/spec/createconfig.go
  test/e2e/run_test.go
Labels: API, approved, lgtm, size/L

#1235 SHM locking for Libpod
  .cirrus.yml
  Makefile
  libpod/boltdb_state_internal.go
  libpod/common_test.go
  libpod/container.go
  libpod/container_easyjson.go
  libpod/container_graph_test.go
  libpod/container_internal.go
  libpod/lock/in_memory_locks.go
  libpod/lock/lock.go
  libpod/lock/shm/shm_lock.c
  libpod/lock/shm/shm_lock.go
  libpod/lock/shm/shm_lock.h
  libpod/lock/shm/shm_lock_test.go
  libpod/lock/shm_lock_manager_linux.go
  libpod/lock/shm_lock_manager_unsupported.go
  libpod/pod.go
  libpod/pod_easyjson.go
  libpod/pod_internal.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/runtime_volume_linux.go
  libpod/state_test.go
  libpod/volume.go
Labels: approved, lgtm, size/XXL

#2084 [skip ci] Docs: Add Bot Interactions section
  CONTRIBUTING.md
Labels: approved, lgtm, size/S

#2085 Readd Python testing
  Makefile
Labels: approved, lgtm, size/XS

#2090 Vendor in latest containers/buildah code
  vendor.conf
  vendor/github.com/containers/buildah/config.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/chroot_symlink.go
  vendor/github.com/containers/buildah/pkg/blobcache/blobcache.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/unshare/unshare.c
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/containers/image/copy/copy.go
  vendor/github.com/containers/image/directory/directory_dest.go
  vendor/github.com/containers/image/directory/directory_src.go
  vendor/github.com/containers/image/docker/docker_client.go
  vendor/github.com/containers/image/docker/docker_image_dest.go
  vendor/github.com/containers/image/docker/docker_image_src.go
  vendor/github.com/containers/image/docker/tarfile/dest.go
  vendor/github.com/containers/image/docker/tarfile/src.go
  vendor/github.com/containers/image/oci/archive/oci_dest.go
  vendor/github.com/containers/image/oci/archive/oci_src.go
  vendor/github.com/containers/image/oci/layout/oci_dest.go
  vendor/github.com/containers/image/oci/layout/oci_src.go
  vendor/github.com/containers/image/openshift/openshift.go
  vendor/github.com/containers/image/ostree/ostree_dest.go
  vendor/github.com/containers/image/ostree/ostree_src.go
  vendor/github.com/containers/image/pkg/blobinfocache/default.go
  vendor/github.com/containers/image/pkg/compression/compression.go
  vendor/github.com/containers/image/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/storage/storage_image.go
  vendor/github.com/containers/image/tarball/tarball_src.go
  vendor/github.com/containers/image/types/types.go
  vendor/github.com/containers/image/vendor.conf
  vendor/github.com/opencontainers/go-digest/LICENSE
  vendor/github.com/opencontainers/go-digest/README.md
  vendor/github.com/opencontainers/go-digest/algorithm.go
  vendor/github.com/opencontainers/go-digest/digest.go
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/README.md
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/gopkg.in/cheggaaa/pb.v1/README.md
  vendor/gopkg.in/cheggaaa/pb.v1/format.go
  vendor/gopkg.in/cheggaaa/pb.v1/pb.go
  vendor/gopkg.in/cheggaaa/pb.v1/pb_appengine.go
  vendor/gopkg.in/cheggaaa/pb.v1/pb_nix.go
  vendor/gopkg.in/cheggaaa/pb.v1/pb_solaris.go
  vendor/gopkg.in/cheggaaa/pb.v1/pb_win.go
  vendor/gopkg.in/cheggaaa/pb.v1/pb_x.go
  vendor/gopkg.in/cheggaaa/pb.v1/pool.go
  vendor/gopkg.in/cheggaaa/pb.v1/pool_win.go
  vendor/gopkg.in/cheggaaa/pb.v1/pool_x.go
  vendor/gopkg.in/cheggaaa/pb.v1/runecount.go
  vendor/gopkg.in/cheggaaa/pb.v1/termios_nix.go
  vendor/gopkg.in/cheggaaa/pb.v1/termios_sysv.go
Labels: approved, lgtm, size/XXL

#2089 Rootless with shmlocks was not working.
  libpod/lock/shm/shm_lock.go
  libpod/runtime.go
Labels: approved, lgtm, size/S

#2093 podman-login: adhere to user input
  cmd/podman/login.go
Labels: approved, lgtm, size/M

#2083 Address lingering review comments from SHM locking PR
  libpod/lock/lock.go
  libpod/lock/shm/shm_lock.go
  libpod/lock/shm/shm_lock_test.go
  libpod/lock/shm_lock_manager_linux.go
Labels: approved, lgtm, size/S

#2075 container runlabel NAME implementation
  cmd/podman/shared/container.go
  cmd/podman/shared/funcs.go
  libpod/image/parts.go
Labels: approved, lgtm, size/M

#2096 vendor latest buildah
  vendor.conf
  vendor/github.com/containers/buildah/common.go
  vendor/github.com/containers/buildah/util.go
Labels: approved, lgtm, size/M

#2098 Add ability to build golang remote client
  Makefile
  cmd/podman/info.go
  libpod/adapter/client.go
  libpod/adapter/info_remote.go
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  pkg/varlinkapi/system.go
Labels: approved, lgtm, size/L

#2100 Minor: Remove redundant basename command in ooe.sh
  contrib/cirrus/ooe.sh
Labels: approved, lgtm, size/XS

#2064 Honor image environment variables with exec
  cmd/podman/exec.go
Labels: approved, bug, lgtm, size/S

#2101 vendor latest buildah
  vendor.conf
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/pkg/blobcache/blobcache.go
Labels: approved, lgtm, size/S

#2076 If local storage file exists, then use it rather then defau…
  pkg/util/utils.go
Labels: approved, lgtm, size/XS

#2099 Rename libpod.Config back to ContainerConfig
  cmd/podman/shared/container.go
  libpod/boltdb_state.go
  libpod/common_test.go
  libpod/container.go
  libpod/container_easyjson.go
  libpod/container_internal_test.go
  libpod/runtime_ctr.go
  libpod/state_test.go
Labels: approved, lgtm, size/M

#2094 Mention the default --sig-proxy value for 'podman start'
  cmd/podman/start.go
  docs/podman-start.1.md
  test/e2e/start_test.go
Labels: approved, lgtm, size/S

#2097 Add a --workdir option to 'podman exec'
  cmd/podman/common.go
  cmd/podman/exec.go
  completions/bash/podman
  docs/podman-exec.1.md
  libpod/container_api.go
  libpod/oci.go
  test/e2e/exec_test.go
Labels: approved, lgtm, size/M

#1830 hooks: Add pre-create hooks for runtime-config manipulation
  docs/libpod.conf.5.md
  docs/podman.1.md
  libpod/container_internal.go
  libpod/container_internal_linux.go
  pkg/hooks/exec/exec.go
  pkg/hooks/exec/exec_test.go
  pkg/hooks/exec/runtimeconfigfilter.go
  pkg/hooks/exec/runtimeconfigfilter_test.go
Labels: approved, lgtm, size/L

#2103 List the long variant of each option before its shorter counterpart
  docs/podman-create.1.md
  docs/podman-run.1.md
Labels: approved, lgtm, size/M

#2087 .github/ISSUE_TEMPLATE: Suggest '/kind bug' and '/kind feature'
  .github/ISSUE_TEMPLATE.md
Labels: approved, kind/feature, lgtm, size/XS

#2061 Use existing interface to request IP address during restore
  libpod/container.go
  libpod/container_easyjson.go
  libpod/container_internal_linux.go
  libpod/networking_linux.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/M

#2040 Support podman image sign
  cmd/podman/image.go
  cmd/podman/sign.go
  docs/podman-image-sign.1.md
  docs/podman-image.1.md
Labels: approved, lgtm, size/L

#2115 If you fail to open shm lock then attempt to create it
  libpod/runtime.go
Labels: approved, lgtm, size/S

#2114 apparmor: apply default profile at container initialization
  cmd/podman/create.go
  libpod/container.go
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  pkg/apparmor/apparmor.go
  pkg/apparmor/apparmor_linux.go
  pkg/apparmor/apparmor_unsupported.go
  pkg/spec/spec.go
  pkg/sysinfo/sysinfo_linux.go~
Labels: approved, lgtm, size/L

#2095 Add Validate completions
  Makefile
Labels: approved, lgtm, size/XS

#2122 sign: some fixes
  cmd/podman/sign.go
Labels: approved, lgtm, size/S

#2121 createconfig: always cleanup a rootless container
  pkg/spec/createconfig.go
Labels: approved, lgtm, size/XS

#2128 Trivial readme updates
  README.md
Labels: approved, lgtm, size/XS

#2129 Cirrus: (Minor) Print timestamp
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm, size/S

#2126 podman: bump RLIMIT_NOFILE also without CAP_SYS_RESOURCE
  cmd/podman/main.go
  libpod/container_easyjson.go
Labels: approved, lgtm, size/S

#2127 fix up sigstore path
  cmd/podman/sign.go
Labels: approved, lgtm, size/XS

#2108 Fix 'image trust' from PR1899
  cmd/podman/trust.go
  pkg/trust/trust.go
Labels: approved, lgtm, size/L

#2120 Fix handling of nil volumes
  cmd/podman/create_cli.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/S

#2131 Use defaults if paths are not specified in storage.conf
  pkg/util/utils.go
Labels: approved, lgtm, size/S

#2134 Revert "Address lingering review comments from SHM locking PR"
  libpod/lock/lock.go
  libpod/lock/shm/shm_lock.go
  libpod/lock/shm/shm_lock_test.go
  libpod/lock/shm_lock_manager_linux.go
Labels: size/S

#2136 Revert #1235 SHM locking for v1.0
  .cirrus.yml
  Makefile
  libpod/boltdb_state_internal.go
  libpod/common_test.go
  libpod/container.go
  libpod/container_easyjson.go
  libpod/container_graph_test.go
  libpod/container_internal.go
  libpod/lock/in_memory_locks.go
  libpod/lock/lock.go
  libpod/lock/shm/shm_lock.c
  libpod/lock/shm/shm_lock.go
  libpod/lock/shm/shm_lock.h
  libpod/lock/shm/shm_lock_test.go
  libpod/lock/shm_lock_manager_linux.go
  libpod/lock/shm_lock_manager_unsupported.go
  libpod/pod.go
  libpod/pod_easyjson.go
  libpod/pod_internal.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/runtime_volume_linux.go
  libpod/state_test.go
  libpod/volume.go
Labels: size/XXL

#2113 remote-client support for images
  cmd/podman/imagefilters/filters.go
  cmd/podman/images.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/images_remote.go
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/image/image.go
  libpod/image/parts.go
  libpod/image/parts_test.go
  libpod/image/pull.go
  libpod/image/utils.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/L

#2135 Add varlink support for prune
  API.md
  cmd/podman/images_prune.go
  cmd/podman/shared/prune.go
  cmd/podman/varlink/io.podman.varlink
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/M

#2140 Regenerate EasyJSON to fix JSON issues
  Makefile
  libpod/container_easyjson.go
Labels: approved, lgtm, size/XXL

#2144 Update release notes for v1.0
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm, size/M

#2146 Bump to v1.0
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: size/L

#2138 rootless: fix usage of create --pod=new:FOO
  cmd/podman/create.go
  libpod/container_internal_linux.go
Labels: approved, lgtm, size/S

#2145 podman play kube: add containers to pod
  Makefile
  cmd/podman/create.go
  cmd/podman/play_kube.go
  pkg/spec/createconfig.go
  pkg/varlinkapi/containers_create.go
Labels: approved, lgtm, size/M

#2148 Set default storage options from mounts.conf file.
  cmd/podman/libpodruntime/runtime.go
Labels: approved, lgtm, size/XS

#2008 Use multi-arch images in test cases
  test/test_podman_baseline.sh
  test/test_podman_pods.sh
Labels: approved, lgtm, size/M

#2137 Add troubleshooting statement for homedirs mounted noexec
  troubleshooting.md
Labels: approved, lgtm, size/S

#2141 Add darwin support for remote-client
  Makefile
  cmd/podman/exists.go
  cmd/podman/main.go
  cmd/podman/platform_linux.go
  cmd/podman/platform_unsupported.go
  cmd/podman/tag.go
  libpod/adapter/runtime_remote.go
  libpod/container_api.go
  libpod/container_attach_linux.go
  libpod/container_attach_unsupported.go
  libpod/lock/shm_lock_manager_unsupported.go
  libpod/runtime_volume_unsupported.go
  pkg/rootless/rootless_unsupported.go
  pkg/spec/config_unsupported.go
Labels: approved, lgtm, size/L

#2117 RFC: Mostly replace imageParts
  libpod/adapter/runtime_remote.go
  libpod/image/image.go
  libpod/image/image_test.go
  libpod/image/parts.go
  libpod/image/parts_test.go
  libpod/image/pull.go
  libpod/image/pull_test.go
  libpod/image/utils.go
Labels: approved, lgtm, size/L

#2152 Add local storage.conf example to troubleshoot
  troubleshooting.md
Labels: approved, lgtm, size/S

#2153 Update master branch with v1.0 changes from 1.0 branch
  RELEASE_NOTES.md
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/L

#2156 podman remote client -- add rmi
  cmd/podman/rmi.go
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  test/e2e/exists_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/rmi_test.go
Labels: approved, lgtm, size/M

#2160 Rename localRuntime to runtime in cmd/podman
  cmd/podman/exists.go
  cmd/podman/images.go
  cmd/podman/info.go
  cmd/podman/pull.go
  cmd/podman/tag.go
Labels: approved, lgtm, size/M

#2163 Cleanup coverity scan issues
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/XS

#2079 oci: allow to define multiple OCI runtimes
  docs/podman.1.md
  libpod.conf
  libpod/container.go
  libpod/info.go
  libpod/oci.go
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/L

#2169 Ensure that wait exits on state transition
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#2162 Vendor in latest containers/storage
  vendor.conf
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_freebsd.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_linux.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_solaris.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_unsupported.go
Labels: approved, lgtm, size/L

#2147 Update readme for v1.0.0
  Makefile
  README.md
Labels: approved, lgtm, size/XS

#2166 Installing podman
  install.md
Labels: approved, lgtm, size/M

#2165 Add --latest and --all to podman mount/umount
  cmd/podman/mount.go
  cmd/podman/umount.go
  completions/bash/podman
  docs/podman-mount.1.md
  docs/podman-rm.1.md
  docs/podman-umount.1.md
Labels: approved, lgtm, size/L

#2178 Add openSUSE Kubic to install.md
  install.md
Labels: approved, lgtm, size/XS

#2149 Add bridge support, for the varlink connection
  libpod/adapter/client.go
  vendor.conf
  vendor/github.com/varlink/go/.gitignore
  vendor/github.com/varlink/go/.travis.yml
  vendor/github.com/varlink/go/cmd/varlink/main.go
  vendor/github.com/varlink/go/varlink/bridge.go
  vendor/github.com/varlink/go/varlink/bridge_windows.go
  vendor/github.com/varlink/go/varlink/connection.go
  vendor/github.com/varlink/go/varlink/service.go
  vendor/github.com/varlink/go/varlink/socketactivation.go
  vendor/github.com/varlink/go/varlink/socketactivation_windows.go
Labels: approved, lgtm, size/XL

#2185 Do not unmarshal into c.config.Spec
  libpod/container.go
Labels: approved, lgtm, size/XS

#2181 podman-inspect: don't ignore errors
  cmd/podman/formats/formats.go
  cmd/podman/inspect.go
Labels: approved, lgtm, size/S

#2179 Vendor in latest containers/storage
  vendor.conf
  vendor/github.com/containers/storage/containers_ffjson.go
  vendor/github.com/containers/storage/drivers/aufs/aufs.go
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/devmapper/driver.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/template.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/drivers/windows/windows.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/images_ffjson.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/layers_ffjson.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
  vendor/github.com/containers/storage/store.go
Labels: approved, lgtm, size/L

#2176 Cirrus: Consolidate VM image names in once place
  .cirrus.yml
  hack/get_ci_vm.sh
Labels: approved, lgtm, size/M

#2183 podman-remote inspect
  API.md
  cmd/podman/inspect.go
  cmd/podman/shared/container.go
  cmd/podman/varlink/io.podman.varlink
  libpod/adapter/containers_remote.go
  libpod/adapter/images_remote.go
  libpod/adapter/runtime_remote.go
  libpod/boltdb_state.go
  libpod/boltdb_state_linux.go
  libpod/boltdb_state_unsupported.go
  libpod/common_test.go
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_test.go
  libpod/runtime_ctr.go
  pkg/varlinkapi/containers.go
  test/e2e/common_test.go
  test/e2e/inspect_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
Labels: approved, lgtm, size/L

#2184 Mask unimplemeted commands for remote client
  cmd/podman/commands.go
  cmd/podman/commands_remoteclient.go
  cmd/podman/container.go
  cmd/podman/image.go
  cmd/podman/main.go
  test/e2e/common_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
Labels: approved, lgtm, size/L

#2187 Vendor in latest opencontainers/selinux
  cmd/podman/create.go
  libpod/oci.go
  vendor.conf
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
Labels: approved, lgtm, size/L

#2177 cirrus: Record start/end time of important things
  contrib/cirrus/build_vm_images.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/unit_test.sh
Labels: approved, lgtm, size/M

#2198 Show a better error message when podman info fails during a refresh
  libpod/runtime.go
Labels: approved, lgtm, size/XS

#2203 remove sudo
  docs/tutorials/podman_tutorial.md
Labels: approved, lgtm, size/XS

#2069 Warn on overriding user-specified storage driver w/ DB
  libpod/runtime.go
Labels: approved, lgtm, size/XS

#2218 tutorials: describe how to use podman in updates-testing
  docs/tutorials/podman_tutorial.md
Labels: approved, lgtm, size/S

#2206 Cirrus: Use freshly built images
  .cirrus.yml
Labels: approved, lgtm, size/S

#2205 podman image prune -- implement all flag
  API.md
  cmd/podman/images_prune.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  docs/podman-image-prune.1.md
  libpod/adapter/runtime.go
  libpod/adapter/runtime_remote.go
  libpod/image/prune.go
  pkg/varlinkapi/images.go
  test/e2e/prune_test.go
Labels: approved, lgtm, size/L

#2225 Cirrus: Enable AppArmor build and test
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/system_test.sh
  contrib/cirrus/unit_test.sh
  pkg/apparmor/apparmor_linux.go
Labels: approved, lgtm, size/M

#2230 Make --quiet work in podman create/run
  cmd/podman/create.go
Labels: approved, lgtm, size/XS

#2242 Add support for short option -f
  cmd/podman/info.go
  completions/bash/podman
  docs/podman-info.1.md
Labels: approved, lgtm, size/XS

#2243 Add support for short option -s in podman inspect
  cmd/podman/inspect.go
  completions/bash/podman
  docs/podman-inspect.1.md
Labels: approved, lgtm, size/XS

#2244 Add support for short option -f in podman version
  cmd/podman/version.go
  completions/bash/podman
  docs/podman-version.1.md
Labels: approved, lgtm, size/XS
