Repository containers/podman, pull requests merged in 2019-11, with the labels that each got.

#4404 Refactor test to prevent panic
  cmd/podman/utils.go
Labels: approved, bug, lgtm, size/XS

#4400 Switch to bufio Reader for exec streams
  libpod/container_api.go
  libpod/healthcheck.go
  pkg/adapter/containers.go
  pkg/adapter/terminal_linux.go
  pkg/varlinkapi/attach.go
Labels: approved, lgtm, size/S

#4405 Vendor in latest containers/buildah
  go.mod
  go.sum
  libpod/container_internal_linux.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.golangci.yml
  vendor/github.com/containers/buildah/.papr.sh
  vendor/github.com/containers/buildah/.papr.yml
  vendor/github.com/containers/buildah/.travis.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/ostree_tag.sh
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/secrets/secrets.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/troubleshooting.md
  vendor/github.com/containers/buildah/util.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#4417 Release notes for v1.6.3
  RELEASE_NOTES.md
Labels: approved, lgtm, size/S

#4419 Update containers/buildah
  .cirrus.yml
  go.mod
  go.sum
  libpod/container_internal_linux.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.golangci.yml
  vendor/github.com/containers/buildah/.papr.sh
  vendor/github.com/containers/buildah/.papr.yml
  vendor/github.com/containers/buildah/.travis.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/ostree_tag.sh
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/secrets/secrets.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/troubleshooting.md
  vendor/github.com/containers/buildah/util.go
  vendor/github.com/onsi/ginkgo/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/config/config.go
  vendor/github.com/onsi/ginkgo/extensions/table/table_entry.go
  vendor/github.com/onsi/ginkgo/reporters/junit_reporter.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#4421 Bump to v1.6.3
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/S

#4402 [CI:DOCS] make docsonly prs
  .cirrus.yml
Labels: approved, lgtm, size/M

#4425 runtime: Fix typo
  pkg/adapter/runtime.go
Labels: approved, lgtm, ok-to-test, size/XS

#4424 Update link to Commands documentation
  README.md
Labels: approved, lgtm, size/XS

#4428 [Makefile] Fix docker documentation install and generation
  Makefile
  docs/source/markdown/containers-mounts.conf.5.md
  docs/source/markdown/libpod.conf.5.md
  docs/source/markdown/podman-remote.conf.5.md
Labels: approved, lgtm, ok-to-test, size/XS

#4423 stats: report correctly CPU usage
  libpod/stats.go
  pkg/cgroups/cpu.go
Labels: approved, lgtm, size/S

#4389 Validate contextdir on build
  cmd/podman/build.go
  cmd/podman/utils.go
Labels: approved, lgtm, size/S

#4430 logo: correct light source reflection
  logo/podman-logo-source.svg
  logo/podman-logo.png
Labels: approved, lgtm, ok-to-test, size/S

#4415 Update rootless shortcomings with cgroup V2 information
  rootless.md
Labels: approved, lgtm, size/S

#4438 slirp4netns: fix timeout
  libpod/networking_linux.go
Labels: approved, lgtm, size/XS

#4442 Add release notes for v1.6.3
  README.md
  RELEASE_NOTES.md
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/M

#4449 pulling unqualified reference: make sure it's a docker reference
  libpod/image/pull.go
Labels: approved, lgtm, size/XS

#4374 namespaces: by default create cgroupns on cgroups v2
  cmd/podman/common.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/namespaces/namespaces.go
  pkg/spec/spec.go
  test/e2e/run_cgroup_parent_test.go
Labels: approved, lgtm, size/M

#4370 Set SELinux labels based on the security context in the kube.yaml
  libpod/util.go
  pkg/adapter/pods.go
  test/e2e/test.yaml
Labels: approved, lgtm, size/M

#4457 help message: don't parse the config for cgroup-manager default
  cmd/podman/main_local.go
Labels: approved, lgtm, size/XS

#4439 Update installation - Ubuntu. [skip ci]
  install.md
Labels: approved, lgtm, ok-to-test, size/XS

#4459 rootless: use SYS_renameat2 instead of __NR_renameat2
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/S

#4461 events: make sure the write channel is always closed
  libpod/events/journal_linux.go
  libpod/events/logfile.go
Labels: approved, lgtm, size/XS

#4308 Add Kata Containers runtimes to libpod.conf
  libpod.conf
Labels: approved, lgtm, size/S

#4441 Allow users to disable detach keys
  cmd/podman/attach.go
  cmd/podman/common.go
  cmd/podman/exec.go
  cmd/podman/start.go
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-exec.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-start.1.md
  libpod/oci_attach_linux.go
  pkg/adapter/containers.go
Labels: approved, lgtm, size/M

#4447 Add support for RunAsUser and RunAsGroup
  libpod/kube.go
  pkg/adapter/pods.go
  test/e2e/generate_kube_test.go
  test/e2e/test.yaml
Labels: approved, lgtm, size/L

#4470 libpod/config: default: use `crun` on Cgroups v2
  libpod.conf
  libpod/config/default.go
Labels: approved, lgtm, size/S

#4468 podman images --digest: always list a digest
  cmd/podman/images.go
Labels: approved, lgtm, size/XS

#4451 podman: add support for specifying MAC
  Makefile
  cmd/podman/cliconfig/config.go
  cmd/podman/common.go
  cmd/podman/restore.go
  cmd/podman/shared/create.go
  cni/87-podman-bridge.conflist
  completions/bash/podman
  docs/source/markdown/podman-container-restore.1.md
  go.mod
  go.sum
  libpod/container.go
  libpod/container_api.go
  libpod/container_internal_linux.go
  libpod/networking_linux.go
  libpod/options.go
  pkg/adapter/containers.go
  pkg/spec/createconfig.go
  test/e2e/checkpoint_test.go
  test/e2e/create_staticmac_test.go
  vendor/github.com/containernetworking/cni/libcni/api.go
  vendor/github.com/containernetworking/cni/libcni/conf.go
  vendor/github.com/containernetworking/cni/pkg/invoke/args.go
  vendor/github.com/containernetworking/cni/pkg/types/args.go
  vendor/github.com/containernetworking/cni/pkg/types/types.go
  vendor/github.com/containernetworking/cni/pkg/utils/utils.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/types.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4466 mount: add new options nocopyup|copyup for tmpfs
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/spec/storage.go
  pkg/util/mountOpts.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm, size/M

#4444 Add links to readthedocs on docs/readme
  docs/Readme.md
Labels: approved, lgtm, size/XS

#4265 Split up create config handling of namespaces and security
  cmd/podman/shared/create.go
  pkg/adapter/pods.go
  pkg/spec/config_linux_cgo.go
  pkg/spec/config_linux_nocgo.go
  pkg/spec/config_unsupported.go
  pkg/spec/createconfig.go
  pkg/spec/namespaces.go
  pkg/spec/security.go
  pkg/spec/spec.go
  pkg/spec/spec_test.go
  pkg/spec/storage.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4453 Add support for make vendor-in-container
  .cirrus.yml
  Makefile
  contrib/cirrus/README.md
  go.mod
  go.sum
  vendor/github.com/Microsoft/hcsshim/mksyscall_windows.go
  vendor/github.com/containers/storage/pkg/archive/example_changes.go
  vendor/github.com/docker/docker/pkg/archive/example_changes.go
  vendor/github.com/klauspost/compress/flate/gen.go
  vendor/github.com/klauspost/cpuid/private-gen.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/net/html/atom/gen.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/encoding/charmap/maketables.go
  vendor/golang.org/x/text/encoding/htmlindex/gen.go
  vendor/golang.org/x/text/encoding/internal/identifier/gen.go
  vendor/golang.org/x/text/encoding/japanese/maketables.go
  vendor/golang.org/x/text/encoding/korean/maketables.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/maketables.go
  vendor/golang.org/x/text/encoding/traditionalchinese/maketables.go
  vendor/golang.org/x/text/internal/language/compact/gen.go
  vendor/golang.org/x/text/internal/language/compact/gen_index.go
  vendor/golang.org/x/text/internal/language/compact/gen_parents.go
  vendor/golang.org/x/text/internal/language/gen.go
  vendor/golang.org/x/text/internal/language/gen_common.go
  vendor/golang.org/x/text/language/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4401 Revert "catch runc v2 error" [v1.6]
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#4427 docs: Update "podman container rm -v" description
  cmd/podman/rm.go
  docs/source/markdown/podman-rm.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#4337 fix bug check nonexist authfile
  cmd/podman/build.go
  cmd/podman/common.go
  cmd/podman/create.go
  cmd/podman/login.go
  cmd/podman/logout.go
  cmd/podman/play_kube.go
  cmd/podman/pull.go
  cmd/podman/push.go
  cmd/podman/run.go
  cmd/podman/runlabel.go
  cmd/podman/search.go
  cmd/podman/shared/create.go
  cmd/podman/shared/funcs.go
  test/e2e/create_test.go
  test/e2e/login_logout_test.go
  test/e2e/play_kube_test.go
  test/e2e/pull_test.go
  test/e2e/run_test.go
  test/e2e/runlabel_test.go
  test/e2e/search_test.go
Labels: approved, lgtm, size/L

#4408 Fixed issue #4391; podman info --format '{{ json . }}'
  cmd/podman/info.go
  test/e2e/info_test.go
Labels: approved, lgtm, ok-to-test, size/S

#4489 create a separate install target for seccomp
  Makefile
Labels: approved, lgtm, size/XS

#4503 Cirrus: Use branch-specific container tags
  .cirrus.yml
Labels: approved, lgtm, size/S

#4497 codespell: spelling corrections
  README.md
  RELEASE_NOTES.md
  cmd/podman/attach.go
  cmd/podman/cp.go
  cmd/podman/libpodruntime/runtime.go
  cmd/podman/main_local.go
  cmd/podman/remoteclientconfig/configfile_test.go
  cmd/podman/shared/container.go
  cmd/podman/shared/create.go
  cmd/podman/shared/parallel.go
  cmd/podman/shared/parse/parse_test.go
  cmd/podman/shared/workers.go
  cmd/podman/stats.go
  cmd/podman/tree.go
  completions/bash/podman
  completions/zsh/_podman
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/systemd_banish.sh
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-image-sign.1.md
  docs/source/markdown/podman-remote.1.md
  docs/source/markdown/podman-run.1.md
  hack/get_ci_vm.sh
  libpod/boltdb_state.go
  libpod/events/config.go
  libpod/healthcheck.go
  libpod/image/pull.go
  libpod/kube.go
  libpod/lock/shm/shm_lock.c
  libpod/options.go
  libpod/pod_api.go
  libpod/runtime_volume.go
  pkg/adapter/containers_remote.go
  pkg/adapter/pods.go
  pkg/adapter/pods_remote.go
  pkg/adapter/runtime_remote.go
  pkg/hooks/docs/oci-hooks.5.md
  pkg/spec/storage.go
  pkg/trust/trust.go
  pkg/util/utils.go
Labels: approved, lgtm, ok-to-test, size/L

#4518 use pause image for check all
  test/e2e/pull_test.go
Labels: approved, lgtm, size/XS

#4368 Add pod annotations to container
  cmd/podman/shared/create.go
  pkg/adapter/pods.go
Labels: approved, lgtm, size/M

#4505 container create: os/arch check
  cmd/podman/shared/create.go
Labels: approved, lgtm, size/S

#4521 Also delete winsz fifo
  libpod/container_internal.go
Labels: approved, lgtm, size/XS

#4502 history: rewrite mappings
  libpod/image/image.go
  test/e2e/images_test.go
Labels: approved, lgtm, size/L

#4523 podman rm/stop --cidfile
  cmd/podman/checkpoint.go
  cmd/podman/cleanup.go
  cmd/podman/cliconfig/config.go
  cmd/podman/common.go
  cmd/podman/init.go
  cmd/podman/kill.go
  cmd/podman/mount.go
  cmd/podman/pod_kill.go
  cmd/podman/pod_pause.go
  cmd/podman/pod_restart.go
  cmd/podman/pod_rm.go
  cmd/podman/pod_start.go
  cmd/podman/pod_stop.go
  cmd/podman/pod_unpause.go
  cmd/podman/port.go
  cmd/podman/restart.go
  cmd/podman/restore.go
  cmd/podman/rm.go
  cmd/podman/stop.go
  cmd/podman/umount.go
  completions/bash/podman
  docs/source/markdown/podman-rm.1.md
  docs/source/markdown/podman-stop.1.md
  pkg/adapter/containers.go
  test/e2e/rm_test.go
  test/e2e/stop_test.go
Labels: approved, lgtm, size/L

#4464 Add new test suite for build
  test/e2e/build/basicalpine/Containerfile
  test/e2e/build/context_dir_a_file
  test/e2e/build/squash/Dockerfile.squash-a
  test/e2e/build/squash/Dockerfile.squash-b
  test/e2e/build/squash/Dockerfile.squash-c
  test/e2e/build/squash/alpinetest.tgz
  test/e2e/build_test.go
Labels: approved, lgtm, size/L

#4494 Bump to v1.4.2-stable3
  docs/podman-create.1.md
  docs/podman-run.1.md
  libpod/oci_linux.go
  version/version.go
Labels: approved, size/S

#4541 config: use EventsLogger=file without systemd
  libpod/config/config.go
Labels: approved, lgtm, size/S

#4525 container-restore: Fix restore with user namespace
  libpod/container_internal_linux.go
Labels: approved, lgtm, ok-to-test, size/XS

#4528 Handle seccomp annotations in play kube
  pkg/adapter/pods.go
  test/e2e/common_test.go
  test/e2e/play_kube_test.go
  test/e2e/run_test.go
Labels: approved, lgtm, size/L

#4512 image prune command fixed as per docker image prune.
  API.md
  cmd/podman/cliconfig/config.go
  cmd/podman/images_prune.go
  cmd/podman/system_prune.go
  cmd/podman/varlink/io.podman.varlink
  docs/source/markdown/podman-image-prune.1.md
  libpod/image/image.go
  libpod/image/prune.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/timetype/timestamp.go
  pkg/timetype/timestamp_test.go
  pkg/varlinkapi/images.go
  test/e2e/prune_test.go
Labels: approved, lgtm, size/L

#4554 e2e/prune: run two top containers
  test/e2e/prune_test.go
Labels: approved, lgtm, size/S

#4540 podman rm/stop: add --allow-missing flag
  cmd/podman/cliconfig/config.go
  cmd/podman/pod_rm.go
  cmd/podman/pod_stop.go
  cmd/podman/rm.go
  cmd/podman/stop.go
  completions/bash/podman
  docs/source/markdown/podman-pod-rm.1.md
  docs/source/markdown/podman-pod-stop.1.md
  docs/source/markdown/podman-rm.1.md
  docs/source/markdown/podman-stop.1.md
  pkg/adapter/containers.go
  pkg/adapter/pods.go
  pkg/adapter/shortcuts/shortcuts.go
  test/e2e/pod_rm_test.go
  test/e2e/pod_stop_test.go
  test/e2e/rm_test.go
  test/e2e/stop_test.go
Labels: approved, lgtm, size/L

#4514 Discard errors from Shutdown in `system renumber`
  cmd/podman/system_renumber.go
Labels: approved, lgtm, size/XS

#4557 Document other bind options on --volumes flag
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm, size/M

#4475 Add missing information to podman.1 man page
  cmd/podman/main_local.go
  docs/source/markdown/podman.1.md
Labels: approved, lgtm, size/M

#4542 Allow --ip and --mac to be set when joining a CNI net
  libpod/networking_linux.go
  libpod/options.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm, size/M

#4443 Remove containers when pod prune & pod rm.
  cmd/podman/pod_rm.go
  cmd/podman/pods_prune.go
  cmd/podman/system_prune.go
  docs/source/markdown/podman-pod-prune.1.md
  docs/source/markdown/podman-pod-rm.1.md
  docs/source/markdown/podman-pod.1.md
  docs/source/pod.rst
  pkg/adapter/pods.go
  pkg/varlinkapi/pods.go
  test/e2e/pod_prune_test.go
  test/e2e/pod_rm_test.go
Labels: approved, lgtm, size/M

#4573 [CI:DOCS] Apiv2
  Makefile
  cmd/service/Makefile
  cmd/service/main.go
  go.mod
  go.sum
  libpod/container_commit.go
  libpod/container_internal.go
  libpod/image/prune.go
  libpod/image/pull.go
  libpod/runtime_img.go
  pkg/serviceapi/errors.go
  pkg/serviceapi/handler.go
  pkg/serviceapi/handler_auth.go
  pkg/serviceapi/handler_containers.go
  pkg/serviceapi/handler_containers_create.go
  pkg/serviceapi/handler_containers_stats.go
  pkg/serviceapi/handler_containers_top.go
  pkg/serviceapi/handler_distribution.go
  pkg/serviceapi/handler_images.go
  pkg/serviceapi/handler_info.go
  pkg/serviceapi/handler_monitor.go
  pkg/serviceapi/handler_ping.go
  pkg/serviceapi/handler_plugins.go
  pkg/serviceapi/handler_pods.go
  pkg/serviceapi/handler_swarm.go
  pkg/serviceapi/handler_system.go
  pkg/serviceapi/handler_unsupported.go
  pkg/serviceapi/handler_version.go
  pkg/serviceapi/server.go
  pkg/serviceapi/types.go
  pkg/util/utils.go
  vendor/github.com/google/uuid/.travis.yml
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/CONTRIBUTORS
  vendor/github.com/google/uuid/LICENSE
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/dce.go
  vendor/github.com/google/uuid/doc.go
  vendor/github.com/google/uuid/go.mod
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/marshal.go
  vendor/github.com/google/uuid/node.go
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/node_net.go
  vendor/github.com/google/uuid/sql.go
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/util.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version1.go
  vendor/github.com/google/uuid/version4.go
  vendor/github.com/gorilla/schema/.travis.yml
  vendor/github.com/gorilla/schema/LICENSE
  vendor/github.com/gorilla/schema/README.md
  vendor/github.com/gorilla/schema/cache.go
  vendor/github.com/gorilla/schema/converter.go
  vendor/github.com/gorilla/schema/decoder.go
  vendor/github.com/gorilla/schema/doc.go
  vendor/github.com/gorilla/schema/encoder.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4568 Add support for image name history
  API.md
  cmd/podman/cliconfig/config.go
  cmd/podman/images.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  docs/source/markdown/podman-images.1.md
  go.mod
  go.sum
  libpod/image/image.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
  test/system/010-images.bats
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/copy/copy_linux.go
  vendor/github.com/containers/storage/drivers/vfs/copy_linux.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/images_ffjson.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/changes.go
  vendor/github.com/containers/storage/pkg/archive/changes_linux.go
  vendor/github.com/containers/storage/pkg/system/xattrs_linux.go
  vendor/github.com/containers/storage/pkg/system/xattrs_unsupported.go
  vendor/github.com/containers/storage/utils.go
  vendor/modules.txt
Labels: approved, lgtm, size/L

#4578 [CI:DOCS]apiv2 pods
  Makefile
  pkg/serviceapi/handler_images.go
  pkg/serviceapi/handler_pods.go
  pkg/serviceapi/types.go
Labels: approved, lgtm, size/M

#4582 [CI:DOCS]enabled base container create tests
  pkg/serviceapi/handler_containers.go
  pkg/serviceapi/handler_containers_create.go
  pkg/serviceapi/types.go
Labels: approved, lgtm, size/L

#4579 Improved build_rpm.sh
  .gitignore
  contrib/build_rpm.sh
Labels: approved, lgtm, ok-to-test, size/XS

#4593 [CI:DOCS] apiv2: error handling and container prune
  pkg/serviceapi/errors.go
  pkg/serviceapi/handler_containers.go
  pkg/serviceapi/types.go
Labels: approved, lgtm, size/M

#4594 Disable checkpointing of containers started with --rm
  libpod/container_internal_linux.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm, size/M

#4590 Make doc building in spec optional
  contrib/spec/podman.spec.in
Labels: approved, lgtm, needs-ok-to-test, size/S

#4589 Detect Python executable in Makefile
  Makefile
Labels: approved, lgtm, ok-to-test, size/XS

#4587 Disable btrfs for RHEL in podman spec
  contrib/build_rpm.sh
  contrib/spec/podman.spec.in
Labels: approved, lgtm, needs-ok-to-test, size/S

#4576 oci: print only matching part for the errors
  libpod/oci_util.go
Labels: approved, lgtm, size/S

#4597 Do not initialize store on rootless podman
  cmd/podman/main_local.go
Labels: approved, lgtm, size/XS

#4558 Add podman system reset command
  API.md
  cmd/podman/cliconfig/config.go
  cmd/podman/reset.go
  cmd/podman/system.go
  cmd/podman/varlink/io.podman.varlink
  commands.md
  completions/bash/podman
  docs/source/markdown/podman-system-reset.1.md
  docs/source/markdown/podman-system.1.md
  libpod/reset.go
  libpod/runtime_migrate_unsupported.go
  pkg/adapter/reset.go
  pkg/adapter/reset_remote.go
  pkg/varlinkapi/system.go
  test/e2e/libpod_suite_test.go
  test/e2e/system_reset_test.go
Labels: approved, lgtm, size/XL
