Repository containers/podman, pull requests merged in 2019-04, with the labels that each got.

#2812 docs/podman-inspect.1.md: add missing option hyphen for "-t"
  docs/podman-inspect.1.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#2818 Update README with current version
  README.md
Labels: approved, lgtm, size/XS

#2833 Cirrus: Support special-case modes of testing
  .cirrus.yml
  .papr.yml
  .papr_prepare.sh
  Dockerfile.centos
  Dockerfile.fedora
  contrib/cirrus/README.md
  contrib/cirrus/container_test.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/rootless_test.sh
  contrib/cirrus/setup_container_environment.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/unit_test.sh
Labels: approved, lgtm, size/L

#2842 Improve podman pod rm -a test
  test/e2e/pod_rm_test.go
Labels: approved, lgtm, size/M

#2843 Cirrus: Update F28 -> F29 container image
  Dockerfile.fedora
Labels: approved, lgtm, size/XS

#2825 add remote-client diff
  API.md
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/diff.go
  cmd/podman/main.go
  cmd/podman/varlink/io.podman.varlink
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
Labels: approved, lgtm, size/M

#2651 Fix a potential segfault in podman search
  cmd/podman/search.go
  libpod/image/search.go
Labels: approved, lgtm, size/M

#2832 --size does not work with rootless at present
  cmd/podman/ps.go
Labels: approved, lgtm, size/XS

#2839 Update run_test to be more robust
  cmd/podman/run_test.go
Labels: approved, lgtm, ok-to-test, size/S

#2819 Update cri-o annotations
  pkg/annotations/annotations.go
Labels: approved, lgtm, ok-to-test, size/S

#2840 Fix Dockerfile dependencies for packer tests
  Dockerfile
Labels: approved, lgtm, ok-to-test, size/XS

#2706 rootless: single user namespace
  cmd/podman/cp.go
  cmd/podman/create.go
  cmd/podman/exec.go
  cmd/podman/export.go
  cmd/podman/kill.go
  cmd/podman/main.go
  cmd/podman/mount.go
  cmd/podman/pod.go
  cmd/podman/pod_kill.go
  cmd/podman/pod_restart.go
  cmd/podman/pod_rm.go
  cmd/podman/pod_stop.go
  cmd/podman/pod_top.go
  cmd/podman/ps.go
  cmd/podman/restart.go
  cmd/podman/rm.go
  cmd/podman/run.go
  cmd/podman/shared/create.go
  cmd/podman/stop.go
  cmd/podman/top.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/rootless/rootless.go
  pkg/rootless/rootless_linux.c
  pkg/rootless/rootless_linux.go
  pkg/rootless/rootless_unsupported.go
  pkg/spec/createconfig.go
Labels: Release Notes 1.3.0, approved, lgtm, size/XXL

#2774 Rework named volumes in DB
  docs/podman-volume-rm.1.md
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/in_memory_state.go
  libpod/options.go
  libpod/runtime_ctr.go
  libpod/runtime_volume_linux.go
  libpod/state.go
  pkg/spec/createconfig.go
  pkg/spec/spec.go
  test/e2e/commit_test.go
  test/e2e/run_test.go
  test/e2e/volume_rm_test.go
Labels: Release Notes 1.3.0, approved, lgtm, size/XL

#2831 podman-remote image tree
  API.md
  cmd/podman/tree.go
  cmd/podman/varlink/io.podman.varlink
  libpod/image/image.go
  pkg/adapter/images.go
  pkg/adapter/images_remote.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
Labels: Release Notes 1.3.0, approved, lgtm, size/L

#2838 Update Dockerfile to use golang:1.12 image
  Dockerfile
Labels: approved, lgtm, ok-to-test, size/S

#2853 Increase resources for build_each_commit task
  .cirrus.yml
Labels: approved, lgtm, size/XS

#2857 rootless: add support for kube
  cmd/podman/generate_kube.go
  cmd/podman/play_kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm, size/S

#2858 rootless: enable healthcheck
  test/e2e/healthcheck_run_test.go
Labels: approved, lgtm, size/XS

#2856 Respect image entrypoint in play kube
  cmd/podman/play_kube.go
Labels: approved, lgtm, size/S

#2742 Switch to golangci-lint
  .golangci.yml
  .tool/lint
  Makefile
  cmd/podman/common.go
  cmd/podman/common_test.go
  cmd/podman/pod_ps.go
  cmd/podman/pod_stats.go
  cmd/podman/ps.go
  cmd/podman/run_test.go
  cmd/podman/search.go
  cmd/podman/shared/create.go
  cmd/podman/trust_set_show.go
  cmd/podman/utils.go
  test/e2e/common_test.go
Labels: ok-to-test, size/L

#2865 Revert "Switch to golangci-lint"
  .cirrus.yml
  .golangci.yml
  .tool/lint
  Makefile
  cmd/podman/common.go
  cmd/podman/common_test.go
  cmd/podman/pod_ps.go
  cmd/podman/pod_stats.go
  cmd/podman/ps.go
  cmd/podman/run_test.go
  cmd/podman/search.go
  cmd/podman/shared/create.go
  cmd/podman/trust_set_show.go
  cmd/podman/utils.go
  test/e2e/common_test.go
Labels: approved, lgtm, size/L

#2841 Update registrar unit tests to match them of cri-o
  Makefile
  pkg/registrar/registrar_test.go
  test/framework/framework.go
Labels: approved, lgtm, ok-to-test, size/L

#2817 Documentation fix: we need port forwarding to access a rootless containers TCP port.
  docs/tutorials/podman_tutorial.md
Labels: approved, lgtm, ok-to-test, size/S

#2845 fix bug podman cp directory
  cmd/podman/cp.go
  test/e2e/cp_test.go
Labels: Release Notes 1.3.0, approved, lgtm, size/M

#2862 add image rmi event
  libpod/image/image.go
Labels: Release Notes 1.3.0, approved, lgtm, size/XS

#2746 podman-remote create|run
  API.md
  cmd/podman/attach.go
  cmd/podman/cliconfig/defaults.go
  cmd/podman/commands.go
  cmd/podman/common.go
  cmd/podman/container.go
  cmd/podman/create.go
  cmd/podman/main.go
  cmd/podman/run.go
  cmd/podman/run_test.go
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  cmd/podman/shared/intermediate_novarlink.go
  cmd/podman/shared/intermediate_varlink.go
  cmd/podman/start.go
  cmd/podman/utils.go
  cmd/podman/varlink/io.podman.varlink
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/adapter/sigproxy.go
  pkg/adapter/terminal.go
  pkg/varlinkapi/config.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/containers_create.go
  pkg/varlinkapi/events.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/mount.go
  pkg/varlinkapi/pods.go
  pkg/varlinkapi/remote_client.go
  pkg/varlinkapi/system.go
  pkg/varlinkapi/transfers.go
  pkg/varlinkapi/util.go
  pkg/varlinkapi/volumes.go
Labels: Release Notes 1.3.0, approved, lgtm, size/XXL

#2799 Fix location of libpod.conf
  docs/podman.1.md
Labels: approved, lgtm, size/S

#2861 Correct varlink pull panic
  pkg/varlinkapi/images.go
Labels: Release Notes 1.3.0, approved, lgtm, size/XS

#2873 CI check for --help vs man pages: usability fix
  hack/podman-commands.sh
Labels: approved, lgtm, size/S

#2859 test: enable userns and remote e2e tests for rootless
  contrib/cirrus/rootless_test.sh
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/run_ns_test.go
  test/e2e/run_userns_test.go
Labels: approved, lgtm, size/M

#2881 ps: now works with --size and nonroot
  cmd/podman/ps.go
Labels: approved, lgtm, size/XS

#2663 Implement podman-remote umount and rm command
  cmd/podman/commands.go
  cmd/podman/kill.go
  cmd/podman/main.go
  cmd/podman/rm.go
  cmd/podman/shared/workers.go
  cmd/podman/stop.go
  cmd/podman/umount.go
  cmd/podman/utils.go
  cmd/podman/wait.go
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/oci.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/adapter/runtime.go
  pkg/adapter/shortcuts/shortcuts.go
  test/e2e/common_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/search_test.go
  test/utils/utils.go
Labels: Release Notes 1.3.0, approved, lgtm, size/XL

#2882 podman-remote ps
  cmd/podman/commands.go
  cmd/podman/main.go
  cmd/podman/ps.go
  cmd/podman/shared/container.go
  cmd/podman/varlink/io.podman.varlink
  libpod/container.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/util.go
Labels: approved, lgtm, size/XL

#2880 Update invalid name errors to report the correct regex
  libpod/options.go
Labels: approved, lgtm, size/XS

#2874 Add the ability to attach remotely to a container
  API.md
  cmd/podman/attach.go
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/main.go
  cmd/podman/varlink/io.podman.varlink
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/attach.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/virtwriter/virtwriter.go
Labels: Release Notes 1.3.0, approved, lgtm, size/XL

#2892 (minor): fix misspelled 'Healthcheck'
  cmd/podman/commands.go
  cmd/podman/commands_remoteclient.go
  cmd/podman/healthcheck.go
  completions/bash/podman
  docs/podman-healthcheck-run.1.md
  libpod/container.go
  libpod/healthcheck.go
Labels: approved, lgtm, size/S

#2891 Remove Papr - it's no longer functional on this repo
  .papr.yml
Labels: approved, lgtm, size/M

#2883 Initial remote flag clean up
  cmd/podman/main.go
  cmd/podman/main_local.go
  cmd/podman/main_remote.go
  cmd/podman/pull.go
  cmd/podman/push.go
Labels: Release Notes 1.3.0, approved, lgtm, size/L

#2896 rootless: fix segfault on refresh if there are containers
  libpod/runtime.go
Labels: approved, lgtm, size/S

#2893 Add demo script and cast to images
  commands.md
Labels: approved, lgtm, size/XS

#2890 bump(github.com/containers/storage,github.com/containers/image)
  vendor.conf
  vendor/github.com/containers/image/copy/copy.go
  vendor/github.com/containers/image/docker/docker_client.go
  vendor/github.com/containers/image/docker/docker_image.go
  vendor/github.com/containers/image/docker/docker_image_dest.go
  vendor/github.com/containers/image/docker/docker_image_src.go
  vendor/github.com/containers/image/docker/tarfile/src.go
  vendor/github.com/containers/image/ostree/ostree_src.go
  vendor/github.com/containers/image/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/storage/storage_image.go
  vendor/github.com/containers/image/storage/storage_reference.go
  vendor/github.com/containers/image/storage/storage_transport.go
  vendor/github.com/containers/image/version/version.go
  vendor/github.com/containers/storage/containers_ffjson.go
  vendor/github.com/containers/storage/drivers/aufs/aufs.go
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/devmapper/driver.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/template.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/drivers/windows/windows.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_freebsd.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_linux.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_solaris.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_unsupported.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/layers_ffjson.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/chrootarchive/archive.go
  vendor/github.com/containers/storage/pkg/config/config.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/vendor.conf
Labels: approved, lgtm, size/XXL

#2899 userns: prevent /sys/kernel/* paths in the container
  libpod/oci_linux.go
  pkg/spec/spec.go
  test/system/030-run.bats
Labels: approved, lgtm, size/M

#2901 Expand debugging for container cleanup errors
  libpod/container_internal.go
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/S

#2879 Print header for 'podman images' even with no images present
  cmd/podman/images.go
  test/e2e/images_test.go
  test/e2e/prune_test.go
  test/e2e/rmi_test.go
Labels: Release Notes 1.3.0, approved, lgtm, size/S

#2895 Add --include-volumes flag to 'podman commit'
  cmd/podman/cliconfig/config.go
  cmd/podman/commit.go
  docs/podman-commit.1.md
  libpod/container_commit.go
  test/e2e/commit_test.go
Labels: approved, lgtm, size/M

#2902 Fixes for podman-remote run and attach
  API.md
  cmd/podman/cliconfig/commands.go
  cmd/podman/create.go
  cmd/podman/run.go
  cmd/podman/run_test.go
  cmd/podman/shared/intermediate.go
  cmd/podman/varlink/io.podman.varlink
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/attach.go
Labels: approved, lgtm, size/L

#2885 imagefilter dangling handling corrected
  cmd/podman/imagefilters/filters.go
  cmd/podman/images.go
Labels: Release Notes 1.3.0, approved, lgtm, size/S

#2906 adding additional apt-get update, needed for ubuntu install
  install.md
Labels: approved, lgtm, ok-to-test, size/XS

#2889 BATS tests: start supporting podman-remote
  test/system/005-info.bats
  test/system/010-images.bats
  test/system/015-help.bats
  test/system/030-run.bats
  test/system/035-logs.bats
  test/system/060-mount.bats
  test/system/070-build.bats
  test/system/075-exec.bats
  test/system/110-history.bats
  test/system/400-unprivileged-access.bats
  test/system/helpers.bash
Labels: approved, lgtm, size/M

#2904 Fix README.md -> rootless.md link
  README.md
Labels: approved, lgtm, size/XS

#2907 new uidmap BATS test: fix
  test/system/030-run.bats
Labels: approved, lgtm, size/S

#2913 Use GetContainer instead of LookupContainer for full ID
  libpod/container.go
  libpod/container_internal.go
  libpod/kube.go
  libpod/runtime_ctr.go
Labels: approved, lgtm, size/S

#2903 podman-remote generate kube
  cmd/podman/commands.go
  cmd/podman/generate.go
  cmd/podman/generate_kube.go
  cmd/podman/main.go
  cmd/podman/shared/container.go
  cmd/podman/varlink/io.podman.varlink
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/generate.go
Labels: approved, lgtm, size/L

#2911 pull: fix a couple of issues
  cmd/podman/pull.go
  test/e2e/pull_test.go
Labels: approved, lgtm, size/S

#2910 create: fix segfault if container name already exists
  pkg/adapter/containers.go
  test/e2e/create_test.go
Labels: approved, lgtm, size/S

#2915 rootless: do not block SIGTSTP
  pkg/rootless/rootless_linux.c
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm, size/S

#2830 remote-client checkpoint/restore
  cmd/podman/checkpoint.go
  cmd/podman/restore.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
Labels: Release Notes 1.3.0, approved, lgtm, size/L

#2916 Adding uidmap to install steps for ubuntu
  install.md
Labels: approved, lgtm, ok-to-test, size/XS

#2912 Use the same SELinux label for CRIU log files
  libpod/container_internal_linux.go
Labels: approved, lgtm, ok-to-test, size/M

#2927 Revert "rootless: set controlling terminal for podman in the userns"
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/XS

#2928 oci: fix umount of /sys/kernel
  libpod/oci_linux.go
Labels: approved, lgtm, size/XS

#2932 Incorporate image and default environment variables in play kube
  cmd/podman/play_kube.go
  cmd/podman/shared/create.go
Labels: approved, lgtm, size/M

#2921 Remove old crio reference from man pages
  docs/podman-export.1.md
  docs/podman-history.1.md
  docs/podman-image-tree.1.md
  docs/podman-import.1.md
  docs/podman-info.1.md
  docs/podman-load.1.md
  docs/podman-login.1.md
  docs/podman-logout.1.md
  docs/podman-ps.1.md
  docs/podman-pull.1.md
  docs/podman-push.1.md
  docs/podman-save.1.md
  docs/podman-search.1.md
  docs/podman-tag.1.md
  docs/podman-version.1.md
  docs/podman-wait.1.md
  docs/podman.1.md
Labels: approved, lgtm, size/M

#2939 rootless: cleanups
  cmd/podman/main_local.go
  cmd/podman/shared/create.go
  cmd/podman/utils.go
  pkg/adapter/runtime.go
Labels: approved, lgtm, size/M

#2870 Validate ENV/LABEL Change options in varlink
  libpod/container_commit.go
Labels: Release Notes 1.3.0, approved, lgtm, size/M

#2944 Call the runtime with WithRenumber() when asked by 'system renumber' command
  cmd/podman/libpodruntime/runtime.go
Labels: approved, lgtm, size/XS

#2934 Add File mounts to play kube
  cmd/podman/play_kube.go
Labels: approved, lgtm, size/S

#2949 podman-remote container commands
  cmd/podman/commands.go
  cmd/podman/container.go
Labels: approved, lgtm, size/XS

#2931 Vendor in latest Buildah
  test/e2e/images_test.go
  vendor.conf
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/common.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/util.go
  vendor/github.com/containers/buildah/info.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/unshare/unshare.c
  vendor/github.com/containers/buildah/pkg/unshare/unshare.go
  vendor/github.com/containers/buildah/pkg/unshare/unshare_cgo.go
  vendor/github.com/containers/buildah/pkg/unshare/unshare_gccgo.go
  vendor/github.com/containers/buildah/pkg/unshare/unshare_unsupported.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/docker/libnetwork/resolvconf/README.md
  vendor/github.com/docker/libnetwork/resolvconf/dns/resolvconf.go
  vendor/github.com/docker/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/docker/libnetwork/types/types.go
  vendor/github.com/ishidawataru/sctp/LICENSE
  vendor/github.com/ishidawataru/sctp/README.md
  vendor/github.com/ishidawataru/sctp/sctp.go
  vendor/github.com/ishidawataru/sctp/sctp_linux.go
  vendor/github.com/ishidawataru/sctp/sctp_unsupported.go
Labels: approved, lgtm, size/XXL

#2936 Add podman pod prune
  cmd/podman/cliconfig/config.go
  cmd/podman/pod.go
  cmd/podman/pods_prune.go
  cmd/podman/shared/pod.go
  cmd/podman/system_prune.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  docs/podman-container-prune.1.md
  docs/podman-pod-prune.1.md
  docs/podman-pod.1.md
  docs/podman-system-prune.1.md
  pkg/adapter/pods.go
  pkg/adapter/pods_remote.go
  pkg/adapter/runtime.go
  pkg/varlinkapi/pods.go
  test/e2e/prune_test.go
Labels: approved, lgtm, size/L

#2917 podman-remote start
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/main.go
  cmd/podman/shared/intermediate_varlink.go
  cmd/podman/start.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  test/e2e/search_test.go
  test/e2e/start_test.go
Labels: Release Notes 1.3.0, approved, lgtm, size/L

#2965 Fix COPR builds to start working again
  contrib/spec/podman.spec.in
Labels: approved, lgtm, size/XS

#2952 Fix podman command --change CMD
  cmd/podman/commit.go
  libpod/container_commit.go
  test/e2e/commit_test.go
Labels: Release Notes 1.3.0, approved, lgtm, size/M

#2967 rootless: not close more FDs than needed
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/M

#2948 podman-remote pause|unpause
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/main.go
  cmd/podman/pause.go
  cmd/podman/ps.go
  cmd/podman/unpause.go
  cmd/podman/varlink/io.podman.varlink
  contrib/cirrus/container_test.sh
  contrib/cirrus/integration_test.sh
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/containers.go
  test/e2e/common_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/pause_test.go
  test/utils/utils.go
Labels: approved, lgtm, size/XL

#2970 Refactor of 'podman prune' to better support remote
  cmd/podman/cliconfig/config.go
  cmd/podman/pods_prune.go
  cmd/podman/system_prune.go
  pkg/adapter/pods.go
  pkg/adapter/pods_remote.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  test/e2e/pod_prune_test.go
Labels: approved, lgtm, size/L

#2933 Clean up after play kube failure
  cmd/podman/play_kube.go
Labels: Release Notes 1.3.0, approved, lgtm, size/M

#2919 Internal names do not match external names
  docs/libpod.conf.5.md
  libpod.conf
  libpod/testdata/config.toml
Labels: approved, lgtm, size/M

#3003 Cirrus: Temp. override container-selinux on F29
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm, size/S

#2994 Fix podman stop --all attempting to stop created ctrs
  pkg/adapter/containers.go
  test/e2e/stop_test.go
Labels: Release Notes 1.3.0, approved, lgtm, size/M

#3002 pull: special case all-tags semantics
  cmd/podman/pull.go
  docs/podman-pull.1.md
Labels: Release Notes 1.3.0, approved, lgtm, size/L

#2973 podman remote-client restart containers
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/main.go
  cmd/podman/restart.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  test/e2e/restart_test.go
Labels: Release Notes 1.3.0, approved, lgtm, size/L

#2981 point to 3rd party tools for compose
  README.md
Labels: approved, lgtm, ok-to-test, size/XS

#2974 bats - various small updates
  test/system/005-info.bats
  test/system/030-run.bats
  test/system/035-logs.bats
  test/system/070-build.bats
  test/system/400-unprivileged-access.bats
Labels: approved, lgtm, size/S

#2975 build podman-remote with Dockerfile.
  Makefile
Labels: approved, lgtm, size/XS

#3005 Update vendor of container/storage
  vendor.conf
  vendor/github.com/containers/storage/containers_ffjson.go
  vendor/github.com/containers/storage/drivers/copy/copy_linux.go
  vendor/github.com/containers/storage/drivers/copy/copy_unsupported.go
  vendor/github.com/containers/storage/drivers/devmapper/device_setup.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/images_ffjson.go
  vendor/github.com/containers/storage/lockfile.go
  vendor/github.com/containers/storage/lockfile_unix.go
  vendor/github.com/containers/storage/lockfile_windows.go
  vendor/github.com/containers/storage/pkg/idtools/parser.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/utils.go
Labels: approved, lgtm, size/L

#2990 image: rework parent/child/history matching
  cmd/podman/images.go
  cmd/podman/images_prune.go
  cmd/podman/rmi.go
  cmd/podman/system_df.go
  cmd/podman/system_prune.go
  libpod/image/image.go
  libpod/image/image_test.go
  libpod/image/prune.go
  libpod/runtime_img.go
  pkg/adapter/runtime.go
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
Labels: API, approved, bug, lgtm, size/L

#2850 journald event logging
  contrib/cirrus/setup_environment.sh
  docs/podman-events.1.md
  libpod.conf
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/events_linux.go
  libpod/events/events_unsupported.go
  libpod/events/filters.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/events/nullout.go
  libpod/image/image.go
  libpod/image/image_test.go
  libpod/runtime.go
  pkg/adapter/runtime.go
  pkg/varlinkapi/events.go
  test/e2e/common_test.go
  test/e2e/events_test.go
  vendor.conf
  vendor/github.com/coreos/go-systemd/journal/journal.go
  vendor/github.com/coreos/go-systemd/sdjournal/functions.go
  vendor/github.com/coreos/go-systemd/sdjournal/journal.go
  vendor/github.com/coreos/go-systemd/sdjournal/read.go
  vendor/github.com/coreos/pkg/LICENSE
  vendor/github.com/coreos/pkg/NOTICE
  vendor/github.com/coreos/pkg/README.md
  vendor/github.com/coreos/pkg/dlopen/dlopen.go
  vendor/github.com/coreos/pkg/dlopen/dlopen_example.go
Labels: Release Notes 1.3.0, approved, lgtm, size/XXL

#3013 Logging for refresh
  libpod/runtime.go
Labels: approved, lgtm, size/XS

#3014 enable podman remote top
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/main.go
  cmd/podman/top.go
  cmd/podman/varlink/io.podman.varlink
  libpod/container_top_linux.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/containers.go
Labels: approved, lgtm, size/L

#3023 update psgo to v1.2.1
  vendor.conf
  vendor/github.com/containers/psgo/psgo.go
Labels: approved, lgtm, size/S

#2991 Libsystemd dev + newer runc
  .cirrus.yml
  Dockerfile
  contrib/cirrus/packer/ubuntu_setup.sh
Labels: approved, lgtm, size/S

#3019 Add System event type and renumber, refresh events
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/events_linux.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/runtime.go
  libpod/runtime_renumber.go
Labels: approved, lgtm, size/M

#3028 remove manual install of libsystemd-dev
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm, size/XS

#3025 Add --read-only-tmpfs options
  cmd/podman/common.go
  cmd/podman/shared/container.go
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  cmd/podman/shared/intermediate_varlink.go
  cmd/podman/varlink/io.podman.varlink
  completions/bash/podman
  docs/podman-create.1.md
  docs/podman-run.1.md
  libpod/container_internal_linux.go
  pkg/inspect/inspect.go
  pkg/spec/createconfig.go
  pkg/spec/spec.go
Labels: approved, lgtm, size/M

#3016 Vendor in latest containers/storage and containers/buildah
  vendor.conf
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/chroot/selinux.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/chroot_symlink.go
  vendor/github.com/containers/buildah/imagebuildah/errors.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/unshare/unshare.go
  vendor/github.com/containers/buildah/pkg/unshare/unshare_unsupported.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/selinux.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/buildah/vendor.conf
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
Labels: approved, lgtm, size/XL

#3015 fix login supports credHelpers config
  cmd/podman/login.go
Labels: approved, lgtm, size/XS

#3036 correct upstream vndr issues
  vendor/github.com/containers/psgo/go.mod
  vendor/github.com/fsouza/go-dockerclient/go.mod
  vendor/github.com/hashicorp/errwrap/go.mod
  vendor/github.com/hashicorp/go-multierror/go.mod
  vendor/github.com/stretchr/testify/go.mod
  vendor/golang.org/x/text/go.mod
  vendor/gopkg.in/yaml.v2/go.mod
Labels: approved, lgtm, size/M

#3032 podman-remote stop
  cmd/podman/commands.go
  cmd/podman/container.go
Labels: approved, lgtm, size/XS

#2982 podman-remote prune containers
  cmd/podman/commands.go
  cmd/podman/container.go
  cmd/podman/containers_prune.go
  cmd/podman/system.go
  cmd/podman/system_prune.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
  test/e2e/libpod_suite_test.go
  test/e2e/prune_test.go
Labels: Release Notes 1.3.0, approved, lgtm, size/L

#3040 Move --mount in run man page
  docs/podman-run.1.md
Labels: approved, lgtm, size/M

#3026 Fix remote-client testing reports
  pkg/adapter/containers_remote.go
  pkg/varlinkapi/attach.go
Labels: approved, lgtm, size/S

#2995 Refactor container cleanup to use latest functions
  cmd/podman/cleanup.go
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
Labels: approved, lgtm, size/M

#2992 Cirrus: Collect audit log on success and failure
  .cirrus.yml
Labels: approved, lgtm, size/S

#3043 Use 'sudo tee' in tutorial so install works as non-root
  docs/tutorials/podman_tutorial.md
Labels: approved, lgtm, size/XS

#3038 Add details on rootless Podman to the readme
  README.md
Labels: approved, lgtm, size/S
