Repository containers/podman, pull requests merged in 2020-08, with the labels that each got.

#7178 [CI:DOCS] Update master README and release notes for v2.0.4
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm

#7165 Add versioned _ping endpoint
  pkg/api/server/register_ping.go
  test/apiv2/01-basic.at
  test/apiv2/rest_api/test_rest_v1_0_0.py
Labels: approved, kind/bug, lgtm

#7177 Ensure libpod/define does not include libpod/image
  libpod/define/errors.go
  libpod/image/errors.go
  utils/utils.go
Labels: approved, lgtm

#7171 Fix podman service --valink timeout
  cmd/podman/system/service.go
Labels: approved, kind/bug, lgtm

#7181 [CI:DOCS] Change recommended systemd unit path for root.
  docs/source/markdown/podman-generate-systemd.1.md
Labels: approved, lgtm

#7141 Add test case for description being present in search result
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  test/e2e/search_test.go
Labels: Backport to v2.0, approved, lgtm

#7158 Handle single character images
  pkg/api/handlers/libpod/images.go
  test/e2e/commit_test.go
Labels: approved, lgtm

#7191 Remove some unnecessary []byte to string conversions
  libpod/events/journal_linux.go
  test/e2e/run_volume_test.go
  test/e2e/search_test.go
  test/endpoint/endpoint.go
  test/utils/utils.go
Labels: approved, lgtm

#7188 API returns 500 in case network is not found instead of 404
  libpod/define/errors.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/handlers/utils/errors.go
  pkg/network/config.go
  pkg/network/files.go
  pkg/network/network.go
  test/apiv2/35-networks.at
Labels: approved, lgtm

#7076 Speedup static build by utilizing CI cache on `/nix` folder
  .cirrus.yml
  nix/nixpkgs.json
Labels: approved, lgtm

#7194 Systemd: install auto-update service and timer
  Makefile
  contrib/spec/podman.spec.in
Labels: approved, lgtm

#7097 [CI:DOCS] apiv2 fix volumes not included field
  pkg/api/server/register_volumes.go
  pkg/domain/entities/volumes.go
Labels: approved, lgtm

#7193 podman.service: drop install section
  contrib/systemd/system/podman.service
Labels: Backport to v2.0, approved, lgtm

#7182 implement the exitcode when start a container with attach
  cmd/podman/containers/start.go
  test/e2e/start_test.go
Labels: approved, lgtm

#7201 Do not set host IP on ports when 0.0.0.0 requested
  cmd/podman/common/util.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#7209 podman: support --mount type=devpts
  cmd/podman/common/volumes.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  test/e2e/run_test.go
Labels: approved, lgtm

#7192 rootless: system service joins immediately the namespaces
  pkg/rootless/rootless_linux.c
Labels: Backport to v2.0, approved, lgtm

#7200 Bump Buildah to v1.15.1 on v2.0 branch
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.gitignore
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: approved, lgtm

#7205 docker-compose uses application/tar
  pkg/api/handlers/compat/images_build.go
Labels: approved, lgtm

#7204 Missing return after early exit
  pkg/api/handlers/libpod/containers.go
Labels: approved, lgtm

#7111 Reenable remote system tests
  Makefile
  test/system/030-run.bats
  test/system/035-logs.bats
  test/system/050-stop.bats
  test/system/055-rm.bats
  test/system/070-build.bats
  test/system/110-history.bats
  test/system/120-load.bats
  test/system/130-kill.bats
  test/system/140-diff.bats
  test/system/160-volumes.bats
  test/system/200-pod.bats
  test/system/220-healthcheck.bats
  test/system/300-cli-parsing.bats
  test/system/400-unprivileged-access.bats
  test/system/410-selinux.bats
  test/system/helpers.bash
Labels: approved, lgtm

#7203 Bump to Buildah 1.16.0-dev in upstream
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.gitignore
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/README.md
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/digester.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/pkg/blobcache/blobcache.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/troubleshooting.md
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/ocicrypt/.travis.yml
  vendor/github.com/containers/ocicrypt/SECURITY.md
  vendor/github.com/containers/ocicrypt/go.mod
  vendor/github.com/containers/ocicrypt/go.sum
  vendor/github.com/containers/ocicrypt/gpg.go
  vendor/github.com/containers/ocicrypt/keywrap/pkcs7/keywrapper_pkcs7.go
  vendor/github.com/fullsailor/pkcs7/.travis.yml
  vendor/github.com/fullsailor/pkcs7/README.md
  vendor/github.com/fullsailor/pkcs7/pkcs7.go
  vendor/github.com/fullsailor/pkcs7/x509.go
  vendor/go.mozilla.org/pkcs7/.gitignore
  vendor/go.mozilla.org/pkcs7/.travis.yml
  vendor/go.mozilla.org/pkcs7/LICENSE
  vendor/go.mozilla.org/pkcs7/Makefile
  vendor/go.mozilla.org/pkcs7/README.md
  vendor/go.mozilla.org/pkcs7/ber.go
  vendor/go.mozilla.org/pkcs7/decrypt.go
  vendor/go.mozilla.org/pkcs7/encrypt.go
  vendor/go.mozilla.org/pkcs7/go.mod
  vendor/go.mozilla.org/pkcs7/pkcs7.go
  vendor/go.mozilla.org/pkcs7/sign.go
  vendor/go.mozilla.org/pkcs7/verify.go
  vendor/modules.txt
Labels: approved, lgtm

#7207 Improve error message when creating a pod/ctr with the same name
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
Labels: approved, lgtm

#7222 correct go-binding key for volumes
  pkg/bindings/containers/containers.go
  test/system/160-volumes.bats
Labels: approved, lgtm

#7226 v2.0 Backports
  Makefile
  contrib/remote/containers.conf
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#7217 Remove duplicated code
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
Labels: approved, lgtm

#7081 fix bug podman sign storage path
  go.mod
  pkg/domain/infra/abi/images.go
  pkg/trust/trust.go
  test/e2e/image_sign_test.go
  test/e2e/sign/secret-key.asc
Labels: approved, lgtm

#7224 Handle podman-remote run --rm
  pkg/domain/infra/tunnel/containers.go
  test/system/030-run.bats
  test/system/070-build.bats
  test/system/160-volumes.bats
  test/system/200-pod.bats
  test/system/300-cli-parsing.bats
  test/system/400-unprivileged-access.bats
  test/system/410-selinux.bats
Labels: approved, lgtm

#7125 validate fds --preserve-fds
  cmd/podman/containers/exec.go
  cmd/podman/containers/run.go
  pkg/rootless/rootless_linux.c
  pkg/rootless/rootless_linux.go
  pkg/rootless/rootless_unsupported.go
  test/e2e/run_test.go
  test/system/030-run.bats
Labels: approved, lgtm

#6905 Retry pulling image
  libpod/image/image.go
  libpod/image/pull.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/modules.txt
Labels: approved, lgtm

#7176 Ensure WORKDIR from images is created
  libpod/container_config.go
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  test/e2e/run_test.go
Labels: approved, lgtm

#7236 Ensure that exec errors write exit codes to the DB
  libpod/container_exec.go
  test/e2e/exec_test.go
  test/system/075-exec.bats
Labels: approved, lgtm

#7212 Refactor parsing to not require --remote to be first flag
  cmd/podman/registry/remote.go
  test/utils/utils.go
Labels: approved, lgtm

#7220 podman-remote send name and tag
  pkg/domain/infra/tunnel/images.go
  test/system/120-load.bats
Labels: approved, lgtm

#7232 fix podman logs --tail when log is bigger than pagesize
  libpod/logs/log.go
  libpod/logs/reversereader/reversereader.go
  test/e2e/logs_test.go
Labels: approved, lgtm

#7075 [CI:DOCS] BZ1860126 - Fix userns defaults in run man page
  docs/source/markdown/podman-run.1.md
  pkg/namespaces/namespaces.go
Labels: approved, lgtm

#7215 images: speed up lists
  libpod/image/filters.go
  libpod/image/image.go
  libpod/image/layer_tree.go
  libpod/image/prune.go
  pkg/api/handlers/utils/images.go
  pkg/domain/infra/abi/images_list.go
Labels: approved, lgtm

#7216 support outbound-addr
  docs/source/markdown/podman-create.1.md
  libpod/networking_linux.go
  test/e2e/run_networking_test.go
  test/utils/utils.go
Labels: approved, lgtm

#7238 system tests: podman-remote, image tree
  test/system/001-basic.bats
  test/system/070-build.bats
  test/system/075-exec.bats
Labels: approved, lgtm

#7138 Cirrus: Add python packages to images
  .cirrus.yml
  contrib/cirrus/packer/fedora_packaging.sh
  contrib/cirrus/packer/ubuntu_packaging.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm

#7272 generate systemd: fix error handling
  pkg/domain/infra/abi/generate.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm

#7223 Unconditionally retrieve pod names via API
  libpod/boltdb_state.go
  libpod/in_memory_state.go
  libpod/runtime.go
  libpod/state.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/test/containers_test.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/helpers.go
  pkg/ps/ps.go
Labels: approved, lgtm

#7221 remove --latest for all remote commands
  cmd/podman/root.go
  cmd/podman/validate/args.go
  cmd/podman/validate/latest.go
Labels: approved, lgtm

#7240 Default .Repository and .Tag values to <none>
  cmd/podman/images/list.go
  test/system/120-load.bats
Labels: approved, kind/bug, lgtm

#7244 Remove TEST_ from TEST_REMOTE_*
  .cirrus.yml
  contrib/cirrus/apiv2_test.sh
  contrib/cirrus/build_release.sh
  contrib/cirrus/check_image.sh
  contrib/cirrus/container_test.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/system_test.sh
Labels: approved, lgtm

#7256 Do not use image CMD if user gave ENTRYPOINT
  cmd/podman/common/specgen.go
  pkg/specgen/generate/oci.go
  test/e2e/run_test.go
Labels: approved, lgtm

#7270 Allign container image storage configuration with Buildah
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/stable/manual/Containerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
Labels: approved, lgtm

#7282 Img Pull - Error pass through
  pkg/domain/infra/abi/images.go
Labels: approved, lgtm

#7266 [CI:DOCS] Add missing pages for docs.podman.io
  commands-demo.md
  docs/source/Commands.rst
  docs/source/connection.rst
  docs/source/image.rst
  docs/source/index.rst
  docs/source/managecontainers.rst
  docs/source/manifest.rst
  docs/source/markdown/podman-image.1.md
  docs/source/markdown/podman-system-connection.1.md
  docs/source/system.rst
  transfer.md
Labels: approved, lgtm

#7261 Add the `Status` field in the ps --format=json
  cmd/podman/containers/ps.go
  pkg/domain/entities/container_ps.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#7239 Fix handling of working dir
  pkg/specgen/container_validate.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  test/e2e/run_working_dir.go
Labels: Backport to v2.0, approved, lgtm

#7269 Allow specifying seccomp profiles for privileged containers
  pkg/specgen/generate/security.go
  test/e2e/run_test.go
Labels: approved, lgtm

#7288 Enable systemd mode for /usr/local/sbin/init
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/generate/container_create.go
  pkg/varlinkapi/create.go
Labels: Backport to v2.0, approved, lgtm

#7291 [CI:DOCS] cross-reference .rst files
  docs/source/Commands.rst
  docs/source/image.rst
  docs/source/managecontainers.rst
  docs/source/system.rst
  hack/xref-helpmsgs-manpages
Labels: approved, lgtm

#7281 Ensure correct propagation for cgroupsv1 systemd cgroup
  libpod/container_internal_linux.go
Labels: Needed for V2, approved, lgtm

#7286 Update nix pin with `make nixpkgs`
  nix/default.nix
  nix/nixpkgs.json
Labels: approved, lgtm

#7247 Replace deepcopy on history results
  pkg/domain/infra/tunnel/images.go
  test/system/110-history.bats
Labels: approved, lgtm

#7267 Add parameter verification for api creation network
  pkg/network/network.go
  test/apiv2/35-networks.at
Labels: approved, lgtm

#7202 add event for image build
  libpod/events/config.go
  libpod/events/events.go
  libpod/runtime_img.go
Labels: approved, lgtm

#7296 Makefile: use full path for ginkgo
  Makefile
Labels: approved, lgtm

#7295 podman-remote fixes for msi and client
  cmd/podman/root.go
  cmd/podman/system/connection/add.go
  contrib/msi/podman.wxs
  pkg/bindings/connection.go
Labels: approved, lgtm

#7299 add xz as a recommended pkg
  contrib/spec/podman.spec.in
Labels: approved, lgtm

#7308 Add support for setting the CIDR when using slirp4netns
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/networking_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#7306 Change /sys/fs/cgroup/systemd mount to rprivate
  libpod/container_internal_linux.go
Labels: approved, lgtm

#7073 podman save use named pipe
  cmd/podman/images/save.go
  cmd/podman/images/utils_linux.go
  cmd/podman/images/utils_unsupported.go
  test/system/120-load.bats
Labels: approved, lgtm

#7293 Fix hang when `path` doesn't exist
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm

#7227 run, create: add new security-opt proc-opts
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/spec/createconfig.go
  pkg/spec/security.go
  pkg/specgen/generate/oci.go
  pkg/specgen/specgen.go
  test/e2e/run_test.go
Labels: approved, lgtm

#7312 podman.service: use sdnotify
  contrib/systemd/system/podman.service
  pkg/api/server/server.go
Labels: approved, lgtm

#7237 [CI:DOCS] Update podmanimages README.md
  contrib/podmanimage/README.md
Labels: approved, lgtm

#7314 IPv6 default route
  pkg/domain/infra/abi/network.go
  pkg/network/ip.go
  pkg/network/netconflist.go
  pkg/network/netconflist_test.go
  test/e2e/network_create_test.go
Labels: approved, lgtm

#7326 Add pointer to troubleshooting in issue template
  .github/ISSUE_TEMPLATE.md
Labels: approved, lgtm

#7317 system tests: enable sdnotify tests
  test/system/260-sdnotify.bats
Labels: approved, lgtm

#7283 Ensure pod infra containers have an exit command
  libpod/container_config.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime_pod_infra_linux.go
  pkg/api/handlers/libpod/pods.go
  pkg/bindings/test/pods_test.go
  pkg/specgen/generate/pod_create.go
Labels: approved, lgtm

#7292 Wait for reexec to finish when fileOutput is nil
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm

#7354 Re-disable sdnotify tests to try to fix CI
  test/system/260-sdnotify.bats
Labels: approved, lgtm

#7358 Remove help/usage from --remote pre-check
  cmd/podman/registry/remote.go
Labels: approved, kind/bug, lgtm

#7352 fix podman create/run UTS NS docs
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/container_validate.go
Labels: approved, lgtm

#7338 flake fix: podman image trust
  test/e2e/trust_test.go
Labels: approved, lgtm

#7339 abi: fix detection for systemd
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#7341 e2e tests: use actual temp dirs, not "/tmp/dir"
  test/e2e/build_test.go
  test/e2e/commit_test.go
  test/e2e/pod_create_test.go
Labels: approved, lgtm

#7361 fix podman version output to include git commit and builttime
  Makefile
  test/system/001-basic.bats
Labels: approved, lgtm

#7311 Support sighup reload configuration files
  cmd/podman/system/service_abi.go
  cmd/podman/utils/signals_linux.go
  cmd/podman/utils/signals_windows.go
  libpod/runtime.go
Labels: approved, lgtm

#7343 Ensure DefaultEnvVariables is used in Specgen
  pkg/env/env.go
  pkg/spec/spec.go
Labels: approved, lgtm

#7350 generate systemd: quote arguments with whitespace
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
Labels: Backport to v2.0, approved, lgtm

#7362 system tests: enable more remote tests; cleanup
  test/system/005-info.bats
  test/system/010-images.bats
  test/system/015-help.bats
  test/system/030-run.bats
  test/system/060-mount.bats
  test/system/075-exec.bats
  test/system/120-load.bats
  test/system/200-pod.bats
  test/system/250-systemd.bats
  test/system/260-sdnotify.bats
  test/system/500-networking.bats
Labels: approved, lgtm

#7344 Cirrus: Increase integration-testing timeout
  .cirrus.yml
Labels: approved, lgtm

#7346 Don't limit the size on /run for systemd based containers
  cmd/podman/common/volumes.go
  libpod/container_internal_linux.go
Labels: approved, lgtm

#7366 Implement --connection flag
  cmd/podman/early_init_linux.go
  cmd/podman/root.go
  cmd/podman/system/connection/add.go
  completions/bash/podman
  docs/source/markdown/podman-remote.1.md
  docs/source/markdown/podman.1.md
Labels: approved, kind/feature, lgtm

#7381 Fix v2.0.x CI
  contrib/cirrus/lib.sh
  seccomp.json
Labels: approved, lgtm

#7383 Unmount c/storage containers before removing them
  libpod/runtime_img.go
Labels: approved, lgtm

#7356 [2.0] vendor c/image v5.5.2
  cmd/podman/images/search.go
  docs/source/markdown/podman-search.1.md
  go.mod
  go.sum
  libpod/container_api.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#7379 [CI:DOCS] docs: include Go bindings tutorial
  docs/source/Tutorials.rst
  docs/tutorials/README.md
  docs/tutorials/podman-go-bindings.md
Labels: approved, lgtm

#7388 fix pod creation with "new:" syntax followup + allow hostname
  cmd/podman/containers/create.go
  test/e2e/run_networking_test.go
  test/e2e/run_test.go
Labels: approved, lgtm

#7376 Cirrus: special-case CI colon-IMG and colon-DOCS only in subject
  .cirrus.yml
Labels: approved, lgtm

#7274 In podman 1.* regression on --cap-add
  go.mod
  go.sum
  pkg/specgen/generate/security.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/capabilities/capabilities.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_local.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/libpodConfig.go
  vendor/github.com/containers/common/version/version.go
  vendor/golang.org/x/sys/cpu/byteorder.go
  vendor/golang.org/x/sys/cpu/cpu_arm64.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_bsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zerrors_freebsd_386.go
  vendor/golang.org/x/sys/unix/zerrors_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_freebsd_arm.go
  vendor/golang.org/x/sys/unix/zerrors_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zerrors_netbsd_386.go
  vendor/golang.org/x/sys/unix/zerrors_netbsd_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_netbsd_arm.go
  vendor/golang.org/x/sys/unix/zerrors_netbsd_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_386.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zerrors_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/memory_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: approved, lgtm

#7408 Update nix pin with `make nixpkgs`
  .cirrus.yml
  nix/nixpkgs.json
Labels: approved, lgtm

#7410 Vendor in containers/common v0.14.9
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/pkg/config/config_linux.go
  vendor/github.com/containers/common/pkg/config/config_windows.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#7372 podman: add option --cgroup-conf
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  completions/bash/podman
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  go.mod
  go.sum
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  pkg/spec/createconfig.go
  pkg/specgen/generate/validate.go
  pkg/specgen/specgen.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/config.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/state.go
  vendor/github.com/opencontainers/runtime-tools/generate/generate.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/seccomp_default.go
  vendor/modules.txt
Labels: approved, lgtm

#7402 Final v2.0.5 backports
  .cirrus.yml
  RELEASE_NOTES.md
  changelog.txt
  contrib/spec/podman.spec.in
  libpod/define/errors.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime_pod_infra_linux.go
  pkg/api/handlers/libpod/pods.go
  pkg/bindings/test/pods_test.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/pod_create.go
  test/e2e/create_test.go
  vendor/github.com/containers/storage/drivers/counter.go
  version/version.go
Labels: approved, lgtm

#7439 run test: use explicit uid/gid
  test/system/030-run.bats
Labels: approved, lgtm

#7335 Update vendor of buildah to latest code
  docs/source/markdown/podman-build.1.md
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/info.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/supplemented/supplemented.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/util.go
  vendor/github.com/seccomp/containers-golang/conversion.go
  vendor/github.com/seccomp/containers-golang/go.mod
  vendor/github.com/seccomp/containers-golang/go.sum
  vendor/github.com/seccomp/containers-golang/seccomp_default_linux.go
  vendor/github.com/seccomp/containers-golang/seccomp_unsupported.go
  vendor/modules.txt
Labels: approved, do-not-merge/hold, lgtm

#7443 Undo v2.0 branch hacks
  .cirrus.yml
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/modules.txt
Labels: approved, lgtm

#7450 podman-remote fixes for msi and client
  cmd/podman/system/connection/add.go
  contrib/msi/podman.wxs
  pkg/bindings/connection.go
Labels: approved, lgtm

#7364 Note port publishing needs in pods for create/run
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  troubleshooting.md
Labels: approved, lgtm

#7409 fix apiv2 will create containers with incorrect commands
  libpod/container_internal.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/containers_create.go
  pkg/spec/spec.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#7438 Remove test comment for now-succeeding tests
  test/system/075-exec.bats
Labels: approved, lgtm

#7457 [CI:DOCS] Making docs build on mac
  docs/remote-docs.sh
Labels: approved, lgtm

#7475 abi: trim init command
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#7451 Send HTTP Hijack headers after successful attach
  libpod/container_api.go
  libpod/container_exec.go
  libpod/oci.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  libpod/oci_missing.go
  libpod/util.go
  pkg/api/handlers/compat/containers_attach.go
  pkg/api/handlers/compat/exec.go
  pkg/bindings/containers/attach.go
  pkg/bindings/containers/containers.go
Labels: approved, lgtm

#7458 [CI:DOCS] Update podman-remote docs
  docs/remote-docs.sh
  docs/source/markdown/podman-remote.1.md
Labels: approved, lgtm

#7483 Bump c/common to v0.14.10 and c/conmon to v2.0.20
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config_windows.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#7482 [CI:DOCS] Switch more references from libpod to podman
  CONTRIBUTING.md
  README.md
Labels: approved, lgtm

#7480 Switch to containers/common for seccomp
  go.mod
  go.sum
  pkg/spec/config_linux_cgo.go
  pkg/specgen/generate/config_linux_cgo.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containers/common/pkg/apparmor/internal/supported/supported.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/pkg/config/config_linux.go
  vendor/github.com/containers/common/pkg/config/config_local.go
  vendor/github.com/containers/common/pkg/config/config_windows.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/libpodConfig.go
  vendor/github.com/containers/common/pkg/config/util_supported.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/seccomp/conversion.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/pkg/seccomp/seccomp_default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp_unsupported.go
  vendor/github.com/containers/common/pkg/seccomp/supported.go
  vendor/github.com/containers/common/pkg/seccomp/types.go
  vendor/github.com/containers/common/pkg/sysinfo/sysinfo_linux.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/copy/copy_linux.go
  vendor/github.com/containers/storage/drivers/counter.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/store.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/seccomp/libseccomp-golang/.travis.yml
  vendor/github.com/seccomp/libseccomp-golang/CONTRIBUTING.md
  vendor/github.com/seccomp/libseccomp-golang/README.md
  vendor/github.com/seccomp/libseccomp-golang/go.mod
  vendor/github.com/seccomp/libseccomp-golang/go.sum
  vendor/github.com/seccomp/libseccomp-golang/seccomp.go
  vendor/github.com/seccomp/libseccomp-golang/seccomp_internal.go
  vendor/modules.txt
Labels: approved, lgtm

#7478 [CI:DOCS] remote doc fixes
  docs/remote-docs.sh
  docs/source/markdown/podman-remote.1.md
Labels: approved, lgtm

#7455 abi: trim init command
  pkg/domain/infra/abi/system.go
Labels: Backport to v2.0, approved, lgtm

#7427 Fix up some error messages
  libpod/oci_conmon_linux.go
  pkg/specgen/generate/config_linux.go
Labels: approved, lgtm

#7449 Fix log level case regression
  cmd/podman/root.go
  test/e2e/run_test.go
Labels: approved, lgtm

#7464 BATS: fix corner case in --userns=keep-id test
  test/system/030-run.bats
  test/system/070-build.bats
Labels: approved, lgtm

#7416 [CI:DOCS] fix swagger api docs
  hack/swagger-check
  pkg/api/server/register_images.go
  pkg/api/server/register_volumes.go
  pkg/api/tags.yaml
Labels: approved, lgtm

#7428 Ensure pod REST API endpoints include ctr errors
  pkg/api/handlers/libpod/pods.go
Labels: approved, lgtm

#7429 delete prior /dev/shm/*
  libpod/lock/shm/shm_lock_test.go
Labels: approved, lgtm

#7355 Use environment from containers.conf
  cmd/podman/common/specgen.go
  pkg/specgen/generate/container.go
  pkg/specgen/specgen.go
Labels: approved, do-not-merge/hold, lgtm

#7488 Bump to v2.0.6-rc1
  RELEASE_NOTES.md
  changelog.txt
Labels: approved, lgtm

#7448 fix panic when checking len on nil object
  libpod/image/image.go
Labels: approved, lgtm

#7431 [CI:DOCS] Update Master to reflect v2.0.5 release
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm

#7491 Enable --remote flag v2.0
  cmd/podman/registry/config.go
Labels: approved, lgtm

#7481 Don't remove config files with podman system reset
  libpod/reset.go
Labels: approved, lgtm

#7436 Add support for image pull overrides
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  cmd/podman/images/pull.go
  completions/bash/podman
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-run.1.md
  libpod/image/docker_registry_options.go
  libpod/image/pull.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
Labels: approved, lgtm

#7469 fix podman generate kube with HostAliases
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#7502 V2.0: Futher --remote flag backports
  cmd/podman/registry/remote.go
  test/system/001-basic.bats
  test/system/070-build.bats
  test/system/075-exec.bats
  test/utils/utils.go
Labels: approved, lgtm

#7494 play kube: handle Socket HostPath type
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#7496 handle play kube with pod.spec.hostAliases
  pkg/domain/infra/abi/play.go
  pkg/spec/createconfig.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#7514 bindings: reenable flaky(?) pause/unpause test
  pkg/bindings/test/containers_test.go
Labels: approved, lgtm
