Repository containers/podman, pull requests merged in 2020-07, with the labels that each got.

#6815 Created timesptamp returned by imagelist should be in unix format
  cmd/podman/images/list.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/types.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images_list.go
Labels: approved, lgtm

#6736 APIv2: Add docker compatible volume endpoints
  pkg/api/handlers/compat/volumes.go
  pkg/api/server/register_volumes.go
  pkg/domain/entities/volumes.go
Labels: approved, lgtm, ok-to-test

#6832 Don't disable selinux labels if user specifies a security opt
  cmd/podman/shared/create.go
Labels: approved, lgtm

#6838 Fix `system service` panic from early hangup in events
  libpod/events.go
  libpod/events/config.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/events/nullout.go
  pkg/api/handlers/compat/events.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/events.go
  pkg/varlinkapi/attach.go
  pkg/varlinkapi/events.go
Labels: approved, lgtm

#6845 stop podman service in e2e tests
  test/e2e/common_test.go
Labels: approved, lgtm

#6852 Fix container inspect endpoint returning null for network settings / ports
  pkg/api/handlers/compat/containers.go
Labels: approved, lgtm, ok-to-test

#6849 Bump to imagebuilder v1.1.6 on v2 branch
  go.mod
  go.sum
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/github.com/openshift/imagebuilder/internals.go
  vendor/modules.txt
Labels: approved, lgtm

#6848 Bump imagebuilder to v1.1.6 in upstream
  go.mod
  go.sum
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/github.com/openshift/imagebuilder/internals.go
  vendor/modules.txt
Labels: approved, lgtm

#6846 Print errors from individual containers in pods
  libpod/define/errors.go
  libpod/pod_api.go
  pkg/domain/infra/abi/pods.go
Labels: Backport to v2.0, approved, lgtm

#6858 auto-update: clarify systemd-unit requirements
  cmd/podman/auto-update.go
  docs/source/markdown/podman-auto-update.1.md
Labels: approved, lgtm

#6855 podman ps truncate the command
  cmd/podman/containers/ps.go
  test/e2e/ps_test.go
Labels: approved, lgtm, ok-to-test

#6790 Set engine env from common config
  cmd/podman/root.go
  docs/source/markdown/podman.1.md
Labels: approved, lgtm

#6860 Vendor containers/common v0.14.4
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#6836 Add --tz flag to create, run
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  completions/bash/podman
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/config/containers.conf
  test/e2e/containers_conf_test.go
  test/e2e/create_test.go
  test/e2e/run_test.go
Labels: approved, lgtm

#6812 test.apiv2: add testing for container initializing
  test/apiv2/20-containers.at
Labels: approved, lgtm, ok-to-test

#6870 Pids-limit should only be set if the user set it
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/create.go
  pkg/specgen/generate/container.go
Labels: approved, lgtm

#6868 Fix bug where `podman mount` didn't error as rootless
  cmd/podman/containers/mount.go
  test/e2e/mount_test.go
Labels: approved, lgtm

#6693 Implement --sdnotify cmdline option to control sd-notify behavior
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_internal.go
  libpod/define/config.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/system/260-sdnotify.bats
  vendor/github.com/coreos/go-systemd/v22/daemon/sdnotify.go
  vendor/github.com/coreos/go-systemd/v22/daemon/watchdog.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test

#6874 Backport 'podman mount' bugfix
  cmd/podman/containers/mount.go
  test/e2e/mount_test.go
Labels: approved, lgtm

#6873 remove podman system connection
  cmd/podman/system/connection.go
  docs/source/markdown/podman-system-connection.1.md
  docs/source/markdown/podman-system.1.md
Labels: approved, lgtm

#6878 Add support for Filter query parameter to list images api
  pkg/api/handlers/utils/images.go
  test/apiv2/10-images.at
Labels: approved, lgtm, ok-to-test

#6881 fix race condition in `libpod.GetEvents(...)`
  libpod/events.go
Labels: approved, lgtm

#6829 Add username to /etc/passwd inside of container if --userns keep-id
  cmd/podman/common/specgen.go
  libpod/container.go
  libpod/container_internal_linux.go
  libpod/container_internal_linux_test.go
  libpod/options.go
  pkg/specgen/generate/namespaces.go
  test/e2e/run_userns_test.go
Labels: approved, lgtm

#6886 [CI:DOCS] Finalize release notes for Podman v2.0.2
  RELEASE_NOTES.md
Labels: approved, lgtm

#6883 [2.0] fix race condition in `libpod.GetEvents(...)`
  libpod/events.go
Labels: approved, lgtm

#6888 [CI:DOCS] Bump to v2.0.2
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#6814 Fix saving in oci format
  libpod/image/image.go
  libpod/runtime_img.go
Labels: approved, lgtm

#6916 log API: add context to allow for cancelling
  cmd/podman/containers/logs.go
  libpod/container_api.go
  libpod/container_log.go
  libpod/container_log_linux.go
  libpod/container_log_unsupported.go
  pkg/api/handlers/compat/containers_logs.go
  pkg/domain/infra/abi/containers.go
  pkg/varlinkapi/containers.go
  test/e2e/logs_test.go
Labels: approved, lgtm

#6835 fix API: Create container with an invalid configuration
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: approved, lgtm, ok-to-test

#6906 Vendor in new version of Buildah
  docs/source/markdown/podman-build.1.md
  go.mod
  go.sum
  pkg/spec/config_linux.go
  pkg/specgen/generate/config_linux.go
  test/e2e/events_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/pod_stats_test.go
  test/e2e/run_memory_test.go
  test/e2e/stats_test.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.gitignore
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/parse/parse_unix.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/cgroups.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/v1_utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/device.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/device_defaults.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/device_unix.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/device_windows.go
  vendor/github.com/opencontainers/runc/libcontainer/devices/devices.go
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/sysconfig.go
  vendor/github.com/opencontainers/runc/libcontainer/system/sysconfig_notcgo.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Labels: approved, lgtm

#6917 Remove all instances of named return "err" from Libpod
  libpod/container_api.go
  libpod/container_exec.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_internal_unsupported.go
  libpod/events/events_linux.go
  libpod/networking_linux.go
  libpod/networking_unsupported.go
  libpod/oci_conmon_linux.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/state_test.go
  libpod/storage.go
Labels: approved, lgtm

#6918 Fix: Correct connection counters for hijacked connections
  pkg/api/handlers/compat/containers_attach.go
  pkg/api/handlers/compat/exec.go
  pkg/api/server/handler_api.go
  pkg/api/server/idletracker/idletracker.go
  pkg/api/server/server.go
Labels: approved, lgtm

#6929 version/info: format: allow more json variants
  cmd/podman/parse/json.go
  cmd/podman/parse/json_test.go
  cmd/podman/system/info.go
  cmd/podman/system/version.go
  test/e2e/info_test.go
  test/e2e/version_test.go
Labels: approved, lgtm

#6936 Correctly print STDOUT on non-terminal remote exec
  pkg/bindings/containers/attach.go
  test/e2e/exec_test.go
Labels: approved, lgtm

#6932 Don't setup AppArmor provile for privileged pods
  cmd/podman/common/specgen.go
Labels: approved, lgtm

#6896 Fix container and pod create commands for remote create
  cmd/podman/common/specgen.go
  cmd/podman/pods/create.go
  libpod/options.go
  pkg/domain/entities/pods.go
  pkg/spec/createconfig.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  pkg/varlinkapi/create.go
  test/e2e/pod_inspect_test.go
Labels: approved, lgtm

#6842 Pids-limit should only be set if the user set it
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/create.go
  pkg/specgen/generate/container.go
  test/e2e/run_test.go
Labels: approved, lgtm

#6959 [CI:DOCS] Remove outdated seccomp policy
  Makefile
  README.md
  seccomp.json
Labels: approved, lgtm

#6952 add systemd to fedora image
  contrib/cirrus/lib.sh
  test/e2e/config_amd64.go
  test/e2e/system_df_test.go
  test/e2e/systemd_test.go
Labels: approved, lgtm

#6973 [CI:DOCS]Do not copy policy.json into gating image
  contrib/gate/Dockerfile
Labels: approved, lgtm

#6931 Ensure sig-proxy default is propagated in start
  cmd/podman/containers/start.go
Labels: approved, lgtm

#6951 When determining systemd mode, use full command
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  libpod/define/ctr_inspect.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/oci.go
  test/e2e/systemd_test.go
Labels: approved, lgtm

#6939 Fix handling of entrypoint
  cmd/podman/common/specgen.go
  pkg/api/handlers/compat/containers_create.go
  pkg/specgen/generate/oci.go
  test/e2e/run_entrypoint_test.go
Labels: Backport to v2.0, approved, lgtm

#6957 Mask out /sys/dev to prevent information leak from the host
  pkg/specgen/generate/config_linux.go
Labels: approved, lgtm

#6956 Include infra container information in `pod inspect`
  libpod/container_inspect.go
  libpod/define/pod_inspect.go
  libpod/networking_linux.go
  libpod/pod_api.go
  libpod/util.go
  test/e2e/pod_inspect_test.go
Labels: approved, lgtm

#6971 play-kube: add suport for "IfNotPresent" pull type
  pkg/util/utils.go
Labels: approved, lgtm

#6978 APIv2 tests: fix race condition causing CI flake
  test/apiv2/20-containers.at
Labels: approved, lgtm

#6974 docs: user namespace can't be shared in pods
  docs/source/markdown/podman-pod-create.1.md
Labels: approved, lgtm

#6949 Fix "Error: unrecognized protocol \"TCP\" in port mapping"
  pkg/specgen/generate/ports.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#6921 [2.0] search: allow wildcards
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/gate/Dockerfile
  libpod/image/search.go
  pkg/registries/registries.go
  test/e2e/config_amd64.go
  test/e2e/search_test.go
  test/e2e/system_df_test.go
  test/e2e/systemd_test.go
Labels: approved, lgtm

#6958 system tests: new tests for run, exec
  test/system/030-run.bats
  test/system/075-exec.bats
  test/system/410-selinux.bats
  test/system/helpers.bash
  test/system/helpers.t
Labels: approved, lgtm

#6910 Fix a bug where --pids-limit was parsed incorrectly
  cmd/podman/containers/create.go
  test/e2e/run_test.go
Labels: approved, lgtm

#6977 Preserve passwd on container restart
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/util.go
Labels: approved, lgtm

#6979 system tests: check for masked-device leaks
  test/system/400-unprivileged-access.bats
Labels: approved, lgtm

#6975 Error on rootless mac and ip addresses
  pkg/specgen/container_validate.go
  pkg/specgen/pod_validate.go
  pkg/specgen/specgen.go
  test/e2e/common_test.go
  test/e2e/create_staticip_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/pod_create_test.go
  test/system/200-pod.bats
Labels: approved, lgtm

#6903 Fix & add notes regarding problematic language in codebase
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-image-trust.1.md
  docs/source/markdown/podman-run.1.md
  pkg/util/utils.go
  rootless.md
Labels: approved, lgtm

#6988 Fix `podman system connection` panic
  cmd/podman/system/connection.go
  docs/source/markdown/podman-system-connection.1.md
Labels: approved, lgtm

#7003 The compat create endpoint should 404 on no such image
  pkg/api/handlers/compat/containers_create.go
Labels: approved, lgtm

#6965 allow switching of port-forward approaches in rootless/using slirp4netns
  cmd/podman/common/netflags.go
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/networking_linux.go
  libpod/options.go
  pkg/domain/entities/types.go
  pkg/namespaces/namespaces.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/namespaces.go
  pkg/specgen/specgen.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#7005 abi: set default umask and rlimits
  cmd/podman/early_init_linux.go
  cmd/podman/early_init_unsupported.go
  cmd/podman/root.go
  libpod/define/config.go
  pkg/domain/infra/abi/system.go
  pkg/spec/spec.go
  pkg/specgen/generate/oci.go
Labels: Backport to v2.0, approved, lgtm

#6934 using reference package to parse
  cmd/podman/images/list.go
Labels: approved, lgtm

#6402 [nix] Cleanup nix derivation for static builds
  .cirrus.yml
  .gitignore
  Containerfile-nix
  Makefile
  nix/default.nix
  nix/nixpkgs.json
Labels: approved, lgtm, needs-ok-to-test

#7011 document CAP_SYS_ADMIN required for systemd PrivateNetwork
  rootless.md
Labels: approved, lgtm

#7018 fix: system df error when an image has no name
  pkg/domain/infra/abi/system.go
  test/e2e/system_df_test.go
Labels: Backport to v2.0, approved, lgtm

#7023 contrib/systemd cleanups
  contrib/systemd/system/podman.service
  contrib/systemd/system/podman.socket
  contrib/systemd/user
  contrib/systemd/user/podman.service
  contrib/systemd/user/podman.socket
Labels: Backport to v2.0, approved, lgtm

#7024 Re-enable a generate kube test that failed on Ubuntu
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#6895 Add support for overlay volume mounts in podman.
  cmd/podman/common/specgen.go
  cmd/podman/common/volumes.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_internal_unsupported.go
  libpod/container_validate.go
  libpod/options.go
  libpod/runtime.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/util/mountOpts.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm

#7026 BATS tests: more resilient remove_same_dev_warning
  test/e2e/run_device_test.go
  test/system/helpers.bash
Labels: approved, lgtm

#7009 Switch references from libpod.conf to containers.conf
  .cirrus.yml
  Makefile
  cmd/podman/registry/config.go
  cmd/podman/system/renumber.go
  cni/README.md
  docs/source/markdown/libpod.conf.5.md
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-events.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-system-migrate.1.md
  docs/source/markdown/podman-system-renumber.1.md
  docs/source/markdown/podman.1.md
  docs/tutorials/rootless_tutorial.md
  libpod/runtime.go
  pkg/network/config.go
  troubleshooting.md
Labels: Backport to v2.0, approved, lgtm

#7031 unit tests: root check
  Makefile
  hack/check_root.sh
Labels: approved, lgtm

#7029 [2.0] contrib/systemd cleanups
  contrib/systemd/system/podman.service
  contrib/systemd/system/podman.socket
  contrib/systemd/user
  contrib/systemd/user/podman.service
  contrib/systemd/user/podman.socket
Labels: approved, lgtm

#6902 events endpoint: fix panic and race condition
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  pkg/api/handlers/compat/events.go
  pkg/bindings/test/system_test.go
  test/e2e/events_test.go
Labels: Backport to v2.0, approved, lgtm

#7035 Fix Generate API swagger title/description
  pkg/api/server/register_generate.go
Labels: approved, lgtm

#7028 docs: Fix formatting mistake
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#7037 BATS help-message test: improve diagnostics
  test/system/015-help.bats
Labels: approved, lgtm

#7033 [2.0] Switch references from libpod.conf to containers.conf
  .cirrus.yml
  Makefile
  cmd/podman/registry/config.go
  cmd/podman/system/renumber.go
  cni/README.md
  docs/source/markdown/libpod.conf.5.md
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-events.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-system-migrate.1.md
  docs/source/markdown/podman-system-renumber.1.md
  docs/source/markdown/podman.1.md
  docs/tutorials/rootless_tutorial.md
  libpod/runtime.go
  pkg/network/config.go
  troubleshooting.md
Labels: approved, lgtm

#7036 Add noop function disable-content-trust
  cmd/podman/common/create.go
  cmd/podman/images/pull.go
  cmd/podman/images/push.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#7025 Update the README to reflect the libpod move
  README.md
Labels: approved, lgtm

#7038 [2.0] events fixes
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  pkg/api/handlers/compat/events.go
  pkg/bindings/test/system_test.go
  test/e2e/events_test.go
Labels: approved, lgtm

#7040 Do not print an error message on non-0 exec exit code
  libpod/container_exec.go
  libpod/healthcheck.go
Labels: approved, lgtm

#7002 fix podman play kube doesn't override dockerfile ENTRYPOINT
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#7006 Add --umask flag for create, run
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  completions/bash/podman
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  go.mod
  go.sum
  libpod/container.go
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  libpod/define/config.go
  libpod/define/container_inspect.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/config/containers.conf
  test/e2e/containers_conf_test.go
  test/e2e/create_test.go
  test/e2e/run_test.go
  vendor/github.com/opencontainers/runtime-tools/generate/generate.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/seccomp_default.go
  vendor/modules.txt
Labels: approved, lgtm

#7032 make localunit: record coverage
  .gitignore
  Makefile
Labels: approved, lgtm

#7044 Enable a bunch of remote tests
  test/e2e/attach_test.go
  test/e2e/build_test.go
  test/e2e/common_test.go
  test/e2e/generate_kube_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/load_test.go
  test/e2e/pull_test.go
  test/e2e/run_passwd_test.go
  test/e2e/run_privileged_test.go
  test/e2e/run_test.go
  test/e2e/search_test.go
Labels: approved, lgtm

#6955 logformatter: update MAGIC BLOB string
  .cirrus.yml
  contrib/cirrus/logformatter
Labels: approved, lgtm

#6992 Support default profile for apparmor
  cmd/podman/common/create.go
  cmd/podman/common/specgen.go
  contrib/cirrus/setup_environment.sh
  libpod/container_internal_linux.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/security.go
  test/e2e/run_apparmor_test.go
Labels: Backport to v2.0, approved, lgtm

#7049 Bump github.com/containers/common to v0.14.6
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/systemd.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#6822 Cirrus: Add packages that provide htpasswd
  .cirrus.yml
  contrib/cirrus/packer/Makefile
  contrib/cirrus/packer/fedora_packaging.sh
  contrib/cirrus/packer/libpod_images.yml
  contrib/cirrus/packer/ubuntu_packaging.sh
Labels: approved, lgtm

#7047 CI: attempt to fix flake in login test
  test/e2e/common_test.go
Labels: approved, lgtm

#7048 Turn on a bunch more remote tests
  test/e2e/common_test.go
  test/e2e/create_staticip_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/login_logout_test.go
  test/e2e/namespace_test.go
  test/e2e/network_create_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/pod_pod_namespaces.go
  test/e2e/pod_stats_test.go
  test/e2e/pod_top_test.go
  test/e2e/port_test.go
  test/e2e/run_cleanup_test.go
  test/e2e/run_cpu_test.go
  test/e2e/run_device_test.go
  test/e2e/run_dns_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_env_test.go
  test/e2e/run_memory_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_ns_test.go
  test/e2e/run_restart_test.go
  test/e2e/run_seccomp.go
  test/e2e/run_security_labels.go
  test/e2e/run_selinux_test.go
  test/e2e/run_staticip_test.go
  test/e2e/run_userns_test.go
  test/e2e/run_volume_test.go
  test/e2e/runlabel_test.go
  test/e2e/system_df_test.go
  test/e2e/systemd_test.go
  test/e2e/top_test.go
  test/e2e/volume_prune_test.go
Labels: approved, lgtm

#7050 logformatter: handle podman-remote
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
Labels: approved, lgtm

#7053 Publish IP from YAML (podman play kube)
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#7042 Enable --remote flag
  cmd/podman/registry/config.go
Labels: approved, lgtm

#7064 CI: fix rootless permission error
  contrib/cirrus/lib.sh
Labels: approved, lgtm

#7066 Fix typos on documentation 'What is Podman' page
  docs/source/index.rst
Labels: approved, lgtm

#7069 Bump to v2.0.3
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#7071 [CI:DOCS] Update release notes and README on master for v2.0.3
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm

#7072 [CI:DOCS] Fix exit code example in podman-run.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#7041 Improve Docs for `podman system reset`
  docs/source/markdown/podman-system-reset.1.md
  docs/source/system.rst
Labels: approved, lgtm

#6938 Refactor podman system connection
  cmd/podman/main.go
  cmd/podman/root.go
  cmd/podman/system/connection.go
  cmd/podman/system/connection/add.go
  cmd/podman/system/connection/default.go
  cmd/podman/system/connection/list.go
  cmd/podman/system/connection/remove.go
  cmd/podman/system/connection/rename.go
  docs/source/markdown/podman-system-connection-add.1.md
  docs/source/markdown/podman-system-connection-default.1.md
  docs/source/markdown/podman-system-connection-list.1.md
  docs/source/markdown/podman-system-connection-remove.1.md
  docs/source/markdown/podman-system-connection-rename.1.md
  docs/source/markdown/podman-system-connection.1.md
  docs/source/markdown/podman-system.1.md
  hack/xref-helpmsgs-manpages
  test/e2e/system_connection_test.go
Labels: approved, kind/feature, lgtm

#6742 APIv2:fix: Get volumes from `Binds` when creating
  pkg/api/handlers/compat/containers_create.go
Labels: Backport to v2.0, approved, lgtm, needs-ok-to-test

#7068 The `podman start --attach` command should not print ID
  cmd/podman/containers/start.go
Labels: approved, lgtm

#7084 Remove 'experimental' from API doc
  pkg/api/server/docs.go
Labels: approved, lgtm

#7083 replace the html/template package with text/template
  cmd/podman/networks/inspect.go
  cmd/podman/networks/list.go
  cmd/podman/system/df.go
  cmd/podman/system/events.go
  cmd/podman/volumes/inspect.go
  cmd/podman/volumes/list.go
Labels: approved, lgtm

#7088 API events: fix parsing error
  pkg/api/handlers/compat/events.go
  test/apiv2/01-basic.at
Labels: Backport to v2.0, approved, lgtm

#7027 TODO: Refactor container config
  libpod/common_test.go
  libpod/container.go
  libpod/container_config.go
  libpod/container_internal_linux_test.go
  libpod/container_internal_test.go
Labels: approved, lgtm

#7089 [2.0] events parsing fix #7078
  pkg/api/handlers/compat/events.go
  test/apiv2/01-basic.at
Labels: approved, lgtm

#7092 [CI:DOCS] Update transfer doc
  transfer.md
Labels: approved, lgtm

#7070 CI - various fixes
  .cirrus.yml
  contrib/cirrus/check_image.sh
  contrib/cirrus/container_test.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/networking.sh
  contrib/cirrus/packer/README.how-to-update-cirrus-vms
  contrib/cirrus/packer/fedora_packaging.sh
  contrib/cirrus/rootless_test.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/timestamp.awk
Labels: approved, lgtm

#7094 When chowning we should not follow symbolic link
  libpod/container_internal.go
Labels: approved, lgtm

#7095 Corrects typo in the name of the Linux package shadow-utils.
  docs/tutorials/rootless_tutorial.md
Labels: approved, lgtm

#7101 Bump github.com/rootless-containers/rootlesskit from 0.9.5 to 0.10.0
  go.mod
  go.sum
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/child/child.go
  vendor/modules.txt
Labels: Backport to v2.0, approved, lgtm

#7079 update configuration for rootless podman
  docs/source/markdown/podman.1.md
  docs/tutorials/rootless_tutorial.md
Labels: approved, lgtm

#7105 compat/info.go: TrimPrefix(CGroupsVersion, "v")
  pkg/api/handlers/compat/info.go
Labels: Backport to v2.0, approved, lgtm

#7098 add newline to output in error message
  cmd/podman/registry/config.go
Labels: approved, lgtm

#7110 System tests: add environment, volume tests
  docs/source/markdown/podman-run.1.md
  test/system/070-build.bats
  test/system/helpers.t
Labels: approved, lgtm

#7109 Specifying --ipc=host --pid=host is broken
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/create.go
  test/e2e/run_ns_test.go
Labels: approved, lgtm

#6851 Add podman image mount
  cmd/podman/images/mount.go
  cmd/podman/images/unmount.go
  completions/bash/podman
  docs/source/markdown/links/podman-image-umount.1
  docs/source/markdown/podman-image-mount.1.md
  docs/source/markdown/podman-image-unmount.1.md
  docs/source/markdown/podman-image.1.md
  libpod/image/image.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  pkg/rootless/rootless_linux.c
  test/e2e/mount_rootless_test.go
  test/e2e/mount_test.go
  test/e2e/untag_test.go
Labels: approved, lgtm

#7121 Fix building from http or '-' options
  cmd/podman/images/build.go
  test/system/070-build.bats
Labels: Backport to v2.0, approved, lgtm

#7131 Fix `podman image search` missing description
  pkg/domain/infra/abi/images.go
Labels: Backport to v2.0, approved, lgtm

#7142 logformatter: more libpod-podman fallout
  contrib/cirrus/logformatter
Labels: approved, lgtm

#6991 Make changes to /etc/passwd on disk for non-read only
  libpod/container_internal_linux.go
  test/e2e/run_passwd_test.go
  test/e2e/run_userns_test.go
Labels: approved, lgtm

#7143 bindings: skip flaky pause/unpause test
  pkg/bindings/test/containers_test.go
Labels: approved, lgtm

#7074 Binding the same container port to >1 host port is OK
  pkg/specgen/generate/ports.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#7147 Return NamesHistory when returning remote images
  pkg/api/handlers/types.go
Labels: approved, lgtm

#7146 Don't crash when giving bogus format commands
  cmd/podman/images/history.go
  cmd/podman/images/list.go
  cmd/podman/system/connection/list.go
Labels: approved, lgtm

#7151 System tests: new system-df and passwd tests
  contrib/cirrus/setup_environment.sh
  test/system/030-run.bats
  test/system/075-exec.bats
  test/system/320-system-df.bats
Labels: approved, lgtm

#7155 Ensure that 'rmi --force' evicts Podman containers
  libpod/runtime_img.go
Labels: approved, lgtm

#7156 fix podman system df format error
  cmd/podman/system/df.go
  test/system/320-system-df.bats
Labels: approved, lgtm

#7161 fix swapped mem_usage/percent fields
  cmd/podman/containers/stats.go
Labels: approved, lgtm

#7159 add {{.RunningFor}} placeholder in ps --format
  cmd/podman/containers/ps.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#7162 rootless: do not ignore errors if mappings are specified
  pkg/rootless/rootless_linux.c
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm

#7164 volumes: do not recurse when chowning
  libpod/container_internal.go
  test/system/070-build.bats
Labels: approved, lgtm

#7120 Fix close fds of run --preserve-fds
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#7166 2.0 backports
  cmd/podman/images/build.go
  docs/source/markdown/podman.1.md
  go.mod
  go.sum
  pkg/api/handlers/compat/info.go
  pkg/domain/infra/abi/images.go
  test/system/070-build.bats
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/child/child.go
  vendor/modules.txt
Labels: approved, lgtm

#7168 Fix close fds of exec --preserve-fds
  libpod/oci_conmon_exec_linux.go
Labels: approved, lgtm

#7170 Extra backports for v2.0.4
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/create.go
  cmd/podman/containers/ps.go
  cmd/podman/containers/start.go
  cmd/podman/containers/stats.go
  cmd/podman/images/history.go
  cmd/podman/images/list.go
  cmd/podman/networks/inspect.go
  cmd/podman/networks/list.go
  cmd/podman/registry/config.go
  cmd/podman/system/df.go
  cmd/podman/system/events.go
  cmd/podman/volumes/inspect.go
  cmd/podman/volumes/list.go
  docs/source/markdown/podman-run.1.md
  libpod/container_internal.go
  libpod/runtime_img.go
  pkg/specgen/generate/ports.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_ns_test.go
Labels: approved, lgtm

#7173 [CI:DOCS] Update release notes for v2.0.4
  RELEASE_NOTES.md
Labels: approved, lgtm

#7174 [CI:DOCS] Bump to v2.0.4
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#7152 fix pod creation with "new:" syntax
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  pkg/specgen/generate/namespaces.go
  test/e2e/run_test.go
Labels: approved, lgtm
