Repository containers/podman, pull requests merged in 2020-12, with the labels that each got.

#8522 Bump to v2.2.0
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#8475 Switch from pkg/secrets to pkg/subscriptions
  docs/source/markdown/podman-build.1.md
  go.mod
  go.sum
  libpod/container_internal_linux.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/umask/umask_unsupported.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/common/pkg/subscriptions/mounts.conf
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/umask/umask_unix.go
  vendor/github.com/containers/common/pkg/umask/umask_unsupported.go
  vendor/modules.txt
Labels: 3.0 Features, approved, lgtm

#8427 Handle ps container created field as a time.Time
  cmd/podman/containers/ps.go
  pkg/domain/entities/container_ps.go
  pkg/ps/ps.go
Labels: 3.0 Features, approved, do-not-merge/hold, lgtm

#8519 [CI:DOCS] Document volume mounts of source directories do NOT get created
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#8515 network connect disconnect on non-running containers
  libpod/networking_linux.go
  test/e2e/common_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
Labels: 3.0 Features, approved, lgtm

#8525 [CI:DOCS] Bump version in README to v2.2.0
  README.md
Labels: approved, lgtm

#8535 BATS: add ping test, ps filters, multi-option
  test/system/010-images.bats
  test/system/030-run.bats
  test/system/040-ps.bats
  test/system/070-build.bats
  test/system/075-exec.bats
  test/system/200-pod.bats
Labels: approved, lgtm

#8126 Implement containers/{id or name}/archive api
  pkg/api/handlers/compat/containers_archive.go
  test/apiv2/23-containersArchive.at
Labels: 3.0 Features, approved, lgtm

#8426 Do not ignore infra command from config files
  libpod/runtime_pod_infra_linux.go
Labels: 3.0 Features, approved, lgtm

#8540 compat create should use bindings
  cmd/podman/common/create_opts.go
Labels: approved, lgtm

#8534 Revert the custom cobra vendor
  Makefile
  cmd/podman/completion/completion.go
  go.mod
  go.sum
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/custom_completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Labels: approved, lgtm

#8537 Cirrus: Update for v2.2 branch
  .cirrus.yml
Labels: approved, lgtm

#8505 podman network label support
  cmd/podman/networks/create.go
  cmd/podman/networks/list.go
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-network-ls.1.md
  libpod/network/create.go
  libpod/network/files.go
  libpod/network/netconflist.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/server/register_networks.go
  pkg/bindings/network/network.go
  pkg/domain/entities/network.go
  pkg/domain/infra/abi/network.go
  test/apiv2/35-networks.at
  test/e2e/network_test.go
Labels: 3.0 Features, approved, lgtm

#8488 Add support for --platform
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  cmd/podman/images/pull.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-run.1.md
  test/e2e/create_test.go
  test/e2e/pull_test.go
Labels: 3.0 Features, approved, lgtm

#8541 Fix potential race condition in testing
  pkg/bindings/test/containers_test.go
Labels: approved, lgtm

#8357 Add API for communicating with Docker volume plugins
  go.mod
  go.sum
  libpod/options.go
  libpod/plugin/volume_api.go
  vendor/github.com/coreos/go-systemd/LICENSE
  vendor/github.com/coreos/go-systemd/NOTICE
  vendor/github.com/coreos/go-systemd/activation/files.go
  vendor/github.com/coreos/go-systemd/activation/listeners.go
  vendor/github.com/coreos/go-systemd/activation/packetconns.go
  vendor/github.com/docker/go-plugins-helpers/LICENSE
  vendor/github.com/docker/go-plugins-helpers/NOTICE
  vendor/github.com/docker/go-plugins-helpers/sdk/encoder.go
  vendor/github.com/docker/go-plugins-helpers/sdk/handler.go
  vendor/github.com/docker/go-plugins-helpers/sdk/pool.go
  vendor/github.com/docker/go-plugins-helpers/sdk/spec_file_generator.go
  vendor/github.com/docker/go-plugins-helpers/sdk/tcp_listener.go
  vendor/github.com/docker/go-plugins-helpers/sdk/unix_listener.go
  vendor/github.com/docker/go-plugins-helpers/sdk/unix_listener_nosystemd.go
  vendor/github.com/docker/go-plugins-helpers/sdk/unix_listener_systemd.go
  vendor/github.com/docker/go-plugins-helpers/sdk/unix_listener_unsupported.go
  vendor/github.com/docker/go-plugins-helpers/sdk/windows_listener.go
  vendor/github.com/docker/go-plugins-helpers/sdk/windows_listener_unsupported.go
  vendor/github.com/docker/go-plugins-helpers/sdk/windows_pipe_config.go
  vendor/github.com/docker/go-plugins-helpers/volume/README.md
  vendor/github.com/docker/go-plugins-helpers/volume/api.go
  vendor/modules.txt
Labels: 3.0 Features, approved, lgtm

#8542 Fix typo in tests
  test/e2e/containers_conf_test.go
  test/e2e/images_test.go
  test/e2e/import_test.go
  test/e2e/port_test.go
  test/e2e/pull_test.go
  test/e2e/run_dns_test.go
  test/e2e/run_entrypoint_test.go
  test/utils/podmansession_test.go
  test/utils/utils.go
Labels: approved, lgtm

#8457 Add podman network create flag for bridge mtu
  cmd/podman/networks/create.go
  docs/source/markdown/podman-network-create.1.md
  libpod/network/create.go
  libpod/network/netconflist.go
  pkg/domain/entities/network.go
  test/e2e/network_create_test.go
Labels: 3.0 Features, approved, kind/feature, lgtm

#8543 Do not use "true" after "syslog" in exit commands
  pkg/specgen/generate/container_create.go
Labels: approved, lgtm

#8550 Fix shell completion for ps --filter ancestor
  cmd/podman/common/completion.go
Labels: approved, lgtm

#8549 Add support for network ids
  cmd/podman/networks/list.go
  docs/source/markdown/podman-network-ls.1.md
  libpod/network/files.go
  libpod/network/netconflist.go
  libpod/network/network.go
  pkg/api/handlers/compat/networks.go
  pkg/api/server/register_networks.go
  test/apiv2/35-networks.at
  test/e2e/network_test.go
Labels: approved, lgtm

#8552 target is not tag
  pkg/api/handlers/compat/images_build.go
Labels: approved, lgtm

#8557 add commas between mount options
  cmd/podman/common/create_opts.go
Labels: approved, lgtm

#8392 Fix `podman images...` missing headers in table templates
  cmd/podman/images/list.go
  test/e2e/images_test.go
  test/system/010-images.bats
Labels: approved, kind/cleanup, lgtm

#8112 Drop name argument from Load API
  docs/source/markdown/podman-load.1.md
  libpod/runtime_img.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/libpod/images.go
  pkg/domain/infra/abi/images.go
Labels: 3.0 Features, approved, lgtm

#8556 Use Libpod tmpdir for pause path
  libpod/reset.go
  libpod/runtime.go
  libpod/runtime_migrate.go
  libpod/runtime_migrate_unsupported.go
  pkg/domain/infra/abi/system.go
  pkg/util/utils_supported.go
  pkg/util/utils_windows.go
Labels: approved, lgtm

#8408 Add mask and unmask option to --security-opt
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-run.1.md
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/oci.go
  pkg/specgen/specgen.go
  test/e2e/run_test.go
  test/system/400-unprivileged-access.bats
Labels: 3.0 Features, approved, lgtm

#8564 BATS: add new load test
  test/system/120-load.bats
Labels: approved, lgtm

#8566 Change bindings to stop two API calls for ping
  pkg/bindings/connection.go
Labels: APIv2, approved, kind/cleanup, lgtm

#8563 podman, exec: move conmon to the correct cgroup
  utils/utils_supported.go
Labels: approved, lgtm

#8551 Support --network=default as if it was private
  pkg/specgen/generate/namespaces.go
  pkg/specgen/namespaces.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#8576 [CI:DOCS] Correct which network commands can be run as rootless
  docs/source/markdown/podman-network-connect.1.md
  docs/source/markdown/podman-network-disconnect.1.md
  docs/source/markdown/podman-network-inspect.1.md
  docs/source/markdown/podman-network-ls.1.md
  docs/source/markdown/podman-network.1.md
Labels: approved, lgtm

#8565 hack/podman-socat captures the API stream
  hack/podman-socat
Labels: approved, kind/cleanup, lgtm

#8479 Drop default log-level from error to warn
  cmd/podman/common/completion.go
  cmd/podman/root.go
  go.mod
  go.sum
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/info.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  libpod/runtime.go
  libpod/runtime_cstorage.go
  libpod/runtime_pod_linux.go
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/containers/attach.go
  pkg/systemd/generate/pods.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go
  vendor/modules.txt
Labels: 3.0 Features, approved, lgtm

#8590 add @Luap99 to OWNERS file
  OWNERS
Labels: approved, lgtm

#8587 Jira RUN-1106 Image handlers updates
  pkg/api/handlers/compat/images_push.go
  pkg/api/handlers/types.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images_list.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: 3.0 Features, approved, kind/cleanup, lgtm

#8589 Support Unix timestamps for `podman logs --since`
  pkg/util/utils.go
  test/system/035-logs.bats
Labels: approved, lgtm

#8569 Fix some nit in code and comment
  test/apiv2/20-containers.at
  utils/utils_supported.go
Labels: approved, lgtm

#8584 Jira RUN-1106 Container handlers updates
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/containers_pause.go
  pkg/api/handlers/compat/containers_restart.go
  pkg/api/handlers/compat/containers_start.go
  pkg/api/handlers/compat/containers_stop.go
  pkg/api/handlers/compat/containers_unpause.go
Labels: 3.0 Features, approved, kind/cleanup, lgtm

#8476 Add containerenv information to /run/.containerenv
  docs/source/markdown/podman-run.1.md
  libpod/container_internal_linux.go
  test/system/030-run.bats
Labels: 3.0 Features, approved, lgtm

#8570 rewrite container copy
  cmd/podman/containers/cp.go
  docs/source/markdown/podman-cp.1.md
  libpod/container.go
  libpod/events/config.go
  pkg/api/handlers/compat/containers_archive.go
  pkg/copy/copy.go
  pkg/copy/item.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/cp.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/common_test.go
  test/e2e/cp_test.go
  test/system/065-cp.bats
Labels: approved, lgtm

#8598 [CI:DOCS] Clarify uid range requirements
  troubleshooting.md
Labels: approved, lgtm

#8596 Use PasswordCallback instead of Password for ssh
  pkg/bindings/connection.go
Labels: approved, lgtm

#8494 More docker compat API fixes
  libpod/image/image.go
  pkg/api/handlers/types.go
  pkg/domain/infra/abi/images_list.go
  test/e2e/build_test.go
Labels: approved, lgtm

#8597 Close image rawSource when each loop ends
  pkg/domain/infra/abi/images.go
Labels: approved, lgtm

#8601 Jira RUN-1106 Network handlers updates
  pkg/api/handlers/compat/networks.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: approved, kind/cleanup, lgtm

#8603 Jira RUN-1106 Volumes handlers updates
  pkg/api/handlers/compat/volumes.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: approved, kind/cleanup, lgtm

#8582 [CI:DOCS] The --net=container flag to Buildah is deprecated
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#8489 Add ability to set system wide options for slirp4netns
  go.mod
  go.sum
  libpod/networking_linux.go
  test/e2e/config/containers.conf
  test/e2e/containers_conf_test.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: 3.0 Features, approved, lgtm

#8607 Jira RUN-1106 System handlers updates
  pkg/api/handlers/compat/ping.go
  pkg/api/handlers/compat/system.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: approved, kind/cleanup, lgtm

#8616 [CI:DOCS] Update Website Link for Install Instructions
  install.md
Labels: approved, lgtm

#8623 container create: do not clear image name
  pkg/specgen/generate/container_create.go
  test/system/030-run.bats
Labels: approved, lgtm

#8627 [CI:DOCS] add comment to #8558 regression test
  test/system/030-run.bats
Labels: approved, lgtm

#8606 [CI:DOCS] Add saschagrunert and zhangguanzhang to OWNERS
  OWNERS
Labels: approved, lgtm

#8624 Docker compat API - containers create ignores the name
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: approved, lgtm

#8625 Add APIv2 test for containers-prune
  test/apiv2/25-containersMore.at
Labels: approved, lgtm

#8561 Do not mount sysfs as rootless in more cases
  pkg/specgen/generate/oci.go
  test/e2e/run_memory_test.go
  test/e2e/run_test.go
Labels: approved, lgtm

#8629 Do not error on installing duplicate shutdown handler
  libpod/runtime.go
  libpod/shutdown/handler.go
Labels: approved, lgtm

#8375 container cgroup path
  libpod/container.go
  libpod/stats.go
Labels: Backport to 2.2, approved, lgtm

#7357 image sign using per user registries.d
  docs/source/markdown/podman-image-sign.1.md
  pkg/domain/infra/abi/images.go
  pkg/trust/trust.go
Labels: approved, lgtm

#8632 Change name of imageVolumes in container config JSON
  libpod/container_config.go
Labels: approved, lgtm

#8581 generate kube on multiple containers
  cmd/podman/generate/kube.go
  docs/source/markdown/podman-generate-kube.1.md
  libpod/kube.go
  pkg/api/handlers/libpod/generate.go
  pkg/api/server/register_generate.go
  pkg/bindings/generate/generate.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/generate.go
  pkg/domain/infra/tunnel/generate.go
  test/apiv2/25-containersMore.at
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#8639 Fix network ls --filter invalid value flake
  test/e2e/network_test.go
Labels: approved, lgtm

#8644 Bump to v2.2.1
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#8571 Implement pod-network-reload
  cmd/podman/networks/reload.go
  docs/source/markdown/podman-network-reload.1.md
  docs/source/markdown/podman-network.1.md
  docs/source/network.rst
  libpod/container_api.go
  libpod/container_internal_linux.go
  libpod/container_internal_unsupported.go
  libpod/networking_linux.go
  libpod/networking_unsupported.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/network.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/tunnel/network.go
  test/system/500-networking.bats
Labels: approved, lgtm

#8630 Add systempaths=unconfined option
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  test/e2e/run_test.go
Labels: approved, lgtm

#8648 Make `podman stats` slirp check more robust
  libpod/networking_linux.go
  test/e2e/stats_test.go
Labels: approved, lgtm

#8638 Pass full NetworkMode to ParseNetworkNamespace
  cmd/podman/common/create_opts.go
Labels: approved, lgtm

#8642 Restore json format for fields as well as whole structs
  cmd/podman/inspect/inspect.go
  test/e2e/inspect_test.go
  test/utils/utils.go
Labels: approved, lgtm

#8652 Correct port range logic for port generation
  pkg/specgen/generate/ports.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#8655 auto updates: document systemd unit and timer
  docs/source/markdown/podman-auto-update.1.md
Labels: approved, lgtm

#8654 make podman play use ENVs from image
  pkg/specgen/generate/kube/kube.go
Labels: approved, lgtm

#8599 Repeat system pruning until there is nothing removed
  cmd/podman/containers/prune.go
  cmd/podman/images/prune.go
  cmd/podman/pods/prune.go
  cmd/podman/system/prune.go
  cmd/podman/utils/utils.go
  cmd/podman/volumes/prune.go
  docs/source/markdown/podman-system-prune.1.md
  docs/source/markdown/podman-system.1.md
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#8661 Fix spelling mistakes
  .github/actions/check_cirrus_cron/cron_failures.sh
  completions/Readme.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-network-connect.1.md
  pkg/domain/infra/abi/manifest.go
  pkg/specgen/generate/kube/volume.go
Labels: approved, lgtm

#8611 enable short-name aliasing
  libpod/image/pull.go
Labels: approved, lgtm

#8663 archive endpoint massaging
  pkg/api/handlers/compat/containers_archive.go
  pkg/copy/copy.go
  pkg/copy/fileinfo.go
  pkg/copy/item.go
  pkg/copy/parse.go
  pkg/domain/infra/abi/cp.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#8635 Add system test for shell completion
  cmd/podman/common/completion.go
  cmd/podman/containers/commit.go
  cmd/podman/containers/cp.go
  cmd/podman/containers/exec.go
  cmd/podman/containers/logs.go
  cmd/podman/containers/port.go
  cmd/podman/containers/runlabel.go
  cmd/podman/diff.go
  cmd/podman/generate/kube.go
  cmd/podman/generate/systemd.go
  cmd/podman/images/build.go
  cmd/podman/images/import.go
  cmd/podman/images/push.go
  cmd/podman/images/save.go
  cmd/podman/images/untag.go
  cmd/podman/inspect.go
  cmd/podman/manifest/push.go
  cmd/podman/networks/create.go
  cmd/podman/play/kube.go
  cmd/podman/pods/prune.go
  cmd/podman/system/service.go
  cmd/podman/system/unshare.go
  test/system/015-help.bats
  test/system/600-completion.bats
  test/system/helpers.bash
Labels: approved, lgtm

#8653 Honor the --layers flag
  cmd/podman/images/build.go
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: approved, do-not-merge/hold, lgtm

#8669 security: honor systempaths=unconfined for ro paths
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/generate/config_linux.go
  test/e2e/run_test.go
Labels: approved, lgtm

#8670 Properly handle --cap-add all when running with a --user flag
  pkg/specgen/generate/security.go
  test/e2e/run_privileged_test.go
Labels: approved, lgtm

#8641 Do not pull if image domain is localhost
  docs/source/markdown/podman-play-kube.1.md
  pkg/domain/infra/abi/play.go
Labels: approved, lgtm

#8681 Fix panic in libpod images exists endpoint
  pkg/api/handlers/libpod/images.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#8664 Add --filter to podman system prune
  cmd/podman/system/prune.go
  docs/source/markdown/podman-container-prune.1.md
  docs/source/markdown/podman-image-prune.1.md
  docs/source/markdown/podman-system-prune.1.md
  pkg/domain/entities/system.go
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#8628 [v2.0.5-rhel] Cirrus: Only essential automated testing
  .cirrus.yml
Labels: approved, lgtm

#8633 Bindings refactor
  pkg/bindings/generator/generator.go
  pkg/bindings/images/removeoptions_types.go
  pkg/bindings/images/rm.go
  pkg/bindings/images/types.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/manifests_test.go
Labels: approved, lgtm

#8691 Fix some network compat api problems
  pkg/api/handlers/compat/networks.go
  test/apiv2/35-networks.at
Labels: approved, lgtm

#8690 Fix Wrong img name used when creating a container from an image which had multi names
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#8686 podman logs honor stderr correctly
  cmd/podman/containers/logs.go
  libpod/logs/log.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/logs_test.go
  test/e2e/play_kube_test.go
  test/e2e/toolbox_test.go
Labels: approved, lgtm

#8688 Handle --rm when starting a container
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/domain/entities/container_ps.go
  pkg/domain/infra/tunnel/containers.go
  pkg/ps/ps.go
  test/e2e/start_test.go
Labels: approved, lgtm

#8676 Refine public key usage when remote
  cmd/podman/system/connection/add.go
  pkg/bindings/connection.go
  pkg/domain/infra/runtime_tunnel.go
  pkg/terminal/util.go
Labels: approved, kind/bug, lgtm

#7718 Sign multi-arch images
  cmd/podman/images/sign.go
  docs/source/markdown/podman-image-sign.1.md
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  test/e2e/image_sign_test.go
Labels: approved, lgtm

#8553 add compose regression to ci
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/compose/README.md
  test/compose/env_and_volume/README.md
  test/compose/env_and_volume/docker-compose.yml
  test/compose/env_and_volume/read/Dockerfile
  test/compose/env_and_volume/read/app.py
  test/compose/env_and_volume/tests.sh
  test/compose/env_and_volume/write/Dockerfile
  test/compose/env_and_volume/write/app.py
  test/compose/images/README.md
  test/compose/images/podman-python/Containerfile
  test/compose/mount_and_label/README.md
  test/compose/mount_and_label/docker-compose.yml
  test/compose/mount_and_label/frontend/Dockerfile
  test/compose/mount_and_label/frontend/app.py
  test/compose/mount_and_label/setup.sh
  test/compose/mount_and_label/teardown.sh
  test/compose/mount_and_label/tests.sh
  test/compose/port_map_diff_port/README.md
  test/compose/port_map_diff_port/docker-compose.yml
  test/compose/port_map_diff_port/frontend/Dockerfile
  test/compose/port_map_diff_port/frontend/app.py
  test/compose/port_map_diff_port/tests.sh
  test/compose/setup.sh.example
  test/compose/simple_port_map/README.md
  test/compose/simple_port_map/docker-compose.yml
  test/compose/simple_port_map/frontend/Dockerfile
  test/compose/simple_port_map/frontend/app.py
  test/compose/simple_port_map/tests.sh
  test/compose/teardown.sh.example
  test/compose/test-compose
Labels: approved, lgtm

#8699 shell completion for the network flag
  cmd/podman/common/completion.go
  cmd/podman/common/netflags.go
  cmd/podman/play/kube.go
Labels: approved, lgtm

#8689 Add volume prune --filter support
  cmd/podman/volumes/prune.go
  docs/source/markdown/podman-volume-prune.1.md
  libpod/runtime_volume.go
  pkg/api/handlers/compat/volumes.go
  pkg/api/handlers/libpod/volumes.go
  pkg/bindings/test/volumes_test.go
  pkg/bindings/volumes/volumes.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/volumes.go
  pkg/domain/filters/helpers.go
  pkg/domain/filters/volumes.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/abi/volumes.go
  pkg/domain/infra/tunnel/volumes.go
  test/apiv2/30-volumes.at
  test/e2e/volume_prune_test.go
Labels: approved, lgtm

#8693 podman: drop checking valid rootless UID
  cmd/podman/containers/run.go
  libpod/container_internal_linux.go
  pkg/util/utils_linux.go
  pkg/util/utils_unsupported.go
Labels: approved, lgtm

#8696 podman events allow future time for --until
  libpod/events/events.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/options.go
  pkg/api/handlers/compat/events.go
  test/e2e/events_test.go
Labels: approved, lgtm

#8714 RHEL gating tests: more journald exceptions
  test/system/030-run.bats
  test/system/035-logs.bats
  test/system/helpers.bash
Labels: approved, lgtm

#8692 [CI:DOCS] Cleanup CNI Networks on reboot
  contrib/tmpfile/podman.conf
Labels: approved, lgtm

#8725 Allow users to specify TMPDIR in containers.conf
  cmd/podman/main.go
  cmd/podman/root.go
Labels: approved, lgtm

#8726 libpod, conmon: change log level for rootless
  contrib/cirrus/required_host_ports.txt
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#8723 Clean up temporary file.
  pkg/api/handlers/compat/images.go
Labels: approved, lgtm

#8720 system tests: the catch-up game
  test/system/030-run.bats
  test/system/040-ps.bats
  test/system/260-sdnotify.bats
  test/system/helpers.bash
Labels: approved, lgtm

#8736 [v1.6.4] Reap exec sessions on cleanup and removal
  libpod/container_api.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_conmon_linux.go
  libpod/oci_missing.go
Labels: approved, lgtm

#8730 Add LogSize to container inspect
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  test/e2e/logs_test.go
  test/system/030-run.bats
Labels: approved, lgtm

#8312 Cirrus: Update VM Images; Both Fedora and Ubuntu "prior" flavors run with CGroupsV1 & runc
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/containers_conf_test.go
  test/e2e/generate_kube_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/pod_kill_test.go
  test/e2e/pod_ps_test.go
  test/e2e/pod_stats_test.go
  test/e2e/run_ns_test.go
  test/e2e/run_selinux_test.go
  test/e2e/run_test.go
  test/e2e/toolbox_test.go
  test/system/600-completion.bats
Labels: approved, lgtm

#8753 podman.service should be an exec service not a notify service
  contrib/systemd/system/podman.service
Labels: approved, lgtm

#8755 System tests: better diagnostics in completion test
  test/system/600-completion.bats
Labels: approved, lgtm

#8738 Add support for pacman package version query
  libpod/util.go
Labels: approved, lgtm

#8756 Always add the default gateway to the cni config file
  libpod/network/netconflist.go
  libpod/network/netconflist_test.go
  test/e2e/network_create_test.go
Labels: approved, lgtm

#8750 Don't accidently remove XDG_RUNTIME_DIR when reseting storage
  libpod/reset.go
Labels: approved, lgtm

#8758 Docker compat API - /images/search returns wrong structure (#7857)
  pkg/api/handlers/compat/images_search.go
Labels: approved, lgtm

#8717 Close the stdin/tty when using podman as a restAPI.
  cmd/podman/system/service_abi.go
Labels: approved, lgtm

#8766 [CI:DOCS] Bump version on readme
  README.md
Labels: approved, lgtm

#8767 podman v3 pod bindings
  pkg/bindings/pods/pods.go
  pkg/bindings/pods/types.go
  pkg/bindings/pods/types_create_options.go
  pkg/bindings/pods/types_inspect_options.go
  pkg/bindings/pods/types_kill_options.go
  pkg/bindings/pods/types_list_options.go
  pkg/bindings/pods/types_pause_options.go
  pkg/bindings/pods/types_prune_options.go
  pkg/bindings/pods/types_remove_options.go
  pkg/bindings/pods/types_restart_options.go
  pkg/bindings/pods/types_start_options.go
  pkg/bindings/pods/types_stats_options.go
  pkg/bindings/pods/types_stop_options.go
  pkg/bindings/pods/types_top_options.go
  pkg/bindings/pods/types_unpause_options.go
  pkg/bindings/test/pods_test.go
  pkg/bindings/test/system_test.go
  pkg/domain/infra/tunnel/helpers.go
  pkg/domain/infra/tunnel/pods.go
Labels: approved, lgtm

#8747 remote copy
  cmd/podman/containers/cp.go
  docs/source/markdown/podman-cp.1.md
  go.mod
  go.sum
  pkg/api/handlers/compat/containers_archive.go
  pkg/api/server/register_archive.go
  pkg/bindings/containers/archive.go
  pkg/copy/copy.go
  pkg/copy/fileinfo.go
  pkg/copy/item.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/archive.go
  pkg/domain/infra/abi/containers_stat.go
  pkg/domain/infra/abi/cp.go
  pkg/domain/infra/tunnel/containers.go
  pkg/errorhandling/errorhandling.go
  test/e2e/cp_test.go
  test/system/065-cp.bats
  test/system/helpers.bash
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/copier/syscall_unix.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/troubleshooting.md
  vendor/modules.txt
Labels: approved, lgtm

#8526 Update nix pin with `make nixpkgs`
  Makefile
  nix/default.nix
  nix/nixpkgs.json
Labels: approved, lgtm

#8799 Add Security information to podman info
  docs/source/markdown/podman-info.1.md
  go.mod
  go.sum
  libpod/define/info.go
  libpod/info.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp_unsupported.go
  vendor/github.com/containers/common/pkg/seccomp/supported.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#8780 Fix support for rpmbuild < 4.12.0.
  contrib/spec/podman.spec.in
Labels: approved, lgtm, ok-to-test

#8724 Add volume filters to system prune
  cmd/podman/system/prune.go
  libpod/filters/helpers.go
  pkg/bindings/test/system_test.go
  pkg/domain/entities/system.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/system.go
  test/apiv2/45-system.at
  test/e2e/prune_test.go
Labels: approved, lgtm

#8807 play kube: fix args/command handling
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#8804 add pod filter for ps
  docs/source/markdown/podman-ps.1.md
  libpod/filters/containers.go
  pkg/api/server/register_containers.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#8774 [CI:DOCS] Document location of backend events file
  docs/source/markdown/podman.1.md
Labels: approved, lgtm

#8810 Fix podman build --logfile
  cmd/podman/images/build.go
  test/system/070-build.bats
Labels: approved, lgtm

#8695 [CI:DOCS] Documented that uidmap and guidmap are based on subgid subuid mapping
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#8793 Fix missing options in volume's display while setting uid and gid
  libpod/options.go
  libpod/runtime_volume_linux.go
  pkg/domain/infra/abi/parse/parse.go
  test/e2e/volume_create_test.go
Labels: approved, lgtm

#8609 Prefer read/write images over read/only images
  libpod/image/utils.go
  test/e2e/exists_test.go
Labels: approved, lgtm

#8820 add --cidfile to container kill
  cmd/podman/containers/kill.go
  docs/source/markdown/podman-kill.1.md
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/kill_test.go
Labels: approved, lgtm

#8792 Set NetNS mode instead of value
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#8806 Pass down EnableKeyring from containers.conf to conmon
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#8822 re-open container log files
  libpod/logs/log.go
Labels: approved, lgtm

#8824 Refactor kube.ToSpecGen parameters to struct
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
Labels: approved, lgtm

#8830 sort api endpoints in documentation
  docs/source/_static/api.html
Labels: approved, lgtm

#8835 readme: Remove broken link
  README.md
Labels: approved, lgtm

#8809 Consolidate filter logic to pkg subdirectory
  cmd/podman/system/prune.go
  libpod/filters/helpers.go
  pkg/api/handlers/compat/containers_prune.go
  pkg/api/handlers/utils/pods.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/pods.go
  pkg/ps/ps.go
Labels: approved, lgtm

#8850 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#8853 Add support for Gentoo file to package query
  libpod/util.go
Labels: approved, lgtm

#8852 The slirp4netns sandbox requires pivot_root
  libpod/networking_linux.go
Labels: approved, lgtm

#8858 Expose Height/Width fields to decoder
  pkg/api/handlers/compat/resize.go
Labels: approved, kind/bug, lgtm
