Repository containers/podman, pull requests merged in 2020-04, with the labels that each got.

#5684 podmanv2 pod ps
  cmd/podmanV2/pods/pod.go
  cmd/podmanV2/pods/ps.go
  cmd/podmanV2/report/templates.go
  libpod/podfilters/pods.go
  pkg/api/handlers/utils/pods.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/tunnel/pods.go
Labels: approved, lgtm

#5656 podman v2 image tag and untag
  cmd/podmanV2/images/tag.go
  cmd/podmanV2/images/untag.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5645 V2 podman inspect
  cmd/podmanV2/common/inspect.go
  cmd/podmanV2/containers/inspect.go
  cmd/podmanV2/images/inspect.go
  cmd/podmanV2/images/list.go
  cmd/podmanV2/inspect.go
  cmd/podmanV2/registry/registry.go
  cmd/podmanV2/root.go
  cmd/podmanV2/system/system.go
  go.sum
  pkg/bindings/images/images.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5678 Fix repos for CentOS 7 RPM build
  contrib/build_rpm.sh
Labels: approved, lgtm

#5686 podmanv2 load
  cmd/podmanV2/Makefile
  cmd/podmanV2/images/load.go
  cmd/podmanV2/main.go
  libpod/image/image.go
  libpod/image/image_test.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/swagger.go
  pkg/bindings/images/images.go
  pkg/bindings/test/images_test.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5697 podmanv2 export
  cmd/podmanV2/containers/export.go
  pkg/api/handlers/compat/containers_export.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/containers.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5699 podmanv2-retry - new helper for testing v2
  hack/podmanv2-retry
Labels: approved, lgtm

#5687 Touch up mailing list address in README.md
  README.md
Labels: approved, lgtm

#5688 podmanv2 import
  cmd/podmanV2/images/import.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/swagger.go
  pkg/api/handlers/types.go
  pkg/bindings/images/images.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5516 Cirrus: Remove darwin/windows builds in gate-job
  .cirrus.yml
Labels: approved, lgtm

#5677 exec: fix hang if control path is deleted
  libpod/oci_attach_linux.go
  libpod/oci_conmon_linux.go
  test/e2e/exec_test.go
  utils/utils.go
Labels: approved, lgtm

#5696 Fix environment handling from containers.conf
  cmd/podman/shared/create.go
  go.sum
  pkg/spec/spec.go
  test/e2e/build/basicalpine/Containerfile.path
  test/e2e/build_test.go
Labels: approved, lgtm

#5702 test/e2e/run_volume_test nitpicks
  test/e2e/run_volume_test.go
Labels: approved, lgtm, needs-ok-to-test

#5701 podmanV2: implement push
  cmd/podmanV2/images/push.go
  pkg/api/handlers/compat/images_push.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/utils/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5676 Fix/improve pkg/storage.InitFSMounts
  libpod/options.go
  pkg/spec/spec.go
  pkg/spec/storage.go
  pkg/specgen/oci.go
  pkg/util/mountOpts.go
  pkg/util/mountOpts_linux.go
  pkg/util/mountOpts_other.go
Labels: approved, lgtm, ok-to-test

#5712 Pass path environment down to the OCI runtime
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#5707 Prepare for crun checkpoint support
  libpod/oci_conmon_linux.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm

#5638 podmanv2 checkpoint and restore
  cmd/podmanV2/containers/checkpoint.go
  cmd/podmanV2/containers/restore.go
  pkg/adapter/containers.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/checkpoint.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5672 podmanv2 save image
  cmd/podmanV2/images/save.go
  libpod/define/config.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5710 v2podman container create
  cmd/podmanV2/Makefile
  cmd/podmanV2/common/create.go
  cmd/podmanV2/common/create_opts.go
  cmd/podmanV2/common/createparse.go
  cmd/podmanV2/common/default.go
  cmd/podmanV2/common/ports.go
  cmd/podmanV2/common/specgen.go
  cmd/podmanV2/containers/create.go
  cmd/podmanV2/parse/common.go
  cmd/podmanV2/parse/net.go
  cmd/podmanV2/parse/net_test.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/specgen/config_linux.go
  pkg/specgen/config_linux_cgo.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/namespaces.go
  pkg/specgen/oci.go
  pkg/specgen/security.go
  pkg/specgen/specgen.go
  pkg/specgen/storage.go
Labels: approved, lgtm

#5713 podmanv2 version
  cmd/podmanV2/main.go
  cmd/podmanV2/system/version.go
  pkg/domain/infra/tunnel/system.go
Labels: approved, lgtm

#5689 podmanv2 pod inspect
  cmd/podmanV2/pods/inspect.go
  go.sum
  pkg/api/handlers/libpod/pods.go
  pkg/bindings/pods/pods.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/tunnel/pods.go
Labels: approved, lgtm

#5731 podmanv2 start
  cmd/podmanV2/containers/start.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5620 Add support for specifying CNI networks in podman play kube
  cmd/podman/cliconfig/config.go
  cmd/podman/play_kube.go
  completions/bash/podman
  docs/source/markdown/podman-play-kube.1.md
  pkg/adapter/pods.go
Labels: approved, lgtm

#5705 Cleanup whether to enter user namespace
  cmd/podman/main_local.go
Labels: approved, lgtm

#5507 refactor info
  cmd/podman/info.go
  docs/source/markdown/podman-info.1.md
  libpod/define/info.go
  libpod/info.go
  libpod/oci.go
  libpod/oci_conmon_linux.go
  libpod/oci_conmon_unsupported.go
  libpod/oci_missing.go
  libpod/runtime.go
  pkg/adapter/info_remote.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/info.go
  pkg/api/handlers/compat/version.go
  pkg/api/handlers/libpod/info.go
  pkg/api/handlers/libpod/swagger.go
  pkg/api/handlers/types.go
  pkg/api/server/register_info.go
  pkg/bindings/info.go
  pkg/bindings/system/info.go
  pkg/bindings/test/info_test.go
  pkg/varlinkapi/system.go
  test/e2e/info_test.go
  test/system/005-info.bats
  test/system/030-run.bats
  test/system/065-cp.bats
  test/system/400-unprivileged-access.bats
  test/system/helpers.bash
Labels: approved, lgtm

#5716 podmanv2 ps
  cmd/podmanV2/containers/ps.go
  cmd/podmanV2/pods/ps.go
  libpod/filters/containers.go
  libpod/filters/pods.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/swagger.go
  pkg/api/handlers/libpod/types.go
  pkg/bindings/containers/containers.go
  pkg/domain/entities/container_ps.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/helpers.go
  pkg/ps/ps.go
Labels: approved, lgtm

#5478 userns: support --userns=auto
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_internal_unsupported.go
  libpod/storage.go
  pkg/namespaces/namespaces.go
  pkg/spec/namespaces.go
  pkg/util/utils.go
  test/e2e/run_userns_test.go
Labels: approved, lgtm, size/L

#5734 v2podman run
  cmd/podmanV2/common/create.go
  cmd/podmanV2/containers/run.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5728 Do not error on pids.current stats if ctr.path is empty
  pkg/cgroups/pids.go
Labels: approved, lgtm

#5749 podman info needs to be run within the user namespace
  cmd/podman/main_local.go
Labels: approved, blocks v1.9.0, lgtm

#5157 fix rootless login/logout tests
  test/e2e/login_logout_test.go
Labels: approved, lgtm, size/M, stale-pr

#5739 V2 Podman diff(changes) support
  cmd/podmanV2/containers/diff.go
  cmd/podmanV2/diff.go
  cmd/podmanV2/images/diff.go
  cmd/podmanV2/inspect.go
  cmd/podmanV2/registry/registry.go
  cmd/podmanV2/report/diff.go
  pkg/api/handlers/compat/changes.go
  pkg/api/handlers/compat/swagger.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
  pkg/bindings/containers/diff.go
  pkg/bindings/images/diff.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5753 Bump containers/image to v5.4.3
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/modules.txt
Labels: approved, blocks v1.9.0, lgtm

#5724 man page: add note about issue with SELinux
  docs/source/markdown/podman-generate-systemd.1.md
Labels: approved, lgtm, ok-to-test

#5756 Bump Buildah to v1.14.7
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/info.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/parse/parse_unsupported.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: approved, lgtm

#5759 run/create were processing options after the image name
  cmd/podmanV2/containers/create.go
  cmd/podmanV2/containers/run.go
Labels: approved, lgtm

#5761 update the latest version to 1.8.2
  README.md
Labels: approved, lgtm, needs-ok-to-test

#5388 add tests for container kill and exists
  pkg/bindings/test/containers_test.go
Labels: approved, lgtm, size/XXL

#5748 podmanv2 images user format
  cmd/podmanV2/images/list.go
Labels: approved, lgtm

#5758 Set exit codes on errors.
  cmd/podmanV2/containers/run.go
Labels: approved, lgtm

#5768 Fix (make vendor)
  Makefile
  go.mod
  go.sum
Labels: approved, lgtm

#5760 podmanV2: implement logs
  cmd/podmanV2/containers/logs.go
  pkg/api/handlers/compat/containers.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5634 V2 podman system service
  .golangci.yml
  Makefile
  cmd/podman/commands_remoteclient.go
  cmd/podman/main.go
  cmd/podman/service.go
  cmd/podman/service_dummy.go
  cmd/podman/varlink.go
  cmd/podman/varlink_dummy.go
  cmd/podmanV2/Makefile
  cmd/podmanV2/registry/registry.go
  cmd/podmanV2/system/service.go
  cmd/podmanV2/system/system.go
  cmd/podmanV2/system/varlink.go
  go.sum
  hack/golangci-lint.sh
  pkg/adapter/client.go
  pkg/adapter/containers_remote.go
  pkg/adapter/pods_remote.go
  pkg/adapter/runtime_remote.go
  pkg/api/server/server.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/system.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/system.go
  pkg/varlinkapi/attach.go
  pkg/varlinkapi/config.go
  pkg/varlinkapi/containers.go
  pkg/varlinkapi/containers_create.go
  pkg/varlinkapi/events.go
  pkg/varlinkapi/generate.go
  pkg/varlinkapi/images.go
  pkg/varlinkapi/mount.go
  pkg/varlinkapi/pods.go
  pkg/varlinkapi/system.go
  pkg/varlinkapi/transfers.go
  pkg/varlinkapi/volumes.go
  test/e2e/common_test.go
Labels: approved, lgtm

#5754 v2podman ps alter formats
  cmd/podmanV2/containers/ps.go
  pkg/domain/entities/container_ps.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/helpers.go
  pkg/ps/ps.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#5771 test: fix exec preserve-fds test
  test/e2e/exec_test.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/libpod_suite_test.go
  test/utils/podmantest_test.go
  test/utils/utils.go
Labels: approved, lgtm

#5766 [CI:DOCS] Update release notes for v1.9.0-RC1
  RELEASE_NOTES.md
Labels: approved, lgtm

#5782 v2podman container cleanup
  cmd/podmanV2/containers/cleanup.go
  cmd/podmanV2/containers/run.go
  cmd/podmanV2/containers/wait.go
  pkg/bindings/test/containers_test.go
  pkg/domain/entities/container_ps.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5797 rootless: use snprintf
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm

#5798 Bump to v1.9.0-RC1
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#5778 podmanv2 history and image remove templates
  cmd/podmanV2/images/history.go
  cmd/podmanV2/images/list.go
  cmd/podmanV2/pods/pod.go
  cmd/podmanV2/pods/ps.go
  cmd/podmanV2/report/templates.go
  pkg/bindings/test/containers_test.go
Labels: approved, lgtm

#5777 Refactor service idle support
  cmd/podman/service.go
  pkg/api/handlers/compat/events.go
  pkg/api/server/handler_api.go
  pkg/api/server/server.go
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#5800 Fixes for load and other system tests
  cmd/podmanV2/containers/kill.go
  cmd/podmanV2/containers/wait.go
  cmd/podmanV2/images/load.go
  cmd/podmanV2/images/tag.go
  cmd/podmanV2/pods/create.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/images.go
  pkg/signal/signal_linux.go
  pkg/specgen/pod_validate.go
  test/system/120-load.bats
Labels: approved, lgtm

#5762 podmanv2 version format variable name change
  cmd/podmanV2/system/version.go
Labels: approved, lgtm

#5803 v2podman add container init
  cmd/podmanV2/containers/init.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/test/containers_test.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5709 podmanV2: implement search
  cmd/podmanV2/images/search.go
  pkg/api/handlers/compat/images_search.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/bindings/images/search.go
  pkg/bindings/test/images_test.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5755 Improve APIv2 support for Attach
  libpod/container_api.go
  libpod/oci_conmon_linux.go
  libpod/util.go
  pkg/api/handlers/compat/containers_attach.go
  pkg/api/server/register_containers.go
Labels: approved, lgtm

#5807 Fix invalid container path comparison for pid cgroup
  pkg/cgroups/pids.go
Labels: approved, lgtm

#5804 Need to set security options even if user does not specify options
  cmd/podman/shared/create.go
Labels: approved, lgtm

#5801 podmanv2 mount and umount
  cmd/podmanV2/containers/mount.go
  cmd/podmanV2/containers/unmount.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5809 [CI:DOCS] Update release notes for v1.9.0-RC2
  RELEASE_NOTES.md
Labels: approved, lgtm

#5808 v2podman ps revert structure changes
  cmd/podmanV2/containers/ps.go
  pkg/bindings/test/containers_test.go
  pkg/domain/entities/container_ps.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/helpers.go
  pkg/ps/ps.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#5811 [CI:DOCS] Bump to v1.9.0-RC2
  changelog.txt
Labels: approved, lgtm

#5812 Add support for the global flags and config files
  cmd/podmanV2/containers/mount.go
  cmd/podmanV2/containers/stop.go
  cmd/podmanV2/containers/wait.go
  cmd/podmanV2/main.go
  cmd/podmanV2/registry/config.go
  cmd/podmanV2/registry/registry.go
  cmd/podmanV2/registry/remote.go
  cmd/podmanV2/root.go
  pkg/domain/entities/engine.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_image_proxy.go
  pkg/domain/infra/runtime_libpod.go
  pkg/domain/infra/runtime_proxy.go
  pkg/domain/infra/runtime_tunnel.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
  pkg/util/utils.go
Labels: approved, lgtm

#5818 podmanV2: fix nil deref
  cmd/podmanV2/root.go
Labels: approved, lgtm

#5813 More system test fixes on regressions
  cmd/podmanV2/images/history.go
  cmd/podmanV2/images/inspect.go
  cmd/podmanV2/images/rm.go
  cmd/podmanV2/images/rmi.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
Labels: approved, lgtm

#5814 v2specgen prune libpod
  pkg/api/handlers/libpod/pods.go
  pkg/domain/infra/abi/pods.go
  pkg/specgen/config_linux_nocgo.go
  pkg/specgen/generate/config_linux_cgo.go
  pkg/specgen/generate/config_linux_nocgo.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/generate/storage.go
  pkg/specgen/namespaces.go
  pkg/specgen/pod_validate.go
  pkg/specgen/specgen.go
Labels: approved, lgtm

#5770 podmanv2 events
  cmd/podmanV2/system/events.go
  pkg/api/handlers/types.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/events.go
  pkg/domain/infra/tunnel/events.go
Labels: approved, lgtm

#5767 logformat: handle apiv2 results, add anchor links
  contrib/cirrus/logformatter
  test/apiv2/test-apiv2
Labels: approved, lgtm

#5823 [CI:DOCS] Update README to reflect that latest version is v1.9.0
  README.md
Labels: approved, lgtm

#5776 auto update: skip non-image policies
  pkg/autoupdate/autoupdate.go
Labels: approved, lgtm

#5671 swagger-check: new CI tool to cross-check swagger
  Makefile
  hack/swagger-check
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
Labels: approved, lgtm

#5775 Ability to prune container in api V2
  cmd/podman/containers_prune.go
  cmd/podmanV2/containers/prune.go
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/containers_prune.go
  pkg/bindings/containers/containers.go
  pkg/bindings/test/containers_test.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5830 podmanv2 fix runtime assignment
  pkg/domain/infra/runtime_libpod.go
Labels: approved, lgtm

#5817 Fix up SELinux labeling
  cmd/podmanV2/Makefile
  libpod/runtime.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/container.go
  pkg/specgen/security.go
  pkg/specgen/specgen.go
Labels: approved, lgtm

#5827 v2 bloat pruning phase 2
  cmd/podman/runlabel.go
  cmd/podmanV2/common/create.go
  cmd/podmanV2/common/default.go
  pkg/api/handlers/compat/containers_prune.go
  pkg/api/handlers/libpod/volumes.go
  pkg/api/handlers/utils/containers.go
  pkg/api/handlers/utils/pods.go
  pkg/domain/entities/container_ps.go
  pkg/domain/infra/abi/containers.go
  pkg/ps/define/types.go
  pkg/ps/ps.go
  pkg/util/utils.go
Labels: approved, lgtm

#5752 Add basic structure of output for APIv2 pod inspect
  libpod/define/ctr_inspect.go
  libpod/define/pod_inspect.go
Labels: approved, lgtm

#5834 Add version to podman info command
  libpod/define/info.go
  libpod/info.go
Labels: approved, lgtm

#5690 Add support for selecting kvm and systemd labels
  go.mod
  go.sum
  libpod/container.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_conmon_linux.go
  libpod/oci_conmon_unsupported.go
  libpod/oci_missing.go
  libpod/runtime.go
  pkg/util/utils.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: approved, lgtm

#5824 Cirrus: Necessary changes for v1.9 branch automation
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/logformatter
  contrib/gate/Dockerfile
  test/apiv2/test-apiv2
Labels: approved, lgtm

#5844 allow filters to work when listing containers
  pkg/api/handlers/libpod/containers.go
Labels: approved, lgtm

#5597 Update podman-generate-systemd man page
  commands-demo.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-generate.1.md
Labels: approved, lgtm

#5842 podman v2 remove bloat v2
  cmd/podman/shared/create.go
  cmd/podmanV2/common/specgen.go
  cmd/podmanV2/registry/config.go
  libpod/container.go
  libpod/container_log.go
  libpod/define/config.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  libpod/pod_api.go
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/swagger.go
  pkg/api/handlers/compat/unsupported.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/swagger/swagger.go
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/containers.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/swagger.go
  pkg/bindings/containers/create.go
  pkg/bindings/errors.go
  pkg/bindings/test/pods_test.go
  pkg/domain/entities/container_ps.go
  pkg/domain/entities/pods.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/runtime_libpod.go
  pkg/logs/logs.go
  pkg/ps/ps.go
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/security.go
  test/apiv2/40-pods.at
  test/e2e/pod_inspect_test.go
Labels: approved, lgtm

#5837 [CI:DOCS] .gitignore: ignore v2 remote
  .gitignore
Labels: approved, lgtm

#5856 Fix bug where two configurations had been created
  cmd/podman/common/create.go
  cmd/podman/containers/stop.go
  cmd/podman/containers/wait.go
  cmd/podman/main.go
  cmd/podman/registry/config.go
  cmd/podman/registry/registry.go
  cmd/podman/registry/remote.go
  cmd/podman/root.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_image_proxy.go
  pkg/domain/infra/runtime_libpod.go
  pkg/domain/infra/runtime_proxy.go
  pkg/domain/infra/runtime_tunnel.go
Labels: approved, lgtm

#5657 Fix the pod name passed to cni
  libpod/networking_linux.go
Labels: approved, lgtm, ok-to-test

#5855 Enable some testing
  .cirrus.yml
  cmd/podman/root.go
Labels: approved, lgtm

#5866 Log formatter: add BATS summary line
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
Labels: approved, lgtm

#5819 podmanV2: implement build
  cmd/podman/build.go
  cmd/podman/utils/utils.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5868 Fixes for system tests
  cmd/podman/containers/run.go
  cmd/podman/images/list.go
  cmd/podman/inspect.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/types.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/images_list.go
  test/system/005-info.bats
Labels: approved, lgtm

#5548 image prune skips images with child images.
  docs/source/markdown/podman-image-prune.1.md
  libpod/image/image.go
  libpod/image/prune.go
  test/e2e/prune_test.go
Labels: approved, lgtm

#5869 We were not handling the user option on create
  cmd/podman/common/specgen.go
Labels: approved, lgtm

#5871 enable integration testing
  .cirrus.yml
  cmd/podman/volumes/inspect.go
  cmd/podman/volumes/list.go
Labels: approved, lgtm

#5733 Add pod prune for api v2
  cmd/podman/pods/prune.go
  libpod/runtime_pod.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/libpod/swagger.go
  pkg/api/server/register_pods.go
  pkg/bindings/pods/pods.go
  pkg/bindings/test/pods_test.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/pods.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/tunnel/pods.go
  test/e2e/pod_prune_test.go
Labels: approved, lgtm

#5880 Make `find` ignore dot files
  Makefile
Labels: approved, lgtm, ok-to-test

#5890 Update pod inspect report to hold current pod status.
  libpod/define/pod_inspect.go
  libpod/pod_api.go
  pkg/bindings/test/pods_test.go
Labels: approved, lgtm

#5872 V2 Fix support for tcp://[::]<port> connections
  cmd/podman/system/service.go
  pkg/api/server/server.go
  pkg/bindings/connection.go
  pkg/domain/infra/abi/system.go
  pkg/systemd/activation.go
Labels: approved, lgtm

#5879 Pull images when doing podman create
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
Labels: approved, lgtm

#5897 V2 Fix --latest for podman diff commands
  cmd/podman/containers/diff.go
  cmd/podman/diff.go
  cmd/podman/images/diff.go
Labels: approved, lgtm

#5896 common: setting cgroup resources correctly
  cmd/podman/common/specgen.go
Labels: approved, lgtm

#5889 rootless: move join namespace inside child process
  pkg/rootless/rootless_linux.c
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm

#5901 V2 Remove existing unix domain socket on startup
  cmd/podman/system/service.go
Labels: approved, lgtm

#5899 V2 podman image tree
  cmd/podman/images/tree.go
  pkg/bindings/images/images.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5862 Fix up handling of image data as well as setting Linux Capabilties correctly
  cmd/podman/common/specgen.go
  cmd/podman/images/inspect.go
  cmd/podman/inspect.go
  libpod/image/image.go
  pkg/domain/entities/types.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/security.go
Labels: approved, lgtm

#5883 Return labes in API (fixes #5882)
  pkg/api/handlers/types.go
Labels: approved, lgtm, ok-to-test

#5863 podman rmi: refactor logic
  .golangci.yml
  cmd/podman/containers/run.go
  cmd/podman/images/rm.go
  cmd/podman/system/service.go
  cmd/podman/system/service_abi.go
  cmd/podman/system/service_unsupported.go
  hack/golangci-lint.sh
  pkg/api/handlers/compat/events.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/swagger/swagger.go
  pkg/api/handlers/types.go
  pkg/api/server/register_images.go
  pkg/api/types/types.go
  pkg/bindings/connection.go
  pkg/bindings/images/images.go
  pkg/bindings/system/system.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/events.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/events.go
  pkg/domain/infra/abi/healthcheck.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/images_list.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/abi/runtime.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/abi/terminal/sigproxy_linux.go
  pkg/domain/infra/abi/terminal/terminal.go
  pkg/domain/infra/abi/terminal/terminal_linux.go
  pkg/domain/infra/tunnel/events.go
  pkg/domain/infra/tunnel/images.go
  pkg/domain/infra/tunnel/system.go
Labels: approved, lgtm

#5875 Cleanup network option parsing
  cmd/podman/common/createparse.go
  cmd/podman/common/netflags.go
  cmd/podman/common/specgen.go
  pkg/domain/entities/pods.go
  pkg/domain/entities/types.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/specgen.go
Labels: approved, lgtm

#5647 Update podmanV2 to use containers.conf
  cmd/podman/common/create.go
  cmd/podman/common/default.go
  cmd/podman/common/netflags.go
  cmd/podman/containers/attach.go
  cmd/podman/containers/container.go
  cmd/podman/containers/exec.go
  cmd/podman/containers/restart.go
  cmd/podman/containers/start.go
  cmd/podman/containers/stop.go
  cmd/podman/pods/create.go
  cmd/podman/pods/pod.go
  cmd/podman/pods/stop.go
  cmd/podman/volumes/create.go
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/stable/containers.conf
  contrib/podmanimage/stable/manual/Containerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
  libpod/container_internal_linux.go
  libpod/define/config.go
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/compat/info.go
  pkg/apparmor/apparmor.go
  pkg/apparmor/apparmor_linux.go
  pkg/apparmor/apparmor_linux_template.go
  pkg/apparmor/apparmor_linux_test.go
  pkg/apparmor/apparmor_unsupported.go
  pkg/spec/spec.go
  pkg/spec/spec_test.go
  pkg/specgen/pod_validate.go
  pkg/sysinfo/README.md
  pkg/sysinfo/numcpu.go
  pkg/sysinfo/numcpu_linux.go
  pkg/sysinfo/numcpu_windows.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_linux.go
  pkg/sysinfo/sysinfo_linux_test.go
  pkg/sysinfo/sysinfo_solaris.go
  pkg/sysinfo/sysinfo_test.go
  pkg/sysinfo/sysinfo_unix.go
  pkg/sysinfo/sysinfo_windows.go
  pkg/util/utils.go
  pkg/varlinkapi/create.go
  pkg/varlinkapi/intermediate_varlink.go
Labels: approved, lgtm

#5913 More fixes for podman create tests
  cmd/podman/common/specgen.go
  cmd/podman/images/inspect.go
  pkg/specgen/generate/container.go
Labels: approved, lgtm

#5910 Move Fedora 31 dependencies for building podman into separate file
  contrib/dependencies.txt
  contrib/gate/Dockerfile
Labels: approved, lgtm, needs-ok-to-test

#5902 v2podman port
  cmd/podman/containers/port.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5908 podmanv2 container subcommands
  cmd/podman/containers/attach.go
  cmd/podman/containers/commit.go
  cmd/podman/containers/create.go
  cmd/podman/containers/exec.go
  cmd/podman/containers/export.go
  cmd/podman/containers/kill.go
  cmd/podman/containers/mount.go
  cmd/podman/containers/pause.go
  cmd/podman/containers/restart.go
  cmd/podman/containers/rm.go
  cmd/podman/containers/run.go
  cmd/podman/containers/start.go
  cmd/podman/containers/stop.go
  cmd/podman/containers/top.go
  cmd/podman/containers/unmount.go
  cmd/podman/containers/unpause.go
  cmd/podman/containers/wait.go
Labels: approved, lgtm

#5912 v2, pkg: implement rlimits
  pkg/specgen/generate/oci.go
Labels: approved, lgtm

#5920 Makefile: fix broken chcon for podman-remote
  Makefile
Labels: approved, lgtm

#5921 add entrypoint from image where needed
  pkg/specgen/generate/container.go
Labels: approved, lgtm

#5900 podmanv2 cp
  cmd/podman/containers/cp.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/cp.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#5923 my bad
  cmd/podman/containers/attach.go
  cmd/podman/containers/commit.go
  cmd/podman/containers/run.go
  cmd/podman/containers/start.go
Labels: approved, lgtm

#5911 podman: do not set empty cgroup limit blocks
  cmd/podman/common/specgen.go
Labels: approved, lgtm

#5917 v2: implement log{in,out}
  cmd/podman/login.go
  cmd/podman/logout.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/auth/cli.go
  vendor/modules.txt
Labels: approved, lgtm

#5905 Modify namespace generation code for specgen
  cmd/podman/common/netflags.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/oci.go
  pkg/specgen/namespaces.go
  pkg/specgen/specgen.go
Labels: approved, lgtm

#5916 v2, podman: plug --userns=auto
  pkg/domain/infra/runtime_libpod.go
Labels: approved, lgtm

#5851 Provide a json variable pointing to a configured json API
  cmd/podman/common/default.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/container.go
  cmd/podman/containers/inspect.go
  cmd/podman/containers/mount.go
  cmd/podman/containers/ps.go
  cmd/podman/images/history.go
  cmd/podman/images/image.go
  cmd/podman/images/inspect.go
  cmd/podman/images/list.go
  cmd/podman/pods/inspect.go
  cmd/podman/pods/pod.go
  cmd/podman/pods/ps.go
  cmd/podman/registry/json.go
  cmd/podman/report/diff.go
  cmd/podman/report/report.go
  cmd/podman/system/info.go
  cmd/podman/system/system.go
  cmd/podman/volumes/inspect.go
  cmd/podman/volumes/volume.go
Labels: approved, lgtm

#5925 Bump to github.com/containers/common to v0.9.2
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/libpodConfig.go
  vendor/modules.txt
Labels: approved, lgtm

#5919 Lots more fixes for V2 conversion.
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/netflags.go
  cmd/podman/common/specgen.go
Labels: approved, lgtm

#5909 gate/README.md Fix link to .cirrus.yml and reword
  contrib/gate/README.md
Labels: approved, lgtm, ok-to-test

#5737 Cirrus: Add support for Fedora 32 beta
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/libpod_base_images.yml
  contrib/cirrus/packer/libpod_images.yml
  contrib/cirrus/packer/ubuntu_setup.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm

#5934 vendor in containers/common v0.9.4
  go.mod
  go.sum
  test/e2e/create_staticip_test.go
  test/e2e/run_device_test.go
  test/e2e/run_selinux_test.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: approved, lgtm

#5937 Move selinux labeling support from pkg/util to pkg/selinux
  pkg/selinux/selinux.go
Labels: approved, lgtm

#5938 Fix handling of --cidfile on create/run
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  test/e2e/stop_test.go
Labels: approved, lgtm

#5929 Fix v2 test podman info
  test/e2e/info_test.go
Labels: approved, lgtm

#5940 Fix podman rm to have correct exit codes
  cmd/podman/containers/rm.go
  test/e2e/rm_test.go
Labels: approved, lgtm

#5941 V2 Restore exists E2E tests
  cmd/podman/containers/exists.go
  cmd/podman/images/exists.go
  cmd/podman/pods/create.go
  cmd/podman/pods/exists.go
  test/e2e/exists_test.go
Labels: approved, lgtm

#5202 test rootless_storage_path from storage.conf
  test/e2e/info_test.go
Labels: approved, lgtm, size/L

#5944 Fix integration tests for untag
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  test/e2e/untag_test.go
Labels: approved, lgtm

#5945 Fix podman push and podman pull to check for authfile
  cmd/podman/images/pull.go
  cmd/podman/images/push.go
  test/e2e/pull_test.go
Labels: approved, lgtm

#5930 Instrumentation to answer #5765
  cmd/podman/system/info.go
  pkg/api/server/server.go
Labels: approved, lgtm

#5936 Move selinux labeling support from pkg/util to pkg/selinux
  libpod/container_internal.go
  pkg/selinux/selinux.go
  pkg/util/utils.go
Labels: approved, lgtm

#5947 Turn on version.go except for -v check
  test/e2e/version_test.go
Labels: approved, lgtm

#5942 Enable basic volumes support in Podmanv2
  cmd/podman/common/specgen.go
  cmd/podman/common/volumes.go
  pkg/specgen/generate/storage.go
  pkg/specgen/specgen.go
Labels: approved, lgtm

#5948 V2 Restore rmi tests
  libpod/define/errors.go
  libpod/runtime_img.go
  pkg/domain/infra/abi/images.go
  test/e2e/rmi_test.go
Labels: approved, lgtm

#5952 Stop wrapping pull messages
  libpod/image/pull.go
  pkg/api/handlers/libpod/images.go
  pkg/domain/infra/abi/images.go
Labels: approved, lgtm

#5843 manifest create,add,inspect
  cmd/podman/main.go
  cmd/podman/manifest/add.go
  cmd/podman/manifest/create.go
  cmd/podman/manifest/inspect.go
  cmd/podman/manifest/manifest.go
  completions/bash/podman
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-create.1.md
  docs/source/markdown/podman-manifest-inspect.1.md
  docs/source/markdown/podman-manifest.1.md
  docs/source/markdown/podman.1.md
  go.sum
  libpod/runtime.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/manifest.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/tunnel/manifest.go
  test/e2e/manifest_test.go
Labels: approved, lgtm

#5946 V2 restore libpod.Shutdown() when exiting podman commands
  cmd/podman/root.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/runtime.go
  pkg/domain/infra/runtime_libpod.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#5933 podman, v2: handle namespaces specified on the CLI
  cmd/podman/common/create.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/create.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/namespaces.go
Labels: approved, lgtm

#5963 set bigfilestemporarydir for pull
  libpod/image/docker_registry_options.go
Labels: approved, lgtm, needs-ok-to-test

#5957 foo: delete spurious file
  foo
Labels: approved, lgtm

#5959 [1.9] rootless: move join namespace inside child process
  pkg/rootless/rootless_linux.c
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm

#5962 Fix SELinux functions names to not be repetitive
  libpod/container_internal.go
  pkg/selinux/selinux.go
Labels: approved, lgtm

#5968 v2, test: enable cgroup parent tests
  test/e2e/run_cgroup_parent_test.go
Labels: approved, lgtm

#5972 Do not join pod namespaces without an infra ctr
  pkg/specgen/generate/namespaces.go
Labels: approved, lgtm
