Repository containers/podman, pull requests merged in 2020-06, with the labels that each got.

#6353 enable building without `varlink` tag
  .cirrus.yml
  Makefile
  contrib/spec/podman.spec.in
  test/endpoint/commit.go
  test/endpoint/config.go
  test/endpoint/endpoint.go
  test/endpoint/endpoint_suite_test.go
  test/endpoint/exists_test.go
  test/endpoint/pull_test.go
  test/endpoint/setup.go
  test/endpoint/version_test.go
Labels: approved, lgtm

#6438 [CI:DOCS] Update man pages for --ip with CNI networks
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#6447 Fix leak of empty tarball
  pkg/api/handlers/libpod/images.go
  test/e2e/images_test.go
Labels: Needed for V2, approved, lgtm

#6449 Add support for format {{.Label}}
  cmd/podman/pods/ps.go
  pkg/api/handlers/utils/pods.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/pods.go
  test/e2e/pod_ps_test.go
Labels: approved, lgtm

#6454 Remove skipifremote checks in images_test.go
  test/e2e/images_test.go
Labels: approved, lgtm

#6453 Add invalid value to error message
  pkg/specgen/container_validate.go
Labels: approved, lgtm

#6350 Don't build code on remoteclient
  cmd/podman/system/migrate.go
  cmd/podman/system/renumber.go
  cmd/podman/system/reset.go
  cmd/podman/system/service.go
  cmd/podman/system/service_abi.go
  cmd/podman/system/service_unsupported.go
  cmd/podman/system/varlink.go
Labels: approved, lgtm

#6456 system tests : more tests
  test/system/075-exec.bats
  test/system/200-pod.bats
  test/system/500-networking.bats
Labels: approved, lgtm

#6443 Combine the code of dealing with 'readonly' and 'ro'.
  cmd/podman/common/volumes.go
Labels: approved, lgtm, ok-to-test

#6411 Add bindings for exec and enable attached remote exec
  cmd/podman/containers/exec.go
  pkg/api/handlers/compat/resize.go
  pkg/api/server/register_exec.go
  pkg/bindings/connection.go
  pkg/bindings/containers/attach.go
  pkg/bindings/containers/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/exec_test.go
Labels: approved, lgtm

#6455 Add information on detach-keys
  troubleshooting.md
Labels: approved, lgtm

#6457 Update vendor containers/psgo
  go.mod
  go.sum
  vendor/github.com/containers/psgo/SECURITY.md
  vendor/github.com/containers/psgo/psgo.go
  vendor/modules.txt
Labels: approved, lgtm

#6460 images --no-trunc: fix ID formatting
  cmd/podman/images/list.go
Labels: approved, lgtm

#6435 check --user range for rootless containers
  cmd/podman/containers/run.go
  libpod/container_internal_linux.go
  pkg/util/utils_linux.go
  pkg/util/utils_unsupported.go
Labels: approved, lgtm

#6467 make env handling os dependent
  pkg/env/env.go
  pkg/env/env_supported.go
  pkg/env/env_unsupported.go
Labels: Needed for V2, approved, lgtm

#6468 Enable detached exec for remote
  contrib/cirrus/setup_environment.sh
  contrib/spec/podman.spec.in
  libpod/container_exec.go
  libpod/oci.go
  libpod/oci_conmon_exec_linux.go
  pkg/api/handlers/compat/exec.go
  pkg/api/server/register_exec.go
  pkg/bindings/containers/exec.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/specgen/generate/container_create.go
  test/e2e/exec_test.go
Labels: approved, lgtm

#6471 Remove reference to "upcoming" RHEL 7.7
  troubleshooting.md
Labels: approved, lgtm

#6474 Turn on remote rm_test
  pkg/domain/infra/tunnel/containers.go
  test/e2e/rm_test.go
Labels: approved, lgtm

#6477 RHEL8 and Centos8 don't have oci-runtime yet
  contrib/spec/podman.spec.in
Labels: approved, lgtm

#6473 Fix a segfault in `podman inspect -l` w/ no containers
  pkg/domain/infra/abi/containers.go
  test/e2e/inspect_test.go
Labels: approved, lgtm

#6469 V2 Add support for ssh authentication methods
  cmd/podman/root.go
  docs/source/markdown/podman.1.md
  pkg/bindings/bindings.go
  pkg/bindings/connection.go
  pkg/domain/entities/engine.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_tunnel.go
  test/e2e/libpod_suite_remote_test.go
  test/utils/utils.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/forward.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/agent/server.go
  vendor/modules.txt
Labels: approved, lgtm

#6465 Add more Remote tests
  cmd/podman/containers/wait.go
  test/e2e/create_test.go
  test/e2e/diff_test.go
  test/e2e/exists_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/inspect_test.go
  test/e2e/pod_create_test.go
  test/e2e/ps_test.go
  test/e2e/pull_test.go
  test/e2e/volume_rm_test.go
Labels: approved, lgtm

#6461 test.apiv2: add test cases for committing an image from a container
  test/apiv2/20-containers.at
Labels: approved, lgtm, ok-to-test

#6483 When stopping containers locally, ensure cleanup runs
  pkg/domain/infra/abi/containers.go
Labels: approved, lgtm

#6478 Remove use of ABISupport buildtag
  Makefile
  cmd/podman/registry/config_abi.go
  cmd/podman/registry/config_tunnel.go
  cmd/podman/system/service_abi.go
  cmd/podman/system/service_unsupported.go
  hack/golangci-lint.sh
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_abi_unsupported.go
  pkg/domain/infra/runtime_libpod.go
  pkg/domain/infra/runtime_proxy.go
  pkg/domain/infra/runtime_tunnel.go
Labels: approved, lgtm

#6487 Vendor in container/storage v1.20.2
  contrib/gate/Dockerfile
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/devmapper/deviceset.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/config/config.go
  vendor/github.com/containers/storage/storage.conf
  vendor/github.com/containers/storage/store.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytereader.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder.go
  vendor/github.com/klauspost/compress/zstd/history.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/modules.txt
Labels: approved, lgtm

#6482 Ensure that image/container inspect are specialized
  cmd/podman/containers/inspect.go
  cmd/podman/images/inspect.go
  test/e2e/inspect_test.go
Labels: approved, lgtm

#6476 Add a few CVE entries to changelog.txt
  changelog.txt
Labels: approved, lgtm, ok-to-test

#6484 Namespace fields were set with bogus values
  cmd/podman/containers/create.go
Labels: approved, lgtm

#6486 add socket information to podman info
  docs/source/markdown/podman-info.1.md
  libpod/define/info.go
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#6470 Properly follow linked namespace container for stats
  libpod/networking_linux.go
  test/e2e/pod_stats_test.go
Labels: approved, lgtm

#6481 turn on remote stop_test
  pkg/domain/infra/tunnel/containers.go
  test/e2e/stop_test.go
Labels: approved, lgtm

#6485 fix remote test --ignore & turn on more tests
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/pods.go
  test/e2e/pod_rm_test.go
  test/e2e/pod_stop_test.go
  test/e2e/rm_test.go
Labels: approved, lgtm

#6489 BATS and APIv2: more tests and tweaks
  test/apiv2/20-containers.at
  test/system/080-pause.bats
  test/system/200-pod.bats
  test/system/220-healthcheck.bats
Labels: approved, lgtm

#6491 /images/.../json: fix port parsing
  pkg/api/handlers/types.go
Labels: approved, lgtm

#6492 [CI:DOCS] Bump to v2.0.0-RC4
  changelog.txt
Labels: approved, lgtm

#6374 Turn on the podman-commands script to verify man pages
  .cirrus.yml
Labels: approved, lgtm

#6338 Attempt to turn on special_testing_in_podman tests
  .cirrus.yml
  contrib/cirrus/integration_test.sh
Labels: approved, lgtm

#6501 Fix handling of ThrottleWriteIOPSDevice
  pkg/specgen/config_linux.go
  pkg/specgen/generate/container.go
Labels: Needed for V2, approved, lgtm

#6498 Ensure that containers in pods properly set hostname
  cmd/podman/common/create.go
  libpod/pod.go
  libpod/pod_api.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/oci.go
Labels: Needed for V2, approved, lgtm

#6495 Add parallel execution code for container operations
  cmd/podman/root.go
  pkg/domain/infra/abi/containers.go
  pkg/parallel/parallel.go
  pkg/parallel/parallel_linux.go
Labels: Needed for V2, approved, lgtm

#6504 Fix handling of systemd.
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/container_create.go
  test/e2e/systemd_test.go
Labels: Needed for V2, approved, lgtm

#6417 Adds docker py regression test.
  test/dockerpy/README.md
  test/dockerpy/common.py
  test/dockerpy/constant.py
  test/dockerpy/images.py
Labels: approved, lgtm

#6505 Add parallel operation to `podman stop`
  cmd/podman/containers/stop.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#6515 V2 enable ubuntu
  .cirrus.yml
  Makefile
  contrib/cirrus/integration_test.sh
  contrib/cirrus/setup_environment.sh
  hack/install_bats.sh
  test/e2e/checkpoint_test.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#6520 Ensure Conmon is alive before waiting for exit file
  libpod/container_internal.go
  libpod/define/errors.go
  libpod/oci.go
  libpod/oci_conmon_linux.go
  libpod/oci_missing.go
  libpod/runtime_ctr.go
Labels: approved, lgtm

#6532 Modify py test to start stop system service for each test
  test/dockerpy/README.md
  test/dockerpy/__init__.py
  test/dockerpy/common.py
  test/dockerpy/constant.py
  test/dockerpy/containers.py
  test/dockerpy/images.py
Labels: approved, lgtm

#6521 [CI:DOCS] Improve swagger+CORS metadata docs
  contrib/cirrus/README.md
  contrib/cirrus/swagger_stack_trace.png
  docs/Readme.md
Labels: approved, lgtm

#6542 Ensure signal validation happens first in pod kill
  pkg/api/handlers/libpod/pods.go
  pkg/domain/infra/tunnel/pods.go
Labels: approved, lgtm

#6193 Cirrus: Include packages for containers/conmon CI
  .cirrus.yml
  contrib/cirrus/check_image.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/packer/fedora_packaging.sh
  contrib/cirrus/packer/fedora_setup.sh
  contrib/cirrus/packer/ubuntu_packaging.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm

#6561 Fixed bug where 'podman log <container>' would truncate some lines.
  libpod/container_log.go
Labels: approved, lgtm, ok-to-test

#6529 Enable IPv6 port binding
  cmd/podman/common/util.go
  libpod/oci_util.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#6256 Support k8s Deployment in play kube
  cmd/podman/play/kube.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  test/e2e/generate_kube_test.go
  test/e2e/play_kube_test.go
  vendor/k8s.io/api/apps/v1/doc.go
  vendor/k8s.io/api/apps/v1/generated.pb.go
  vendor/k8s.io/api/apps/v1/generated.proto
  vendor/k8s.io/api/apps/v1/register.go
  vendor/k8s.io/api/apps/v1/types.go
  vendor/k8s.io/api/apps/v1/types_swagger_doc_generated.go
  vendor/k8s.io/api/apps/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: Needed for V2, approved, lgtm, ok-to-test

#6568 libpod: fix check for slirp4netns netns
  libpod/container_internal_linux.go
Labels: approved, lgtm

#6569 podman: create scope only if --cgroup-manager=systemd
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#6571 Fix builds for RDO
  contrib/spec/podman.spec.in
Labels: approved, lgtm

#6516 fix api fails with 'strconv.ParseUint: parsing "tcp": invalid syntax'
  pkg/api/handlers/compat/containers.go
Labels: Needed for V2, approved, lgtm, ok-to-test

#6415 podman-generate-systemd --new for pods
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/common/util.go
  cmd/podman/parse/common.go
  cmd/podman/pods/create.go
  cmd/podman/pods/rm.go
  cmd/podman/pods/start.go
  cmd/podman/pods/stop.go
  completions/bash/podman
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-pod-rm.1.md
  docs/source/markdown/podman-pod-start.1.md
  docs/source/markdown/podman-pod-stop.1.md
  docs/source/markdown/podman-run.1.md
  libpod/define/pod_inspect.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime_pod_infra_linux.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/generate.go
  pkg/domain/infra/abi/pods.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/podspecgen.go
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  pkg/systemd/generate/systemdgen.go
  pkg/systemd/generate/systemdgen_test.go
  test/e2e/create_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/pod_rm_test.go
  test/e2e/pod_start_test.go
  test/e2e/pod_stop_test.go
Labels: approved, lgtm

#6551 update document login see config.json as valid
  docs/source/markdown/podman-login.1.md
Labels: approved, lgtm

#6564 [CI:DOCS] Add quick start directions to APIv2 Dock
  pkg/api/server/docs.go
Labels: approved, lgtm

#6581 [CI:DOCS] Fix carriage returns in API v2 header
  pkg/api/server/docs.go
Labels: approved, lgtm

#6587 Do not default WorkingDir to / on client side
  cmd/podman/common/specgen.go
  test/e2e/images_test.go
Labels: Needed for V2, approved, lgtm

#6576 Fix missing code during in_podman build
  Dockerfile
Labels: approved, lgtm

#6588 Reassemble filters on the server side
  pkg/api/handlers/utils/images.go
Labels: Needed for V2, approved, lgtm

#6608 [CI:DOCS] Change Varlink systemd unit to use `system service`
  contrib/varlink/io.podman.service
Labels: approved, lgtm

#6599 The string field of Built was missing from server
  pkg/bindings/system/system.go
Labels: approved, lgtm, ok-to-test

#6609 Bump to v2.0.0-RC6
  changelog.txt
Labels: approved, lgtm

#6553 --replace for containers and pods
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  cmd/podman/containers/rm.go
  cmd/podman/containers/run.go
  cmd/podman/pods/create.go
  cmd/podman/pods/rm.go
  completions/bash/podman
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/create_test.go
  test/e2e/pod_create_test.go
  test/e2e/run_test.go
Labels: Needed for V2, approved, lgtm

#6597 Add some additional fields to imageinspect
  pkg/api/handlers/types.go
Labels: approved, lgtm

#6603 Adds more docker py test
  pkg/bindings/test/containers_test.go
  test/dockerpy/containers.py
  test/test_dockerpy/README.md
  test/test_dockerpy/__init__.py
  test/test_dockerpy/common.py
  test/test_dockerpy/constant.py
  test/test_dockerpy/test_containers.py
  test/test_dockerpy/test_images.py
  test/test_dockerpy/test_info_version.py
Labels: approved, lgtm

#6590 Add the missing return in the API handlers' image_build method
  pkg/api/handlers/compat/images_build.go
Labels: approved, lgtm, ok-to-test

#6601 fix podman cp can create an extra directory when the source is the container's root directory
  pkg/domain/infra/abi/cp.go
  test/e2e/build/Dockerfile.test-cp-root-dir
  test/e2e/cp_test.go
Labels: approved, lgtm, ok-to-test

#6591 Merged request to fix -f to stop following logs
  libpod/container_log.go
  test/e2e/logs_test.go
Labels: approved, lgtm, needs-ok-to-test

#6589 Handle errors on attach properly
  pkg/domain/infra/tunnel/containers.go
Labels: Needed for V2, approved, lgtm

#6605 APIv2 tests: Add some tests for podman pods
  test/apiv2/40-pods.at
Labels: approved, lgtm, ok-to-test

#6615 auto-update: use image's arch
  pkg/api/handlers/compat/images_build.go
  pkg/autoupdate/autoupdate.go
Labels: Needed for V2, approved, lgtm

#6619 [CI:DOCS] Revert "Change Varlink systemd unit to use `system service`"
  contrib/varlink/io.podman.service
Labels: approved, lgtm

#6624 Fix podman-remote images
  libpod/image/image.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#6635 Add <return> to lines returned in podman-remote logs
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#6633 Vendor containers/common v0.14.0
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/modules.txt
Labels: approved, lgtm

#6638 [CI:DOCS] Fixes #6548
  pkg/api/server/register_ping.go
Labels: approved, lgtm

#6622 Fix --init and --init-path
  cmd/podman/common/specgen.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/storage.go
  test/e2e/run_test.go
Labels: approved, lgtm, ok-to-test

#6636 Re-add resource limit warnings to Specgen
  cmd/podman/common/specgen.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/validate.go
Labels: approved, lgtm

#6640 "streaming output" logs test: fix flake
  test/e2e/logs_test.go
Labels: approved, lgtm

#6631 Fix handling of old oci hooks
  pkg/hooks/0.1.0/hook.go
  pkg/hooks/0.1.0/hook_test.go
  pkg/hooks/read.go
Labels: Needed for V2, approved, lgtm

#6648 vendor github.com/containers/image/v5@v5.5.1
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/oci/layout/oci_dest.go
  vendor/github.com/containers/image/v5/types/types.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/klauspost/compress/fse/bitreader.go
  vendor/github.com/klauspost/compress/fse/bytereader.go
  vendor/github.com/klauspost/compress/huff0/README.md
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytereader.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder.go
  vendor/modules.txt
Labels: approved, lgtm

#6641 generate systemd: `ExecStopPost` for all units
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
Labels: Needed for V2, approved, lgtm

#6630 Show Anon, GID, UID in v2 volumes
  pkg/domain/entities/volumes.go
Labels: approved, lgtm

#6644 Revert #6591 to fix issue with failed tests
  libpod/container_log.go
  test/e2e/logs_test.go
Labels: approved, lgtm, ok-to-test

#6522 Add support for the unless-stopped restart policy
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  test/e2e/create_test.go
Labels: approved, lgtm

#6634 fix misc remote build issues
  pkg/api/handlers/compat/images_build.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#6620 Move logs functionality to separate file for APIv2
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/containers_logs.go
Labels: approved, lgtm

#6655 Bump Buildah to v1.15.0
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/github.com/openshift/imagebuilder/internals.go
  vendor/modules.txt
Labels: Needed for V2, approved, lgtm

#6657 [CI:DOCS] Bump to v2.0.0-RC7
  changelog.txt
Labels: approved, lgtm

#6560 Do not share container log driver for exec
  contrib/cirrus/setup_environment.sh
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_log.go
  libpod/define/config.go
  libpod/define/errors.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  libpod/runtime_ctr.go
  test/e2e/exec_test.go
  test/e2e/logs_test.go
Labels: approved, lgtm

#6647 Handle dropping capabilities correctly when running as non root user
  pkg/specgen/generate/security.go
  test/e2e/run_test.go
  test/system/030-run.bats
Labels: Needed for V2, approved, lgtm

#6654 Don't ignore --user flag in rootless --userns keepid
  pkg/specgen/generate/namespaces.go
  test/e2e/run_userns_test.go
Labels: Needed for V2, approved, lgtm

#6611 Makefile: install.varlink needs to create dirs
  Makefile
Labels: approved, lgtm

#6658 Podman system service is no longer experimental
  cmd/podman/system/service.go
Labels: approved, lgtm

#6669 unflake rmi tests
  test/e2e/rmi_test.go
Labels: approved, lgtm

#6656 Allow recursive dependency start with Init()
  libpod/container_api.go
  pkg/api/handlers/compat/containers_attach.go
  pkg/api/handlers/libpod/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/varlinkapi/containers.go
Labels: Needed for V2, approved, lgtm

#6673 [CI:DOCS] Fix remote docs
  docs/remote-docs.sh
  docs/source/markdown/podman-remote.1.md
  docs/source/markdown/podman-remote.conf.5.md
Labels: approved, lgtm

#6684 CI: force registry:2.6
  hack/podman-registry
  test/e2e/config_amd64.go
  test/e2e/login_logout_test.go
  test/endpoint/config.go
  test/system/150-login.bats
Labels: approved, lgtm

#6690 podman images --format json: pretty print
  cmd/podman/images/list.go
Labels: approved, lgtm

#6677 Poll on events for file reading
  libpod/events/events.go
Labels: approved, lgtm

#6637 Correct logic for demux'ing channels
  pkg/bindings/containers/attach.go
Labels: approved, lgtm

#6674 Add support for image sorting for all options
  cmd/podman/images/list.go
  test/e2e/images_test.go
Labels: approved, lgtm

#6694 [CI:DOCS] Update release notes for v2.0.0
  RELEASE_NOTES.md
Labels: approved, lgtm

#6697 [CI:DOCS] Bump to v2.0.0
  README.md
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#6695 Cirrus: Change DEST_BRANCH to v2.0
  .cirrus.yml
  contrib/cirrus/lib.sh
Labels: approved, lgtm

#6675 correct the absolute path of `rm` executable
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm, ok-to-test

#6676 Account for non-default port number in image name
  cmd/podman/images/list.go
Labels: approved, lgtm

#6621 search: allow wildcards
  libpod/image/search.go
  pkg/registries/registries.go
  test/e2e/search_test.go
Labels: approved, lgtm

#6698 [CI:DOCS] Bump master version
  README.md
  RELEASE_NOTES.md
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#6671 Fix podman build handling of --http-proxy flag
  cmd/podman/images/build.go
  test/e2e/build_test.go
Labels: approved, lgtm

#6683 Add container name to the /etc/hosts within the container
  libpod/container_internal_linux.go
  test/e2e/run_test.go
Labels: approved, lgtm

#6703 rootless_linux: improve error message
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm, needs-ok-to-test

#6707 Makefile: allow customizable GO_BUILD
  Makefile
Labels: approved, lgtm

#6700 Typo fix
  docs/source/markdown/podman-generate-systemd.1.md
Labels: approved, lgtm, ok-to-test

#6702 Stop following logs using timers
  libpod/container_log.go
  test/e2e/logs_test.go
Labels: approved, lgtm, ok-to-test

#6709 Bump required go version to 1.13
  go.mod
Labels: approved, lgtm, needs-ok-to-test

#6711 Makefile: allow customizable GO_BUILD
  Makefile
Labels: approved, lgtm

#6715 Fix conflicts between privileged and other flags
  cmd/podman/containers/create.go
  pkg/specgen/container_validate.go
  pkg/specgen/specgen.go
Labels: approved, lgtm

#6625 Add --preservefds to podman run
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/run.go
  completions/bash/podman
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  pkg/domain/entities/containers.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/run_test.go
  test/system/030-run.bats
Labels: approved, lgtm

#6710 libpod/containers/json: alias last -> limit
  pkg/api/handlers/libpod/containers.go
  pkg/bindings/containers/containers.go
  test/apiv2/20-containers.at
Labels: API, approved, lgtm

#6712 Re-add PODMAN_USERNS environment variable
  cmd/podman/common/create.go
Labels: approved, lgtm

#6679 system tests: new rm, build tests
  test/system/055-rm.bats
  test/system/070-build.bats
  test/system/helpers.bash
Labels: approved, lgtm

#6722 image load: no args required
  cmd/podman/images/load.go
  test/system/120-load.bats
Labels: approved, lgtm

#6493 V2 podman system connection
  cmd/podman/main.go
  cmd/podman/registry/config.go
  cmd/podman/registry/config_tunnel.go
  cmd/podman/root.go
  cmd/podman/system/connection.go
  docs/source/markdown/podman-system-connection.1.md
  docs/source/markdown/podman-system.1.md
  docs/source/markdown/podman.1.md
  pkg/bindings/bindings.go
  pkg/bindings/connection.go
  pkg/domain/entities/engine.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_tunnel.go
  pkg/terminal/util.go
Labels: approved, lgtm

#6731 Add JSON output field for ps
  cmd/podman/containers/ps.go
  pkg/domain/entities/container_ps.go
Labels: approved, lgtm

#6726 system tests: invoke with abs path to podman
  Makefile
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
  test/system/helpers.bash
Labels: approved, lgtm

#6728 Add tests for --privileged with other flags
  test/e2e/run_selinux_test.go
  test/e2e/run_test.go
Labels: approved, lgtm

#6723 [1.9] CI: force registry:2.6
  pkg/api/handlers/libpod/images.go
  test/e2e/config_amd64.go
  test/e2e/images_test.go
  test/e2e/login_logout_test.go
  test/endpoint/config.go
  test/system/150-login.bats
Labels: approved, lgtm

#6685 Fix typo.
  docs/source/markdown/podman-auto-update.1.md
Labels: approved, lgtm, ok-to-test

#6706 Add podman network to bash command completions
  completions/bash/podman
Labels: approved, lgtm

#6737 APIv2:doc: Fix swagger doc to refer to volumes
  pkg/api/server/register_volumes.go
Labels: approved, lgtm, ok-to-test

#6743 libpod: specify mappings to the storage
  libpod/container_internal.go
  test/e2e/run_userns_test.go
Labels: approved, lgtm

#6745 [1.9] CI: disable bindings tests
  .cirrus.yml
Labels: approved, lgtm

#6739 Fix ssh-agent support
  cmd/podman/system/connection.go
  pkg/bindings/connection.go
Labels: approved, kind/bug, lgtm

#6733 BATS tests: new too-many-arguments test
  cmd/podman/containers/commit.go
  cmd/podman/containers/export.go
  cmd/podman/containers/inspect.go
  cmd/podman/containers/mount.go
  cmd/podman/containers/port.go
  cmd/podman/containers/top.go
  cmd/podman/generate/systemd.go
  cmd/podman/images/build.go
  cmd/podman/images/inspect.go
  cmd/podman/images/list.go
  cmd/podman/images/push.go
  cmd/podman/images/save.go
  cmd/podman/images/trust_show.go
  cmd/podman/inspect.go
  cmd/podman/manifest/create.go
  cmd/podman/networks/create.go
  cmd/podman/networks/inspect.go
  cmd/podman/pods/top.go
  cmd/podman/system/connection.go
  cmd/podman/system/unshare.go
  cmd/podman/validate/args.go
  test/system/015-help.bats
  test/system/120-load.bats
Labels: approved, lgtm

#6738 APIv2:fix: Remove `/json` from compat network EPs
  pkg/api/server/register_networks.go
Labels: approved, lgtm, needs-ok-to-test

#6741 APIv2: Return `StatusCreated` from volume creation
  pkg/api/handlers/libpod/volumes.go
Labels: approved, lgtm, needs-ok-to-test

#6729 Reformat inspect network settings
  libpod/define/container_inspect.go
  libpod/networking_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#6746 podman untag: error if tag doesn't exist
  completions/bash/podman
  docs/source/markdown/podman-untag.1.md
  libpod/define/errors.go
  libpod/image/errors.go
  libpod/image/image.go
  test/e2e/untag_test.go
  test/system/020-tag.bats
Labels: approved, lgtm

#6732 Set stop signal to 15 when not explicitly set
  cmd/podman/common/specgen.go
  libpod/runtime_ctr.go
  test/e2e/create_test.go
Labels: approved, lgtm

#6753 utils: drop default mapping when running uid!=0
  pkg/util/utils.go
Labels: approved, lgtm

#6752 Fix inspect to display multiple label: changes
  cmd/podman/common/specgen.go
Labels: approved, lgtm

#6758 V2.0.1 backports
  RELEASE_NOTES.md
  cmd/podman/common/create.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/create.go
  cmd/podman/containers/ps.go
  cmd/podman/images/build.go
  cmd/podman/images/load.go
  cmd/podman/main.go
  cmd/podman/registry/config.go
  cmd/podman/registry/config_tunnel.go
  cmd/podman/root.go
  cmd/podman/system/connection.go
  completions/bash/podman
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-system-connection.1.md
  docs/source/markdown/podman-system.1.md
  docs/source/markdown/podman-untag.1.md
  docs/source/markdown/podman.1.md
  go.mod
  libpod/container_internal.go
  libpod/container_log.go
  libpod/define/container_inspect.go
  libpod/define/errors.go
  libpod/image/errors.go
  libpod/image/image.go
  libpod/networking_linux.go
  libpod/runtime_ctr.go
  pkg/api/handlers/libpod/volumes.go
  pkg/api/server/register_networks.go
  pkg/api/server/register_volumes.go
  pkg/bindings/bindings.go
  pkg/bindings/connection.go
  pkg/domain/entities/container_ps.go
  pkg/domain/entities/engine.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_tunnel.go
  pkg/rootless/rootless_linux.go
  pkg/specgen/container_validate.go
  pkg/specgen/specgen.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  pkg/terminal/util.go
  pkg/util/utils.go
  test/e2e/build_test.go
  test/e2e/create_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/logs_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_userns_test.go
  test/e2e/untag_test.go
  test/system/020-tag.bats
  test/system/120-load.bats
Labels: approved, lgtm

#6751 podman run/create: support all transports
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  test/system/030-run.bats
Labels: approved, lgtm

#6754 Docs: consistency between man / --help
  cmd/podman/healthcheck/run.go
  cmd/podman/images/tag.go
  cmd/podman/images/untag.go
  cmd/podman/manifest/inspect.go
  cmd/podman/manifest/remove.go
  cmd/podman/system/renumber.go
  cmd/podman/system/unshare.go
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-container-exists.1.md
  docs/source/markdown/podman-healthcheck-run.1.md
  docs/source/markdown/podman-image-exists.1.md
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-annotate.1.md
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-mount.1.md
  docs/source/markdown/podman-network-inspect.1.md
  docs/source/markdown/podman-network-rm.1.md
  docs/source/markdown/podman-pod-prune.1.md
  docs/source/markdown/podman-rmi.1.md
  docs/source/markdown/podman-system-migrate.1.md
  docs/source/markdown/podman-system-reset.1.md
  docs/source/markdown/podman-umount.1.md
  docs/source/markdown/podman-unshare.1.md
  docs/source/markdown/podman-untag.1.md
  hack/man-page-checker
  test/system/015-help.bats
Labels: approved, lgtm
