Repository containers/podman, pull requests merged in 2020-01, with the labels that each got.

#4776 Update release notes with further changes from 1.7.0
  RELEASE_NOTES.md
Labels: approved, lgtm, size/S

#4777 Bump to v1.7.0-RC2
  Makefile
  changelog.txt
Labels: approved, lgtm, size/M

#4778 [CI:DOCS]add more network endpoints
  pkg/api/handlers/containers.go
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/errors.go
  pkg/bindings/containers.go
  pkg/bindings/network.go
  pkg/network/config.go
  pkg/network/files.go
Labels: approved, lgtm, size/L

#4780 Fix presentation of man page tables
  docs/source/markdown/podman-history.1.md
  docs/source/markdown/podman-ps.1.md
Labels: approved, lgtm, size/XS

#4782 [CI:DOCS]use helper funcs for bindings
  pkg/bindings/containers.go
  pkg/bindings/healthcheck.go
  pkg/bindings/mount.go
  pkg/bindings/network.go
  pkg/bindings/pods.go
  pkg/bindings/search.go
  pkg/bindings/volumes.go
Labels: approved, lgtm, size/L

#4797 (minor) fix broken links to container-policy.json.5
  docs/source/markdown/podman-image-trust.1.md
  docs/source/markdown/podman.1.md
Labels: approved, lgtm, size/XS

#4798 [CI:DOCS]add return info for prereview
  pkg/api/handlers/generic/containers.go
  pkg/api/handlers/generic/containers_create.go
  pkg/api/handlers/generic/containers_stats.go
  pkg/api/handlers/generic/images.go
  pkg/api/handlers/generic/info.go
  pkg/api/handlers/generic/version.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/healthcheck.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/libpod/volumes.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/register_volumes.go
Labels: approved, lgtm, size/L

#4762 Generate binaries only if there are changes in src code.
  .copr/prepare.sh
  Makefile
  contrib/build_rpm.sh
  contrib/spec/podman.spec.in
Labels: approved, lgtm, needs-ok-to-test, size/M

#4800 Bump to v1.7.0
  Makefile
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/S

#4801 [CI:DOCS]first pass at adding swagger docs for api
  pkg/api/handlers/generic/containers.go
  pkg/api/handlers/generic/containers_create.go
  pkg/api/handlers/generic/images.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
  pkg/bindings/mount.go
Labels: approved, lgtm, size/XXL

#4774 fix bug copy from container directory
  cmd/podman/cp.go
  test/e2e/cp_test.go
Labels: approved, lgtm, size/M

#4788 github stale workflow: rephrase and bump close time
  .github/workflows/stale.yml
Labels: approved, lgtm, size/XS

#4781 play kube: make seccomp handling better conform to k8s
  cmd/podman/cliconfig/config.go
  cmd/podman/play_kube.go
  completions/bash/podman
  docs/source/markdown/podman-play-kube.1.md
  pkg/adapter/pods.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm, size/M

#4592 rootless: use RootlessKit port forwarder
  go.mod
  go.sum
  libpod/container.go
  libpod/networking_linux.go
  libpod/oci_conmon_linux.go
  pkg/rootlessport/rootlessport_linux.go
  vendor/github.com/rootless-containers/rootlesskit/LICENSE
  vendor/github.com/rootless-containers/rootlesskit/pkg/msgutil/msgutil.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/builtin.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/child/child.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/msg/msg.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/opaque/opaque.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/parent.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/tcp/tcp.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/udp/udp.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/udp/udpproxy/udp_proxy.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/port.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/portutil/portutil.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4795 packaging: validate installed rpms
  Makefile
  contrib/build_rpm.sh
Labels: Packaging, approved, lgtm, ok-to-test, size/M

#4810 Update demo for the inspect command
  commands.md
Labels: approved, lgtm, size/XS

#4712 Add `untag` sub-command
  API.md
  cmd/podman/cliconfig/config.go
  cmd/podman/image.go
  cmd/podman/main.go
  cmd/podman/untag.go
  cmd/podman/varlink/io.podman.varlink
  docs/source/markdown/links/podman-image-untag.1
  docs/source/markdown/podman-image.1.md
  docs/source/markdown/podman-untag.1.md
  docs/source/markdown/podman.1.md
  pkg/adapter/runtime_remote.go
  pkg/varlinkapi/images.go
  test/e2e/untag_test.go
Labels: approved, lgtm, size/L

#4816 Fix golint errors
  libpod/config/config.go
  libpod/config/default.go
  libpod/image/config.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  libpod/runtime.go
  pkg/adapter/runtime.go
  pkg/network/config.go
  pkg/rootless/rootless.go
  pkg/rootless/rootless_linux.go
  pkg/spec/namespaces.go
  pkg/spec/security.go
  pkg/util/utils.go
  pkg/varlinkapi/virtwriter/virtwriter.go
Labels: approved, lgtm, size/L

#4758 Don't show PASS on success for gitvalidate
  Makefile
Labels: approved, lgtm, size/XS

#4802 Fix podman-remote info to show registry data
  API.md
  cmd/podman/varlink/io.podman.varlink
  pkg/adapter/info_remote.go
  pkg/varlinkapi/system.go
  test/e2e/info_test.go
Labels: approved, lgtm, size/M

#4820 Usage messages: show possible option values
  cmd/podman/common.go
  cmd/podman/main_local.go
  completions/zsh/_podman
Labels: approved, lgtm, size/M

#4821 rootlessport: remove state dir on exit + honor ctr.runtime.config.TmpDir
  libpod/networking_linux.go
  pkg/rootlessport/rootlessport_linux.go
Labels: approved, lgtm, size/XS

#4818 exec: fix pipes
  libpod/oci_conmon_linux.go
Labels: Release Notes 1.8.0, approved, lgtm, size/XS

#4819 Update podmanimage build process
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
Labels: approved, lgtm, size/S

#4826 [CI:DOCS]update apiv2 documentation with swagger goods
  Makefile
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/libpod/volumes.go
  pkg/api/handlers/swagger.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
  pkg/api/server/register_pods.go
  pkg/api/server/register_volumes.go
  pkg/api/server/swagger.go
Labels: approved, lgtm, size/XXL

#4828 cp: drop check for rootless
  cmd/podman/cp.go
Labels: approved, lgtm, size/S

#4825 Fix Makefile ref libseccomp branch as a commit
  Makefile
Labels: approved, lgtm, size/XS

#4839 libpod: fix --userns=keep-id with big UIDs
  pkg/util/utils.go
Labels: approved, lgtm, size/S

#4805 log: support --log-opt tag=
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_inspect.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  pkg/spec/createconfig.go
  pkg/spec/parse.go
  test/e2e/libpod_suite_remoteclient_test.go
  test/e2e/logs_test.go
Labels: approved, lgtm, size/L

#4842 [Makefile] Ensure .gopathok dependency is met for varlink
  Makefile
Labels: approved, lgtm, needs-ok-to-test, size/XS

#4823 podman-generate-systemd --new
  cmd/podman/cliconfig/config.go
  cmd/podman/generate_systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/adapter/containers.go
  pkg/systemdgen/systemdgen.go
  pkg/systemdgen/systemdgen_test.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm, size/L

#4841 docs: --privileged docs completeness, consistency
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-exec.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm, needs-ok-to-test, size/M

#4836 Cirrus: Fix libpod base images going stale
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/update_meta.sh
Labels: approved, lgtm, size/M

#4694 Add history names to image inspect data
  docs/source/markdown/podman-inspect.1.md
  libpod/image/image.go
  pkg/inspect/inspect.go
Labels: approved, lgtm, size/L, stale-pr

#4817 Add codespell to validate spelling mistakes in code.
  .cirrus.yml
  API.md
  Makefile
  cmd/podman/containers_prune.go
  cmd/podman/errors_remote.go
  cmd/podman/images_prune.go
  cmd/podman/reset.go
  cmd/podman/shared/intermediate.go
  cmd/podman/shared/intermediate_novarlink.go
  cmd/podman/system_prune.go
  cmd/podman/varlink/io.podman.varlink
  cmd/podman/volume_prune.go
  completions/bash/podman
  contrib/cirrus/README.md
  contrib/spec/podman.spec.in
  dependencies/analyses/README.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/image/image.go
  libpod/kube.go
  libpod/networking_linux.go
  pkg/adapter/containers.go
  pkg/adapter/runtime.go
  pkg/hooks/docs/oci-hooks.5.md
  test/e2e/healthcheck_run_test.go
  test/e2e/mount_test.go
  test/e2e/run_signal_test.go
  test/e2e/save_test.go
  test/endpoint/commit.go
  test/system/TODO.md
  test/test_podman_pods.sh
  test/utils/common_function_test.go
  troubleshooting.md
Labels: approved, lgtm, size/M

#4853 Do not configure CNI when slirp4netns is requested
  libpod/networking_linux.go
Labels: approved, lgtm, size/XS

#4850 Fix linting
  .cirrus.yml
  .golangci.yml
  .tool/lint
  Makefile
  cmd/podman/build.go
  cmd/podman/common_libpod.go
  cmd/podman/cp.go
  cmd/podman/history.go
  cmd/podman/images.go
  cmd/podman/main.go
  cmd/podman/pod_ps.go
  cmd/podman/pod_stats.go
  cmd/podman/rmi.go
  cmd/podman/shared/container.go
  cmd/podman/shared/create.go
  cmd/podman/shared/pod.go
  cmd/podman/stats.go
  cmd/podman/tree.go
  cmd/podman/volume_ls.go
  contrib/perftest/README.md
  contrib/perftest/main.go
  go.mod
  libpod/boltdb_state_internal.go
  libpod/container.go
  libpod/container.log.go
  libpod/container_graph.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/events/events.go
  libpod/healthcheck.go
  libpod/image/image.go
  libpod/kube.go
  libpod/logs/log.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_cstorage.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/runtime_volume_linux.go
  libpod/volume_internal_linux.go
  pkg/adapter/containers.go
  pkg/adapter/runtime.go
  pkg/adapter/shortcuts/shortcuts.go
  pkg/api/handlers/utils/handler.go
  pkg/cgroups/cgroups.go
  pkg/spec/namespaces.go
  pkg/spec/storage.go
  pkg/timetype/timestamp.go
  pkg/util/utils.go
  vendor/github.com/pkg/profile/.travis.yml
  vendor/github.com/pkg/profile/AUTHORS
  vendor/github.com/pkg/profile/LICENSE
  vendor/github.com/pkg/profile/README.md
  vendor/github.com/pkg/profile/go.mod
  vendor/github.com/pkg/profile/profile.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#4845 clarify cont
  cmd/podman/containers_prune.go
  cmd/podman/system_prune.go
  docs/source/markdown/podman-container-prune.1.md
  pkg/adapter/containers.go
  pkg/adapter/containers_remote.go
Labels: approved, lgtm, size/S

#4855 revert accidental change from codespell pr.
  contrib/spec/podman.spec.in
Labels: approved, lgtm, size/XS

#4843 swagger documentation updates
  pkg/api/handlers/generic/config.go
  pkg/api/handlers/generic/containers_create.go
  pkg/api/handlers/generic/swagger.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_events.go
  pkg/api/server/register_images.go
  pkg/api/server/register_info.go
  pkg/api/server/register_pods.go
  pkg/api/server/register_volumes.go
  pkg/api/server/swagger.go
Labels: approved, lgtm, size/XL

#4858 make lint: extend checks
  .gitignore
  .golangci.yml
  Makefile
  cmd/podman/common_test.go
  cmd/podman/remoteclientconfig/configfile_test.go
  docs/varlink/apidoc.go
  libpod/container_internal_test.go
  libpod/image/image_test.go
  libpod/lock/file/file_lock_test.go
  libpod/state_test.go
  pkg/apparmor/apparmor_linux_test.go
  pkg/hooks/1.0.0/when_test.go
  pkg/hooks/exec/exec_test.go
  pkg/hooks/exec/runtimeconfigfilter_test.go
  pkg/network/network_test.go
  pkg/network/subnet_test.go
  pkg/systemdgen/systemdgen_test.go
  pkg/tracing/tracing.go
Labels: approved, lgtm, size/L

#4867 [CI:DOCS]swagger corrections
  pkg/api/handlers/generic/swagger.go
  pkg/api/server/register_images.go
  pkg/api/server/register_pods.go
Labels: approved, lgtm, size/M

#4806 policy for seccomp-profile selection
  cmd/podman/common.go
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/spec/config_linux_cgo.go
  pkg/spec/createconfig.go
  test/e2e/config.go
  test/e2e/run_seccomp.go
Labels: approved, lgtm, size/L

#4859 oci_conmon: not make accessible dirs if not needed
  libpod/oci_conmon_linux.go
Labels: approved, lgtm, size/S

#4872 v2 api: stats improvements
  pkg/api/handlers/generic/containers_stats.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/register_containers.go
Labels: approved, lgtm, size/L

#4870 Gating dockerfile
  Makefile
  contrib/gate/Dockerfile
  hack/install_golangci.sh
Labels: approved, lgtm, size/S

#4874 [CI:DOCS]swagger cleanup and left-hand nav
  .cirrus.yml
  pkg/api/Makefile
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/swagger.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
  pkg/api/server/swagger.go
  pkg/api/tags.yaml
  pkg/bindings/connection.go
  pkg/bindings/containers.go
  pkg/bindings/errors.go
  pkg/bindings/images.go
  pkg/bindings/pods.go
  pkg/bindings/volumes.go
Labels: approved, lgtm, size/XL

#4824 more BATS tests
  test/system/030-run.bats
  test/system/070-build.bats
  test/system/075-exec.bats
  test/system/140-diff.bats
  test/system/410-selinux.bats
  test/system/helpers.bash
Labels: approved, lgtm, size/L

#4860 v2 api: top improvements
  libpod/container_top_linux.go
  pkg/adapter/containers.go
  pkg/api/handlers/containers_top.go
  pkg/api/handlers/generic/containers_stats.go
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/register_containers.go
Labels: approved, lgtm, size/L

#4807 Enable pre-commit linting
  .pre-commit-config.yaml
  API.md
  Makefile
  contrib/gate/Dockerfile
  contrib/snapcraft/.editorconfig
  docs/source/Commands.rst
  docs/source/network.rst
  docs/source/volume.rst
  test/install/.gitignore
  test/install/README.md
  test/trust_set_test.json
Labels: approved, lgtm, size/M

#4882 Cirrus: remove workaround for cleaning /go/bin
  .cirrus.yml
Labels: approved, lgtm, size/XS

#4881 v2: don't block sigterm and add the service to `make binaries`
  Makefile
  pkg/api/server/server.go
Labels: approved, lgtm, size/M

#4869 Remove c.String(net)
  API.md
  cmd/podman/common.go
  cmd/podman/create.go
  cmd/podman/run.go
  cmd/podman/shared/create.go
  cmd/podman/shared/intermediate.go
  cmd/podman/shared/intermediate_varlink.go
  cmd/podman/utils.go
  cmd/podman/varlink/io.podman.varlink
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm, size/M

#4884 systemdgen: add --ignore flag to generic services
  pkg/systemdgen/systemdgen.go
  pkg/systemdgen/systemdgen_test.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm, size/S

#4887 e2e/run_signal_test.go: make it more robust
  test/e2e/run_signal_test.go
Labels: approved, lgtm, size/XS

#4879 hack/install_golangci.sh: check env vars
  hack/install_golangci.sh
Labels: approved, lgtm, size/S

#4837 Add an API for Attach over HTTP API
  go.mod
  go.sum
  libpod/container_api.go
  libpod/oci.go
  libpod/oci_conmon_linux.go
  libpod/oci_missing.go
  libpod/util.go
  pkg/api/handlers/containers_attach.go
  pkg/api/server/register_containers.go
  vendor/github.com/containers/conmon/LICENSE
  vendor/github.com/containers/conmon/runner/config/config.go
  vendor/github.com/containers/conmon/runner/config/config_unix.go
  vendor/github.com/containers/conmon/runner/config/config_windows.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#4873 update install instructions for Debian, Raspbian and Ubuntu
  install.md
Labels: approved, lgtm, size/L

#4721 Update `tag` documentation regarding 'alias' usage
  cmd/podman/tag.go
  docs/source/markdown/podman-tag.1.md
Labels: approved, lgtm, size/S, stale-pr

#4892 Minor: Bugfix in upload image
  contrib/upldrel/entrypoint.sh
Labels: approved, lgtm, size/XS

#4895 [CI:DOCS] Post-process swagger yaml and publish
  .cirrus.yml
  Makefile
  contrib/cirrus/build_swagger.sh
  contrib/cirrus/upload_release_archive.sh
  pkg/api/Makefile
  pkg/api/server/register_containers.go
Labels: approved, lgtm, size/M

#4896 [CI:DOCS]Connect API docs and RTD
  contrib/cirrus/upload_release_archive.sh
  docs/source/Reference.rst
  docs/source/_static/api.html
Labels: approved, lgtm, size/M

#4897 [CI:DOCS] Correct link syntax
  docs/source/Reference.rst
Labels: approved, lgtm, size/XS

#4898 [CI:DOCS]static files end up in _static on rtd
  docs/source/Reference.rst
Labels: approved, lgtm, size/XS

#4923 [CI:DOCS] Cirrus: No upload snap for docs job
  .cirrus.yml
Labels: approved, lgtm, size/S

#4915 [CI:DOCS]First pass at review comments
  pkg/api/handlers/images.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/swagger.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
  pkg/api/server/register_pods.go
Labels: approved, lgtm, size/M

#4925 [CI:DOCS] Cirrus: Fix logic typo
  .cirrus.yml
Labels: approved, lgtm, size/XS

#4899 Apiv2service
  .cirrus.yml
  Makefile
  cmd/podman/cliconfig/config.go
  cmd/podman/commands.go
  cmd/podman/service.go
  cmd/podman/service_dummy.go
  cmd/podman/varlink.go
  cmd/service/main.go
  commands.md
  completions/bash/podman
  docs/source/markdown/podman-service.1.md
  docs/source/markdown/podman.1.md
  pkg/adapter/client.go
  pkg/adapter/client_config.go
  pkg/api/server/listener_api.go
  pkg/api/server/server.go
  pkg/bindings/containers.go
Labels: approved, lgtm, size/L

#4911 rootless: set C variables also on shortcut
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/XS

#4931 markdown: remove extraneous backquote from "podman rmi"
  docs/source/markdown/podman-rmi.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#4928 Update RELEASE_NOTES for v1.7.1
  RELEASE_NOTES.md
Labels: approved, lgtm, size/S

#4912 [CI:DOCS] Update build images
  pkg/api/Makefile
  pkg/api/handlers/handler.go
  pkg/api/handlers/images_build.go
  pkg/api/server/register_images.go
  pkg/api/server/server.go
Labels: approved, lgtm, size/L

#4934 markdown: fix formatting of commands at bottom of podman-exec
  docs/source/markdown/podman-exec.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#4930 Update release script to not manage epoch
  hack/release.sh
Labels: approved, lgtm, size/S

#4932 correct search-and-replace error
  install.md
Labels: approved, documentation, lgtm, size/XS

#4929 markdown: remove erroneous spaces after '**'
  docs/source/markdown/podman-system-migrate.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#4920 Use cgroupv2 super magic from golang.org/x/sys/unix
  pkg/cgroups/cgroups.go
  pkg/cgroups/cgroups_supported.go
Labels: approved, lgtm, size/XS

#4936 [CI:DOCS] Enable swagger validation for each PR
  pkg/api/Makefile
  pkg/api/handlers/swagger.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/docs.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_distribution.go
  pkg/api/server/register_events.go
  pkg/api/server/register_healthcheck.go
  pkg/api/server/register_images.go
  pkg/api/server/register_info.go
  pkg/api/server/register_pods.go
  pkg/api/server/register_volumes.go
  pkg/api/server/server.go
  pkg/api/server/swagger.go
Labels: approved, lgtm, size/XXL

#4938 Update README.md to reference latest version
  README.md
Labels: approved, lgtm, size/XS

#4948 seccomp policy: expect profile in config label
  cmd/podman/shared/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  test/e2e/config.go
Labels: approved, lgtm, size/S

#4953 Review corrections pass #2
  libpod/runtime_ctr.go
  pkg/api/handlers/containers.go
  pkg/api/handlers/generic/containers.go
  pkg/api/handlers/generic/containers_create.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/swagger.go
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/containers.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/register_containers.go
  pkg/api/server/swagger.go
  pkg/bindings/bindings.go
Labels: approved, lgtm, size/L

#4958 [CI:DOCS] Add query parameter converters for complex types
  pkg/api/handlers/decoder.go
  pkg/api/handlers/events.go
  pkg/api/handlers/generic/images.go
  pkg/api/handlers/handler.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/utils/images.go
  pkg/api/server/server.go
Labels: approved, lgtm, size/L

#4966 [CI:DOCS] Refactor time parsing to be more liberal in accepted values
  pkg/api/handlers/decoder.go
Labels: approved, lgtm, size/M

#4968 fork fatih/camelcase
  cmd/podman/common.go
  go.mod
  pkg/util/camelcase/LICENSE.md
  pkg/util/camelcase/README.md
  pkg/util/camelcase/camelcase.go
  vendor/github.com/fatih/camelcase/.travis.yml
  vendor/modules.txt
Labels: approved, lgtm, size/S

#4952 Default CPUShares in Inspect are 1024
  libpod/container_inspect.go
Labels: approved, lgtm, size/XS

#4965 APIv2 review corrections #3
  cmd/podman/shared/pod.go
  libpod/define/podstate.go
  libpod/pod_status.go
  libpod/runtime_pod.go
  pkg/adapter/pods.go
  pkg/adapter/pods_remote.go
  pkg/api/handlers/containers_create.go
  pkg/api/handlers/generic/config.go
  pkg/api/handlers/generic/images.go
  pkg/api/handlers/generic/swagger.go
  pkg/api/handlers/images.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/images.go
  pkg/api/server/docs.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
  pkg/api/server/register_pods.go
Labels: approved, lgtm, size/XL

#4926 Fix example format in system df man
  docs/source/markdown/podman-system-df.1.md
Labels: approved, lgtm, size/XS

#4933 markdown: reword 'podman-inspect' to properly explain '--size'
  docs/source/markdown/podman-inspect.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#4975 install.md: mention availability of OpenEmbedded recipes
  install.md
Labels: approved, lgtm, ok-to-test, size/S

#4977 docs: clean up "man podman-rm", "man podman-rmi"
  docs/source/markdown/podman-rm.1.md
  docs/source/markdown/podman-rmi.1.md
Labels: approved, lgtm, ok-to-test, size/M

#4979 docs: fix system-prune markdown; reword for clarity
  docs/source/markdown/podman-system-prune.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#4985 Hidden remote flags can be nil
  cmd/podman/push.go
Labels: approved, lgtm, size/XS

#4983 docs: add boolean values and defaults to "man podman-history" options
  docs/source/markdown/podman-history.1.md
Labels: approved, lgtm, ok-to-test, size/S

#4982 docs: remove reference to "sudo" in "podman exists" examples
  docs/source/markdown/podman-container-exists.1.md
  docs/source/markdown/podman-image-exists.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#4894 Tests for API v2
  test/apiv2/00-TEMPLATE
  test/apiv2/01-basic.at
  test/apiv2/10-images.at
  test/apiv2/20-containers.at
  test/apiv2/30-volumes.at
  test/apiv2/40-pods.at
  test/apiv2/README.md
  test/apiv2/test-apiv2
Labels: approved, lgtm, size/XL

#4991 [CI:DOCS]Add copr link to fedora install page
  install.md
Labels: approved, lgtm, size/XS

#4992 Add link from docker.sock to podman.sock
  Makefile
  contrib/systemd/system/podman-docker.conf
Labels: approved, lgtm, size/XS

#4986 inspect image healthchecks
  libpod/image/image.go
  pkg/inspect/inspect.go
  test/e2e/inspect_test.go
Labels: approved, lgtm, size/M

#4974 Cleanup man pages exit code descriptions
  docs/source/markdown/podman-exec.1.md
  docs/source/markdown/podman-remote.1.md
  docs/source/markdown/podman-rm.1.md
  docs/source/markdown/podman-rmi.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman.1.md
Labels: approved, lgtm, size/M

#4995 docs: add missing hyphen for '-t' option, command '$' prompts
  docs/source/markdown/podman-stop.1.md
Labels: approved, lgtm, ok-to-test, size/S

#4996 [CI:DOCS]rootless exec cannot join root namespace
  rootless.md
Labels: approved, lgtm, size/XS

#4999 docs: fix incomplete heading underlining in network.rst
  docs/source/network.rst
Labels: approved, lgtm, ok-to-test, size/XS

#4980 [CI:DOCS]Binding overhauls
  Makefile
  pkg/api/handlers/generic/ping.go
  pkg/api/handlers/utils/errors.go
  pkg/api/handlers/version.go
  pkg/api/server/register_images.go
  pkg/api/server/register_version.go
  pkg/bindings/connection.go
  pkg/bindings/containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/healthcheck.go
  pkg/bindings/containers/mount.go
  pkg/bindings/errors.go
  pkg/bindings/generate.go
  pkg/bindings/generate/generate.go
  pkg/bindings/healthcheck.go
  pkg/bindings/images.go
  pkg/bindings/images/images.go
  pkg/bindings/images/search.go
  pkg/bindings/mount.go
  pkg/bindings/network.go
  pkg/bindings/network/network.go
  pkg/bindings/play.go
  pkg/bindings/play/play.go
  pkg/bindings/pods.go
  pkg/bindings/pods/pods.go
  pkg/bindings/search.go
  pkg/bindings/test/common_test.go
  pkg/bindings/test/images_test.go
  pkg/bindings/volumes.go
  pkg/bindings/volumes/volumes.go
Labels: approved, lgtm, size/XXL

#5003 install.md: registries.conf setup in containers-image package
  install.md
Labels: approved, documentation, lgtm, size/S

#4964 apparmor: allow receiving of signals from 'podman kill'
  pkg/apparmor/apparmor_linux_template.go
Labels: approved, lgtm, size/XS

#5005 docs: replace '~' with $HOME in markdown as '~' isn't rendered properly
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-remote.1.md
  docs/source/markdown/podman.1.md
Labels: approved, lgtm, ok-to-test, size/S

#4984 expose --arch-override option for pull
  cmd/podman/pull.go
  docs/source/markdown/podman-pull.1.md
Labels: approved, lgtm, size/S

#4993 honor pull policy in play kube
  libpod/image/config.go
  libpod/image/parts.go
  pkg/adapter/pods.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm, size/L

#4997 Update remote client bridge documentation.
  docs/tutorials/remote_client.md
Labels: approved, lgtm, size/M

#5007 rootless login/logout tests fail
  test/e2e/login_logout_test.go
Labels: approved, lgtm, size/XS

#4973 Throw error on invalid sort value
  cmd/podman/images.go
  test/e2e/images_test.go
Labels: approved, lgtm, size/M

#5008 display file name of bad cni conf
  pkg/network/files.go
Labels: approved, lgtm, size/XS

#5011 run `varlink_generate` on Linux only
  Makefile
Labels: approved, lgtm, size/XS

#5013 history: fix size computing
  libpod/image/image.go
Labels: approved, lgtm, size/XS

#5015 apiv2 binding test fixes
  pkg/bindings/connection.go
  pkg/bindings/test/common_test.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/test_suite_test.go
Labels: approved, lgtm, size/M

#5018 Deprecate & remove IsCtrSpecific in favor of IsAnon
  libpod/container_commit.go
  libpod/options.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/volume.go
  libpod/volume_inspect.go
Labels: approved, lgtm, size/M

#5019 Cirrus: Set EPOCH_TEST_COMMIT during gate task
  .cirrus.yml
Labels: approved, lgtm, size/XS

#4951 markdown: fix grammar/formatting, standardize on markdown
  docs/source/markdown/podman-unshare.1.md
Labels: approved, lgtm, ok-to-test, size/S

#5017 Makefile cleanups
  Makefile
  go.mod
  go.sum
Labels: approved, lgtm, size/L

#5025 Feature/ubuntu doc adjustment
  install.md
Labels: approved, lgtm, ok-to-test, size/XS

#5031 compat container names begin with /
  pkg/api/handlers/types.go
Labels: approved, lgtm, size/XS

#5024 markdown: fix erroneous asterisk markup for options
  docs/source/markdown/podman-login.1.md
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman-system-df.1.md
  docs/source/markdown/podman.1.md
Labels: approved, lgtm, ok-to-test, size/XS

#5022 Assure validate includes lint
  Makefile
  contrib/systemd/README.md
  install.md
  pkg/api/Makefile
Labels: approved, lgtm, ok-to-test, size/S

#5020 Bindingtestrootless
  pkg/bindings/test/common_test.go
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm, size/XS

#5028 make image reference for commit optional
  cmd/podman/commit.go
  docs/source/markdown/podman-commit.1.md
Labels: approved, lgtm, size/S

#5032 Update release notes for v1.8.0
  RELEASE_NOTES.md
Labels: approved, lgtm, size/S

#5037 [CI:DOCS] Minor update to release notes
  RELEASE_NOTES.md
Labels: approved, lgtm, size/XS

#5030 fix longname handling for bindings
  cmd/podman/service.go
  pkg/api/handlers/containers.go
  pkg/api/handlers/containers_attach.go
  pkg/api/handlers/containers_top.go
  pkg/api/handlers/generic/containers.go
  pkg/api/handlers/generic/containers_stats.go
  pkg/api/handlers/generic/images.go
  pkg/api/handlers/handler.go
  pkg/api/handlers/images.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/healthcheck.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/libpod/volumes.go
  pkg/api/handlers/utils/containers.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/server.go
  pkg/bindings/connection.go
  pkg/bindings/test/images_test.go
Labels: approved, lgtm, size/L

#5036 sigproxy: return after closing the channel
  pkg/adapter/sigproxy_linux.go
Labels: approved, lgtm, size/XS

#5038 [CI:DOCS] Fix a syntax error in hack/release.sh
  hack/release.sh
Labels: approved, lgtm, size/XS

#5041 Bump to v1.8.0-rc1
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm, size/L
