Repository containers/podman, pull requests merged in 2020-10, with the labels that each got.

#7823 image look up: consult registries.conf
  libpod/image/image.go
  pkg/registries/registries.go
  test/e2e/pull_test.go
  test/registries.conf
Labels: approved, lgtm

#7858 Support --http-proxy for remote builds
  pkg/api/handlers/compat/images_build.go
  pkg/api/server/register_images.go
  pkg/bindings/images/build.go
Labels: approved, kind/bug, lgtm

#7848 Fix two e2e tests
  test/e2e/common_test.go
  test/e2e/exec_test.go
  test/e2e/systemd_test.go
Labels: approved, lgtm

#7851 [apiv2] don't ignore the ENV and WorkDir from the image
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#7835 Fix some flakes in the e2e network tests.
  test/e2e/network_test.go
Labels: approved, lgtm

#7735 fix allowing inspect manifest of non-local image
  pkg/api/handlers/libpod/manifests.go
  pkg/domain/infra/abi/manifest.go
  test/e2e/manifest_test.go
Labels: approved, lgtm

#7849 misc fixes for f33 integration tests
  test/e2e/run_security_labels.go
  test/e2e/run_test.go
Labels: approved, lgtm

#7868 [CI:DOCS] Update rootless_tutorial.md
  docs/tutorials/rootless_tutorial.md
Labels: approved, documentation, lgtm

#7874 Podman containers/pods prune should throw an error if user adds args
  cmd/podman/containers/prune.go
  cmd/podman/pods/prune.go
Labels: approved, lgtm

#7871 Add additionalGIDs from users in rootless mode
  libpod/container_internal_linux.go
Labels: approved, lgtm

#7869 system test: untag all test
  test/system/020-tag.bats
Labels: approved, lgtm

#7877 fix compat api privileged and entrypoint code
  pkg/spec/config_linux.go
  pkg/spec/spec.go
Labels: approved, lgtm

#7711 Migrate container images to automation_images
  .cirrus.yml
  contrib/imgprune/Dockerfile
  contrib/imgprune/README.md
  contrib/imgprune/entrypoint.sh
  contrib/imgts/Dockerfile
  contrib/imgts/README.md
  contrib/imgts/entrypoint.sh
  contrib/imgts/google-cloud-sdk.repo
  contrib/imgts/lib_entrypoint.sh
  contrib/upldrel/Dockerfile
  contrib/upldrel/README.md
  contrib/upldrel/entrypoint.sh
Labels: approved, lgtm

#7622 Fix for incorrect evaluation of error condition within libpod.LabelVolumePath.
  libpod/util_linux.go
  libpod/util_linux_test.go
Labels: approved, lgtm

#7867 remote: fix name and ID collisions of containers and pods
  pkg/domain/infra/tunnel/helpers.go
Labels: approved, lgtm

#7456 spec: modprobe fuse with --device .*/fuse
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/generate/config_linux.go
Labels: approved, lgtm

#7892 [2.1] rootless: fix hang when newidmap is not installed
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm

#7881 Correct to latest version
  README.md
Labels: approved, lgtm

#7873 logformatter: add Synopsis at top of each page
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
  test/system/500-networking.bats
Labels: approved, lgtm

#7887 image prune: remove all candidates
  libpod/image/prune.go
  pkg/domain/infra/abi/images.go
Labels: approved, lgtm

#7897 [2.1] Gating-test fix: deal with new crun error msg
  test/system/030-run.bats
Labels: approved, lgtm

#7893 Fix Podman logs reading journald
  libpod/container_log_linux.go
  test/e2e/logs_test.go
  test/system/035-logs.bats
Labels: approved, lgtm

#7895 [podman run] --rm option shold conflicts with --restart
  cmd/podman/common/createparse.go
  cmd/podman/common/specgen.go
  completions/bash/podman
  test/e2e/run_test.go
Labels: approved, lgtm

#7882 libpod: check there are enough gids before adding them
  libpod/container_internal_linux.go
  pkg/rootless/rootless.go
  pkg/specgen/generate/oci.go
Labels: approved, lgtm

#7199 Restore "table" --format from V1
  cmd/podman/containers/diff.go
  cmd/podman/images/list.go
  cmd/podman/parse/json.go
  cmd/podman/parse/json_test.go
  cmd/podman/report/format.go
  cmd/podman/report/format_test.go
  test/e2e/info_test.go
  test/e2e/version_test.go
Labels: approved, kind/feature, lgtm

#7901 compat: images/create: fix tag parsing
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#7856 podman-remote does not support most of the global flags
  cmd/podman/root.go
  docs/source/markdown/podman.1.md
  test/system/001-basic.bats
Labels: approved, lgtm

#7898 [2.1] capabilities: always set ambient and inheritable
  pkg/specgen/generate/security.go
  test/e2e/cp_test.go
  test/system/030-run.bats
  test/system/075-exec.bats
Labels: approved, lgtm

#7899 [podman-remote] Fix closed connection on pull causes service panic
  pkg/channel/writer.go
Labels: approved, lgtm

#7902 Add SELinux support for pods
  libpod/pod.go
  pkg/specgen/generate/container_create.go
  test/e2e/run_selinux_test.go
Labels: Backport to v2.1, approved, lgtm

#7915 [2.1] Ignore containers.conf sysctl when namespaces set to host
  cmd/podman/common/create.go
  pkg/specgen/generate/security.go
  test/e2e/containers_conf_test.go
  test/e2e/run_test.go
Labels: approved, lgtm

#7909 Fix podman-remote ps --ns broken
  cmd/podman/containers/ps.go
  pkg/bindings/containers/containers.go
  pkg/bindings/test/containers_test.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/helpers.go
  pkg/ps/ps.go
  test/e2e/pod_infra_container_test.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#7913 Add support for resource memory limit to generate kube
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#6784 Cirrus: Make efficient and performant
  .cirrus.yml
  .golangci.yml
  Makefile
  contrib/cirrus/README.md
  contrib/cirrus/add_second_partition.sh
  contrib/cirrus/apiv2_test.sh
  contrib/cirrus/build_release.sh
  contrib/cirrus/build_swagger.sh
  contrib/cirrus/cirrus_yaml_test.py
  contrib/cirrus/container_test.sh
  contrib/cirrus/ext_svc_check.sh
  contrib/cirrus/integration_test.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/lib.sh.t
  contrib/cirrus/logcollector.sh
  contrib/cirrus/networking.sh
  contrib/cirrus/ooe.sh
  contrib/cirrus/rootless_test.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_container_environment.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/shellcheck.sh
  contrib/cirrus/system_test.sh
  contrib/cirrus/unit_test.sh
  contrib/cirrus/update_meta.sh
  contrib/cirrus/upload_release_archive.sh
Labels: approved, do-not-merge/hold, lgtm

#7920 Cirrus: Fix branch-validation failure
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#7921 [v2.1] compat: images/create: fix tag parsing
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#7904 Fixes remote attach and exec to signal IdleTracker
  pkg/api/handlers/compat/containers_attach.go
  pkg/api/handlers/compat/exec.go
  pkg/api/server/idle/tracker.go
  pkg/api/server/server.go
Labels: approved, kind/bug, lgtm

#7919 Fix handling of CheckRootlessUIDRange
  pkg/util/utils_linux.go
Labels: approved, lgtm

#7924 logformatter: run on system tests & bindings
  contrib/cirrus/logformatter
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#7926 Cirrus: Skip deep testing on branches
  .cirrus.yml
Labels: approved, lgtm

#7931 Support max_size logoptions
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_config.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/logs_test.go
Labels: approved, lgtm

#7918 [apiv2] /containers/$name/json return wrong value in `.Config.StopSignal`
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#7940 Cirrus CI runner: refactor
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#7845 Attempt to turn on some more remote tests
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  cmd/podman/images/search.go
  docs/source/markdown/podman-search.1.md
  test/e2e/build_test.go
  test/e2e/exec_test.go
  test/e2e/images_test.go
  test/e2e/load_test.go
  test/e2e/logs_test.go
  test/e2e/namespace_test.go
  test/e2e/network_create_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/pod_pod_namespaces.go
  test/e2e/prune_test.go
  test/e2e/pull_test.go
  test/e2e/rmi_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_env_test.go
  test/e2e/run_restart_test.go
  test/e2e/run_test.go
  test/e2e/run_working_dir.go
  test/e2e/search_test.go
  test/e2e/system_df_test.go
  test/system/070-build.bats
Labels: approved, lgtm

#7937 Populate /etc/hosts file when run in a user namespace
  libpod/container_internal.go
  libpod/container_internal_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#7943 prevent unpredictable results with network create|remove
  cmd/podman/networks/create.go
  cmd/podman/networks/list.go
  libpod/network/config.go
  libpod/network/create.go
  libpod/network/devices.go
  libpod/network/files.go
  libpod/network/ip.go
  libpod/network/lock.go
  libpod/network/netconflist.go
  libpod/network/netconflist_test.go
  libpod/network/network.go
  libpod/network/network_test.go
  libpod/network/subnet.go
  libpod/network/subnet_test.go
  pkg/api/handlers/compat/networks.go
  pkg/domain/infra/abi/network.go
  test/e2e/network_create_test.go
Labels: approved, lgtm

#7382 Move pod jobs to parallel execution
  libpod/pod_api.go
  pkg/api/handlers/libpod/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/pods.go
  pkg/parallel/ctr/ctr.go
  pkg/parallel/parallel.go
  pkg/varlinkapi/pods.go
  test/e2e/common_test.go
Labels: approved, lgtm

#7932 Restore V1 --format "table..." support
  cmd/podman/containers/mount.go
  cmd/podman/images/history.go
  cmd/podman/images/mount.go
  cmd/podman/images/search.go
  test/e2e/search_test.go
  test/system/060-mount.bats
Labels: approved, kind/bug, lgtm

#7951 Ports given only by number should have random host port
  cmd/podman/common/util.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#7960 Restore --format 'table...' to commands
  cmd/podman/inspect/inspect.go
  cmd/podman/pods/inspect.go
Labels: approved, kind/bug, lgtm

#7952 APIv2 compatibility rootless network fix
  pkg/api/handlers/compat/containers_create.go
Labels: approved, lgtm

#7936 add prerequisite section before building binaries
  CONTRIBUTING.md
Labels: approved, lgtm

#7970 Store cgroup manager on a per-container basis
  libpod/container.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/oci_conmon_linux.go
  libpod/runtime_ctr.go
Labels: approved, lgtm

#7966 add compatibility endpoint for exporting multiple images
  pkg/api/handlers/compat/images.go
  pkg/api/server/register_images.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#7969 --format updates for images/diff.go
  cmd/podman/images/diff.go
Labels: approved, kind/bug, lgtm

#7971 BlobInfoCacheDir is set incorrectly when copying images
  libpod/image/docker_registry_options.go
Labels: approved, lgtm

#7910 Enable k8s configmaps as flags for play kube
  cmd/podman/play/kube.go
  docs/source/markdown/podman-play-kube.1.md
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/abi/play_test.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#7961 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#7974 Add support for resource cpu limit to generate kube
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#7944 Cirrus: Fix obtaining a CI VM
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  contrib/cirrus/shellcheck.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm

#7891 This PR allows users to remove external containers directly
  cmd/podman/containers/rm.go
  docs/source/markdown/podman-rm.1.md
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  test/apiv2/20-containers.at
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/rm_test.go
  test/e2e/run_test.go
  test/system/055-rm.bats
Labels: approved, lgtm

#7973 Port V1 --format table to V2 podman
  cmd/podman/containers/ps.go
  cmd/podman/volumes/list.go
  test/e2e/ps_test.go
  test/e2e/volume_ls_test.go
Labels: approved, kind/bug, lgtm

#7975 Restore --format table...
  cmd/podman/generate/systemd.go
  cmd/podman/networks/inspect.go
  cmd/podman/pods/ps.go
  cmd/podman/pods/stats.go
  test/e2e/pod_ps_test.go
  test/e2e/pod_stats_test.go
Labels: approved, kind/bug, lgtm

#7968 Print the correct underlying cause for OCI errors
  cmd/podman/root.go
  cmd/podman/root_test.go
Labels: approved, lgtm

#7986 Monitor for client closing stream
  pkg/api/handlers/compat/events.go
Labels: approved, kind/bug, lgtm

#7977 [CI:DOCS] Fix documentation link and typo
  docs/source/Introduction.rst
Labels: approved, lgtm

#7690 Add more APIv2 tests for images.
  test/apiv2/12-imagesMore.at
Labels: approved, lgtm

#7949 system tests: cleanup, and add more tests
  test/system/010-images.bats
  test/system/060-mount.bats
  test/system/130-kill.bats
  test/system/410-selinux.bats
  test/system/helpers.bash
Labels: approved, lgtm

#7984 pkg/spec: fix a confusing error message
  pkg/spec/config_linux_cgo.go
Labels: approved, lgtm

#7980 Resolve #7860 - add time.RFC3339 format
  pkg/api/handlers/compat/containers.go
Labels: approved, lgtm

#7836 Search repository tags using --list-tags
  cmd/podman/images/search.go
  completions/bash/podman
  docs/source/markdown/podman-search.1.md
  libpod/image/search.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  test/e2e/search_test.go
Labels: approved, lgtm

#7983 Include CNI networks in inspect output when not running
  libpod/networking_linux.go
  test/e2e/network_test.go
Labels: approved, lgtm

#7588 tests/e2e: Add Toolbox-specific test cases
  test/e2e/config.go
  test/e2e/toolbox_test.go
Labels: approved, lgtm, ok-to-test

#7853 Add support for resource limits to play kube
  pkg/domain/infra/abi/play.go
  test/e2e/common_test.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#7994 APIv2 tests: get them passing again
  test/apiv2/10-images.at
  test/apiv2/12-imagesMore.at
  test/apiv2/20-containers.at
  test/apiv2/40-pods.at
  test/apiv2/test-apiv2
Labels: approved, lgtm

#7996 System tests: run with local podman, not remote
  .cirrus.yml
Labels: approved, lgtm

#7995 [CI:DOCS] Remove a note that the HTTP API is not yet stable.
  README.md
Labels: approved, lgtm

#8000 APIv2 tests: try again to fix them
  test/apiv2/01-basic.at
  test/apiv2/35-networks.at
  test/apiv2/test-apiv2
Labels: approved, lgtm

#8007 Restore --format: container stats & pod ps
  cmd/podman/containers/stats.go
  cmd/podman/pods/ps.go
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman-stats.1.md
Labels: approved, lgtm

#7998 [CI:DOCS] Cirrus: Ability to skip most tests for docs updates
  .cirrus.yml
Labels: approved, lgtm

#7967 Cirrus: Restore APIv2 Testing
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm

#8009 alter compat no such image message
  pkg/api/handlers/compat/images.go
Labels: approved, lgtm

#8011 Restore indent on JSON from `podman inspect`
  cmd/podman/inspect/inspect.go
Labels: approved, lgtm

#7987 Restore --format table support
  cmd/podman/containers/ps.go
  cmd/podman/parse/json.go
  cmd/podman/parse/json_test.go
  cmd/podman/system/df.go
  cmd/podman/system/events.go
  cmd/podman/system/info.go
  cmd/podman/system/version.go
  cmd/podman/volumes/inspect.go
  pkg/api/handlers/compat/events.go
  test/e2e/build_test.go
  test/e2e/events_test.go
  vendor/github.com/containers/buildah/pkg/formats/formats.go
  vendor/github.com/containers/buildah/pkg/formats/templates.go
  vendor/modules.txt
Labels: approved, kind/bug, lgtm

#8018 Cirrus: Execute docker-py tests on a VM
  .cirrus.yml
Labels: approved, lgtm

#8021 Fix indentation for `podman pod inspect`
  cmd/podman/pods/inspect.go
Labels: approved, lgtm

#8013 Setup HOME environment when using --userns=keep-id
  libpod/container_internal_linux.go
  test/e2e/toolbox_test.go
Labels: approved, lgtm

#8030 Fix possible panic in libpod container restore
  libpod/container_internal_linux.go
Labels: approved, lgtm

#8035 Fix podman-run man page heading
  docs/source/markdown/podman-run.1.md
Labels: approved, do-not-merge/hold, lgtm

#8029 Fix podman image trust show --raw output
  cmd/podman/images/trust_show.go
  test/e2e/trust_test.go
Labels: approved, lgtm

#8039 Fix panic when runlabel is missing
  pkg/domain/infra/abi/containers_runlabel.go
  test/e2e/runlabel_test.go
Labels: approved, lgtm

#8036 [CI:DOCS] Make man page headings more consistent
  docs/source/markdown/podman-container-exists.1.md
  docs/source/markdown/podman-container-prune.1.md
  docs/source/markdown/podman-container-runlabel.1.md
  docs/source/markdown/podman-generate-kube.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-image-exists.1.md
  docs/source/markdown/podman-image-prune.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-exists.1.md
  docs/source/markdown/podman-restart.1.md
Labels: approved, lgtm

#8045 Update podman-remote run and start to handle detach keys
  pkg/bindings/containers/attach.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#8044 Always add the dnsname plugin to the config for rootless
  libpod/network/create.go
Labels: approved, lgtm

#7908 fix podman container exists and diff for storage containers
  cmd/podman/containers/exists.go
  cmd/podman/containers/ps.go
  cmd/podman/diff.go
  cmd/podman/utils/alias.go
  completions/bash/podman
  docs/source/markdown/podman-container-exists.1.md
  docs/source/markdown/podman-ps.1.md
  libpod/diff.go
  libpod/runtime_cstorage.go
  pkg/api/handlers/libpod/containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/test/containers_test.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/030-run.bats
  test/system/140-diff.bats
Labels: approved, lgtm

#7710 Cirrus: Fix decrypt failure
  .cirrus.yml
Labels: approved, lgtm

#8056 Make invalid image name error more specific
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#8061 System tests: remove some misleading 'run's
  test/system/030-run.bats
  test/system/055-rm.bats
  test/system/140-diff.bats
  test/system/helpers.bash
Labels: approved, lgtm

#8069 fix: neutral value for MemorySwappiness
  pkg/api/handlers/compat/containers_create.go
Labels: approved, lgtm

#7999 Add a shutdown signal handler
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/shutdown/handler.go
  pkg/api/server/server.go
  pkg/domain/infra/abi/terminal/sigproxy_linux.go
Labels: approved, lgtm

#7126 Fix missing OCI Runtime
  contrib/cirrus/setup_environment.sh
  libpod/boltdb_state_internal.go
  libpod/runtime.go
  test/e2e/common_test.go
  test/endpoint/setup.go
  test/system/030-run.bats
  test/system/helpers.bash
Labels: approved, lgtm, stale-pr

#8067 Ensure that hostname is added to hosts with net=host
  libpod/container_internal_linux.go
  pkg/specgen/generate/namespaces.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#8042 --tls-verify and --authfile should work for all remote commands
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  cmd/podman/images/pull.go
  cmd/podman/images/push.go
  cmd/podman/manifest/add.go
  cmd/podman/manifest/push.go
  cmd/podman/play/kube.go
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-container-runlabel.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-login.1.md
  docs/source/markdown/podman-logout.1.md
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
  docs/source/markdown/podman-run.1.md
  pkg/api/handlers/compat/images_search.go
  pkg/api/handlers/libpod/images.go
  test/e2e/common_test.go
  test/e2e/search_test.go
Labels: approved, lgtm

#8075 Retrieve network inspect info from dependency container
  libpod/networking_linux.go
  test/e2e/pod_create_test.go
Labels: approved, lgtm

#8022 refactor api compatibility container creation to specgen
  cmd/podman/common/create_opts.go
  pkg/api/handlers/compat/containers_create.go
  pkg/specgen/generate/oci.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#8065 Tests: Fix common flakes, and improve apiv2 test log
  test/apiv2/01-basic.at
  test/apiv2/test-apiv2
  test/e2e/toolbox_test.go
  test/system/260-sdnotify.bats
Labels: approved, lgtm

#7948 Fix ps port output
  cmd/podman/containers/ps.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#8092 Podman build should default to not usins stdin
  cmd/podman/images/build.go
Labels: approved, lgtm

#8093 Fix handling and documentation of podman wait --interval
  cmd/podman/containers/wait.go
  docs/source/markdown/podman-wait.1.md
  test/e2e/wait_test.go
Labels: approved, lgtm

#8083 Add EOL to compat container logs
  pkg/api/handlers/compat/containers_logs.go
Labels: approved, lgtm

#8077 Refactor podman to use c/common/pkg/report
  cmd/podman/common/diffChanges.go
  cmd/podman/containers/diff.go
  cmd/podman/containers/mount.go
  cmd/podman/containers/ps.go
  cmd/podman/containers/stats.go
  cmd/podman/generate/systemd.go
  cmd/podman/images/diff.go
  cmd/podman/images/history.go
  cmd/podman/images/list.go
  cmd/podman/images/mount.go
  cmd/podman/images/search.go
  cmd/podman/inspect/inspect.go
  cmd/podman/networks/create.go
  cmd/podman/networks/inspect.go
  cmd/podman/networks/list.go
  cmd/podman/pods/inspect.go
  cmd/podman/pods/ps.go
  cmd/podman/pods/stats.go
  cmd/podman/report/format.go
  cmd/podman/report/format_test.go
  cmd/podman/report/report.go
  cmd/podman/system/df.go
  cmd/podman/system/events.go
  cmd/podman/system/info.go
  cmd/podman/system/version.go
  cmd/podman/volumes/inspect.go
  cmd/podman/volumes/list.go
  vendor/github.com/containers/common/pkg/report/camelcase/LICENSE.md
  vendor/github.com/containers/common/pkg/report/camelcase/README.md
  vendor/github.com/containers/common/pkg/report/camelcase/camelcase.go
  vendor/github.com/containers/common/pkg/report/doc.go
  vendor/github.com/containers/common/pkg/report/template.go
  vendor/github.com/containers/common/pkg/report/validate.go
  vendor/github.com/containers/common/pkg/report/writer.go
  vendor/modules.txt
Labels: approved, lgtm

#7772 Convert Split() calls with an equal sign to SplitN()
  cmd/podman/common/volumes.go
  libpod/image/filters.go
  libpod/image/search.go
  libpod/networking_linux.go
  pkg/spec/security.go
  pkg/spec/storage.go
  pkg/util/utils.go
Labels: approved, lgtm

#8104 set compat network driver default
  pkg/api/handlers/compat/networks.go
Labels: approved, lgtm

#7956 Allow save image remove-signatures
  libpod/image/image.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/libpod/images.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/varlinkapi/images.go
  test/e2e/save_test.go
  test/e2e/sign/key.gpg
  test/e2e/sign/policy.json
Labels: approved, lgtm

#8098 container create: record correct image name
  libpod/image/image.go
  pkg/specgen/generate/container_create.go
  test/system/030-run.bats
Labels: approved, lgtm

#8101 Add hostname to /etc/hosts for --net=none
  libpod/container_internal_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#8078 APIv2 compatibility network connect|disconnect
  libpod/events/filters.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/compat/swagger.go
  pkg/api/server/register_networks.go
Labels: approved, lgtm

#8110 replace net_raw with setuid
  test/e2e/run_security_labels.go
Labels: approved, lgtm

#8053 podman create doesn't support creating detached containers
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/run.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  test/e2e/attach_test.go
  test/e2e/create_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/init_test.go
  test/e2e/logs_test.go
  test/e2e/pod_rm_test.go
  test/e2e/ps_test.go
  test/e2e/restart_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_volume_test.go
  test/e2e/start_test.go
  test/e2e/stop_test.go
  test/e2e/systemd_test.go
  test/system/250-systemd.bats
Labels: approved, lgtm

#8111 Don't error if resolv.conf does not exists
  libpod/container_internal_linux.go
Labels: approved, lgtm

#8108 V2.1.1 RHEL backports
  libpod/container_log_linux.go
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
  test/e2e/logs_test.go
  test/system/035-logs.bats
Labels: approved, do-not-merge/hold, lgtm

#8109 fix: /image/{name or id}/json returns RootFS layers
  pkg/api/handlers/types.go
Labels: approved, lgtm

#8103 filter events by labels
  docs/source/markdown/podman-events.1.md
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/filters.go
  libpod/events/journal_linux.go
  test/system/090-events.bats
Labels: approved, lgtm

#8096 Tests: Check different log driver can work with podman logs
  test/system/030-run.bats
Labels: approved, lgtm

#8119 fix: respect "--extract" flag for podman cp
  pkg/domain/infra/abi/cp.go
  test/e2e/cp_test.go
Labels: approved, lgtm

#8122 Cirrus: Simplify CI for minimal testing
  .cirrus.yml
Labels: approved, lgtm

#8138 add GitHub action to add non-main branch to PR title
  .github/workflows/pr-title.yml
Labels: approved, lgtm

#8147 pr update action: fix errors on master branch
  .github/workflows/pr-title.yml
Labels: approved, lgtm

#8155 Yet another iteration on PR title plugin
  .github/workflows/pr-title.yml
Labels: approved, lgtm

#8144 auto update: mark it as non-experimental
  cmd/podman/auto-update.go
Labels: approved, lgtm

#8149 System tests: cleanup, make more robust
  test/system/030-run.bats
  test/system/090-events.bats
Labels: approved, lgtm

#8094 The cidfile should be created when the container is created
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/util/utils.go
Labels: approved, lgtm

#8151 image list: check for all errors
  pkg/domain/infra/abi/images_list.go
Labels: approved, lgtm

#8164 Improve the journal event reading
  libpod/events/journal_linux.go
Labels: approved, lgtm

#8134 [CI:DOCS] Document how to enable CPU limit delegation
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  troubleshooting.md
Labels: approved, lgtm

#8133 [CI:DOCS] Add more details about how CPU limits work
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#8141 Add support for host keys for non-22 ports
  pkg/bindings/connection.go
Labels: approved, lgtm

#8121 set resources only when specified
  cmd/podman/common/create_opts.go
Labels: approved, lgtm

#8102 Add pod, volume, network to inspect package
  cmd/podman/inspect/inspect.go
  cmd/podman/networks/inspect.go
  cmd/podman/volumes/inspect.go
  docs/source/markdown/podman-inspect.1.md
  docs/source/markdown/podman.1.md
  go.mod
  pkg/api/handlers/libpod/networks.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/network.go
  pkg/domain/entities/types.go
  pkg/domain/entities/volumes.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/abi/volumes.go
  pkg/domain/infra/tunnel/network.go
  pkg/domain/infra/tunnel/volumes.go
  test/e2e/common_test.go
  test/e2e/inspect_test.go
Labels: approved, lgtm

#8157 Add test cases to cover podman volume
  test/apiv2/30-volumes.at
Labels: approved, lgtm

#8175 Ensure that attach ready channel does not block
  libpod/container_api.go
Labels: approved, lgtm

#8081 Add a Degraded state to pods
  libpod/define/podstate.go
  libpod/pod_api.go
  libpod/pod_status.go
  test/e2e/pod_create_test.go
Labels: approved, lgtm

#8163 libpod: clean paths before check
  libpod/boltdb_state_internal.go
Labels: approved, lgtm

#8161 Support hashed hostnames in the known_hosts file
  pkg/terminal/util.go
  vendor/golang.org/x/crypto/ssh/knownhosts/knownhosts.go
  vendor/modules.txt
Labels: approved, lgtm

#8173 rootless: improve error message if cannot join namespaces
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#8178 NewFromLocal can return multiple images
  libpod/define/errors.go
  libpod/image/utils.go
  pkg/api/handlers/libpod/images.go
  pkg/domain/infra/abi/images.go
Labels: approved, lgtm

#8123 Cirrus: Simplify CI for minimal testing
  .cirrus.yml
Labels: approved, lgtm

#8165 Move from docker.io
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup_environment.sh
  pkg/bindings/test/images_test.go
  test/apiv2/10-images.at
  test/apiv2/12-imagesMore.at
  test/apiv2/20-containers.at
  test/e2e/build_test.go
  test/e2e/config.go
  test/e2e/config_amd64.go
  test/e2e/create_test.go
  test/e2e/exists_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/images_test.go
  test/e2e/inspect_test.go
  test/e2e/load_test.go
  test/e2e/manifest_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/ps_test.go
  test/e2e/pull_test.go
  test/e2e/rmi_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/save_test.go
  test/e2e/systemd_test.go
  test/e2e/tag_test.go
  test/e2e/tree_test.go
  test/registries.conf
  test/utils/utils.go
Labels: approved, lgtm

#8046 Cirrus: Simplify setting/passing env. vars.
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm

#8085 Fix pull method selection
  cmd/podman/images/build.go
Labels: approved, lgtm
