Repository containers/podman, pull requests merged in 2020-11, with the labels that each got.

#8210 Match build pull functionality with Docker's
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#8207 Centralize cores and period/quota conversion code
  cmd/podman/common/specgen.go
  libpod/kube.go
  pkg/domain/infra/abi/play.go
  pkg/util/utils.go
  pkg/util/utils_test.go
Labels: approved, lgtm

#8166 Allow users to mount with unbindable flag
  cmd/podman/common/volumes.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  pkg/spec/storage.go
  pkg/util/mountOpts.go
Labels: approved, lgtm

#8217 specgen: add support for ambient capabilities
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/security.go
  test/e2e/run_test.go
Labels: approved, lgtm

#8224 Update README.md
  docs/tutorials/README.md
Labels: approved, lgtm

#8226 Test $HOME when it's parent is bind mounted with --userns=keep-id
  test/e2e/toolbox_test.go
Labels: approved, lgtm

#8231 fedora rootless cpu settings
  test/e2e/common_test.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#8204 Add test/apiv2/rest_api tests to make target
  Makefile
  test/apiv2/rest_api/__init__.py
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/apiv2/rest_api/v1_test_rest_v1_0_0.py
Labels: approved, kind/feature, lgtm

#8219 docs: Mention mounts.conf location for non-root users
  docs/source/markdown/containers-mounts.conf.5.md
Labels: approved, lgtm

#8213 Use osusergo build tag for static build
  nix/default.nix
Labels: approved, lgtm

#8233 [CI:DOCS]Add Urvashi to podman OWNERS
  OWNERS
Labels: approved, lgtm

#8232 Make volume filters inclusive
  libpod/runtime_volume.go
  test/apiv2/30-volumes.at
  test/e2e/volume_ls_test.go
Labels: approved, lgtm

#8209 Change http ConnState actions between new and active
  pkg/api/server/idle/tracker.go
Labels: approved, lgtm

#8229 [CI:DOCS] add a PR template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: approved, lgtm

#8237 Add tip re. typical root cause of "Exec format error" to troubleshooting.md
  troubleshooting.md
Labels: approved, lgtm

#8225 Improve error messages from failing tests
  test/e2e/exec_test.go
Labels: approved, lgtm

#8156 Add network aliases for containers to DB
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/container_config.go
  libpod/container_validate.go
  libpod/define/errors.go
  libpod/in_memory_state.go
  libpod/options.go
  libpod/state.go
  libpod/state_test.go
Labels: approved, lgtm

#8074 Cirrus: Use F33 VM image
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/pod_infra_container_test.go
Labels: approved, lgtm

#8238 Use regex for "pod ps" name filter to match "ps" behavior
  libpod/filters/pods.go
  test/e2e/pod_ps_test.go
Labels: approved, lgtm

#8205 Only use container/storage/pkg/unshare.HomeDir()
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#8185 Add support for mounting external containers
  docs/source/markdown/podman-mount.1.md
  docs/source/markdown/podman-unmount.1.md
  libpod/runtime_ctr.go
  pkg/domain/infra/abi/containers.go
  test/system/060-mount.bats
Labels: approved, lgtm

#8249 [CI:DOCS] fix: podman-system-service doc time is seconds
  docs/source/markdown/podman-system-service.1.md
Labels: approved, lgtm

#8248 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#8254 fix: allow volume creation when the _data directory already exists
  libpod/runtime_volume_linux.go
Labels: approved, lgtm

#8255 [ci:docs] Fix link to point at correct content
  README.md
Labels: approved, lgtm

#8260 Use CPP, CC and flags in dep check scripts
  hack/btrfs_installed_tag.sh
  hack/btrfs_tag.sh
  hack/libdm_tag.sh
  hack/systemd_tag.sh
Labels: approved, lgtm

#8241 Use /tmp/podman-run-* for backup XDG_RUNTIME_DIR
  Makefile
  contrib/spec/podman.spec.in
  contrib/tmpfile/podman.conf
  contrib/varlink/podman.conf
  pkg/util/utils_supported.go
Labels: approved, lgtm

#8264 Show error on bad name filter in podman ps
  libpod/filters/containers.go
  libpod/filters/pods.go
Labels: approved, lgtm

#8245 rootless container creation settings
  cmd/podman/common/create_opts.go
  pkg/api/handlers/compat/containers_create.go
  pkg/specgen/container_validate.go
Labels: approved, lgtm

#8283 [CI:DOCS] man pages: add an example, tweak formatting
  docs/source/markdown/podman-import.1.md
  docs/source/markdown/podman-pull.1.md
Labels: approved, lgtm

#8282 Stop binding layer from changing line endings
  pkg/bindings/containers/logs.go
Labels: approved, kind/bug, lgtm

#8276 Add support for podman search --format json
  cmd/podman/images/search.go
  test/e2e/search_test.go
Labels: approved, lgtm

#8256 [CI:DOCS] Update podman build man page to match buildah bud man page
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#8284 system tests: skip journald tests on RHEL8
  test/system/030-run.bats
  test/system/035-logs.bats
Labels: approved, lgtm

#8286 make network name uniq for dnsname tests
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#8270 Add --log-driver to play kube
  cmd/podman/play/kube.go
  pkg/api/handlers/libpod/play.go
  pkg/api/server/register_play.go
  pkg/bindings/play/play.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#8143 enable ipv6 networks
  cmd/podman/networks/create.go
  docs/source/markdown/podman-network-create.1.md
  libpod/network/create.go
  libpod/network/create_test.go
  libpod/network/files.go
  libpod/network/netconflist.go
  libpod/network/netconflist_test.go
  pkg/domain/entities/network.go
  test/e2e/network_create_test.go
Labels: approved, lgtm, ok-to-test

#8278 [CI:DOCS] Add example of fuse-overlay to podman system reset
  docs/source/markdown/podman-system-reset.1.md
Labels: approved, lgtm

#8251 network aliases for container creation
  cmd/podman/common/create_opts.go
  cmd/podman/common/netflags.go
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  go.mod
  go.sum
  libpod/network/config.go
  libpod/network/netconflist.go
  libpod/networking_linux.go
  pkg/domain/entities/types.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/network_test.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/types.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/util_linux.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/util_unsupported.go
  vendor/modules.txt
Labels: approved, lgtm

#8252 migrate play kube to spec gen
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/abi/play_test.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
  pkg/specgen/generate/kube/seccomp.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#8295 Set default network driver for APIv2 networks
  pkg/api/handlers/libpod/networks.go
  test/apiv2/35-networks.at
Labels: approved, lgtm

#8297 Cirrus: Run validation tests in CI:DOCS mode
  .cirrus.yml
Labels: approved, lgtm

#8299 [CI:DOCS] Restore man page cross-checker
  Makefile
  contrib/cirrus/runner.sh
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-image-trust.1.md
  docs/source/markdown/podman-images.1.md
  docs/source/markdown/podman-import.1.md
  docs/source/markdown/podman-info.1.md
  docs/source/markdown/podman-logs.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-pod-inspect.1.md
  docs/source/markdown/podman-restart.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-system-connection-add.1.md
  docs/source/markdown/podman-system-df.1.md
  docs/source/markdown/podman-volume-create.1.md
  docs/source/markdown/podman-volume-inspect.1.md
  docs/source/markdown/podman-volume-ls.1.md
  docs/source/markdown/podman-volume-prune.1.md
  docs/source/markdown/podman-volume-rm.1.md
  hack/podman-commands.sh
  hack/xref-helpmsgs-manpages
Labels: approved, lgtm

#8306 Cirrus: update VMs
  .cirrus.yml
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#8300 Add podman(1) to the list of man pages on docs.podman.io
  docs/source/Commands.rst
Labels: approved, lgtm

#8272 Test podman-remote logs works the same as podman logs
  test/e2e/logs_test.go
Labels: approved, lgtm

#8307 Ensure we do not double-lock the same volume in create
  libpod/container_internal.go
  libpod/runtime_ctr.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm

#8298 Add support for network connect / disconnect to DB
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/container.go
  libpod/container_config.go
  libpod/container_internal.go
  libpod/define/container_inspect.go
  libpod/define/errors.go
  libpod/in_memory_state.go
  libpod/networking_linux.go
  libpod/rootless_cni_linux.go
  libpod/state.go
  libpod/state_test.go
Labels: approved, lgtm

#8107 Cirrus: Collect runner.sh stats
  .cirrus.yml
  .gitignore
  contrib/cirrus/logcollector.sh
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#8318 [CI:DOCS] Maintain consistent order of short and long flag names in docs
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-image-trust.1.md
  docs/source/markdown/podman-images.1.md
  docs/source/markdown/podman-import.1.md
  docs/source/markdown/podman-info.1.md
  docs/source/markdown/podman-logs.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-pod-inspect.1.md
  docs/source/markdown/podman-restart.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-system-connection-add.1.md
  docs/source/markdown/podman-system-df.1.md
  docs/source/markdown/podman-volume-create.1.md
  docs/source/markdown/podman-volume-inspect.1.md
  docs/source/markdown/podman-volume-ls.1.md
  docs/source/markdown/podman-volume-prune.1.md
  docs/source/markdown/podman-volume-rm.1.md
  hack/xref-helpmsgs-manpages
Labels: approved, lgtm

#8304 Cleanup error reporting
  libpod/networking_linux.go
Labels: approved, lgtm

#8316 Fix issues found with codespell
  Makefile
  docs/Readme.md
  docs/source/markdown/podman-build.1.md
  hack/get_ci_vm.sh
  test/e2e/toolbox_test.go
  troubleshooting.md
Labels: approved, lgtm

#8328 [CI:DOCS] Add missing --now in systemctl start command
  docs/tutorials/mac_win_client.md
Labels: approved, lgtm

#8301 Change podman build --pull=true to PullIfMissing
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#8334 Set podman-auto-update.service Type=oneshot
  contrib/systemd/auto-update/podman-auto-update.service
Labels: approved, lgtm

#8308 Refactor to use DockerClient vs APIClient
  docs/source/conf.py
  pkg/api/handlers/compat/networks.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/python/docker/__init__.py
  test/python/docker/common.py
  test/python/docker/test_containers.py
  test/python/docker/test_images.py
  test/python/docker/test_system.py
Labels: approved, kind/cleanup, lgtm

#8326 Fix namespace flag parsing for podman build
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#8327 test for buildah version in container images.
  test/e2e/build_test.go
  test/e2e/images_test.go
  test/system/070-build.bats
Labels: approved, lgtm

#8336 [CI:DOCS] Touch up Podman description in man page menu
  docs/source/Commands.rst
  docs/source/markdown/podman.1.md
Labels: approved, lgtm

#8333 Podman-remote build is getting ID twice
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
Labels: approved, lgtm

#8325 system tests: various
  test/system/010-images.bats
  test/system/070-build.bats
  test/system/160-volumes.bats
Labels: approved, lgtm

#8345 Add support for volume ls --filter label=key=value
  cmd/podman/volumes/list.go
  docs/source/markdown/podman-volume-ls.1.md
  test/e2e/volume_ls_test.go
Labels: approved, lgtm

#8324 use lookaside storage for remote tests
  test/e2e/build_test.go
  test/e2e/common_test.go
  test/e2e/config_amd64.go
  test/e2e/cp_test.go
  test/e2e/create_test.go
  test/e2e/exists_test.go
  test/e2e/generate_kube_test.go
  test/e2e/images_test.go
  test/e2e/import_test.go
  test/e2e/inspect_test.go
  test/e2e/kill_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/load_test.go
  test/e2e/login_logout_test.go
  test/e2e/manifest_test.go
  test/e2e/mount_rootless_test.go
  test/e2e/mount_test.go
  test/e2e/network_test.go
  test/e2e/prune_test.go
  test/e2e/pull_test.go
  test/e2e/push_test.go
  test/e2e/rmi_test.go
  test/e2e/run_test.go
  test/e2e/save_test.go
  test/e2e/search_test.go
  test/e2e/system_df_test.go
  test/e2e/system_reset_test.go
  test/e2e/tag_test.go
  test/e2e/toolbox_test.go
  test/e2e/tree_test.go
  test/e2e/untag_test.go
Labels: approved, lgtm

#8339 Wrap missing container errors with container ID
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#8360 logformatter: highlight timing results
  contrib/cirrus/logformatter
Labels: approved, lgtm

#8367 [CI:DOCS] Explain the relation between --pod and --network
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#8359 Bump Buildah to v1.18.0, c/storage to v1.24.0
  go.mod
  go.sum
  vendor/github.com/Microsoft/go-winio/archive/tar/LICENSE
  vendor/github.com/Microsoft/go-winio/archive/tar/common.go
  vendor/github.com/Microsoft/go-winio/archive/tar/reader.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_atim.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_atimespec.go
  vendor/github.com/Microsoft/go-winio/archive/tar/stat_unix.go
  vendor/github.com/Microsoft/go-winio/archive/tar/writer.go
  vendor/github.com/Microsoft/go-winio/backuptar/strconv.go
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/import.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/windows/windows.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/archive_ffjson.go
  vendor/github.com/containers/storage/pkg/archive/archive_linux.go
  vendor/github.com/containers/storage/pkg/archive/archive_other.go
  vendor/github.com/containers/storage/pkg/archive/archive_unix.go
  vendor/github.com/containers/storage/pkg/archive/archive_windows.go
  vendor/github.com/containers/storage/pkg/archive/diff.go
  vendor/github.com/containers/storage/pkg/chrootarchive/archive.go
  vendor/github.com/containers/storage/pkg/config/config.go
  vendor/github.com/containers/storage/storage.conf
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: approved, lgtm

#8346 Improve the shell completion api
  cmd/podman/common/completion.go
  cmd/podman/containers/start.go
  libpod/filters/pods.go
Labels: approved, lgtm

#8347 Make sure /etc/hosts populated correctly with networks
  libpod/container_internal_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#8290 use container cgroups path
  libpod/container.go
  libpod/container_internal_linux.go
  test/e2e/stats_test.go
Labels: approved, lgtm

#8370 Remove some more excessive wrapping and stuttering
  cmd/podman/common/specgen.go
  cmd/podman/common/util.go
  cmd/podman/containers/prune.go
  cmd/podman/containers/run.go
  cmd/podman/images/build.go
  cmd/podman/images/prune.go
  cmd/podman/images/sign.go
  cmd/podman/images/trust_set.go
  cmd/podman/manifest/add.go
  cmd/podman/manifest/annotate.go
  cmd/podman/manifest/create.go
  cmd/podman/manifest/inspect.go
  cmd/podman/manifest/push.go
  cmd/podman/pods/create.go
  cmd/podman/pods/prune.go
  cmd/podman/root.go
  cmd/podman/system/connection/add.go
  cmd/podman/system/events.go
  cmd/podman/system/prune.go
  cmd/podman/system/reset.go
  cmd/podman/system/service_abi.go
  cmd/podman/volumes/prune.go
Labels: approved, lgtm

#8373 [CI:DOCS] fix an apostrophe nit in man page
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#8356 [CI:DOCS] Cleanup tutorials
  docs/tutorials/image_signing.md
  docs/tutorials/mac_win_client.md
  docs/tutorials/podman_tutorial.md
  docs/tutorials/remote_client.md
  docs/tutorials/rootless_tutorial.md
Labels: approved, lgtm

#8371 remove contrib/gate
  CONTRIBUTING.md
  contrib/gate/Dockerfile
  contrib/gate/README.md
  contrib/gate/entrypoint.sh
  test/e2e/search_test.go
Labels: approved, lgtm

#8377 Fix missing headers in `network ls`
  cmd/podman/networks/list.go
Labels: approved, kind/bug, lgtm

#8380 Client call to /play/kube incorrectly set tlsVerify
  pkg/bindings/play/play.go
Labels: approved, lgtm

#8363 Add an option to control if play kube should start the pod
  cmd/podman/play/kube.go
  docs/source/markdown/podman-play-kube.1.md
  pkg/api/handlers/libpod/play.go
  pkg/api/server/register_play.go
  pkg/bindings/play/play.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#8381 Rename e2e test files to include _test.go suffix
  test/e2e/pod_pod_namespaces_test.go
  test/e2e/run_seccomp_test.go
  test/e2e/run_security_labels_test.go
  test/e2e/run_working_dir_test.go
Labels: approved, lgtm

#8355 add network connect|disconnect compat endpoints
  cmd/podman/system/service_abi.go
  libpod/boltdb_state.go
  libpod/container.go
  libpod/network/create.go
  libpod/networking_linux.go
  pkg/api/handlers/compat/networks.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/runtime_libpod.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/python/docker/test_containers.py
Labels: approved, lgtm

#8378 Swap out json-iterator for golang default
  cmd/podman/inspect/inspect.go
Labels: approved, kind/bug, lgtm

#8382 [CI:DOCS] Fix example for manifest push
  cmd/podman/manifest/manifest.go
  cmd/podman/manifest/push.go
Labels: approved, lgtm

#8386 Fix podman pod inspect show wrong StaticMAC
  libpod/define/pod_inspect.go
  libpod/pod_api.go
  test/e2e/pod_inspect_test.go
Labels: approved, lgtm

#8337 Cirrus: Invalidate static cache on VM image update
  .cirrus.yml
Labels: approved, lgtm

#8389 [CI:DOCS] correct numbering typo
  troubleshooting.md
Labels: approved, lgtm

#8376 Align the podman ps --filter behavior with docker
  cmd/podman/containers/ps.go
  libpod/filters/containers.go
  pkg/api/handlers/compat/containers_prune.go
  pkg/domain/infra/abi/containers.go
  pkg/ps/ps.go
  pkg/util/utils.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#8383 [CI:DOCS] Add release notes for v2.2.0-RC1
  RELEASE_NOTES.md
Labels: approved, lgtm

#8140 Add support for host keys for non-22 ports (v2.1)
  pkg/bindings/connection.go
Labels: approved, lgtm

#8394 [CI:DOCS] Bump to v2.2.0-RC1
  changelog.txt
  version/version.go
Labels: approved, lgtm

#8170 Remove build \!remote flags from test
  test/e2e/checkpoint_test.go
  test/e2e/containers_conf_test.go
  test/e2e/cp_test.go
  test/e2e/image_sign_test.go
  test/e2e/import_test.go
  test/e2e/mount_rootless_test.go
Labels: approved, lgtm

#8395 Align the podman pod ps --filter behavior with podman ps
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman-ps.1.md
  libpod/filters/pods.go
  pkg/api/handlers/utils/pods.go
  pkg/domain/infra/abi/pods.go
  test/e2e/pod_ps_test.go
Labels: approved, lgtm

#8379 Remove build \!remote flags from test phase 2
  pkg/api/handlers/compat/networks.go
  pkg/domain/infra/abi/network.go
  test/e2e/mount_test.go
  test/e2e/push_test.go
  test/e2e/run_cgroup_parent_test.go
  test/e2e/run_signal_test.go
  test/e2e/trust_test.go
Labels: approved, lgtm

#8405 Fix sed regex to update version in version/version.go
  hack/release.sh
Labels: approved, kind/bug, lgtm

#8391 add network connect|disconnect compat endpoints
  cmd/podman/networks/connect.go
  cmd/podman/networks/disconnect.go
  commands-demo.md
  docs/source/markdown/podman-network-connect.1.md
  docs/source/markdown/podman-network-disconnect.1.md
  docs/source/markdown/podman-network.1.md
  docs/source/network.rst
  libpod/container.go
  libpod/define/errors.go
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/networking_linux.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/server/register_networks.go
  pkg/bindings/network/network.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/network.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/tunnel/network.go
  test/e2e/network_test.go
Labels: approved, lgtm

#7958 [ci-skip] Github-Actions: Send e-mail on Cirrus cron failure
  .github/actions/check_cirrus_cron/cron_failures.sh
  .github/workflows/check_cirrus_cron.yml
  contrib/cirrus/cron-fail_addrs.csv
Labels: approved, lgtm, stale-pr

#8398 Shell completion for podman ps and podman pod ps --filter
  cmd/podman/common/completion.go
  cmd/podman/containers/ps.go
  cmd/podman/pods/ps.go
Labels: approved, lgtm

#8404 Add alias for podman network rm -> remove
  cmd/podman/networks/rm.go
  test/e2e/network_test.go
Labels: approved, lgtm

#8422 fix container cgroup lookup
  libpod/container.go
Labels: approved, lgtm

#8413 vendor in containers/storage v1.24.1
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/unshare/unshare.go
  vendor/github.com/klauspost/compress/flate/gen_inflate.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/flate/inflate_gen.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/modules.txt
Labels: approved, lgtm

#8285 Document containers.conf settings for remote connections
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/volumes.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman.1.md
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/storage.go
  pkg/specgen/specgen.go
  pkg/specgen/volumes.go
  test/e2e/config/containers-remote.conf
  test/e2e/containers_conf_test.go
Labels: approved, lgtm

#8406 Make podman service log events
  contrib/systemd/system/podman.service
  docs/source/conf.py
  docs/source/markdown/podman-system-service.1.md
  pkg/api/server/handler_api.go
  pkg/api/server/listener_api.go
  pkg/api/server/server.go
Labels: approved, kind/feature, lgtm

#8423 REST API v2 - list of images - mandatory Created attribute
  pkg/domain/entities/images.go
Labels: approved, lgtm

#8431 Make c.networks() list include the default network
  libpod/container.go
  libpod/container_internal.go
  libpod/networking_linux.go
  libpod/rootless_cni_linux.go
Labels: approved, lgtm

#8435 Specify what the replace flag replaces in help text
  cmd/podman/pods/create.go
Labels: approved, lgtm

#8410 Allow multiple --network flags for podman run/create
  cmd/podman/common/netflags.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/namespaces.go
  test/e2e/pod_create_test.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#8429 APIv2 - strip CAP_ prefix from capabilities in inspect container json
  pkg/api/handlers/compat/containers.go
Labels: approved, lgtm

#8436 Enable remote shell completion without a running endpoint
  cmd/podman/common/completion.go
  cmd/podman/root.go
Labels: approved, lgtm

#8449 [CI:DOCS] clarify ps(1) fallback of `podman top`
  cmd/podman/containers/top.go
  docs/source/markdown/podman-top.1.md
Labels: approved, lgtm

#8263 Allow containers to --restart on-failure with --rm
  cmd/podman/common/createparse.go
  libpod/container_api.go
  libpod/container_internal.go
  pkg/api/handlers/libpod/containers.go
  pkg/bindings/containers/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/run_test.go
Labels: approved, lgtm

#8446 Add podman container ps command
  cmd/podman/containers/ps.go
  docs/source/managecontainers.rst
  docs/source/markdown/links/podman-list.1
  docs/source/markdown/links/podman-ls.1
  docs/source/markdown/podman-container.1.md
  docs/source/markdown/podman-ps.1.md
  test/e2e/ps_test.go
Labels: approved, lgtm

#8451 Fix ip-range for classless subnet masks
  libpod/network/subnet.go
  libpod/network/subnet_test.go
Labels: approved, lgtm

#8416 more shell completion improvements
  cmd/podman/common/completion.go
  cmd/podman/images/list.go
  cmd/podman/networks/connect.go
  cmd/podman/networks/disconnect.go
  cmd/podman/networks/list.go
  cmd/podman/volumes/list.go
Labels: approved, lgtm

#8409 Docker compat API fixes
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/info.go
  pkg/domain/entities/images.go
Labels: approved, lgtm

#8438 Set PATH env in systemd timer.
  libpod/healthcheck_linux.go
Labels: approved, lgtm

#8455 Jhoncompat
  cmd/podman/common/create_opts.go
  libpod/networking_linux.go
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/types.go
  test/apiv2/rest_api/__init__.py
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/apiv2/rest_api/v1_test_rest_v1_0_0.py
  test/python/docker/__init__.py
  test/python/docker/common.py
  test/python/docker/test_containers.py
  test/python/docker/test_images.py
Labels: approved, lgtm

#8461 Implement shell completion for podman top
  cmd/podman/common/completion.go
  cmd/podman/containers/top.go
  cmd/podman/pods/top.go
Labels: approved, lgtm

#8458 [CI:DOCS] Bump to v2.2.0-rc2
  changelog.txt
Labels: approved, lgtm

#8467 Fix custom mac address with a custom cni network
  libpod/network/config.go
  libpod/network/create.go
  libpod/network/netconflist.go
  test/e2e/create_staticmac_test.go
Labels: approved, lgtm

#8468 [CI:DOCS] Tutorials:mac-win-client - Fix command ensuring sshd is enabled
  docs/tutorials/mac_win_client.md
Labels: approved, lgtm

#8459 [CI:DOCS] fix misleading save/load usage
  cmd/podman/images/load.go
  docs/source/markdown/podman-export.1.md
  docs/source/markdown/podman-import.1.md
  docs/source/markdown/podman-load.1.md
  docs/source/markdown/podman-save.1.md
  docs/source/markdown/podman.1.md
Labels: approved, lgtm

#8470 Not use local image create/add manifest
  libpod/image/manifests.go
Labels: approved, lgtm

#8481 Do not validate the volume source path in specgen
  cmd/podman/common/volumes.go
  pkg/specgen/volumes.go
Labels: approved, lgtm

#8486 REST API v2 - ping - remove newline from response to improve Docker compatibility
  pkg/api/handlers/compat/ping.go
Labels: approved, lgtm

#8487 REST API v2 - ping - fix typo in header
  pkg/api/handlers/compat/ping.go
  pkg/api/server/register_ping.go
Labels: approved, lgtm

#8500 runtime: set XDG_* env variables if missing
  libpod/runtime.go
Labels: approved, lgtm

#8497 Add support for persistent volume claims in kube files
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/volume.go
  test/e2e/play_kube_test.go
Labels: 3.0 Features, approved, lgtm

#8493 Fix problems with network remove
  libpod/network/files.go
  libpod/network/network.go
  test/e2e/network_test.go
Labels: approved, lgtm

#8511 Add APIv2 tests for kube generate
  test/apiv2/25-containersMore.at
Labels: approved, lgtm

#8420 [CI:DOCS] Update Tutorials.rst
  docs/source/Tutorials.rst
  pkg/specgen/volumes.go
Labels: approved, lgtm

#8230 Ensure that --net=host/pod/container conflicts with -p
  pkg/specgen/generate/container.go
  pkg/specgen/namespaces.go
  test/system/030-run.bats
Labels: approved, lgtm

#8514 Revert "Allow multiple --network flags for podman run/create"
  cmd/podman/common/netflags.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/namespaces.go
  test/e2e/pod_create_test.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#8465 Document docker transport is the only supported remote transport
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
  docs/source/markdown/podman-run.1.md
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
Labels: approved, lgtm

#8518 [CI:DOCS] Fix extra quotation mark in manpages.
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#8517 [CI:DOCS] Fix option names --subuidname and --subgidname
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#8520 [CI:DOCS] Update release notes for v2.2.0
  RELEASE_NOTES.md
Labels: approved, lgtm

#8523 Bump master to v3.0.0-dev
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm
