Repository containers/podman, pull requests merged in 2021-06, with the labels that each got.

#10518 [NO TESTS NEEDED] Fixes API list networks returns "null" instead of empty array when used with no networks
  pkg/domain/infra/abi/network.go
Labels: approved, lgtm

#10509 [v3.2] generate systemd: make mounts portable
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods_test.go
Labels: approved, lgtm

#10516 [CI:DOCS] rm containers-mounts.conf.5.md
  docs/source/markdown/containers-mounts.conf.5.md
Labels: approved, lgtm

#10510 Use request context instead of background context
  pkg/api/handlers/compat/images.go
Labels: approved, lgtm

#10508 Better error handing for images/create compat api
  pkg/api/handlers/compat/images.go
Labels: approved, lgtm

#10488 Enable port forwarding on host
  cmd/podman/common/netflags.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  cmd/podman/pods/create.go
  libpod/networking_linux.go
  pkg/machine/config.go
  pkg/machine/ignition.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/options_darwin.go
  pkg/machine/qemu/options_darwin_amd64.go
  pkg/machine/qemu/options_linux.go
Labels: approved, lgtm

#10515 [v3.0.1] set version to v3.0.1
  version/version.go
Labels: approved, lgtm

#10524 [CI:DOCS] Fix link error
  rootless.md
Labels: approved, lgtm

#10519 Use request context instead of background
  pkg/api/handlers/compat/images_push.go
Labels: approved, lgtm

#10486 support tag@digest notation
  go.mod
  go.sum
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/handlers/utils/images.go
  test/e2e/play_kube_test.go
  test/system/001-basic.bats
  vendor/github.com/containers/common/libimage/normalize.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/nosystemd.go
  vendor/github.com/containers/common/pkg/config/systemd.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10517 API one-shot query implementation/handling
  pkg/api/handlers/compat/containers_stats.go
  pkg/api/server/register_containers.go
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: approved, lgtm

#10527 System tests: add :Z to volume mounts
  test/system/030-run.bats
  test/system/500-networking.bats
Labels: approved, lgtm

#10523 [CI:DOCS] Use secrets and machine rst file properly
  docs/source/Commands.rst
Labels: approved, lgtm

#10532 [v3.2] System tests: add :Z to volume mounts
  test/system/030-run.bats
  test/system/500-networking.bats
Labels: approved, lgtm

#10514 events: support disjunctive filters
  libpod/events/filters.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  test/system/090-events.bats
Labels: 3.2, approved, lgtm

#10534 [v.3.2] events: support disjunctive filters
  libpod/events/filters.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  test/system/090-events.bats
Labels: approved, lgtm

#10541 add ipv6 nameservers only when the container has ipv6 enabled
  libpod/container_internal_linux.go
  test/system/500-networking.bats
Labels: approved, lgtm

#10533 [CI:DOCS] Fix spacing in buildthedocs
  docs/source/machine.rst
Labels: approved, lgtm

#10552 Bump to v3.2.0
  RELEASE_NOTES.md
  changelog.txt
  contrib/spec/podman.spec.in
  libpod/container_internal_linux.go
  libpod/network/config.go
  libpod/network/netconflist.go
  pkg/api/handlers/compat/images_push.go
  test/apiv2/01-basic.at
  test/e2e/network_test.go
  test/system/500-networking.bats
  version/version.go
Labels: approved, lgtm

#10553 [CI:DOCS] Update main branch to reflect 3.2.0 release
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm

#10558 remote events: fix --stream=false
  pkg/api/handlers/compat/events.go
  test/system/090-events.bats
Labels: approved, lgtm

#10563 [CI:DOCS] fix incorrect network remove api doc
  pkg/api/handlers/libpod/swagger.go
Labels: approved, lgtm

#10546 Add CORS support
  cmd/podman/system/service.go
  cmd/podman/system/service_abi.go
  docs/source/markdown/podman-system-service.1.md
  pkg/api/server/handler_api.go
  pkg/api/server/server.go
  pkg/domain/entities/system.go
Labels: approved, lgtm

#10549 remote: always send resize before the container starts
  pkg/api/handlers/compat/resize.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/attach.go
  test/apiv2/python/rest_api/fixtures/api_testcase.py
  test/apiv2/python/rest_api/test_v2_0_0_container.py
  test/system/450-interactive.bats
Labels: approved, lgtm

#10500 [CI:DOCS] extend docs to include help for when pub/priv key is signing issue
  docs/tutorials/remote_client.md
  troubleshooting.md
Labels: approved, lgtm

#10574 [CI:DOCS] Fix outdated docs
  docs/tutorials/podman-go-bindings.md
Labels: approved, lgtm

#10568 [CI:DOCS] Document which CNI fields are encoded
  pkg/api/server/register_networks.go
Labels: HTTP API, approved, kind/bug, lgtm

#10561 remote events: support labels
  pkg/domain/entities/events.go
  test/e2e/events_test.go
  test/system/090-events.bats
Labels: approved, lgtm

#10567 Add support for selectable checkpoint archive compression algorithm
  cmd/podman/common/completion.go
  cmd/podman/containers/checkpoint.go
  docs/source/markdown/podman-container-checkpoint.1.md
  libpod/container_api.go
  libpod/container_internal_linux.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm

#10557 systemd/generate: change type to notify
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm

#10381 Add --publish to container restore
  cmd/podman/common/netflags.go
  cmd/podman/common/util.go
  cmd/podman/containers/restore.go
  docs/source/markdown/podman-container-restore.1.md
  pkg/checkpoint/checkpoint_restore.go
  pkg/domain/entities/containers.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/generate/ports.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm

#9740 System test: Add tests for podman auto-update
  test/system/255-auto-update.bats
Labels: approved, lgtm

#10526 [CI:DOCS] UPDATE MANPAGE_SYNTAX (commit,attach,auto-update)
  Makefile
  docs/MANPAGE_SYNTAX.md
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-commit.1.md
Labels: approved, lgtm

#10586 Version bump: 3.3.0-dev
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#10565 [CI:DOCS]instructions for podman machine on macs
  docs/tutorials/mac_experimental.md
Labels: approved, lgtm

#10591 Fix compat create with NetworkMode=default
  cmd/podman/common/create_opts.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#10592 auto-update tests: various fixes
  test/system/255-auto-update.bats
Labels: approved, lgtm

#10599 remote pull: cancel pull when connection is closed
  pkg/api/handlers/libpod/images_pull.go
Labels: approved, lgtm

#10548 API images/create added missing parameters platform, message, repo
  pkg/api/handlers/compat/images.go
  pkg/api/server/register_images.go
  test/apiv2/python/rest_api/test_v2_0_0_image.py
Labels: approved, lgtm

#10597 Fix network prune api docs
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/compat/swagger.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/handlers/libpod/swagger.go
  pkg/api/server/register_networks.go
Labels: approved, lgtm

#10598 Improve systemd-resolved detection
  libpod/container_internal_linux.go
Labels: approved, lgtm

#10600 logs: k8s-file: fix race
  libpod/container_log.go
  test/e2e/logs_test.go
Labels: approved, lgtm

#10603 implemented verbose and scope as possible
  pkg/api/handlers/compat/networks.go
  pkg/api/server/register_networks.go
  test/apiv2/python/rest_api/test_v2_0_0_network.py
Labels: approved

#10604 [v3.0.1-rhel] rmi: don't break when the image is missing a manifest
  libpod/image/image.go
  libpod/runtime_img.go
  pkg/domain/infra/abi/images.go
  test/system/330-corrupt-images.bats
  test/system/helpers.bash
Labels: approved, lgtm

#10390 Fix image prune --filter cmd behavior
  cmd/podman/images/prune.go
  test/e2e/common_test.go
  test/e2e/images_test.go
Labels: approved, lgtm

#10608 [v3.2] vendor containers/common@v0.38.6
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10605 Correct qemu options for Intel macs
  pkg/machine/qemu/options_darwin_amd64.go
Labels: approved, lgtm

#10607 [CI:DOCS] Update swagger for inspect network
  pkg/api/handlers/libpod/swagger.go
  pkg/api/server/register_networks.go
  test/apiv2/python/rest_api/test_v2_0_0_image.py
Labels: HTTP API, approved, kind/bug, lgtm

#10550 podman-remote build should handle -f option properly
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: approved, lgtm

#10613 [v3.2] vendor containers/common@v0.38.7
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10618 System tests: deal with crun 0.20.1
  docs/source/markdown/podman-manifest-rm.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  test/system/410-selinux.bats
Labels: approved, lgtm

#10611 rootless: fix fast join userns path
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm

#10634 Fix build tags for pkg/machine...
  pkg/machine/config.go
  pkg/machine/connection.go
  pkg/machine/fcos.go
  pkg/machine/ignition.go
  pkg/machine/ignition_schema.go
  pkg/machine/keys.go
  pkg/machine/libvirt/config.go
  pkg/machine/libvirt/machine.go
  pkg/machine/libvirt/machine_unsupported.go
  pkg/machine/machine_unsupported.go
  pkg/machine/pull.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_unsupported.go
Labels: approved, lgtm

#10631 [v3.2] rootless: fix fast join userns path
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm

#10642 [CI:DOCS] Fix docs links due to branch rename
  CODE-OF-CONDUCT.md
  SECURITY.md
Labels: approved, lgtm

#10636 [v3.2] vendor containers/common@v0.38.9
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10639 Fix pre-checkpointing
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#10609 container: ignore named hierarchies
  libpod/container.go
  test/e2e/systemd_test.go
Labels: approved, lgtm

#10646 System tests: the continuing multiarch saga
  test/system/build-testimage
  test/system/helpers.bash
Labels: approved, lgtm

#10542 Update nix pin with `make nixpkgs`
  Makefile
  nix/default-arm64.nix
  nix/default.nix
  nix/nixpkgs.json
  nix/nixpkgs.nix
Labels: approved, lgtm

#10638 Fix volumes with uid and gid options
  libpod/options.go
  libpod/volume_internal.go
  pkg/domain/infra/abi/parse/parse.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm

#10405 Always spawn a cleanup process with exec
  libpod/container_exec.go
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  pkg/domain/infra/abi/containers.go
Labels: approved, lgtm

#10654 Fix network connect race with docker-compose
  libpod/networking_linux.go
  test/compose/test-compose
Labels: approved, lgtm

#10661 Fall back to string for dockerfile parameter
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#10635 Fix restoring of privileged containers
  libpod/container_internal.go
Labels: approved, lgtm

#10601 [CI:DOCS] UPDATE manpages with MANPAGE_SYNTAX
  Makefile
  docs/MANPAGE_SYNTAX.md
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-commit.1.md
  docs/source/markdown/podman-completion.1.md
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-cleanup.1.md
  docs/source/markdown/podman-container-exists.1.md
Labels: approved, lgtm

#10525 [CI:DOCS] Add documentation on ignore_chown_errors
  docs/source/markdown/podman.1.md
Labels: approved, lgtm

#10652 Fix handling of podman-remote build --device
  pkg/api/handlers/compat/images_build.go
  test/e2e/build_test.go
Labels: approved, lgtm

#10651 Add support for podman remote build -f - .
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: approved, lgtm

#10658 Bump to v3.2.1
  RELEASE_NOTES.md
  changelog.txt
  cmd/podman/common/completion.go
  cmd/podman/containers/prune.go
  cmd/podman/images/prune.go
  cmd/podman/networks/prune.go
  cmd/podman/system/prune.go
  contrib/spec/podman.spec.in
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-volume-ls.1.md
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_log.go
  libpod/networking_linux.go
  libpod/oci_conmon_linux.go
  pkg/api/handlers/compat/events.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/compat/resize.go
  pkg/api/handlers/compat/swagger.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/handlers/libpod/swagger.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_networks.go
  pkg/bindings/containers/attach.go
  pkg/bindings/images/build.go
  pkg/domain/entities/events.go
  pkg/machine/config.go
  pkg/machine/connection.go
  pkg/machine/fcos.go
  pkg/machine/ignition.go
  pkg/machine/ignition_schema.go
  pkg/machine/keys.go
  pkg/machine/libvirt/config.go
  pkg/machine/libvirt/machine.go
  pkg/machine/libvirt/machine_unsupported.go
  pkg/machine/machine_unsupported.go
  pkg/machine/pull.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_unsupported.go
  test/apiv2/01-basic.at
  test/apiv2/10-images.at
  test/compose/test-compose
  test/e2e/common_test.go
  test/e2e/events_test.go
  test/e2e/images_test.go
  test/e2e/logs_test.go
  test/e2e/systemd_test.go
  test/system/070-build.bats
  test/system/090-events.bats
  test/system/410-selinux.bats
  test/system/450-interactive.bats
  version/version.go
Labels: approved, lgtm

#10668 [NO TESTS NEEDED] Fixes panic condition in cgroups.getAvailableControllers
  pkg/cgroups/cgroups.go
Labels: approved, lgtm

#10622 compat import imageFromSrc support for platform query parameter
  pkg/api/handlers/compat/images.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  test/apiv2/python/rest_api/test_v2_0_0_image.py
Labels: approved, lgtm

#10595 Add podman-restart systemd unit file
  Makefile
  contrib/spec/podman.spec.in
  contrib/systemd/system/podman-restart.service
  contrib/systemd/system/podman.service
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/045-start.bats
Labels: approved, lgtm

#10531 Fix permissions on initially created named volumes
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_internal_unsupported.go
  test/e2e/run_test.go
Labels: approved, lgtm

#10679 Fix building static podman-remote
  Makefile
Labels: approved, lgtm

#10680 Create user storage dir with correct permissions in Dockerfiles
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
Labels: approved, lgtm

#10629 [CI:DOCS] podman-run.1.md:detach-keys: spell the default value just once
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#10588 [CI:DOCS] converted query parameter for credentials to header parameter.
  pkg/api/server/register_images.go
Labels: approved, lgtm

#10451 tests: update CI images
  .cirrus.yml
  test/e2e/run_test.go
  utils/utils_supported.go
Labels: approved, lgtm

#10637 [3.0.1-rhel] handle corrupted images
  libpod/image/image.go
  pkg/domain/infra/abi/images.go
  test/system/335-corrupt-layers.bats
Labels: approved, lgtm

#10683 Fix resize race with podman exec -it
  libpod/container_exec.go
  libpod/oci.go
  libpod/oci_attach_linux.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_missing.go
  pkg/api/handlers/compat/exec.go
  pkg/api/handlers/compat/resize.go
  pkg/api/handlers/types.go
  pkg/api/server/register_exec.go
  pkg/bindings/containers/attach.go
  pkg/domain/infra/abi/terminal/terminal_linux.go
  test/system/450-interactive.bats
Labels: approved, lgtm

#10699 [CI:DOCS] Cirrus: Prevent BZ1965743 workaround pruning
  .cirrus.yml
Labels: approved, lgtm

#10692 [CI:DOCS] Fix multi-arch image build clone:failure
  .github/workflows/multi-arch-build.yaml
Labels: approved, lgtm

#10688 Scrub podman commands to use report package
  cmd/podman/containers/mount.go
  cmd/podman/containers/ps.go
  cmd/podman/containers/stats.go
  cmd/podman/containers/top.go
  cmd/podman/images/history.go
  cmd/podman/images/list.go
  cmd/podman/images/mount.go
  cmd/podman/images/search.go
  cmd/podman/images/trust_show.go
  cmd/podman/inspect/inspect.go
  cmd/podman/machine/list.go
  cmd/podman/networks/list.go
  cmd/podman/parse/template.go
  cmd/podman/parse/template_test.go
  cmd/podman/pods/inspect.go
  cmd/podman/pods/ps.go
  cmd/podman/pods/stats.go
  cmd/podman/pods/top.go
  cmd/podman/secrets/inspect.go
  cmd/podman/secrets/list.go
  cmd/podman/system/connection/list.go
  cmd/podman/system/df.go
  cmd/podman/system/events.go
  cmd/podman/system/info.go
  cmd/podman/system/version.go
  cmd/podman/volumes/list.go
  test/apiv2/python/rest_api/test_v2_0_0_image.py
  test/e2e/info_test.go
  test/system/010-images.bats
Labels: approved, kind/bug, lgtm

#10711 Fix documentation of the --format option of podman push
  cmd/podman/images/push.go
  pkg/domain/entities/images.go
Labels: approved, lgtm

#10727 [CI:DOCS] Add an entry for `/run/user-$UID/libpod` to tmpfiles
  contrib/tmpfile/podman.conf
Labels: approved, lgtm

#10068 [CI:DOCS] Add support for `podman login --verbose`
  docs/source/markdown/podman-login.1.md
Labels: approved, lgtm

#10723 fix systemcontext to use correct TMPDIR
  go.mod
  go.sum
  libpod/options.go
  libpod/runtime.go
  vendor/github.com/containers/common/libimage/download.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10734 Fix systemd-resolved detection.
  libpod/container_internal_linux.go
Labels: approved, lgtm

#10681 Bump github.com/containernetworking/plugins to v0.9.1 v3.0.1-rhel
  go.mod
  go.sum
  vendor/github.com/coreos/go-iptables/iptables/iptables.go
  vendor/modules.txt
Labels: approved, lgtm

#10742 logs: k8s-file: restore poll sleep
  libpod/container_log.go
Labels: approved, lgtm, needs-backport

#10751 [v3.2] utils: move message from warning to debug
  utils/utils_supported.go
Labels: approved, lgtm

#10744 [v3.2] logs: k8s-file: restore poll sleep
  libpod/container_log.go
Labels: approved, lgtm

#10697 [CI:DOCS] docs: specify `rmi` removes dangling parents
  docs/source/markdown/podman-rmi.1.md
Labels: approved, lgtm

#10741 Do not use inotify for OCICNI
  go.mod
  go.sum
  libpod/networking_linux.go
  libpod/runtime.go
  vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go
  vendor/modules.txt
Labels: approved, lgtm, needs-backport

#10754 getContainerNetworkInfo: lock netNsCtr before sync
  libpod/networking_linux.go
Labels: approved, lgtm

#10758 disable tty-size exec checks in system tests
  test/system/450-interactive.bats
Labels: approved, lgtm

#10752 [CI:DOCS] push/pull docs: clarify supported transports
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
Labels: approved, lgtm

#10759 markdown/*: typos 'a image'
  docs/source/markdown/podman-image-unmount.1.md
  docs/source/markdown/podman-image.1.md
Labels: approved, lgtm

#10739 create: support images with invalid platform
  cmd/podman/containers/create.go
  go.mod
  go.sum
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/server/register_images.go
  pkg/bindings/images/pull.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_pull_options.go
  pkg/domain/infra/tunnel/images.go
  pkg/errorhandling/errorhandling.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  test/system/255-auto-update.bats
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm, needs-backport

#10676 [CI:DOCS] UPDATE manpages with MANPAGE_SYNTAX
  docs/MANPAGE_SYNTAX.md
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-commit.1.md
  docs/source/markdown/podman-completion.1.md
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-cleanup.1.md
  docs/source/markdown/podman-container-exists.1.md
  docs/source/markdown/podman-container-prune.1.md
  docs/source/markdown/podman-container-restore.1.md
Labels: approved, lgtm

#10696 Podman Stats additional features
  cmd/podman/containers/stats.go
  libpod/define/containerstate.go
  libpod/stats.go
  test/e2e/stats_test.go
Labels: approved, lgtm

#10610 Edited compat handling code for containers/json status and added python tests
  pkg/api/handlers/compat/containers.go
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: approved, lgtm

#10716 Podman Pod Create --cpus and --cpuset-cpus flags
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-pod-create.1.md
  libpod/container_validate.go
  libpod/define/pod_inspect.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime_pod_infra_linux.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  test/e2e/pod_create_test.go
Labels: approved, lgtm

#10756 Add support for volume prune until filter to http api
  pkg/api/server/register_volumes.go
  pkg/domain/filters/volumes.go
  test/apiv2/30-volumes.at
Labels: approved, lgtm

#10747 Add --format to connection list
  cmd/podman/system/connection/list.go
  docs/source/markdown/podman-system-connection-list.1.md
  test/e2e/system_connection_test.go
Labels: approved, kind/feature, lgtm

#10765 Create /etc/mtab with the correct ownership
  libpod/container_internal.go
Labels: approved, lgtm

#10766 [CI:DOCS] Follow-up to PR 10676
  docs/MANPAGE_SYNTAX.md
  docs/source/markdown/podman-container-prune.1.md
  docs/source/markdown/podman-container-restore.1.md
Labels: approved, lgtm

#10763 3.2 backports
  cmd/podman/containers/create.go
  go.mod
  go.sum
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/handlers/utils/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/pull.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_pull_options.go
  pkg/domain/infra/tunnel/images.go
  pkg/errorhandling/errorhandling.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10583 Support log_tag defaults from containers.conf
  pkg/specgen/generate/container.go
  test/e2e/config/containers-journald.conf
  test/e2e/containers_conf_test.go
Labels: approved, lgtm

#10772 cp: do not allow dir->file copying
  cmd/podman/containers/cp.go
  test/system/065-cp.bats
Labels: approved, lgtm, needs-backport

#10773 [CI:DOCS] add @mtrmac to OWNERS
  OWNERS
Labels: approved, lgtm

#10760 [CI:DOCS] podman save: clarify formats and transports
  docs/source/markdown/podman-save.1.md
Labels: approved, lgtm

#10775 [v3.2] cp: do not allow dir->file copying
  cmd/podman/containers/cp.go
  test/system/065-cp.bats
Labels: approved, lgtm

#10771 [NO TESTS NEEDED] Suggestions for typos/ incorrect commands for Podman CLI
  cmd/podman/validate/args.go
Labels: approved, lgtm

#10768 [NO TESTS NEEDED] Swap private and shared mount relabel options
  cmd/podman/common/volumes.go
Labels: approved, lgtm

#10416 pkg/systemd: don't require LISTEN_FDNAMES for socket activation
  pkg/systemd/activation.go
  pkg/systemd/activation_test.go
Labels: approved, lgtm

#10774 remove `pkg/registries`
  cmd/podman/common/completion.go
  cmd/podman/login.go
  cmd/podman/logout.go
  go.mod
  go.sum
  libpod/info.go
  libpod/runtime.go
  libpod/runtime_img_test.go
  pkg/api/handlers/compat/auth.go
  pkg/registries/registries.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/modules.txt
Labels: approved, lgtm

#10736 read secret config from config file if no user data.
  cmd/podman/secrets/create.go
  docs/source/markdown/podman-secret-create.1.md
  pkg/api/handlers/libpod/secrets.go
  pkg/bindings/internal/util/util.go
  pkg/bindings/secrets/types.go
  pkg/bindings/secrets/types_create_options.go
  pkg/domain/entities/secrets.go
  pkg/domain/infra/abi/secrets.go
  pkg/domain/infra/tunnel/secrets.go
  test/e2e/secret_test.go
Labels: approved, lgtm

#10784 [CI:DOCS] Bump to v3.2.2
  README.md
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: approved, lgtm

#10803 Makefile: remove install.cni
  Makefile
  contrib/spec/podman.spec.in
Labels: approved, lgtm

#10819 [NO TESTS NEEDED] Make system connection ls deterministic
  cmd/podman/system/connection/list.go
Labels: approved, lgtm

#10821 Enhance system connection add URL input
  cmd/podman/system/connection/add.go
  docs/source/markdown/podman-system-connection-add.1.md
  test/e2e/system_connection_test.go
Labels: approved, kind/feature, lgtm

#10789 reset: remove external containers on podman system reset
  cmd/podman/system/reset.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/ps/ps.go
Labels: approved, lgtm

#10749 Add CNI rootless networking troubleshooting for v2.2.1
  troubleshooting.md
Labels: approved, lgtm

#10823 vendor containers/common@7482cf851dcc
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/push.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/github.com/containers/common/pkg/sysinfo/numcpu_linux.go
  vendor/github.com/containers/common/pkg/sysinfo/nummem_linux.go
  vendor/github.com/containers/common/pkg/sysinfo/nummem_unsupported.go
  vendor/modules.txt
Labels: approved, lgtm

#10827 Cirrus: Fixes due to master->main rename
  .cirrus.yml
  Makefile
  contrib/cirrus/lib.sh
  contrib/cirrus/pr-should-include-tests
  contrib/cirrus/runner.sh
  hack/get_release_info.sh
  hack/release.sh
Labels: approved, lgtm

#10816 Handle advanced --network options in podman play kube
  cmd/podman/common/netflags.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/namespaces.go
  test/system/700-play.bats
Labels: approved, lgtm
