Repository containers/podman, pull requests merged in 2021-12, with the labels that each got.

#12463 [3.4] systemd: replace multi-user with default.target
  contrib/systemd/auto-update/podman-auto-update.service
  contrib/systemd/system/podman-restart.service
  contrib/systemd/system/podman.service
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/machine/ignition.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/systemd_test.go
  test/system/255-auto-update.bats
  troubleshooting.md
Labels: lgtm, approved

#12462 top: parse ps(1) args correctly
  libpod/container_top_linux.go
  test/e2e/top_test.go
Labels: lgtm, approved

#12464 container, cgroup: detect pid termination
  libpod/container.go
Labels: lgtm, approved

#12450 podman, push: expose --compression-format
  cmd/podman/common/completion.go
  cmd/podman/images/push.go
  docs/source/markdown/podman-push.1.md
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  test/e2e/push_test.go
Labels: lgtm, approved

#12307 Implement 'podman run --blkio-weight-device'
  pkg/specgen/generate/oci.go
  pkg/specgenutil/specgen.go
  test/system/180-blkio.bats
Labels: lgtm, approved

#12460 [NO NEW TESTS NEEDED] Refactor podman container command output
  cmd/podman/containers/mount.go
  cmd/podman/containers/ps.go
  cmd/podman/containers/stats.go
  cmd/podman/containers/top.go
Labels: lgtm, approved, kind/bug

#12458 e2e: yet more cleanup of BeTrue/BeFalse
  test/e2e/checkpoint_test.go
  test/e2e/commit_test.go
  test/e2e/containers_conf_test.go
  test/e2e/create_test.go
  test/e2e/generate_kube_test.go
  test/e2e/images_test.go
  test/e2e/load_test.go
  test/e2e/network_test.go
  test/e2e/prune_test.go
  test/e2e/restart_test.go
  test/e2e/rmi_test.go
  test/e2e/run_dns_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_passwd_test.go
  test/e2e/run_privileged_test.go
  test/e2e/run_signal_test.go
  test/e2e/run_test.go
  test/e2e/run_volume_test.go
  test/e2e/search_test.go
  test/e2e/volume_rm_test.go
Labels: lgtm, approved

#12472 [CI:DOCS] Add ashley-cui, lsm5 and floutoc to owners
  OWNERS
Labels: lgtm, approved

#12425 Fixed the containerfile not found during remote build
  pkg/bindings/images/build.go
Labels: lgtm, approved

#12471 e2e tmpdir cleanup
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/utils/utils.go
Labels: lgtm, approved

#12480 compat: images/json
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
Labels: lgtm, approved

#12455 Refactor podman image command output
  cmd/podman/images/history.go
  cmd/podman/images/list.go
  cmd/podman/images/mount.go
  cmd/podman/images/search.go
  cmd/podman/images/trust_show.go
  cmd/podman/inspect/inspect.go
  cmd/podman/machine/list.go
  cmd/podman/networks/list.go
  cmd/podman/pods/inspect.go
  cmd/podman/pods/ps.go
  cmd/podman/pods/stats.go
  cmd/podman/secrets/list.go
  cmd/podman/system/connection/list.go
  cmd/podman/system/version.go
  cmd/podman/volumes/list.go
  test/system/010-images.bats
  test/system/110-history.bats
Labels: lgtm, approved, kind/bug

#12365 Don't use a global RNG, and avoid conflicts, when generating NodePorts
  libpod/kube.go
  pkg/domain/infra/abi/generate.go
Labels: lgtm, approved

#12445 [CI:DOCS] Update doc to explictly mention using ed25519 in ssh keys
  docs/tutorials/remote_client.md
Labels: lgtm, approved

#12482 e2e tests: use HaveKey() and HaveLen() when possible
  test/e2e/build_test.go
  test/e2e/checkpoint_test.go
  test/e2e/commit_test.go
  test/e2e/container_create_volume_test.go
  test/e2e/create_test.go
  test/e2e/diff_test.go
  test/e2e/events_test.go
  test/e2e/exec_test.go
  test/e2e/generate_kube_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/history_test.go
  test/e2e/image_scp_test.go
  test/e2e/images_test.go
  test/e2e/inspect_test.go
  test/e2e/logs_test.go
  test/e2e/mount_test.go
  test/e2e/network_test.go
  test/e2e/pause_test.go
  test/e2e/play_build_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/pod_pod_namespaces_test.go
  test/e2e/pod_prune_test.go
  test/e2e/pod_ps_test.go
  test/e2e/pod_rm_test.go
  test/e2e/pod_top_test.go
  test/e2e/prune_test.go
  test/e2e/ps_test.go
  test/e2e/pull_test.go
  test/e2e/rmi_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_env_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_privileged_test.go
  test/e2e/run_test.go
  test/e2e/run_userns_test.go
  test/e2e/run_volume_test.go
  test/e2e/search_test.go
  test/e2e/secret_test.go
  test/e2e/stats_test.go
  test/e2e/system_connection_test.go
  test/e2e/system_df_test.go
  test/e2e/system_reset_test.go
  test/e2e/systemd_test.go
  test/e2e/trust_test.go
  test/e2e/volume_create_test.go
  test/e2e/volume_inspect_test.go
  test/e2e/volume_ls_test.go
  test/e2e/volume_plugin_test.go
  test/e2e/volume_prune_test.go
  test/e2e/volume_rm_test.go
Labels: lgtm, approved

#12483 compat API: push: report size of manifest
  pkg/api/handlers/compat/images_push.go
Labels: lgtm, approved

#12488 [CI:DOCS] logformatter: fix corner case with links
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
Labels: lgtm, approved

#12486 cmd, push: use the configured compression format
  go.mod
  go.sum
  pkg/domain/infra/abi/images.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/nosystemd.go
  vendor/github.com/containers/common/pkg/config/systemd.go
  vendor/github.com/containers/common/pkg/manifests/manifests.go
  vendor/github.com/jinzhu/copier/copier.go
  vendor/github.com/jinzhu/copier/go.mod
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Labels: lgtm, approved

#12484 Add restart-sec option to systemd generate command
  cmd/podman/generate/systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/api/handlers/libpod/generate.go
  pkg/api/server/register_generate.go
  pkg/bindings/generate/types.go
  pkg/bindings/generate/types_systemd_options.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved

#12440 Add support for configmap volumes to play kube
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/volume.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#12489 Improve documentation of (podman image save)
  docs/source/markdown/podman-save.1.md
Labels: lgtm, approved

#12496 Backports for v3.4.2-rhel
  libpod/container.go
  libpod/container_internal_linux.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/run_test.go
  test/system/035-logs.bats
  test/system/130-kill.bats
Labels: lgtm, approved

#12466 Hostname in `spec.hostname` should be passed to infra ctr init opt
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#12491 add spec file for automated copr builds
  .autocopr/README
  .autocopr/podman.spec
Labels: lgtm, approved

#12500 centos 9 stream cannot use %autochangelog
  .autocopr/podman.spec
Labels: lgtm, approved

#12511 Fixes #11416 - Trailing quote on PATH added by Windows MSI
  contrib/msi/podman.wxs
Labels: lgtm, approved

#12514 vendor c/common@main
  go.mod
  go.sum
  test/e2e/images_test.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/image/v5/manifest/manifest.go
  vendor/github.com/containers/image/v5/manifest/oci.go
  vendor/github.com/containers/image/v5/manifest/oci_index.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config.go
  vendor/modules.txt
Labels: lgtm, approved

#12487 Refactor podman system to report.Formatter
  cmd/podman/system/connection/list.go
  cmd/podman/system/df.go
  cmd/podman/system/events.go
  cmd/podman/system/info.go
  cmd/podman/system/version.go
  test/system/001-basic.bats
Labels: lgtm, approved, kind/bug

#12518 e2e: fix pprof flakes
  test/e2e/system_service_test.go
Labels: lgtm, approved

#12517 podman machine: use gvproxy for host.containers.internal
  libpod/container_internal_linux.go
Labels: lgtm, approved

#12519 fix remote run/start flake
  test/system/035-logs.bats
Labels: lgtm, approved

#12522 tests: clean up FIXMEs and noise
  test/e2e/import_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_networking_test.go
  test/system/600-completion.bats
Labels: lgtm, approved

#12490 Refactor podman pods to report.Formatter
  cmd/podman/pods/inspect.go
  cmd/podman/pods/ps.go
  cmd/podman/pods/stats.go
Labels: lgtm, approved, kind/bug

#12526 [CI:DOCS] Cirrus: Remove remnants of nix-based static build
  README.md
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#12498 Update vendor or containers/common moving pkg/cgroups there
  cmd/podman/common/create_opts.go
  cmd/podman/containers/pause.go
  cmd/podman/containers/unpause.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/info.go
  libpod/oci_conmon_linux.go
  libpod/pod_api.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/stats.go
  libpod/util_linux.go
  pkg/api/handlers/compat/containers_stats.go
  pkg/api/handlers/libpod/containers_stats.go
  pkg/cgroups/cgroups_test.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/pods_stats.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/runtime_libpod.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/validate.go
  pkg/specgen/namespaces.go
  test/e2e/common_test.go
  test/e2e/run_test.go
  utils/utils.go
  utils/utils_supported.go
  vendor/github.com/containers/common/pkg/cgroups/blkio.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_supported.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_unsupported.go
  vendor/github.com/containers/common/pkg/cgroups/cpu.go
  vendor/github.com/containers/common/pkg/cgroups/cpuset.go
  vendor/github.com/containers/common/pkg/cgroups/memory.go
  vendor/github.com/containers/common/pkg/cgroups/pids.go
  vendor/github.com/containers/common/pkg/cgroups/systemd.go
  vendor/modules.txt
Labels: lgtm, approved

#12532 autocopr: distro conditionals for containers-common
  .autocopr/podman.spec
Labels: lgtm, approved

#12524 rootless netns: resolve all path components for resolv.conf
  libpod/networking_linux.go
Labels: lgtm, approved

#12538 utils: reintroduce moveToCgroup
  utils/utils_supported.go
Labels: lgtm, approved

#12540 [v3.4] backport: utils: reintroduce moveToCgroup
  utils/utils_supported.go
Labels: lgtm, approved

#12529 remove runlabel test for global opts
  pkg/domain/infra/abi/containers_runlabel.go
  test/e2e/runlabel_test.go
Labels: lgtm, approved

#12546 [3.4] Fix failing tests
  test/system/035-logs.bats
  test/system/450-interactive.bats
Labels: lgtm, approved

#12541 specgen: honor empty args for entrypoint specified as `--entrypoint ""`
  pkg/specgenutil/specgen.go
  test/e2e/run_entrypoint_test.go
Labels: lgtm, approved

#12549 Bump to v3.4.4
  RELEASE_NOTES.md
  contrib/spec/podman.spec.in
  libpod/container_internal_linux.go
  pkg/specgenutil/specgen.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_volume_test.go
  version/version.go
Labels: lgtm, approved

#12545 generate systemd: support entrypoint JSON strings
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  test/system/250-systemd.bats
Labels: lgtm, approved

#12557 inotify: make sure to remove files
  libpod/util.go
Labels: lgtm, approved

#12556 System tests: remove rm_pause_image()
  test/system/200-pod.bats
Labels: lgtm, approved

#12547 [CI:DOCS] Cirrus: Use cached swagger binary
  .cirrus.yml
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#12555 --hostname should be set with podman create --pod new:PODNAME
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  pkg/domain/entities/types.go
  pkg/specgen/generate/namespaces.go
  test/system/200-pod.bats
Labels: lgtm, approved

#12564 rootless: declare TEMP_FAILURE_RETRY before usage (Fixes: #12563)
  pkg/rootless/rootless_linux.c
Labels: lgtm, approved

#12569 pprof CI flakes: enforce 5 seconds grace period
  test/e2e/system_service_test.go
Labels: lgtm, approved

#12573 fix e2e test missing network cleanup
  test/e2e/network_test.go
Labels: lgtm, approved

#12581 [CI:DOCS] Cirrus: Temp. ignore gitlab task failures
  .cirrus.yml
Labels: lgtm, approved

#12571 compat build: adhere to q/quiet
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: lgtm, approved

#12588 pprof flakes: bump timeout to 20 seconds
  test/e2e/system_service_test.go
Labels: lgtm, approved

#12585 network ls: show networks in deterministic order
  cmd/podman/networks/list.go
  test/system/500-networking.bats
Labels: lgtm, approved

#12593 pause scope: don't use the global math/rand RNG
  utils/utils.go
Labels: lgtm, approved

#12594 [CI:DOCS] Update Windows Install Doc
  docs/tutorials/mac_win_client.md
Labels: approved

#12586 Add secret list --filter to cli
  cmd/podman/common/completion.go
  cmd/podman/secrets/list.go
  cmd/podman/volumes/list.go
  cmd/podman/volumes/prune.go
  docs/source/markdown/podman-secret-ls.1.md
  test/e2e/secret_test.go
Labels: lgtm, approved

#12595 fix network id handling
  cmd/podman/common/completion.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/infra/abi/pods.go
  pkg/network/network.go
Labels: lgtm, approved, 4.0

#12596 apiv2 tests: refactor complicated curls
  test/apiv2/10-images.at
  test/apiv2/35-networks.at
  test/apiv2/README.md
  test/apiv2/test-apiv2
Labels: lgtm, approved

#12600 Show --external containers even without --all option
  docs/source/markdown/podman-ps.1.md
  pkg/ps/ps.go
  test/system/040-ps.bats
Labels: lgtm, approved

#12601 APIv2 tests: fail on syntax/logic errors
  test/apiv2/01-basic.at
  test/apiv2/10-images.at
  test/apiv2/20-containers.at
  test/apiv2/test-apiv2
Labels: lgtm, approved

#12619 e2e: search flake: skip test on registry.redhat.io
  test/e2e/search_test.go
Labels: lgtm, approved

#12603 kill: fix output
  cmd/podman/containers/kill.go
  test/system/130-kill.bats
Labels: lgtm, approved

#12618 oci: configure the devices cgroup with default devices
  pkg/specgen/generate/oci.go
  test/e2e/run_device_test.go
Labels: lgtm, approved

#12623 [CI:DOCS] .github: revert to the old template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: lgtm, approved

#12602 [v3.4.2-rhel] Add restart-sec option to systemd generate
  cmd/podman/generate/systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/api/handlers/libpod/generate.go
  pkg/api/server/register_generate.go
  pkg/bindings/generate/types.go
  pkg/bindings/generate/types_systemd_options.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved, do-not-merge/hold

#12606 bindings rmi test: clarify behavior
  pkg/bindings/test/images_test.go
Labels: lgtm, approved

#12610 MovePauseProcessToScope do not seed everytime
  utils/utils.go
Labels: lgtm, approved

#12609 Set machine timezone
  cmd/podman/machine/init.go
  docs/source/markdown/podman-machine-init.1.md
  pkg/machine/config.go
  pkg/machine/ignition.go
  pkg/machine/ignition_darwin.go
  pkg/machine/ignition_linux.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#12634 Removed .service file for healthchecks
  libpod/container_internal.go
  libpod/healthcheck_linux.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved

#12622 build: relay `exitcode` from imagebuildah to registry
  cmd/podman/images/build.go
  cmd/podman/utils/error.go
  test/e2e/build_test.go
  test/system/070-build.bats
Labels: lgtm, approved

#12625 Add more checkpoint/restore information to 'inspect'
  libpod/container.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved

#12641 rootless: include the args in the debug message
  pkg/rootless/rootless_linux.go
Labels: lgtm, approved

#12626 image rm: allow for force-remove infra images
  libpod/runtime_img.go
  test/system/010-images.bats
Labels: lgtm, approved

#12648 fix(generate): fix up podman generate kube missing env field bug
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved

#12655 build: fix test for subid 4
  go.mod
  go.sum
  hack/libsubid_tag.sh
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/homedir/homedir.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_others.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_unix.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_windows.go
  vendor/github.com/containers/storage/pkg/idtools/idtools_supported.go
  vendor/github.com/containers/storage/types/options.go
  vendor/modules.txt
Labels: lgtm, approved

#12640 apiv2 tests: use quay.io/libpod/testimage:20210610 for platform tests
  test/apiv2/10-images.at
Labels: lgtm, approved

#12621 specgen: honor userns=auto from containers.conf
  pkg/specgen/generate/container_create.go
  test/system/170-run-userns.bats
Labels: lgtm, approved

#12659 [CI:DOCS] Explicitly mention that checkpointing systemd containers might fail
  docs/source/markdown/podman-container-checkpoint.1.md
Labels: lgtm, approved

#12662 [CI:DOCS] Small checkpoint/restore man page fixes
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-restore.1.md
Labels: lgtm, approved

#12663 compat: image normalization: handle sha256 prefix
  pkg/api/handlers/utils/images.go
  test/python/docker/compat/test_images.py
Labels: lgtm, approved

#12670 ci: force scratch build for crun
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved

#12664 Podman run --passwd
  cmd/podman/containers/run.go
  docs/source/markdown/podman-run.1.md
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/options.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/run_passwd_test.go
Labels: lgtm, approved

#12668 support hosts without /etc/hosts
  libpod/container_internal_linux.go
  test/system/030-run.bats
Labels: lgtm, approved

#12375 Use hosts public ip address in rootless containers
  libpod/container_internal_linux.go
  test/system/500-networking.bats
Labels: lgtm, approved

#12685 Always run passwd management code when DB value is nil
  libpod/container_internal_linux.go
Labels: lgtm, approved

#12665 Enable checkpoint/restore of /dev/shm content
  go.mod
  go.sum
  libpod/container_internal_linux.go
  test/e2e/checkpoint_test.go
  vendor/github.com/checkpoint-restore/checkpointctl/lib/metadata.go
  vendor/modules.txt
Labels: lgtm, approved

#12597 [Fixes #11089] Switch to a new installer approach using a path manipulation helper
  Makefile
  cmd/winpath/main.go
  contrib/msi/podman.wxs
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/mksyscall.go
  vendor/golang.org/x/sys/windows/registry/syscall.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/registry/zsyscall_windows.go
  vendor/modules.txt
Labels: lgtm, approved

#12599 Warn on use of --kernel-memory
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  libpod/container_inspect.go
  pkg/api/handlers/compat/info.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/validate.go
  pkg/specgenutil/specgen.go
  test/e2e/run_memory_test.go
  test/system/030-run.bats
Labels: lgtm, approved

#12672 Error out early if system does not support pre-copy checkpointing
  cmd/podman/containers/checkpoint.go
  docs/source/markdown/podman-container-checkpoint.1.md
  go.mod
  go.sum
  pkg/criu/criu.go
  pkg/criu/criu_unsupported.go
  test/e2e/checkpoint_test.go
  vendor/github.com/checkpoint-restore/go-criu/v5/Makefile
  vendor/github.com/checkpoint-restore/go-criu/v5/features.go
  vendor/github.com/checkpoint-restore/go-criu/v5/main.go
  vendor/modules.txt
Labels: lgtm, approved

#12692 [CI:DOCS] docs: document rootless userns mappings
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#12679 clarify `io.podman.annotations.seccomp`
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/define/annotations.go
  pkg/specgen/generate/container.go
  test/e2e/build_test.go
Labels: lgtm, approved

#12627 Allow users to add host user accounts to /etc/passwd
  cmd/podman/common/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_config.go
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  pkg/util/utils.go
  test/system/030-run.bats
  test/system/helpers.bash
Labels: lgtm, approved

#12705 Compat api containers ImageId missing sha256
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, kind/bug

#12718 [CI:DOCS] Add example of cpus to init command
  docs/tutorials/mac_experimental.md
Labels: lgtm, approved
