Repository containers/podman, pull requests merged in 2021-03, with the labels that each got.

#9527 Enable no_hosts from containers.conf
  cmd/podman/common/netflags.go
  cmd/podman/containers/create.go
  test/e2e/config/containers.conf
  test/e2e/containers_conf_test.go
Labels: approved, lgtm

#9509 Correct compat images/create?fromImage response
  libpod/image/image.go
  libpod/image/image_test.go
  libpod/image/pull.go
  libpod/rootless_cni_linux.go
  libpod/runtime_pod_infra_linux.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/autoupdate/autoupdate.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/play.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#9548 [v1.6.4-rhel] Fix RHBZ#1930552
  libpod/oci_conmon_linux.go
Labels: approved

#9531 compat api network ls accept both format options
  pkg/api/handlers/compat/networks.go
  test/apiv2/35-networks.at
Labels: approved, lgtm

#9542 podman rmi: handle corrupted storage better
  libpod/image/layer_tree.go
Labels: approved, lgtm

#9142 [CI:DOCS]First pass at release process
  RELEASE_PROCESS.md
Labels: approved, lgtm

#9552 [v3.0.1-rhel] Fix RHBZ#1932083
  contrib/rootless-cni-infra/README.md
  libpod/rootless_cni_linux.go
  test/e2e/create_staticmac_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/run_networking_test.go
  test/system/500-networking.bats
Labels: approved, lgtm

#9555 APIv2 tests: make more maintainable
  test/apiv2/20-containers.at
  test/apiv2/30-volumes.at
  test/apiv2/35-networks.at
  test/apiv2/45-system.at
  test/apiv2/50-secrets.at
  test/apiv2/test-apiv2
Labels: approved, lgtm

#9556 Refactor python tests to run against python3.9
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/python/__init__.py
  test/python/docker/__init__.py
  test/python/docker/compat/README.md
  test/python/docker/compat/__init__.py
  test/python/docker/compat/common.py
  test/python/docker/compat/constant.py
  test/python/docker/compat/test_containers.py
  test/python/docker/compat/test_images.py
  test/python/docker/compat/test_system.py
  test/python/requirements.txt
Labels: approved, kind/bug, lgtm

#9549 [v3.0.1-rhel] Add missing patches
  cmd/podman/containers/cp.go
  go.mod
  go.sum
  pkg/domain/infra/abi/archive.go
  test/system/065-cp.bats
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_others.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_unix.go
  vendor/modules.txt
Labels: approved, lgtm

#9565 Bump RootlessKit v0.14.0-beta.0
  go.mod
  go.sum
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/api.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/api/openapi.yaml
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/child/child.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/msg/msg.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/parent.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/tcp/tcp.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/udp/udp.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/port.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/portutil/portutil.go
  vendor/modules.txt
Labels: approved, lgtm

#9563 Compat api containers/json Ports field is null
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#9561 Bump github.com/cri-o/ocicni to latest master
  go.mod
  go.sum
  vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go
  vendor/modules.txt
Labels: approved, lgtm

#9557 [NO TESTS NEEDED] Makefile: split install.docker-docs from install.docker
  Makefile
Labels: approved, lgtm

#9560 [NO TESTS NEEDED] swagger: update the libpodPutArchive verb
  pkg/api/server/register_archive.go
Labels: approved, lgtm

#9512 Fix parsing of Tmpfs field in compat create
  cmd/podman/common/create_opts.go
  test/apiv2/44-mounts.at
Labels: approved, lgtm

#9477 Tidy duplicate log tests
  libpod/container_log.go
  libpod/container_log_linux.go
  test/e2e/logs_test.go
Labels: approved, lgtm

#9521 Reorder checkpoint/restore code for CRI-O
  go.mod
  go.sum
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/oci_conmon_linux.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/checkpoint/crutils/checkpoint_restore_utils.go
  vendor/github.com/checkpoint-restore/checkpointctl/LICENSE
  vendor/github.com/checkpoint-restore/checkpointctl/lib/metadata.go
  vendor/modules.txt
Labels: approved, lgtm

#9580 Fix support for podman build --timestamp
  cmd/podman/images/build.go
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/e2e/build_test.go
Labels: approved, lgtm

#9583 Add version field to secret compat list/inspect api
  pkg/api/handlers/compat/secrets.go
  pkg/api/server/register_secrets.go
  pkg/domain/entities/secrets.go
  test/apiv2/50-secrets.at
Labels: approved, lgtm

#9581 Add network summary to compat ps
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#9595 Fix possible panic with podman build --iidfile
  cmd/podman/images/build.go
Labels: approved, lgtm

#9536 Enable cgroupsv2 rw mount via security-opt unmask
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/generate/oci.go
  test/e2e/run_test.go
Labels: approved, lgtm

#9605 Makefile: add install.docker-docs-nobuild for packaging use
  Makefile
Labels: approved, lgtm

#9614 Fix cni teardown errors
  libpod/networking_linux.go
  test/e2e/network_connect_disconnect_test.go
Labels: Backport to v3.0, approved, lgtm

#9601 Use version package to track all versions
  libpod/define/version.go
  pkg/api/handlers/compat/version.go
  pkg/api/handlers/utils/handler.go
  pkg/api/handlers/utils/handler_test.go
  pkg/api/server/handler_api.go
  pkg/bindings/bindings.go
  pkg/bindings/connection.go
  pkg/bindings/test/attach_test.go
  pkg/bindings/test/common_test.go
  pkg/bindings/test/containers_test.go
  pkg/bindings/test/exec_test.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/info_test.go
  pkg/bindings/test/pods_test.go
  pkg/bindings/test/system_test.go
  test/apiv2/01-basic.at
  version/version.go
Labels: APIv2, approved, kind/bug, lgtm

#9617 image removal: ignore unknown-layer errors
  pkg/domain/infra/abi/images.go
Labels: Backport to v3.0, approved, lgtm

#9568 [ci:docs] podman-system-service.1.md: fix timeout example
  docs/source/markdown/podman-system-service.1.md
Labels: approved, lgtm

#9550 Support label type dict on compat build
  pkg/api/handlers/compat/images_build.go
  test/python/docker/build_labels/Dockerfile
  test/python/docker/compat/test_images.py
Labels: approved, lgtm

#9604 Compat API: create volume source dirs on the host
  cmd/podman/common/create_opts.go
  test/apiv2/44-mounts.at
Labels: Backport to v3.0, approved, lgtm

#9598 Check for supportsKVM based on basename of the runtime
  libpod/oci_conmon_linux.go
  test/e2e/run_selinux_test.go
  test/system/410-selinux.bats
Labels: approved, lgtm

#9607 Respect NanoCpus in Compat Create
  cmd/podman/common/create_opts.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#9623 Bump version of buildah for overlay mounts fixes
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/common.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/copier/syscall_unix.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/modules.txt
Labels: approved, lgtm

#9593 podman cp: support copying on tmpfs mounts
  cmd/podman/containers/cp.go
  libpod/container.go
  libpod/container_api.go
  libpod/container_copy_linux.go
  libpod/container_copy_unsupported.go
  libpod/container_internal.go
  libpod/container_path_resolution.go
  libpod/container_stat_linux.go
  libpod/container_stat_unsupported.go
  libpod/define/fileinfo.go
  pkg/copy/fileinfo.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/archive.go
  pkg/domain/infra/abi/containers_stat.go
  test/e2e/cp_test.go
  test/system/065-cp.bats
Labels: approved, lgtm

#9622 Fix podman network rm (-f) workflow
  pkg/domain/infra/abi/network.go
  test/e2e/network_test.go
Labels: approved, lgtm

#9624 [NO TESTS NEEDED] Do not return from c.stop() before re-locking
  libpod/container_internal.go
Labels: approved, lgtm

#9635 podman-remote stop -time 0 does not work
  pkg/api/handlers/compat/containers_stop.go
  test/e2e/stop_test.go
Labels: approved, lgtm

#9599 Add tests for selinux kvm/init labels
  test/system/410-selinux.bats
Labels: approved, lgtm

#9641 [ci skip] Bad formatting fix in build documentation
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#9640 Bump github.com/containernetworking/plugins to v0.9.1
  go.mod
  go.sum
  vendor/github.com/coreos/go-iptables/iptables/iptables.go
  vendor/modules.txt
Labels: approved, lgtm

#9648 [NO TESTS NEEDED] Cleanup/unify mount consts
  cmd/podman/common/volumes.go
  libpod/define/mount.go
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/storage.go
Labels: approved, lgtm

#9647 Compat API: Fix the response of 'push image' endpoint
  libpod/image/image.go
  pkg/api/handlers/compat/images_push.go
  pkg/api/handlers/libpod/images.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  test/apiv2/12-imagesMore.at
Labels: approved, lgtm

#9649 Allow users to generate a kubernetes yaml off non running containers
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#9592 Numerous buildah fixes found by Ed's testing of buildah tests against podman.
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: approved, lgtm

#9664 Cirrus: Simplify CI for minimal testing
  .cirrus.yml
Labels: approved, lgtm

#9627 [NO TESTS NEEDED] Bump pre-commit-hooks version
  .pre-commit-config.yaml
Labels: approved, lgtm, ok-to-test

#9665 [NO TESTS NEEDED] Compat API: Avoid trying to create volumes if they already exist
  cmd/podman/common/create_opts.go
Labels: approved, lgtm

#9667 [CI:DOCS] Bump to v3.1.0-RC1
  changelog.txt
  contrib/spec/podman.spec.in
Labels: approved, lgtm

#8172 [NO TESTS NEEDED] allow the removal of storage images
  libpod/runtime_img.go
  pkg/domain/infra/abi/images.go
Labels: approved, lgtm

#9651 [NO TESTS NEEDED] podman-remote build does not support volumes
  cmd/podman/images/build.go
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-cleanup.1.md
  docs/source/markdown/podman-container-restore.1.md
  docs/source/markdown/podman-container-runlabel.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-diff.1.md
  docs/source/markdown/podman-exec.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-generate.1.md
  docs/source/markdown/podman-image-sign.1.md
  docs/source/markdown/podman-image-trust.1.md
  docs/source/markdown/podman-init.1.md
  docs/source/markdown/podman-inspect.1.md
  docs/source/markdown/podman-kill.1.md
  docs/source/markdown/podman-login.1.md
  docs/source/markdown/podman-logs.1.md
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-mount.1.md
  docs/source/markdown/podman-network-reload.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-inspect.1.md
  docs/source/markdown/podman-pod-kill.1.md
  docs/source/markdown/podman-pod-pause.1.md
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman-pod-restart.1.md
  docs/source/markdown/podman-pod-rm.1.md
  docs/source/markdown/podman-pod-start.1.md
  docs/source/markdown/podman-pod-stats.1.md
  docs/source/markdown/podman-pod-stop.1.md
  docs/source/markdown/podman-pod-top.1.md
  docs/source/markdown/podman-pod-unpause.1.md
  docs/source/markdown/podman-port.1.md
  docs/source/markdown/podman-ps.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
  docs/source/markdown/podman-restart.1.md
  docs/source/markdown/podman-rm.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-start.1.md
  docs/source/markdown/podman-stats.1.md
  docs/source/markdown/podman-stop.1.md
  docs/source/markdown/podman-top.1.md
  docs/source/markdown/podman-unmount.1.md
  docs/source/markdown/podman-wait.1.md
Labels: approved, lgtm

#9671 rm pkg/api/handlers/libpod/copy.go
  pkg/api/handlers/libpod/copy.go
Labels: approved, lgtm

#9630 podman cp: ignore EPERMs in rootless mode
  cmd/podman/containers/cp.go
  docs/source/markdown/podman-cp.1.md
  go.mod
  go.sum
  libpod/container_copy_linux.go
  libpod/container_stat_linux.go
  test/e2e/cp_test.go
  test/system/065-cp.bats
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/modules.txt
Labels: approved, lgtm

#9677 podman load: fix error handling
  libpod/runtime_img.go
  test/system/120-load.bats
Labels: approved, lgtm

#9669 apiv2 tests: add helpers to start/stop a local registry
  test/apiv2/60-auth.at
  test/apiv2/test-apiv2
Labels: approved, lgtm

#9676 options: append CLI graph driver options
  libpod/options.go
Labels: approved, lgtm

#9681 Removing a non existing container API should return 404
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/containers.go
  pkg/domain/infra/abi/containers.go
  test/apiv2/20-containers.at
  test/system/050-stop.bats
Labels: approved, lgtm

#9668 Document CONTAINERS_CONF/CONTAINERS_STORAGE_CONF Env variables
  docs/source/markdown/podman.1.md
  hack/podman-socat
  libpod/runtime_img_test.go
  pkg/registries/registries.go
  test/apiv2/rest_api/__init__.py
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/login_logout_test.go
  test/python/docker/__init__.py
Labels: approved, lgtm

#9652 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#9638 [NO TESTS NEEDED] Podman machine CLI and interface stub
  cmd/podman/machine/config.go
  cmd/podman/machine/create.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  cmd/podman/main.go
  docs/source/Commands.rst
  docs/source/machine.rst
  docs/source/markdown/podman-machine-create.1.md
  docs/source/markdown/podman-machine-start.1.md
  docs/source/markdown/podman-machine-stop.1.md
  docs/source/markdown/podman-machine.1.md
  docs/source/markdown/podman.1.md
Labels: approved, lgtm

#9683 [v3.0.1-rhel] backport `podman cp` fixes
  cmd/podman/containers/cp.go
  libpod/container.go
  libpod/container_api.go
  libpod/container_copy_linux.go
  libpod/container_copy_unsupported.go
  libpod/container_internal.go
  libpod/container_path_resolution.go
  libpod/container_stat_linux.go
  libpod/container_stat_unsupported.go
  libpod/define/fileinfo.go
  pkg/copy/fileinfo.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/archive.go
  pkg/domain/infra/abi/containers_stat.go
  test/e2e/cp_test.go
  test/system/065-cp.bats
Labels: approved, lgtm

#9524 [Compat API] Also print successfully tagging images in /build endpoint
  pkg/api/handlers/compat/images_build.go
  pkg/api/server/register_images.go
Labels: approved, lgtm

#9686 apiv2 tests: finally fix POST as originally intended
  test/apiv2/01-basic.at
  test/apiv2/10-images.at
  test/apiv2/12-imagesMore.at
  test/apiv2/20-containers.at
  test/apiv2/22-stop.at
  test/apiv2/25-containersMore.at
  test/apiv2/26-containersWait.at
  test/apiv2/30-volumes.at
  test/apiv2/35-networks.at
  test/apiv2/40-pods.at
  test/apiv2/44-mounts.at
  test/apiv2/45-system.at
  test/apiv2/50-secrets.at
  test/apiv2/README.md
  test/apiv2/test-apiv2
Labels: approved, lgtm

#9696 Bump containers/image to v5.10.5 in the v3.0.1-rhel branch
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#9697 sdnotify tests: try real hard to kill socat processes
  test/system/260-sdnotify.bats
Labels: approved, lgtm

#9699 Delete all containers and pods between tests
  test/apiv2/rest_api/__init__.py
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: approved, kind/test-flake, lgtm

#9703 [NO TESTS NEEDED] create endpoint for querying libpod networks
  pkg/api/server/register_networks.go
Labels: approved, lgtm

#9716 Do not leak libpod package into the remote client
  cmd/podman/common/completion.go
  cmd/podman/common/specgen.go
  cmd/podman/networks/list.go
  cmd/podman/parse/filters.go
  cmd/podman/system/prune.go
  cmd/podman/volumes/prune.go
  libpod/container.go
  libpod/container_internal.go
  libpod/define/container.go
  libpod/kube.go
  libpod/network/files.go
  libpod/network/netconflist.go
  libpod/network/network.go
  libpod/options.go
  pkg/api/handlers/compat/networks.go
  pkg/autoupdate/autoupdate.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/infra/abi/play.go
  pkg/network/network.go
  pkg/systemd/define/const.go
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  test/e2e/containers_conf_test.go
Labels: approved, lgtm

#9719 System test cleanup
  test/apiv2/44-mounts.at
  test/system/065-cp.bats
  test/system/070-build.bats
  test/system/120-load.bats
  test/system/700-play.bats
Labels: approved, lgtm

#9589 add /auth for docker compatibility
  pkg/api/handlers/compat/auth.go
  pkg/api/server/register_auth.go
  pkg/api/server/swagger.go
  pkg/domain/entities/system.go
  test/apiv2/60-auth.at
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: approved, lgtm

#9695 Fix array instead of one elem network http api
  pkg/api/handlers/libpod/networks.go
  pkg/api/handlers/libpod/swagger.go
  pkg/bindings/network/network.go
  test/apiv2/35-networks.at
Labels: approved, lgtm

#9711 Fix for volumes prune in http compat api when using filters
  pkg/api/handlers/compat/volumes.go
  test/apiv2/30-volumes.at
Labels: approved, kind/bug, lgtm

#9728 [CI:DOCS] removing secrets is safe for in-use secrets
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-secret-rm.1.md
Labels: approved, lgtm

#9722 [2.2] oci: use /proc/self/fd/FD to open unix socket
  libpod/oci_attach_linux.go
  libpod/oci_attach_linux_cgo.go
  libpod/oci_attach_linux_nocgo.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#9737 [2-2.1-rhel] oci: use /proc/self/fd/FD to open unix socket
  libpod/oci_attach_linux.go
  libpod/oci_attach_linux_cgo.go
  libpod/oci_attach_linux_nocgo.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#9732 [v3.0.1-rhel] podman cp: ignore EPERMs in rootless mode
  docs/source/markdown/podman-cp.1.md
  go.mod
  go.sum
  libpod/container_copy_linux.go
  test/e2e/containers_conf_test.go
  test/e2e/cp_test.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/modules.txt
Labels: approved, lgtm

#9717 [NO TESTS NEEDED] pkg/bindings/images.Build(): fix a race condition in error reporting
  go.mod
  go.sum
  pkg/bindings/images/build.go
  vendor/github.com/coreos/go-systemd/v22/activation/files.go
  vendor/github.com/coreos/go-systemd/v22/activation/files_windows.go
  vendor/github.com/coreos/go-systemd/v22/dbus/dbus.go
  vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_windows.go
  vendor/github.com/coreos/go-systemd/v22/sdjournal/journal.go
  vendor/modules.txt
Labels: approved, lgtm

#9736 fix user message image prune --all
  cmd/podman/images/prune.go
Labels: approved, kind/bug, lgtm

#9739 Latest crun/runc should handle blkio-weight test
  .cirrus.yml
  test/e2e/run_test.go
Labels: approved, lgtm

#9710 Network prune filters for http api (compat and libpod)
  libpod/network/netconflist.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/server/register_networks.go
  pkg/domain/entities/network.go
  pkg/domain/filters/containers.go
  pkg/domain/infra/abi/network.go
  pkg/util/filters.go
  test/apiv2/35-networks.at
Labels: approved, kind/feature, lgtm

#9771 System tests: reenable a bunch of skipped tests
  test/system/200-pod.bats
  test/system/220-healthcheck.bats
  test/system/410-selinux.bats
  test/system/500-networking.bats
Labels: approved, lgtm

#9757 Cleanup /libpod/images/load handler
  libpod/runtime_img.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  test/python/docker/compat/test_images.py
  test/system/120-load.bats
Labels: HTTP API, approved, lgtm

#9775 Fix system prune cmd user message with options
  cmd/podman/system/prune.go
Labels: approved, lgtm

#9773 Fix containers list/prune http api filter behaviour
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/containers_prune.go
  pkg/api/handlers/libpod/containers.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#9296 run buildah bud tests using podman
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/buildah-bud/README.md
  test/buildah-bud/buildah-tests.diff
  test/buildah-bud/make-new-buildah-diffs
  test/buildah-bud/run-buildah-bud-tests
Labels: approved, lgtm

#9784 [CI:DOCS] Update release notes for v3.1.0-RC2
  RELEASE_NOTES.md
Labels: approved, lgtm

#9774 [CI:DOCS] Add note to mappings for user/group userns in build
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#9537 Validate passed in timezone from tz option
  libpod/container_internal_linux.go
  test/e2e/run_test.go
Labels: approved, lgtm

#9749 Generate Kubernetes PersistentVolumeClaims from named volumes
  docs/source/markdown/podman-generate-kube.1.md
  docs/source/markdown/podman-play-kube.1.md
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#9789 Bump to v3.1.0-RC2
  changelog.txt
Labels: approved, lgtm

#9793 Cirrus: Update configuration for v3.1 branch
  .cirrus.yml
Labels: approved, lgtm

#9794 Cirrus: Reduce to bare-minimum testing
  .cirrus.yml
Labels: approved, lgtm

#9785 Unification of label and until filters across list/prune endpoints
  libpod/image/filters.go
  libpod/image/prune.go
  libpod/network/netconflist.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/filters/volumes.go
  pkg/util/filters.go
  pkg/util/filters_test.go
Labels: approved, kind/cleanup, lgtm

#9790 fix: build endpoint for compat API
  pkg/api/handlers/compat/images_build.go
  test/python/docker/compat/test_images.py
Labels: approved, lgtm

#9809 [NO TESTS NEEDED] Remove /tmp/containers-users-* files on reboot
  contrib/tmpfile/podman.conf
Labels: approved, lgtm

#9747 Check if stdin is a term in --interactive --tty mode
  cmd/podman/containers/run.go
  test/system/030-run.bats
Labels: approved, lgtm

#9808 [NO TESTS NEEDED] Fix rootless volume plugins
  libpod/options.go
  libpod/volume_internal_linux.go
Labels: approved, lgtm

#9768 Ensure manually-created volumes have correct ownership
  libpod/options.go
  libpod/runtime_ctr.go
  libpod/volume_internal.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm

#9817 image unit tests - make them pass on F34 with enforced short-name mode
  libpod/image/image_test.go
  libpod/image/pull.go
  libpod/image/testdata/registries.conf
Labels: approved, lgtm

#9759 Support multi doc yaml for generate/play kube
  go.mod
  pkg/domain/infra/abi/generate.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/abi/play_test.go
  test/e2e/generate_kube_test.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#9818 system tests: new interactive tests
  test/system/030-run.bats
  test/system/120-load.bats
  test/system/450-interactive.bats
Labels: approved, lgtm

#9816 Correct json encoding field name for Namespace type
  pkg/specgen/namespaces.go
Labels: approved, kind/bug, lgtm

#9810 Fix filters list/prune in image http compat/libpod api endpoints
  libpod/image/prune.go
  pkg/api/handlers/compat/images_prune.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/utils/images.go
  test/apiv2/10-images.at
Labels: approved, kind/bug, lgtm

#9782 [NO TESTS NEEDED] Fix swapped dimensions from terminal.GetSize
  pkg/bindings/containers/attach.go
  test/system/450-interactive.bats
Labels: approved, lgtm

#9820 [NO TESTS NEEDED] Rename podman machine create to init and clean up
  cmd/podman/machine/create.go
  cmd/podman/machine/init.go
  docs/source/machine.rst
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/config.go
  pkg/machine/libvirt/machine.go
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#9726 Add RequiresMountsFor= to systemd generate
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
Labels: approved, lgtm

#9832 Use TMPDIR when commiting images
  libpod/image/docker_registry_options.go
  libpod/image/image_test.go
Labels: approved, lgtm

#9833 Remove resize race condition
  pkg/api/handlers/compat/resize.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_exec.go
  pkg/bindings/containers/attach.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_resizetty_options.go
  test/system/450-interactive.bats
Labels: approved, lgtm

#9835 [NO TESTS NEEDED] Fix for kernel without CONFIG_USER_NS
  libpod/container_internal_linux.go
Labels: approved, lgtm

#9822 Fix list pods filter handling in libpod api
  pkg/api/handlers/libpod/pods.go
  test/apiv2/40-pods.at
Labels: approved, kind/bug, lgtm

#9838 Add problematic volume name to kube play error messages
  pkg/specgen/generate/kube/volume.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#9836 Podman machine enhancements
  cmd/podman/machine/init.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  docs/source/machine.rst
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine-rm.1.md
  docs/source/markdown/podman-machine-ssh.1.md
  docs/source/markdown/podman-machine-start.1.md
  docs/source/markdown/podman-machine-stop.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/config.go
  pkg/machine/ignition.go
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#9467 [NO TESTS NEEDED] Turn on podman-remote build --isolation
  cmd/podman/images/build.go
  contrib/cirrus/setup_environment.sh
  pkg/api/handlers/compat/images_build.go
Labels: approved, lgtm

#9829 [NO TESTS NEEDED] Use same function podman-remote rmi as podman
  pkg/api/handlers/compat/images_remove.go
Labels: approved, lgtm

#9854 [CI:DOCS] man pages: correct seccomp-policy label
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#9844 Add machine support for more Linux distros
  pkg/machine/qemu/options_linux_amd64.go
Labels: approved, lgtm

#9848 podman generate systemd --new do not duplicate params
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
Labels: approved, lgtm

#9857 system tests: friendier messages for 2-arg is()
  test/system/helpers.bash
Labels: approved, lgtm

#9307 Add powershell completions
  Makefile
  cmd/podman/completion/completion.go
  cmd/podman/root.go
  completions/powershell/podman-remote.ps1
  completions/powershell/podman.ps1
  docs/source/markdown/podman-completion.1.md
Labels: approved, lgtm, stale-pr

#9862 buildah-bud tests: reenable pull-never test
  test/buildah-bud/buildah-tests.diff
Labels: approved, lgtm

#9861 [CI:DOCS] swagger: update system version response body
  pkg/api/server/swagger.go
Labels: approved, lgtm

#9858 [NO TESTS NEEDED] Drop Warning to Info, if cgroups not mounted
  pkg/domain/infra/abi/system.go
Labels: approved, lgtm

#9842 Add support for env from secrets in play kube
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#9516 [NO TESTS NEEDED] Shrink the size of podman bindings
  cmd/podman/images/build.go
  libpod/events/logfile.go
  libpod/runtime_img.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/compat/version.go
  pkg/api/handlers/types.go
  pkg/api/handlers/types/types.go
  pkg/bindings/images/build.go
  pkg/bindings/images/images.go
  pkg/bindings/images/rm.go
  pkg/bindings/images/types.go
  pkg/domain/entities/images.go
  pkg/domain/entities/system.go
  pkg/domain/entities/types.go
  pkg/domain/entities/types/auth.go
  pkg/domain/entities/types/types.go
  pkg/domain/entities/volumes.go
  pkg/domain/infra/runtime_libpod.go
  pkg/namespaces/namespaces.go
  pkg/rootless/rootless.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/util/utils.go
Labels: approved, lgtm

#9855 service: use LISTEN_FDS
  cmd/podman/system/service_abi.go
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm

#9870 [CI:DOCS] manpage xref: helpful diagnostic for unescaped dash-dash
  hack/xref-helpmsgs-manpages
Labels: approved, lgtm

#9795 Bump to v3.2.0-dev
  contrib/spec/podman.spec.in
  test/apiv2/01-basic.at
  version/version.go
Labels: approved, lgtm

#9875 [CI:DOCS] Bump to v3.1.0
  changelog.txt
  contrib/spec/podman.spec.in
  test/apiv2/01-basic.at
  version/version.go
Labels: approved, lgtm

#9846 [NO TESTS NEEDED] Add machine support for qemu-system-aarch64 on linux
  cmd/podman/machine/init.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/machine_unsupported.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  pkg/machine/fcos_arm64.go
  pkg/machine/pull.go
  pkg/machine/qemu/options_linux_arm64.go
Labels: approved, lgtm

#9876 APIv2 basic test: relax APIVersion check
  test/apiv2/01-basic.at
Labels: approved, lgtm

#9886 [CI:DOCS] Update main branch to reflect the release of v3.1.0
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm

#9872 podman machine init user input
  pkg/machine/fcos.go
  pkg/machine/pull.go
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#9873 resolve proper aarch64 image names
  pkg/machine/fcos_arm64.go
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#9882 Document --volume from podman-remote run/create client
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#9878 [NO TESTS NEEDED] Remove semantic version suffices from API calls
  pkg/bindings/connection.go
Labels: approved, kind/bug, lgtm

#9885 Add podman machine ls
  cmd/podman/machine/list.go
  docs/source/machine.rst
  docs/source/markdown/links/podman-machine-ls.1
  docs/source/markdown/podman-machine-list.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#9877 [CI:DOCS] Add local html build info to docs/README.md
  docs/README.md
Labels: approved, lgtm

#9888 podman machine init --ignition-path
  docs/source/markdown/podman-machine-init.1.md
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#9901 [CI:DOCS] Fix unmount doc reference in image.rst
  docs/source/image.rst
Labels: approved, lgtm

#9902 Fix bindings prune containers flaky test
  pkg/bindings/test/containers_test.go
Labels: approved, lgtm

#9903 Fix handling of remote --log-rusage param
  pkg/api/handlers/compat/images_build.go
  test/e2e/build_test.go
Labels: approved, lgtm

#9904 podman machine shell completion
  cmd/podman/common/completion.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
Labels: approved, lgtm

#9898 [CI:DOCS] Makefile: Fix make install.docker regression
  Makefile
Labels: approved, lgtm
