Repository containers/podman, pull requests merged in 2021-09, with the labels that each got.

#11371 [CI:DOCS] generate systemd: clarify limitations of `--new`
  cmd/podman/generate/systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/systemd/generate/containers.go
Labels: lgtm, approved

#11376 Make secret env var available to exec session
  libpod/oci_conmon_exec_linux.go
  test/e2e/exec_test.go
Labels: lgtm, approved

#11388 podman stop always cleanup
  pkg/domain/infra/abi/containers.go
Labels: lgtm, approved

#11391 rootlessport: allow socket paths with more than 108 chars
  libpod/networking_slirp4netns.go
  pkg/rootlessport/rootlessport_linux.go
Labels: lgtm, approved

#11368 [CI:DOCS] fix indentation for userns modes
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved

#11404 Drop dependency on iproute
  libpod/network/devices.go
  libpod/network/network.go
Labels: lgtm, approved

#11406 manifest: `rm` should not remove referenced images.
  go.mod
  go.sum
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/tunnel/manifest.go
  test/e2e/manifest_test.go
  vendor/github.com/containers/common/libimage/disk_usage.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11410 [#11408] podman help machine init
  cmd/podman/machine/init.go
Labels: lgtm, approved

#11414 auto-update systemd test: skip on RHEL
  test/system/255-auto-update.bats
Labels: lgtm, approved

#11428 machine: always check error of net.Dial, even after last try
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11439 Remove unused stubs intended to start a machine with libvirt
  pkg/machine/libvirt/config.go
  pkg/machine/libvirt/machine.go
  pkg/machine/libvirt/machine_unsupported.go
Labels: lgtm, approved

#11441 Bump release to 3.3.1
  README.md
  RELEASE_NOTES.md
Labels: lgtm, approved

#11445 Add localhost into hosts based on network mode
  libpod/container_internal_linux.go
  libpod/container_internal_linux_test.go
Labels: lgtm, approved

#11432 [CI:DOCS] Example says there is not IP then in the next command suggests to use it
  docs/tutorials/podman_tutorial.md
Labels: lgtm, approved

#11451 Qemu TCG Accel fallback for Apple Silicon. Iss #10577
  pkg/machine/qemu/options_darwin_arm64.go
Labels: lgtm, approved

#11463 cgroup-info: check if user.slice is valid before accessing value
  pkg/cgroups/cgroups.go
Labels: lgtm, approved

#11442 Adding `-cpu host` for qemu for MacOS
  pkg/machine/qemu/options_darwin_amd64.go
Labels: lgtm, approved

#11402 network create: add warning for deprecated macvlan flag
  cmd/podman/networks/create.go
  docs/source/markdown/podman-network-create.1.md
Labels: lgtm, approved

#11464 logs -f: file: fix dead lock
  libpod/container_log.go
  test/system/035-logs.bats
Labels: lgtm, approved

#11459 generate systemd: handle --restart
  cmd/podman/generate/systemd.go
  pkg/api/handlers/libpod/generate.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/systemd/define/const.go
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/system/250-systemd.bats
Labels: lgtm, approved

#11466 [CI:DOCS] Document default timeout for libpod API Container Restart
  pkg/api/server/register_containers.go
Labels: lgtm, approved

#11434 Spell "build linux darwin" as "build !windows".
  cmd/podman/machine/init.go
  cmd/podman/machine/list.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  pkg/machine/config.go
  pkg/machine/connection.go
  pkg/machine/fcos.go
  pkg/machine/ignition.go
  pkg/machine/ignition_schema.go
  pkg/machine/keys.go
  pkg/machine/pull.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/util/utils_supported.go
Labels: lgtm, approved

#11427 kube: Add support for `podman pod logs`.
  cmd/podman/pods/logs.go
  docs/source/markdown/podman-pod-logs.1.md
  docs/source/markdown/podman-pod.1.md
  docs/source/pod.rst
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/tunnel/pods.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#11437 [NO TESTS NEEDED] Fix #11418 - Default TMPDIR to /tmp on OS X
  pkg/machine/qemu/options_darwin.go
Labels: lgtm, approved

#11467 Remove changelog.txt from the repository
  Makefile
  RELEASE_PROCESS.md
  changelog.txt
  contrib/cirrus/pr-should-include-tests
  hack/release.sh
Labels: lgtm, approved

#11431 Add filtering functionality to http api secrets list
  cmd/podman/common/completion.go
  cmd/podman/secrets/list.go
  pkg/api/handlers/compat/secrets.go
  pkg/api/server/register_secrets.go
  pkg/bindings/secrets/secrets.go
  pkg/bindings/secrets/types.go
  pkg/bindings/secrets/types_list_options.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/secrets.go
  pkg/domain/infra/abi/secrets.go
  pkg/domain/infra/tunnel/secrets.go
  pkg/domain/utils/secrets_filters.go
  test/apiv2/50-secrets.at
Labels: lgtm, approved

#11473 pkg/bindings/images.nTar(): set ownership of build context to 0:0
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: lgtm, approved

#11471 Add Checkpointed bool to Inspect
  libpod/container.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved

#11453 QEMU Apple Silicon: Find BIOS FD wherever
  pkg/machine/qemu/options_darwin_arm64.go
Labels: lgtm, approved

#11477 test/testvol/main.go: Fix missing arguments to Errorf()
  test/testvol/main.go
Labels: lgtm, approved

#11468 fix play kube --network options
  docs/source/markdown/podman-play-kube.1.md
  pkg/domain/infra/abi/play.go
  test/system/700-play.bats
Labels: lgtm, approved

#11476 container inspect: improve error handling
  pkg/domain/infra/abi/containers.go
Labels: lgtm, approved

#11327 runtime: Warn if `XDG_RUNTIME_DIR` is set but is not writable.
  libpod/runtime.go
  troubleshooting.md
Labels: lgtm, approved

#11486 system tests: new random_free_port helper
  test/system/150-login.bats
  test/system/200-pod.bats
  test/system/271-tcp-cors-server.bats
  test/system/500-networking.bats
  test/system/helpers.bash
  test/system/helpers.t
Labels: lgtm, approved

#11495 Add logDriver to podman info
  docs/source/markdown/podman-info.1.md
  libpod/define/info.go
  libpod/info.go
  test/system/005-info.bats
Labels: lgtm, approved

#11430 Normalize auth key before calling `SetAuthentication`
  pkg/auth/auth.go
  pkg/auth/auth_test.go
Labels: lgtm, approved

#11485 podman upgrade tests for networking
  test/upgrade/helpers.bash
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved

#11488 Add 'Machine %q started' message when podman machine start successful
  cmd/podman/machine/start.go
Labels: lgtm, approved

#11492 [CI:DOCS] Fix spacing on --userns options in docs
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#11499 inspect: printTmpl must Flush writer
  cmd/podman/inspect/inspect.go
  cmd/podman/pods/inspect.go
  test/e2e/build/envwithtab/Dockerfile
  test/e2e/inspect_test.go
Labels: lgtm, approved

#11447 fix play kube can't use infra_image in config file
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#11503 Fix conmon attach socket buffer size
  libpod/oci_conmon_linux.go
  test/system/075-exec.bats
Labels: lgtm, approved

#11426 Add a system test to modify and import an exported container
  test/system/125-import.bats
Labels: lgtm, approved

#11523 try to create the runroot before we warn that it is not writable
  libpod/runtime.go
Labels: lgtm, approved

#11522 [v3.3.1-rhel] auto-update: fix authfile label
  pkg/autoupdate/autoupdate.go
  test/e2e/search_test.go
Labels: lgtm, approved

#11516 [CI:DOCS] Add response to /libpod/containers/stats documentation
  pkg/api/handlers/swagger/swagger.go
  pkg/api/server/register_containers.go
Labels: lgtm, approved

#11506 stats: detect container restart and allow paused containers
  libpod/stats.go
  pkg/api/handlers/compat/containers_stats.go
  test/e2e/pause_test.go
Labels: lgtm, approved

#11519 [CI:DOCS] Fix missing args `NAME` in examples
  docs/source/markdown/podman-system-connection-add.1.md
Labels: lgtm, approved

#11498 [CI:DOCS] podman machine: enforce a single search registry
  pkg/machine/ignition.go
Labels: lgtm, approved

#11323 Add init containers to generate and play kube
  docs/source/markdown/podman-generate-kube.1.md
  docs/source/markdown/podman-play-kube.1.md
  libpod/container.go
  libpod/kube.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/generate_kube_test.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#11513 podman unshare keep exit code
  cmd/podman/system/unshare.go
  docs/source/markdown/podman-unshare.1.md
  test/e2e/unshare_test.go
Labels: lgtm, approved

#11525 Stop outputting 'healthy' on healthcheck
  cmd/podman/healthcheck/run.go
  pkg/bindings/test/containers_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/play_kube_test.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved

#11505 Cirrus: Run unit-tests rootless
  .cirrus.yml
  Makefile
Labels: lgtm, approved

#11537 [CI:DOCS] Remove short 'a' option from all-tags
  docs/source/markdown/podman-pull.1.md
Labels: lgtm, approved

#11550 Fix #11444: remote breaks with stdout redirection
  pkg/terminal/console_windows.go
Labels: lgtm, approved

#11440 Use default username for podman machine ssh
  cmd/podman/machine/ssh.go
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11545 If container exits with 125 podman should exit with 125
  cmd/podman/registry/registry.go
  cmd/podman/root.go
  cmd/podman/system/migrate.go
  cmd/podman/system/renumber.go
  cmd/podman/system/reset.go
  test/e2e/run_exit_test.go
Labels: lgtm, approved

#11529 Add deprecated event fields for 1.22+ clients that still expect them
  pkg/domain/entities/events.go
  test/apiv2/python/rest_api/test_v2_0_0_system.py
Labels: lgtm, approved

#11449 Make gvproxy path configurable with containers.conf
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11520 test: enable --cgroup-parent test
  libpod/container_internal_linux.go
  test/e2e/run_cgroup_parent_test.go
Labels: lgtm, approved

#11551 fix restart always with rootlessport
  libpod/container_internal.go
  libpod/networking_linux.go
  libpod/oci_conmon_linux.go
  libpod/oci_util.go
  pkg/rootlessport/rootlessport_linux.go
  test/system/500-networking.bats
Labels: lgtm, approved

#11512 Cirrus: NM/CNI workaround + Remove prior-Ubuntu
  .cirrus.yml
Labels: lgtm, approved

#11562 [v3.4] Revert "logs: adjust handling around partial log messages"
  libpod/logs/log.go
  libpod/oci_conmon_linux.go
  pkg/api/handlers/compat/containers_logs.go
  pkg/domain/infra/tunnel/containers.go
Labels: lgtm, approved

#11569 Use new aarch64 fcos repos
  pkg/machine/fcos.go
  pkg/machine/fcos_amd64.go
  pkg/machine/fcos_arm64.go
Labels: lgtm, approved

#11170 rootfs: Add support for rootfs-overlay.
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  go.mod
  go.sum
  libpod/container_config.go
  libpod/container_internal.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/buildah-bud/buildah-tests.diff
  vendor/github.com/Azure/go-ansiterm/go.mod
  vendor/github.com/Azure/go-ansiterm/go.sum
  vendor/github.com/Azure/go-ansiterm/winterm/ansi.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/config.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/import.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/parse/parse_unix.go
  vendor/github.com/containers/buildah/pkg/sshagent/sshagent.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/fsouza/go-dockerclient/.golangci.yaml
  vendor/github.com/fsouza/go-dockerclient/go.mod
  vendor/github.com/fsouza/go-dockerclient/go.sum
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/go.sum
  vendor/golang.org/x/term/README.md
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/go.sum
  vendor/golang.org/x/term/term.go
  vendor/golang.org/x/term/term_solaris.go
  vendor/golang.org/x/term/term_unix.go
  vendor/golang.org/x/term/term_unix_bsd.go
  vendor/golang.org/x/term/term_unix_linux.go
  vendor/golang.org/x/term/term_unix_other.go
  vendor/golang.org/x/term/term_unix_zos.go
  vendor/golang.org/x/term/term_unsupported.go
  vendor/modules.txt
Labels: lgtm, approved

#11570 [v3.3] Bump c/common to v0.42.2
  go.mod
  go.sum
  test/e2e/search_test.go
  vendor/github.com/containers/common/libimage/disk_usage.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/default_unsupported.go
  vendor/github.com/containers/common/pkg/config/util_supported.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11561 tests: simplify --cgroups=disabled test and enable for rootless
  test/e2e/run_test.go
Labels: lgtm, approved

#11575 [CI:DOCS] Document `all` query parameter for /libpod/images/prune
  pkg/api/server/register_images.go
Labels: lgtm, approved

#11586 [CI:DOCS] Fix example in podman machine init man page
  docs/source/markdown/podman-machine-init.1.md
Labels: lgtm, approved

#11574 build: take advantage of --platform lists
  cmd/podman/images/build.go
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
Labels: lgtm, approved

#11578 api: handle nil pointer dereference in api endpoints
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/images.go
  test/apiv2/10-images.at
  test/apiv2/20-containers.at
  test/apiv2/test-apiv2
Labels: lgtm, approved

#11556 Show variant and codename of the distribution
  docs/source/markdown/podman-info.1.md
  libpod/define/info.go
  libpod/info.go
Labels: lgtm, approved

#11409 Pod Volumes Support
  cmd/podman/common/create.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-pod-create.1.md
  libpod/container_inspect.go
  libpod/define/pod_inspect.go
  libpod/pod_api.go
  pkg/api/handlers/libpod/pods.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/podspecgen.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved

#11591 Use new aarch64 fcos repos
  pkg/machine/fcos.go
  pkg/machine/fcos_amd64.go
  pkg/machine/fcos_arm64.go
Labels: lgtm, approved

#11585 vendor: Bump github.com/containers/buildah from 1.22.3 to 1.23.0
  cmd/podman/images/build.go
  go.mod
  go.sum
  test/buildah-bud/buildah-tests.diff
  test/system/070-build.bats
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/README.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/developmentplan.md
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/util/util.go
  vendor/github.com/containers/buildah/release.sh
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/troubleshooting.md
  vendor/modules.txt
Labels: lgtm, approved

#11567 libpod: honor --cgroups=split also with pods
  libpod/container_internal_linux.go
  test/e2e/run_test.go
Labels: lgtm, approved

#11577 Set default storage from containers.conf for temporary images
  cmd/podman/root.go
  contrib/tmpfile/podman.conf
  docs/source/markdown/podman-info.1.md
  go.mod
  go.sum
  libpod/define/info.go
  libpod/info.go
  test/e2e/containers_conf_test.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11592 container runlabel remove image tag from name
  pkg/domain/infra/abi/containers_runlabel.go
  test/e2e/runlabel_test.go
Labels: lgtm, approved

#11595 Fix /auth compat endpoint
  pkg/api/handlers/compat/auth.go
  test/apiv2/60-auth.at
Labels: lgtm, approved

#11599 fix inverted condition
  pkg/api/handlers/compat/images_push.go
Labels: lgtm, approved

#11616 [CI:DOCS] Bump to v3.4.0-RC1
  contrib/spec/podman.spec.in
  version/version.go
Labels: lgtm, approved

#11614 [CI:DOCS] Use a new markdown converter for sphinx
  docs/requirements.txt
  docs/source/conf.py
Labels: lgtm, approved

#11605 Only add 127.0.0.1 entry to /etc/hosts with --net=none
  libpod/container_internal_linux.go
  test/e2e/run_networking_test.go
Labels: lgtm, approved

#11602 Do not allow network modes to be used as network names
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/libpod/networks.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/tunnel/network.go
  test/e2e/network_create_test.go
Labels: lgtm, approved

#11606 runtime: move pause process to scope
  libpod/runtime.go
  pkg/domain/infra/abi/system.go
  utils/utils.go
Labels: lgtm, approved

#11620 [CI:DOCS] markdown cleanup
  docs/source/markdown/podman-inspect.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-search.1.md
  docs/source/markdown/podman.1.md
Labels: lgtm, approved

#11612 Fix up build the docs site
  docs/source/Commands.rst
  docs/source/connection.rst
  docs/source/generate.rst
  docs/source/healthcheck.rst
  docs/source/image.rst
  docs/source/machine.rst
  docs/source/managecontainers.rst
  docs/source/manifest.rst
  docs/source/network.rst
  docs/source/play.rst
  docs/source/pod.rst
  docs/source/secret.rst
  docs/source/system.rst
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved

#11603 Add no-trunc support to podman-events
  cmd/podman/containers/mount.go
  cmd/podman/images/history.go
  cmd/podman/system/events.go
  cmd/podman/utils/alias.go
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-cp.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-events.1.md
  docs/source/markdown/podman-exec.1.md
  docs/source/markdown/podman-history.1.md
  docs/source/markdown/podman-images.1.md
  docs/source/markdown/podman-login.1.md
  docs/source/markdown/podman-mount.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman-ps.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-search.1.md
  docs/source/markdown/podman-start.1.md
  docs/source/markdown/podman.1.md
  libpod/events/events.go
  libpod/events/journal_linux.go
  test/e2e/mount_test.go
  test/e2e/run_cleanup_test.go
  test/system/090-events.bats
Labels: lgtm, approved

#11607 CNI: add ipvlan driver support and macvlan modes
  cmd/podman/common/completion.go
  docs/source/markdown/podman-network-create.1.md
  libpod/network/cni/cni_conversion.go
  libpod/network/cni/cni_types.go
  libpod/network/cni/config.go
  libpod/network/cni/config_test.go
  libpod/network/cni/network.go
  libpod/network/types/const.go
Labels: lgtm, approved

#11617 [NO TESTS NEEDED] Add username flag for machine ssh
  cmd/podman/machine/ssh.go
  docs/source/markdown/podman-machine-ssh.1.md
Labels: lgtm, approved

#11628 Remove unused code from libpod
  libpod/boltdb_state_unsupported.go
  libpod/container_copy_unsupported.go
  libpod/container_internal_unsupported.go
  libpod/container_stat_unsupported.go
  libpod/container_top_unsupported.go
  libpod/container_unsupported.go
  libpod/healthcheck_unsupported.go
  libpod/networking_unsupported.go
  libpod/oci_attach_unsupported.go
  libpod/oci_conmon_unsupported.go
  libpod/pod_top_unsupported.go
  libpod/runtime_migrate_unsupported.go
  libpod/runtime_pod_unsupported.go
  libpod/runtime_volume_unsupported.go
  libpod/stats_unsupported.go
  libpod/util_unsupported.go
  libpod/volume_internal_unsupported.go
Labels: lgtm, approved

#11638 System tests: cleanup, and remove obsolete skips
  test/system/070-build.bats
  test/system/160-volumes.bats
Labels: lgtm, approved

#11648 utils: raise warning only on cgroupv2
  utils/utils.go
  utils/utils_supported.go
Labels: lgtm, approved

#11651 remote untag: support digests
  pkg/domain/infra/tunnel/images.go
  test/system/001-basic.bats
Labels: lgtm, approved

#11652 vendor c/common@main
  go.mod
  go.sum
  pkg/autoupdate/autoupdate.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/modules.txt
Labels: lgtm, approved

#11655 [3.4] vendor c/common@v0.44.1
  go.mod
  go.sum
  pkg/autoupdate/autoupdate.go
  test/apiv2/01-basic.at
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11661 [CI:DOCS] Add link to skopeo delete in podman rmi
  docs/source/markdown/podman-rmi.1.md
Labels: lgtm, approved

#11656 compat API: /images/json prefix image id with sha256
  pkg/api/handlers/types.go
  test/apiv2/python/rest_api/test_v2_0_0_image.py
Labels: lgtm, approved

#11653 [3.3] auto update: fix custom authfiles
  .cirrus.yml
  go.mod
  go.sum
  pkg/autoupdate/autoupdate.go
  vendor/github.com/containers/common/libimage/disk_usage.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/default_unsupported.go
  vendor/github.com/containers/common/pkg/config/util_supported.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11644 Add podman machine init --now option
  cmd/podman/machine/init.go
  docs/source/markdown/podman-machine-init.1.md
Labels: lgtm, approved

#11649 podman machine: use gvproxy for host.containers.internal
  libpod/container_internal_linux.go
Labels: lgtm, approved

#11601 Created MapOptions for PodCreate
  cmd/podman/common/create.go
  cmd/podman/common/create_test.go
  cmd/podman/pods/create.go
  pkg/domain/entities/pods.go
Labels: lgtm, approved

#11624 [3.4] runtime: move pause process to scope
  libpod/runtime.go
  pkg/domain/infra/abi/system.go
  utils/utils.go
  utils/utils_supported.go
Labels: approved

#11630 Add support for retrieving system service --timeout
  cmd/podman/system/service.go
  docs/source/markdown/podman-system-service.1.md
  test/e2e/config/containers.conf
  test/e2e/containers_conf_test.go
Labels: lgtm, approved

#11660 Add podman image/container inspect man pages
  cmd/podman/images/inspect.go
  cmd/podman/networks/inspect.go
  docs/source/markdown/links/podman-container-inspect.1
  docs/source/markdown/links/podman-image-inspect.1
  docs/source/markdown/podman-container-inspect.1.md
  docs/source/markdown/podman-container.1.md
  docs/source/markdown/podman-image-inspect.1.md
  docs/source/markdown/podman-image.1.md
  docs/source/markdown/podman-inspect.1.md
  docs/source/markdown/podman-pod-inspect.1.md
  docs/source/markdown/podman-volume-inspect.1.md
Labels: lgtm, approved

#11639 Support --format tables in ps output
  cmd/podman/containers/ps.go
  test/e2e/ps_test.go
  test/utils/utils.go
Labels: lgtm, approved, kind/bug

#11650 volume: Add support for overlay on named volumes
  libpod/container_internal_linux.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved

#11662 Remove references to kube being development
  docs/source/markdown/podman-generate-kube.1.md
  pkg/domain/infra/abi/generate.go
Labels: lgtm, approved

#11631 Fix Error, empty output for info: 'VERSION'
  .gitignore
  Makefile
  hack/get_release_info.sh
  test/version/main.go
Labels: lgtm, approved

#11579 Cross-build linux releases w/ arch in filename
  .cirrus.yml
  Makefile
  RELEASE_PROCESS.md
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#11684 [3.3] Enable M1 support
  cmd/podman/machine/init.go
  cmd/podman/machine/list.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
Labels: lgtm, approved

#11641 [CI:DOCS] Add network alias note in man pages
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-network-connect.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#11681 Add a backoff and retries to retrieving exited event
  pkg/domain/infra/abi/containers.go
Labels: lgtm, approved

#11659 vendor c/psgo@v1.7.1
  go.mod
  go.sum
  test/e2e/top_test.go
  vendor/github.com/containers/psgo/.codespellrc
  vendor/github.com/containers/psgo/.golangci.yml
  vendor/github.com/containers/psgo/.travis.yml
  vendor/github.com/containers/psgo/Makefile
  vendor/github.com/containers/psgo/README.md
  vendor/github.com/containers/psgo/go.mod
  vendor/github.com/containers/psgo/go.sum
  vendor/github.com/containers/psgo/internal/host/host.go
  vendor/github.com/containers/psgo/internal/proc/ns.go
  vendor/github.com/containers/psgo/internal/proc/pids.go
  vendor/github.com/containers/psgo/internal/proc/status.go
  vendor/github.com/containers/psgo/internal/process/process.go
  vendor/github.com/containers/psgo/psgo.go
  vendor/modules.txt
Labels: lgtm, approved

#11678 podman save: add `--uncompressed`
  cmd/podman/images/save.go
  docs/source/markdown/podman-save.1.md
  go.mod
  go.sum
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_export_options.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  test/system/120-load.bats
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/github.com/containers/common/pkg/secrets/secretsdb.go
  vendor/modules.txt
Labels: lgtm, approved

#11692 net types: remove omitempty from required fields
  libpod/network/types/network.go
Labels: lgtm, approved

#11629 Bump CNI to v1.0.1
  go.mod
  go.sum
  libpod/container.go
  libpod/network/cni/cni_conversion.go
  libpod/network/cni/network.go
  libpod/network/cni/run.go
  vendor/github.com/checkpoint-restore/checkpointctl/lib/metadata.go
  vendor/github.com/containernetworking/cni/libcni/api.go
  vendor/github.com/containernetworking/cni/libcni/conf.go
  vendor/github.com/containernetworking/cni/pkg/invoke/exec.go
  vendor/github.com/containernetworking/cni/pkg/types/020/types.go
  vendor/github.com/containernetworking/cni/pkg/types/040/types.go
  vendor/github.com/containernetworking/cni/pkg/types/100/types.go
  vendor/github.com/containernetworking/cni/pkg/types/args.go
  vendor/github.com/containernetworking/cni/pkg/types/create/create.go
  vendor/github.com/containernetworking/cni/pkg/types/current/types.go
  vendor/github.com/containernetworking/cni/pkg/types/internal/convert.go
  vendor/github.com/containernetworking/cni/pkg/types/internal/create.go
  vendor/github.com/containernetworking/cni/pkg/types/types.go
  vendor/github.com/containernetworking/cni/pkg/version/conf.go
  vendor/github.com/containernetworking/cni/pkg/version/plugin.go
  vendor/github.com/containernetworking/cni/pkg/version/version.go
  vendor/github.com/vishvananda/netlink/class_linux.go
  vendor/github.com/vishvananda/netlink/devlink_linux.go
  vendor/github.com/vishvananda/netlink/filter_linux.go
  vendor/github.com/vishvananda/netlink/handle_linux.go
  vendor/github.com/vishvananda/netlink/handle_unspecified.go
  vendor/github.com/vishvananda/netlink/inet_diag.go
  vendor/github.com/vishvananda/netlink/ipset_linux.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/nl/devlink_linux.go
  vendor/github.com/vishvananda/netlink/nl/link_linux.go
  vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  vendor/github.com/vishvananda/netlink/nl/parse_attr_linux.go
  vendor/github.com/vishvananda/netlink/qdisc.go
  vendor/github.com/vishvananda/netlink/qdisc_linux.go
  vendor/github.com/vishvananda/netlink/route.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/github.com/vishvananda/netlink/route_unspecified.go
  vendor/github.com/vishvananda/netlink/socket_linux.go
  vendor/github.com/vishvananda/netlink/tcp.go
  vendor/github.com/vishvananda/netlink/tcp_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_policy.go
  vendor/github.com/vishvananda/netlink/xfrm_policy_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_state.go
  vendor/github.com/vishvananda/netlink/xfrm_state_linux.go
  vendor/github.com/vishvananda/netns/README.md
  vendor/github.com/vishvananda/netns/netns_linux.go
  vendor/modules.txt
Labels: lgtm, approved

#11694 Eighty-six eighty-eighty
  test/e2e/commit_test.go
  test/e2e/container_inspect_test.go
  test/e2e/create_test.go
  test/e2e/inspect_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/pod_start_test.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_test.go
  test/e2e/system_connection_test.go
Labels: lgtm, approved

#11689 sync container state before reading the healthcheck
  libpod/container_inspect.go
  libpod/healthcheck.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved

#11700 [3.4] Fix machine image
  docs/source/markdown/podman-machine-init.1.md
  pkg/machine/fcos.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11701 Fix machine image
  docs/source/markdown/podman-machine-init.1.md
  pkg/machine/fcos.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11604 Ignore mount errors except ErrContainerUnknown when cleaningup container
  libpod/runtime_cstorage.go
Labels: lgtm, approved

#11691 Add more information about the VM to podman machine list
  cmd/podman/machine/list.go
  pkg/machine/config.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11704 podman generate kube should not include images command
  libpod/kube.go
  pkg/domain/infra/abi/generate.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved

#11174 [CI:DOCS] Add link to running ctrimage on enablesysadm
  contrib/podmanimage/README.md
Labels: lgtm, approved

#11647 Add support for :U flag with --mount option
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgenutil/volumes.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved

#11714 podman save: enforce signature removal
  pkg/api/handlers/libpod/images.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
Labels: lgtm, approved

#11722 [CI:DOCS] update docs for --platform in podman-build.1
  docs/source/markdown/podman-build.1.md
Labels: lgtm, approved

#11721 shell completion: do not show images without tag
  cmd/podman/common/completion.go
  test/system/600-completion.bats
Labels: lgtm, approved

#11654 podman inspect add State.Health field for docker compat
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  pkg/api/handlers/compat/containers.go
  test/apiv2/python/rest_api/test_v2_0_0_container.py
  test/e2e/healthcheck_run_test.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved

#11723 [3.4] podman save: enforce signature removal
  pkg/api/handlers/libpod/images.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
Labels: lgtm, approved

#11716 Makefile: use -ldflags/-gccgoflags depending on the go implemenatiton
  Makefile
Labels: lgtm, approved

#11675 Set context dir for play kube build
  pkg/domain/infra/abi/play.go
  test/e2e/play_build_test.go
Labels: lgtm, approved

#11726 Set context dir for play kube build
  pkg/domain/infra/abi/play.go
  test/e2e/play_build_test.go
Labels: lgtm, approved

#11733 rootful: do not set XDG_RUNTIME_DIR for cni plugins
  cmd/podman/registry/config.go
  libpod/network/cni/cni_exec.go
Labels: lgtm, approved

#11738 Fix english on prune prompt
  cmd/podman/images/prune.go
  cmd/podman/system/prune.go
Labels: lgtm, approved

#11709 Add JSON version of the machine list
  cmd/podman/machine/list.go
Labels: lgtm, approved

#11736 [CI:DOCS] Document missing /images/search query parameters
  pkg/api/server/register_images.go
Labels: lgtm, approved

#11609 added healthcheck to ps command
  cmd/podman/containers/ps.go
  pkg/ps/ps.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved

#11752 podman machine: do not join userns
  pkg/rootless/rootless_linux.c
Labels: lgtm, approved

#11753 Vendor in containers/common v0.46.0
  cmd/podman/machine/init.go
  go.mod
  go.sum
  test/system/120-load.bats
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11755 remote build: EvalSymlinks() the context directory
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: lgtm, approved

#11754 stop: Do nothing if container was never created in runtime or in a invalid state.
  pkg/domain/infra/abi/containers.go
  test/e2e/stop_test.go
Labels: lgtm, approved

#11702 Cirrus: Add gitlab podman runner test
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved

#11756 CNI: network remove do not error for ENOENT
  libpod/network/cni/config.go
  libpod/network/cni/config_test.go
  test/e2e/network_test.go
Labels: lgtm, approved

#11759 Set MSI to be 64-bit only.
  Makefile
  contrib/msi/podman.wxs
Labels: lgtm, approved

#11737 image prune: support removing external containers
  cmd/podman/images/prune.go
  docs/source/markdown/podman-image-prune.1.md
  go.mod
  go.sum
  libpod/runtime_img.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_prune_options.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  test/system/040-ps.bats
  test/system/330-corrupt-images.bats
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/supplemented/supplemented.go
  vendor/github.com/containers/common/pkg/sysinfo/sysinfo_linux.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11762 System tests: speed up. They've gotten too slow.
  test/system/035-logs.bats
  test/system/040-ps.bats
  test/system/060-mount.bats
  test/system/065-cp.bats
  test/system/070-build.bats
  test/system/080-pause.bats
  test/system/220-healthcheck.bats
  test/system/270-socket-activation.bats
  test/system/700-play.bats
Labels: lgtm, approved

#11765 [CI:DOCS] cmd/podman: no dot for short descriptions
  cmd/podman/generate/generate.go
  cmd/podman/play/play.go
Labels: lgtm, approved

#11751 always add short container id as net alias
  libpod/container_internal_linux.go
  libpod/network/cni/run.go
  libpod/network/cni/run_test.go
  libpod/network/types/network.go
  libpod/networking_linux.go
  libpod/runtime_ctr.go
  pkg/specgen/generate/container_create.go
  test/compose/test-compose
  test/e2e/network_connect_disconnect_test.go
  test/system/500-networking.bats
Labels: lgtm, approved
