Repository containers/podman, pull requests merged in 2021-11, with the labels that each got.

#12153 [backport] tag: Support tagging manifest list instead of resolving to images.
  pkg/api/handlers/compat/images_tag.go
  pkg/domain/infra/abi/images.go
  test/e2e/manifest_test.go
Labels: lgtm, approved

#12139 Cirrus: Authorize rootless user self-ssh
  contrib/cirrus/lib.sh
Labels: lgtm, approved

#12160 Fix swagger definitions
  pkg/api/server/register_images.go
  pkg/api/server/swagger.go
  pkg/domain/entities/images.go
Labels: lgtm, approved

#12118 Set flags to test 'logs -f' with journald driver
  test/system/035-logs.bats
  test/system/130-kill.bats
Labels: lgtm, approved

#12051 Handle HTTP 409 error messages properly
  pkg/bindings/connection.go
  pkg/bindings/errors.go
  pkg/bindings/pods/pods.go
  pkg/bindings/test/common_test.go
  pkg/bindings/test/pods_test.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
  pkg/domain/infra/tunnel/network.go
  pkg/domain/infra/tunnel/secrets.go
  pkg/domain/infra/tunnel/volumes.go
  pkg/errorhandling/errorhandling.go
Labels: lgtm, approved, ok-to-test

#12156 Fix libpod API conformance to swagger
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/handler.go
  pkg/api/handlers/utils/handler_test.go
  pkg/api/server/register_images.go
  pkg/domain/entities/reports/prune.go
  pkg/domain/infra/abi/images.go
  test/apiv2/10-images.at
Labels: lgtm, approved, breaking-change

#12158 System tests: enhance volume test, add debug prints
  test/system/070-build.bats
  test/system/500-networking.bats
Labels: lgtm, approved

#12159 Implement top streaming for containers and pods
  pkg/api/handlers/compat/containers_top.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_pods.go
  test/apiv2/40-pods.at
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: lgtm, approved, kind/bug, HTTP API

#12157 Make stop message more similar to start
  cmd/podman/machine/stop.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#12166 MAC address json unmarshal should allow strings
  libpod/container_config.go
  libpod/network/cni/run.go
  libpod/network/cni/run_test.go
  libpod/network/types/network.go
  libpod/network/types/network_test.go
  libpod/options.go
  pkg/domain/entities/pods.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved

#12060 Fix `Podman image trust` tests
  test/e2e/trust_test.go
Labels: lgtm, approved

#12162 test: run --cgroups=split in new cgroup
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/run_test.go
  test/utils/podmantest_test.go
  test/utils/utils.go
Labels: lgtm, approved

#12177 Fix bindings container log test
  pkg/bindings/containers/attach.go
  pkg/bindings/containers/logs.go
  pkg/bindings/test/containers_test.go
Labels: lgtm, approved

#12180 [CI:DOCS] tweak a couple of flag descriptions in help output
  cmd/podman/common/create.go
  cmd/podman/images/pull.go
Labels: lgtm, approved

#12183 Fix rootless cni netns cleanup logic and rename to rootless netns
  cmd/podman/system/unshare.go
  docs/source/markdown/podman-unshare.1.md
  libpod/networking_linux.go
  pkg/domain/entities/system.go
  pkg/domain/infra/abi/system.go
  test/e2e/unshare_test.go
Labels: lgtm, approved

#12178 Update swagger doc make field optional
  pkg/api/handlers/types.go
Labels: lgtm, approved

#12186 Log Apache access_log-like entries at Info level
  pkg/api/server/handler_rid.go
Labels: lgtm, approved, kind/bug, HTTP API

#12187 [CI:DOCS] Fix swagger definition for the new mac address type
  libpod/network/types/network.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
Labels: lgtm, approved

#11890 libpod: deduplicate ports in db
  cmd/podman/containers/port.go
  cmd/podman/containers/ps.go
  cmd/rootlessport/main.go
  libpod/boltdb_state_internal.go
  libpod/common_test.go
  libpod/container.go
  libpod/container_config.go
  libpod/container_internal.go
  libpod/kube.go
  libpod/networking_linux.go
  libpod/networking_linux_test.go
  libpod/networking_slirp4netns.go
  libpod/oci_util.go
  libpod/options.go
  libpod/state_test.go
  libpod/util.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/domain/entities/container_ps.go
  pkg/domain/entities/containers.go
  pkg/rootlessport/rootlessport_linux.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/generate/ports.go
  pkg/specgen/generate/ports_bench_test.go
  pkg/specgen/generate/ports_test.go
  test/e2e/run_networking_test.go
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved

#12172 [CI:DOCS] Add some information about disabling SELinux when using system volumes
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#12211 [3.4] volumes: be more tolerant and fix infinite loop
  libpod/container_path_resolution.go
  pkg/specgen/generate/storage.go
  test/system/070-build.bats
Labels: lgtm, approved

#12137 pod/container create: resolve conflicts of generated names
  libpod/container_internal.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
Labels: lgtm, approved

#11958 Podman Image SCP rootful to rootless transfer
  cmd/podman/images/scp.go
  docs/source/markdown/podman-image-scp.1.md
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  test/e2e/image_scp_test.go
Labels: lgtm, approved

#11953 Display help text on empty subcommand by default
  cmd/podman/validate/args.go
  test/system/001-basic.bats
  test/system/015-help.bats
Labels: lgtm, approved

#12036 test connection add
  cmd/podman/images/scp.go
  cmd/podman/system/connection/add.go
  cmd/podman/system/connection/shared.go
  contrib/cirrus/lib.sh
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/system_connection_test.go
  test/utils/matchers.go
  test/utils/utils.go
Labels: lgtm, approved, kind/bug

#12223 Bump Catatonit up to v0.1.7
  hack/install_catatonit.sh
Labels: lgtm, approved

#12229 Minor test tweaks
  contrib/cirrus/pr-should-include-tests
  test/system/500-networking.bats
Labels: lgtm, approved

#12222 pod create: read network mode from config
  cmd/podman/pods/create.go
  test/e2e/config/containers-netns.conf
  test/e2e/pod_create_test.go
Labels: lgtm, approved

#12230 [ci:docs] Add links to podman build see also
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#12232 Match .c files in Makefile
  Makefile
Labels: lgtm, approved

#12235 Exclude already built sources for static build
  nix/default-arm64.nix
  nix/default.nix
Labels: lgtm, approved

#12239 support health checks from image configs
  go.mod
  go.sum
  test/e2e/healthcheck_run_test.go
  vendor/github.com/containers/common/libimage/inspect.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/modules.txt
Labels: lgtm, approved

#12195 podman-generate-kube - remove empty structs from YAML
  libpod/kube.go
  pkg/domain/infra/abi/generate.go
Labels: lgtm, approved

#12227 Fix rootless networking with userns and ports
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
  test/system/500-networking.bats
Labels: lgtm, approved

#12250 pod create: read infra image from containers.conf
  cmd/podman/pods/create.go
  test/system/200-pod.bats
Labels: lgtm, approved

#12255 podman load: support downloading files
  cmd/podman/images/load.go
  docs/source/markdown/podman-load.1.md
  go.mod
  go.sum
  test/system/120-load.bats
  vendor/github.com/containers/common/libimage/download.go
  vendor/github.com/containers/common/libimage/import.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/download/download.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/errno_list.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/pkg/seccomp/seccomp_linux.go
  vendor/github.com/containers/common/pkg/seccomp/types.go
  vendor/modules.txt
Labels: lgtm, approved

#12258 [CI:DOCS] Add CI check for SEE ALSO in man pages
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-completion.1.md
  docs/source/markdown/podman-container-cleanup.1.md
  docs/source/markdown/podman-container-runlabel.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-rmi.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-search.1.md
  docs/source/markdown/podman.1.md
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved

#12242 network reload without ports should not reload ports
  libpod/networking_slirp4netns.go
  test/e2e/network_connect_disconnect_test.go
  test/system/500-networking.bats
Labels: lgtm, approved

#12240 Print headers for system connection ls
  cmd/podman/system/connection/list.go
  test/e2e/system_connection_test.go
  test/system/272-system-connection.bats
Labels: lgtm, approved

#12261 [CI:DOCS] VOLUME must be declared after RUN chown command
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
Labels: lgtm, approved

#12260 Fix flake in upgrade tests
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved

#12269 [v3.4] backport networking fixes
  cmd/podman/pods/create.go
  libpod/networking_slirp4netns.go
  test/e2e/config/containers-netns.conf
  test/e2e/network_connect_disconnect_test.go
  test/e2e/pod_create_test.go
  test/system/500-networking.bats
Labels: lgtm, approved

#12193 [CI:DOCS] Fix Zsh completion command documentation
  docs/source/markdown/podman-completion.1.md
Labels: lgtm, approved

#12214 rootless: adjust error message
  pkg/rootless/rootless_linux.go
Labels: lgtm, approved

#12267 libpod: create /etc/mtab safely
  libpod/container_internal.go
Labels: lgtm, approved

#12197 [ci:docs] Add Static Build download instructions to README
  README.md
Labels: lgtm, approved

#12256 Cirrus: Update to Ubuntu 21.10 + Disable F33
  .cirrus.yml
Labels: lgtm, approved

#12280 play kube: don't force-pull infra image
  pkg/domain/infra/abi/play.go
  test/system/700-play.bats
Labels: lgtm, approved

#12279 Always create working directory when using compat API
  pkg/api/handlers/compat/containers_create.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/python/docker/compat/test_containers.py
Labels: lgtm, approved

#12224 Podman Image SCP transfer patch
  cmd/podman/images/scp.go
  docs/source/markdown/podman-image-scp.1.md
  test/e2e/image_scp_test.go
Labels: lgtm, approved

#12271 Fix network mode in play kube
  pkg/specgen/generate/pod_create.go
  test/e2e/config/containers-netns2.conf
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#12270 --authfile command line argument for image sign command.
  cmd/podman/images/sign.go
  contrib/spec/podman.spec.in
  docs/source/markdown/podman-image-sign.1.md
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  test/system/011-image.bats
Labels: lgtm, approved

#12272 Enable 'podman run --memory-swappiness=0'
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  pkg/api/handlers/libpod/pods.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/play.go
  pkg/specgenutil/specgen.go
  test/e2e/run_memory_test.go
Labels: lgtm, approved

#11076 Support template unit files in podman generate systemd
  cmd/podman/generate/systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/api/handlers/libpod/generate.go
  pkg/bindings/generate/types.go
  pkg/bindings/generate/types_systemd_options.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  test/system/250-systemd.bats
Labels: lgtm, approved

#12297 Network test: fix podman-remote-rootless corner case
  test/system/500-networking.bats
Labels: lgtm, approved

#12130 Error logs --follow if events-backend != journald, event-logger=journald
  libpod/container_log_linux.go
  test/system/090-events.bats
Labels: lgtm, approved

#12285 journald logs: keep reading until the journal's end
  libpod/container_log_linux.go
  test/system/035-logs.bats
Labels: lgtm, approved

#12302 [NO NEW TESTS NEEDED] Fix destination branch for v3.4.2-rhel
  .cirrus.yml
Labels: lgtm, approved

#12294 secret: honor custom `target=` for secrets with `type=mount` for ctr.
  libpod/container.go
  libpod/container_internal_linux.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/run_test.go
Labels: lgtm, approved

#12283 podman machine improve port forwarding
  libpod/network/cni/cni_conversion.go
  libpod/network/cni/cni_types.go
  libpod/network/cni/config_test.go
  libpod/network/cni/network.go
  libpod/networking_linux.go
  libpod/networking_machine.go
  libpod/networking_slirp4netns.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, 4.0, breaking-change

#12100 Add option --unsetenv to remove default environment variables
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  pkg/api/handlers/types.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/oci.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/system/030-run.bats
  test/system/250-systemd.bats
Labels: lgtm, approved

#12218 infra container: replace pause with catatonit
  Makefile
  contrib/cirrus/setup_environment.sh
  contrib/spec/podman.spec.in
  hack/install_catatonit.sh
  pause/pause.c
  pkg/specgen/generate/pod_create.go
  test/apiv2/40-pods.at
  test/e2e/pod_create_test.go
Labels: lgtm, approved

#12322 hack/bats: deal with new bin helpers
  hack/bats
  test/system/700-play.bats
Labels: lgtm, approved

#12319 rename libpod nettypes fields
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/network/cni/run.go
  libpod/network/cni/run_test.go
  libpod/network/netavark/run_test.go
  libpod/network/types/network.go
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
Labels: lgtm, approved

#12323 utils: use podman-pause-$RANDOM.scope name
  utils/utils.go
  utils/utils_supported.go
Labels: lgtm, approved

#12303 Set config environment variables early in Podman init
  cmd/podman/root.go
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/modules.txt
Labels: lgtm, approved

#12281 fix remote checkpoint/restore
  cmd/podman/containers/restore.go
  pkg/api/handlers/libpod/containers.go
  pkg/bindings/containers/checkpoint.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_checkpoint_options.go
  pkg/bindings/containers/types_restore_options.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved

#12327 Backport #11976 to 3.4
  Makefile
Labels: lgtm, approved

#12326 rootless: use catatonit to maintain user+mnt namespace
  pkg/rootless/rootless_linux.c
Labels: lgtm, approved

#12325 rootless: use auto cleanup functions
  pkg/rootless/rootless_linux.c
Labels: lgtm, approved

#12330 fix: take absolute path for dd on apple silicon
  pkg/machine/qemu/options_darwin_arm64.go
Labels: lgtm, approved

#12343 fix CI
  contrib/fedora-minimal/Dockerfile
  contrib/fedora-minimal/README.md
  test/e2e/config.go
  test/e2e/images_test.go
  test/e2e/run_test.go
Labels: lgtm, approved

#12342 remote checkpoint/restore: more fixes
  docs/source/markdown/podman-container-restore.1.md
  pkg/api/handlers/libpod/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_checkpoint_options.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved

#12333 Add --file-locks checkpoint/restore option
  cmd/podman/containers/checkpoint.go
  cmd/podman/containers/restore.go
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-restore.1.md
  libpod/container_api.go
  libpod/oci_conmon_linux.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_checkpoint_options.go
  pkg/bindings/containers/types_restore_options.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved

#12348 rootless netns, one netns per libpod tmp dir
  libpod/networking_linux.go
Labels: lgtm, approved

#12314 podman machine start wait for ssh
  pkg/machine/ignition.go
Labels: lgtm, approved

#12298 volumes: add new option idmap
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgenutil/volumes.go
  pkg/util/mountOpts.go
Labels: lgtm, approved

#12295 filters: add basic pattern matching for label keys i.e `--filter label=<pattern>`
  pkg/util/filters.go
  test/e2e/volume_ls_test.go
Labels: lgtm, approved

#11957 System tests: new checkpoint test
  test/system/520-checkpoint.bats
Labels: lgtm, approved

#12354 Do not store the exit command in container config
  docs/source/markdown/podman-container-inspect.1.md
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/exec.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/domain/infra/abi/containers.go
  pkg/specgen/generate/container_create.go
  pkg/specgenutil/util.go
Labels: lgtm, approved

#11795 Cirrus: Bump Fedora to release 35
  .cirrus.yml
  Makefile
  contrib/cirrus/add_second_partition.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  pkg/bindings/test/common_test.go
Labels: lgtm, approved

#12318 Change error message for compatibility with docker
  pkg/api/handlers/compat/containers_create.go
Labels: lgtm, approved

#12356 fix duplicated logs command
  cmd/podman/pods/logs.go
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved

#12174 Introduces Address type to be used in secondary IPv4 and IPv6 inspect data structure
  libpod/define/container_inspect.go
  libpod/networking_linux.go
  libpod/networking_linux_test.go
Labels: lgtm, approved

#12311 [CI:DOCS] upload a translation file
  docs/tutorials/podman_tutorial_cn.md
Labels: lgtm, approved

#12367 test: Update error string for --file-locks test
  pkg/api/handlers/libpod/containers.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved

#12364 filter: use `filepath.Match` to maintain consistency with other pattern matching in podman
  pkg/util/filters.go
Labels: lgtm, approved

#12305 Support EXPOSE with port ranges
  pkg/specgen/generate/ports.go
  pkg/specgenutil/specgen.go
  pkg/specgenutil/util.go
  test/e2e/run_networking_test.go
Labels: lgtm, approved

#12351 Restore runtime verification
  cmd/podman/root.go
  docs/source/markdown/podman-container-restore.1.md
  pkg/checkpoint/checkpoint_restore.go
  pkg/checkpoint/crutils/checkpoint_restore_utils.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved

#12372 Make sure netavark output is logged to the syslog
  libpod/network/netavark/exec.go
  libpod/network/netavark/network.go
  libpod/network/netavark/run.go
  libpod/network/netavark/run_test.go
  libpod/options.go
  libpod/runtime.go
  pkg/domain/infra/runtime_libpod.go
Labels: lgtm, approved

#12349 Semiperiodic cleanup of obsolete Skip()s
  test/e2e/common_test.go
  test/e2e/import_test.go
  test/e2e/logs_test.go
  test/e2e/push_test.go
  test/e2e/run_cgroup_parent_test.go
  test/e2e/run_cleanup_test.go
  test/e2e/run_privileged_test.go
  test/e2e/run_signal_test.go
  test/e2e/run_test.go
  test/e2e/run_volume_test.go
  test/system/030-run.bats
  test/system/400-unprivileged-access.bats
  test/utils/utils.go
Labels: lgtm, approved

#12373 [CI:DOCS] Add java TZ note to run manpage
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#12383 [v3.4] backport Flake fixes
  contrib/fedora-minimal/Dockerfile
  contrib/fedora-minimal/README.md
  test/e2e/config.go
  test/e2e/images_test.go
  test/e2e/run_test.go
  test/system/500-networking.bats
  utils/utils.go
  utils/utils_supported.go
Labels: lgtm, approved

#12381 compat: add layer caching compatiblity for `non-podman` clients.
  pkg/api/handlers/compat/images_build.go
  pkg/api/server/register_images.go
Labels: lgtm, approved

#12385 [CI:DOCS] Update notes on java TZ in man page
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#12301 Add note about volume with unprivileged container
  docs/source/markdown/podman-generate-kube.1.md
  pkg/domain/infra/abi/generate.go
Labels: lgtm, approved

#12352 Fix netavark error handling and teardown issue
  libpod/network/netavark/run.go
  pkg/specgenutil/util.go
Labels: lgtm, approved, do-not-merge/hold

#12386 Rename pod on generate of container
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, do-not-merge/hold

#12389 [CI:DOCS] Cirrus: Strip out static nix build
  .cirrus.yml
  RELEASE_PROCESS.md
Labels: lgtm, approved

#12387 e2e tests: clean up antihelpful BeTrue()s
  test/e2e/build_test.go
  test/e2e/checkpoint_test.go
  test/e2e/containers_conf_test.go
  test/e2e/create_test.go
  test/e2e/diff_test.go
  test/e2e/image_scp_test.go
  test/e2e/images_test.go
  test/e2e/import_test.go
  test/e2e/load_test.go
  test/e2e/network_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/port_test.go
  test/e2e/prune_test.go
  test/e2e/ps_test.go
  test/e2e/rmi_test.go
  test/e2e/run_cpu_test.go
  test/e2e/run_dns_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_env_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_passwd_test.go
  test/e2e/run_selinux_test.go
  test/e2e/run_test.go
  test/e2e/run_userns_test.go
  test/e2e/run_volume_test.go
  test/e2e/run_working_dir_test.go
  test/e2e/save_test.go
  test/e2e/search_test.go
  test/e2e/volume_create_test.go
Labels: lgtm, approved

#12380 generate systemd: add --start-timeout flag
  cmd/podman/generate/systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/api/handlers/libpod/generate.go
  pkg/api/server/register_generate.go
  pkg/bindings/generate/types.go
  pkg/bindings/generate/types_systemd_options.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/pods.go
  test/e2e/generate_systemd_test.go
  test/system/250-systemd.bats
Labels: lgtm, approved

#12010 image lookup: do not match *any* tags
  go.mod
  go.sum
  test/e2e/pull_test.go
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/backuptar/tar.go
  vendor/github.com/Microsoft/go-winio/pkg/security/syscall_windows.go
  vendor/github.com/Microsoft/go-winio/pkg/security/zsyscall_windows.go
  vendor/github.com/Microsoft/go-winio/vhd/vhd.go
  vendor/github.com/Microsoft/go-winio/vhd/zvhd_windows.go
  vendor/github.com/Microsoft/hcsshim/go.mod
  vendor/github.com/Microsoft/hcsshim/go.sum
  vendor/github.com/containerd/stargz-snapshotter/estargz/estargz.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/gzip.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/report/doc.go
  vendor/github.com/containers/common/pkg/report/formatter.go
  vendor/github.com/containers/common/pkg/report/template.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/github.com/containers/storage/pkg/idtools/idtools_unix.go
  vendor/github.com/containers/storage/pkg/reexec/command_linux.go
  vendor/github.com/containers/storage/pkg/reexec/command_unix.go
  vendor/github.com/containers/storage/pkg/reexec/command_unsupported.go
  vendor/github.com/containers/storage/pkg/reexec/command_windows.go
  vendor/github.com/containers/storage/pkg/reexec/reexec.go
  vendor/github.com/containers/storage/storage.conf
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: lgtm, approved

#12394 oci: exit `gracefully` if container is already dead instead of trying to `kill` it.
  libpod/oci_conmon_linux.go
Labels: lgtm, approved

#12361 podman-remote does not support signature-policy
  cmd/podman/common/create.go
  cmd/podman/containers/runlabel.go
  cmd/podman/images/import.go
  cmd/podman/images/load.go
  cmd/podman/images/pull.go
  cmd/podman/images/push.go
  cmd/podman/play/kube.go
  test/e2e/create_test.go
  test/e2e/import_test.go
  test/e2e/load_test.go
  test/e2e/run_test.go
  test/e2e/save_test.go
Labels: lgtm, approved, do-not-merge/hold

#12328 compat: Add subnet mask behind IP address to match Docker API
  pkg/api/handlers/compat/networks.go
  test/apiv2/35-networks.at
Labels: lgtm, approved, do-not-merge/hold

#12377 [CI:DOCS] Update basic_networking.md
  docs/tutorials/basic_networking.md
Labels: lgtm, approved

#12399 [v3.4.2-rhel] Backport flake fixes
  contrib/fedora-minimal/Dockerfile
  contrib/fedora-minimal/README.md
  test/e2e/config.go
  test/e2e/images_test.go
  test/e2e/run_test.go
  test/system/500-networking.bats
  utils/utils.go
  utils/utils_supported.go
Labels: lgtm, approved

#12397 Warn on failing to update container status
  libpod/oci_conmon_linux.go
Labels: lgtm, approved, do-not-merge/hold

#12371 Support env variables based on ConfigMaps sent in payload
  docs/source/markdown/podman-play-kube.1.md
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#12388 Unset SocketLabel after system finishes checkpointing
  libpod/oci_conmon_linux.go
  test/system/600-completion.bats
Labels: lgtm, approved

#12398 continue e2e test cleanup
  test/e2e/commit_test.go
  test/e2e/events_test.go
  test/e2e/generate_kube_test.go
  test/e2e/inspect_test.go
  test/e2e/pod_create_test.go
  test/e2e/ps_test.go
  test/e2e/run_volume_test.go
  test/e2e/save_test.go
  test/e2e/tag_test.go
Labels: lgtm, approved

#12404 libpod: leave thread locked on errors
  libpod/oci_conmon_linux.go
Labels: lgtm, approved

#12403 libpod: improve heuristic to detect cgroup
  libpod/container.go
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/stats.go
  test/e2e/systemd_test.go
Labels: lgtm, approved

#12406 checkpoint do not modify XDG_RUNTIME_DIR
  libpod/oci_conmon_linux.go
  utils/utils.go
Labels: lgtm, approved

#12431 fix: error reporting for archive endpoint
  pkg/api/handlers/compat/containers_archive.go
  test/python/docker/compat/test_containers.py
Labels: lgtm, approved

#12401 e2e tests: enable golint
  .golangci.yml
  pkg/bindings/test/attach_test.go
  pkg/bindings/test/auth_test.go
  pkg/bindings/test/common_test.go
  pkg/bindings/test/connection_test.go
  pkg/bindings/test/containers_test.go
  pkg/bindings/test/create_test.go
  pkg/bindings/test/exec_test.go
  pkg/bindings/test/generator_test.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/info_test.go
  pkg/bindings/test/manifests_test.go
  pkg/bindings/test/networks_test.go
  pkg/bindings/test/pods_test.go
  pkg/bindings/test/resource_test.go
  pkg/bindings/test/secrets_test.go
  pkg/bindings/test/system_test.go
  pkg/bindings/test/test_suite_test.go
  pkg/bindings/test/volumes_test.go
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/config_amd64.go
  test/e2e/container_create_volume_test.go
  test/e2e/containers_conf_test.go
  test/e2e/image_scp_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/logs_test.go
  test/e2e/network_test.go
  test/e2e/play_build_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_rm_test.go
  test/e2e/ps_test.go
  test/e2e/pull_test.go
  test/e2e/rmi_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_privileged_test.go
  test/e2e/run_selinux_test.go
  test/e2e/run_test.go
  test/e2e/run_volume_test.go
  test/e2e/runlabel_test.go
  test/e2e/secret_test.go
  test/e2e/systemd_test.go
  test/e2e/toolbox_test.go
  test/e2e/volume_create_test.go
  test/testvol/main.go
  test/utils/common_function_test.go
  test/utils/matchers.go
  test/utils/utils.go
Labels: lgtm, approved

#12433 fix: parsing of HostConfig.Mounts for container create
  cmd/podman/common/create_opts.go
  test/python/docker/compat/test_containers.py
Labels: lgtm, approved

#12405 compat: Add compatiblity with `Docker/Moby` API for scenarios where build fails.
  pkg/api/handlers/compat/images_build.go
Labels: lgtm, approved

#12439 [CI:DOCS] Move the chown to after the ADDs
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
Labels: lgtm, approved

#12407 Bindings test: emit GIT_COMMIT, for links in logs
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#12412 [CI:DOCS] List /etc/containers/certs.d as default for --cert-path
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-container-runlabel.1.md
  docs/source/markdown/podman-image-sign.1.md
  docs/source/markdown/podman-login.1.md
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
Labels: lgtm, approved

#12408 Only open save output file with WRONLY
  pkg/domain/infra/tunnel/images.go
Labels: lgtm, approved

#12447 Support env variables based on ConfigMaps sent in payload
  docs/source/markdown/podman-play-kube.1.md
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#12451 [v3.4] container create: fix --tls-verify parsing
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  go.mod
  go.sum
  pkg/domain/entities/pods.go
  test/e2e/push_test.go
  test/e2e/run_test.go
  test/registries.conf
  vendor/github.com/containers/common/pkg/flag/flag.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#12449 systemd: replace multi-user with default.target
  contrib/systemd/auto-update/podman-auto-update.service.in
  contrib/systemd/system/podman-restart.service.in
  contrib/systemd/system/podman.service.in
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/machine/ignition.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/systemd_test.go
  test/system/250-systemd.bats
  test/system/255-auto-update.bats
  troubleshooting.md
Labels: lgtm, approved

#12414 tunnel: allow `remote` and `API` to accept `--secrets`
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/e2e/build/Dockerfile.with-multiple-secret
  test/e2e/build/Dockerfile.with-secret
  test/e2e/build/Dockerfile.with-secret-verify-leak
  test/e2e/build/anothersecret.txt
  test/e2e/build/secret.txt
  test/e2e/build_test.go
Labels: lgtm, approved

#12454 More BeTrue cleanup
  test/e2e/build_test.go
  test/e2e/checkpoint_test.go
  test/e2e/commit_test.go
  test/e2e/create_test.go
  test/e2e/diff_test.go
  test/e2e/generate_kube_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/history_test.go
  test/e2e/image_sign_test.go
  test/e2e/images_test.go
  test/e2e/inspect_test.go
  test/e2e/load_test.go
  test/e2e/mount_test.go
  test/e2e/network_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/pod_stats_test.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_test.go
  test/e2e/run_userns_test.go
  test/e2e/run_volume_test.go
  test/e2e/runlabel_test.go
  test/e2e/search_test.go
  test/e2e/secret_test.go
  test/e2e/stats_test.go
  test/e2e/systemd_test.go
  test/e2e/trust_test.go
  test/e2e/volume_inspect_test.go
  test/e2e/volume_ls_test.go
  test/utils/matchers.go
Labels: lgtm, approved
