Repository containers/podman, pull requests merged in 2021-01, with the labels that each got.

#8862 Compat api containers/json add support for filters
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#8823 exec: honor --privileged
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  test/e2e/exec_test.go
  test/e2e/run_privileged_test.go
Labels: approved, lgtm

#8863 Disable seccomp by default when creating a privileged container.
  pkg/specgen/generate/security.go
  test/e2e/run_privileged_test.go
Labels: approved, lgtm

#8869 systemd: make rundir always accessible
  libpod/oci_conmon_linux.go
  test/e2e/systemd_test.go
Labels: approved, lgtm

#8876 libpod API: pull: fix channel race
  pkg/api/handlers/libpod/images_pull.go
Labels: approved, lgtm

#8875 Allow image errors to bubble up from lower level functions.
  libpod/image/image.go
  libpod/image/utils.go
Labels: approved, lgtm

#8878 Ensure we do not edit container config in Exec
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#8873 close journald when reading
  libpod/events/journal_linux.go
Labels: approved, lgtm

#8885 vendor containers/psgo@v1.5.2
  go.mod
  go.sum
  vendor/github.com/containers/psgo/internal/capabilities/capabilities.go
  vendor/github.com/containers/psgo/internal/dev/tty.go
  vendor/github.com/containers/psgo/internal/proc/status.go
  vendor/github.com/containers/psgo/internal/process/process.go
  vendor/github.com/containers/psgo/psgo.go
  vendor/modules.txt
Labels: approved, lgtm

#8887 [v2.2.1-rhel] Backport: RHEL gating tests: more journald exceptions
  test/system/030-run.bats
  test/system/035-logs.bats
  test/system/helpers.bash
Labels: approved, lgtm

#8889 generate systemd: do not set `KillMode`
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm

#8671 RHEL: Do not pull rootless CNI infra image, and instead request that user build it.
  contrib/rootless-cni-infra/README.md
  libpod/rootless_cni_linux.go
  pkg/specgen/generate/ports.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/run_networking_test.go
  test/system/500-networking.bats
Labels: approved, lgtm

#8685 Ignore containers.conf sysctls when sharing namespaces
  libpod/runtime_pod_infra_linux.go
  pkg/specgen/generate/security.go
Labels: approved, lgtm

#8899 Cirrus: Update Fedora & Ubuntu images
  .cirrus.yml
Labels: approved, lgtm

#8901 Revert e6fbc15f26b2a609936dfc11732037c70ee14cba and reenable tests
  test/e2e/pod_stats_test.go
Labels: approved, lgtm

#8892 Ensure that user-specified HOSTNAME is honored
  libpod/container_internal_linux.go
  pkg/specgen/generate/namespaces.go
  test/e2e/run_test.go
Labels: approved, lgtm

#8805 libpod: handle single user mapped as root
  libpod/container.go
Labels: approved, lgtm

#8832 Fix e2e test for `podman build --logfile`
  test/e2e/build_test.go
Labels: approved, lgtm

#8904 Fix podman logs read partial log lines
  libpod/container_log.go
Labels: approved, lgtm

#8816 rootless: automatically split userns ranges
  libpod/container_internal_linux.go
  pkg/rootless/rootless.go
  pkg/rootless/rootless_test.go
Labels: 3.0 Features, approved, lgtm

#8821 Containers should not get inheritable caps by default
  libpod/container_exec.go
  libpod/oci.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  pkg/specgen/generate/security.go
  test/e2e/common_test.go
  test/e2e/exec_test.go
  test/e2e/run_test.go
Labels: 3.0 Features, approved, lgtm

#8771 Switch references of /var/run -> /run
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman.1.md
  docs/tutorials/podman_tutorial.md
  docs/tutorials/rootless_tutorial.md
  go.mod
  go.sum
  libpod/networking_linux.go
  libpod/options.go
  pkg/api/server/docs.go
  pkg/netns/netns_linux.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods_test.go
  test/system/400-unprivileged-access.bats
  troubleshooting.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/chroot/selinux.go
  vendor/github.com/containers/buildah/chroot/selinux_unsupported.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/selinux.go
  vendor/github.com/containers/buildah/selinux_unsupported.go
  vendor/modules.txt
Labels: approved, lgtm

#8907 Fix build for mips architecture follow-up
  Makefile
  pkg/signal/signal_linux_mipsx.go
  pkg/specgen/generate/container.go
Labels: approved, lgtm

#8912 Restore compatible API for prune endpoints
  pkg/api/handlers/compat/containers_prune.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_prune.go
  pkg/api/handlers/compat/volumes.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/libpod/system.go
  pkg/api/server/register_networks.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: 3.0 Features, APIv2, approved, kind/bug, lgtm

#8781 Add support for checkpoint/restore of containers with volumes
  cmd/podman/containers/checkpoint.go
  cmd/podman/containers/restore.go
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-restore.1.md
  libpod/container_api.go
  libpod/container_internal_linux.go
  pkg/api/handlers/libpod/containers.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  test/e2e/build/basicalpine/Containerfile.volume
  test/e2e/checkpoint_test.go
Labels: approved, lgtm

#8920 podman ps/pod ps add network filter and .Networks format placeholder
  cmd/podman/common/completion.go
  cmd/podman/containers/ps.go
  cmd/podman/pods/ps.go
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman-ps.1.md
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/utils/pods.go
  pkg/domain/entities/container_ps.go
  pkg/domain/entities/pods.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/infra/abi/pods.go
  pkg/ps/ps.go
  test/e2e/pod_ps_test.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#8915 Improve error message when the the podman service is not enabled
  cmd/podman/root.go
Labels: 3.0 Features, approved, lgtm

#8925 podman build --force-rm defaults to true in code
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#8935 oci: keep LC_ env variables to conmon
  libpod/oci_conmon_linux.go
Labels: approved, do-not-merge/hold, lgtm

#8937 Quiet v2.0 branch
  .cirrus.yml
  contrib/cirrus/git_authors_to_irc_nicks.csv
  contrib/cirrus/lib.sh
  contrib/cirrus/notice_branch_failure.sh
  contrib/cirrus/podbot.py
  contrib/cirrus/success.sh
Labels: approved, lgtm, needs-rebase

#8917 Ensure that `podman play kube` actually reports errors
  cmd/podman/play/kube.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
Labels: 3.0 Features, approved, lgtm

#8934 image list: ignore bare manifest list
  pkg/domain/infra/abi/images_list.go
  test/system/010-images.bats
Labels: approved, lgtm

#8939 Cirrus: Add cross-compile test for alternative arches
  .cirrus.yml
  Makefile
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#8933 oci: use /proc/self/fd/FD to open unix socket
  libpod/oci_attach_linux.go
  libpod/oci_attach_linux_cgo.go
  libpod/oci_attach_linux_nocgo.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
Labels: 3.0 Features, approved, lgtm

#8819 Add pre-checkpoint and restore with previous
  cmd/podman/containers/checkpoint.go
  cmd/podman/containers/restore.go
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-restore.1.md
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/oci_conmon_linux.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  test/e2e/checkpoint_test.go
Labels: approved, lgtm

#8905 Use HTTPProxy settings from containers.conf
  cmd/podman/common/create.go
  cmd/podman/images/build.go
  go.mod
  go.sum
  pkg/specgen/generate/container.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/completion/completion.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/retry/retry_linux.go
  vendor/github.com/containers/common/pkg/retry/retry_unsupported.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: 3.0 Features, approved, lgtm

#8923 Adding json formatting to `--list-tags` option in `podman search` command.
  cmd/podman/images/search.go
  test/e2e/search_test.go
Labels: 3.0 Features, approved, lgtm

#8851 Make podman generate systemd --new flag parsing more robust
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: 3.0 Features, approved, lgtm

#8947 Fix problems reported by staticcheck
  cmd/podman/common/create.go
  cmd/podman/containers/prune.go
  cmd/podman/play/kube.go
  cmd/podman/pods/inspect.go
  cmd/podman/pods/prune.go
  cmd/podman/pods/rm.go
  cmd/podman/system/prune.go
  cmd/podman/system/service.go
  libpod/container_internal_linux.go
  libpod/image/image.go
  libpod/image/prune.go
  libpod/image/pull.go
  libpod/in_memory_state.go
  libpod/network/netconflist.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  pkg/api/handlers/libpod/images.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/filters/volumes.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/abi/system.go
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/storage.go
  pkg/specgen/generate/validate.go
Labels: approved, lgtm

#8900 Cirrus: Skip most tests on tag-push
  .cirrus.yml
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#8946 Expose security attribute errors with their own messages
  libpod/define/errors.go
  libpod/oci_util.go
Labels: 3.0 Features, approved, lgtm

#8950 Exorcise Driver code from libpod/define
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  libpod/driver/driver.go
  libpod/image/image.go
  pkg/inspect/inspect.go
Labels: approved, lgtm

#8953 More /var/run -> /run
  pkg/systemd/generate/pods_test.go
Labels: approved, lgtm

#8957 Add 'MemUsageBytes' format option
  cmd/podman/containers/stats.go
  cmd/podman/pods/stats.go
  docs/source/markdown/podman-pod-stats.1.md
  docs/source/markdown/podman-stats.1.md
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/pods_stats.go
Labels: approved, lgtm

#8958 Fixes /etc/hosts duplicated every time after container restarted in a pod
  libpod/container_internal.go
  libpod/container_internal_linux.go
  test/e2e/restart_test.go
Labels: 3.0 Features, approved, lgtm

#8961 play kube: set entrypoint when interpreting Command
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: 3.0 Features, approved, lgtm

#8964 [v2.0.5-rhel] Cirrus: Do not upload test docs [CI:DOCS]
  .cirrus.yml
  contrib/cirrus/upload_release_archive.sh
Labels: approved, lgtm

#8954 Reduce general binding binary size
  cmd/podman/common/volumes.go
  pkg/api/handlers/compat/unsupported.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/swagger.go
  pkg/bindings/errors.go
  pkg/domain/entities/types.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
  pkg/domain/infra/tunnel/network.go
  pkg/domain/infra/tunnel/volumes.go
  pkg/errorhandling/errorhandling.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/volume.go
  pkg/specgen/volumes.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/common/pkg/parse/parse_unix.go
  vendor/modules.txt
Labels: approved, lgtm

#8951 CI: fix broken diagnostic message for -dev check
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#8960 network: disallow CNI networks with user namespaces
  pkg/specgen/generate/namespaces.go
  test/e2e/run_networking_test.go
Labels: 3.0 Features, approved, lgtm

#8966 Vendor in common 0.33.1
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/retry/retry_linux.go
  vendor/github.com/containers/common/pkg/retry/retry_unsupported.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#8962 [CI:DOCS] Add more information and examples on podman and pipes
  .gitignore
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#8967 Ensure install.tools for alt build task
  .cirrus.yml
Labels: approved, lgtm

#8973 [CI:DOCS] Cirrus: Upd. ext. service check host list
  contrib/cirrus/required_host_ports.txt
Labels: approved, lgtm

#8974 Bump github.com/cri-o/ocicni to latest master
  go.mod
  go.sum
  vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go
  vendor/modules.txt
Labels: approved, lgtm

#8906 container stop: release lock before calling the runtime
  libpod/container_api.go
  libpod/container_internal.go
  libpod/define/containerstate.go
  libpod/rootless_cni_linux.go
  test/system/050-stop.bats
Labels: 3.0 Features, approved, lgtm

#8604 Initial implementation of volume plugins
  .gitignore
  Containerfile-testvol
  Makefile
  docs/source/markdown/podman-volume-create.1.md
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/errors.go
  libpod/define/volume_inspect.go
  libpod/options.go
  libpod/plugin/volume_api.go
  libpod/runtime.go
  libpod/runtime_volume_linux.go
  libpod/volume.go
  libpod/volume_inspect.go
  libpod/volume_internal.go
  libpod/volume_internal_linux.go
  pkg/api/handlers/compat/volumes.go
  pkg/api/handlers/libpod/volumes.go
  pkg/domain/entities/volumes.go
  pkg/domain/infra/abi/containers_stat.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/abi/volumes.go
  test/apiv2/30-volumes.at
  test/apiv2/45-system.at
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/config.go
  test/e2e/config/containers.conf
  test/e2e/volume_plugin_test.go
  test/python/docker/test_containers.py
  test/testvol/main.go
Labels: 3.0 Features, approved, lgtm

#8977 [CI:DOCS] Add hook-script example to get_ci_vm.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm

#8978 Bump to containers/buildah 1.9.2
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/CONTRIBUTING.md
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/config.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/mount/mount.go
  vendor/github.com/docker/docker/pkg/system/chtimes_nowindows.go
  vendor/github.com/docker/docker/pkg/system/rm.go
  vendor/github.com/moby/term/go.mod
  vendor/github.com/moby/term/go.sum
  vendor/github.com/moby/term/term_windows.go
  vendor/modules.txt
Labels: 3.0 Features, approved, lgtm

#8982 Container rename bindings
  cmd/podman/containers/rename.go
  docs/source/markdown/links/podman-container-rename.1
  pkg/bindings/containers/rename.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_rename_options.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/rename_test.go
Labels: 3.0 Features, approved, lgtm

#8949 specgen: improve heuristic for /sys bind mount
  pkg/specgen/generate/oci.go
  test/e2e/run_ns_test.go
Labels: 3.0 Features, approved, lgtm

#8456 podman remote send tar
  pkg/bindings/images/build.go
  test/e2e/build_test.go
Labels: 3.0 Features, approved, lgtm

#8986 [CI:DOCS]Add README.md for golang bindings
  pkg/bindings/README.md
Labels: approved, lgtm

#8988 [CI:DOCS] Rename AutocompletePortCommand func
  cmd/podman/common/completion.go
  cmd/podman/containers/port.go
  cmd/podman/containers/rename.go
Labels: approved, lgtm

#8942 Allow podman push to push manifest lists
  cmd/podman/images/push.go
  cmd/podman/manifest/push.go
  cmd/podman/utils/alias.go
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-push.1.md
  docs/source/markdown/podman.1.md
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/manifests.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_push_options.go
  pkg/bindings/manifests/manifests.go
  pkg/bindings/manifests/types.go
  pkg/bindings/manifests/types_push_options.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/entities/manifest.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/tunnel/manifest.go
  test/e2e/manifest_test.go
Labels: 3.0 Features, approved, lgtm

#8992 [ci:docs] Create release notes for V3.0.0
  RELEASE_NOTES.md
Labels: approved, lgtm

#8994 Simplify bindings generation
  Makefile
Labels: approved, lgtm

#8995 [CI:DOCS] lint lint lint
  hack/golangci-lint.sh
  hack/install_golangci.sh
Labels: approved, lgtm

#8997 Bump to v3.0.0-rc1
  .cirrus.yml
  changelog.txt
  version/version.go
Labels: approved, lgtm

#9007 [CI:DOCS]Do not run compose tests with CI:DOCS
  .cirrus.yml
Labels: approved, lgtm

#9005 [CI:DOCS]Add static HTML for api docs for v3.0
  pkg/api/redoc-static.html
Labels: approved, lgtm

#9011 [CI:DOCS]Add readthedoc link for 3.0 docs
  docs/source/Reference.rst
  docs/source/api-static.html
Labels: approved, lgtm

#9013 [v3.0] runner.sh : deal with bash 'set -e'
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#9004 Add binding options for container|pod exists
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_exists_options.go
  pkg/bindings/images/images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_exists_options.go
  pkg/bindings/pods/pods.go
  pkg/bindings/pods/types.go
  pkg/bindings/pods/types_exists_options.go
  pkg/bindings/test/containers_test.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/pods_test.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
  pkg/domain/infra/tunnel/pods.go
Labels: 3.0-backports, approved, lgtm

#9008 runner.sh : deal with bash 'set -e'
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#9023 [CI:DOCS] fix go-md2man HTMLSpan warnings
  Makefile
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-image-tree.1.md
  docs/source/markdown/podman-images.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-system-service.1.md
Labels: approved, lgtm

#9021 podman network exists
  cmd/podman/networks/exists.go
  docs/source/markdown/podman-network-exists.1.md
  docs/source/markdown/podman-network.1.md
  docs/source/network.rst
  pkg/api/handlers/libpod/networks.go
  pkg/api/server/register_networks.go
  pkg/bindings/network/network.go
  pkg/bindings/network/types.go
  pkg/bindings/network/types_exists_options.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/tunnel/network.go
  test/e2e/network_test.go
Labels: approved, lgtm

#8963 [v2.2] Cirrus: Skip most tests on tag-push
  .cirrus.yml
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#8911 CI: smoke test: insist on adding tests on PRs
  CONTRIBUTING.md
  Makefile
  contrib/cirrus/pr-should-include-tests
  contrib/cirrus/pr-should-include-tests.t
  contrib/cirrus/runner.sh
Labels: approved, lgtm

#9020 make bindings generation more robust
  .cirrus.yml
  Makefile
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm

#9035 Make generate systemd --new robust against double curly braces
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm

#9038 Add binding options for container|pod exists
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_exists_options.go
  pkg/bindings/images/images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_exists_options.go
  pkg/bindings/pods/pods.go
  pkg/bindings/pods/types.go
  pkg/bindings/pods/types_exists_options.go
  pkg/bindings/test/containers_test.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/pods_test.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/images.go
  pkg/domain/infra/tunnel/pods.go
Labels: approved, lgtm

#9039 [CI:DOCS]Do not run compose tests with CI:DOCS
  .cirrus.yml
Labels: approved, lgtm

#9014 Fix handling of container remove
  cmd/podman/containers/rm.go
  pkg/api/handlers/compat/containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_remove_options.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/rm_test.go
  test/system/040-ps.bats
Labels: approved, lgtm

#9036 Set log driver for compatibility containers
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  pkg/api/handlers/compat/containers.go
  pkg/specgen/generate/container.go
Labels: Backport to v3.0, approved, lgtm

#9044 [CI:DOCS] Update project name in Code of Conduct
  CODE-OF-CONDUCT.md
Labels: approved, lgtm

#9046 Fix e2e network test flakes
  libpod/network/create.go
  libpod/network/lock.go
  libpod/network/network.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
Labels: approved, lgtm

#9053 [CI:DOCS] Cirrus: Skip smoke task on branch-push
  .cirrus.yml
Labels: approved, lgtm

#9043 [v3.0] [CI:DOCS] Cirrus: Skip smoke task on branch-push
  .cirrus.yml
Labels: approved, lgtm

#9055 [3.0] Set log driver for compatability containers
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  pkg/api/handlers/compat/containers.go
  pkg/specgen/generate/container.go
Labels: approved, lgtm

#9027 Podman volume exists
  cmd/podman/volumes/exists.go
  docs/source/markdown/podman-network-exists.1.md
  docs/source/markdown/podman-volume-exists.1.md
  docs/source/markdown/podman-volume.1.md
  docs/source/volume.rst
  pkg/api/handlers/libpod/volumes.go
  pkg/api/server/register_volumes.go
  pkg/bindings/volumes/types.go
  pkg/bindings/volumes/types_exists_options.go
  pkg/bindings/volumes/volumes.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/volumes.go
  pkg/domain/infra/tunnel/volumes.go
  test/e2e/volume_exists_test.go
Labels: approved, lgtm

#9050 [ci:docs] Add a notice to remove pods/containers before starting the systemd service
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-generate-systemd.1.md
Labels: Backport to v3.0, approved, lgtm

#9068 Turn on some remote test
  test/e2e/images_test.go
  test/e2e/prune_test.go
  test/e2e/rmi_test.go
Labels: approved, lgtm

#9067 podman manifest exists
  cmd/podman/manifest/exists.go
  docs/source/manifest.rst
  docs/source/markdown/podman-manifest-exists.1.md
  docs/source/markdown/podman-manifest.1.md
  libpod/image/manifests.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/server/register_manifest.go
  pkg/bindings/manifests/manifests.go
  pkg/bindings/manifests/types.go
  pkg/bindings/manifests/types_exists_options.go
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/tunnel/manifest.go
  test/e2e/manifest_test.go
Labels: approved, lgtm

#9028 Accept and ignore 'null' as value for X-Registry-Auth
  pkg/auth/auth.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: Backport to v3.0, approved, lgtm

#9073 Small API test improvement for compatibility search endpoint
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: approved, lgtm

#9066 networking: lookup child IP in networks
  libpod/networking_linux.go
  test/system/500-networking.bats
Labels: approved, lgtm

#9080 swagger.go: Fix compilation error
  pkg/api/handlers/swagger/swagger.go
Labels: approved, lgtm

#9057 disable dnsname when --internal
  docs/source/markdown/podman-network-create.1.md
  libpod/network/create.go
  test/e2e/network_create_test.go
Labels: Backport to v3.0, approved, lgtm

#9079 [CI:DOCS] Fix fish completion issue if the command is prefixed with a space
  completions/fish/podman-remote.fish
  completions/fish/podman.fish
Labels: approved, lgtm

#9085 Fix typo
  docs/source/Introduction.rst
Labels: approved, lgtm

#9091 System tests: cover gaps from the last month
  test/system/050-stop.bats
  test/system/070-build.bats
  test/system/400-unprivileged-access.bats
  test/system/410-selinux.bats
Labels: approved, lgtm

#9090 [NO TESTS NEEDED] Ensure shutdown handler access is syncronized
  libpod/runtime.go
  libpod/shutdown/handler.go
  pkg/api/server/server.go
Labels: approved, lgtm

#9094 Pass DefaultMountsFile to podman build
  cmd/podman/images/build.go
  test/e2e/run_test.go
  test/system/070-build.bats
Labels: approved, lgtm

#9084 Fix --arch and --os flags to work correctly
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  cmd/podman/images/pull.go
  cmd/podman/manifest/add.go
  cmd/podman/manifest/annotate.go
  cmd/podman/utils/alias.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-run.1.md
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/server/register_images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_pull_options.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  test/e2e/create_test.go
  test/e2e/pull_test.go
Labels: approved, lgtm

#9070 Fixup search
  libpod/image/search.go
  pkg/api/handlers/compat/images_search.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  test/e2e/search_test.go
  test/python/docker/test_images.py
Labels: approved, lgtm

#8761 [CI:DOCS] Fix man page for fuse-overlayfs config in rootless mode
  docs/source/markdown/podman.1.md
Labels: approved, lgtm

#9022 Cirrus: Upload swagger YAML in every context
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  docs/source/_static/api.html
Labels: approved, lgtm

#9054 make sure the workdir exists on container mount
  libpod/container_api.go
  libpod/container_internal_linux.go
  libpod/container_path_resolution.go
  pkg/domain/infra/abi/archive.go
  pkg/domain/infra/abi/containers_stat.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  test/e2e/run_working_dir_test.go
  test/system/030-run.bats
  test/system/070-build.bats
Labels: Backport to v3.0, approved, do-not-merge/hold, lgtm

#9029 [CI:DOCS] api: fix import image swagger definition
  pkg/api/server/register_images.go
Labels: approved, lgtm

#9106 [CI:DOCS]update state of restful service
  docs/source/index.rst
Labels: Backport to v3.0, approved, lgtm

#9108 [v3.0] fix RHEL gating test: the /sys thing
  test/system/400-unprivileged-access.bats
Labels: approved, lgtm

#9112 [CI:DOCS]Correct static API html path
  docs/source/Reference.rst
  docs/source/_static/api-static.html
Labels: approved, lgtm

#9107 [3.0] disable dnsname when --internal
  docs/source/markdown/podman-network-create.1.md
  libpod/network/create.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
Labels: approved, lgtm

#9101 Fix #9100 Change console mode message to debug
  pkg/terminal/console_windows.go
Labels: approved, lgtm

#9109 Fix #6618
  libpod/networking_linux.go
  test/e2e/inspect_test.go
Labels: approved, lgtm

#9122 Fix podman history --no-trunc for the CREATED BY field
  cmd/podman/images/history.go
  test/e2e/history_test.go
Labels: approved, lgtm

#9025 Ensure the Volumes field in Compat Create is honored
  cmd/podman/common/create_opts.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#9095 podman-remote ps --external --pod --sort do not work.
  cmd/podman/containers/ps.go
  cmd/podman/containers/rm.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_list_options.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/ps/ps.go
  test/e2e/ps_test.go
  test/e2e/rm_test.go
  test/system/040-ps.bats
Labels: Backport to v3.0, approved, lgtm

#9124 e2e tests: synchronize test results
  test/e2e/common_test.go
Labels: approved, lgtm

#9105 remote exec: write conmon error on hijacked connection
  libpod/oci_conmon_exec_linux.go
  libpod/util.go
  test/system/075-exec.bats
Labels: approved, lgtm

#9127 podman build --pull: use correct policy
  cmd/podman/images/build.go
  test/system/070-build.bats
Labels: Backport to v3.0, approved, lgtm

#9082 Fix static build cache by using cachix
  .cirrus.yml
  contrib/cirrus/required_host_ports.txt
  contrib/cirrus/runner.sh
  nix/nixpkgs.json
Labels: approved, lgtm

#8585 Add support for rootless network-aliases and static ip/mac
  contrib/rootless-cni-infra/Containerfile
  contrib/rootless-cni-infra/rootless-cni-infra
  libpod/rootless_cni_linux.go
  pkg/specgen/container_validate.go
  pkg/specgen/pod_validate.go
  test/e2e/create_staticip_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/create_test.go
  test/e2e/network_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_staticip_test.go
Labels: Backport to v3.0, approved, lgtm

#9115 Switch podman image push handlers to use abi
  cmd/podman/images/push.go
  docs/source/markdown/podman-push.1.md
  pkg/api/handlers/compat/images_push.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/server/register_images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_push_options.go
  pkg/bindings/manifests/manifests.go
  pkg/domain/infra/tunnel/images.go
  pkg/domain/infra/tunnel/manifest.go
  test/e2e/push_test.go
  test/system/150-login.bats
Labels: approved, lgtm

#9110 Don't fail if one of the cgroups is not setup
  pkg/cgroups/cgroups.go
  pkg/cgroups/cgroups_test.go
Labels: approved, lgtm

#9141 [v3.0] Add support for rootless network-aliases and static ip/mac
  contrib/rootless-cni-infra/Containerfile
  contrib/rootless-cni-infra/rootless-cni-infra
  libpod/rootless_cni_linux.go
  pkg/specgen/container_validate.go
  pkg/specgen/pod_validate.go
  test/e2e/create_staticip_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/create_test.go
  test/e2e/network_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_staticip_test.go
Labels: approved, lgtm

#9143 Cirrus: Build static podman-remote
  .cirrus.yml
  contrib/cirrus/pr-should-include-tests
  nix/default.nix
Labels: approved, lgtm

#9149 Podman-remote push can support --format
  cmd/podman/images/push.go
  docs/source/markdown/podman-push.1.md
  pkg/api/handlers/compat/images_push.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_push_options.go
  pkg/domain/infra/tunnel/images.go
  test/e2e/push_test.go
Labels: approved, lgtm

#9144 Revert "podman build --pull: use correct policy"
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
  test/system/070-build.bats
Labels: Backport to v3.0, approved, lgtm

#9150 Honor custom DNS in play|generate kube
  libpod/kube.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#9160 Vendor in containers/buildah v1.19.3
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/util/types.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/modules.txt
Labels: approved, lgtm

#9161 [CI:DOCS]build instructions for macOS
  build_osx.md
Labels: approved, lgtm

#9163 Backports for v3.0 RC2
  .cirrus.yml
  Makefile
  cmd/podman/common/create_opts.go
  cmd/podman/images/history.go
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  libpod/container_api.go
  libpod/container_internal_linux.go
  libpod/container_path_resolution.go
  libpod/networking_linux.go
  libpod/oci_conmon_exec_linux.go
  libpod/runtime.go
  libpod/shutdown/handler.go
  libpod/util.go
  pkg/api/server/server.go
  pkg/domain/infra/abi/archive.go
  pkg/domain/infra/abi/containers_stat.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/apiv2/20-containers.at
  test/e2e/generate_systemd_test.go
  test/e2e/history_test.go
  test/e2e/inspect_test.go
  test/e2e/run_working_dir_test.go
  test/system/030-run.bats
  test/system/070-build.bats
  test/system/075-exec.bats
  version/version.go
Labels: approved, lgtm

#9063 Cirrus: Fix running Validate task on branches
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm
