Repository containers/podman, pull requests merged in 2021-08, with the labels that each got.

#11054 Add `--accept-repositories` integration tests
  cmd/podman/login.go
  cmd/podman/logout.go
  go.mod
  go.sum
  test/e2e/login_logout_test.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/import.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/search.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/auth/cli.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/pull_policy.go
  vendor/github.com/containers/common/pkg/seccomp/types.go
  vendor/modules.txt
Labels: approved, lgtm

#11072 Remove ReadHeaderTimeout
  pkg/api/server/server.go
Labels: approved, lgtm

#11064 [CI:DOCS] Multi-arch image build: Daily version-tag push
  .github/workflows/multi-arch-build.yaml
Labels: approved, lgtm

#10828 Created image scp feature
  cmd/podman/images/scp.go
  cmd/podman/system/connection/add.go
  cmd/podman/system/connection/shared.go
  docs/source/image.rst
  docs/source/markdown/podman-image-scp.1.md
  docs/source/markdown/podman-image.1.md
  go.mod
  go.sum
  pkg/domain/entities/images.go
  test/e2e/image_scp_test.go
  vendor/github.com/dtylman/scp/.gitignore
  vendor/github.com/dtylman/scp/LICENSE
  vendor/github.com/dtylman/scp/README.md
  vendor/github.com/dtylman/scp/msg.go
  vendor/github.com/dtylman/scp/scp.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519_generic.go
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/README
  vendor/golang.org/x/crypto/curve25519/internal/field/fe.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.s
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64.s
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_generic.go
  vendor/golang.org/x/crypto/curve25519/internal/field/sync.checkpoint
  vendor/golang.org/x/crypto/curve25519/internal/field/sync.sh
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/modules.txt
Labels: approved, lgtm

#11094 Bump to v4.0.0-dev
  test/apiv2/01-basic.at
  version/version.go
Labels: approved, lgtm

#11099 podman-registry: minor usability updates
  hack/podman-registry
Labels: approved, lgtm

#11101 Fix handling of user specified container labels
  libpod/container_internal.go
  test/system/410-selinux.bats
Labels: approved, lgtm

#11068 test: move container process to a sub-cgroup
  test/e2e/run_cgroup_parent_test.go
Labels: approved, lgtm

#11097 Cirrus: CI Support for v3.3 Branch
  .cirrus.yml
Labels: approved, lgtm

#11117 image scp: fix typo in output
  cmd/podman/images/scp.go
  docs/source/markdown/podman-image-scp.1.md
Labels: Backport to v3.3, approved, lgtm

#11091 fix rootless port forwarding with network dis-/connect
  docs/source/markdown/podman-network-connect.1.md
  docs/source/markdown/podman-network-disconnect.1.md
  docs/source/markdown/podman-network-reload.1.md
  go.mod
  go.sum
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
  pkg/rootlessport/rootlessport_linux.go
  test/system/500-networking.bats
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/parent.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/tcp/tcp.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/udp/udp.go
  vendor/modules.txt
Labels: Backport to v3.3, approved, lgtm

#11122 podman info: try qfile before equery
  libpod/util.go
  test/system/005-info.bats
Labels: approved, lgtm

#11114 Compat API: Fix healthcheck status and healthcheck config
  pkg/api/handlers/compat/containers.go
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: approved, lgtm

#11120 [v3.3] Disable aarch64 support
  cmd/podman/machine/init.go
  cmd/podman/machine/list.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
Labels: approved, lgtm

#11104 Only support containers stats using cgroups v2
  pkg/api/handlers/libpod/containers_stats.go
  pkg/api/server/register_containers.go
  test/apiv2/20-containers.at
Labels: HTTP API, approved, kind/bug, lgtm

#11003 stats: add a interval parameter to cli and api stats streaming
  cmd/podman/containers/stats.go
  docs/source/markdown/podman-stats.1.md
  pkg/api/handlers/libpod/containers_stats.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_stats_options.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/pod_stats_test.go
  test/e2e/stats_test.go
Labels: approved, lgtm

#10973 Support size options on builtin volumes
  docs/source/markdown/podman-volume-create.1.md
  libpod/options.go
  libpod/runtime_volume_linux.go
  libpod/volume.go
  libpod/volume_internal.go
  libpod/volume_internal_linux.go
  pkg/domain/infra/abi/parse/parse.go
Labels: approved, lgtm

#11118 Do not add an entry to /etc/hosts with `--net=host`
  libpod/container_internal_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#11096 Use static path for gvproxy
  pkg/machine/qemu/machine.go
Labels: Backport to v3.3, approved, lgtm

#11113 Fix podman unpause to work like podman stop
  cmd/podman/utils/error.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/080-pause.bats
Labels: approved, lgtm

#11128 Handle timezone on server containers.conf
  libpod/runtime_ctr.go
  test/e2e/containers_conf_test.go
Labels: approved, lgtm

#11132 Bump Buildah to v1.22.0 [NO TESTS NEEDED]
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#11133 Cirrus: Fix not uploading logformatter html
  .cirrus.yml
Labels: approved, lgtm

#11011 implement init containers in podman
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/create.go
  docs/source/markdown/podman-create.1.md
  libpod/container_config.go
  libpod/container_graph.go
  libpod/container_validate.go
  libpod/define/container.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  pkg/domain/infra/abi/pods.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/pod_initcontainers_test.go
Labels: approved, lgtm

#11135 Fix TS parsing for fractional values
  pkg/util/utils.go
  pkg/util/utils_test.go
Labels: lgtm, approved

#11136 show podman machine ssh command line
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11147 [v3.3] Bump to Buildah v1.22.0 [NO NEW TESTS NEEDED]
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11141 personality: Add support for setting execution domain.
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/generate/oci.go
  pkg/specgen/specgen.go
  test/e2e/run_test.go
Labels: lgtm, approved

#11074 auto-update: simple rollback
  cmd/podman/auto-update.go
  docs/source/markdown/podman-auto-update.1.md
  pkg/autoupdate/autoupdate.go
  pkg/domain/entities/auto-update.go
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  test/system/255-auto-update.bats
Labels: lgtm, approved

#11150 [v3.3] fix rootless port forwarding with network dis-/connect
  docs/source/markdown/podman-network-connect.1.md
  docs/source/markdown/podman-network-disconnect.1.md
  docs/source/markdown/podman-network-reload.1.md
  go.mod
  go.sum
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
  pkg/rootlessport/rootlessport_linux.go
  test/system/500-networking.bats
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/parent.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/tcp/tcp.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/udp/udp.go
  vendor/modules.txt
Labels: lgtm, approved

#11137 [CI:DOCS] tests-expect-exit: include source line numbers
  Makefile
Labels: lgtm, approved

#11161 podman info show correct slirp4netns path
  libpod/info.go
  test/system/005-info.bats
Labels: lgtm, approved

#11134 Alias build to buildx, so it won't fail
  cmd/podman/images/build.go
  cmd/podman/images/buildx.go
  cmd/podman/shell_completion_test.go
  docs/source/markdown/podman-build.1.md
  test/system/070-build.bats
Labels: lgtm, approved

#11176 skip flaking auto-update test
  test/system/255-auto-update.bats
Labels: lgtm, approved

#10589 Add support for pod inside of user namespace.
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/pod_inspect.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime_pod_infra_linux.go
  pkg/api/handlers/libpod/pods.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/namespaces.go
  pkg/specgen/podspecgen.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved

#11177 [CI:DOCS] Document source ip for the rootlesskit port handler
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#11160 Reproducible Builds: trim embedded cgo paths
  Makefile
Labels: lgtm, approved

#11153 Added autocompletion for images and system connections for podman image SCP
  cmd/podman/common/completion.go
  cmd/podman/images/scp.go
Labels: lgtm, approved

#11173 Add until filter to podman pod ps
  docs/source/markdown/podman-pod-ps.1.md
  pkg/api/server/register_pods.go
  pkg/domain/filters/pods.go
  test/apiv2/40-pods.at
  test/e2e/pod_ps_test.go
Labels: lgtm, approved

#11164 Enhance priv. dev. check
  test/e2e/run_device_test.go
Labels: lgtm, approved

#11193 Release notes for Podman v3.3.0-RC2
  RELEASE_NOTES.md
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  cmd/podman/utils/error.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_validate.go
  libpod/define/pod_inspect.go
  libpod/info.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_infra_linux.go
  libpod/util.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/libpod/containers_stats.go
  pkg/api/server/register_containers.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/machine/qemu/machine.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  pkg/util/utils.go
  pkg/util/utils_test.go
  test/apiv2/20-containers.at
  test/apiv2/python/rest_api/test_v2_0_0_container.py
  test/e2e/containers_conf_test.go
  test/e2e/pod_create_test.go
  test/e2e/run_cgroup_parent_test.go
  test/e2e/run_networking_test.go
  test/system/005-info.bats
  test/system/080-pause.bats
  test/system/410-selinux.bats
Labels: lgtm, approved

#11190 [CI:DOCS] Fix multi-arch image docs
  contrib/podmanimage/README.md
Labels: lgtm, approved

#11167 For compatibility, ignore Content-Type
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: lgtm, approved, kind/bug, HTTP API

#11203 Run codespell to fix spelling
  Makefile
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  libpod/container.go
  libpod/container_internal_linux.go
  libpod/container_log_linux.go
  libpod/networking_linux.go
  pkg/api/handlers/utils/images.go
  pkg/domain/filters/containers.go
  test/system/255-auto-update.bats
  test/system/700-play.bats
Labels: lgtm, approved

#11215 Set gvproxy path to /usr/libexec/podman/gvproxy
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11219 rename oneshot initcontainers to once
  cmd/podman/containers/create.go
  docs/source/markdown/podman-create.1.md
  libpod/container_config.go
  libpod/define/container.go
  libpod/pod_api.go
  pkg/specgen/specgen.go
  test/e2e/pod_initcontainers_test.go
Labels: lgtm, approved

#11228 Fixed healthcheck default values when container created via compat API
  cmd/podman/common/create_opts.go
  test/apiv2/20-containers.at
Labels: lgtm, approved

#11230 Fix rootless cni dns without systemd stub resolver
  libpod/networking_linux.go
  test/system/500-networking.bats
Labels: lgtm, approved, Backport to v3.3

#11195 rootful: unset XDG_RUNTIME_DIR
  cmd/podman/registry/config.go
Labels: lgtm, approved

#11169 Enable docker-py compat. testing w/ ignored result
  .cirrus.yml
  Makefile
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/python/requirements.txt
Labels: lgtm, approved

#11154 Libpod images pull changes
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/server/register_images.go
  test/apiv2/python/rest_api/test_v2_0_0_image.py
Labels: lgtm, approved, 4.0

#11234 fix gvproxy path search for macos
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#11240 make sure that signal buffers are sufficiently big
  libpod/shutdown/handler.go
  pkg/domain/infra/abi/terminal/sigproxy_linux.go
  pkg/rootless/rootless_linux.go
Labels: lgtm, approved

#11224 Add space trimming check in ValidateSysctls
  pkg/util/utils.go
  pkg/util/utils_test.go
Labels: lgtm, approved

#11231 volume: move validating volume dest from client to server.
  .gitignore
  libpod/options.go
  pkg/specgen/generate/storage.go
  pkg/specgen/volumes.go
Labels: lgtm, approved

#11192 [NO TESTS NEEDED] Change connection error to be helpful for machine users
  pkg/bindings/connection.go
Labels: lgtm, approved

#11254 [CI:DOCS] Bump to v3.3.0-RC3
  RELEASE_NOTES.md
  changelog.txt
Labels: lgtm, approved

#11252 Cirrus: Resolve two upgrade-test FIXMEs
  .cirrus.yml
Labels: lgtm, approved

#11212 cgroup-manager-systemd: Warn early if user is rootless and no relevent user session is present.
  libpod/runtime.go
  pkg/systemd/dbus.go
Labels: lgtm, approved

#10829 Update images
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
  test/buildah-bud/apply-podman-deltas
  test/compose/mount_and_label/docker-compose.yml
  test/e2e/common_test.go
  test/e2e/login_logout_test.go
  test/e2e/run_test.go
  test/e2e/stats_test.go
  test/e2e/systemd_test.go
Labels: lgtm, approved

#11180 Add ability to build images in play kube
  cmd/podman/play/kube.go
  docs/source/markdown/podman-play-kube.1.md
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  test/e2e/common_test.go
  test/e2e/play_build_test.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#11267 Volumes: Only remove from DB if plugin removal succeeds
  libpod/runtime_volume_linux.go
Labels: lgtm, approved

#11269 fix rootlessport flake
  pkg/rootlessport/rootlessport_linux.go
Labels: lgtm, approved

#11249 [CI:DOCS] Updated Troubleshooting.md Closes #5431
  troubleshooting.md
Labels: lgtm, approved

#11163 [V3.3] Update images
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
  test/buildah-bud/apply-podman-deltas
  test/compose/mount_and_label/docker-compose.yml
  test/e2e/common_test.go
  test/e2e/login_logout_test.go
  test/e2e/run_cgroup_parent_test.go
  test/e2e/run_device_test.go
  test/e2e/run_test.go
  test/e2e/stats_test.go
  test/e2e/systemd_test.go
Labels: lgtm, approved

#11281 [v3.3] backport rootless networking fixes
  libpod/networking_linux.go
  pkg/rootlessport/rootlessport_linux.go
  test/system/500-networking.bats
Labels: lgtm, approved

#11271 Clean up swagger
  pkg/api/handlers/compat/swagger.go
  pkg/api/handlers/swagger/swagger.go
  pkg/api/handlers/types.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_images.go
  pkg/api/server/register_pods.go
  pkg/api/server/swagger.go
Labels: lgtm, approved

#11279 machine: compute sha256 as we are reading the file
  pkg/machine/fcos.go
Labels: lgtm, approved

#11280 Podman info output plugin information
  libpod/container_log.go
  libpod/container_log_linux.go
  libpod/define/info.go
  libpod/info.go
  pkg/api/handlers/compat/info.go
  test/e2e/info_test.go
Labels: lgtm, approved

#11246 Implement SD-NOTIFY proxy in conmon
  libpod/container.go
  libpod/container_internal_linux.go
  libpod/diff.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  test/system/255-auto-update.bats
  test/system/260-sdnotify.bats
Labels: lgtm, approved, Backport to v3.3

#11289 Fix network aliases with network id
  libpod/runtime_ctr.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/run_networking_test.go
Labels: lgtm, approved

#11286 Update /version endpoint to add components
  libpod/runtime.go
  pkg/api/handlers/compat/version.go
  test/apiv2/python/rest_api/test_v2_0_0_system.py
Labels: lgtm, approved, HTTP API

#11294 [3.3] Implement SD-NOTIFY proxy in conmon
  libpod/container.go
  libpod/container_internal_linux.go
  libpod/diff.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  test/system/260-sdnotify.bats
Labels: lgtm, approved

#11297 [v3.3] Bump c/image 5.15.2, buildah v1.22.3
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11299 v3.3.0 Final Backports and Release Notes
  RELEASE_NOTES.md
  libpod/runtime_ctr.go
  libpod/runtime_volume_linux.go
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  pkg/machine/fcos.go
  test/apiv2/10-images.at
  test/e2e/network_connect_disconnect_test.go
  test/e2e/run_networking_test.go
Labels: lgtm, approved

#11300 [CI:DOCS] Bump to v3.3.0
  changelog.txt
  contrib/spec/podman.spec.in
  version/version.go
Labels: lgtm, approved

#11296 add flag to record memory profiles
  cmd/podman/root.go
  pkg/domain/entities/engine.go
Labels: lgtm, approved

#11301 Update README for 3.3.0 release
  README.md
  RELEASE_NOTES.md
Labels: lgtm, approved

#11202 e2e tests: fix overlay: Unknown option vfs.imagestore
  test/e2e/common_test.go
Labels: lgtm, approved, ok-to-test

#11305 Use pod netns with --pod-id-file
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved, Backport to v3.3

#11308 profiling: higher memory sampling rate
  cmd/podman/root.go
Labels: lgtm, approved

#11205 Support for --tls-verify flag in podman-run & podman-create
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  test/e2e/create_test.go
  test/e2e/run_test.go
Labels: lgtm, approved

#11313 utils.RunUnderSystemdScope(): always close Conn
  utils/utils_supported.go
Labels: lgtm, approved

#11312 generate systemd: custom stop signal
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/system/250-systemd.bats
Labels: lgtm, approved, Backport to v3.3

#11232 Network interface
  cmd/podman/common/create_opts.go
  cmd/podman/common/util.go
  libpod/network/cni/README.md
  libpod/network/cni/cni_conversion.go
  libpod/network/cni/cni_exec.go
  libpod/network/cni/cni_suite_test.go
  libpod/network/cni/cni_types.go
  libpod/network/cni/config.go
  libpod/network/cni/config_test.go
  libpod/network/cni/network.go
  libpod/network/cni/run.go
  libpod/network/cni/run_test.go
  libpod/network/cni/testfiles/invalid/broken.conflist
  libpod/network/cni/testfiles/invalid/invalid_gateway.conflist
  libpod/network/cni/testfiles/invalid/invalidname.conflist
  libpod/network/cni/testfiles/invalid/noname.conflist
  libpod/network/cni/testfiles/invalid/noplugin.conflist
  libpod/network/cni/testfiles/invalid/samename1.conflist
  libpod/network/cni/testfiles/invalid/samename2.conflist
  libpod/network/cni/testfiles/valid/87-podman.conflist
  libpod/network/cni/testfiles/valid/bridge.conflist
  libpod/network/cni/testfiles/valid/dualstack.conflist
  libpod/network/cni/testfiles/valid/internal.conflist
  libpod/network/cni/testfiles/valid/label.conflist
  libpod/network/cni/testfiles/valid/macvlan.conflist
  libpod/network/cni/testfiles/valid/macvlan_mtu.conflist
  libpod/network/cni/testfiles/valid/mtu.conflist
  libpod/network/cni/testfiles/valid/vlan.conflist
  libpod/network/types/const.go
  libpod/network/types/network.go
  libpod/network/util/filters.go
  libpod/network/util/interfaces.go
  libpod/network/util/ip.go
  libpod/network/util/ip_test.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/types.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/ports.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
Labels: lgtm, approved

#11315 generate systemd: use --cidfile again
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/system/250-systemd.bats
Labels: lgtm, approved, Backport to v3.3

#11263 libpod/Container.readFromJournal(): don't skip the first entry
  go.mod
  go.sum
  libpod/container_log_linux.go
  libpod/container_log_unsupported.go
  libpod/logs/log.go
  libpod/oci_conmon_linux.go
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/containers_logs.go
  pkg/domain/infra/tunnel/containers.go
  test/system/130-kill.bats
  test/system/330-corrupt-images.bats
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/nosystemd.go
  vendor/github.com/containers/common/pkg/config/systemd.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#11320 [3.3] generate systemd: use --cidfile again
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  test/system/250-systemd.bats
Labels: lgtm, approved

#11314 podman inspect show exposed ports
  libpod/container_commit.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/networking_linux.go
  libpod/options.go
  libpod/pod_api.go
  libpod/runtime_pod_infra_linux.go
  libpod/util.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/ports.go
  test/e2e/commit_test.go
  test/e2e/container_inspect_test.go
Labels: lgtm, approved

#11359 [release-3.0.1-rhel] bump github.com/containers/buildah to v1.19.9
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/modules.txt
Labels: lgtm, approved

#11360 rootless cni: resolve absolute symlinks correctly
  libpod/networking_linux.go
Labels: lgtm, approved

#11342 clean up socket and pid files from podman machine
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, do-not-merge/hold

#11361 Bump to v3.3.1
  RELEASE_NOTES.md
  changelog.txt
  cmd/podman/containers/create.go
  cmd/podman/containers/logs.go
  cmd/podman/containers/run.go
  cmd/podman/generate/kube.go
  contrib/spec/podman.spec.in
  docs/source/markdown/podman-volume-ls.1.md
  docs/source/markdown/podman-volume-prune.1.md
  libpod/events/filters.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/networking_linux.go
  pkg/api/handlers/compat/containers_logs.go
  pkg/bindings/connection.go
  pkg/bindings/containers/archive.go
  pkg/bindings/containers/attach.go
  pkg/bindings/containers/checkpoint.go
  pkg/bindings/containers/commit.go
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/create.go
  pkg/bindings/containers/diff.go
  pkg/bindings/containers/exec.go
  pkg/bindings/containers/healthcheck.go
  pkg/bindings/containers/logs.go
  pkg/bindings/containers/mount.go
  pkg/bindings/containers/rename.go
  pkg/bindings/errors.go
  pkg/bindings/generate/generate.go
  pkg/bindings/images/diff.go
  pkg/bindings/images/images.go
  pkg/bindings/images/rm.go
  pkg/bindings/manifests/manifests.go
  pkg/bindings/network/network.go
  pkg/bindings/play/play.go
  pkg/bindings/pods/pods.go
  pkg/bindings/secrets/secrets.go
  pkg/bindings/system/info.go
  pkg/bindings/system/system.go
  pkg/bindings/test/attach_test.go
  pkg/bindings/test/common_test.go
  pkg/bindings/test/resource_test.go
  pkg/bindings/volumes/volumes.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/machine/qemu/machine.go
  pkg/util/utils.go
  pkg/util/utils_test.go
  test/e2e/common_test.go
  test/e2e/events_test.go
  test/e2e/logs_test.go
  test/e2e/pod_create_test.go
  test/e2e/run_test.go
  utils/utils_supported.go
  version/version.go
Labels: lgtm, approved

#11353 container: resolve workdir during initialization after all the mounts are completed.
  libpod/container_internal.go
  libpod/container_internal_linux.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved

#11357 auto-update: fix authfile label
  pkg/autoupdate/autoupdate.go
  test/system/255-auto-update.bats
Labels: lgtm, approved

#11009 Upgrade test: add new baseline
  .cirrus.yml
Labels: lgtm, approved

#11374 Cirrus: Skip APIv2 tests for [CI:DOCS]
  .cirrus.yml
Labels: lgtm, approved

#11373 Use UNMERGED vbauerster/mpb PR to fix a pull deadlock
  go.mod
  go.sum
  vendor/github.com/vbauerster/mpb/v7/bar.go
  vendor/modules.txt
Labels: lgtm, approved

#11316 pass LISTEN_* environment into container
  libpod/container_internal_linux.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  test/system/250-systemd.bats
Labels: lgtm, approved

#11372 Cirrus: Reduce APIv2 task timeout
  .cirrus.yml
Labels: lgtm, approved

#11375 [CI:DOCS] podman cp: highlight globbing and multi-file copy
  docs/source/markdown/podman-cp.1.md
Labels: lgtm, approved
