Repository containers/podman, pull requests merged in 2021-02, with the labels that each got.

#9138 podman generate kube ignores --network=host
  libpod/container.go
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: Backport to v3.0, approved, lgtm

#9151 Docker ignores mount flags that begin with constency
  cmd/podman/common/volumes.go
  pkg/util/mountOpts.go
  test/e2e/run_volume_test.go
Labels: Backport to v3.0, approved, lgtm

#9173 Endpoint that lists containers does not return correct Status value
  pkg/api/handlers/compat/containers.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: Backport to v3.0, approved, lgtm

#9051 Switch podman stop/kill/wait handlers to use abi
  cmd/podman/containers/kill.go
  cmd/podman/containers/stop.go
  cmd/podman/containers/wait.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/containers_restart.go
  pkg/api/handlers/compat/containers_stop.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/utils/containers.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_kill_options.go
  pkg/bindings/containers/types_remove_options.go
  pkg/bindings/containers/types_stop_options.go
  pkg/bindings/containers/types_wait_options.go
  pkg/bindings/test/containers_test.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/kill_test.go
  test/e2e/restart_test.go
  test/e2e/stop_test.go
Labels: Backport to v3.0, approved, lgtm

#9168 Fix --network parsing for podman pod create
  cmd/podman/pods/create.go
  test/e2e/pod_create_test.go
Labels: Backport to v3.0, approved, lgtm

#9178 Fix podman generate systemd --new special char handling
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
Labels: approved, lgtm

#9179 [v3.0] Cirrus: Fix running Validate task on branches
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm

#9180 [v3.0] Use cachix for static build & include podman-remote build
  .cirrus.yml
  contrib/cirrus/required_host_ports.txt
  contrib/cirrus/runner.sh
  nix/default.nix
  nix/nixpkgs.json
Labels: approved, lgtm

#9190 New 'make completions' target
  Makefile
  completions/Readme.md
Labels: approved, lgtm

#9189 add macvlan as a supported network driver
  docs/source/markdown/podman-network-create.1.md
  libpod/network/create.go
  libpod/network/netconflist.go
  libpod/network/network.go
  test/e2e/common_test.go
  test/e2e/network_test.go
Labels: Backport to v3.0, approved, lgtm

#9192 [CI:DOCS] Update release notes for v3.0.0
  RELEASE_NOTES.md
Labels: approved, lgtm

#9198 [3.0]add macvlan as a supported network driver
  docs/source/markdown/podman-network-create.1.md
  libpod/network/create.go
  libpod/network/netconflist.go
  libpod/network/network.go
  test/e2e/common_test.go
  test/e2e/network_test.go
Labels: approved, lgtm

#9184 [3.0] podman build --pull: refine help message and docs
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#9116 List volumes before pruning
  cmd/podman/volumes/prune.go
  test/system/160-volumes.bats
Labels: approved, lgtm

#9185 Allow pods to use --net=none
  libpod/options.go
  libpod/pod.go
  libpod/runtime_pod_infra_linux.go
  pkg/specgen/generate/pod_create.go
  test/e2e/pod_create_test.go
Labels: approved, lgtm

#9200 Makefile: refactor ginkgo * ginkgo-remote
  Makefile
Labels: approved, lgtm

#9202 [v2.2.1-rhel] Fix podman build --logfile
  cmd/podman/images/build.go
  test/system/070-build.bats
Labels: approved, lgtm

#9204 Honor network options for macvlan networks
  libpod/network/config.go
  libpod/network/create.go
  libpod/network/netconflist.go
  test/e2e/network_test.go
Labels: approved, lgtm

#9209 Gating tests: diff test: workaround for RHEL8 failure
  test/system/140-diff.bats
Labels: Backport to v3.0, approved, lgtm

#9174 Make slirp MTU configurable (network_cmd_options)
  cmd/podman/common/completion.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/networking_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#9146 [v2.2] Cirrus: Upd. ext. service check host list
  contrib/cirrus/required_host_ports.txt
Labels: approved, lgtm

#9147 [v2.2.1-rhel] Cirrus: Upd. ext. service check host list
  contrib/cirrus/required_host_ports.txt
Labels: approved, lgtm

#9103 [CI:DOCS] typo
  docs/tutorials/rootless_tutorial.md
Labels: approved, lgtm

#9213 [v3.0] Gating tests: diff test: workaround for RHEL8 failure
  test/system/140-diff.bats
Labels: approved, lgtm

#9210 Makefile: make bin/* real targets!
  Makefile
  docs/source/markdown/podman-network-create.1.md
Labels: approved, lgtm

#9218 [v2.2.1-rhel] Update vendor of c/common to v0.29.1
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/report/doc.go
  vendor/github.com/containers/common/pkg/report/template.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#9214 Fix invalid wait condition on kill
  pkg/api/handlers/compat/containers.go
  test/python/docker/test_containers.py
Labels: Backport to v3.0, approved, lgtm

#9208 System test for #9096 (truncated stdout)
  test/system/030-run.bats
Labels: approved, lgtm

#9217 bindings: attach: warn correct error
  pkg/bindings/containers/attach.go
Labels: Backport to v3.0, approved, lgtm

#9223 V2.2.1 rhel only basics
  .cirrus.yml
Labels: approved, lgtm

#9188 Report StatusConflict on Pod opt partial failures
  pkg/api/handlers/compat/resize.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/register_pods.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/e2e/common_test.go
  test/e2e/exists_test.go
  test/e2e/generate_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/pod_kill_test.go
  test/e2e/pod_pause_test.go
  test/e2e/pod_prune_test.go
  test/e2e/pod_ps_test.go
  test/e2e/pod_restart_test.go
  test/e2e/pod_rm_test.go
  test/e2e/pod_start_test.go
  test/e2e/pod_stats_test.go
  test/e2e/pod_stop_test.go
  test/e2e/pod_top_test.go
  test/e2e/ps_test.go
  test/e2e/restart_test.go
  test/utils/utils.go
Labels: Backport to v3.0, approved, kind/bug, lgtm

#9225 Fix CVE-2021-20199 for Podman v3.0
  go.mod
  go.sum
  libpod/container_internal_linux.go
  libpod/networking_linux.go
  pkg/rootlessport/rootlessport_linux.go
  test/system/500-networking.bats
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/child/child.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/msg/msg.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/port.go
  vendor/github.com/rootless-containers/rootlesskit/pkg/port/portutil/portutil.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/ptrace_darwin.go
  vendor/golang.org/x/sys/unix/ptrace_ios.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_darwin_386.go
  vendor/golang.org/x/sys/unix/syscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/syscall_darwin_arm.go
  vendor/golang.org/x/sys/unix/syscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/syscall_illumos.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_386.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_illumos_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/term/go.mod
  vendor/golang.org/x/term/go.sum
  vendor/modules.txt
Labels: approved, lgtm

#9154 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#9220 generate kube: handle entrypoint
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#9113 Cirrus: Collect ginkgo node logs artifacts
  .cirrus.yml
  contrib/cirrus/logcollector.sh
Labels: approved, lgtm

#9235 Fix podman network disconnect wrong NetworkStatus number
  libpod/networking_linux.go
  test/e2e/network_connect_disconnect_test.go
Labels: Backport to v3.0, approved, lgtm

#9182 Bump remote API version to 3.0.0
  pkg/api/handlers/utils/handler.go
  test/apiv2/01-basic.at
Labels: Backport to v3.0, approved, lgtm

#9048 Fix Docker APIv2 container wait endpoint
  cmd/podman/containers/wait.go
  libpod/container_api.go
  libpod/container_internal.go
  libpod/define/errors.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/utils/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_wait_options.go
  pkg/bindings/test/attach_test.go
  pkg/bindings/test/common_test.go
  pkg/bindings/test/containers_test.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  test/apiv2/26-containersWait.at
  test/e2e/common_test.go
  test/e2e/wait_test.go
Labels: Backport to v3.0, approved, lgtm

#9231 fix logic when not creating a workdir
  libpod/container_internal_linux.go
  test/system/030-run.bats
Labels: Backport to v3.0, approved, lgtm

#9205 play kube selinux label issue
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: Backport to v3.0, approved, lgtm

#9242 [backport v3.0] Bump github.com/containernetworking/cni from 0.8.0 to 0.8.1
  go.mod
  go.sum
  vendor/github.com/containernetworking/cni/pkg/invoke/find.go
  vendor/modules.txt
Labels: approved, lgtm

#9244 Bump to containers/common v0.33.4
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/report/template.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#9237 Backports for v3.0,0-RC3
  RELEASE_NOTES.md
  cmd/podman/common/completion.go
  cmd/podman/common/volumes.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_internal_linux.go
  libpod/kube.go
  libpod/networking_linux.go
  libpod/options.go
  libpod/pod.go
  libpod/runtime_pod_infra_linux.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/resize.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/register_pods.go
  pkg/bindings/containers/attach.go
  pkg/cgroups/cgroups.go
  pkg/cgroups/cgroups_test.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/pod_create.go
  pkg/systemd/generate/common.go
  pkg/systemd/generate/common_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/terminal/console_windows.go
  pkg/util/mountOpts.go
  test/apiv2/01-basic.at
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/e2e/common_test.go
  test/e2e/exists_test.go
  test/e2e/generate_kube_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_inspect_test.go
  test/e2e/pod_kill_test.go
  test/e2e/pod_pause_test.go
  test/e2e/pod_prune_test.go
  test/e2e/pod_ps_test.go
  test/e2e/pod_restart_test.go
  test/e2e/pod_rm_test.go
  test/e2e/pod_start_test.go
  test/e2e/pod_stats_test.go
  test/e2e/pod_stop_test.go
  test/e2e/pod_top_test.go
  test/e2e/ps_test.go
  test/e2e/restart_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_volume_test.go
  test/system/030-run.bats
  test/utils/utils.go
Labels: approved, lgtm

#9265 vendor latest containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/cgroupv2/cgroups_linux.go
  vendor/github.com/containers/common/pkg/cgroupv2/cgroups_unsupported.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/util_supported.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/common/pkg/report/doc.go
  vendor/github.com/containers/common/pkg/report/template.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#9236 add network prune
  cmd/podman/networks/prune.go
  docs/source/markdown/podman-network-prune.1.md
  docs/source/markdown/podman-network.1.md
  docs/source/network.rst
  libpod/network/network.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/compat/swagger.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/server/register_networks.go
  pkg/bindings/network/network.go
  pkg/bindings/network/types.go
  pkg/bindings/network/types_prune_options.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/network.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/tunnel/network.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/e2e/network_test.go
Labels: approved, lgtm

#9266 make `podman rmi` more robust
  pkg/domain/infra/abi/images.go
  test/e2e/rmi_test.go
Labels: Backport to v3.0, approved, lgtm

#9246 Implement missing arguments for podman build
  cmd/podman/images/build.go
  go.mod
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/e2e/build_test.go
  vendor/github.com/containers/ocicrypt/helpers/parse_helpers.go
  vendor/modules.txt
Labels: approved, lgtm

#9274 Fix varlink GetVersion()
  libpod/define/version.go
  pkg/varlinkapi/system.go
Labels: approved, lgtm

#9272 Bump containers/buildah to v1.19.4
  cmd/podman/images/build.go
  go.mod
  go.sum
  pkg/domain/infra/tunnel/images.go
  test/e2e/build_test.go
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: Backport to v3.0, approved, lgtm

#9269 Allow path completion for podman create/run --rootfs
  cmd/podman/common/completion.go
Labels: approved, lgtm

#9125 Implement Secrets
  cmd/podman/common/completion.go
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/main.go
  cmd/podman/secrets/create.go
  cmd/podman/secrets/inspect.go
  cmd/podman/secrets/list.go
  cmd/podman/secrets/rm.go
  cmd/podman/secrets/secret.go
  commands-demo.md
  docs/source/Commands.rst
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-secret-create.1.md
  docs/source/markdown/podman-secret-inspect.1.md
  docs/source/markdown/podman-secret-ls.1.md
  docs/source/markdown/podman-secret-rm.1.md
  docs/source/markdown/podman-secret.1.md
  docs/source/markdown/podman.1.md
  docs/source/secret.rst
  libpod/container.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/secrets.go
  pkg/api/handlers/libpod/secrets.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/register_secrets.go
  pkg/api/server/server.go
  pkg/api/tags.yaml
  pkg/bindings/secrets/secrets.go
  pkg/bindings/secrets/types.go
  pkg/bindings/secrets/types_create_options.go
  pkg/bindings/secrets/types_inspect_options.go
  pkg/bindings/secrets/types_list_options.go
  pkg/bindings/secrets/types_remove_options.go
  pkg/bindings/test/secrets_test.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/secrets.go
  pkg/domain/infra/abi/secrets.go
  pkg/domain/infra/tunnel/secrets.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/apiv2/50-secrets.at
  test/e2e/commit_test.go
  test/e2e/common_test.go
  test/e2e/run_test.go
  test/e2e/secret_test.go
  vendor/github.com/containers/common/pkg/secrets/filedriver/filedriver.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/github.com/containers/common/pkg/secrets/secretsdb.go
  vendor/modules.txt
Labels: approved, lgtm

#9283 generate kube: do not set caps with --privileged
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: Backport to v3.0, approved, lgtm

#9270 Fix Docker APIv2 push endpoint
  pkg/api/handlers/compat/images_push.go
  test/apiv2/12-imagesMore.at
Labels: approved, lgtm

#9285 Add default template functions
  cmd/podman/containers/ps.go
  cmd/podman/inspect/inspect.go
Labels: approved, kind/bug, lgtm

#9288 vendor github.com/containers/image v5.10.2
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#9287 [3.0] vendor github.com/containers/image v5.10.2
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#9284 Support annotations from containers.conf
  pkg/specgen/generate/container.go
  test/e2e/config/containers.conf
  test/e2e/containers_conf_test.go
  test/e2e/run_test.go
Labels: Backport to v3.0, approved, lgtm

#9295 Fix compat networks endpoint for a empty result
  pkg/api/handlers/compat/networks.go
  test/apiv2/35-networks.at
Labels: Backport to v3.0, approved, lgtm

#9291 hardening flags for fedora rpmbuilds
  contrib/spec/podman.spec.in
Labels: approved, lgtm

#9297 Docker [APIv2] push sends digest in response body
  pkg/api/handlers/compat/images_push.go
  test/apiv2/12-imagesMore.at
Labels: approved, lgtm

#9304 [v1.0] Correct handling of capabilities
  libpod/container_api.go
  libpod/oci.go
  pkg/spec/spec.go
Labels: approved

#9305 [v1.6.4-rhel] Restrict caps of non-root processes in priv containers
  libpod/container_api.go
  libpod/oci.go
  libpod/oci_conmon_linux.go
  pkg/spec/spec.go
Labels: approved

#9294 Update golangci-lint
  .golangci.yml
  Makefile
  dependencies/dependencies.go
  hack/golangci-lint.sh
  pkg/domain/infra/abi/manifest.go
Labels: approved, lgtm

#9301 bump to v3.1.0-dev
  version/version.go
Labels: approved, lgtm

#9299 Add shell completion tests for secrets
  cmd/podman/secrets/create.go
  test/system/600-completion.bats
Labels: approved, lgtm

#9268 [CI:DOCS] Cirrus: Send cirrus-cron report e-mail to list.
  .github/workflows/check_cirrus_cron.yml
  contrib/cirrus/cron-fail_addrs.csv
Labels: approved, lgtm

#9309 Display correct value for unlimited ulimit
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  test/e2e/inspect_test.go
Labels: approved, lgtm

#9308 Rewrite copy-up to use buildah Copier
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/volume.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm

#9312 Correct compat network prune response
  pkg/api/handlers/compat/networks.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: approved, lgtm

#9320 container ps json format miscue
  cmd/podman/containers/ps.go
  test/e2e/ps_test.go
Labels: Backport to v3.0, approved, lgtm

#9327 Bump to v3.0 Final
  RELEASE_NOTES.md
  changelog.txt
  cmd/podman/common/completion.go
  contrib/spec/podman.spec.in
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/volume.go
  pkg/domain/infra/abi/images.go
  test/e2e/inspect_test.go
  test/e2e/rmi_test.go
  test/e2e/run_volume_test.go
  version/version.go
Labels: approved, lgtm

#9329 [CI:DOCS] Update Master to reflect the 3.0 release
  README.md
  RELEASE_NOTES.md
Labels: approved, lgtm

#9302 utils: takes the longest path on cgroup v1
  test/e2e/common_test.go
  test/e2e/run_test.go
  utils/utils_supported.go
Labels: Backport to v3.0, approved, lgtm

#9332 [3.0] utils: takes the longest path on cgroup v1
  test/e2e/common_test.go
  test/e2e/run_test.go
  utils/utils_supported.go
Labels: approved, lgtm

#9321 [backport v3.0] hardening flags for fedora rpmbuilds
  contrib/spec/podman.spec.in
Labels: approved, lgtm

#9311 apiv2: handle docker-java clients pulling
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
Labels: Backport to v3.0, approved, lgtm

#9341 make layer-tree lookup errors non-fatal
  libpod/image/layer_tree.go
Labels: Backport to v3.0, approved, lgtm

#9343 change ps Created to unix
  cmd/podman/containers/ps.go
Labels: Backport to v3.0, approved, lgtm

#9347 Fix superfluous response.WriteHeader call in WaitContainerLibpod()
  pkg/api/handlers/utils/containers.go
Labels: approved, lgtm

#9344 Bump c/storage to v1.24.6
  go.mod
  go.sum
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/modules.txt
Labels: approved, lgtm

#9346 [3.0] make layer-tree lookup errors non-fatal
  libpod/image/layer_tree.go
Labels: approved, lgtm

#9342 Enable more golangci-lint linters
  .golangci.yml
  pkg/specgen/container_validate.go
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/seccomp.go
  pkg/specgen/generate/kube/volume.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/security.go
  pkg/specgen/pod_validate.go
Labels: approved, lgtm

#9349 V3unixts [3.0 Backports]
  cmd/podman/containers/ps.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#9366 [CI:DOCS] Update troubleshooting.md for registries.conf v2
  troubleshooting.md
Labels: approved, lgtm

#9385 Fixci
  test/e2e/images_test.go
  test/e2e/network_test.go
Labels: approved, lgtm

#9375 Fix broken podman generate systemd --new with pods
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
Labels: Backport to v3.0, approved, lgtm

#9394 [CI:DOCS] Fix typo podman run doc in flag -pid=mode "efault"
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#9391 Don't chown workdir if it already exists
  libpod/container_internal_linux.go
  test/e2e/run_working_dir_test.go
Labels: Backport to v3.0, approved, lgtm

#9369 correct startup error message
  cmd/podman/root.go
  pkg/bindings/connection.go
Labels: Backport to v3.0, approved, lgtm

#9372 Docker [APIv2] create container: handle empty host port
  cmd/podman/common/create_opts.go
  test/python/docker/test_containers.py
Labels: Backport to v3.0, approved, lgtm

#9368 podman build: pass runtime to buildah
  libpod/runtime_img.go
  test/system/070-build.bats
Labels: Backport to v3.0, approved, lgtm

#9397 images/create: always pull image
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
Labels: Backport to v3.0, approved, lgtm

#9380 Fix panic in pod creation
  libpod/runtime_pod_infra_linux.go
  test/e2e/common_test.go
  test/e2e/pod_create_test.go
Labels: Backport to v3.0, approved, lgtm

#9396 When stopping a container, print rawInput
  cmd/podman/containers/stop.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/helpers.go
  test/e2e/start_test.go
  test/e2e/stop_test.go
Labels: approved, lgtm

#9399 do not set empty $HOME
  libpod/container_internal_linux.go
  test/system/030-run.bats
Labels: approved, lgtm

#9401 podman kill should report rawInput not container id
  cmd/podman/containers/kill.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/kill_test.go
Labels: approved, lgtm

#9240 Do not reset storage when running inside of a container
  libpod/container_internal_linux.go
  libpod/runtime.go
  test/e2e/run_test.go
Labels: Backport to v3.0, approved, lgtm

#9360 Add missing early returns in compat API
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/compat/secrets.go
  pkg/api/handlers/compat/system.go
Labels: approved, lgtm

#9407 [NO TEST NEEDED] infra: downgrade warning to debug
  pkg/domain/infra/abi/system.go
Labels: Backport to v3.0, approved, lgtm

#9411 Fix lint on v1.6.4-rhel branch
  pkg/spec/spec.go
Labels: approved

#9404 Ignore entrypoint=[""]
  pkg/specgen/generate/oci.go
  test/e2e/run_entrypoint_test.go
Labels: approved, lgtm

#9409 podman ps --format '{{ .Size }}' requires --size option
  cmd/podman/containers/ps.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#9383 Fix an issue where copyup could fail with ENOENT
  libpod/container_internal.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm

#9415 Change source path resolution for volume copy-up
  libpod/container_internal.go
  test/e2e/run_volume_test.go
Labels: approved, lgtm

#9414 API: fix libpod's container wait endpoint condition conversion
  pkg/api/handlers/decoder.go
  pkg/bindings/util/util.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#9425 [CI:DOCS]basic networking guide
  docs/source/Tutorials.rst
  docs/tutorials/README.md
  docs/tutorials/basic_networking.md
  docs/tutorials/podman_bridge.png
  docs/tutorials/podman_macvlan.png
  docs/tutorials/podman_pod.png
  docs/tutorials/podman_rootless_default.png
Labels: approved, lgtm

#9428 cp: treat "." and "/." correctly
  cmd/podman/containers/cp.go
  pkg/domain/infra/abi/archive.go
  test/system/065-cp.bats
Labels: Backport to v3.0, approved, lgtm

#9434 [NO TESTS NEEDED] leak fix in rootless_linux.c fcn can_use_shortcut
  pkg/rootless/rootless_linux.c
Labels: approved, kind/bug, lgtm

#9430 Fix segfault in run with memory-swap
  cmd/podman/common/specgen.go
  test/e2e/run_memory_test.go
Labels: approved, lgtm

#9435 [3.0] cp: treat "." and "/." correctly
  cmd/podman/containers/cp.go
  pkg/domain/infra/abi/archive.go
  test/system/065-cp.bats
Labels: approved, lgtm

#9439 [3.0] vendor c/image v5.10.3
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_others.go
  vendor/github.com/containers/storage/pkg/homedir/homedir_unix.go
  vendor/modules.txt
Labels: approved, lgtm

#9339 [CI:DOCS] Update swagger doc for libpod container wait
  pkg/api/server/register_containers.go
Labels: approved, lgtm

#9417 Fix journald logs
  libpod/container_log_linux.go
  test/e2e/logs_test.go
  test/utils/utils.go
Labels: approved, lgtm

#9436 [NO TESTS NEEDED] Log working dir when chdir fails
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm

#9458 Two usage variations of --new flag added to e2e
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm

#9275 Add missing params for podman-remote build
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/e2e/build_test.go
  test/e2e/prune_test.go
  test/system/070-build.bats
Labels: Backport to v3.0, approved, lgtm

#9324 [v2.2] Cirrus: Fix running Validate task on branches
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm

#9335 [ci:docs] Update rootless_tutorial.md
  docs/tutorials/rootless_tutorial.md
Labels: approved, lgtm

#9420 [NO TESTS NEEDED] Allow podman play kube to read yaml file from stdin
  cmd/podman/play/kube.go
  docs/source/markdown/podman-play-kube.1.md
  test/system/700-play.bats
Labels: approved, lgtm

#9117 [NO TESTS NEEDED] swagger: add missing schema properties
  pkg/api/server/register_manifest.go
  pkg/api/server/register_pods.go
Labels: approved, lgtm

#9468 pr-should-include-tests: recognized "renamed" tests
  contrib/cirrus/pr-should-include-tests
  contrib/cirrus/pr-should-include-tests.t
Labels: approved, lgtm

#9445 No header info for systemd generation
  cmd/podman/generate/systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/api/handlers/libpod/generate.go
  pkg/api/server/register_generate.go
  pkg/bindings/generate/types.go
  pkg/bindings/generate/types_systemd_options.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: approved, lgtm

#9326 [v2.2.1-rhel] Cirrus: Fix running Validate task on branches
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm

#9469 podman cp: /dev/std{in,out} fixes
  cmd/podman/containers/cp.go
  test/system/065-cp.bats
Labels: approved, lgtm

#9464 cgroup: change cgroup deletion logic on v1
  pkg/cgroups/cgroups.go
Labels: approved, lgtm

#9455 Fix podman network IDs handling
  libpod/network/files.go
  libpod/network/network.go
  libpod/networking_linux.go
  libpod/runtime_ctr.go
  test/e2e/create_test.go
  test/e2e/network_connect_disconnect_test.go
Labels: approved, lgtm

#9474 Cirrus: Temp. disable prior-fedora (F32) testing
  .cirrus.yml
Labels: approved, lgtm

#9480 [NO TESTS NEEDED] Replace Labels and Options nulls with {} in NetworkResource
  pkg/api/handlers/compat/networks.go
Labels: approved, lgtm

#8349 Add U volume flag to chown source volumes
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/volumes.go
  pkg/util/mountOpts.go
  pkg/util/utils.go
  test/e2e/run_volume_test.go
  vendor/github.com/containers/common/pkg/chown/chown.go
  vendor/modules.txt
Labels: approved, lgtm

#9485 container removal: handle already removed containers
  libpod/container_exec.go
  pkg/domain/infra/abi/containers.go
  test/system/055-rm.bats
Labels: approved, lgtm

#9497 Network connect error if net mode is not bridge
  libpod/networking_linux.go
  test/e2e/network_connect_disconnect_test.go
Labels: approved, lgtm

#9501 Add dns search domains from cni response to resolv.conf
  libpod/container_internal_linux.go
  test/e2e/run_networking_test.go
Labels: approved, lgtm

#9494 Sort CapDrop in inspect to guarantee order
  libpod/container_inspect.go
  test/e2e/inspect_test.go
Labels: approved, lgtm

#9504 [CI:DOCS] podman-system-connection.1.md: fix copy/paste error
  docs/source/markdown/podman-system-connection.1.md
Labels: approved, lgtm

#8010 networks/list.go updates for --format
  cmd/podman/networks/list.go
  cmd/podman/networks/network.go
  go.mod
  go.sum
  test/e2e/network_test.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/report/template.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#9487 test: ignore named hierarchies for cgroups=split
  test/e2e/run_test.go
Labels: Backport to v3.0, approved, lgtm

#9491 system test image: build it multiarch
  test/system/030-run.bats
  test/system/070-build.bats
  test/system/build-testimage
  test/system/helpers.bash
Labels: approved, lgtm

#9505 [CI:DOCS] swagger: removes the schema type for PodSpecGenerator $ref
  pkg/api/server/register_pods.go
Labels: approved, lgtm

#8749 podman upgrade tests
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/system/helpers.bash
  test/upgrade/README.md
  test/upgrade/helpers.bash
  test/upgrade/test-upgrade.bats
Labels: approved, lgtm

#9533 [CI:DOCS] podman-image-sign.1.md: typo fix
  docs/source/markdown/podman-image-sign.1.md
Labels: approved, lgtm
