Repository containers/podman, pull requests merged in 2021-05, with the labels that each got.

#10178 [v2.2.1-rhel] rmi: don't break when the image is missing a manifest
  libpod/image/image.go
  libpod/image/layer_tree.go
  libpod/runtime_img.go
  pkg/domain/infra/abi/images.go
  test/system/330-corrupt-images.bats
  test/system/helpers.bash
Labels: approved, lgtm

#10182 Detect if in podman machine virtual vm
  go.mod
  go.sum
  libpod/network/config.go
  libpod/network/create.go
  libpod/network/netconflist.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10183 Fix multi-arch image workflow typo
  .github/workflows/multi-arch-build.yaml
  contrib/cirrus/pr-should-include-tests
Labels: approved, lgtm

#10177 cgroup: always honor --cgroup-parent
  libpod/container_internal_linux.go
  libpod/runtime_ctr.go
  test/e2e/run_cgroup_parent_test.go
Labels: approved, lgtm

#10195 [CI:DOCS] Fix variable reference typo. in multi-arch image action
  .github/workflows/multi-arch-build.yaml
Labels: approved, lgtm

#10194 [CI:DOCS] Fix troubleshooting documentation on handling supplemental groups.
  troubleshooting.md
Labels: approved, lgtm

#10200 system test image: add arm64v8 image
  test/system/build-testimage
  test/system/helpers.bash
Labels: approved, lgtm

#10206 compat api: Networks must be empty instead of null
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#8828 Add --all to podman start
  cmd/podman/containers/start.go
  docs/source/markdown/podman-start.1.md
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/045-start.bats
Labels: approved, lgtm

#10199 System tests: honor $OCI_RUNTIME (for CI)
  test/system/005-info.bats
  test/system/160-volumes.bats
  test/system/170-run-userns.bats
  test/system/260-sdnotify.bats
  test/system/410-selinux.bats
  test/system/helpers.bash
Labels: approved, lgtm

#10223 rootless: improve automatic range split
  pkg/rootless/rootless.go
  pkg/rootless/rootless_test.go
Labels: approved, lgtm

#10220 podman: set volatile storage flag for --rm containers
  cmd/podman/common/specgen.go
  libpod/container_config.go
  libpod/container_internal.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
Labels: approved, lgtm

#10224 Bump to v3.2.0-RC1
  changelog.txt
Labels: approved, lgtm

#10185 Add filepath glob support to --security-opt unmask
  cmd/podman/common/specgen.go
  contrib/podmanimage/stable/containers.conf
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/config_linux_test.go
  test/e2e/run_test.go
Labels: approved, lgtm

#10227 [CI:DOCS] Minor podmanimage docs updates.
  contrib/podmanimage/README.md
Labels: approved, lgtm

#10193 Fix handling of runlabel IMAGE and NAME
  pkg/domain/infra/abi/containers_runlabel.go
  pkg/domain/infra/abi/containers_runlabel_test.go
Labels: approved, lgtm

#10231 codespell cleanup
  cmd/podman/common/create.go
  contrib/dependabot-dance
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_config.go
  libpod/define/container_inspect.go
  test/e2e/ps_test.go
  test/upgrade/README.md
Labels: approved, lgtm

#10242 build: improve regex for iidfile
  pkg/bindings/images/build.go
  pkg/bindings/images/build_test.go
Labels: approved, lgtm

#10246 Fixes docker-compose cannot set static ip when use ipam
  cmd/podman/common/create_opts.go
  test/compose/ipam_set_ip/docker-compose.yml
  test/compose/ipam_set_ip/tests.sh
Labels: approved, lgtm

#10243 channel: simplify implementation
  pkg/channel/writer.go
Labels: approved, lgtm

#10244 [CI:DOCS] Fix wrong macvlan PNG in networking tutorial doc.
  docs/tutorials/basic_networking.md
Labels: approved, lgtm

#10234 cgroup: fix rootless --cgroup-parent with pods
  libpod/container_internal_linux.go
  libpod/pod_internal.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
Labels: approved, lgtm

#10250 [CI:DOCS] Add containers.conf information for changing defaults
  docs/source/markdown/podman-save.1.md
Labels: approved, lgtm

#10253 Revert Patch to relabel if selinux not enabled
  libpod/container_internal_linux.go
  test/system/410-selinux.bats
Labels: approved, lgtm

#10237 CI: run rootless tests under ubuntu
  .cirrus.yml
  test/e2e/common_test.go
  test/e2e/play_kube_test.go
  test/system/001-basic.bats
Labels: approved, lgtm

#10238 Fix infinite loop in isPathOnVolume
  libpod/container_path_resolution.go
  test/e2e/run_test.go
Labels: approved, lgtm

#10221 Add support for environment variable secrets
  cmd/podman/common/specgen.go
  cmd/podman/secrets/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-secret-create.1.md
  libpod/container_config.go
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/commit_test.go
  test/e2e/run_test.go
  test/e2e/secret_test.go
Labels: approved, lgtm

#10202 Add support to preserve auto-update labels in play / generate kube
  docs/source/markdown/podman-auto-update.1.md
  libpod/kube.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/generate_kube_test.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#10255 [CI:DOCS] Stop conversion of `--` into en dash
  docs/remote-docs.sh
  docs/source/conf.py
Labels: approved, lgtm

#10249 [CI:DOCS] Add documentation on short-names
  Makefile
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-completion.1.md
  docs/source/markdown/podman-cp.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine-start.1.md
  docs/source/markdown/podman-machine-stop.1.md
  docs/source/markdown/podman-machine.1.md
  docs/source/markdown/podman-network-reload.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-system-service.1.md
  docs/tutorials/mac_client.md
  docs/tutorials/mac_win_client.md
  docs/tutorials/podman-go-bindings.md
Labels: approved, lgtm

#10230 fix: docker APIv2 `images/get`
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#10259 Report Download complete in Compatibility mode
  pkg/api/handlers/compat/images.go
Labels: approved, lgtm

#10265 fix: compat API "images/get" for multiple images
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#10286 fix: use UTC for `containers/{name}/json` endpoint
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: approved, lgtm

#10268 Kube like pods should share ipc,net,uts by default
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#10288 fix container startup for empty pidfile
  libpod/oci_conmon_linux.go
Labels: approved, lgtm

#10292 Fix podman-remote build --rm=false ...
  pkg/bindings/images/build.go
Labels: approved, lgtm

#10310 fix restart always with slirp4netns
  go.sum
  libpod/container_internal.go
  test/system/500-networking.bats
Labels: approved, lgtm

#10317 fix incorrect log driver in podman container image
  contrib/podmanimage/stable/containers.conf
Labels: approved, lgtm

#10318 fix network restart always test
  test/system/500-networking.bats
Labels: approved, lgtm

#10222 podman image tree: restore previous behavior
  go.mod
  go.sum
  libpod/container_log_linux.go
  libpod/logs/log.go
  test/e2e/create_staticip_test.go
  test/e2e/create_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_test.go
  test/e2e/toolbox_test.go
  test/system/035-logs.bats
  test/system/070-build.bats
  test/system/130-kill.bats
  vendor/github.com/containers/common/libimage/events.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/image_tree.go
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/push.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/github.com/containers/common/libimage/search.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/pkg/secrets/filedriver/filedriver.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/github.com/containers/common/pkg/secrets/secretsdb.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10324 [NO TESTS NEEDED] Print "extracting" only on compressed file
  pkg/machine/pull.go
Labels: approved, lgtm

#10313 [CI:DOCS] hack/bats - new helper for running system tests
  hack/bats
Labels: approved, lgtm

#10239 Update nix pin with `make nixpkgs`
  nix/nixpkgs.json
Labels: approved, lgtm

#10300 Add host.serviceIsRemote to podman info results
  cmd/podman/system/info.go
  docs/source/conf.py
  libpod/define/info.go
  test/e2e/info_test.go
Labels: approved, lgtm

#10294 fix system upgrade tests
  test/upgrade/test-upgrade.bats
Labels: approved, lgtm

#10331 Update go.sum
  go.sum
Labels: approved, lgtm

#10254 Add support for cli network prune --filter flag
  cmd/podman/common/util.go
  cmd/podman/containers/prune.go
  cmd/podman/networks/prune.go
  docs/source/markdown/podman-network-ls.1.md
  docs/source/markdown/podman-network-prune.1.md
  test/e2e/network_test.go
Labels: approved, kind/feature, lgtm

#10343 Use updated VM images + updated automation tooling
  .cirrus.yml
Labels: approved, lgtm

#10341 auto-update service: prune images
  contrib/systemd/auto-update/podman-auto-update.service
Labels: approved, lgtm

#10332 [CI:DOCS] Update first line in intro page
  docs/source/Introduction.rst
Labels: approved, lgtm

#10346 [CI:DOCS] network tutorial: update with rootless cni changes
  docs/tutorials/basic_networking.md
Labels: approved, lgtm

#10357 Update to actions/stale@v3
  .github/workflows/stale.yml
Labels: approved, lgtm

#10356 podman network reload add rootless support
  cmd/podman/networks/reload.go
  libpod/define/errors.go
  libpod/networking_linux.go
  pkg/domain/infra/abi/network.go
  test/e2e/network_connect_disconnect_test.go
  test/system/500-networking.bats
Labels: approved, lgtm

#9972 Add host.containers.internal entry into container's etc/hosts
  libpod/container.go
  libpod/container_internal_linux.go
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
  test/system/500-networking.bats
Labels: approved, lgtm

#10363 image prune: remove unused images only with `--all`
  cmd/podman/images/prune.go
  docs/source/markdown/podman-image-prune.1.md
  pkg/domain/infra/abi/images.go
  test/e2e/prune_test.go
Labels: approved, lgtm

#10328 Several shell completion fixes
  cmd/podman/common/completion.go
  cmd/podman/containers/prune.go
  cmd/podman/images/prune.go
  cmd/podman/networks/prune.go
  cmd/podman/system/prune.go
  docs/source/markdown/podman-volume-ls.1.md
Labels: approved, lgtm

#10270 Create the /etc/mtab file if does not exists
  libpod/container_internal.go
  libpod/diff.go
  test/system/030-run.bats
Labels: 3.2, approved, lgtm

#10366 Support uid,gid,mode options for secrets
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/abi/secrets.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/run_test.go
Labels: 3.2, approved, lgtm

#10339 Support automatic labeling of kube volumes
  pkg/specgen/generate/kube/kube.go
  test/system/700-play.bats
Labels: 3.2, approved, lgtm

#10334 Ensure that :Z/:z/:U can be used with named volumes
  libpod/container_internal_linux.go
  test/e2e/run_selinux_test.go
Labels: 3.2, approved, lgtm

#10370 Add script for identifying commits in release branches
  hack/branch_commits.rb
Labels: approved, lgtm

#10372 Break up python APIv2 tests
  Makefile
  test/apiv2/python/__init__.py
  test/apiv2/python/rest_api/__init__.py
  test/apiv2/python/rest_api/fixtures/__init__.py
  test/apiv2/python/rest_api/fixtures/api_testcase.py
  test/apiv2/python/rest_api/fixtures/podman.py
  test/apiv2/python/rest_api/test_v2_0_0_container.py
  test/apiv2/python/rest_api/test_v2_0_0_image.py
  test/apiv2/python/rest_api/test_v2_0_0_manifest.py
  test/apiv2/python/rest_api/test_v2_0_0_network.py
  test/apiv2/python/rest_api/test_v2_0_0_pod.py
  test/apiv2/python/rest_api/test_v2_0_0_system.py
  test/apiv2/python/rest_api/test_v2_0_0_volume.py
  test/apiv2/python/rest_api/v1_test_rest_v1_0_0.py
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: HTTP API, approved, lgtm

#10369 Fix formatting and indentation in network http api docs
  pkg/api/server/register_networks.go
Labels: approved, lgtm

#10371 fix: response of containers wait endpoint
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/containers.go
  test/apiv2/26-containersWait.at
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: approved, lgtm

#10327 Fix problem copying files when container is in host pid namespace
  libpod/container_copy_linux.go
  libpod/container_inspect.go
  test/e2e/cp_test.go
  test/system/065-cp.bats
Labels: 3.2, approved, lgtm

#10399 [CI:DOCS] docs: generate systemd: XDG_RUNTIME_DIR
  docs/source/markdown/podman-generate-systemd.1.md
Labels: approved, lgtm

#10235 Add support for podman manifest rm command
  cmd/podman/manifest/manifest.go
  cmd/podman/manifest/rm.go
  docs/source/manifest.rst
  docs/source/markdown/podman-manifest-rm.1.md
  docs/source/markdown/podman-manifest.1.md
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/tunnel/manifest.go
  test/e2e/manifest_test.go
Labels: approved, lgtm

#10402 [CI:DOCS] [NO TESTS NEEDED] Use conflist suffix when downloading the basic network configuration
  cni/README.md
Labels: approved, lgtm

#10219 add libimage events
  go.mod
  go.sum
  libpod/runtime.go
  test/system/090-events.bats
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#10411 Vendor in containers/buildah v1.21.0
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/modules.txt
Labels: approved, lgtm

#10418 [CI:DOCS] Bump to v3.2.0-RC2
  changelog.txt
Labels: approved, lgtm

#10298 [NO TESTS NEEDED] Downgrade API service routing table output
  pkg/api/server/server.go
Labels: approved, kind/bug, lgtm

#10400 Clear the storage-options from the graphdriver if users specifies --root
  docs/source/markdown/podman.1.md
  pkg/domain/infra/runtime_libpod.go
  test/compose/test-compose
  test/system/005-info.bats
  test/system/010-images.bats
  test/system/150-login.bats
  test/system/330-corrupt-images.bats
Labels: approved, lgtm

#10427 Drop container does not exist on removal to debugf
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: approved, lgtm

#10365 Match swagger to "as built" output
  pkg/api/handlers/swagger/swagger.go
  pkg/api/handlers/types.go
  pkg/api/server/register_images.go
  test/apiv2/python/rest_api/test_v2_0_0_image.py
Labels: HTTP API, approved, kind/bug, lgtm

#10421 Handle hard links in remote builds
  Makefile
  pkg/bindings/images/build.go
  pkg/bindings/images/build_unix.go
  pkg/bindings/images/build_windows.go
  test/system/070-build.bats
Labels: approved, lgtm

#10387 Podman info add support for status of standard available cgroup controllers
  docs/source/markdown/podman-info.1.md
  libpod/define/info.go
  libpod/info.go
  pkg/cgroups/cgroups.go
  test/e2e/info_test.go
Labels: approved, lgtm

#10436 Improve OCI Runtime error
  libpod/define/errors.go
  test/system/030-run.bats
Labels: approved, lgtm

#10446 Handle hard links in different directories
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: approved, lgtm

#10453 [CI:DOCS] docs: --cert-dir: point to containers-certs.d(5)
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-container-runlabel.1.md
  docs/source/markdown/podman-image-sign.1.md
  docs/source/markdown/podman-login.1.md
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
Labels: approved, lgtm

#10456 Fix race on podman start --all
  test/e2e/common_test.go
  test/system/045-start.bats
Labels: approved, lgtm

#10452 Fix race condition in running ls container in a pod
  test/e2e/common_test.go
Labels: approved, do-not-merge/hold, lgtm

#10408 Fix network create macvlan with subnet option
  libpod/network/config.go
  libpod/network/netconflist.go
  test/e2e/network_test.go
Labels: approved, lgtm

#10429 [CI:DOCS] Document all transports for podman manifest add
  docs/source/markdown/podman-manifest-add.1.md
Labels: approved, lgtm

#10430 Add podman run --gpus flag for compatibility
  cmd/podman/containers/run.go
  test/e2e/run_device_test.go
Labels: approved, lgtm

#10466 libimage-events channel: fix data race
  libpod/runtime.go
Labels: approved, lgtm

#10461 Backports for v3.2.0-RC3
  Makefile
  RELEASE_NOTES.md
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-container-runlabel.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-image-sign.1.md
  docs/source/markdown/podman-info.1.md
  docs/source/markdown/podman-login.1.md
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
  libpod/container_copy_linux.go
  libpod/container_inspect.go
  libpod/define/errors.go
  libpod/define/info.go
  libpod/info.go
  libpod/runtime.go
  pkg/api/server/server.go
  pkg/bindings/images/build.go
  pkg/bindings/images/build_unix.go
  pkg/bindings/images/build_windows.go
  pkg/cgroups/cgroups.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/common_test.go
  test/e2e/cp_test.go
  test/e2e/info_test.go
  test/system/030-run.bats
  test/system/045-start.bats
  test/system/065-cp.bats
  test/system/070-build.bats
  test/system/090-events.bats
Labels: approved, lgtm

#10431 journald logger: fix race condition
  libpod/container_log_linux.go
  test/e2e/logs_test.go
  test/system/035-logs.bats
  test/system/130-kill.bats
Labels: approved, lgtm

#10447 Add the option of Rootless CNI networking by default
  cmd/podman/common/create_opts.go
  cmd/podman/common/netflags.go
  libpod/container.go
  libpod/runtime.go
  pkg/api/handlers/compat/containers_create.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/namespaces.go
  test/e2e/run_networking_test.go
  vendor/github.com/containers/common/pkg/defaultnet/default_network.go
  vendor/modules.txt
Labels: approved, lgtm

#10476 Ensure that container still exists when removing
  libpod/runtime_ctr.go
Labels: approved, lgtm

#10485 Add options to podman machine ssh
  pkg/machine/qemu/machine.go
Labels: approved, do-not-merge/hold, lgtm

#10484 vendor containers/common@v0.38.5
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: approved, do-not-merge/hold, lgtm

#10434 Sync. workflow across skopeo, buildah, and podman
  .github/workflows/multi-arch-build.yaml
Labels: approved, do-not-merge/hold, lgtm

#10489 create libimage-events channel in main routine
  libpod/runtime.go
Labels: approved, lgtm

#10490 Vendor in containers/storage v1.32.1
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/fast_encoder.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/huffman_code.go
  vendor/github.com/klauspost/compress/flate/token.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/bytebuf.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/zip.go
  vendor/modules.txt
Labels: approved, lgtm

#10383 Handle image user and exposed ports in podman play kube
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/ports.go
  test/system/700-play.bats
Labels: approved, lgtm

#10487 [CI:DOCS] Update a way out of date transfer document
  transfer.md
Labels: approved, lgtm

#10477 [CI:DOCS] Manpage syntax proposal
  CONTRIBUTING.md
  docs/MANPAGE_SYNTAX.md
  docs/README.md
Labels: approved, lgtm

#10499 [CI:DOCS] point IRC to libera.chat
  CONTRIBUTING.md
  README.md
Labels: approved, lgtm

#10481 rootless: fix SIGSEGV, Make `LISTEN_FDNAMES` optional
  pkg/rootless/rootless_linux.c
Labels: approved, lgtm

#10505 vendor containers/storage@v1.31.3
  go.mod
  go.sum
  vendor/github.com/Microsoft/go-winio/README.md
  vendor/github.com/Microsoft/go-winio/privilege.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/archive_linux.go
  vendor/github.com/containers/storage/pkg/archive/changes.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/modules.txt
Labels: approved, lgtm

#10502 [CI:DOCS] fix: add missing space
  docs/source/markdown/podman-auto-update.1.md
Labels: approved, lgtm

#10506 generate systemd: make mounts portable
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/systemd/generate/common.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods_test.go
Labels: approved, lgtm
