Repository containers/podman, pull requests merged in 2021-04, with the labels that each got.

#9906 Should send the OCI runtime path not just the name to buildah
  libpod/runtime_img.go
Labels: approved, lgtm

#9894 Remove --execute from podman machine ssh
  cmd/podman/machine/ssh.go
  docs/source/markdown/podman-machine-ssh.1.md
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#9899 Fix #9698 Updated reference to network
  pkg/api/handlers/libpod/play.go
Labels: approved, lgtm

#9920 [NO TESTS NEEDED] Add ssh connection to root user
  docs/source/markdown/podman-machine-init.1.md
  pkg/machine/ignition.go
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#9912 Recreate until container prune tests for bindings
  pkg/bindings/test/containers_test.go
  pkg/domain/filters/containers.go
Labels: approved, kind/bug, lgtm

#9884 Fix missing podman-remote build options
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: approved, lgtm

#9929 [CI:DOCS] Fix typos --uidmapping and --gidmapping and adjust Markdown layout for --userns
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#9928 Fix rootless socket activation
  pkg/rootless/rootless_linux.c
  test/system/270-socket-activation.bats
Labels: approved, lgtm

#9423 rootless cni without infra container
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/rootless-cni-infra/Containerfile
  contrib/rootless-cni-infra/README.md
  contrib/rootless-cni-infra/rootless-cni-infra
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/network/create.go
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
  libpod/rootless_cni_linux.go
  libpod/runtime.go
  libpod/runtime_pod_infra_linux.go
  pkg/netns/netns_linux.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/pod_create.go
  test/compose/mount_and_label/tests.sh
  test/compose/test-compose
  test/compose/two_networks/Readme.md
  test/compose/two_networks/docker-compose.yml
  test/compose/two_networks/tests.sh
  test/e2e/network_connect_disconnect_test.go
  test/e2e/run_networking_test.go
  test/system/500-networking.bats
Labels: CNI, approved, lgtm, rootless

#9313 Add default template functions
  cmd/podman/containers/ps.go
  cmd/podman/inspect/inspect.go
Labels: approved, lgtm

#9895 Don't relabel volumes if running in a privileged container
  libpod/container_internal_linux.go
  test/system/410-selinux.bats
Labels: approved, lgtm

#9907 Add support for podman --context default
  cmd/podman/root.go
  test/system/001-basic.bats
Labels: approved, lgtm

#9911 Allow users to override default storage opts with --storage-opt
  docs/source/markdown/podman.1.md
  libpod/options.go
  pkg/domain/infra/runtime_libpod.go
  test/system/005-info.bats
Labels: approved, lgtm

#9909 [CI:DOCS] Add transport and destination info to manifest doc
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-push.1.md
Labels: approved, lgtm

#9940 Verify existence of auth file if specified
  cmd/podman/images/build.go
  test/system/070-build.bats
Labels: approved, lgtm

#9939 [ci:docs] Update release notes to indicate CVE fix
  RELEASE_NOTES.md
Labels: approved, lgtm

#9933 Http api tests for network prune with until filter
  test/apiv2/35-networks.at
Labels: approved, lgtm

#9917 fix machine naming conventions
  cmd/podman/machine/init.go
  cmd/podman/machine/list.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
Labels: approved, lgtm

#9938 Initial network bindings tests
  pkg/bindings/test/networks_test.go
Labels: approved, lgtm

#9944 [CI:DOCS] Set all swagger operation id's to be compatible
  pkg/api/server/docs.go
  pkg/api/server/register_archive.go
  pkg/api/server/register_auth.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_events.go
  pkg/api/server/register_exec.go
  pkg/api/server/register_generate.go
  pkg/api/server/register_healthcheck.go
  pkg/api/server/register_images.go
  pkg/api/server/register_info.go
  pkg/api/server/register_manifest.go
  pkg/api/server/register_networks.go
  pkg/api/server/register_ping.go
  pkg/api/server/register_play.go
  pkg/api/server/register_pods.go
  pkg/api/server/register_secrets.go
  pkg/api/server/register_system.go
  pkg/api/server/register_version.go
  pkg/api/server/register_volumes.go
  pkg/api/tags.yaml
Labels: approved, kind/bug, lgtm

#9942 Ensure that `--userns=keep-id` sets user in config
  libpod/container_exec.go
  libpod/container_validate.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  pkg/specgen/generate/namespaces.go
  test/e2e/exec_test.go
Labels: approved, lgtm

#9840 Cirrus: Make use of shared get_ci_vm container
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  hack/get_ci_vm.sh
Labels: approved, lgtm

#9953 [CI:DOCS] Polish swagger OperationIDs
  hack/swagger-check
  pkg/api/server/register_containers.go
  pkg/api/server/register_play.go
  pkg/api/server/register_pods.go
Labels: HTTP API, approved, kind/bug, lgtm

#9952 [CI:DOCS] swagger-check: compare operations
  hack/swagger-check
Labels: approved, lgtm

#9754 Add --requires flag to podman run/create
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/boltdb_state_internal.go
  libpod/define/errors.go
  libpod/in_memory_state.go
  pkg/api/handlers/compat/containers_start.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_start_options.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/terminal/terminal_linux.go
  pkg/domain/infra/tunnel/containers.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/run_test.go
Labels: approved, lgtm

#9959 rootless cni add /usr/sbin to PATH if not present
  libpod/networking_linux.go
  test/system/500-networking.bats
Labels: approved, lgtm

#9961 Fix flaking rootless compose test
  test/compose/test-compose
Labels: approved, lgtm

#9955 System tests: special case for RHEL: require runc
  test/system/005-info.bats
Labels: approved, lgtm

#9962 Handle podman-remote --arch, --platform, --os
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/buildah-bud/buildah-tests.diff
  test/buildah-bud/run-buildah-bud-tests
  test/e2e/build_test.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/pkg/blobcache/blobcache.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/modules.txt
Labels: approved, lgtm

#9966 [CI:DOCS] Update swagger definition of inspect manifest
  pkg/api/Makefile
  pkg/api/handlers/libpod/swagger.go
  pkg/api/server/register_manifest.go
Labels: HTTP API, approved, kind/bug, lgtm

#9963 use updated ubuntu images
  .cirrus.yml
Labels: approved, lgtm

#9958 Volumes prune endpoint should use only prune filters
  pkg/api/handlers/compat/volumes.go
  pkg/api/handlers/libpod/volumes.go
  pkg/domain/filters/volumes.go
  test/apiv2/30-volumes.at
Labels: approved, kind/bug, lgtm

#9970 speed up CI handling of images
  test/e2e/config_amd64.go
  test/e2e/images_test.go
  test/e2e/rmi_test.go
  test/e2e/toolbox_test.go
Labels: approved, lgtm

#9968 [CI:DOCS] Adjust libpod API Container Wait documentation to the code
  pkg/api/server/register_containers.go
Labels: approved, lgtm

#9554 Cirrus: Use Fedora 34beta images
  .cirrus.yml
  Makefile
  contrib/cirrus/pr-should-include-tests
  contrib/cirrus/setup_environment.sh
Labels: approved, lgtm

#9121 [NO TESTS NEEDED] swagger: remove name wildcards
  hack/swagger-check
  pkg/api/server/register_generate.go
  pkg/api/server/register_healthcheck.go
  pkg/api/server/register_images.go
  pkg/api/server/register_manifest.go
Labels: approved, lgtm

#9971 Add missing return
  pkg/api/handlers/libpod/system.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: HTTP API, approved, kind/bug, lgtm

#9978 [CI:DOCS] Fix formatting of podman-build man page
  docs/source/markdown/podman-build.1.md
Labels: approved, lgtm

#9982 cgroups: force 64 bits to ParseUint
  pkg/cgroups/cgroups.go
  pkg/cgroups/cpu.go
Labels: approved, lgtm

#9984 [NO TESTS NEEDED] Fix panic when not giving a machine name for ssh
  cmd/podman/machine/ssh.go
Labels: approved, lgtm

#9991 [CI:DOCS] Fix slashes in socket URLs
  docs/source/markdown/podman-system-service.1.md
Labels: approved, lgtm

#9977 buildah-bud tests: simplify
  test/buildah-bud/README.md
  test/buildah-bud/apply-podman-deltas
  test/buildah-bud/buildah-tests.diff
  test/buildah-bud/make-new-buildah-diffs
  test/buildah-bud/run-buildah-bud-tests
Labels: approved, lgtm

#9950 podman unshare: add --rootless-cni to join the ns
  cmd/podman/system/unshare.go
  docs/source/markdown/podman-unshare.1.md
  libpod/networking_linux.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/system.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/system.go
  test/e2e/unshare_test.go
Labels: approved, lgtm

#9935 Add support for play/generate kube PersistentVolumeClaims and Podman volumes
  cmd/podman/common/completion.go
  cmd/podman/generate/generate.go
  cmd/podman/generate/kube.go
  cmd/podman/play/kube.go
  cmd/podman/play/play.go
  docs/source/markdown/podman-generate-kube.1.md
  docs/source/markdown/podman-generate.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-play.1.md
  docs/source/markdown/podman.1.md
  libpod/kube.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/generate.go
  pkg/domain/infra/abi/play.go
  pkg/util/kube.go
  test/e2e/generate_kube_test.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#9988 Add network prune filters support to bindings
  pkg/bindings/network/network.go
  pkg/bindings/network/types.go
  pkg/bindings/network/types_prune_options.go
  pkg/bindings/test/networks_test.go
  pkg/domain/infra/tunnel/network.go
Labels: approved, lgtm

#9969 Update manifest API endpoints
  pkg/api/handlers/libpod/manifests.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: HTTP API, approved, kind/bug, lgtm

#9956 [CI:DOCS] Update podman image Dockerfile to support Podman in container
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/stable/podman-containers.conf
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
Labels: approved, lgtm

#9999 [CI:DOCS] Correct status code for /pods/create
  pkg/api/server/register_pods.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
Labels: HTTP API, approved, kind/bug, lgtm

#9996 cgroup: do not set cgroup parent when rootless and cgroupfs
  libpod/container_internal_linux.go
  test/system/420-cgroups.bats
Labels: approved, lgtm

#10002 Reflect current state of prune implementation in docs
  pkg/api/server/register_networks.go
  pkg/api/server/register_volumes.go
Labels: approved, lgtm

#10000 Do not delete container twice
  libpod/runtime_ctr.go
Labels: approved, lgtm

#10008 System tests: setup: better cleanup of stray images
  test/system/helpers.bash
Labels: approved, lgtm

#10014 Remove in-memory state implementation
  libpod/in_memory_state.go
  libpod/runtime.go
  libpod/state_test.go
  pkg/registrar/registrar.go
  pkg/registrar/registrar_test.go
Labels: approved, lgtm

#10017 compose test: try to get useful data from flakes
  contrib/cirrus/logformatter
  test/compose/test-compose
Labels: approved, lgtm

#9995 Fix message about runtime to show only the actual runtime
  libpod/oci_conmon_linux.go
  libpod/runtime.go
Labels: approved, lgtm

#10019 Update nix pin with `make nixpkgs`
  Makefile
  nix/nixpkgs.json
Labels: approved, lgtm

#9945 Fix handling of $NAME and $IMAGE in runlabel
  docs/source/markdown/podman-container-runlabel.1.md
  pkg/domain/infra/abi/containers_runlabel.go
  test/system/037-runlabel.bats
Labels: approved, lgtm

#10028 System tests: fix racy podman-inspect
  test/system/050-stop.bats
Labels: approved, lgtm

#10030 Fix flake on failed podman-remote build
  pkg/api/handlers/compat/images_build.go
Labels: approved, lgtm

#10031 compose test: ongoing efforts to diagnose flakes
  test/compose/test-compose
Labels: approved, lgtm

#10034 Fix flake on failed podman-remote build : try 2
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
Labels: approved, lgtm

#10032 Recognize "trace" logging, and use it for lone errors at exit
  cmd/podman/common/completion.go
  cmd/podman/root.go
  pkg/errorhandling/errorhandling.go
  test/system/001-basic.bats
Labels: approved, lgtm

#10035 [CI:DOCS] Update documentation of podman-run to reflect volume "U" option
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#10044 podman play kube apply correct log driver
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#10045 compose test: diagnose flakes v3
  test/compose/test-compose
Labels: approved, lgtm

#10010 fix build with with GO111MODULE=off
  contrib/spec/podman.spec.in
  pkg/domain/entities/types/auth.go
  pkg/domain/entities/types/types.go
Labels: approved, lgtm

#10046 system tests: build --pull-never: deal with flakes
  test/system/070-build.bats
Labels: approved, lgtm

#10021 Fix invalid expression in save command
  cmd/podman/images/save.go
  test/e2e/save_test.go
Labels: approved, lgtm

#10050 Fix possible panic in libpod/image/prune.go
  libpod/image/prune.go
Labels: approved, lgtm

#10043 add --ip to podman play kube
  cmd/podman/play/kube.go
  docs/source/markdown/podman-play-kube.1.md
  pkg/api/handlers/libpod/play.go
  pkg/api/server/register_play.go
  pkg/bindings/play/types.go
  pkg/bindings/play/types_kube_options.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/tunnel/play.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#10018 Add network bindings tests: remove and list
  pkg/bindings/test/networks_test.go
  pkg/bindings/test/volumes_test.go
Labels: approved, lgtm

#10069 Ensure mount destination is clean, no trailing slash
  pkg/specgen/generate/storage.go
  test/e2e/play_kube_test.go
Labels: approved, lgtm

#10070 [CI:DOCS] Fix introduction page typo
  docs/source/Introduction.rst
Labels: approved, lgtm

#10025 Fixes podman-remote save to directories does not work
  pkg/api/handlers/libpod/images.go
  test/e2e/save_test.go
Labels: approved, lgtm

#10056 [NO TESTS NEEDED] Make an advanced layer diff function private
  libpod/diff.go
Labels: approved, lgtm

#10041 Add flag "--pidfile" for podman create/run
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  libpod/runtime_ctr.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/inspect_test.go
  test/e2e/run_test.go
  test/e2e/start_test.go
Labels: approved, lgtm

#10087 [CI:DOCS] Add missing dash to verbose option
  docs/source/markdown/podman-import.1.md
Labels: approved, lgtm

#10089 Bump github.com/coreos/go-systemd from 22.2.0 to 22.3.1
  go.mod
  go.sum
  vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
  vendor/github.com/coreos/go-systemd/v22/sdjournal/journal.go
  vendor/github.com/godbus/dbus/v5/.travis.yml
  vendor/github.com/godbus/dbus/v5/README.markdown
  vendor/github.com/godbus/dbus/v5/auth.go
  vendor/github.com/godbus/dbus/v5/call.go
  vendor/github.com/godbus/dbus/v5/conn.go
  vendor/github.com/godbus/dbus/v5/dbus.go
  vendor/github.com/godbus/dbus/v5/default_handler.go
  vendor/github.com/godbus/dbus/v5/export.go
  vendor/github.com/godbus/dbus/v5/match.go
  vendor/github.com/godbus/dbus/v5/object.go
  vendor/github.com/godbus/dbus/v5/sequence.go
  vendor/github.com/godbus/dbus/v5/sequential_handler.go
  vendor/github.com/godbus/dbus/v5/sig.go
  vendor/github.com/godbus/dbus/v5/transport_unixcred_freebsd.go
  vendor/github.com/godbus/dbus/v5/variant.go
  vendor/modules.txt
Labels: approved, lgtm

#10072 [CI:DOCS] Rewrite --uidmap doc in podman-create.1.md and podman-run.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#10093 [CI:DOCS] Fix Markdown table layout bugs
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#10033 rmi: don't break when the image is missing a manifest
  libpod/image/image.go
  libpod/runtime_img.go
  pkg/domain/infra/abi/images.go
  test/system/330-corrupt-images.bats
Labels: approved, lgtm

#10092 Bump containers/image to v5.11.1
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/oci/layout/oci_src.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: approved, lgtm

#8979 Use full attach path, rather than a symlink
  libpod/container_exec.go
  libpod/container_internal.go
  libpod/define/errors.go
  libpod/oci.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  libpod/oci_missing.go
  libpod/runtime.go
  test/e2e/run_apparmor_test.go
Labels: Backport to v3.0, approved, lgtm

#10080 podman-remote should show podman.sock info
  cmd/podman/system/service_abi.go
  pkg/api/handlers/libpod/info.go
  pkg/domain/infra/abi/system.go
  pkg/util/utils.go
  test/e2e/info_test.go
Labels: approved, lgtm

#10088 Add --noheading flag to all list commands
  cmd/podman/containers/ps.go
  cmd/podman/machine/list.go
  cmd/podman/networks/list.go
  cmd/podman/pods/ps.go
  cmd/podman/secrets/list.go
  cmd/podman/volumes/list.go
  docs/source/markdown/podman-machine-list.1.md
  docs/source/markdown/podman-network-ls.1.md
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman-ps.1.md
  docs/source/markdown/podman-secret-ls.1.md
  docs/source/markdown/podman-volume-ls.1.md
  test/system/040-ps.bats
  test/system/160-volumes.bats
  test/system/200-pod.bats
  test/system/500-networking.bats
Labels: approved, lgtm

#10103 [CI:DOCS] Typo fix to usage text of --compress option
  docs/source/markdown/podman-save.1.md
Labels: approved, lgtm

#10102 corrupt-image test: fix an oops
  test/system/330-corrupt-images.bats
Labels: approved, lgtm

#10111 Bump to v3.1.2
  RELEASE_NOTES.md
  changelog.txt
  contrib/spec/podman.spec.in
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-import.1.md
  docs/source/markdown/podman-run.1.md
  libpod/image/image.go
  libpod/runtime_img.go
  pkg/api/handlers/libpod/images.go
  pkg/domain/infra/abi/images.go
  pkg/specgen/generate/storage.go
  test/e2e/play_kube_test.go
  test/e2e/save_test.go
  test/system/330-corrupt-images.bats
  version/version.go
Labels: approved, lgtm

#9495 Add '--group-add keep-groups': supplementary groups into container
  Makefile
  RELEASE_PROCESS.md
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  cmd/podman/machine/stop.go
  completions/powershell/podman-remote.ps1
  completions/powershell/podman.ps1
  contrib/cirrus/runner.sh
  docs/remote-docs.sh
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-secret-create.1.md
  libpod/container_internal.go
  libpod/define/fileinfo.go
  libpod/image/utils.go
  libpod/shutdown/handler.go
  pkg/api/handlers/utils/containers.go
  pkg/domain/infra/abi/play.go
  pkg/machine/pull.go
  pkg/specgen/generate/kube/kube.go
  pkg/systemd/generate/common_test.go
  pkg/util/filters.go
  test/apiv2/rest_api/test_rest_v2_0_0.py
  test/system/050-stop.bats
  test/system/070-build.bats
  test/system/170-run-userns.bats
Labels: approved, lgtm

#10115 [v3.1] Bump github.com/containers/storage to 1.30.0
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/unshare/unshare.go
  vendor/github.com/golang/snappy/.gitignore
  vendor/github.com/golang/snappy/AUTHORS
  vendor/github.com/golang/snappy/CONTRIBUTORS
  vendor/github.com/golang/snappy/LICENSE
  vendor/github.com/golang/snappy/README
  vendor/github.com/golang/snappy/decode.go
  vendor/github.com/golang/snappy/decode_amd64.s
  vendor/github.com/golang/snappy/decode_arm64.s
  vendor/github.com/golang/snappy/decode_asm.go
  vendor/github.com/golang/snappy/decode_other.go
  vendor/github.com/golang/snappy/encode.go
  vendor/github.com/golang/snappy/encode_amd64.s
  vendor/github.com/golang/snappy/encode_arm64.s
  vendor/github.com/golang/snappy/encode_asm.go
  vendor/github.com/golang/snappy/encode_other.go
  vendor/github.com/golang/snappy/go.mod
  vendor/github.com/golang/snappy/snappy.go
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/snappy/runbench.cmd
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/decodeheader.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fse_encoder.go
  vendor/github.com/klauspost/compress/zstd/fse_predefined.go
  vendor/github.com/klauspost/compress/zstd/seqenc.go
  vendor/github.com/klauspost/compress/zstd/snappy.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Labels: approved, lgtm

#10121 Fix removal race condition in ListContainers
  pkg/api/handlers/compat/containers.go
Labels: approved, lgtm

#10122 Parse slirp4netns net options with compat api
  cmd/podman/common/create_opts.go
  test/compose/slirp4netns_opts/docker-compose.yml
  test/compose/slirp4netns_opts/setup.sh
  test/compose/slirp4netns_opts/teardown.sh
  test/compose/slirp4netns_opts/tests.sh
Labels: approved, lgtm

#10107 [CI:DOCS] Add github-action workflow to build/push multi-arch
  .github/workflows/multi-arch-build.yaml
Labels: approved, lgtm

#10131 [CI:DOCS] Fix Markdown layout bugs
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: approved, lgtm

#10079 runtime: create userns when CAP_SYS_ADMIN is not present
  libpod/runtime.go
  pkg/domain/infra/abi/system.go
  pkg/rootless/rootless_linux.go
Labels: approved, lgtm

#10123 [CI:DOCS] Several multi-arch image build/push fixes
  .github/workflows/multi-arch-build.yaml
Labels: approved, lgtm

#10125 [NO TESTS NEEDED] Add machine-enabled to containers.conf for machine
  pkg/machine/ignition.go
Labels: approved, lgtm

#10140 libpod/image: unit tests: don't use system's registries.conf.d
  libpod/image/pull_test.go
Labels: approved, lgtm

#10142 [CI:DOCS] Fix logic for pushing stable multi-arch images
  .github/workflows/multi-arch-build.yaml
Labels: approved, lgtm

#10144 Fix images prune filter until
  libpod/image/prune.go
  test/apiv2/10-images.at
Labels: approved, lgtm

#10074 Fix podman ps --filter ancestor to match exact ImageName/ImageID
  pkg/domain/filters/containers.go
  test/e2e/ps_test.go
Labels: approved, lgtm

#9941 Fix rootlesskit port forwarder with custom slirp cidr
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
  test/system/500-networking.bats
Labels: approved, lgtm

#10136 Fixes generate kube incorrect when bind-mounting "/" and "/root"
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: approved, lgtm

#10132 [CI:DOCS] Restore missing content to manpages
  Makefile
Labels: approved, lgtm

#9788 [CI:DOCS] rootless: Tell the user what was led to the error, not just what it is
  pkg/rootless/rootless_linux.go
  troubleshooting.md
Labels: approved, lgtm

#10149 Allow docker volume create API to pass without name
  pkg/api/handlers/compat/volumes.go
  test/apiv2/30-volumes.at
Labels: approved, lgtm

#10137 Cirrus: Update Ubuntu images to 21.04
  .cirrus.yml
  contrib/cirrus/lib.sh
  test/e2e/run_test.go
Labels: approved, lgtm

#10119 Add podman run --timeout option
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/specgen.go
  cmd/podman/containers/stop.go
  cmd/podman/generate/systemd.go
  cmd/podman/utils/alias.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/e2e/generate_systemd_test.go
  test/system/030-run.bats
Labels: approved, lgtm

#10134 [CI:DOCS] Add more documentation on conmon
  docs/source/markdown/podman-container-cleanup.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman.1.md
Labels: approved, lgtm

#10157 System tests: fix two race conditions
  test/system/030-run.bats
  test/system/500-networking.bats
Labels: approved, lgtm

#10139 [CI:DOCS] Add troubleshooting advice about the --userns option.
  .github/ISSUE_TEMPLATE.md
  troubleshooting.md
Labels: approved, lgtm

#10165 system tests: networking: fix another race condition
  test/system/500-networking.bats
Labels: approved, lgtm

#10167 [CI:DOCS] Improve titles of command HTML pages
  docs/source/conf.py
Labels: approved, lgtm

#10155 Use seccomp_profile as default profile if defined in containers.conf
  libpod/define/info.go
  libpod/info.go
  libpod/util.go
  test/e2e/containers_conf_test.go
Labels: approved, lgtm

#10171 Docker returns 'die' status rather then 'died' status
  pkg/api/handlers/compat/events.go
Labels: approved, lgtm

#10170 [NO TESTS NEEDED] Check if another VM is running on machine start
  cmd/podman/machine/start.go
  docs/source/markdown/podman-machine-start.1.md
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
Labels: approved, lgtm

#10063 Autoupdate Local
  docs/source/markdown/podman-auto-update.1.md
  pkg/autoupdate/autoupdate.go
  test/system/250-systemd.bats
Labels: approved, lgtm

#10175 Cirrus: Update F34beta -> F34
  .cirrus.yml
Labels: approved, lgtm

#10150 [CI:DOCS] Update container image docs + fix unstable execution
  .github/workflows/multi-arch-build.yaml
  contrib/podmanimage/README.md
  contrib/podmanimage/stable/manual/Containerfile
Labels: approved, lgtm

#10174 Remove unused VolumeList* structs
  pkg/domain/entities/volumes.go
Labels: approved, lgtm

#10179 [CI:DOCS] Add titles to remote docs (windows)
  docs/README.md
  docs/remote-docs.sh
  docs/use-pagetitle.lua
Labels: approved, lgtm
