Repository containers/podman, pull requests merged in 2022-07, with the labels that each got.

#14449 podman volume create --opt=o=timeout...
  cmd/podman/inspect/inspect.go
  docs/source/markdown/podman-volume-create.1.md
  libpod/boltdb_state_internal.go
  libpod/define/volume_inspect.go
  libpod/options.go
  libpod/plugin/volume_api.go
  libpod/runtime.go
  libpod/runtime_volume_linux.go
  libpod/volume.go
  libpod/volume_inspect.go
  pkg/domain/infra/abi/parse/parse.go
  test/e2e/volume_create_test.go
Labels: lgtm, approved, release-note

#14788 podman-play-kube template: rename to podman-kube
  Makefile
  contrib/systemd/system/podman-kube@.service.in
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-play-kube.1.md
  podman.spec.rpkg
  test/system/250-systemd.bats
Labels: lgtm, approved, release-note-none

#14795 specgen: fix parsing of cgroup devices rule
  pkg/specgenutil/specgen.go
  pkg/specgenutil/specgenutil_test.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#14794 Fix podman machine on Windows
  cmd/podman/machine/machine.go
  cmd/podman/machine/machine_unix.go
  cmd/podman/machine/machine_windows.go
Labels: lgtm, approved, release-note-none

#14798 overlay,mount: convert source to absolute path for `overlay` mounts of paths
  pkg/specgen/volumes.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note

#14799 fix build
  libpod/runtime_volume_linux.go
  test/testvol/util.go
Labels: lgtm, approved, release-note-none

#14808 [CI:DOCS] Remove -s from systemctl enable --now sshd
  docs/tutorials/remote_client.md
Labels: lgtm, approved, release-note-none

#14802 podman pod create --memory
  cmd/podman/common/create.go
  docs/source/markdown/podman-pod-clone.1.md
  docs/source/markdown/podman-pod-create.1.md
  go.mod
  go.sum
  libpod/define/pod_inspect.go
  libpod/pod.go
  libpod/pod_api.go
  test/system/200-pod.bats
  vendor/github.com/containers/common/pkg/cgroups/systemd_linux.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/modules.txt
Labels: lgtm, approved, release-note

#14816 test: drop pod-create --device-read-bps test
  test/e2e/pod_create_test.go
Labels: lgtm, approved, release-note-none

#14807 [CI:DOCS] Fix spelling "read only" -> "read-only"
  cmd/podman-mac-helper/install.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-clone.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  pkg/k8s.io/apimachinery/pkg/api/resource/amount.go
  pkg/k8s.io/apimachinery/pkg/api/resource/math.go
  pkg/specgen/volumes.go
  pkg/specgenutil/volumes.go
  test/e2e/play_kube_test.go
  test/e2e/run_test.go
  test/system/060-mount.bats
  troubleshooting.md
Labels: lgtm, approved, release-note-none

#14822 fix flake in aardvark tests
  test/e2e/common_test.go
  test/e2e/run_aardvark_test.go
Labels: lgtm, approved, release-note-none

#14789 libpod/runtime: switch to golang native error wrapping
  libpod/runtime.go
  libpod/runtime_cstorage.go
  libpod/runtime_ctr.go
  libpod/runtime_img.go
  libpod/runtime_migrate.go
  libpod/runtime_pod.go
  libpod/runtime_pod_linux.go
  libpod/runtime_renumber.go
  libpod/runtime_volume.go
  libpod/runtime_volume_linux.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/libpod/volumes.go
  pkg/api/handlers/utils/errors.go
  pkg/bindings/manifests/manifests.go
  pkg/domain/infra/abi/containers.go
  pkg/errorhandling/errorhandling.go
  pkg/errorhandling/errorhandling_test.go
  utils/utils.go
Labels: lgtm, approved, release-note-none

#14827 specgen,run: support running container from valid manifest list using `--platform`
  cmd/podman/containers/clone.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  pkg/specgen/generate/container.go
  pkg/specgen/specgen.go
  test/e2e/build/Containerfile.with-platform
  test/e2e/run_test.go
Labels: lgtm, approved, release-note

#14813 [CI:DOCS] troubleshooting: document --tty and CR
  troubleshooting.md
Labels: lgtm, approved, release-note-none

#14829 hack/test/utils: switch to golang native error wrapping
  hack/podman-registry-go/registry.go
  test/e2e/common_test.go
  test/testvol/main.go
  utils/ports.go
  utils/utils_supported.go
  utils/utils_windows.go
Labels: lgtm, approved, release-note-none

#14644 [v3.0.1-rhel] Cirrus: Prune testing tasks for long-term reliability
  .cirrus.yml
  hack/golangci-lint.sh
  hack/install_golangci.sh
  test/e2e/search_test.go
Labels: lgtm, approved, release-note-none

#14823 envVarValueResourceFieldRef: use int64 for value
  pkg/machine/config_test.go
  pkg/machine/qemu/config_test.go
  pkg/machine/qemu/machine_test.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
Labels: lgtm, approved, release-note

#14649 [v3.4] Cirrus: Prune testing tasks for long-term reliability
  .cirrus.yml
  hack/install_golangci.sh
  test/e2e/search_test.go
Labels: lgtm, approved, release-note-none

#14830 Sync: handle exit file
  libpod/container_api.go
  test/system/130-kill.bats
Labels: lgtm, approved, release-note-none

#14824 Silence setlocale warnings from `podman machine ssh`
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14805 Podman system df JSON format outputs `Size` and `Reclaimable`
  cmd/podman/system/df.go
  test/e2e/system_df_test.go
Labels: lgtm, approved, release-note

#14626 Docker-compose disable healthcheck properly handled
  libpod/define/healthchecks.go
  libpod/healthcheck.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgenutil/specgen.go
  test/compose/disable_healthcheck/docker-compose.yml
  test/compose/disable_healthcheck/tests.sh
Labels: lgtm, approved, release-note

#14806 Implement proxy support for Windows
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#14831 two minor tweaks to common_test.go
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#14370 Fix podman pod unpause TODO
  cmd/podman/common/completion.go
  cmd/podman/pods/unpause.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/tunnel/pods.go
  test/e2e/pod_pause_test.go
Labels: lgtm, approved, release-note

#14834 e2e tests: cleanup: capitalize CONSTANTS
  test/e2e/benchmarks_test.go
  test/e2e/checkpoint_test.go
  test/e2e/commit_test.go
  test/e2e/common_test.go
  test/e2e/config.go
  test/e2e/config_amd64.go
  test/e2e/config_ppc64le.go
  test/e2e/container_inspect_test.go
  test/e2e/create_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/inspect_test.go
  test/e2e/manifest_test.go
  test/e2e/network_test.go
  test/e2e/pause_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/pull_test.go
  test/e2e/push_test.go
  test/e2e/rmi_test.go
  test/e2e/run_aardvark_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_staticip_test.go
  test/e2e/run_test.go
  test/e2e/run_volume_test.go
  test/e2e/save_test.go
  test/e2e/search_test.go
  test/e2e/systemd_test.go
  test/e2e/tree_test.go
  test/e2e/untag_test.go
Labels: lgtm, approved, release-note-none

#14835 golangci install: explicitly set BINDIR
  hack/install_golangci.sh
Labels: lgtm, approved, kind/cleanup, release-note-none

#14501 podman pod create --uts support
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-pod-clone.1.md
  docs/source/markdown/podman-pod-create.1.md
  libpod/container.go
  libpod/container_inspect.go
  libpod/define/pod_inspect.go
  libpod/pod_api.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/pod_create.go
  test/e2e/pod_clone_test.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved, release-note

#14844 Fix qemu machine startHostNetworking always failing
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note-none

#14848 [v4.1.1-rhel backport] vendor: bump buildah to `v1.26.1` -> `v1.26.2`
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/define/types_unix.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/pkg/parse/parse_unix.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/driver_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#14841 use c/common code for resize and CopyDetachable
  go.mod
  go.sum
  libpod/container_api.go
  libpod/container_exec.go
  libpod/define/errors.go
  libpod/define/terminal.go
  libpod/oci.go
  libpod/oci_conmon_attach_linux.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  libpod/oci_missing.go
  pkg/api/handlers/compat/exec.go
  pkg/api/handlers/compat/resize.go
  pkg/bindings/containers/attach.go
  pkg/domain/infra/abi/terminal/terminal.go
  pkg/domain/infra/abi/terminal/terminal_linux.go
  pkg/kubeutils/LICENSE
  utils/utils.go
  vendor/github.com/containers/common/pkg/resize/resize.go
  vendor/github.com/containers/common/pkg/util/copy.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#14842 Update play kube docs
  docs/play_kube_support.md
Labels: lgtm, approved, release-note

#14762 Podman machine info
  cmd/podman/machine/info.go
  cmd/podman/machine/machine.go
  docs/source/markdown/podman-machine-info.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/config.go
  pkg/machine/e2e/config_info.go
  pkg/machine/e2e/info_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#14855 port forward range test: fix an oops
  test/system/500-networking.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#14803 make 9p security model configurable; document
  docs/source/markdown/podman-machine-init.1.md
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14860 [v4.1.1-rhel] Backport volume reload
  Containerfile-testvol
  Makefile
  cmd/podman/volumes/reload.go
  docs/source/markdown/podman-volume-reload.1.md
  docs/source/markdown/podman-volume.1.md
  libpod/define/volume_inspect.go
  libpod/plugin/volume_api.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/runtime_volume.go
  libpod/runtime_volume_linux.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/volumes.go
  pkg/domain/infra/abi/volumes.go
  pkg/domain/infra/tunnel/volumes.go
  test/e2e/config.go
  test/e2e/volume_plugin_test.go
  test/testvol/Containerfile
  test/testvol/create.go
  test/testvol/list.go
  test/testvol/main.go
  test/testvol/remove.go
  test/testvol/util.go
Labels: lgtm, approved, release-note-none

#14569 Cirrus: Add podman-machine integration test
  .cirrus.yml
  Makefile
  contrib/cirrus/cirrus_yaml_test.py
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#14861 [v4.1.1-rhel] container: do not create .containerenv with -v SRC:/run
  libpod/container_internal_linux.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note-none

#14850 pkg/machine/e2e: do not import from cmd/podman
  cmd/podman/machine/list.go
  pkg/domain/entities/machine.go
  pkg/machine/e2e/list_test.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14845 manifest_test: safer registry setup and teardown
  hack/podman-registry
  test/e2e/libpod_suite_test.go
  test/e2e/manifest_test.go
Labels: lgtm, approved, kind/cleanup, release-note-none

#14872 Manifest test cleanup: use defer()
  test/e2e/manifest_test.go
Labels: lgtm, approved, kind/cleanup, release-note-none

#14870 improve pull-policy documentation
  cmd/podman/common/completion.go
  cmd/podman/common/create.go
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved, do-not-merge/hold, release-note

#14219 Bump Compat API maximum version to v1.41
  test/apiv2/01-basic.at
  version/version.go
Labels: lgtm, approved, release-note

#14818 podman wait can take multiple conditions
  cmd/podman/containers/wait.go
  pkg/api/handlers/utils/containers.go
  pkg/domain/infra/abi/containers.go
  test/system/035-logs.bats
Labels: lgtm, approved, release-note

#14887 [CI:DOCS] podman-info.1.md: update examples (now also shell completion and jq)
  docs/source/markdown/podman-info.1.md
Labels: lgtm, approved, release-note-none

#14826 Refactored networkPrune function
  cmd/podman/networks/prune.go
  cmd/podman/utils/utils.go
  pkg/domain/entities/network.go
  pkg/domain/entities/system.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/network.go
  test/e2e/prune_test.go
Labels: lgtm, approved, release-note-none

#14874 exit code improvements
  libpod/container_api.go
  libpod/container_internal.go
  libpod/oci_conmon_linux.go
  test/system/130-kill.bats
Labels: lgtm, approved, release-note-none

#14181 Add ports and hostname correctly in kube yaml
  libpod/kube.go
  pkg/domain/infra/abi/generate.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, kube

#14894 [CI:DOCS] Bump to v4.2.0-RC1
  Makefile
Labels: lgtm, approved, release-note-none

#14898 [CI:DOCS] Improve language. Fix spelling and typos.
  commands-demo.md
  contrib/remote/containers.conf
  docs/source/markdown/podman-run.1.md
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/define/errors.go
  libpod/define/volume_inspect.go
  libpod/events/nullout.go
  libpod/oci_conmon_linux.go
  libpod/runtime_volume_linux.go
  test/e2e/stop_test.go
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#14901 fix wrong log message on Trace level
  libpod/oci_conmon_linux.go
Labels: lgtm, approved, release-note-none

#14896 logformatter: link by *task ID*, not build ID
  contrib/cirrus/logformatter
Labels: lgtm, approved, release-note-none

#14893 podman machine: do not commit proxies into config file
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14911 [CI:DOCS] man pages: remove non-existent option builtin-volume
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved, release-note-none

#14912 [CI:DOCS] CI: sanity check for desired runtime
  .cirrus.yml
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#14910 test,manifest-run: declare `TARGETPLATFORM` in test containerfile.
  test/e2e/build/Containerfile.with-platform
Labels: lgtm, approved, release-note-none

#14916 Docker uses "-c" to mean "--cpu-shares" in create and run
  cmd/podman/common/create.go
  docs/source/markdown/podman-container-clone.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  test/e2e/run_cpu_test.go
Labels: lgtm, approved, release-note

#14895 Fix machine test for list
  pkg/machine/e2e/list_test.go
Labels: lgtm, approved, release-note-none

#14915 [CI:DOCS] man pages: replace -c with --cpu-shares
  docs/source/markdown/podman-container-clone.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved, release-note-none

#14914 [CI:DOCS] man page checker: enforce stricter options format
  docs/MANPAGE_SYNTAX.md
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-commit.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-generate-kube.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-image-trust.1.md
  docs/source/markdown/podman-images.1.md
  docs/source/markdown/podman-import.1.md
  docs/source/markdown/podman-info.1.md
  docs/source/markdown/podman-kube-play.1.md
  docs/source/markdown/podman-machine-info.1.md
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine-set.1.md
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-annotate.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-pod-clone.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-pod-inspect.1.md
  docs/source/markdown/podman-push.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-stats.1.md
  docs/source/markdown/podman-system-connection-add.1.md
  docs/source/markdown/podman-system-connection-remove.1.md
  docs/source/markdown/podman-volume-create.1.md
  docs/source/markdown/podman-volume-inspect.1.md
  docs/source/markdown/podman-volume-ls.1.md
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved, release-note-none

#14832 Podman stop --filter flag
  cmd/podman/containers/stop.go
  cmd/podman/validate/args.go
  docs/source/markdown/podman-stop.1.md
  pkg/api/handlers/compat/containers_stop.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/helpers.go
  test/e2e/stop_test.go
Labels: lgtm, approved, release-note

#14927 [CI:DOCS] GHA: Fix dumb error check
  .github/actions/check_cirrus_cron/cron_failures.sh
Labels: lgtm, approved, release-note-none

#14944 Cirrus: Trigger podman-machine task by label
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14909 [CI:DOCS] Add socket_activation.md
  docs/tutorials/README.md
  docs/tutorials/socket_activation.md
Labels: lgtm, approved, release-note-none

#14932 Podman pull --all-tags shorthand option
  cmd/podman/images/pull.go
  docs/source/markdown/podman-pull.1.md
  test/e2e/pull_test.go
Labels: lgtm, approved, release-note

#14950 [v3.4.2-rhel] Bump x/text/language to v0.3.7
  go.mod
  go.sum
  vendor/golang.org/x/text/internal/language/language.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#14900 Clean up cached machine images
  pkg/machine/config.go
  pkg/machine/fcos.go
  pkg/machine/fedora.go
  pkg/machine/pull.go
Labels: lgtm, approved, release-note

#14951 [CI:DOCS] Tutorials.rst: add socket activation
  docs/source/Tutorials.rst
  docs/tutorials/socket_activation.md
Labels: lgtm, approved, release-note-none

#14777 Use SafeChown rather then chown for volumes on NFS
  libpod/runtime_volume_linux.go
Labels: lgtm, approved, release-note-none

#14970 [CI:DOCS] Fix typo in manifest manpage
  docs/source/markdown/podman-manifest.1.md
Labels: lgtm, approved, release-note-none

#14962 Improve download message on Windows
  pkg/machine/fedora.go
  pkg/machine/pull.go
Labels: lgtm, approved, release-note-none

#14963 Cirrus: comment out f35 for podman4
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14961 system tests: new system-service bats file
  test/system/250-systemd.bats
  test/system/251-system-service.bats
Labels: lgtm, approved, kind/cleanup, release-note-none

#14945 "podman pod pause" return error if cgroups v1 rootless container
  cmd/podman/containers/pause.go
  pkg/domain/infra/abi/pods.go
Labels: lgtm, approved, release-note-none

#14977 Update init ctr default for play kube
  docs/source/markdown/podman-kube-play.1.md
  libpod/define/annotations.go
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#14958 [CI:DOCS] document isolate option for network create
  docs/source/markdown/podman-network-create.1.md
Labels: lgtm, approved, release-note

#14995 Fix machine test
  pkg/machine/e2e/machine_test.go
Labels: lgtm, approved, release-note-none

#14907 pkg,libpod: remove `pkg/hooks` and use `hooks` from `c/common`
  Makefile
  go.mod
  libpod/container_internal.go
  pkg/hooks/0.1.0/hook.go
  pkg/hooks/0.1.0/hook_test.go
  pkg/hooks/1.0.0/hook.go
  pkg/hooks/1.0.0/hook_test.go
  pkg/hooks/1.0.0/when.go
  pkg/hooks/1.0.0/when_test.go
  pkg/hooks/README.md
  pkg/hooks/docs/.gitignore
  pkg/hooks/docs/oci-hooks.5.md
  pkg/hooks/exec/exec.go
  pkg/hooks/exec/exec_test.go
  pkg/hooks/exec/runtimeconfigfilter.go
  pkg/hooks/exec/runtimeconfigfilter_test.go
  pkg/hooks/hooks.go
  pkg/hooks/hooks_test.go
  pkg/hooks/monitor.go
  pkg/hooks/monitor_test.go
  pkg/hooks/read.go
  pkg/hooks/read_test.go
  pkg/hooks/version.go
  podman.spec.rpkg
  vendor/modules.txt
Labels: lgtm, approved, release-note

#14980 Fix potential body leak on mid-stream read error when fetching artifact version
  pkg/machine/fedora.go
Labels: lgtm, approved, release-note-none

#14984 fix goroutine leaks in events and logs backend
  libpod/container_log.go
  libpod/container_log_linux.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
Labels: lgtm, approved, release-note

#15021 e2e: show command and output when a timeout happens
  test/utils/utils.go
Labels: lgtm, approved, release-note-none

#15003 libpod: create /etc/passwd if missing
  libpod/container_internal_linux.go
  test/e2e/run_passwd_test.go
Labels: lgtm, approved, release-note

#15030 [CI:DOCS] Cirrus: Add prominent gitlab warning
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#14876 resource limits for pods
  cmd/podman/common/create.go
  docs/source/markdown/podman-container-clone.1.md
  docs/source/markdown/podman-pod-clone.1.md
  docs/source/markdown/podman-pod-create.1.md
  libpod/define/pod_inspect.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime_pod_linux.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/pod_create.go
  pkg/specgenutil/specgen.go
  test/system/200-pod.bats
Labels: lgtm, approved, release-note

#15022 remote push: show copy progress
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/images_push.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/bindings/images/push.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_push_options.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  test/e2e/push_test.go
Labels: lgtm, approved, release-note

#15010 enable linter for pkg/machine/e2e
  cmd/podman/machine/info.go
  cmd/podman/machine/ssh.go
  hack/golangci-lint.sh
  pkg/domain/entities/machine.go
  pkg/machine/e2e/basic_test.go
  pkg/machine/e2e/config_basic_test.go
  pkg/machine/e2e/config_info_test.go
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/config_inspect_test.go
  pkg/machine/e2e/config_list_test.go
  pkg/machine/e2e/config_rm_test.go
  pkg/machine/e2e/config_set_test.go
  pkg/machine/e2e/config_ssh_test.go
  pkg/machine/e2e/config_start_test.go
  pkg/machine/e2e/config_stop_test.go
  pkg/machine/e2e/config_test.go
  pkg/machine/e2e/info_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/inspect_test.go
  pkg/machine/e2e/list_test.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/e2e/rm_test.go
  pkg/machine/e2e/set_test.go
  pkg/machine/e2e/ssh_test.go
  pkg/machine/e2e/start_test.go
  pkg/machine/e2e/stop_test.go
Labels: lgtm, approved, release-note-none, test_podman_machine

#14968 Compat API: unify pull/push and add missing progress info
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_push.go
Labels: lgtm, approved, release-note

#14972 Bump VMs, to Ubuntu 2204 with cgroups v1
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/build_test.go
  test/e2e/checkpoint_image_test.go
  test/e2e/checkpoint_test.go
  test/e2e/info_test.go
  test/e2e/kill_test.go
  test/e2e/manifest_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/pod_create_test.go
  test/e2e/run_test.go
  test/system/005-info.bats
  test/system/030-run.bats
  test/system/160-volumes.bats
  test/system/170-run-userns.bats
  test/system/200-pod.bats
  test/system/251-system-service.bats
  test/system/400-unprivileged-access.bats
  test/system/500-networking.bats
  test/utils/utils.go
Labels: lgtm, approved, release-note

#15016 compat api: allow default bridge name for networks
  pkg/api/handlers/compat/networks.go
  test/apiv2/35-networks.at
  test/compose/test-compose
Labels: lgtm, approved, HTTP API, release-note

#15040 API: libpod/create use correct default umask
  pkg/api/handlers/libpod/containers_create.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note

#14957 Makefile: use order-only prereq for podman-remote
  Makefile
  docs/remote-docs.sh
  docs/source/markdown/podman-import.1.md
Labels: lgtm, approved, release-note

#14967 Add pause/unpause --latest, --cidfile, --filter
  cmd/podman/containers/pause.go
  cmd/podman/containers/unpause.go
  docs/source/markdown/podman-pause.1.md
  docs/source/markdown/podman-unpause.1.md
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/pause_test.go
Labels: lgtm, approved, release-note

#15038 container wait: improve error message
  libpod/container_api.go
Labels: lgtm, approved, release-note-none

#14976 libpod: do not lock all containers on pod rm
  libpod/runtime_pod_linux.go
Labels: lgtm, approved, release-note

#15039 [CI:DOCS] docs: remove CNI word where it is not applicable
  cmd/podman/networks/create.go
  cmd/podman/networks/inspect.go
  commands-demo.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-kube-play.1.md
  docs/source/markdown/podman-network-connect.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-network-inspect.1.md
  docs/source/markdown/podman-network-ls.1.md
  docs/source/markdown/podman-network-rm.1.md
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  docs/tutorials/basic_networking.md
Labels: lgtm, approved, release-note-none

#15042 integration test: fix network backend option with remote
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/manifest_test.go
  test/utils/utils.go
Labels: lgtm, approved, release-note-none

#15035 fix container create/run throttle devices
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgenutil/specgen.go
  test/e2e/run_test.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note-none

#15064 benchmarks: fix create test
  test/e2e/benchmarks_test.go
Labels: lgtm, approved, release-note-none

#15058 Semiperiodoc cleanup of obsolete FIXMEs
  pkg/bindings/test/images_test.go
  test/buildah-bud/apply-podman-deltas
  test/e2e/checkpoint_test.go
  test/e2e/containers_conf_test.go
  test/e2e/run_test.go
  test/system/520-checkpoint.bats
Labels: lgtm, approved, release-note

#15057 Set TLSVerify=true by default for API endpoints
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/compat/images_search.go
  pkg/api/handlers/libpod/images_push.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/server/register_images.go
  pkg/api/server/register_manifest.go
  test/apiv2/12-imagesMore.at
  test/apiv2/15-manifest.at
Labels: lgtm, approved, release-note-none

#15061 machine: Fix check which is always true
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, test_podman_machine

#15059 pod create --share none should not create infra
  cmd/podman/pods/create.go
  docs/source/markdown/podman-pod-create.1.md
  test/e2e/pod_infra_container_test.go
Labels: lgtm, approved, release-note

#15043 [CI:DOCS] podman-generate-systemd.1.md: document --sdnotify
  docs/source/markdown/podman-generate-systemd.1.md
Labels: lgtm, approved, release-note-none

#15082 [v3.0.1-rhel] [CI:DOCS] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15083 [v3.2.3-rhel] [CI:DOCS] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15081 [v3.3.1-rhel] [CI:DOCS] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15075 [CI:DOCS] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: lgtm, approved, release-note

#15079 [v4.0] [CI:DOCS] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15080 [v4.0-rhel] [CI:DOCS] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15077 [V3.4.2 rhel] [CI:DOCS] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15078 [v3.4] [CI:DOCS] Cirrus: Use the latest imgts container
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14540 Add support for building macOS pkg installer
  contrib/pkginstaller/.gitignore
  contrib/pkginstaller/Distribution.in
  contrib/pkginstaller/Makefile
  contrib/pkginstaller/README.md
  contrib/pkginstaller/Resources/banner.png
  contrib/pkginstaller/Resources/conclusion.html
  contrib/pkginstaller/package.sh
  contrib/pkginstaller/scripts/postinstall
  contrib/pkginstaller/scripts/preinstall
  contrib/pkginstaller/welcome.html.in
Labels: lgtm, approved, release-note-none

#15087 [CI:DOCS] socket_activation.md: Add start/stop sections
  docs/tutorials/socket_activation.md
Labels: lgtm, approved, release-note-none

#14997 prune filter handling
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/filters/volumes.go
  pkg/domain/infra/abi/containers.go
  pkg/util/filters.go
  pkg/util/filters_test.go
  test/e2e/prune_test.go
Labels: lgtm, approved, release-note

#14959 When removing objects specifying --force,podman should exit with 0
  cmd/podman/containers/rm.go
  cmd/podman/images/rm.go
  cmd/podman/networks/rm.go
  cmd/podman/pods/rm.go
  cmd/podman/volumes/rm.go
  test/system/010-images.bats
  test/system/055-rm.bats
  test/system/160-volumes.bats
  test/system/200-pod.bats
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#15066 Fix: Restore a container which name is equal to a image name
  cmd/podman/containers/restore.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note

#15034 Fix: manifest push --rm removes a correct manifest list
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/tunnel/manifest.go
  test/e2e/manifest_test.go
Labels: lgtm, approved, release-note

#15090 cleanup: transition from `stopping` to `exited`
  libpod/container_internal.go
Labels: lgtm, approved, release-note-none

#14801 Cirrus: enable Fedora 36 aarch64 tasks on EC2
  .cirrus.yml
  contrib/cirrus/runner.sh
  test/e2e/config_arm64.go
  test/system/030-run.bats
  test/system/075-exec.bats
  test/system/150-login.bats
  test/system/200-pod.bats
  test/system/260-sdnotify.bats
  test/system/410-selinux.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#15096 CI: new check for leftover skips/fixmes
  Makefile
  contrib/cirrus/pr-removes-fixed-skips
  contrib/cirrus/pr-removes-fixed-skips.t
Labels: lgtm, approved, release-note

#14719 Cirrus: Use pre-installed bats
  .cirrus.yml
  Makefile
  hack/install_bats.sh
Labels: lgtm, approved, release-note-none

#15060 With --rm option remove container if podman run fails
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#15086 Use 8k buffer to help clients w/ broken parsing
  pkg/api/server/handler_api.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_events.go
  pkg/api/server/register_images.go
Labels: lgtm, approved, release-note-none
