Repository containers/podman, pull requests merged in 2022-06, with the labels that each got.

#14444 Makefile: force podman-remote-static to linux
  Makefile
Labels: approved, release-note-none

#14443 fix "tail 800 lines: journald" flake
  test/e2e/logs_test.go
Labels: lgtm, approved, release-note-none

#14446 podman-restart.service: Add ExecStop and dependencies to fix shutdown
  contrib/systemd/system/podman-restart.service.in
Labels: lgtm, approved, release-note-none

#14448 expose podman.sock in machine inspect
  pkg/machine/config.go
  pkg/machine/e2e/inspect_test.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14417 podman machine ssh: set correct exit code
  cmd/podman/machine/ssh.go
  cmd/podman/system/unshare.go
  cmd/podman/utils/error.go
  cmd/podman/utils/signals_linux.go
  cmd/podman/utils/signals_windows.go
  docs/source/markdown/podman-machine-ssh.1.md
  pkg/domain/infra/runtime_libpod.go
  pkg/machine/e2e/config.go
  pkg/machine/e2e/ssh_test.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14421 podman stats: work with network connect/disconnect
  libpod/networking_linux.go
  test/e2e/network_connect_disconnect_test.go
Labels: lgtm, approved, release-note

#14395 healthcheck: wait for systemd operations
  libpod/healthcheck_linux.go
Labels: lgtm, approved, release-note

#14325 [v4.0] Cirrus: Use fixed netavark/aardvark-dns branch
  .cirrus.yml
  hack/install_golangci.sh
  test/e2e/search_test.go
Labels: lgtm, approved, release-note-none

#14326 [v4.0-rhel] Cirrus: Use fixed netavark/aardvark-dns branch
  .cirrus.yml
  hack/install_golangci.sh
Labels: lgtm, approved, release-note-none

#14436 pkg/specgen: parse default network mode on server
  pkg/specgen/container_validate.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/namespaces.go
  pkg/specgen/namespaces_test.go
Labels: lgtm, approved, release-note

#14301 Support setting image_volume_mode in containers.conf
  cmd/podman/common/create.go
  cmd/podman/common/default.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  pkg/specgenutil/createparse.go
  pkg/specgenutil/specgen.go
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note

#14451 [CI:DOCS] Document protocol usage for --publish
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved, release-note-none

#14457 shell completion for paths inside the image/container
  cmd/podman/common/completion.go
  test/system/600-completion.bats
Labels: lgtm, approved, kind/feature, release-note

#14435 Makefile: Handle unexpected empty var. values
  Makefile
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#14467 [CI:DOCS] changed megabyte to mebibyte
  cmd/podman/common/create.go
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-container-clone.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved, release-note

#14460 Align docker load and podman load output
  cmd/podman/images/load.go
  docs/source/markdown/podman-image-scp.1.md
  test/system/120-load.bats
Labels: lgtm, approved, release-note

#14461 fix pod network handling with a host network
  pkg/specgen/generate/namespaces.go
  test/e2e/pod_infra_container_test.go
Labels: lgtm, approved, release-note-none

#14470 Stop machine before force removing files
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14475 test/e2e/save_test.go: fix flake
  test/e2e/save_test.go
Labels: lgtm, approved, release-note-none

#14437 [CI:BUILD] Podman image: Mass cleanup + fix missing storage.conf
  contrib/podmanimage/stable/Containerfile
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/stable/storage.conf
  contrib/podmanimage/testing/Containerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Containerfile
  contrib/podmanimage/upstream/Dockerfile
Labels: lgtm, approved, release-note-none

#14478 Use logDriver instead of query.LogDriver for podman play kube
  pkg/api/handlers/libpod/play.go
Labels: lgtm, approved, release-note-none

#14466 Improve robustness of `podman system reset`
  cmd/podman/system/reset.go
  libpod/options.go
  libpod/reset.go
  libpod/runtime.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_libpod.go
Labels: lgtm, approved, release-note

#14477 podman logs k8s-file: do not reassemble partial log lines
  libpod/container_log.go
  test/e2e/logs_test.go
Labels: lgtm, approved, release-note

#14496 Cleanup the leftovers in `play kube` e2e test used for ginkgo focus option
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#14487 [CI:DOCS] PodmanImage Readme touchup
  .github/PULL_REQUEST_TEMPLATE.md
  contrib/podmanimage/README.md
Labels: lgtm, approved, release-note-none

#14453 remote: enable support for additional `--build-context` on macOS and remote
  docs/source/markdown/podman-build.1.md
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved

#14485 Fix secret-verify-leak flake: set build context to subdir
  test/e2e/build_test.go
Labels: lgtm, approved, release-note-none

#14500 [CI:BUILD] Minor: Remove useless addition of storage.conf
  contrib/podmanimage/stable/Containerfile
  contrib/podmanimage/stable/storage.conf
  contrib/podmanimage/testing/Containerfile
  contrib/podmanimage/upstream/Containerfile
Labels: release-note-none

#14502 [CI:DOCS] Add some Readme updates around machine
  README.md
Labels: lgtm, approved, release-note-none

#14499 runtime: make error clearer
  libpod/runtime.go
Labels: lgtm, approved, release-note-none

#14507 libpod: store network status when userns is used
  libpod/container_internal.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#14512 Infra Inheritance patch
  pkg/specgen/generate/container_create.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved, release-note-none

#14483 Privileged containers can now restart if the host devices change
  libpod/container_config.go
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/oci.go
  pkg/util/utils_linux.go
  test/e2e/run_privileged_test.go
Labels: lgtm, approved, release-note

#14516 [CI:DOCS] Minor: Fix podmanimage README links
  contrib/podmanimage/README.md
Labels: lgtm, approved, release-note-none

#14519 [CI:DOCS] Podman images generated with empty /etc/containers/storage.conf
  contrib/podmanimage/stable/Containerfile
  contrib/podmanimage/testing/Containerfile
  contrib/podmanimage/upstream/Containerfile
Labels: lgtm, approved, release-note-none

#14484 Add missing tests for manifests API
  pkg/api/handlers/libpod/manifests.go
  test/apiv2/12-imagesMore.at
  test/apiv2/15-manifest.at
  test/apiv2/70-short-names.at
  test/apiv2/test-apiv2
Labels: lgtm, approved, release-note-none

#14509 [v3.2.3-rhel] Cirrus: Avoid build-each-commit check
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14543 apiv2 tests: clean up
  test/apiv2/10-images.at
  test/apiv2/12-imagesMore.at
  test/apiv2/15-manifest.at
  test/apiv2/20-containers.at
  test/apiv2/60-auth.at
  test/apiv2/test-apiv2
Labels: lgtm, approved, release-note-none

#14533 Do not error on signalling a just-stopped container
  libpod/oci_conmon_linux.go
Labels: lgtm, approved, release-note

#14549 compat api: fix regressions from "Swagger refactor/cleanup"
  cmd/podman/common/create_opts.go
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note-none

#14539 shell completion: fix problems with container path completion
  cmd/podman/common/completion.go
  test/system/600-completion.bats
Labels: lgtm, approved, release-note-none

#14553 Fix Remote filtering embedded directory test
  test/e2e/build_test.go
Labels: lgtm, approved, release-note-none

#14552 APIv2 tests: (try to) fix flaky registry panic
  test/apiv2/test-apiv2
Labels: lgtm, approved, kind/test-flake, release-note-none

#14405 [CI:DOCS] Mount propagation works with named volumes
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved, kind/documentation, release-note

#14555 [v1.6.4-rhel] Fix webserver startup w/ systemd
  pkg/systemdgen/systemdgen.go
  pkg/systemdgen/systemdgen_test.go
Labels: lgtm, approved, release-note-none

#14537 [CI:DOCS] Update remote_client.md
  docs/tutorials/remote_client.md
Labels: lgtm, approved, release-note-none

#14563 Fix M1 QEMU flags
  pkg/machine/qemu/options_darwin_arm64.go
Labels: lgtm, approved, release-note

#14580 Non-running containers now report statistics via the `podman stats`
  cmd/podman/containers/stats.go
  libpod/stats.go
  pkg/api/handlers/compat/containers_stats.go
  test/e2e/pause_test.go
  test/e2e/stats_test.go
Labels: lgtm, approved, release-note

#14581 buildah-bud tests: add arg sanity check
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved, release-note-none

#14551 CI: APIv2 tests: add rootless
  .cirrus.yml
  test/apiv2/test-apiv2
Labels: lgtm, approved, release-note-none

#14324 [macos: podman-machine] look for firmware (edk2-code-fd) based on the path of qemu binary
  pkg/machine/qemu/options_darwin_arm64.go
Labels: lgtm, approved, release-note-none

#14582 container: do not create .containerenv with -v SRC:/run
  libpod/container_internal_linux.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note

#14585 golangci-lint: enable nolintlint
  .golangci.yml
  cmd/podman/common/completion_test.go
  cmd/podman/containers/cp.go
  cmd/podman/containers/stats.go
  cmd/podman/inspect/inspect.go
  cmd/podman/parse/net.go
  cmd/podman/parse/net_test.go
  cmd/podman/pods/ps.go
  cmd/podman/system/df.go
  cmd/podman/validate/args.go
  cmd/rootlessport/main.go
  cmd/rootlessport/wsl_test.go
  libpod/container_exec.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/kube.go
  libpod/lock/file/file_lock.go
  libpod/lock/shm/shm_lock.go
  libpod/oci_conmon_linux.go
  libpod/plugin/volume_api.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/compat/images_save.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/utils/images.go
  pkg/api/server/server.go
  pkg/bindings/connection.go
  pkg/bindings/containers/containers.go
  pkg/bindings/images/build.go
  pkg/bindings/images/build_unix.go
  pkg/ctime/ctime_linux.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/images.go
  pkg/domain/entities/network.go
  pkg/domain/entities/pods.go
  pkg/domain/entities/reports/containers.go
  pkg/domain/entities/reports/prune.go
  pkg/domain/entities/types.go
  pkg/domain/entities/volumes.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/terminal/sigproxy_linux.go
  pkg/domain/infra/abi/volumes.go
  pkg/domain/infra/tunnel/containers.go
  pkg/errorhandling/errorhandling.go
  pkg/hooks/exec/runtimeconfigfilter_test.go
  pkg/k8s.io/apimachinery/pkg/api/resource/quantity.go
  pkg/machine/fcos.go
  pkg/machine/qemu/machine.go
  pkg/rootless/rootless.go
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/oci.go
  pkg/util/utils_linux.go
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#14584 golangci-lint: add systemd build tag
  hack/golangci-lint.sh
  libpod/container_log_linux.go
  libpod/events/journal_linux.go
Labels: lgtm, approved, release-note-none

#14598 systemd socket activation: check listener to prevent panic
  cmd/podman/system/service_abi.go
  libpod/events/journal_linux.go
  test/e2e/systemd_activate_test.go
Labels: lgtm, approved, release-note-none

#14601 [CI:DOCS] Update release notes and README on Main for v4.1.1
  README.md
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#14570 Fix: Use absolute path to WSL binary to create ssh keys for `machine init` on Windows (Issue #14416)
  pkg/machine/keys.go
Labels: lgtm, approved, release-note

#14529 system test image: bump to 20220615
  test/system/010-images.bats
  test/system/030-run.bats
  test/system/070-build.bats
  test/system/500-networking.bats
  test/system/build-testimage
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#14605 golangci-lint: update to v1.46.2
  .golangci.yml
  Makefile
  test/e2e/systemd_activate_test.go
Labels: lgtm, approved, release-note-none

#14610 Fix interrupting machine start leaves the machine unstartable
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14614 [CI:DOCS] fix typos in prerequisites for Fedora and make binaries sections
  CONTRIBUTING.md
Labels: lgtm, approved, release-note-none

#14613 test/system/410-selinux: fix for newer runc
  test/system/410-selinux.bats
Labels: lgtm, approved, release-note-none

#14600 system tests: avoid rmi -a ... plus cleanup
  test/system/070-build.bats
  test/system/250-systemd.bats
Labels: lgtm, approved, kind/cleanup, release-note-none

#14621 [CI:DOCS] Make it clear the REST API could be a security issue
  docs/source/markdown/podman-system-service.1.md
Labels: lgtm, approved, release-note-none

#14619 fix "podman -h" help output
  cmd/podman/main.go
  test/system/015-help.bats
Labels: lgtm, approved, release-note

#14299 implement podman pod clone
  cmd/podman/common/completion.go
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/clone.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  cmd/podman/pods/clone.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-pod-clone.1.md
  docs/source/markdown/podman-pod.1.md
  libpod/pod.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/pods.go
  pkg/domain/infra/tunnel/pods.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/pod_create.go
  pkg/specgenutil/specgen.go
  test/e2e/pod_clone_test.go
Labels: lgtm, approved, release-note

#14627 linter fix from #14299
  pkg/domain/entities/pods.go
Labels: lgtm, approved, release-note-none

#14622 Vendor in latest containers/storage
  go.mod
  go.sum
  vendor/github.com/containers/storage/drivers/chown_unix.go
  vendor/github.com/containers/storage/drivers/driver_linux.go
  vendor/github.com/containers/storage/pkg/idtools/idtools_supported.go
  vendor/github.com/containers/storage/pkg/lockfile/lockfile_unix.go
  vendor/github.com/containers/storage/pkg/stringid/stringid.go
  vendor/github.com/containers/storage/pkg/system/meminfo_unsupported.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/userns.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#14599 Vendor in latest containers/image
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/copy/blob.go
  vendor/github.com/containers/image/v5/copy/compression.go
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/copy/encrypt.go
  vendor/github.com/containers/image/v5/copy/encryption.go
  vendor/github.com/containers/image/v5/copy/manifest.go
  vendor/github.com/containers/image/v5/directory/directory_transport.go
  vendor/github.com/containers/image/v5/docker/archive/transport.go
  vendor/github.com/containers/image/v5/docker/daemon/daemon_transport.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image.go
  vendor/github.com/containers/image/v5/image/docker_schema2.go
  vendor/github.com/containers/image/v5/image/sourced.go
  vendor/github.com/containers/image/v5/image/unparsed.go
  vendor/github.com/containers/image/v5/internal/image/docker_list.go
  vendor/github.com/containers/image/v5/internal/image/docker_schema1.go
  vendor/github.com/containers/image/v5/internal/image/docker_schema2.go
  vendor/github.com/containers/image/v5/internal/image/manifest.go
  vendor/github.com/containers/image/v5/internal/image/memory.go
  vendor/github.com/containers/image/v5/internal/image/oci.go
  vendor/github.com/containers/image/v5/internal/image/oci_index.go
  vendor/github.com/containers/image/v5/internal/image/sourced.go
  vendor/github.com/containers/image/v5/internal/image/unparsed.go
  vendor/github.com/containers/image/v5/internal/manifest/errors.go
  vendor/github.com/containers/image/v5/manifest/common.go
  vendor/github.com/containers/image/v5/manifest/docker_schema2.go
  vendor/github.com/containers/image/v5/manifest/manifest.go
  vendor/github.com/containers/image/v5/manifest/oci.go
  vendor/github.com/containers/image/v5/oci/archive/oci_transport.go
  vendor/github.com/containers/image/v5/oci/layout/oci_transport.go
  vendor/github.com/containers/image/v5/openshift/openshift_transport.go
  vendor/github.com/containers/image/v5/ostree/ostree_transport.go
  vendor/github.com/containers/image/v5/pkg/blobcache/blobcache.go
  vendor/github.com/containers/image/v5/sif/transport.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/tarball/tarball_reference.go
  vendor/github.com/containers/ocicrypt/.travis.yml
  vendor/github.com/containers/ocicrypt/config/constructors.go
  vendor/github.com/containers/ocicrypt/config/pkcs11config/config.go
  vendor/github.com/containers/ocicrypt/crypto/pkcs11/common.go
  vendor/github.com/containers/ocicrypt/go.mod
  vendor/github.com/containers/ocicrypt/go.sum
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/go.mod
  vendor/github.com/imdario/mergo/go.sum
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/imdario/mergo/mergo.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note-none

#14592 Cirrus: Fix build. dep. missed in #14521
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14637 .cirrus.yml: fix matrix expansion by properly merging YAML mappings
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14645 [v3.2.3-rhel] Cirrus: Prune testing tasks for long-term reliability
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14646 [v3.3.1-rhel] Cirrus: Prune testing tasks for long-term reliability
  .cirrus.yml
  hack/install_golangci.sh
Labels: lgtm, approved, release-note-none

#14657 [CI:DOCS] Rewrite --env docs
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-exec.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved, release-note-none

#14672 [CI:DOCS] Fix typos
  CONTRIBUTING.md
Labels: lgtm, approved, release-note-none

#14677 api: show the memory limit specified for the container
  pkg/api/handlers/compat/containers_stats.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note

#14662 API: containers/json always set application/json content type
  pkg/api/handlers/libpod/containers.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note

#14683 bump github.com/spf13/cobra from 1.4.0 to 1.5.0
  cmd/podman/main.go
  completions/bash/podman
  completions/bash/podman-remote
  completions/fish/podman-remote.fish
  completions/fish/podman.fish
  completions/powershell/podman-remote.ps1
  completions/powershell/podman.ps1
  completions/zsh/_podman
  completions/zsh/_podman-remote
  go.mod
  go.sum
  vendor/github.com/spf13/cobra/CHANGELOG.md
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/active_help.md
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/flag_groups.go
  vendor/github.com/spf13/cobra/go.mod
  vendor/github.com/spf13/cobra/go.sum
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/projects_using_cobra.md
  vendor/github.com/spf13/cobra/shell_completions.md
  vendor/github.com/spf13/cobra/user_guide.md
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#14659 [CI:DOCS] "setup" -> "set up" in source code comments
  cmd/podman/common/completion.go
  libpod/container_config.go
  libpod/container_internal_linux.go
  libpod/networking_linux.go
Labels: lgtm, approved, release-note-none

#14643 allow filter networks by dangling status
  docs/source/markdown/podman-network-ls.1.md
  pkg/domain/infra/abi/network.go
  test/apiv2/35-networks.at
  test/e2e/network_test.go
Labels: lgtm, approved, release-note

#14642 Update to use gopkg.in/yaml.v3
  go.mod
  pkg/domain/infra/abi/play.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#13384 bindings: manifest should follow `es_model` naming convention while marshalling `OSVersion` and `OSFeatures`
  pkg/bindings/manifests/types.go
  pkg/bindings/manifests/types_modify_options.go
  test/e2e/manifest_test.go
Labels: lgtm, approved

#14631 Open Windows tutorial after MSI installation
  cmd/winpath/main.go
  contrib/msi/podman.wxs
  docs/remote-docs.sh
  docs/standalone-styling.css
  docs/tutorials/podman-for-windows.md
Labels: lgtm, approved, release-note

#14690 Fix system prune output message
  cmd/podman/utils/utils.go
Labels: lgtm, approved, release-note-none

#14660 Remove logrus.Infof on bindings start and attach
  pkg/bindings/connection.go
  pkg/bindings/containers/attach.go
  pkg/bindings/containers/containers.go
Labels: lgtm, approved, release-note-none

#14608 logformatter: link to logs using Cirrus API
  contrib/cirrus/logformatter
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#14711 Cirrus: update branch name
  .cirrus.yml
Labels: approved, release-note-none

#14718 Workaround for bug 14653 (checkpoint flake)
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note-none

#14726 [CI:DOCS] Minor update to podmanimage upstream docs
  contrib/podmanimage/README.md
Labels: lgtm, approved, release-note-none

#14703 fix system connection and scp testing
  test/e2e/image_scp_test.go
  test/e2e/system_connection_test.go
Labels: lgtm, approved, release-note-none

#14685 Followon to #14559
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/container_api.go
  libpod/container_internal.go
  libpod/define/errors.go
  libpod/events.go
  libpod/oci_conmon_linux.go
  libpod/state.go
  pkg/api/handlers/utils/containers.go
  pkg/domain/infra/abi/containers.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#14665 podman machine init --now: respect proxy envs
  cmd/podman/machine/init.go
Labels: lgtm, approved, release-note

#14695 Fix machine list: --format implies --noheading
  cmd/podman/machine/list.go
  pkg/machine/e2e/list_test.go
Labels: lgtm, approved, release-note-none

#14687 podman run/create -v relative filepath support
  pkg/specgen/volumes.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note

#14725 Fix "podman run port forward range" flake
  test/system/150-login.bats
  test/system/500-networking.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#14733 Implement CatchAll and StopCatch in signal_unix.go
  pkg/signal/signal_common.go
  pkg/signal/signal_linux.go
  pkg/signal/signal_linux_mipsx.go
  pkg/signal/signal_unix.go
  pkg/signal/signal_unsupported.go
Labels: lgtm, approved, release-note-none

#14744 go.sum: run make vendor
  go.sum
Labels: lgtm, approved, release-note-none

#14732 Add missing criu symbols to criu_unsupported.go
  libpod/container_internal_linux.go
  pkg/criu/criu.go
  pkg/criu/criu_linux.go
  pkg/criu/criu_unsupported.go
Labels: lgtm, approved, release-note-none

#14705 Show Health Status events
  libpod/container_exec.go
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/journal_linux.go
  libpod/healthcheck.go
  pkg/domain/entities/events.go
  test/apiv2/27-containersEvents.at
  test/e2e/events_test.go
Labels: lgtm, approved, release-note

#14713 add podman volume reload to sync volume plugins
  Containerfile-testvol
  Makefile
  cmd/podman/volumes/reload.go
  docs/source/markdown/podman-volume-reload.1.md
  docs/source/markdown/podman-volume.1.md
  libpod/define/volume_inspect.go
  libpod/plugin/volume_api.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/runtime_volume.go
  libpod/runtime_volume_linux.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/volumes.go
  pkg/domain/infra/abi/volumes.go
  pkg/domain/infra/tunnel/volumes.go
  test/e2e/config.go
  test/e2e/volume_plugin_test.go
  test/testvol/Containerfile
  test/testvol/create.go
  test/testvol/list.go
  test/testvol/main.go
  test/testvol/remove.go
  test/testvol/util.go
Labels: lgtm, approved, release-note

#14597 Use Regexp in volume ls --filter name
  pkg/domain/filters/volumes.go
  test/e2e/volume_ls_test.go
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note

#14742 Show starting state when machine is starting
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note-none

#14741 pod: ps does not race with rm
  pkg/domain/infra/abi/pods.go
  test/system/200-pod.bats
Labels: lgtm, approved, release-note

#14751 FreeBSD build support
  Makefile
Labels: lgtm, approved, release-note-none

#14700 Docker compat returning unknown "initialized" for `status.status`
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note-none

#14400 podman image scp remote support & podman image scp tagging
  cmd/podman/images/scp.go
  cmd/podman/images/scp_test.go
  cmd/podman/images/scp_utils.go
  cmd/podman/system/connection/add.go
  cmd/podman/system/connection/shared.go
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/swagger/responses.go
  pkg/api/server/register_images.go
  pkg/bindings/images/images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_scp_options.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/entities/reports/scp.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  pkg/domain/utils/scp.go
  pkg/domain/utils/utils_test.go
  test/apiv2/12-imagesMore.at
  test/apiv2/test-apiv2
  test/e2e/image_scp_test.go
  test/system/120-load.bats
  utils/utils.go
Labels: lgtm, approved, release-note

#14717 Fix runtime check during restore
  cmd/podman/root.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note-none

#14754 vendor containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/normalize.go
  vendor/github.com/containers/common/libimage/platform.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#14666 Make `podman machine stop` wait for qemu to exit
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#14740 bindings: Add support for `Delete` for deleting manifest list from local storage.
  pkg/bindings/manifests/manifests.go
  pkg/bindings/test/manifests_test.go
  pkg/domain/entities/manifest.go
Labels: lgtm, approved

#14760 [v1.6.4-rhel] Cirrus: Remove broken IRC notifications
  .cirrus.yml
  contrib/cirrus/git_authors_to_irc_nicks.csv
  contrib/cirrus/lib.sh
  contrib/cirrus/notice_branch_failure.sh
  contrib/cirrus/podbot.py
  contrib/cirrus/success.sh
Labels: lgtm, approved, release-note-none

#14764 limit cgroupfs when rootless
  libpod/runtime_pod_linux.go
Labels: lgtm, approved, release-note

#14775 [CI:DOCS] Update podmanimage comment.
  contrib/podmanimage/stable/Containerfile
  contrib/podmanimage/testing/Containerfile
  contrib/podmanimage/upstream/Containerfile
Labels: lgtm, approved, release-note-none

#14706 Only allow Rootless runs of Podman Machine
  cmd/podman/machine/init.go
  cmd/podman/machine/inspect.go
  cmd/podman/machine/list.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/set.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine-inspect.1.md
  docs/source/markdown/podman-machine-list.1.md
  docs/source/markdown/podman-machine-rm.1.md
  docs/source/markdown/podman-machine-set.1.md
  docs/source/markdown/podman-machine-ssh.1.md
  docs/source/markdown/podman-machine-start.1.md
  docs/source/markdown/podman-machine-stop.1.md
  docs/source/markdown/podman-machine.1.md
  test/e2e/system_reset_test.go
Labels: lgtm, approved, release-note

#14720 Fix: Prevent OCI runtime directory remain
  libpod/container_api.go
  libpod/container_internal.go
  libpod/runtime_ctr.go
  test/system/050-stop.bats
  test/system/055-rm.bats
Labels: lgtm, approved, release-note

#14783 api,images: add support for `LookupManifest` to `Image removal` REST API
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_remove_options.go
  pkg/domain/infra/tunnel/images.go
  test/e2e/manifest_test.go
Labels: lgtm, approved, release-note

#14787 service: do not run under the root cgroup
  cmd/podman/system/service_abi.go
  utils/utils_supported.go
Labels: lgtm, approved, release-note

#14704 reveal machine error, ignore false state
  pkg/machine/keys.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note-none
