Repository containers/podman, pull requests merged in 2022-09, with the labels that each got.

#15572 [CI:BUILD] Packit: Disable until proved in other repos
  .packit.sh
  .packit.yaml
Labels: lgtm, approved, release-note-none

#15560 Add FreeBSD support for pkg/specgen/generate
  pkg/specgen/generate/config_unsupported.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/namespaces_freebsd.go
  pkg/specgen/generate/namespaces_linux.go
  pkg/specgen/generate/namespaces_unsupported.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/oci_freebsd.go
  pkg/specgen/generate/oci_linux.go
  pkg/specgen/generate/oci_unsupported.go
  pkg/specgen/generate/security_freebsd.go
  pkg/specgen/generate/security_linux.go
  pkg/specgen/generate/security_unsupported.go
Labels: lgtm, approved, release-note-none

#15360 api: return imageID instead of imageName, for "Image" when Podman api is queried
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
  test/apiv2/70-short-names.at
Labels: lgtm, approved, release-note

#15574 Cirrus: pick UIDs/GIDs starting at 1500, not 1000
  contrib/cirrus/lib.sh
Labels: lgtm, approved, release-note-none

#15571 Set enableServiceLinks to false in generated yaml
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, release-note

#15276 implement podman update
  cmd/podman/common/create.go
  cmd/podman/containers/clone.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  cmd/podman/containers/update.go
  cmd/podman/pods/clone.go
  cmd/podman/pods/create.go
  docs/source/markdown/.gitignore
  docs/source/markdown/links/podman-container-update.1
  docs/source/markdown/options/device-read-bps.md
  docs/source/markdown/options/device-read-iops.md
  docs/source/markdown/options/device-write-bps.md
  docs/source/markdown/options/device-write-iops.md
  docs/source/markdown/options/memory-reservation.md
  docs/source/markdown/options/memory-swap.md
  docs/source/markdown/options/memory.md
  docs/source/markdown/podman-container-clone.1.md.in
  docs/source/markdown/podman-container.1.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  docs/source/markdown/podman-update.1.md.in
  docs/source/markdown/podman.1.md
  libpod/container_api.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_conmon_common.go
  libpod/oci_missing.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/swagger/responses.go
  pkg/api/handlers/types.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/update.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/utils.go
  pkg/specgen/utils_linux.go
  pkg/specgenutil/specgen.go
  test/apiv2/20-containers.at
  test/apiv2/python/rest_api/test_v2_0_0_container.py
  test/e2e/update_test.go
Labels: lgtm, approved, release-note

#15601 [CI:DOCS] Man pages: refactor common options: --name
  docs/source/markdown/options/name.container.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15587 CI: disable flaking test on ubuntu
  test/system/250-systemd.bats
  test/system/710-kube.bats
Labels: lgtm, approved, release-note-none

#15404 Improved Windows compatibility for machine command
  pkg/machine/machine_windows.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_unix.go
  pkg/machine/qemu/machine_unsupported.go
  pkg/machine/qemu/machine_windows.go
  pkg/machine/qemu/options_windows.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/util_windows.go
Labels: lgtm, approved, windows, release-note-none

#15604 [CI:DOCS] Man pages: refactor common options: --device-X-Y
  docs/source/markdown/options/device-read-bps.md
  docs/source/markdown/options/device-read-iops.md
  docs/source/markdown/options/device-write-bps.md
  docs/source/markdown/options/device-write-iops.md
  docs/source/markdown/podman-create.1.md.in
Labels: lgtm, approved, release-note

#15609 [v3.4] CI: disable swagger step
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15599 Fix bind-mount-option annotation in gen/play kube
  libpod/define/config.go
  libpod/kube.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, release-note-none

#15614 Fix swagger documentation
  pkg/api/server/register_containers.go
  pkg/api/server/register_secrets.go
Labels: lgtm, approved, release-note-none

#15608 [v3.4.2-rhel] CI: disable swagger step
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15581 libpod: Ensure that generated container names are random
  libpod/runtime.go
  libpod/runtime_test.go
Labels: lgtm, approved, release-note

#15606 [CI:DOCS] Man pages: refactor common options: --digestfile
  docs/source/markdown/options/digestfile.md
  docs/source/markdown/podman-manifest-push.1.md.in
  docs/source/markdown/podman-push.1.md.in
Labels: lgtm, approved, release-note

#15582 Add support for FreeBSD volume mounts in specgen
  libpod/define/mount.go
  libpod/define/mount_freebsd.go
  libpod/define/mount_linux.go
  libpod/define/mount_unsupported.go
  pkg/specgen/volumes.go
Labels: lgtm, approved, release-note-none

#15605 Update test per comment in #15555
  test/apiv2/10-images.at
Labels: lgtm, approved, release-note-none

#15625 [CI:DOCS] Man pages: refactor common options: --label
  docs/source/markdown/options/label.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15618 Add container GID to additional groups
  libpod/container_internal_linux.go
  pkg/specgen/namespaces.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note-none

#15619 [CI:BUILD] Copr: Define _user_tmpfilesdir for rhel
  podman.spec.rpkg
Labels: lgtm, approved, release-note-none

#15630 [CI:DOCS] Fix list of default capabilities
  docs/source/markdown/podman-build.1.md.in
Labels: lgtm, approved, release-note-none

#15636 [CI:DOCS] Man pages: refactor common options: --memory*
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-container-clone.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15637 CI: Cirrus setup: retry failed curls
  .cirrus.yml
Labels: lgtm, approved, kind/test-flake, release-note-none

#15632 Add support for FreeBSD containers
  libpod/container.go
  libpod/container_freebsd.go
  libpod/container_internal_common.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
  libpod/container_internal_unsupported.go
  libpod/container_linux.go
  libpod/networking_unsupported.go
  libpod/runtime_ctr.go
  libpod/runtime_ctr_freebsd.go
  libpod/runtime_ctr_linux.go
  pkg/util/utils_freebsd.go
Labels: lgtm, approved, release-note-none

#15638 (Windows) Drop stale config value resulting in asymmetric config
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#15584 Add generate systemd -e/--env option
  cmd/podman/generate/systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/api/handlers/libpod/generate.go
  pkg/api/server/register_generate.go
  pkg/bindings/generate/types.go
  pkg/bindings/generate/types_systemd_options.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved, release-note

#15639 system tests: fix some tests in proxy environment
  test/system/255-auto-update.bats
  test/system/500-networking.bats
Labels: lgtm, approved, release-note-none

#15644 fix podman events with custom format
  cmd/podman/system/events.go
  test/e2e/events_test.go
Labels: lgtm, approved, release-note

#15650 [CI:DOCS] Man pages: refactor common options: --device
  docs/source/markdown/options/device.md
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15547 Support auto updates for Kubernetes workloads
  docs/source/markdown/podman-auto-update.1.md.in
  pkg/autoupdate/autoupdate.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/systemd/notifyproxy/notifyproxy.go
  pkg/systemd/notifyproxy/notifyproxy_test.go
  test/system/250-systemd.bats
  test/system/255-auto-update.bats
  test/system/helpers.systemd.bash
Labels: lgtm, approved, release-note

#15654 fix Pod removal after OS hard shutdown
  libpod/runtime_ctr.go
Labels: lgtm, approved, release-note

#15633 Closes #15617: emit container labels for container exited and exec died events
  libpod/events.go
  test/system/090-events.bats
Labels: lgtm, approved, release-note

#15655 Fix intermittent issue with Compat API proxy startup on Windows
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#15634 Update system reset warning message regarding deletion of volumes
  cmd/podman/system/reset.go
  docs/source/markdown/podman-system-reset.1.md
Labels: lgtm, approved, release-note-none

#15663 system tests: fix systemd tests in proxy environment
  test/system/250-systemd.bats
Labels: lgtm, approved, release-note-none

#15649 Fixes for conmon support on FreeBSD
  libpod/oci_conmon_attach_common.go
  libpod/oci_conmon_common.go
  libpod/oci_conmon_exec_common.go
  libpod/oci_conmon_exec_freebsd.go
  libpod/oci_conmon_exec_linux.go
Labels: lgtm, approved, release-note-none

#15653 [CI:DOCS] Man pages: refactor common options: --sysctl
  docs/source/markdown/options/sysctl.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15669 [CI:DOCS] Man pages: refactor common options: --privileged
  docs/source/markdown/options/privileged.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-exec.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15668 podman: skip /sys/fs/cgroup/systemd if not present
  libpod/container_internal_linux.go
Labels: lgtm, approved, release-note

#15676 [v4.2.0-rhel] Fix CI
  test/apiv2/10-images.at
Labels: lgtm, approved, release-note-none

#15672 [CI:DOCS] Man pages: refactor common options: --userns (pod)
  docs/source/markdown/options/userns.pod.md
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
Labels: lgtm, approved, release-note

#15677 [v3.0.1-rhel] Add container GID to additional groups
  libpod/container_internal_linux.go
  pkg/specgen/generate/namespaces.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note-none

#15610 Introduce a new signed Windows installer with automated build process
  .cirrus.yml
  .github/workflows/upload-win-installer.yml
  Makefile
  RELEASE_PROCESS.md
  cmd/podman-msihooks/main.go
  cmd/podman-wslkerninst/event-hook.go
  cmd/podman-wslkerninst/main.go
  contrib/cirrus/win-installer-install.ps1
  contrib/cirrus/win-installer-main.ps1
  contrib/win-installer/README.md
  contrib/win-installer/build-burn.bat
  contrib/win-installer/build-hooks.bat
  contrib/win-installer/build-msi.bat
  contrib/win-installer/build.ps1
  contrib/win-installer/burn.wxs
  contrib/win-installer/check.ps1
  contrib/win-installer/podman-theme.wxl
  contrib/win-installer/podman-theme.xml
  contrib/win-installer/podman-ui.wxs
  contrib/win-installer/podman.wxs
  contrib/win-installer/process-release.ps1
  contrib/win-installer/resources/podman-banner.png
  contrib/win-installer/resources/podman-banner2.png
  contrib/win-installer/resources/podman-dialog.png
  contrib/win-installer/resources/podman-logo.ico
  contrib/win-installer/resources/podman-logo.png
  contrib/win-installer/resources/podman-sidebar.png
  contrib/win-installer/welcome-install-dlg.wxs
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/util_windows.go
  vendor/golang.org/x/sys/windows/svc/eventlog/install.go
  vendor/golang.org/x/sys/windows/svc/eventlog/log.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#15667 specgen/generate: Factor out setting resource limits from CompleteSpec
  pkg/specgen/generate/container.go
  pkg/specgen/resources_freebsd.go
  pkg/specgen/resources_linux.go
Labels: lgtm, approved, release-note-none

#15607 Fix #15243 Set AutomountServiceAccountToken to false
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, release-note-none

#15713 Ignore cpu realtime options on cgroups V2 systems
  pkg/specgen/generate/validate.go
  test/e2e/run_cpu_test.go
Labels: lgtm, approved, release-note

#15658 Add --config for Docker compatibility
  cmd/podman/root.go
  pkg/domain/entities/engine.go
  test/system/001-basic.bats
Labels: lgtm, approved, release-note

#15712 Fix swagger documentation
  pkg/api/server/register_containers.go
Labels: lgtm, approved, release-note-none

#15692 kube: plug HostUsers in the pod spec
  libpod/kube.go
  pkg/domain/infra/abi/play.go
  pkg/k8s.io/api/core/v1/types.go
  test/e2e/generate_kube_test.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#15462 system tests for update
  test/system/280-update.bats
Labels: lgtm, approved, release-note-none

#15687 health check: add on-failure actions
  cmd/podman/common/completion.go
  cmd/podman/common/create.go
  docs/source/markdown/options/health-on-failure.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_validate.go
  libpod/define/container_inspect.go
  libpod/define/healthchecks.go
  libpod/healthcheck.go
  libpod/options.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/system/220-healthcheck.bats
  test/system/250-systemd.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note

#15715 [v4.2.0-rhel] vendor: bump buildah to `v1.27.1`
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#15716 stop: fix error handling
  libpod/oci_conmon_common.go
Labels: lgtm, approved, release-note

#15706 [CI:DOCS] Man pages: refactor common options: --volume
  docs/source/markdown/options/README.md
  docs/source/markdown/options/volume.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  hack/markdown-preprocess
  hack/markdown-preprocess.t
Labels: lgtm, approved, release-note-none

#15725 [CI:BUILD] Cirrus: Don't run win_installer in multiarch cron
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15728 Fix CPU usage limitation in play kube for non integer values
  pkg/specgen/generate/kube/kube.go
Labels: lgtm, approved, release-note

#15734 Include PATH in conmon env.
  libpod/oci_conmon_common.go
Labels: lgtm, approved, release-note

#15737 refactor: use `os.ReadDir` for lightweight directory reading
  libpod/container_internal.go
  libpod/lock/file/file_lock.go
  pkg/api/handlers/compat/info.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/images.go
  pkg/util/utils_linux.go
  test/e2e/benchmarks_test.go
  test/e2e/container_create_volume_test.go
  test/e2e/image_sign_test.go
  test/e2e/manifest_test.go
  test/e2e/push_test.go
Labels: lgtm, approved, release-note-none

#15744 update c/storage to latest
  go.mod
  go.sum
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/system/meminfo_freebsd.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#15747 [CI:DOCS] --volume: consistent wording
  docs/source/markdown/options/volume.md
Labels: lgtm, approved, release-note-none

#15745 [v4.2.0-rhel] libpod: UpdateContainerStatus: do not wait for container
  libpod/oci_conmon_linux.go
Labels: lgtm, approved, release-note

#15751 [CI:DOCS] Man pages: refactor common options: --volumes-from
  docs/source/markdown/options/volumes-from.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note-none

#15717 fix several podman events issues
  cmd/podman/system/events.go
  docs/source/markdown/podman.1.md
  go.mod
  go.sum
  libpod/events.go
  libpod/events/events_linux.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/events/nullout.go
  libpod/runtime.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/abi/secrets.go
  pkg/specgen/generate/kube/play_test.go
  test/system/090-events.bats
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#15749 Add support for networking on FreeBSD
  libpod/boltdb_state_freebsd.go
  libpod/container_freebsd.go
  libpod/container_internal_common.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
  libpod/networking_common.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  libpod/networking_unsupported.go
Labels: lgtm, approved, release-note-none

#15758 [CI:DOCS] Man pages: refactor common options: --rootfs
  docs/source/markdown/options/rootfs.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15767 events: Fix spelling of newNullEventer
  libpod/events/events_freebsd.go
Labels: lgtm, approved, release-note-none

#15766 generate systemd: warn on --restart without --new
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/systemd/generate/containers.go
  test/system/250-systemd.bats
Labels: lgtm, approved, release-note

#15752 health checks: restart timers
  libpod/container_internal.go
  libpod/healthcheck_linux.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#15768 [CI:DOCS] Man pages: refactor common options: --ip
  docs/source/markdown/options/ip.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15721 TEMPORARY: instrumenting for 15488
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#15770 [CI:DOCS] Man pages: refactor common options: --os (pull)
  docs/source/markdown/options/os.pull.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pull.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15772 [CI:BUILD] Enable github labeler, use for api-change
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: lgtm, approved, release-note-none

#15779 [CI:DOCS] Man pages: Refactor common options: --publish
  docs/source/markdown/options/publish.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15673 Fix go template parsing with "\n" in it
  cmd/podman/auto-update.go
  cmd/podman/inspect/inspect.go
  cmd/podman/machine/info.go
  cmd/podman/machine/inspect.go
  cmd/podman/machine/list.go
  cmd/podman/networks/list.go
  cmd/podman/secrets/inspect.go
  cmd/podman/secrets/list.go
  cmd/podman/system/info.go
  cmd/podman/system/version.go
  cmd/podman/volumes/list.go
  pkg/machine/e2e/inspect_test.go
  test/e2e/volume_ls_test.go
  test/system/610-format.bats
Labels: lgtm, approved, release-note

#15784 [CI:DOCS] Man pages: refactor common options: --tls-verify
  docs/source/markdown/.gitignore
  docs/source/markdown/options/tls-verify.md
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-container-runlabel.1.md.in
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-kube-play.1.md.in
  docs/source/markdown/podman-login.1.md.in
  docs/source/markdown/podman-manifest-add.1.md.in
  docs/source/markdown/podman-manifest-create.1.md.in
  docs/source/markdown/podman-manifest-push.1.md.in
  docs/source/markdown/podman-pull.1.md.in
  docs/source/markdown/podman-push.1.md.in
  docs/source/markdown/podman-run.1.md.in
  docs/source/markdown/podman-search.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15771 [systemd] Ensure that podCreateArgs appear last in ExecStartPre=
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved, release-note

#15777 generate systemd: fix pod dependencies
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved, release-note

#15790 [CI:DOCS] improve slirp4netns allow_host_loopback docs
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-kube-play.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#15795 [CI:DOCS] Man pages: refactor common options: --ip6
  docs/source/markdown/options/ip6.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15788 all: stop using deprecated GenerateNonCryptoID
  libpod/container_exec.go
  libpod/pod_internal.go
  libpod/runtime_ctr.go
  libpod/runtime_volume_linux.go
  test/e2e/common_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/create_test.go
  test/e2e/diff_test.go
  test/e2e/events_test.go
  test/e2e/logs_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_ps_test.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_staticip_test.go
  test/e2e/run_test.go
  test/e2e/volume_exists_test.go
  test/e2e/volume_plugin_test.go
Labels: lgtm, approved, release-note-none

#15805 fix building pkg/rootless on musl
  pkg/rootless/rootless_linux.c
Labels: release-note-none

#15802 [CI:DOCS] Man pages: refactor common options: --preserve-fds, -it
  docs/source/markdown/.gitignore
  docs/source/markdown/options/interactive.md
  docs/source/markdown/options/preserve-fds.md
  docs/source/markdown/options/tty.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-exec.1.md.in
  docs/source/markdown/podman-run.1.md.in
  docs/source/markdown/podman-start.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15793 libpod: fix lookup for subpath in volumes
  libpod/container_internal_common.go
  libpod/container_path_resolution.go
  libpod/container_path_resolution_test.go
  test/e2e/run_working_dir_test.go
Labels: lgtm, approved, release-note

#15794 System tests: fix three races
  pkg/domain/infra/tunnel/containers.go
  test/system/035-logs.bats
  test/system/045-start.bats
  test/system/420-cgroups.bats
Labels: lgtm, approved, kind/bug, kind/test-flake, release-note

#15809 [CI:DOCS] Man pages: refactor common options: --user
  docs/source/markdown/options/user.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-exec.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15799 Ensure that a broken OCI spec does not break inspect
  libpod/container.go
Labels: lgtm, approved, release-note-none

#15786 System tests: cleanup in --format test
  test/system/610-format.bats
Labels: lgtm, approved, kind/cleanup, release-note-none

#15781 Cirrus: Fix win_installer task clone failure
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15810 [CI:DOCS] Man pages: refactor common options: --shm-size
  docs/source/markdown/options/shm-size.md
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15811 stats: cap memory limit to the available memory
  pkg/api/handlers/compat/containers_stats.go
  test/apiv2/20-containers.at
  test/apiv2/test-apiv2
Labels: lgtm, approved, release-note, kind/api-change

#15815 [CI:DOCS] Man pages: refactor common options: 2 stats opts
  docs/source/markdown/.gitignore
  docs/source/markdown/options/no-reset.md
  docs/source/markdown/options/no-stream.md
  docs/source/markdown/podman-pod-stats.1.md.in
  docs/source/markdown/podman-stats.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15816 generate systemd: drop ExecStop
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved, release-note

#15792 Add support for 'podman inspect' on FreeBSD
  libpod/container_inspect.go
  libpod/container_inspect_freebsd.go
  libpod/container_inspect_linux.go
Labels: lgtm, approved, release-note-none

#15757 Introduce graph-based pod container removal
  libpod/container_graph.go
  libpod/pod_api.go
  libpod/runtime_ctr.go
  libpod/runtime_img.go
  libpod/runtime_pod_linux.go
  libpod/runtime_volume_linux.go
  test/e2e/pod_rm_test.go
Labels: lgtm, approved, release-note

#15821 Revert "generate systemd: drop ExecStop"
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved, release-note-none

#15722 [CI:DOCS] Buildah treadmill script: various fixes
  hack/buildah-vendor-treadmill
Labels: lgtm, approved, release-note-none

#15825 [CI:DOCS] Fix broken titles on readthedocs
  docs/README.md
  docs/source/conf.py
Labels: lgtm, approved, release-note

#15829 Cleanup: fix problems reported by shell lint
  hack/bats
  hack/check_root.sh
  hack/man-page-checker
  test/apiv2/test-apiv2
  test/buildah-bud/make-new-buildah-diffs
  test/compose/test-compose
  test/system/015-help.bats
  test/system/065-cp.bats
  test/system/070-build.bats
  test/system/160-volumes.bats
  test/system/400-unprivileged-access.bats
Labels: lgtm, approved, kind/cleanup, release-note-none

#15817 [CI:DOCS] Man pages: Refactor common options: --dns
  docs/source/markdown/options/dns.md
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15776 Cirrus: Only run unit-testing on Fedora.
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15812 remote: checkpoint --export prints a rawInput or an error on remote
  pkg/api/handlers/libpod/containers.go
  pkg/bindings/containers/checkpoint.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note, kind/api-change

#15755 [CI:DOCS] man pages: document some --format options
  docs/source/markdown/podman-container-inspect.1.md
  docs/source/markdown/podman-info.1.md
  docs/source/markdown/podman-pod-inspect.1.md
  docs/source/markdown/podman-pod-stats.1.md.in
  docs/source/markdown/podman-secret-inspect.1.md
  docs/source/markdown/podman-stats.1.md.in
  docs/source/markdown/podman-version.1.md
Labels: lgtm, approved, release-note

#15173 [CI:DOCS] added docs for installing certificate authority
  docs/tutorials/podman-for-windows.md
  docs/tutorials/podman-install-certificate-authority.md
Labels: lgtm, approved, release-note-none

#15775 Cirrus: Move gitlab test to cirrus-cron "main"
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15823 Default to --dns-option to match Docker and Buildah
  cmd/podman/common/netflags.go
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  cmd/podman/utils/alias.go
  docs/source/markdown/options/dns-opt.container.md
  docs/source/markdown/options/dns-option.container.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  test/e2e/generate_kube_test.go
  test/system/200-pod.bats
Labels: lgtm, approved, release-note

#15839 podman container clone env patch
  pkg/specgen/generate/container.go
  test/e2e/container_clone_test.go
Labels: lgtm, approved, release-note

#15844 label.Relabel third option is shared not recurse
  libpod/container_internal_common.go
Labels: lgtm, approved, release-note-none

#15072 Add support for podman context as alias to podman system connection
  cmd/podman/registry/remote.go
  cmd/podman/root.go
  cmd/podman/system/connection/add.go
  cmd/podman/system/connection/default.go
  cmd/podman/system/connection/list.go
  cmd/podman/system/connection/remove.go
  cmd/podman/system/context.go
  docs/source/markdown/podman-system-connection-list.1.md
  pkg/rootless/rootless_linux.c
  test/system/001-basic.bats
  test/system/272-system-connection.bats
Labels: lgtm, approved, release-note

#15859 [CI:DOCS] man pages: document some --format options
  docs/source/markdown/podman-events.1.md
Labels: lgtm, approved, kind/documentation, release-note

#15866 Fix podman-remote run --attach stdin to show container ID
  pkg/domain/infra/tunnel/containers.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#15842 Add labels to secrets
  cmd/podman/secrets/create.go
  docs/source/markdown/podman-secret-create.1.md
  pkg/api/handlers/compat/secrets.go
  pkg/api/handlers/libpod/secrets.go
  pkg/api/server/register_secrets.go
  pkg/bindings/secrets/types.go
  pkg/bindings/secrets/types_create_options.go
  pkg/domain/entities/secrets.go
  pkg/domain/infra/abi/secrets.go
  pkg/domain/infra/tunnel/secrets.go
  test/apiv2/50-secrets.at
  test/e2e/secret_test.go
Labels: lgtm, approved, release-note, kind/api-change

#15856 Add support for 'podman cp' on FreeBSD
  libpod/container_copy_common.go
  libpod/container_copy_freebsd.go
  libpod/container_copy_linux.go
  libpod/container_copy_unsupported.go
  libpod/container_stat_common.go
  libpod/container_stat_freebsd.go
  libpod/container_stat_linux.go
  libpod/container_stat_unsupported.go
Labels: lgtm, approved, release-note-none

#15837 Improve generate systemd format
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved, release-note

#15881 [v3.4.2-rhel] fix build
  Makefile
Labels: lgtm, approved, release-note-none

#15884 [v3.3.1-rhel] fix build
  Makefile
Labels: lgtm, approved, release-note-none

#15883 [v3.2.3-rhel] fix build
  Makefile
Labels: lgtm, approved, release-note-none

#15885 [v3.0.1-rhel] fix build
  Makefile
Labels: lgtm, approved, release-note-none

#15890 Fix a few missed io/ioutil -> os updates
  pkg/bindings/generator/generator.go
  pkg/bindings/images/build.go
  pkg/bindings/test/auth_test.go
  pkg/bindings/test/common_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/secret_test.go
Labels: lgtm, approved, release-note

#15894 System tests: reenable some skipped aarch64 tests
  test/system/030-run.bats
  test/system/075-exec.bats
  test/system/260-sdnotify.bats
  test/system/410-selinux.bats
Labels: lgtm, approved, release-note-none

#15870 podman-save: Add signature-policy flag
  cmd/podman/images/save.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  test/e2e/save_test.go
Labels: lgtm, approved, release-note

#15131 Add support to sig-proxy for podman-remote
  pkg/domain/infra/abi/terminal/sigproxy_commn.go
  pkg/domain/infra/tunnel/containers.go
  pkg/domain/infra/tunnel/runtime.go
  pkg/signal/signal_common.go
  pkg/signal/signal_common_test.go
  pkg/signal/signal_linux.go
  pkg/signal/signal_linux_mipsx.go
  pkg/signal/signal_unix.go
  pkg/signal/signal_unsupported.go
  test/system/032-sig-proxy.bats
Labels: lgtm, approved, release-note-none

#15906 Add container GID to additional groups
  libpod/container_internal_linux.go
  pkg/specgen/namespaces.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note

#15854 pkginstaller: use path_helper to add podman and helpers to path
  contrib/pkginstaller/scripts/postinstall
  contrib/pkginstaller/scripts/preinstall
Labels: lgtm, approved, release-note-none

#15841 Add support for 'image' volume driver
  docs/source/markdown/podman-volume-create.1.md
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/define/config.go
  libpod/define/volume_inspect.go
  libpod/runtime.go
  libpod/runtime_cstorage.go
  libpod/runtime_ctr.go
  libpod/runtime_img.go
  libpod/runtime_volume_linux.go
  libpod/state.go
  libpod/volume.go
  libpod/volume_inspect.go
  libpod/volume_internal.go
  libpod/volume_internal_linux.go
  test/e2e/config/containers.conf
  test/e2e/volume_create_test.go
  test/e2e/volume_plugin_test.go
Labels: lgtm, approved, release-note

#15463 Events for containers in pods now include the pod's ID
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/journal_linux.go
  pkg/domain/entities/events.go
  test/apiv2/27-containersEvents.at
  test/e2e/events_test.go
Labels: lgtm, approved, release-note

#15915 [v4.2.0-rhel] Backport #15799
  libpod/container.go
Labels: approved, release-note-none

#15873 Add --pretty to podman secret inspect
  cmd/podman/secrets/inspect.go
  docs/source/markdown/podman-secret-inspect.1.md
  test/e2e/secret_test.go
Labels: lgtm, approved, release-note

#15911 Fix libsubid detection
  hack/libsubid_tag.sh
Labels: lgtm, approved, release-note-none

#15820 kube: notifyproxy: fix lost READY message
  pkg/domain/infra/abi/play.go
  pkg/systemd/notifyproxy/notifyproxy.go
Labels: lgtm, approved, release-note

#15924 [CI:DOCS] man pages: fix incorrect title
  docs/source/markdown/podman-system-service.1.md
Labels: lgtm, approved, release-note-none

#15893 [CI:BUILD] Cirrus: Catch use of deprecated ioutils package
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#15926 Remove redundant log message
  pkg/api/server/server.go
Labels: lgtm, approved, release-note-none, kind/api-change

#15936 [CI:DOCS] Man pages: Refactor common options: --sig-proxy
  docs/source/markdown/.gitignore
  docs/source/markdown/options/sig-proxy.md
  docs/source/markdown/podman-attach.1.md.in
  docs/source/markdown/podman-run.1.md.in
  docs/source/markdown/podman-start.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15813 [CI:BUILD] Contrib: Add containerfile to create podman-remote binary image
  contrib/podmanremoteimage/Containerfile
  contrib/podmanremoteimage/README.md
Labels: lgtm, approved, release-note

#15938 [CI:DOCS] Man pages: refactor common options: --env
  docs/source/markdown/options/env.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-exec.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15907 compat API: network inspect do not show isolate option
  pkg/api/handlers/compat/networks.go
  test/compose/uptwice/docker-compose.yml
  test/compose/uptwice/teardown.sh
  test/compose/uptwice/tests.sh
Labels: lgtm, approved, release-note, kind/api-change

#15940 [CI:DOCS] Man pages: refactor common options: --env-file
  docs/source/markdown/options/env-file.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-exec.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, kind/documentation, release-note

#15933 auto-update: validate container image
  libpod/container_validate.go
  libpod/define/autoupdate.go
  pkg/autoupdate/autoupdate.go
  pkg/autoupdate/autoupdate_test.go
  pkg/domain/infra/abi/play.go
  test/system/255-auto-update.bats
Labels: lgtm, approved, release-note

#15471 podman machine ssh handling
  cmd/podman/machine/ssh.go
  cmd/podman/root.go
  cmd/podman/system/connection/list.go
  go.mod
  go.sum
  pkg/bindings/connection.go
  pkg/domain/entities/engine.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_tunnel.go
  pkg/machine/connection.go
  pkg/machine/e2e/basic_test.go
  pkg/machine/qemu/machine.go
  vendor/github.com/containers/common/libimage/platform.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/ssh/connection_golang.go
  vendor/github.com/containers/common/pkg/ssh/types.go
  vendor/github.com/containers/common/pkg/ssh/utils.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#15916 Fix machine starting state
  cmd/podman/machine/list.go
Labels: lgtm, approved, release-note

#15948 Cirrus: Build pkginstaller in CI
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#15896 CI: only make install.tools when needed
  Makefile
  contrib/cirrus/setup_environment.sh
  hack/install_golangci.sh
Labels: approved, release-note-none

#15958 fix: liveness check with http probe
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
Labels: lgtm, approved, release-note-none

#15908 System tests: light cleanup
  test/system/030-run.bats
Labels: lgtm, approved, kind/cleanup, release-note-none

#15937 [CI:DOCS] Add SELinux information about boolean for using random devices
  docs/source/markdown/options/device.md
Labels: lgtm, approved, release-note

#15970 [v4.1.1-rhel] health check: add on-failure actions
  cmd/podman/common/completion.go
  cmd/podman/common/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_validate.go
  libpod/define/container_inspect.go
  libpod/define/healthchecks.go
  libpod/healthcheck.go
  libpod/options.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/system/220-healthcheck.bats
  test/system/250-systemd.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note

#15982 [v4.1.1-rhel] Backport #15799
  libpod/container.go
Labels: lgtm, approved, release-note-none

#15968 fix: kube play liveness probe http path
  pkg/k8s.io/api/core/v1/types.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
Labels: lgtm, approved, release-note-none

#15917 [CI:BUILD] Check new go code
  contrib/cirrus/check_go_changes.sh
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none
