Repository containers/podman, pull requests merged in 2022-01, with the labels that each got.

#12731 [CI:DOCS] fix doc typo
  libpod/network/internal/util/util.go
Labels: lgtm, approved

#12708 [CI:DOCS]: sort swagger operations alpabetically
  docs/source/_static/api.html
Labels: lgtm, approved

#12724 Update swagger documentation
  pkg/api/server/docs.go
Labels: lgtm, approved

#12725 test/system: podman run with log-opt option
  test/system/030-run.bats
Labels: lgtm, approved

#12697 .service file removal on failure
  libpod/healthcheck_linux.go
Labels: lgtm, approved

#12732 fix misleading comment regarding default value of cpu period
  pkg/util/utils.go
Labels: lgtm, approved

#12611 add --ip6 flag to podman create/run
  cmd/podman/common/netflags.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  test/e2e/run_staticip_test.go
Labels: lgtm, approved

#12738 [CI:DOCS] Fix wrong 'podman search --format' placeholder
  docs/source/markdown/podman-search.1.md
Labels: lgtm, approved

#12709 ignition: add `certs` from current user into the machine while `init`
  pkg/machine/ignition.go
Labels: lgtm, approved

#12643 legacy events: also set Action="die"
  pkg/api/handlers/compat/events.go
  test/apiv2/27-containersEvents.at
Labels: lgtm, approved

#12735 Fix Container List API call to return mount info
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: lgtm, approved

#12742 [v3.4.2-rhel] Backports for health check files
  libpod/container_internal.go
  libpod/healthcheck_linux.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved

#12744 Fix test flake in test/e2e/pod_initcontainers
  test/e2e/pod_initcontainers_test.go
  test/e2e/run_test.go
Labels: lgtm, approved

#12429 podman image scp never enter podman user NS
  cmd/podman/images/scp.go
  cmd/podman/images/scp_test.go
  cmd/podman/images/scp_utils.go
  cmd/podman/main.go
  contrib/cirrus/lib.sh
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  pkg/rootless/rootless_linux.c
  test/e2e/image_scp_test.go
  test/system/120-load.bats
  test/system/520-checkpoint.bats
  test/system/helpers.bash
  utils/utils.go
Labels: lgtm, approved

#12168 Avoid RemoteSocket collisions in e2e tests
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/utils/utils.go
Labels: lgtm, approved

#12208 Pod Security Option support and Infra Inheritance changes
  cmd/podman/common/create.go
  docs/source/markdown/podman-pod-create.1.md
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/define/pod_inspect.go
  libpod/options.go
  libpod/pod_api.go
  pkg/api/handlers/libpod/pods.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/oci.go
  pkg/specgen/podspecgen.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved

#12750 Change Tests to ignore missing containers when removing --all
  test/system/180-blkio.bats
  test/system/helpers.bash
Labels: lgtm, approved

#12754 [CI:DOCS] correct typo words in docs
  pkg/api/server/register_networks.go
  pkg/api/server/register_volumes.go
Labels: lgtm, approved

#12687 Support volume bind mounts for rootless containers
  libpod/container_internal.go
  libpod/runtime_volume_linux.go
  libpod/volume_internal.go
  libpod/volume_internal_linux.go
  test/system/160-volumes.bats
  test/system/helpers.bash
Labels: lgtm, approved

#12759 Fix CI
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved

#11538 Fix HTTP credentials passing
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/compat/images_push.go
  pkg/api/handlers/compat/images_search.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/handlers/libpod/play.go
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/bindings/images/build.go
  pkg/bindings/images/images.go
  pkg/bindings/images/pull.go
  pkg/bindings/play/play.go
Labels: lgtm, approved

#11454 Implement virtfs volumes for podman machine
  cmd/podman/machine/init.go
  docs/source/markdown/podman-machine-init.1.md
  pkg/machine/config.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#12614 fix healthcheck timeouts and ut8 coercion
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/common/default.go
  cmd/podman/inspect/inspect.go
  libpod/define/healthchecks.go
  pkg/specgen/generate/container.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved

#12758 add OCI Runtime name to errors
  libpod/oci_attach_linux.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  libpod/oci_util.go
  test/system/030-run.bats
Labels: lgtm, approved

#12726 Don't rename pod if container has the same name
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#12764 Emergency system-test fixes
  test/system/030-run.bats
  test/system/120-load.bats
Labels: lgtm, approved

#12767 Prevent double decoding of storage options
  libpod/container_internal.go
Labels: lgtm, approved

#12733 Set volume NeedsCopyUp to false iff data was copied up
  libpod/container_internal.go
  libpod/define/volume_inspect.go
  libpod/volume_inspect.go
  test/system/160-volumes.bats
Labels: lgtm, approved

#12773 [CI:DOCS] fixes indentation of example pod yaml
  docs/source/markdown/podman-play-kube.1.md
Labels: lgtm, approved

#12783 [NO TESTS NEEDED] Fix type-o in podman.wxs
  contrib/msi/podman.wxs
Labels: lgtm, approved

#12787 Update docker cli message for case where user creates directory
  docker
Labels: lgtm, approved

#12786 vendor c/common
  go.mod
  go.sum
  test/e2e/pull_test.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/normalize.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_supported.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_unsupported.go
  vendor/github.com/containers/common/pkg/cgroups/memory.go
  vendor/github.com/containers/common/pkg/cgroups/pids.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/seccomp/errno_list.go
  vendor/github.com/containers/common/pkg/util/util.go
  vendor/github.com/containers/common/pkg/util/util_supported.go
  vendor/github.com/containers/common/pkg/util/util_windows.go
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config.go
  vendor/github.com/vbauerster/mpb/v7/README.md
  vendor/github.com/vbauerster/mpb/v7/bar.go
  vendor/github.com/vbauerster/mpb/v7/bar_filler.go
  vendor/github.com/vbauerster/mpb/v7/bar_filler_nop.go
  vendor/github.com/vbauerster/mpb/v7/bar_option.go
  vendor/github.com/vbauerster/mpb/v7/container_option.go
  vendor/github.com/vbauerster/mpb/v7/decor/merge.go
  vendor/github.com/vbauerster/mpb/v7/decor/on_abort.go
  vendor/github.com/vbauerster/mpb/v7/decor/on_complete.go
  vendor/github.com/vbauerster/mpb/v7/decor/on_condition.go
  vendor/github.com/vbauerster/mpb/v7/go.mod
  vendor/github.com/vbauerster/mpb/v7/go.sum
  vendor/github.com/vbauerster/mpb/v7/internal/predicate.go
  vendor/github.com/vbauerster/mpb/v7/progress.go
  vendor/github.com/vbauerster/mpb/v7/proxyreader.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_aix.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_freebsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_netbsd.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_netbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_netbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_netbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_netbsd_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/exec_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/modules.txt
Labels: lgtm, approved

#12757 Don't add env if optional and not found
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#12789 [v3.4.2-rhel] Fix intermittently missing files in merged directory du…
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: lgtm, approved

#12772 Remove dead RuntimeOption functions
  libpod/options.go
Labels: lgtm, approved

#12791 System tests: fix RHEL8 gating tests
  test/system/010-images.bats
  test/system/035-logs.bats
Labels: lgtm, approved

#12793 Enable gitlab runner unit testing + Freshen VM images w/ crun-1.4-1
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved

#12795 [v3.4] System tests: fix RHEL8 gating tests
  test/system/035-logs.bats
Labels: lgtm, approved

#12780 Use the InfraImage defined in containers.conf
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  libpod/kube.go
  pkg/api/handlers/libpod/pods.go
  test/e2e/containers_conf_test.go
  test/system/200-pod.bats
Labels: lgtm, approved

#12806 It takes some time to start a VM
  cmd/podman/machine/start.go
Labels: lgtm, approved, do-not-merge/hold

#12807 fix host.containers.internal entry for macvlan networks
  libpod/container_internal_linux.go
Labels: lgtm, approved, do-not-merge/hold

#12694 Add podman rm --depend
  cmd/podman/containers/rm.go
  cmd/podman/root.go
  cmd/podman/utils/error.go
  cmd/winpath/main.go
  docs/source/markdown/podman-rm.1.md
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/swagger/swagger.go
  pkg/api/handlers/types.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_remove_options.go
  pkg/bindings/test/containers_test.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/reports/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  pkg/specgen/generate/ports.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  test/apiv2/12-imagesMore.at
  test/apiv2/20-containers.at
  test/apiv2/22-stop.at
  test/apiv2/25-containersMore.at
  test/apiv2/python/rest_api/test_v2_0_0_container.py
  test/system/001-basic.bats
  test/system/055-rm.bats
Labels: approved, breaking-change

#12818 buildah bud tests: skip failing tests
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved

#12813 Fix permission on secrets directory
  libpod/runtime_ctr.go
  test/system/170-run-userns.bats
Labels: lgtm, approved

#12819 add additional fields to podman machine ls --json
  cmd/podman/machine/list.go
  docs/source/markdown/podman-machine-list.1.md
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
Labels: approved

#12821 vendor latest c/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/pull.go
  vendor/modules.txt
Labels: lgtm, approved

#12827 podman image scp: implement --quiet
  cmd/podman/images/scp.go
  pkg/domain/infra/abi/images.go
Labels: lgtm, approved

#12151 Add --noout option to prevent the output of ids
  cmd/podman/root.go
  docs/source/markdown/podman.1.md
  pkg/domain/entities/engine.go
  test/system/030-run.bats
  test/system/050-stop.bats
  test/system/080-pause.bats
  test/system/200-pod.bats
  test/system/500-networking.bats
Labels: lgtm, approved

#12831 [v3.4] buildah bud tests: skip failing tests
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved

#12834 libpod: fix check for systemd session
  libpod/runtime.go
  test/system/250-systemd.bats
Labels: lgtm, approved

#12832 [v3.4.2-rhel] buildah bud tests: skip failing tests
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved

#12835 Wait for podman stop to complete
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#12833 [v3.3.1-rhel] Emergency buildah skips
  test/buildah-bud/apply-podman-deltas
  test/e2e/run_test.go
Labels: lgtm, approved

#12837 use events_logfile_path from containers.conf for events log.
  libpod/options.go
  libpod/runtime.go
  test/system/090-events.bats
Labels: lgtm, approved

#12836 Podman Pod Create --sysctl support
  cmd/podman/common/create.go
  docs/source/markdown/podman-pod-create.1.md
  pkg/domain/entities/pods.go
  pkg/specgen/podspecgen.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved

#12826 podman container rm: remove pod
  cmd/podman/containers/rm.go
  libpod/runtime_ctr.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/200-pod.bats
Labels: lgtm, approved

#12828 libpod: drop check for empty pod cgroup
  libpod/container_internal_linux.go
  libpod/runtime_ctr.go
Labels: lgtm, approved

#12853 Podman Build use absolute filepath
  cmd/podman/images/build.go
  test/e2e/build_test.go
Labels: lgtm, approved

#12825 Update use of CDI API
  go.mod
  go.sum
  libpod/container_internal_linux.go
  pkg/specgen/generate/container_create.go
  test/e2e/run_device_test.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/cache.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/container-edits.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/device.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/doc.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/qualified-device.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/registry.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/spec-dirs.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/spec.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/devices.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/specs-go/config.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/specs-go/oci.go
  vendor/modules.txt
  vendor/sigs.k8s.io/yaml/.gitignore
  vendor/sigs.k8s.io/yaml/.travis.yml
  vendor/sigs.k8s.io/yaml/CONTRIBUTING.md
  vendor/sigs.k8s.io/yaml/LICENSE
  vendor/sigs.k8s.io/yaml/OWNERS
  vendor/sigs.k8s.io/yaml/README.md
  vendor/sigs.k8s.io/yaml/RELEASE.md
  vendor/sigs.k8s.io/yaml/SECURITY_CONTACTS
  vendor/sigs.k8s.io/yaml/code-of-conduct.md
  vendor/sigs.k8s.io/yaml/fields.go
  vendor/sigs.k8s.io/yaml/go.mod
  vendor/sigs.k8s.io/yaml/go.sum
  vendor/sigs.k8s.io/yaml/yaml.go
  vendor/sigs.k8s.io/yaml/yaml_go110.go
Labels: lgtm, approved

#12856 [CI:DOCS] troubleshooting links to main branch
  .github/ISSUE_TEMPLATE.md
Labels: lgtm, approved

#12858 test/system: podman run update /etc/hosts
  test/system/030-run.bats
Labels: lgtm, approved

#12875 [CI:DOCS] Fix typo in --env
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#12527 Refactor manifest list operations
  cmd/podman/manifest/add.go
  cmd/podman/manifest/annotate.go
  cmd/podman/manifest/create.go
  cmd/podman/manifest/inspect.go
  cmd/podman/manifest/remove.go
  cmd/podman/manifest/rm.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/register_manifest.go
  pkg/api/server/register_swagger.go
  pkg/api/server/server.go
  pkg/auth/auth.go
  pkg/auth/auth_test.go
  pkg/bindings/connection.go
  pkg/bindings/containers/attach.go
  pkg/bindings/errors.go
  pkg/bindings/images/build.go
  pkg/bindings/internal/util/util.go
  pkg/bindings/manifests/manifests.go
  pkg/bindings/manifests/types.go
  pkg/bindings/manifests/types_modify_options.go
  pkg/bindings/test/manifests_test.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/entities/manifest.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/tunnel/manifest.go
  test/apiv2/15-manifest.at
  test/apiv2/test-apiv2
  test/e2e/libpod_suite_remote_test.go
  test/e2e/manifest_test.go
Labels: lgtm, approved, HTTP API, 4.0, breaking-change

#12861 ignition: recursively copy cert files
  pkg/machine/ignition.go
Labels: lgtm, approved

#12572 Remove two GetImages functions from API
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/images.go
  pkg/api/server/register_images.go
  pkg/domain/infra/abi/images_list.go
Labels: lgtm, approved, breaking-change

#12876 [CI:DOCS] Unprivileged native overlayfs is now supported
  rootless.md
Labels: lgtm, approved

#12881 fix default branch links
  cni/README.md
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
  test/system/070-build.bats
Labels: lgtm, approved

#12880 [CI:DOCS] fix default branch links
  README.md
  RELEASE_NOTES.md
  build_osx.md
  contrib/snapcraft/snap/snapcraft.yaml
  contrib/systemd/README.md
  docs/source/Tutorials.rst
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman.1.md
  docs/tutorials/mac_client.md
  docs/tutorials/podman_tutorial.md
  docs/tutorials/podman_tutorial_cn.md
  docs/tutorials/remote_client.md
  rootless.md
Labels: lgtm, approved

#12882 Unify the method of parsing filters in cmd
  cmd/podman/containers/prune.go
  cmd/podman/images/prune.go
  cmd/podman/networks/list.go
  cmd/podman/networks/prune.go
  pkg/specgenutil/util.go
Labels: lgtm, approved

#12860 Use CONTAINERS_CONF cgroups flag for remote API.
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  libpod/boltdb_state.go
  libpod/container.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_validate.go
  libpod/define/container_inspect.go
  libpod/define/errors.go
  libpod/define/info.go
  libpod/define/pod_inspect.go
  libpod/info.go
  libpod/oci_conmon_linux.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_internal.go
  libpod/runtime_ctr.go
  libpod/runtime_pod_linux.go
  libpod/util_linux.go
  pkg/api/handlers/compat/containers_stats.go
  pkg/api/handlers/compat/info.go
  pkg/api/handlers/types.go
  pkg/domain/entities/engine.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/oci.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/containers_conf_test.go
  test/e2e/cp_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/pod_kill_test.go
  test/e2e/pod_ps_test.go
  test/e2e/run_ns_test.go
  test/e2e/run_selinux_test.go
  test/e2e/run_test.go
  test/e2e/toolbox_test.go
Labels: lgtm, approved

#12892 update c/common to latest
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: lgtm, approved

#12893 [CI:DOCS] Cirrus: Temporarily disable OSX Cross task
  .cirrus.yml
Labels: lgtm, approved

#12891 [NO NEW TESTS NEEDED] add builddeps to copr template
  podman.spec.rpkg
Labels: lgtm, approved

#12870 Use PODMAN_USERNS environment variable when running as a service
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  pkg/specgenutil/specgen.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved

#12684 Revamp Libpod state strings for Docker compat
  cmd/podman/containers/ps.go
  libpod/define/containerstate.go
  test/apiv2/20-containers.at
  test/e2e/init_test.go
  test/e2e/pod_pause_test.go
  test/system/040-ps.bats
  test/system/080-pause.bats
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved, breaking-change

#12905 [CI:DOCS] Restore OSX cross-build task
  .cirrus.yml
Labels: lgtm, approved

#12797 Tests for podman image scp (the sudo form)
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  hack/bats
  test/system/120-load.bats
  test/system/272-system-connection.bats
Labels: lgtm, approved

#12909 compat attach: fix write on closed channel
  libpod/oci_conmon_linux.go
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: lgtm, approved

#12908 rename --cni-config-dir to --network-config-dir
  cmd/podman/root.go
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
  docs/source/markdown/podman.1.md
  hack/podman-socat
  pkg/bindings/test/common_test.go
  pkg/domain/infra/runtime_libpod.go
  pkg/specgenutil/util.go
  test/apiv2/python/rest_api/fixtures/podman.py
  test/compose/test-compose
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/network_test.go
  test/python/docker/__init__.py
Labels: lgtm, approved

#12919 apiv2 test: add regression test for #12904
  test/apiv2/20-containers.at
Labels: lgtm, approved

#12915 [CI:DOCS] SECURITY.md: fix the project name
  SECURITY.md
Labels: lgtm, approved

#12925 APIv2 tests: followup to recent log test
  test/apiv2/20-containers.at
  test/apiv2/test-apiv2
Labels: lgtm, approved

#12914 Handle changes in docker compat mode
  pkg/api/handlers/compat/images.go
  test/apiv2/20-containers.at
Labels: lgtm, approved

#12916 Implement API forwarding for podman machine on Windows
  Makefile
  cmd/podman/machine/start.go
  contrib/msi/podman.wxs
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/util_windows.go
Labels: lgtm, approved

#12887 Add custom defined dependencies to podman generate systemd
  cmd/podman/generate/systemd.go
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/api/handlers/libpod/generate.go
  pkg/api/server/register_generate.go
  pkg/bindings/generate/types.go
  pkg/bindings/generate/types_systemd_options.go
  pkg/domain/entities/generate.go
  pkg/domain/infra/tunnel/generate.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
  test/e2e/generate_systemd_test.go
Labels: lgtm, approved

#12931 rootless: report correctly the error
  pkg/rootless/rootless_linux.go
Labels: lgtm, approved

#12939 vendor: bump `c/common` for netavark and other pkgs as well.
  go.mod
  go.sum
  vendor/github.com/Microsoft/hcsshim/.golangci.yml
  vendor/github.com/Microsoft/hcsshim/go.mod
  vendor/github.com/Microsoft/hcsshim/go.sum
  vendor/github.com/Microsoft/hcsshim/internal/hcs/errors.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/console.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/process.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/winapi.go
  vendor/github.com/Microsoft/hcsshim/internal/winapi/zsyscall_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/windowsbuilds.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/netavark/run.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/chunked/cache_linux.go
  vendor/github.com/containers/storage/pkg/chunked/compressor/compressor.go
  vendor/github.com/containers/storage/pkg/chunked/compressor/rollsum.go
  vendor/github.com/containers/storage/pkg/chunked/internal/compression.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/github.com/containers/storage/pkg/idtools/idtools_supported.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/fast_encoder.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/bitwriter.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/fse_decoder.go
  vendor/github.com/klauspost/compress/zstd/fse_encoder.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_arm64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_asm.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_other.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/modules.txt
Labels: lgtm, approved

#12945 vendor c/psgo@v1.7.2
  go.mod
  go.sum
  vendor/github.com/containers/psgo/go.mod
  vendor/github.com/containers/psgo/go.sum
  vendor/github.com/containers/psgo/internal/proc/ns.go
  vendor/github.com/containers/psgo/internal/proc/status.go
  vendor/github.com/containers/psgo/psgo.go
  vendor/modules.txt
Labels: lgtm, approved

#12871 Engine.Remote from containers.conf
  Makefile
  cmd/podman/registry/config.go
  test/e2e/containers_conf_test.go
Labels: lgtm, approved, kind/bug

#12950 System tests: fix for new systemd on rawhide
  test/system/255-auto-update.bats
Labels: lgtm, approved

#12942 compat: `images/load` must be able to load tar with multiple images
  pkg/api/handlers/compat/images.go
  test/apiv2/10-images.at
Labels: lgtm, approved

#12936 Don't segfault if an image layer has no creation timestamp
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/images_test.go
Labels: lgtm, approved

#12958 Remove some explicit dependencies on runc/crun in the system tests
  test/system/005-info.bats
  test/system/030-run.bats
Labels: lgtm, approved

#12943 Fix nil pointer dereference for configmap optional
  pkg/specgen/generate/kube/volume.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#12952 [CI:DOCS] Update release notes for Podman v4.0.0
  RELEASE_NOTES.md
Labels: lgtm, approved

#12948 Remove rootless_networking option from containers.conf
  pkg/machine/ignition.go
  pkg/specgen/namespaces.go
Labels: lgtm, approved

#12951 Fix #2 for compat commit handling of --changes
  pkg/api/handlers/compat/images.go
  test/apiv2/20-containers.at
Labels: lgtm, approved

#12959 Restore machine start logic that was hanging
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#12964 Bump to v4.0.0-RC2
  RELEASE_NOTES.md
Labels: lgtm, approved

#12961 Run codespell
  Makefile
  docs/source/markdown/podman-machine-list.1.md
  libpod/container_inspect.go
  pkg/auth/auth_test.go
  pkg/bindings/test/containers_test.go
  pkg/machine/wsl/machine.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/play_build_test.go
  test/e2e/volume_create_test.go
  test/system/160-volumes.bats
  troubleshooting.md
Labels: lgtm, approved

#12979 [CI:DOCS] fix typo subpordinate
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#12976 [CI:DOCS] Fix filter description and unify filters docs for containers/images prune
  docs/source/markdown/podman-container-prune.1.md
  docs/source/markdown/podman-image-prune.1.md
Labels: lgtm, approved

#12973 Remove unused param from utils.Error in pkg/api and clean API handlers
  pkg/api/handlers/compat/auth.go
  pkg/api/handlers/compat/changes.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/containers_archive.go
  pkg/api/handlers/compat/containers_attach.go
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/compat/containers_export.go
  pkg/api/handlers/compat/containers_logs.go
  pkg/api/handlers/compat/containers_prune.go
  pkg/api/handlers/compat/containers_restart.go
  pkg/api/handlers/compat/containers_stats.go
  pkg/api/handlers/compat/containers_stop.go
  pkg/api/handlers/compat/containers_top.go
  pkg/api/handlers/compat/events.go
  pkg/api/handlers/compat/exec.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/compat/images_history.go
  pkg/api/handlers/compat/images_prune.go
  pkg/api/handlers/compat/images_push.go
  pkg/api/handlers/compat/images_remove.go
  pkg/api/handlers/compat/images_search.go
  pkg/api/handlers/compat/images_tag.go
  pkg/api/handlers/compat/info.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/compat/resize.go
  pkg/api/handlers/compat/secrets.go
  pkg/api/handlers/compat/version.go
  pkg/api/handlers/compat/volumes.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/api/handlers/libpod/containers_stats.go
  pkg/api/handlers/libpod/generate.go
  pkg/api/handlers/libpod/healthcheck.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/handlers/libpod/networks.go
  pkg/api/handlers/libpod/play.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/libpod/secrets.go
  pkg/api/handlers/libpod/system.go
  pkg/api/handlers/libpod/volumes.go
  pkg/api/handlers/utils/containers.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/register_swarm.go
Labels: lgtm, approved

#12991 container create: do not check for network dns support
  libpod/networking_linux.go
  libpod/runtime_ctr.go
  test/e2e/run_networking_test.go
Labels: lgtm, approved

#12982 Show correct default values or show none
  cmd/podman/root.go
  test/e2e/common_test.go
  test/e2e/containers_conf_test.go
Labels: lgtm, approved

#12995 [CI:DOCS] Fix typos and improve language
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-container-exists.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-generate-kube.1.md
  docs/source/markdown/podman-image-sign.1.md
  docs/source/markdown/podman-logs.1.md
  docs/source/markdown/podman-machine-list.1.md
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-mount.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-network-exists.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-logs.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-untag.1.md
  docs/source/markdown/podman-volume-exists.1.md
  docs/source/markdown/podman.1.md
Labels: lgtm, approved

#12996 remote build: set rootless oci isolation correctly
  cmd/podman/images/build.go
  pkg/api/handlers/compat/images_build.go
Labels: lgtm, approved

#12969 Fix handling of duplicate matches on id expansion
  pkg/api/handlers/utils/errors.go
Labels: lgtm, approved

#12974 pkg/specgen/generate/security: fix error message text
  pkg/specgen/generate/security.go
Labels: lgtm, approved

#12993 CI: enable rootless-remote system tests
  .cirrus.yml
  test/system/160-volumes.bats
  test/system/410-selinux.bats
Labels: lgtm, approved

#12997 [CI:DOCS] Github workflow: Send e-mail on job error
  .github/workflows/check_cirrus_cron.yml
  contrib/cirrus/cron-fail_addrs.csv
Labels: lgtm, approved

#13000 [CI:DOCS] Fix typos and improve language (add 3 missing)
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
Labels: lgtm, approved

#12857 exec: retry rm -rf on ENOTEMPTY and EBUSY
  libpod/container_exec.go
  libpod/oci_attach_linux.go
  libpod/oci_conmon_exec_linux.go
  libpod/runtime_ctr.go
Labels: lgtm, approved

#12966 Makefile: install targets independent of build
  .copr/Makefile
  .copr/prepare.sh
  Makefile
  contrib/build_rpm.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  contrib/spec/podman.spec.in
  podman.spec.rpkg
Labels: lgtm, approved

#12999 Update godoc, swagger using wrong struct
  pkg/api/server/swagger.go
Labels: lgtm, approved, kind/bug, HTTP API

#13005 [CI:DOCS] Github-workflow: Fix YAML syntax
  .github/workflows/check_cirrus_cron.yml
Labels: lgtm, approved

#12998 [CI:DOCS] Github workflow: Update Cirrus-cron GraphQL query
  .github/actions/check_cirrus_cron/cron_failures.sh
Labels: lgtm, approved

#13008 [CI:DOCS] Github workflow: Fix parsing of GraphQL response JSON
  .github/actions/check_cirrus_cron/cron_failures.sh
Labels: lgtm, approved

#13013 [CI:DOCS] change location of where make outputs podman binary on osx
  build_osx.md
Labels: lgtm, approved

#13020 Makefile: fix darwin detection
  Makefile
Labels: lgtm, approved

#13031 rootless: drop permission check for devices
  pkg/specgen/generate/config_linux.go
Labels: lgtm, approved

#12867 switch podman image scp from depending on machinectl to just os/exec
  cmd/podman/images/scp.go
  pkg/domain/infra/abi/images.go
  test/system/120-load.bats
  utils/utils.go
Labels: lgtm, approved

#13029 Bump Buildah to v1.24.0
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
  go.mod
  go.sum
  test/e2e/build_test.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.gitignore
  vendor/github.com/containers/buildah/.golangci.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/bind/mount.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/internal/parse/parse.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/util.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/exec.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/netavark/run.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/default_unsupported.go
  vendor/github.com/containers/common/pkg/config/default_windows.go
  vendor/github.com/containers/common/pkg/flag/flag.go
  vendor/github.com/containers/common/pkg/secrets/shelldriver/shelldriver.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/jinzhu/copier/copier.go
  vendor/modules.txt
Labels: lgtm, approved, 4.0

#13034 CI:DOCS: Unify podman prune filter description: volumes, networks, system
  docs/source/markdown/podman-container-prune.1.md
  docs/source/markdown/podman-image-prune.1.md
  docs/source/markdown/podman-network-prune.1.md
  docs/source/markdown/podman-system-prune.1.md
  docs/source/markdown/podman-volume-prune.1.md
Labels: lgtm, approved, 4.0

#13035 CI:DOCS: Add troublshooting info on podman machine remove followed by podman machine init
  troubleshooting.md
Labels: lgtm, approved, 4.0

#13042 network create: allow multiple subnets
  cmd/podman/networks/create.go
  docs/source/markdown/podman-network-create.1.md
  pkg/domain/entities/network.go
  test/e2e/network_create_test.go
Labels: lgtm, approved, 4.0

#13049 System tests: emergency skip of checkpoint tests
  test/system/520-checkpoint.bats
Labels: lgtm, approved, do-not-merge/hold

#13050 [CI:DOCS] github: label issues based on os
  .github/issue-labeler.yml
  .github/workflows/issue-labeler.yml
Labels: lgtm, approved

#13052 [CI:DOCS] github: label issues based on os fix regex
  .github/issue-labeler.yml
Labels: lgtm, approved

#13048 [CI:DOCS] Cirrus: Fix get_ci_vm.sh initial setup
  hack/get_ci_vm.sh
Labels: lgtm, approved

#12712 volume: add support for non-volatile `upperdir`,`workdir` for overlay volumes
  docs/source/markdown/podman-run.1.md
  libpod/container_internal_linux.go
  pkg/util/mountOpts.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, 4.0

#13067 Fix Cirrus destination branch
  .cirrus.yml
Labels: lgtm, approved

#13061 ignition, machine: delegate `cpu,io,memory,pid cgroup controllers` to machine's non-root users.
  pkg/machine/ignition.go
Labels: lgtm, approved

#13068 [CI:DOCS] Bump to v4.0.0-RC3
  RELEASE_NOTES.md
Labels: lgtm, approved

#13078 [CI:DOCS] Adapt podman images ls filters docs to be aligned with prune filters docs
  docs/source/markdown/podman-images.1.md
Labels: lgtm, approved

#13091 CI: fix nightly builds
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved
