Repository containers/podman, pull requests merged in 2022-11, with the labels that each got.

#16356 [v4.1.1-rhel] Cirrus: Remove build-push tasks
  .cirrus.yml
Labels: approved, release-note-none

#16349 Upgrade GitHub actions packages from v2 to v3
  .github/workflows/check_cirrus_cron.yml
Labels: lgtm, approved, release-note-none

#16372 version bump to 4.4.0-dev
  version/version.go
Labels: lgtm, approved, release-note-none

#16373 [v4.0-rhel] Skip failing pull-arch test
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved, release-note-none

#16382 [v4.1.1-rhel] Skip failing pull-arch test
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved, release-note-none

#16375 [CI:DOCS] offer advice on installing test dependencies
  CONTRIBUTING.md
  test/README.md
Labels: lgtm, approved, release-note

#16384 buildah bud tests: better handling of remote
  test/buildah-bud/apply-podman-deltas
  test/buildah-bud/buildah-tests.diff
Labels: lgtm, approved, release-note-none

#16257 Add Windows Smoke Testing
  .cirrus.yml
  contrib/cirrus/win-podman-machine-verify.ps1
Labels: lgtm, approved, release-note-none

#15091 Add podman kube apply command
  cmd/podman/kube/apply.go
  docs/source/markdown/podman-kube-apply.1.md
  docs/source/markdown/podman-kube-generate.1.md
  docs/source/markdown/podman-kube.1.md
  pkg/api/handlers/libpod/kube.go
  pkg/api/server/register_kube.go
  pkg/bindings/kube/kube.go
  pkg/bindings/kube/types.go
  pkg/bindings/kube/types_apply_options.go
  pkg/domain/entities/apply.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/apply.go
  pkg/domain/infra/tunnel/kube.go
  pkg/domain/infra/tunnel/play.go
  pkg/k8s.io/api/core/v1/types.go
  test/minikube/001-kube.bats
  test/minikube/helpers.bash
Labels: lgtm, approved, release-note, kind/api-change

#15760 Cirrus: Update CI VM images to F37beta
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#16374 [CI:DOCS] Fix documentation on read-only-tmpfs
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note-none

#16401 [CI:BUILD] Cirrus: Never skip running Windows Cross task
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#15359 Add --insecure flag to podman manifest inspect for Docker compatibility
  cmd/podman/manifest/inspect.go
  docs/source/markdown/.gitignore
  docs/source/markdown/options/tls-verify.md
  docs/source/markdown/podman-manifest-inspect.1.md.in
  pkg/api/handlers/libpod/manifests.go
  pkg/api/server/register_manifest.go
  pkg/bindings/manifests/manifests.go
  pkg/bindings/manifests/types.go
  pkg/bindings/manifests/types_inspect_options.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/manifest.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/tunnel/manifest.go
  test/system/010-images.bats
  test/system/012-manifest.bats
  test/system/150-login.bats
Labels: lgtm, approved, release-note, kind/api-change

#16394 remove container/pod id file along with container/pod
  cmd/podman/containers/rm.go
  cmd/podman/pods/create.go
  cmd/podman/pods/rm.go
  docs/source/markdown/options/cidfile.write.md
  docs/source/markdown/podman-pod-rm.1.md.in
  docs/source/markdown/podman-rm.1.md.in
  libpod/runtime_ctr.go
  test/system/030-run.bats
  test/system/200-pod.bats
Labels: lgtm, approved, release-note

#16399 test/e2e: do not use apk in builds
  test/e2e/images_test.go
  test/e2e/play_build_test.go
  test/e2e/prune_test.go
Labels: approved, release-note-none

#16396 Cirrus: Synchronize windows image
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#16377 runtime: add check for valid pod systemd cgroup
  libpod/runtime_ctr.go
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved, release-note-none

#16346 [CI:DOCS] troubleshooting: document keep-id options
  troubleshooting.md
Labels: lgtm, approved, release-note-none

#16416 [v4.2.0-rhel] Bump c/storage to include #1423
  go.mod
  go.sum
  vendor/github.com/containers/storage/drivers/overlay/idmapped_utils.go
  vendor/modules.txt
Labels: lgtm, approved, do-not-merge/hold, release-note-none

#15591 Upgrade go-criu to v6
  go.mod
  go.sum
  libpod/container_internal_common.go
  pkg/checkpoint/crutils/checkpoint_restore_utils.go
  pkg/criu/criu_linux.go
  test/e2e/checkpoint_test.go
  vendor/github.com/checkpoint-restore/go-criu/v5/.gitignore
  vendor/github.com/checkpoint-restore/go-criu/v5/Makefile
  vendor/github.com/checkpoint-restore/go-criu/v5/stats/types.go
  vendor/github.com/checkpoint-restore/go-criu/v6/.gitignore
  vendor/github.com/checkpoint-restore/go-criu/v6/.golangci.yml
  vendor/github.com/checkpoint-restore/go-criu/v6/LICENSE
  vendor/github.com/checkpoint-restore/go-criu/v6/Makefile
  vendor/github.com/checkpoint-restore/go-criu/v6/README.md
  vendor/github.com/checkpoint-restore/go-criu/v6/features.go
  vendor/github.com/checkpoint-restore/go-criu/v6/main.go
  vendor/github.com/checkpoint-restore/go-criu/v6/notify.go
  vendor/github.com/checkpoint-restore/go-criu/v6/rpc/rpc.pb.go
  vendor/github.com/checkpoint-restore/go-criu/v6/rpc/rpc.proto
  vendor/github.com/checkpoint-restore/go-criu/v6/stats/stats.pb.go
  vendor/github.com/checkpoint-restore/go-criu/v6/stats/stats.proto
  vendor/github.com/checkpoint-restore/go-criu/v6/stats/types.go
  vendor/github.com/checkpoint-restore/go-criu/v6/stats/utils.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#16422 Makefile: don't install to tmpfiles.d on FreeBSD
  Makefile
Labels: lgtm, approved, release-note-none

#16410 Run codespell on code
  Makefile
  contrib/cirrus/CIModes.md
  contrib/podmanimage/README.md
  pkg/signal/signal_common_test.go
  pkg/specgenutil/volumes_test.go
  pkg/systemd/parser/unitfile.go
Labels: lgtm, approved, release-note-none

#16251 [v4.2.0-rhel] libpod: Remove 100msec delay during shutdown
  libpod/runtime.go
Labels: approved, do-not-merge/hold, release-note-none

#16429 [v4.2.0-rhel] FIXME: Temporary workaround for ubi8 CI breakage
  test/buildah-bud/run-buildah-bud-tests
  test/buildah-bud/safeimage-patch.diff
Labels: lgtm, approved, release-note-none

#16418 Fix compat build API returning two JSON objects at once
  pkg/api/handlers/compat/images_build.go
  test/python/docker/compat/test_images.py
Labels: lgtm, approved, release-note, kind/api-change

#16433 fix incorrect systemd booted check
  utils/utils.go
Labels: lgtm, approved, release-note

#16435 Fix test flakes caused by improper podman-logs
  test/e2e/create_staticip_test.go
  test/e2e/create_test.go
Labels: lgtm, approved, kind/test-flake, release-note-none

#16420 kube play: update the handling of PersistentVolumeClaim
  cmd/podman/kube/down.go
  cmd/podman/kube/play.go
  docs/source/markdown/podman-kube-down.1.md
  docs/source/markdown/podman-kube-play.1.md.in
  pkg/api/handlers/libpod/kube.go
  pkg/api/server/register_kube.go
  pkg/bindings/kube/kube.go
  pkg/bindings/kube/types.go
  pkg/bindings/kube/types_down_options.go
  pkg/bindings/kube/types_play_options.go
  pkg/bindings/play/play.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/tunnel/kube.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note, kind/api-change

#16452 Skip test if `--events-backend` is necessary with podman-remote
  test/system/035-logs.bats
Labels: lgtm, approved, release-note-none

#16459 [v4.3] Bump c/image to released v5.23.1
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#14903 [CI:DOCS] Add performance tutorial
  docs/tutorials/README.md
  docs/tutorials/performance.md
Labels: lgtm, approved, release-note-none

#16458 [CI:DOCS] Fix build targets in build_osx.md.
  build_osx.md
Labels: lgtm, approved, release-note-none

#16465 Bump to v4.3.1
  RELEASE_NOTES.md
  version/version.go
Labels: lgtm, approved, release-note-none

#16471 libpod: Add FreeBSD support in packageVersion
  libpod/util.go
Labels: lgtm, approved, release-note-none

#16414 [CI:BUILD] Fix cirrus cirrus-cron GHA workflow scripts, add checks, and tests
  .github/actions/check_cirrus_cron/cron_failures.sh
  .github/actions/check_cirrus_cron/lib.sh
  .github/actions/check_cirrus_cron/make_email_body.sh
  .github/actions/check_cirrus_cron/rerun_failed_tasks.sh
  .github/actions/check_cirrus_cron/test.sh
  .github/workflows/check_cirrus_cron.yml
  .github/workflows/rerun_cirrus_cron.yml
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, release-note-none

#16141 Add pasta networking mode
  cmd/podman/common/netflags.go
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  docs/source/markdown/options/network.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  docs/source/markdown/podman.1.md
  hack/xref-helpmsgs-manpages
  libpod/networking_common.go
  libpod/networking_linux.go
  libpod/networking_pasta_linux.go
  pkg/api/handlers/compat/containers_create.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/abi/play.go
  pkg/namespaces/namespaces.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/oci_linux.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/namespaces.go
  pkg/specgen/namespaces_test.go
  pkg/specgen/pod_validate.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  test/system/001-basic.bats
  test/system/030-run.bats
  test/system/120-load.bats
  test/system/150-login.bats
  test/system/200-pod.bats
  test/system/251-system-service.bats
  test/system/271-tcp-cors-server.bats
  test/system/272-system-connection.bats
  test/system/500-networking.bats
  test/system/505-networking-pasta.bats
  test/system/520-checkpoint.bats
  test/system/700-play.bats
  test/system/900-ssh.bats
  test/system/helpers.bash
  test/system/helpers.network.bash
  test/system/helpers.t
  test/upgrade/helpers.bash
Labels: lgtm, approved, release-note, kind/api-change

#16479 [skip-ci] GHA: Fix typo
  .github/workflows/check_cirrus_cron.yml
Labels: release-note-none

#16480 [CI:DOCS] GHA: Fix typo setting output parameter
  .github/actions/check_cirrus_cron/cron_failures.sh
Labels: lgtm, release-note-none

#16481 [CI:DOCS] Add release keys to README
  README.md
Labels: lgtm, approved, release-note-none

#16478 [CI:DOCS] New tool, docs/version-check
  contrib/cirrus/runner.sh
  docs/tutorials/mac_win_client.md
  docs/tutorials/podman-for-windows.md
  docs/version-check
Labels: lgtm, approved, release-note-none

#16482 [CI:DOCS] GHA: Fix make_email-body script reference
  .github/workflows/check_cirrus_cron.yml
Labels: lgtm, approved, release-note-none

#16485 [CI:DOCS] Update Main: Release notes for 4.3.1
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#16484 [skip-ci] GHA: Fix undefined secret env. var.
  .github/workflows/rerun_cirrus_cron.yml
Labels: lgtm, approved, release-note-none

#16388 [CI:DOCS] Man pages: refactor common options: --security-opt
  docs/source/markdown/options/security-opt.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#16466 Allow podman manifest push --purge|-p as alias for --rm
  cmd/podman/manifest/push.go
  cmd/podman/utils/alias.go
  test/e2e/manifest_test.go
Labels: lgtm, approved, release-note

#16430 [skip ci] Formalize our compare-against-docker mechanism
  hack/xref-docker-options
Labels: lgtm, approved, release-note-none

#16488 [skip-ci] Disable gitlab task
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#16464 Add podman system events alias to podman events
  cmd/podman/system/events.go
  commands-demo.md
  docs/source/markdown/links/podman-system-events.1
  docs/source/markdown/podman-events.1.md
  docs/source/markdown/podman-system.1.md
  test/e2e/search_test.go
  test/system/090-events.bats
  test/system/610-format.bats
  transfer.md
Labels: lgtm, approved, release-note

#16467 Add podman volume create -d short option for driver
  cmd/podman/volumes/create.go
  docs/source/markdown/podman-volume-create.1.md
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note

#16462 Add hidden podman manifest inspect -v option
  cmd/podman/manifest/inspect.go
  test/system/012-manifest.bats
Labels: lgtm, approved, release-note-none

#16328 fix connection usage with containers.conf
  cmd/podman/root.go
  test/e2e/system_connection_test.go
Labels: lgtm, approved, release-note

#16498 podman cp: fix copying with "." suffix
  cmd/podman/containers/cp.go
  test/system/065-cp.bats
Labels: lgtm, approved, release-note

#16496 pkginstaller: bump Qemu to version 7.1.0
  contrib/pkginstaller/Makefile
Labels: lgtm, approved, release-note-none

#16489 [CI:DOCS] docs: deprecate pasta network name
  docs/source/markdown/options/network.md
  docs/source/markdown/podman-network-create.1.md
Labels: lgtm, approved, release-note

#16504 libpod: treat ESRCH from /proc/PID/cgroup as ENOENT
  libpod/container.go
Labels: lgtm, approved, release-note-none

#16507 Fix more podman-logs flakes
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#16380 compat,build: handle `docker's` preconfigured `cacheTo`,`cacheFrom`
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: lgtm, approved, release-note, kind/api-change

#16522 e2e tests: fix restart race
  test/e2e/restart_test.go
Labels: lgtm, approved, release-note-none

#16506 healthcheck system tests: try to fix flake
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note-none

#16503 [skip-ci] Reuse workflows
  .github/workflows/check_cirrus_cron.yml
  .github/workflows/rerun_cirrus_cron.yml
Labels: release-note-none

#16521 [release-v4.3] compat,build: handle docker's preconfigured `cacheTo`,`cacheFrom`
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: lgtm, approved, release-note, kind/api-change

#16186 Add --quiet and --no-info flags to podman machine start
  cmd/podman/machine/start.go
  docs/source/markdown/podman-machine-start.1.md
  pkg/machine/config.go
  pkg/machine/e2e/config_start_test.go
  pkg/machine/e2e/start_test.go
  pkg/machine/e2e/stop_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#16513 remove pod if creation has failed
  pkg/specgen/generate/pod_create.go
  test/system/200-pod.bats
Labels: lgtm, approved, release-note

#16518 Fix podman --noout to suppress all output
  cmd/podman/root.go
  pkg/domain/entities/engine.go
  test/system/001-basic.bats
Labels: lgtm, approved, release-note

#16535 [v4.3] More log-flake work
  test/e2e/logs_test.go
  test/system/200-pod.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#16539 [CI:DOCS] Add more documentation on UID/GID Mappings with --userns=keep-id
  docs/source/markdown/options/userns.container.md
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note

#16526 fix port issues for CONTAINER_HOST
  pkg/bindings/connection.go
  test/e2e/system_connection_test.go
Labels: lgtm, approved, release-note

#16514 Removing the RawInput from the API output
  libpod/runtime_ctr.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/reports/containers.go
  pkg/domain/infra/tunnel/containers.go
Labels: lgtm, approved, release-note-none

#16439 system tests: fix a system test in proxy environment
  test/system/070-build.bats
Labels: lgtm, approved, release-note-none

#14946 podman-remote connect tcpURL with a 'CONTAINER_PROXY'
  docs/source/markdown/podman-remote.1.md
  go.mod
  pkg/bindings/connection.go
  vendor/golang.org/x/net/internal/socks/client.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/golang.org/x/net/proxy/dial.go
  vendor/golang.org/x/net/proxy/direct.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/proxy/proxy.go
  vendor/golang.org/x/net/proxy/socks5.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note

#16546 [CI:DOCS] Modify man page of "--pids-limit" option to correct a default value.
  docs/source/markdown/options/pids-limit.md
Labels: approved, release-note-none

#16299 quadlet: Warn in generator if using short names
  cmd/quadlet/main.go
  cmd/quadlet/main_test.go
  test/e2e/quadlet/annotation.container
  test/e2e/quadlet/basepodman.container
  test/e2e/quadlet/basic.container
  test/e2e/quadlet/capabilities.container
  test/e2e/quadlet/env.container
  test/e2e/quadlet/escapes.container
  test/e2e/quadlet/exec.container
  test/e2e/quadlet/image.container
  test/e2e/quadlet/install.container
  test/e2e/quadlet/label.container
  test/e2e/quadlet/name.container
  test/e2e/quadlet/noremapuser.container
  test/e2e/quadlet/noremapuser2.container
  test/e2e/quadlet/notify.container
  test/e2e/quadlet/other-sections.container
  test/e2e/quadlet/podmanargs.container
  test/e2e/quadlet/ports.container
  test/e2e/quadlet/ports_ipv6.container
  test/e2e/quadlet/shortname.container
  test/e2e/quadlet/socketactivated.container
  test/e2e/quadlet/timezone.container
  test/e2e/quadlet/user-host.container
  test/e2e/quadlet/user-root1.container
  test/e2e/quadlet/user-root2.container
  test/e2e/quadlet/user.container
  test/e2e/quadlet/volume.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#16559 [CI:DOCS] Fix spelling and typos
  pkg/api/server/register_images.go
  pkg/api/server/register_networks.go
  pkg/auth/auth.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/checkpoint/crutils/checkpoint_restore_utils.go
  pkg/env/env_windows.go
  pkg/k8s.io/api/apps/v1/types.go
  pkg/k8s.io/api/core/v1/annotation_key_constants.go
  pkg/k8s.io/api/core/v1/types.go
  pkg/machine/fcos.go
  pkg/machine/pull.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/util_windows.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/namespaces.go
  pkg/systemd/parser/split.go
  pkg/util/utils.go
  troubleshooting.md
Labels: lgtm, approved, release-note-none

#16560 Fix language. Mostly spelling a -> an
  docs/source/markdown/podman-image-unmount.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-run.1.md.in
  libpod/container.go
  libpod/container_validate.go
  libpod/networking_common.go
  libpod/networking_linux.go
  libpod/networking_unsupported.go
  libpod/options.go
  libpod/runtime.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/network.go
  pkg/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  pkg/specgen/generate/ports.go
  pkg/specgen/namespaces.go
  pkg/specgen/volumes.go
  pkg/systemd/generate/containers.go
  test/e2e/checkpoint_test.go
  test/e2e/run_userns_test.go
  test/python/docker/compat/common.py
  test/python/docker/compat/test_containers.py
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved, release-note-none

#16566 E2E Tests: change the registry for the search test to avoid authentication
  test/e2e/search_test.go
Labels: lgtm, approved, release-note-none

#16555 shell completion: fix hard coded network drivers
  cmd/podman/common/completion.go
Labels: lgtm, approved, release-note

#16571 specgen: honor user namespace value
  pkg/specgen/generate/container_create.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved, release-note-none

#16570 ssh system test: skip until it becomes a test
  test/system/900-ssh.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#16577 [CI:DOCS] Migrate OSX Cross to M1
  .cirrus.yml
  Makefile
Labels: lgtm, approved, release-note-none

#16578 Update vendor of containers/(buildah, common, storage, image)
  go.mod
  go.sum
  vendor/github.com/containerd/stargz-snapshotter/estargz/build.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/estargz.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/gzip.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/testutil.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/types.go
  vendor/github.com/containers/buildah/chroot/run_linux.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/mount_unsupported.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/internal/parse/parse.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/aufs/aufs.go
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/devmapper/driver.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/drivers/windows/windows.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/changes_other.go
  vendor/github.com/containers/storage/pkg/ioutils/fswriters.go
  vendor/github.com/containers/storage/pkg/system/stat_freebsd.go
  vendor/github.com/containers/storage/pkg/system/stat_linux.go
  vendor/github.com/containers/storage/pkg/system/stat_unix.go
  vendor/github.com/containers/storage/pkg/system/stat_windows.go
  vendor/github.com/containers/storage/storage.conf
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/containers/storage/utils.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#16563 Quadlet: Add support for running podman kube play via .kube files
  cmd/quadlet/main.go
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.kube
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#16573 [skip-ci] GHA: Fix cirrus re-run workflow for other repos.
  .github/workflows/rerun_cirrus_cron.yml
Labels: lgtm, approved, release-note-none

#16619 pkg/trust: Take the default policy path from c/common/pkg/config
  pkg/trust/policy.go
Labels: lgtm, approved, release-note-none

#16622 [CI:DOCS] Fix manpage emphasis
  docs/source/markdown/podman-volume-create.1.md
Labels: lgtm, approved, release-note-none

#16633 libpod: Use O_CLOEXEC for descriptors returned by (*Container).openDi…
  libpod/container_internal_freebsd.go
Labels: lgtm, approved, release-note-none

#16588 [release-v4.3] vendor: bump buildah to `v1.28.1`
  go.mod
  go.sum
  test/buildah-bud/run-buildah-bud-tests
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#16630 [CI:DOCS] Fix MD for Troubleshooting Guide link in GitHub Issue Template
  .github/ISSUE_TEMPLATE.md
Labels: lgtm, approved, release-note-none

#16613 Add validate-in-container target
  Makefile
Labels: lgtm, approved, release-note-none

#16607 container restart: clean up healthcheck state
  libpod/container_internal.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#16457 podman machine: Propagate SSL_CERT_FILE and SSL_CERT_DIR to systemd e…
  pkg/machine/ignition.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_test.go
Labels: lgtm, approved, release-note

#16329 Add encryption decryption feature
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  cmd/podman/images/pull.go
  cmd/podman/images/push.go
  docs/source/markdown/options/decryption-key.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pull.1.md.in
  docs/source/markdown/podman-push.1.md.in
  docs/source/markdown/podman-run.1.md.in
  pkg/domain/entities/images.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  pkg/util/utils.go
  test/e2e/pull_test.go
  test/e2e/push_test.go
  test/e2e/run_test.go
  test/utils/common_function_test.go
  test/utils/utils.go
Labels: lgtm, approved, release-note

#16580 specgen: support CDI devices from containers.conf
  go.mod
  go.sum
  pkg/specgen/generate/config_linux.go
  test/e2e/run_device_test.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/types/network.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_local.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note

#16645 libpod: Add checks to avoid nil pointer dereference if network setup fails
  libpod/container_internal_freebsd.go
Labels: lgtm, approved, release-note-none

#16637 Kube Play: fix the handling of the optional field of SecretVolumeSource
  pkg/specgen/generate/kube/volume.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#16639 Update Vendor of containers/(common, image, buildah)
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/letsencrypt/boulder/core/objects.go
  vendor/github.com/letsencrypt/boulder/core/util.go
  vendor/github.com/letsencrypt/boulder/errors/errors.go
  vendor/github.com/letsencrypt/boulder/features/featureflag_string.go
  vendor/github.com/letsencrypt/boulder/features/features.go
  vendor/github.com/letsencrypt/boulder/sa/proto/sa.pb.go
  vendor/github.com/letsencrypt/boulder/sa/proto/sa.proto
  vendor/github.com/letsencrypt/boulder/sa/proto/sa_grpc.pb.go
  vendor/go.opencensus.io/Makefile
  vendor/go.opencensus.io/opencensus.go
  vendor/go.opencensus.io/trace/doc.go
  vendor/go.opencensus.io/trace/lrumap.go
  vendor/go.opencensus.io/trace/trace_go11.go
  vendor/go.opencensus.io/trace/trace_nongo11.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note

#16646 [v4.2.0-rhel] container restart: clean up healthcheck state
  libpod/container_internal.go
  test/e2e/search_test.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#16609 Documenting Hyper-V QEMU acceleration settings
  pkg/machine/qemu/options_windows_amd64.go
Labels: lgtm, approved, release-note-none

#16628 Fix swapped NetInput/-Output stats
  libpod/stats_freebsd.go
  libpod/stats_linux.go
Labels: lgtm, approved, release-note

#16653 [CI:DOCS] Add information on metrics to the `network create` docs
  docs/source/markdown/podman-network-create.1.md
Labels: lgtm, approved, release-note-none

#16651 Run codespell on code
  .github/actions/check_cirrus_cron/test.sh
  Makefile
  cmd/quadlet/main.go
  pkg/api/handlers/compat/images_build.go
  pkg/machine/config.go
  test/system/001-basic.bats
Labels: lgtm, approved, release-note-none, kind/api-change

#16672 [CI:BUILD] copr: enable podman-restart.service on rpm installation
  podman.spec.rpkg
Labels: lgtm, approved, release-note-none

#16659 Allow manual override of install location in Windows installer
  contrib/win-installer/burn.wxs
  contrib/win-installer/podman.wxs
Labels: lgtm, approved, release-note

#16655 [CI:DOCS] Expand and fix checkpoint restore documentation
  pkg/api/server/register_containers.go
Labels: lgtm, approved, release-note, kind/api-change

#16671 [CI:docs] hack/podmansnoop: print arguments
  hack/podmansnoop
Labels: lgtm, approved, release-note-none

#16686 [CI:DOCS] OWNERS: add Jason T. Greene
  OWNERS
Labels: lgtm, approved, release-note-none

#13909 Add support for startup healthchecks
  cmd/podman/common/create.go
  cmd/podman/healthcheck/run.go
  docs/source/markdown/options/health-startup-cmd.md
  docs/source/markdown/options/health-startup-interval.md
  docs/source/markdown/options/health-startup-retries.md
  docs/source/markdown/options/health-startup-success.md
  docs/source/markdown/options/health-startup-timeout.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  libpod/container.go
  libpod/container_config.go
  libpod/container_internal.go
  libpod/container_validate.go
  libpod/define/healthchecks.go
  libpod/healthcheck.go
  libpod/healthcheck_linux.go
  libpod/options.go
  pkg/api/handlers/libpod/healthcheck.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/healthcheck.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved, release-note, kind/api-change
