Repository containers/podman, pull requests merged in 2022-02, with the labels that each got.

#13064 Fix use of infra image to clarify default
  cmd/podman/pods/create.go
  go.mod
  go.sum
  pkg/specgen/generate/pod_create.go
  test/system/200-pod.bats
  vendor/github.com/containerd/stargz-snapshotter/estargz/estargz.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/go.mod
  vendor/github.com/containerd/stargz-snapshotter/estargz/go.sum
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/fsdiff.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/chunked/compression.go
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/huffman_code.go
  vendor/github.com/klauspost/compress/flate/token.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/decodeheader.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_amd64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_arm64.s
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_asm.go
  vendor/github.com/klauspost/compress/zstd/internal/xxhash/xxhash_other.go
  vendor/modules.txt
Labels: lgtm, approved

#13100 [CI:DOCS] Add notes to "--oom-kill-disable" not supported on cgroups V2
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#13101 libpod: report slirp4netns network stats
  docs/source/markdown/podman-stats.1.md
  libpod/networking_linux.go
  test/e2e/stats_test.go
Labels: lgtm, approved

#12814 Cirrus: Add e2e task w/ upstream netavark
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, 4.0

#13085 play kube envVar.valueFrom.fieldRef
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#13066 Clarify remote client means Mac and Windows
  docs/source/markdown/podman-attach.1.md
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-cleanup.1.md
  docs/source/markdown/podman-container-diff.1.md
  docs/source/markdown/podman-container-inspect.1.md
  docs/source/markdown/podman-container-restore.1.md
  docs/source/markdown/podman-container-runlabel.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-diff.1.md
  docs/source/markdown/podman-exec.1.md
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-image-scp.1.md
  docs/source/markdown/podman-image-sign.1.md
  docs/source/markdown/podman-image-trust.1.md
  docs/source/markdown/podman-init.1.md
  docs/source/markdown/podman-inspect.1.md
  docs/source/markdown/podman-kill.1.md
  docs/source/markdown/podman-load.1.md
  docs/source/markdown/podman-login.1.md
  docs/source/markdown/podman-logs.1.md
  docs/source/markdown/podman-manifest-add.1.md
  docs/source/markdown/podman-manifest-push.1.md
  docs/source/markdown/podman-mount.1.md
  docs/source/markdown/podman-network-reload.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-pod-inspect.1.md
  docs/source/markdown/podman-pod-kill.1.md
  docs/source/markdown/podman-pod-logs.1.md
  docs/source/markdown/podman-pod-pause.1.md
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman-pod-restart.1.md
  docs/source/markdown/podman-pod-rm.1.md
  docs/source/markdown/podman-pod-start.1.md
  docs/source/markdown/podman-pod-stats.1.md
  docs/source/markdown/podman-pod-stop.1.md
  docs/source/markdown/podman-pod-top.1.md
  docs/source/markdown/podman-pod-unpause.1.md
  docs/source/markdown/podman-port.1.md
  docs/source/markdown/podman-ps.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-push.1.md
  docs/source/markdown/podman-restart.1.md
  docs/source/markdown/podman-rm.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-start.1.md
  docs/source/markdown/podman-stats.1.md
  docs/source/markdown/podman-stop.1.md
  docs/source/markdown/podman-top.1.md
  docs/source/markdown/podman-unmount.1.md
  docs/source/markdown/podman-wait.1.md
  docs/source/markdown/podman.1.md
Labels: lgtm, approved, 4.0

#13106 Cirrus: Add [CI:BUILD] magic that only builds
  .cirrus.yml
Labels: lgtm, approved

#13110 libpod: enforce noexec,nosuid,nodev for /dev/shm
  libpod/container_internal_linux.go
  test/e2e/run_test.go
Labels: lgtm, approved

#13107 Fix size to match Docker selection
  pkg/specgenutil/specgen.go
  test/e2e/containers_conf_test.go
  vendor/github.com/docker/docker/opts/address_pools.go
  vendor/github.com/docker/docker/opts/env.go
  vendor/github.com/docker/docker/opts/hosts.go
  vendor/github.com/docker/docker/opts/hosts_unix.go
  vendor/github.com/docker/docker/opts/hosts_windows.go
  vendor/github.com/docker/docker/opts/ip.go
  vendor/github.com/docker/docker/opts/opts.go
  vendor/github.com/docker/docker/opts/quotedstring.go
  vendor/github.com/docker/docker/opts/runtime.go
  vendor/github.com/docker/docker/opts/ulimit.go
  vendor/github.com/docker/libnetwork/ipamutils/utils.go
  vendor/modules.txt
Labels: lgtm, approved

#13079 [CI:DOCS] Add a hello world image to quay.io
  contrib/helloimage/Containerfile
  contrib/helloimage/README.md
  contrib/helloimage/podman_hello_world.bash
Labels: lgtm, approved, 4.1

#13104 [CI:DOCS] docs: clarify rootless net stats
  docs/source/markdown/podman-stats.1.md
Labels: lgtm, approved, 4.0

#13089 Only change network fields if they were actually changed by the user
  cmd/podman/common/netflags.go
  pkg/resolvconf/resolvconf.go
  test/system/500-networking.bats
Labels: lgtm, approved, 4.0

#13118 hack/bats: fix broken usage message
  hack/bats
Labels: lgtm, approved

#12859 Enable e2e tests with netavark
  Makefile
  cmd/podman/networks/list.go
  test/e2e/common_test.go
  test/e2e/create_staticip_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/create_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/login_logout_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_ps_test.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_staticip_test.go
  test/e2e/search_test.go
  test/utils/utils.go
Labels: lgtm, approved, 4.0

#13120 pkg/bindings/images.Build(): slashify "dockerfile" values, too
  pkg/bindings/images/build.go
Labels: lgtm, approved, 4.0

#13116 system prune: remove all networks
  cmd/podman/system/reset.go
  docs/source/markdown/podman-system-reset.1.md
  libpod/reset.go
  test/e2e/system_reset_test.go
Labels: lgtm, approved, 4.0

#13121 play kube envVar.valueFrom.resourceFieldRef
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
Labels: lgtm, approved, 4.0

#13117 Revert "Move each search dns to its own line"
  pkg/resolvconf/resolvconf.go
  test/system/500-networking.bats
Labels: lgtm, approved, 4.0

#13047 podman image scp syntax correction
  cmd/podman/images/scp.go
  cmd/podman/images/scp_utils.go
Labels: lgtm, approved, 4.0

#13130 [v4.0] pkg/bindings/images.Build(): slashify "dockerfile" values, too
  pkg/bindings/images/build.go
Labels: lgtm, approved

#13024 Cirrus: Add netavark/aardvark system test task
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup_environment.sh
  test/system/005-info.bats
  test/system/500-networking.bats
  test/system/README.md
  test/system/helpers.bash
Labels: lgtm, approved, 4.0

#13134 System tests: revert emergency skip of checkpoint tests
  test/system/520-checkpoint.bats
Labels: lgtm, approved

#12930 Podman pod create --share-parent vs --share=cgroup
  cmd/podman/pods/create.go
  docs/source/markdown/podman-pod-create.1.md
  libpod/options.go
  pkg/api/handlers/libpod/pods.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/namespaces.go
  pkg/specgen/podspecgen.go
  test/e2e/pod_create_test.go
  test/system/200-pod.bats
Labels: lgtm, approved, 4.0

#13143 append podman dns search domain
  libpod/container_internal_linux.go
  test/system/500-networking.bats
Labels: lgtm, approved

#13146 Bump github.com/buger/goterm from 1.0.1 to 1.0.4
  go.mod
  go.sum
  vendor/github.com/buger/goterm/.gitignore
  vendor/github.com/buger/goterm/terminal.go
  vendor/github.com/buger/goterm/terminal_nosysioctl.go
  vendor/github.com/buger/goterm/terminal_sysioctl.go
  vendor/github.com/buger/goterm/terminal_windows.go
  vendor/modules.txt
Labels: lgtm, approved

#13147 Cirrus: Expand netavark testing to include rootless
  .cirrus.yml
Labels: lgtm, approved

#13155 Fix: Do not print error when parsing journald log fails
  libpod/container_log_linux.go
Labels: lgtm, approved

#13129 healthcheck, libpod: Read healthcheck event output from os pipe
  libpod/healthcheck.go
  test/e2e/healthcheck_run_test.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved

#13158 Cleanup: remove obsolete/misleading bug workaround
  test/system/220-healthcheck.bats
Labels: lgtm, approved

#13156 compat: endpoint `/build` must set header `content type` as `application/json` in response header.
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: lgtm, approved, 4.0

#13159 move rootless netns slirp4netns process to systemd user.slice
  libpod/networking_linux.go
  test/system/250-systemd.bats
  utils/utils.go
Labels: lgtm, approved

#13170 idmap should be able to be specified along with other options
  pkg/util/mountOpts.go
Labels: lgtm, approved, 4.0

#13142 [CI:DOCS] Add schema for ImageCreate 200 response.
  pkg/api/server/register_images.go
Labels: lgtm, approved

#13182 [CI:DOCS] Show API doc for several versions
  RELEASE_PROCESS.md
  docs/source/Reference.rst
  docs/source/_static/api.html
Labels: lgtm, approved

#13184 Do not set the network config dir to cni plugin dir
  cmd/podman/registry/config.go
Labels: lgtm, approved

#13177 [4.0] idmap should be able to be specified along with other options
  pkg/util/mountOpts.go
Labels: lgtm, approved

#13192 Bump c/common to v0.47.4
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libnetwork/cni/cni_conversion.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/internal/util/validate.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#13189 Add version guard to libpod API endpoints
  pkg/api/handlers/libpod/networks.go
  pkg/bindings/test/networks_test.go
  test/apiv2/35-networks.at
  test/apiv2/test-apiv2
Labels: lgtm, approved, kind/bug, needs-backport, HTTP API, 4.0

#13193 [v4.0] Bump c/common to v0.47.4
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libnetwork/cni/cni_conversion.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/internal/util/validate.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.gometalinter.json
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/.travis.yml
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/docker-bake.hcl
  vendor/github.com/docker/distribution/manifests.go
  vendor/github.com/docker/distribution/reference/normalize.go
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/registry/api/errcode/errors.go
  vendor/github.com/docker/distribution/registry/api/v2/urls.go
  vendor/github.com/docker/distribution/registry/client/auth/challenge/authchallenge.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/vendor.conf
  vendor/modules.txt
Labels: lgtm, approved, do-not-merge/hold

#13195 [4.0] Add version guard to libpod API endpoints
  pkg/api/handlers/libpod/networks.go
  pkg/bindings/test/networks_test.go
  test/apiv2/35-networks.at
  test/apiv2/test-apiv2
Labels: lgtm, approved, kind/bug, HTTP API, 4.0

#13191 Modify /etc/resolv.conf when connecting/disconnecting
  libpod/container_internal_linux.go
  libpod/networking_linux.go
  test/e2e/network_connect_disconnect_test.go
Labels: lgtm, approved

#13197 [CI:DOCS] troubleshooting: add doc for ssh into a container
  troubleshooting.md
Labels: lgtm, approved

#13202 Make the hello image leaner
  contrib/helloimage/Containerfile
  contrib/helloimage/README.md
  contrib/helloimage/podman_hello_world.bash
  contrib/helloimage/podman_hello_world.c
Labels: lgtm, approved, 4.1

#13205 Add 409 response to swagger godoc
  pkg/api/server/register_networks.go
Labels: lgtm, approved, kind/documentation, HTTP API

#13210 Make sure building with relative paths work correctly.
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: lgtm, approved

#13203 Bump to v4.0.0-RC5
  RELEASE_NOTES.md
  RELEASE_PROCESS.md
  cmd/podman/pods/create.go
  cmd/podman/registry/config.go
  docs/source/Reference.rst
  docs/source/_static/api.html
  docs/source/markdown/podman-pod-create.1.md
  go.mod
  go.sum
  libpod/container_internal_linux.go
  libpod/container_log_linux.go
  libpod/healthcheck.go
  libpod/networking_linux.go
  libpod/oci_conmon_exec_linux.go
  libpod/options.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/server/register_images.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/namespaces.go
  pkg/specgen/podspecgen.go
  test/apiv2/01-basic.at
  test/apiv2/10-images.at
  test/e2e/healthcheck_run_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/pod_create_test.go
  test/system/200-pod.bats
  test/system/220-healthcheck.bats
  test/system/250-systemd.bats
  test/system/500-networking.bats
  test/system/520-checkpoint.bats
  utils/utils.go
  vendor/github.com/buger/goterm/.gitignore
  vendor/github.com/buger/goterm/terminal.go
  vendor/github.com/buger/goterm/terminal_nosysioctl.go
  vendor/github.com/buger/goterm/terminal_sysioctl.go
  vendor/github.com/buger/goterm/terminal_windows.go
  vendor/modules.txt
  version/version.go
Labels: lgtm, approved

#13214 Fix checkpoint/restore pod tests
  libpod/runtime_ctr.go
  pkg/checkpoint/checkpoint_restore.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved

#13144 enable netavark specific tests
  test/e2e/common_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/run_networking_test.go
Labels: lgtm, approved

#13220 Temporarily pull machine images from side repo
  pkg/machine/fcos.go
  vendor/github.com/coreos/stream-metadata-go/release/release.go
  vendor/github.com/coreos/stream-metadata-go/release/rhcos/rhcos.go
  vendor/github.com/coreos/stream-metadata-go/release/translate.go
  vendor/modules.txt
Labels: lgtm, approved

#13216 [4.0] Enable Netavark/Aardvark-DNS CI Testing
  .cirrus.yml
  Makefile
  cmd/podman/networks/list.go
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/common_test.go
  test/e2e/create_staticip_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/create_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/login_logout_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/pod_ps_test.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_staticip_test.go
  test/e2e/search_test.go
  test/system/005-info.bats
  test/system/500-networking.bats
  test/system/README.md
  test/system/helpers.bash
  test/utils/utils.go
Labels: lgtm, approved

#13084 [CI:DOCS] Add --userns=keep-id, --uidmap, --gidmap troubleshooting
  troubleshooting.md
Labels: lgtm, approved

#13223 create: Fix key=value annotation in the flag output
  cmd/podman/common/create.go
Labels: lgtm, approved

#13209 ignition: propagate proxy settings from a host into a vm
  pkg/machine/ignition.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, 4.0

#13237 [CI:DOCS] podman network: add documentation for netavark
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-network-inspect.1.md
  docs/source/markdown/podman-network-ls.1.md
  docs/source/markdown/podman-network-rm.1.md
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman.1.md
Labels: lgtm, approved, 4.0

#13239 Fix images since/after tests
  test/e2e/images_test.go
  test/python/docker/compat/test_images.py
Labels: lgtm, approved

#13243 [CI:DOCS] Unify ls --filter docs for networks and pods
  docs/source/markdown/podman-network-ls.1.md
  docs/source/markdown/podman-pod-ps.1.md
Labels: lgtm, approved

#13249 [BACKPORT] Backporte2efixes
  test/e2e/images_test.go
  test/python/docker/compat/test_images.py
Labels: lgtm, approved

#13075 Mac API forwarding using a privileged docker socket claim helper
  Makefile
  cmd/podman-mac-helper/install.go
  cmd/podman-mac-helper/main.go
  cmd/podman-mac-helper/service.go
  cmd/podman-mac-helper/uninstall.go
  cmd/podman/machine/init.go
  cmd/podman/machine/set.go
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine-set.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/config.go
  pkg/machine/connection.go
  pkg/machine/qemu/claim_darwin.go
  pkg/machine/qemu/claim_unsupported.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, 4.1

#13258 Calculate device major/minor using bitshift
  pkg/util/utils_linux.go
Labels: lgtm, approved

#13252 increase subuid and subgid in image
  contrib/podmanimage/stable/Dockerfile
  contrib/podmanimage/testing/Dockerfile
  contrib/podmanimage/upstream/Dockerfile
Labels: lgtm, approved

#13263 vendor: update c/storage to 26c561f9
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/errors.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/idset.go
  vendor/github.com/containers/storage/pkg/chunked/cache_linux.go
  vendor/github.com/containers/storage/pkg/config/config.go
  vendor/github.com/containers/storage/types/errors.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/modules.txt
Labels: lgtm, approved

#13264 Fix a potential flake in volume plugins tests
  test/e2e/volume_plugin_test.go
Labels: lgtm, approved

#13241 [CI:DOCS] logformatter: handle python logs
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
Labels: lgtm, approved

#13255 Bump to v4.0.0 final
  Makefile
  RELEASE_NOTES.md
  cmd/podman-mac-helper/install.go
  cmd/podman-mac-helper/main.go
  cmd/podman-mac-helper/service.go
  cmd/podman-mac-helper/uninstall.go
  cmd/podman/common/create.go
  cmd/podman/machine/init.go
  cmd/podman/machine/set.go
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine-set.1.md
  docs/source/markdown/podman-machine.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-network-inspect.1.md
  docs/source/markdown/podman-network-ls.1.md
  docs/source/markdown/podman-network-rm.1.md
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman-pod-ps.1.md
  docs/source/markdown/podman.1.md
  libpod/runtime_ctr.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/server/register_networks.go
  pkg/bindings/images/build.go
  pkg/bindings/manifests/manifests.go
  pkg/bindings/test/common_test.go
  pkg/bindings/test/manifests_test.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/machine/config.go
  pkg/machine/connection.go
  pkg/machine/ignition.go
  pkg/machine/qemu/claim_darwin.go
  pkg/machine/qemu/claim_unsupported.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
  test/apiv2/01-basic.at
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/images_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/run_networking_test.go
  test/system/070-build.bats
  version/version.go
Labels: lgtm, approved

#13251 [v4.0] Cirrus: Update VM Images for 4.0 release
  .cirrus.yml
Labels: lgtm, approved

#12918 Propagate CONTAINERS_CONF to conmon
  libpod/oci_conmon_linux.go
  test/system/800-config.bats
  test/system/helpers.bash
Labels: lgtm, approved

#13284 [CI:DOCS] troubleshooting: mention overlay option for --rootfs
  troubleshooting.md
Labels: lgtm, approved

#13305 [CI:DOCS] troubleshooting.md: tweak subuid paragraph, encryption
  troubleshooting.md
Labels: lgtm, approved

#13307 System tests: show one-line config overview
  test/system/001-basic.bats
Labels: lgtm, approved

#13306 provide better error on invalid flag
  cmd/podman/main.go
  test/system/001-basic.bats
  test/system/300-cli-parsing.bats
Labels: lgtm, approved

#13055 [main] Cirrus: Update VM Images for 4.0 release
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved

#13296 Option --url and --connection should imply --remote.
  cmd/podman/registry/remote.go
  docs/source/markdown/podman.1.md
  test/system/001-basic.bats
Labels: lgtm, approved

#13304 use GetRuntimeDir() from c/common
  pkg/util/utils.go
  pkg/util/utils_supported.go
Labels: lgtm, approved

#13286 kube: honor `--build=false` if specified.
  cmd/podman/play/kube.go
  docs/source/markdown/podman-play-kube.1.md
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  test/e2e/play_build_test.go
Labels: lgtm, approved

#13290 Fix AssertionError: 'alpine' not found in 'docker.io/docker/desktop-kubernetes'
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
  test/e2e/images_test.go
  test/python/docker/compat/test_images.py
Labels: lgtm, approved

#13308 system tests: cleanup networks on teardown
  test/system/helpers.bash
Labels: lgtm, approved

#13280 [CI:DOCS]Update networking tutorial for netavark
  docs/tutorials/basic_networking.md
Labels: lgtm, approved

#13059 Implement Podman Container Clone
  cmd/podman/common/completion.go
  cmd/podman/common/create.go
  cmd/podman/containers/clone.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-container-clone.1.md
  docs/source/markdown/podman-container.1.md
  libpod/container.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/tunnel/containers.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/pod_create.go
  pkg/specgenutil/createparse.go
  pkg/specgenutil/specgen.go
  test/e2e/container_clone_test.go
Labels: lgtm, approved, 4.1

#13311 Remove the runtime lock
  libpod/networking_linux.go
  libpod/runtime.go
  libpod/runtime_cstorage.go
  libpod/runtime_ctr.go
  libpod/runtime_img.go
  libpod/runtime_pod.go
  libpod/runtime_pod_linux.go
  libpod/runtime_volume.go
  libpod/runtime_volume_linux.go
Labels: lgtm, approved

#13312 [V3.4.2-rhel] Fix AssertionError: 'alpine' not found in 'docker.io/docker/desktop-kubernetes'
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
  test/e2e/images_test.go
  test/python/docker/compat/test_images.py
Labels: lgtm, approved

#13247 Cleanup display of trust with transports
  cmd/podman/images/trust_show.go
  docs/source/markdown/podman-image-trust.1.md
  pkg/domain/infra/abi/trust.go
  pkg/trust/config.go
  pkg/trust/trust.go
  test/e2e/trust_test.go
  test/system/750-trust.bats
  test/trust_set_test.json
Labels: lgtm, approved

#13232 Don't log errors on removing volumes inuse, if container --volumes-from
  libpod/container_inspect.go
  libpod/runtime_ctr.go
  test/system/070-build.bats
Labels: lgtm, approved

#13313 [V3.3.1-rhel] Fix AssertionError: 'alpine' not found in 'docker.io/docker/desktop-kubernetes'
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
  test/e2e/images_test.go
  test/python/docker/compat/test_images.py
Labels: lgtm, approved

#13320 kube: honor mount propagation mode
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/kube_test.go
Labels: lgtm, approved

#13231 [CI:DOCS] troubleshooting: mention machinectl and systemd-run
  troubleshooting.md
Labels: lgtm, approved

#13314 container-commit: support `--squash` to squash layers into one if users want.
  cmd/podman/containers/commit.go
  docs/source/markdown/podman-commit.1.md
  libpod/container_commit.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_commit_options.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/commit_test.go
Labels: lgtm, approved, kind/feature

#13157 play kube: set defaults to container resources
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
Labels: lgtm, approved

#13329 Bump to v4.0.1
  Makefile
  RELEASE_NOTES.md
  cmd/podman/main.go
  cmd/podman/play/kube.go
  contrib/modules-load.d/podman-iptables.conf
  docs/source/markdown/podman-play-kube.1.md
  libpod/container_inspect.go
  libpod/networking_linux.go
  libpod/oci_conmon_linux.go
  libpod/runtime.go
  libpod/runtime_cstorage.go
  libpod/runtime_ctr.go
  libpod/runtime_img.go
  libpod/runtime_pod.go
  libpod/runtime_pod_linux.go
  libpod/runtime_volume.go
  libpod/runtime_volume_linux.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/kube_test.go
  pkg/util/utils.go
  pkg/util/utils_supported.go
  podman.spec.rpkg
  test/e2e/play_build_test.go
  test/e2e/volume_plugin_test.go
  test/system/001-basic.bats
  test/system/070-build.bats
  test/system/300-cli-parsing.bats
  test/system/800-config.bats
  test/system/helpers.bash
  version/version.go
Labels: lgtm, approved

#13333 [CI:DOCS] generate-systemd: pod requires an infra container
  docs/source/markdown/podman-generate-systemd.1.md
Labels: lgtm, approved

#13325 Improve the error message for usused configMaps
  docs/source/markdown/podman-play-kube.1.md
  pkg/domain/infra/abi/play.go
Labels: lgtm, approved

#13343 Show version of the deb package in info output
  libpod/util.go
Labels: lgtm, approved

#13353 copr packaging: use generic macros for tmpfiles and modules load dirs
  podman.spec.rpkg
Labels: lgtm, approved

#13374 Clarify v2 API testing for podman vs docker clients
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#13357 Option --url and --connection should imply --remote.
  cmd/podman/registry/remote.go
  docs/source/markdown/podman.1.md
  test/system/001-basic.bats
Labels: lgtm, approved
