Repository containers/podman, pull requests merged in 2022-12, with the labels that each got.

#16689 Update vendor of containers/(image, buildah)
  go.mod
  go.sum
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/image/v5/docker/reference/regexp.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#16680 [CI:DOCS] Skip windows-smoke when not useful
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#16681 Improve atomicity of VM state persistence on Windows
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#16715 libpod: Track healthcheck API changes in healthcheck_unsupported.go
  libpod/healthcheck_unsupported.go
Labels: lgtm, approved, release-note-none

#16714 Quadlet use regular defaults
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basepodman.container
  test/e2e/quadlet/basic.container
  test/e2e/quadlet/capabilities.container
  test/e2e/quadlet/readonly-notmpfs.container
Labels: lgtm, approved, release-note-none

#16708 Build cross-compilation fixes
  .cirrus.yml
  Makefile
  docs/remote-docs.sh
Labels: lgtm, approved, release-note-none

#16667 Make released binary names more consistent
  Makefile
  RELEASE_PROCESS.md
  contrib/pkginstaller/Makefile
  contrib/pkginstaller/package.sh
  contrib/podmanremoteimage/Containerfile
  contrib/podmanremoteimage/README.md
Labels: lgtm, approved, release-note

#16648 Introduce podman machine os commands
  Makefile
  cmd/podman/machine/os.go
  cmd/podman/machine/os/apply.go
  cmd/podman/main_experimental.go
Labels: lgtm, approved, release-note-none

#16678 CI setup: simplify environment passthrough code
  contrib/cirrus/lib.sh
  contrib/cirrus/lib.sh.t
  contrib/cirrus/prebuild.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#16682 Fix handling of readonly containers when defined in kube.yaml
  libpod/kube.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgenutil/specgen.go
  pkg/specgenutil/volumes.go
  test/e2e/generate_kube_test.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#16586 [CI:DOCS] Remove broken gate-container docs
  CONTRIBUTING.md
Labels: lgtm, approved, release-note-none

#16722 Add completion for --init-ctr
  cmd/podman/common/completion.go
  cmd/podman/containers/create.go
Labels: lgtm, approved, release-note

#16723 Add a FreeBSD cross build to the cirrus alt build task
  .cirrus.yml
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#16739 runtime: do not chown idmapped volumes
  libpod/runtime_ctr.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved, release-note

#16745 compat API: allow MacAddress on container config
  pkg/api/handlers/compat/containers_create.go
  test/compose/ipam_set_ip/docker-compose.yml
  test/compose/ipam_set_ip/tests.sh
Labels: lgtm, approved, release-note, kind/api-change

#16749 disable healthchecks automatically on non systemd systems
  libpod/healthcheck.go
  libpod/healthcheck_linux.go
  libpod/healthcheck_nosystemd_linux.go
Labels: lgtm, approved, release-note

#16713 quadlet: Drop ExecStartPre=rm %t/%N.cid
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.container
Labels: lgtm, approved, release-note-none

#16740 Update containers common package
  go.mod
  go.sum
  pkg/domain/infra/abi/network.go
  vendor/github.com/containers/common/libnetwork/cni/cni_types.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/cni/network.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/types/network.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/secrets/filedriver/filedriver.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#16757 [skip-ci] GHA/Cirrus-cron: Fix execution order
  .github/workflows/check_cirrus_cron.yml
  .github/workflows/rerun_cirrus_cron.yml
Labels: lgtm, approved, release-note-none

#16668 fix an override logic in Inherit function
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#16748 Quadlet Kube: Add support for userns flag
  cmd/quadlet/main.go
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/remap-auto.kube
  test/e2e/quadlet/remap-auto2.kube
  test/e2e/quadlet/remap-manual.kube
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#16684 e2e: fix e2e tests in proxy environment
  test/e2e/common_test.go
  test/e2e/generate_kube_test.go
  test/e2e/run_networking_test.go
  test/e2e/systemd_activate_test.go
Labels: lgtm, approved, release-note-none

#16742 [CI:DOCS] Add warning about --opts,o with mount's -o
  docs/source/markdown/podman-volume-create.1.md
Labels: lgtm, approved, release-note-none

#16758 test/e2e: enable "podman run with ipam none driver" for nv
  test/e2e/run_networking_test.go
Labels: lgtm, approved, release-note-none

#16764 [CI:DOCS] test/README.md: run tests with podman-remote
  test/README.md
Labels: lgtm, approved, release-note-none

#16763 e2e: keeps the http_proxy value
  test/e2e/build_test.go
  test/e2e/run_env_test.go
Labels: lgtm, approved, release-note-none

#16569 Add support for checkpoint images with 'podman run'
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/checkpoint_image_test.go
Labels: lgtm, approved, release-note

#16761 Makefile: Add podman-mac-helper to darwin client zip
  Makefile
Labels: lgtm, approved, release-note-none

#16709 kube sdnotify: run proxies for the lifespan of the service
  pkg/domain/infra/abi/play.go
  pkg/systemd/notifyproxy/notifyproxy.go
  pkg/systemd/notifyproxy/notifyproxy_test.go
  test/system/250-systemd.bats
  test/system/260-sdnotify.bats
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#16750 Cleanup kube play workloads if error happens
  cmd/podman/kube/down.go
  cmd/podman/kube/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#16631 Fixes secret marshaling for kube play. Merge stringData with data for secrets.
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
  pkg/specgen/generate/kube/volume.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#16785 health check: ignore dependencies of transient systemd units/timers
  libpod/healthcheck_linux.go
Labels: lgtm, approved, release-note

#16776 remote: allow --http-proxy for remote clients
  cmd/podman/common/create.go
  cmd/podman/images/build.go
  docs/source/markdown/options/http-proxy.md
  docs/source/markdown/podman-build.1.md.in
  test/e2e/build_test.go
  test/e2e/run_env_test.go
  test/system/070-build.bats
Labels: lgtm, approved, release-note

#16743 [CI:DOCS] Clarify secret target behavior
  docs/source/markdown/options/secret.md
Labels: lgtm, approved, release-note-none

#16802 [v4.2-rhel] Bump Buildah to v1.27.3
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/pkg/cli/build.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/opencontainers/selinux/go-selinux/doc.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#16812 parse-localbenchmarks: separate standard deviation
  hack/parse-localbenchmarks
Labels: lgtm, approved, release-note-none

#16549 Add support for podman-remote manifest annotate
  cmd/podman/manifest/annotate.go
  pkg/api/handlers/libpod/manifests.go
  pkg/domain/infra/tunnel/manifest.go
  test/apiv2/15-manifest.at
  test/e2e/manifest_test.go
Labels: lgtm, approved, release-note, kind/api-change

#16803 add support for subpath in play kube for named volumes
  libpod/container.go
  libpod/container_internal_common.go
  libpod/options.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/volumes.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#16821 docs/options/ipc: fix list syntax
  docs/source/markdown/options/ipc.md
Labels: lgtm, approved, release-note-none

#16799 Add podman buildx version support
  cmd/podman/images/version.go
  test/system/070-build.bats
Labels: lgtm, approved, release-note

#16829 [v4.3.1-rhel] container restart: clean up healthcheck state
  libpod/container_internal.go
  test/e2e/search_test.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#16826 quadlet: Default VolatileTmp to off
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/readwrite.container
Labels: lgtm, approved, release-note-none

#16837 libpod: use OCI idmappings for mounts
  docs/source/markdown/options/mount.md
  libpod/container_internal_common.go
  libpod/container_internal_test.go
Labels: lgtm, approved, release-note-none

#16697 stop reporting errors removing containers that don't exist
  libpod/pod_api.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#16847 create/pull --help: list pull policies
  cmd/podman/common/create.go
Labels: lgtm, approved, release-note

#16398 [CI:BUILD] Add dedicated DOWNLOAD doc w/ links to bins
  .cirrus.yml
  DOWNLOADS.md
  Makefile
  README.md
Labels: lgtm, approved, release-note-none

#16854 doc: fix documentation for idmapped mounts
  docs/source/markdown/options/mount.md
  docs/source/markdown/options/volume.md
Labels: lgtm, approved, release-note-none

#16841 Make qemu security model none
  docs/source/markdown/podman-machine-init.1.md
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#16851 bump golangci-lint to v1.50.1
  .golangci.yml
  Makefile
  cmd/podman/containers/run.go
  cmd/podman/registry/config.go
  cmd/quadlet/main.go
  libpod/boltdb_state.go
  libpod/container.go
  libpod/define/annotations.go
  libpod/define/containerstate.go
  libpod/logs/reversereader/reversereader.go
  libpod/options.go
  libpod/pod_internal.go
  pkg/bindings/pods/pods.go
  pkg/channel/writer.go
  pkg/lookup/lookup.go
  pkg/rootless/rootless.go
  pkg/specgen/generate/ports_test.go
  pkg/specgen/namespaces.go
  test/e2e/images_test.go
Labels: lgtm, approved, release-note-none

#16773 Network Create: Add --ignore flag to support idempotent script
  cmd/podman/networks/create.go
  docs/source/markdown/podman-network-create.1.md
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/libpod/networks.go
  pkg/bindings/network/network.go
  pkg/bindings/network/types.go
  pkg/bindings/network/types_extracreate_options.go
  pkg/bindings/test/networks_test.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/network.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/tunnel/network.go
  test/e2e/network_create_test.go
Labels: lgtm, approved, release-note, kind/api-change

#16790 rootless: add cli validator
  pkg/rootless/rootless_linux.c
  test/system/950-auth-scripts.bats
Labels: lgtm, approved, release-note-none

#16818 api: remove unmapped ports from PortBindings
  libpod/container_inspect.go
  libpod/networking_common.go
  libpod/pod_api.go
  libpod/util.go
  pkg/api/handlers/compat/containers.go
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: lgtm, approved, release-note-none, kind/api-change

#16859 pkg/rootless: Change error text ...
  pkg/rootless/rootless_freebsd.go
Labels: release-note-none

#16862 Quadlet handle podman binary name better
  Makefile
  pkg/systemd/quadlet/podmancmdline.go
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.container
  test/e2e/quadlet/basic.volume
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#16853 wait: add --ignore option
  cmd/podman/containers/wait.go
  docs/source/markdown/podman-wait.1.md.in
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/055-rm.bats
Labels: lgtm, approved, release-note

#16781 fix: event read from syslog when syslog entry too long
  libpod/events/journal_linux.go
  test/python/docker/compat/test_containers.py
Labels: lgtm, approved, kind/bug, release-note

#16864 podman-kube@ template: use `podman kube`
  contrib/systemd/system/podman-kube@.service.in
Labels: lgtm, approved, release-note-none

#16800 checkpoint restore: fix --ignore-static-ip/mac
  libpod/boltdb_state.go
  libpod/container_internal_common.go
  libpod/state.go
  pkg/checkpoint/checkpoint_restore.go
  test/system/520-checkpoint.bats
Labels: lgtm, approved, release-note

#16817 libpod: remove CNI word were no longer applicable
  libpod/boltdb_state.go
  libpod/container.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_validate.go
  libpod/define/container_inspect.go
  libpod/define/pod_inspect.go
  libpod/networking_common.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  libpod/networking_unsupported.go
  libpod/options.go
  pkg/api/server/register_networks.go
  pkg/bindings/network/network.go
  pkg/bindings/network/types.go
  pkg/domain/infra/runtime_libpod.go
  pkg/machine/ignition.go
  pkg/specgen/namespaces.go
Labels: lgtm, approved, release-note-none, kind/api-change

#16858 libpod: fix header length in http attach with logs
  libpod/oci_conmon_common.go
  test/apiv2/20-containers.at
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: lgtm, approved, release-note

#16869 Always allow pushing from containers-storage
  pkg/domain/infra/abi/images.go
  test/deny.json
  test/e2e/push_test.go
Labels: lgtm, approved, release-note

#16756 libpod: move NetNS into state db instead of extra bucket
  libpod/boltdb_state.go
  libpod/boltdb_state_freebsd.go
  libpod/boltdb_state_internal.go
  libpod/boltdb_state_linux.go
  libpod/container.go
  libpod/container_freebsd.go
  libpod/container_internal.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
  libpod/container_linux.go
  libpod/networking_common.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  libpod/networking_pasta_linux.go
  libpod/networking_slirp4netns.go
Labels: lgtm, approved, release-note-none

#16866 [v4.2.0-rhel] vendor: bump to c/common v0.49.3
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/cgroups/cgroups.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#16825 Quadlet system test
  Makefile
  cmd/quadlet/main.go
  hack/bats
  test/system/252-quadlet.bats
  test/system/helpers.bash
  test/system/helpers.systemd.bash
Labels: lgtm, approved

#16883 Quadlet packaging fixes
  pkg/systemd/quadlet/podmancmdline.go
  podman.spec.rpkg
Labels: lgtm, approved, release-note-none

#16885 Update vendor of containters/(common, image)
  go.mod
  go.sum
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#16688 Quadlet: add network support
  cmd/quadlet/main.go
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.network
  test/e2e/quadlet/disable-dns.network
  test/e2e/quadlet/driver.network
  test/e2e/quadlet/gateway.less-subnet.network
  test/e2e/quadlet/gateway.network
  test/e2e/quadlet/gateway.no-subnet.network
  test/e2e/quadlet/internal.network
  test/e2e/quadlet/ipam-driver.network
  test/e2e/quadlet/ipv6.network
  test/e2e/quadlet/label.network
  test/e2e/quadlet/network.kube
  test/e2e/quadlet/network.quadlet.container
  test/e2e/quadlet/network.quadlet.kube
  test/e2e/quadlet/options.multiple.network
  test/e2e/quadlet/options.network
  test/e2e/quadlet/range.less-subnet.network
  test/e2e/quadlet/range.network
  test/e2e/quadlet/range.no-subnet.network
  test/e2e/quadlet/subnet-trio.multiple.network
  test/e2e/quadlet/subnet-trio.network
  test/e2e/quadlet/subnets.network
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#16878 Unify --noheading and -n to be consistent on all commands
  cmd/podman/machine/list.go
  cmd/podman/networks/list.go
  cmd/podman/pods/ps.go
  cmd/podman/secrets/list.go
  cmd/podman/volumes/list.go
  docs/source/markdown/.gitignore
  docs/source/markdown/options/noheading.md
  docs/source/markdown/podman-image-trust.1.md.in
  docs/source/markdown/podman-images.1.md.in
  docs/source/markdown/podman-machine-list.1.md.in
  docs/source/markdown/podman-network-ls.1.md.in
  docs/source/markdown/podman-pod-ps.1.md.in
  docs/source/markdown/podman-secret-ls.1.md.in
  docs/source/markdown/podman-volume-ls.1.md.in
  test/e2e/secret_test.go
  test/system/160-volumes.bats
  test/system/200-pod.bats
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#16889 Stop recording annotations set to false
  docs/source/markdown/podman-container-inspect.1.md.in
  pkg/specgen/generate/namespaces_linux.go
  pkg/specgen/generate/oci_freebsd.go
  pkg/specgen/generate/oci_linux.go
  pkg/specgenutil/specgen.go
  test/e2e/run_test.go
  test/system/710-kube.bats
Labels: lgtm, approved, release-note

#16895 rootless: always create userns with euid != 0
  libpod/runtime.go
  pkg/rootless/rootless_linux.go
Labels: lgtm, approved, release-note

#16894 vendor: bump to buildah `ca578b290144` and use new distributed cache API
  cmd/podman/images/build.go
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CONTRIBUTING.md
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/chroot/run_common.go
  vendor/github.com/containers/buildah/chroot/seccomp.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/parse/parse.go
  vendor/github.com/containers/buildah/pkg/cli/build.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/sshagent/sshagent.go
  vendor/github.com/containers/buildah/pkg/util/uptime_linux.go
  vendor/github.com/containers/buildah/pkg/util/util.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/seccomp.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/modules.txt
Labels: lgtm, approved, release-note, kind/api-change

#16886 Refactor looking up containers in pkg/domain/infra abi
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/network.go
Labels: lgtm, approved, release-note-none

#16888 export: use io.Writer instead of file
  cmd/podman/containers/export.go
  libpod/container_api.go
  libpod/container_internal.go
  pkg/api/handlers/compat/containers_export.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/apiv2/25-containersMore.at
Labels: lgtm, approved, release-note, kind/api-change

#16892 Add podman-clean-transient.service service
  Makefile
  contrib/systemd/system/podman-clean-transient.service.in
  podman.spec.rpkg
Labels: lgtm, approved, release-note

#16900 ginkgo tests: apply ginkgolinter fixes
  test/e2e/play_kube_test.go
  test/e2e/prune_test.go
  test/e2e/pull_test.go
  test/e2e/push_test.go
  test/e2e/quadlet_test.go
  test/e2e/run_device_test.go
  test/e2e/run_test.go
  test/utils/common_function_test.go
Labels: lgtm, approved, release-note-none

#16893 quadlet: Handle booleans that have defaults better
  pkg/systemd/parser/unitfile.go
  pkg/systemd/quadlet/podmancmdline.go
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basepodman.container
  test/e2e/quadlet/readwrite-notmpfs.container
  test/e2e/quadlet/readwrite.container
Labels: lgtm, approved, release-note-none

#16898 quadlet: Support Type=oneshot container files
  hack/bats
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basepodman.container
  test/e2e/quadlet/oneshot.container
  test/e2e/quadlet_test.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#16565 pkginstaller: install podman-mac-helper by default
  contrib/pkginstaller/scripts/postinstall
Labels: lgtm, approved, release-note

#16908 When in transient store mode, use rundir for bundlepath
  libpod/container_internal.go
  libpod/container_internal_test.go
Labels: lgtm, approved, release-note-none

#16910 Vendor in latest containers/(buildah, image, common)
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/pkg/docker/config/config.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/shortnames.go
  vendor/github.com/mattn/go-runewidth/.travis.yml
  vendor/github.com/mattn/go-runewidth/README.md
  vendor/github.com/mattn/go-runewidth/go.test.sh
  vendor/github.com/mattn/go-runewidth/runewidth.go
  vendor/github.com/mattn/go-runewidth/runewidth_appengine.go
  vendor/github.com/mattn/go-runewidth/runewidth_js.go
  vendor/github.com/mattn/go-runewidth/runewidth_posix.go
  vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#16911 New system tests for conflicting options
  cmd/podman/containers/cleanup.go
  test/system/620-option-conflicts.bats
Labels: lgtm, approved, release-note-none

#16794 podman play kube support container startup probe
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, kind/feature, release-note

#16901 podman service: close duplicated /dev/null fd
  cmd/podman/system/service_abi.go
Labels: lgtm, approved, release-note-none

#16922 [CI:DOCS] Explain that relabeling/chowning of volumes can take along time
  docs/source/markdown/options/cpus.container.md
  docs/source/markdown/options/volume.md
Labels: lgtm, approved, release-note

#16904 Output Size and Reclaimable in human form for json output
  cmd/podman/system/df.go
  test/system/320-system-df.bats
Labels: lgtm, approved, release-note

#16927 make: Use PYTHON var for .install.pre-commit
  Makefile
Labels: lgtm, approved, release-note-none

#16907 infra/abi: refactor ContainerRm
  pkg/domain/infra/abi/containers.go
  test/system/055-rm.bats
Labels: lgtm, approved, release-note-none

#16933 [CI:DOCS] Fix typos in man page regarding transient storage mode.
  docs/source/markdown/podman.1.md
Labels: lgtm, approved, release-note

#16545 Add containers.conf read-only flag support
  DOWNLOADS.md
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  pkg/api/handlers/compat/containers_create.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/storage.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  pkg/specgenutil/volumes.go
  test/system/030-run.bats
  test/system/700-play.bats
Labels: lgtm, approved, kind/api-change

#16935 [4.2.0-rhel] vendor: bump containers/storage
  go.mod
  go.sum
  vendor/github.com/containers/storage/layers.go
  vendor/modules.txt
Labels: lgtm, approved

#16942 Remove references to qcow2
  cmd/podman/machine/init.go
  pkg/machine/e2e/config_init_test.go
Labels: lgtm, approved, release-note-none
