Repository containers/podman, pull requests merged in 2022-04, with the labels that each got.

#13594 fix pod volume passing and alter infra inheritance
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/kube.go
  libpod/pod_api.go
  pkg/domain/infra/abi/containers.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/oci.go
  pkg/specgenutil/volumes.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved

#13749 [v4.0] bump buildah to 1.24.3
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/fsouza/go-dockerclient/LICENSE
  vendor/github.com/fsouza/go-dockerclient/Makefile
  vendor/github.com/fsouza/go-dockerclient/go.mod
  vendor/github.com/fsouza/go-dockerclient/go.sum
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/value/name.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/modules.txt
Labels: lgtm, approved

#13665 Add build test for .containerignore tar file
  pkg/bindings/images/build.go
  test/e2e/build_test.go
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/utils/utils.go
Labels: lgtm, approved

#13753 [CI:DOCS] Bump to v4.0.3
  README.md
  RELEASE_NOTES.md
  version/version.go
Labels: lgtm, approved

#13739 Fix multi-arch image build version-tag + allow testing in PRs
  .cirrus.yml
  contrib/cirrus/cirrus_yaml_test.py
Labels: lgtm, approved

#13752 [v3.0.1-rhel] do not set the inheritable capabilities
  contrib/fedora-minimal/Dockerfile
  contrib/fedora-minimal/README.md
  libpod/oci_conmon_linux.go
  pkg/specgen/generate/security.go
  test/e2e/config.go
  test/e2e/exec_test.go
  test/e2e/images_test.go
  test/e2e/run_test.go
Labels: lgtm, approved

#13757 Allow creating anonymous volumes with --mount
  pkg/specgenutil/volumes.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved

#13724 [CI:DOCS] Set permissions for GitHub actions
  .github/workflows/check_cirrus_cron.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-title.yml
Labels: lgtm, approved

#13765 specgen: do not set OOMScoreAdj by default
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  pkg/domain/entities/pods.go
  pkg/specgenutil/specgen.go
  test/e2e/run_test.go
  test/system/030-run.bats
Labels: lgtm, approved

#13490 pod logs enhancements: option to color logs
  cmd/podman/containers/logs.go
  cmd/podman/pods/logs.go
  docs/source/markdown/podman-logs.1.md
  docs/source/markdown/podman-pod-logs.1.md
  libpod/container_log.go
  libpod/container_log_linux.go
  libpod/container_log_unsupported.go
  libpod/logs/log.go
  libpod/oci_conmon_linux.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/containers.go
  test/e2e/logs_test.go
Labels: lgtm, approved

#13696 test/apiv2: support netavark
  test/apiv2/35-networks.at
Labels: lgtm, approved

#13771 [CI:DOCS] Unify examples section across several man pages: init/kill
  docs/source/markdown/podman-init.1.md
  docs/source/markdown/podman-kill.1.md
  docs/source/markdown/podman-pod-kill.1.md
Labels: lgtm, approved

#13750 machine refactor 3: add symlinks for sockets
  pkg/machine/qemu/config.go
  pkg/machine/qemu/config_test.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#13786 [CI:DOCS] Unify examples section across several man pages: pod rm/start/unpause
  docs/source/markdown/podman-pod-rm.1.md
  docs/source/markdown/podman-pod-start.1.md
  docs/source/markdown/podman-pod-unpause.1.md
Labels: lgtm, approved

#13796 Prevent set command from updating a running instance
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#13798 Fix mac docker socket handling
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#13773 [CI:DOCS] Add Podman Hello to readme.md
  README.md
Labels: lgtm, approved

#13806 [v1.6.4-rhel] spec: do not set inheritable caps for --privileged
  vendor/github.com/opencontainers/runtime-tools/generate/generate.go
Labels: lgtm, approved

#13810 images --size
  cmd/podman/images/list.go
  docs/source/markdown/podman-images.1.md
  pkg/api/handlers/compat/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_list_options.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images_list.go
  pkg/domain/infra/tunnel/images.go
  test/system/010-images.bats
Labels: lgtm, approved

#13793 [v3.4.2 backport] bump to race-free `c/image`, `c/storage` and `c/buildah` along with test to verify `concurrent/parallel` builds
  go.mod
  go.sum
  test/system/070-build.bats
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/key.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/keyring.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/perm.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/sys_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_unsupported.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/errors.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/utils.go
  vendor/github.com/modern-go/reflect2/.travis.yml
  vendor/github.com/modern-go/reflect2/Gopkg.lock
  vendor/github.com/modern-go/reflect2/Gopkg.toml
  vendor/github.com/modern-go/reflect2/go.mod
  vendor/github.com/modern-go/reflect2/go_above_118.go
  vendor/github.com/modern-go/reflect2/go_above_17.go
  vendor/github.com/modern-go/reflect2/go_above_19.go
  vendor/github.com/modern-go/reflect2/go_below_118.go
  vendor/github.com/modern-go/reflect2/go_below_17.go
  vendor/github.com/modern-go/reflect2/go_below_19.go
  vendor/github.com/modern-go/reflect2/reflect2.go
  vendor/github.com/modern-go/reflect2/test.sh
  vendor/github.com/modern-go/reflect2/type_map.go
  vendor/github.com/modern-go/reflect2/unsafe_link.go
  vendor/github.com/modern-go/reflect2/unsafe_map.go
  vendor/modules.txt
Labels: lgtm, approved

#13811 container,inspect: convert `Entrypoint` to an array instead of a string
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  test/e2e/create_test.go
  test/e2e/pod_create_test.go
  test/system/200-pod.bats
Labels: lgtm, approved

#13794 If newuidmap or newgidmap fail, then check their permissions
  go.mod
  go.sum
  pkg/rootless/rootless_linux.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/drivers/aufs/aufs.go
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/chown_unix.go
  vendor/github.com/containers/storage/drivers/devmapper/deviceset.go
  vendor/github.com/containers/storage/drivers/overlay/check_115.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/archive/changes_other.go
  vendor/github.com/containers/storage/pkg/archive/diff.go
  vendor/github.com/containers/storage/pkg/directory/directory_unix.go
  vendor/github.com/containers/storage/pkg/directory/directory_windows.go
  vendor/github.com/containers/storage/pkg/system/xattrs_linux.go
  vendor/github.com/containers/storage/pkg/system/xattrs_unsupported.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/modules.txt
Labels: lgtm, approved

#13701 network create: add support for ipam-driver none
  cmd/podman/common/completion.go
  cmd/podman/networks/create.go
  docs/source/markdown/podman-network-create.1.md
  test/e2e/run_networking_test.go
Labels: lgtm, approved

#13822 System tests: reenable ps --external test
  test/system/040-ps.bats
Labels: lgtm, approved

#13826 [CI:DOCS] pkg/bindings: document requirements for use
  pkg/bindings/README.md
Labels: lgtm, approved

#13821 [CI:DOCS] Rewrite rootless --userns=auto docs
  docs/source/markdown/podman-run.1.md
Labels: lgtm, approved

#13828 [CI:BUILD] Cirrus: Fix unsupported cirrus-cron build status
  .cirrus.yml
Labels: lgtm, approved

#13836 machine,rm: Ignore `ENOENT` while cleaning machine paths
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#13837 Update vendor of storage,common,image
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/pkg/docker/config/config.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/pkg/archive/archive_linux.go
  vendor/modules.txt
Labels: lgtm, approved, 4.1

#13788 run, mount: allow setting driver specific option using `volume-opt=`
  libpod/runtime_ctr.go
  pkg/specgenutil/volumes.go
  pkg/util/mountOpts.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, 4.1

#13787 API: use no_hosts from containers.conf
  cmd/podman/common/create_opts.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/specgen/specgen.go
  test/apiv2/20-containers.at
  test/apiv2/containers.no_hosts.conf
Labels: lgtm, approved, 4.1

#13814 Pretty print systemd services file
  docs/source/markdown/podman-generate-systemd.1.md
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/containers_test.go
Labels: lgtm, approved, 4.1

#13846 System tests: fix oops in start --filter tests
  test/system/045-start.bats
Labels: lgtm, approved

#13841 Bump golang.org/x/crypto to 7b82a4e
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Labels: lgtm, approved

#13842 [v4.0-rhel backport] Bump golang.org/x/crypto to 7b82a4e
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Labels: lgtm, approved

#13843 [v4.0 backport] Bump golang.org/x/crypto to 7b82a4e
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Labels: lgtm, approved

#13848 [v3.4 backport] Bump golang.org/x/crypto to 7b82a4e
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/poly1305.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/openpgp/errors/errors.go
  vendor/golang.org/x/crypto/openpgp/packet/packet.go
  vendor/golang.org/x/crypto/openpgp/read.go
  vendor/golang.org/x/crypto/openpgp/s2k/s2k.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/modules.txt
Labels: lgtm, approved

#13850 Bump to v3.4.5
  RELEASE_NOTES.md
  libpod/oci_conmon_exec_linux.go
  pkg/specgen/generate/security.go
  test/e2e/run_test.go
  version/version.go
Labels: lgtm, approved

#13852 build(deps) bump github.com/container-orchestrated-devices/container-device-interface from 0.3.0 to 0.3.2
  go.mod
  go.sum
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/doc.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/cdi/spec.go
  vendor/modules.txt
Labels: lgtm, approved

#13829 Introduce machine inspect
  cmd/podman/machine/inspect.go
  docs/source/markdown/podman-machine-inspect.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, 4.1

#13858 [CI:DOCS] Bump to v3.4.6
  README.md
  RELEASE_NOTES.md
  version/version.go
Labels: lgtm, approved

#13853 [CI:DOCS] fix typo in podman-container-clone.1.md
  docs/source/markdown/podman-container-clone.1.md
Labels: lgtm, approved

#13844 compat api: use network mode bridge as default
  cmd/podman/common/create_opts.go
  test/apiv2/20-containers.at
Labels: lgtm, approved

#13863 Allow HTTP attach to stopped containers
  pkg/api/handlers/compat/containers_attach.go
Labels: lgtm, approved

#13867 Update containers/common to main branch
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: lgtm, approved

#13872 Revert "images --size"
  cmd/podman/images/list.go
  docs/source/markdown/podman-images.1.md
  pkg/api/handlers/compat/images.go
  pkg/api/server/register_images.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_list_options.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images_list.go
  pkg/domain/infra/tunnel/images.go
  test/system/010-images.bats
Labels: lgtm, approved

#13857 Fix --tail log on restart problem
  libpod/container_log_linux.go
  test/system/035-logs.bats
Labels: lgtm, approved

#13866 System tests: Usage checks: better error messages
  test/system/015-help.bats
Labels: lgtm, approved

#13875 [v3.4] fix CVE-2022-1227
  go.mod
  go.sum
  test/system/030-run.bats
  vendor/github.com/containers/psgo/go.mod
  vendor/github.com/containers/psgo/go.sum
  vendor/github.com/containers/psgo/internal/proc/ns.go
  vendor/github.com/containers/psgo/internal/proc/status.go
  vendor/github.com/containers/psgo/psgo.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/golang.org/x/sys/unix/sockcmsg_linux.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/aliases.go
  vendor/golang.org/x/sys/windows/eventlog.go
  vendor/golang.org/x/sys/windows/memory_windows.go
  vendor/golang.org/x/sys/windows/mksyscall.go
  vendor/golang.org/x/sys/windows/race.go
  vendor/golang.org/x/sys/windows/race0.go
  vendor/golang.org/x/sys/windows/service.go
  vendor/golang.org/x/sys/windows/str.go
  vendor/golang.org/x/sys/windows/syscall.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: lgtm, approved

#13616 run, create: add --passwd-entry
  cmd/podman/common/create.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container_config.go
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/run_passwd_test.go
Labels: lgtm, approved, 4.1

#13886 [v4.0] Respect "Rootful" when starting WSL API Forwarding
  pkg/machine/wsl/machine.go
Labels: lgtm, approved

#13868 Fix Memory Swappiness passing in Container Clone
  cmd/podman/common/create.go
  docs/source/markdown/podman-container-clone.1.md
  pkg/specgen/generate/container_create.go
  test/e2e/container_clone_test.go
Labels: lgtm, approved

#13641 Add log rotation based on log size
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/logfile.go
  libpod/events/logfile_test.go
  test/system/090-events.bats
Labels: lgtm, approved, 4.1

#13849 Mount $HOME:$HOME by default in podman machine init
  cmd/podman/machine/init.go
  docs/source/markdown/podman-machine-init.1.md
Labels: lgtm, approved

#13583 Add support for ipc namespace modes "none, private, sharable"
  docs/source/markdown/podman-container-inspect.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/options.go
  libpod/runtime_ctr.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/security.go
  pkg/specgenutil/specgen.go
  test/system/190-run-ipcns.bats
Labels: lgtm, approved

#13838 [CI:DOCS] Update troubleshooting.md
  troubleshooting.md
Labels: lgtm, approved

#13865 Update vendor of storage,common
  go.mod
  go.sum
  vendor/github.com/containerd/stargz-snapshotter/estargz/build.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/estargz.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/testutil.go
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/idmapped_utils.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/utils.go
  vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  vendor/modules.txt
Labels: lgtm, approved

#13898 Add --quiet to machine ls
  cmd/podman/machine/list.go
  docs/source/markdown/podman-machine-list.1.md
Labels: lgtm, approved

#13910 [CI:DOCS] manpage vs --help checker: better error messages
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved

#13839 Translate Memory Limit to Swap in API
  pkg/api/handlers/libpod/containers_create.go
  pkg/specgenutil/specgen.go
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: lgtm, approved

#13913 [v1.9] fix CVE-2022-1227
  go.mod
  go.sum
  test/system/030-run.bats
  vendor/github.com/containers/psgo/go.mod
  vendor/github.com/containers/psgo/go.sum
  vendor/github.com/containers/psgo/internal/proc/ns.go
  vendor/github.com/containers/psgo/internal/proc/status.go
  vendor/github.com/containers/psgo/psgo.go
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/modules.txt
Labels: lgtm, approved

#13890 [CI:DOCS] Fix selinux docs for kubernetes yaml
  docs/source/markdown/podman-generate-kube.1.md
  docs/source/markdown/podman-play-kube.1.md
Labels: lgtm, approved

#13921 Add missing events to podman-events man page
  cmd/podman/common/completion.go
  docs/source/markdown/podman-events.1.md
Labels: lgtm, approved

#13395 [v4.0] Option --url and --connection should imply --remote
  cmd/podman/registry/remote.go
  docs/source/markdown/podman.1.md
  test/system/001-basic.bats
Labels: lgtm, approved, 4.1

#13885 Respect "Rootful" when starting WSL API Forwarding
  pkg/machine/wsl/machine.go
Labels: lgtm, approved

#13928 healthcheck: set default healthcheck `Interval` if not specified in image
  pkg/specgen/generate/container.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved

#13835 benchmarking Podman: proof of concept
  Makefile
  test/e2e/benchmarks_test.go
  test/utils/utils.go
Labels: lgtm, approved

#13929 slirp4netns: actually make ipv6 default
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/networking_slirp4netns.go
Labels: lgtm, approved

#13933 Bump to v3.4.7
  RELEASE_NOTES.md
  version/version.go
Labels: lgtm, approved

#13934 Fix e2e tests referencing generic env. var.
  test/e2e/common_test.go
Labels: lgtm, approved

#13915 [v3.2.3-rhel] fix CVE-2022-1227
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
  go.mod
  go.sum
  test/system/030-run.bats
  vendor/github.com/containers/psgo/go.mod
  vendor/github.com/containers/psgo/go.sum
  vendor/github.com/containers/psgo/internal/proc/ns.go
  vendor/github.com/containers/psgo/internal/proc/status.go
  vendor/github.com/containers/psgo/psgo.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/idtools/idtools.go
  vendor/modules.txt
Labels: lgtm, approved

#13945 vendor c/common
  go.mod
  go.sum
  libpod/events.go
  libpod/events/logfile.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/image_config.go
  vendor/github.com/containers/common/libimage/inspect.go
  vendor/github.com/containers/common/libimage/manifests/copy.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/github.com/containers/common/libnetwork/cni/cni_conversion.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/internal/util/util.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/ipam.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containers/common/pkg/cgroups/blkio.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups.go
  vendor/github.com/containers/common/pkg/cgroups/cpu.go
  vendor/github.com/containers/common/pkg/cgroups/cpuset.go
  vendor/github.com/containers/common/pkg/cgroups/pids.go
  vendor/github.com/containers/common/pkg/chown/chown_unix.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/systemd.go
  vendor/github.com/containers/common/pkg/manifests/manifests.go
  vendor/github.com/containers/common/pkg/netns/netns_linux.go
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/common/pkg/report/template.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp_linux.go
  vendor/github.com/containers/common/pkg/secrets/filedriver/filedriver.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/github.com/containers/common/pkg/secrets/secretsdb.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/sysinfo/sysinfo_solaris.go
  vendor/github.com/containers/common/pkg/timetype/timestamp.go
  vendor/github.com/containers/common/pkg/umask/umask_unix.go
  vendor/github.com/containers/common/pkg/util/util_supported.go
  vendor/modules.txt
Labels: lgtm, approved

#13937 Buildah Vendor Treadmill: the script
  hack/buildah-vendor-treadmill
Labels: lgtm, approved

#13505 Add support for checkpoint image
  cmd/podman/containers/checkpoint.go
  cmd/podman/containers/restore.go
  docs/source/markdown/podman-container-checkpoint.1.md
  docs/source/markdown/podman-container-restore.1.md
  go.mod
  go.sum
  libpod/container_api.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/define/annotations.go
  pkg/api/handlers/libpod/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_checkpoint_options.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/checkpoint/crutils/checkpoint_restore_utils.go
  pkg/criu/criu.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/checkpoint_image_test.go
  vendor/github.com/checkpoint-restore/checkpointctl/lib/metadata.go
  vendor/modules.txt
Labels: lgtm, approved

#13954 [CI:DOCS] Update release notes for v4.0.3 and v3.4.7
  README.md
  RELEASE_NOTES.md
Labels: lgtm, approved

#13936 Optimization: skip tests in some circumstances
  contrib/cirrus/pr-should-include-tests
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#13960 Fix upgrade tests assuming storage.conf exists
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved

#13955 Fix size-check to display more context
  hack/make-and-check-size
Labels: lgtm, approved

#13957 Fix using --network-backend on podman-remote
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/utils/utils.go
Labels: lgtm, approved

#13963 Revert "container,inspect: convert Entrypoint to array instead of a string
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  test/e2e/create_test.go
  test/e2e/pod_create_test.go
  test/system/200-pod.bats
Labels: lgtm, approved

#13938 Vendor
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/secrets/shelldriver/shelldriver.go
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/directory/directory_dest.go
  vendor/github.com/containers/image/v5/directory/directory_src.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/reader.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/src.go
  vendor/github.com/containers/image/v5/docker/lookaside.go
  vendor/github.com/containers/image/v5/internal/iolimits/iolimits.go
  vendor/github.com/containers/image/v5/internal/streamdigest/stream_digest.go
  vendor/github.com/containers/image/v5/oci/archive/oci_transport.go
  vendor/github.com/containers/image/v5/oci/layout/oci_dest.go
  vendor/github.com/containers/image/v5/oci/layout/oci_src.go
  vendor/github.com/containers/image/v5/openshift/openshift-copies.go
  vendor/github.com/containers/image/v5/ostree/ostree_dest.go
  vendor/github.com/containers/image/v5/ostree/ostree_src.go
  vendor/github.com/containers/image/v5/pkg/blobcache/blobcache.go
  vendor/github.com/containers/image/v5/pkg/compression/compression.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/v5/pkg/tlsclientconfig/tlsclientconfig.go
  vendor/github.com/containers/image/v5/sif/load.go
  vendor/github.com/containers/image/v5/sif/src.go
  vendor/github.com/containers/image/v5/signature/mechanism.go
  vendor/github.com/containers/image/v5/signature/mechanism_gpgme.go
  vendor/github.com/containers/image/v5/signature/mechanism_openpgp.go
  vendor/github.com/containers/image/v5/signature/policy_config.go
  vendor/github.com/containers/image/v5/signature/policy_eval_signedby.go
  vendor/github.com/containers/image/v5/storage/storage_image.go
  vendor/github.com/containers/image/v5/tarball/tarball_src.go
  vendor/github.com/containers/image/v5/tarball/tarball_transport.go
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/drivers/driver_freebsd.go
  vendor/github.com/containers/storage/drivers/register/register_zfs.go
  vendor/github.com/containers/storage/drivers/zfs/zfs.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_freebsd.go
  vendor/github.com/containers/storage/drivers/zfs/zfs_linux.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/storage.conf-freebsd
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/LICENSE
  vendor/github.com/mitchellh/mapstructure/README.md
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/error.go
  vendor/github.com/mitchellh/mapstructure/go.mod
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/modules.txt
Labels: lgtm, approved

#13958 Workaround criu re-linking output in system test
  test/system/520-checkpoint.bats
Labels: lgtm, approved

#13956 Cirrus: Fix missing git-enforced runtime identity
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved

#13943 podman container clone -f
  cmd/podman/containers/clone.go
  docs/source/markdown/podman-container-clone.1.md
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  test/e2e/container_clone_test.go
Labels: lgtm, approved

#13935 system tests: add assert(), and start using it
  test/system/000-TEMPLATE
  test/system/001-basic.bats
  test/system/015-help.bats
  test/system/030-run.bats
  test/system/035-logs.bats
  test/system/040-ps.bats
  test/system/045-start.bats
  test/system/050-stop.bats
  test/system/065-cp.bats
  test/system/070-build.bats
  test/system/090-events.bats
  test/system/120-load.bats
  test/system/160-volumes.bats
  test/system/180-blkio.bats
  test/system/190-run-ipcns.bats
  test/system/200-pod.bats
  test/system/250-systemd.bats
  test/system/255-auto-update.bats
  test/system/400-unprivileged-access.bats
  test/system/410-selinux.bats
  test/system/450-interactive.bats
  test/system/500-networking.bats
  test/system/520-checkpoint.bats
  test/system/600-completion.bats
  test/system/750-trust.bats
  test/system/helpers.bash
Labels: lgtm, approved

#13971 [CI:DOCS] Run codespell on code
  docs/source/markdown/podman-image-unmount.1.md
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  test/system/090-events.bats
Labels: lgtm, approved

#13964 Switch all rootful to rootfull
  cmd/podman/machine/init.go
  cmd/podman/machine/set.go
  contrib/cirrus/logformatter
  contrib/podmanimage/README.md
  contrib/remote/containers.conf
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-image-scp.1.md
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine-set.1.md
  libpod/networking_slirp4netns.go
  pkg/bindings/README.md
  pkg/domain/infra/abi/images.go
  pkg/machine/config.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
  rootless.md
  test/e2e/exec_test.go
  test/e2e/mount_rootless_test.go
  test/e2e/network_test.go
  test/system/270-socket-activation.bats
  test/system/helpers.bash
Labels: lgtm, approved

#13969 specgen-volumes: parse `--mount` using csv-reader instead of split.
  pkg/specgenutil/volumes.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved

#13972 enable staticcheck linter
  .golangci.yml
  Makefile
  cmd/podman/containers/create.go
  cmd/podman/containers/export.go
  cmd/podman/containers/run.go
  cmd/podman/images/load.go
  cmd/podman/images/save.go
  cmd/podman/volumes/unmount.go
  go.mod
  libpod/container_inspect.go
  libpod/container_internal_linux.go
  libpod/healthcheck_linux.go
  libpod/options.go
  libpod/runtime_ctr.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/server/register_manifest.go
  pkg/bindings/containers/attach.go
  pkg/bindings/containers/term_unix.go
  pkg/bindings/containers/term_windows.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/secrets_test.go
  pkg/domain/infra/abi/terminal/terminal_linux.go
  pkg/domain/infra/tunnel/pods.go
  pkg/machine/fcos.go
  pkg/specgen/generate/kube/kube.go
  pkg/systemd/dbus.go
  pkg/terminal/util.go
  pkg/util/utils.go
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/login_logout_test.go
  test/e2e/push_test.go
  test/e2e/systemd_activate_test.go
  test/utils/common_function_test.go
  test/utils/utils.go
  test/version/main.go
  utils/utils_supported.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/modules.txt
Labels: lgtm, approved

#13881 Add support for --userns=nomap
  cmd/podman/common/completion.go
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  pkg/domain/infra/runtime_libpod.go
  pkg/namespaces/namespaces.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/namespaces.go
  pkg/util/utils.go
  test/e2e/run_userns_test.go
  test/e2e/toolbox_test.go
  test/system/030-run.bats
  test/system/065-cp.bats
  test/system/075-exec.bats
  test/system/160-volumes.bats
  test/system/170-run-userns.bats
  test/system/500-networking.bats
Labels: lgtm, approved

#13918 use etchosts package from c/common
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-run.1.md
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/container_internal_linux_test.go
  libpod/networking_linux.go
  pkg/specgen/container_validate.go
  test/e2e/pod_infra_container_test.go
  test/e2e/run_dns_test.go
  test/e2e/run_networking_test.go
  test/system/030-run.bats
  test/system/200-pod.bats
  test/system/500-networking.bats
  vendor/github.com/containers/common/libnetwork/etchosts/hosts.go
  vendor/github.com/containers/common/libnetwork/etchosts/ip.go
  vendor/github.com/containers/common/libnetwork/etchosts/util.go
  vendor/modules.txt
Labels: lgtm, approved

#13976 Update test to run network check in both rootless and rootfull mode
  test/system/500-networking.bats
Labels: lgtm, approved

#13959 Fix hang in apiv2 test_connect
  Makefile
  contrib/cirrus/logformatter
  contrib/cirrus/runner.sh
  test/apiv2/python/rest_api/fixtures/podman.py
Labels: lgtm, approved

#13973 replace golint with revive linter
  .golangci.yml
  cmd/podman/images/list.go
  cmd/podman/images/load.go
  cmd/podman/validate/args.go
  libpod/container_exec.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
  libpod/kube.go
  libpod/lock/in_memory_locks.go
  pkg/api/handlers/compat/containers_archive.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/bindings/connection.go
  pkg/bindings/test/common_test.go
  pkg/domain/entities/network.go
  pkg/domain/filters/containers.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/abi/trust.go
  pkg/k8s.io/api/core/v1/resource.go
  pkg/k8s.io/apimachinery/pkg/api/resource/quantity.go
  pkg/machine/fcos.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/specgen/generate/kube/seccomp.go
  pkg/specgen/generate/kube/volume.go
  pkg/specgen/namespaces.go
  test/e2e/common_test.go
  test/e2e/config_amd64.go
  test/system/450-interactive.bats
  test/testvol/main.go
  test/utils/matchers.go
  test/utils/utils.go
Labels: lgtm, approved

#13980 libpod/networking_linux.go: switch to sha256 hash generation
  libpod/networking_linux.go
Labels: lgtm, approved

#13988 Allow filtering of "removing", it is a valid status
  pkg/domain/filters/containers.go
  test/apiv2/20-containers.at
Labels: lgtm, approved

#13981 Add support for passing --volumepath
  cmd/podman/root.go
  docs/source/markdown/podman.1.md
  pkg/domain/infra/runtime_libpod.go
  pkg/specgenutil/util.go
  test/system/005-info.bats
Labels: lgtm, approved

#13993 Modify the pod name suffix '_pod' to '-pod'
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved

#13995 Rootfull -> Rootful
  cmd/podman/machine/init.go
  cmd/podman/machine/set.go
  contrib/cirrus/logformatter
  contrib/podmanimage/README.md
  contrib/remote/containers.conf
  docs/source/markdown/podman-build.1.md
  docs/source/markdown/podman-create.1.md
  docs/source/markdown/podman-image-scp.1.md
  docs/source/markdown/podman-machine-init.1.md
  docs/source/markdown/podman-machine-set.1.md
  docs/source/markdown/podman-network-reload.1.md
  docs/source/markdown/podman-play-kube.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-pull.1.md
  docs/source/markdown/podman-run.1.md
  docs/source/markdown/podman-system-service.1.md
  docs/tutorials/basic_networking.md
  libpod/networking_slirp4netns.go
  pkg/bindings/README.md
  pkg/domain/infra/abi/images.go
  pkg/machine/config.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
  rootless.md
  test/e2e/exec_test.go
  test/e2e/mount_rootless_test.go
  test/e2e/network_test.go
  test/system/270-socket-activation.bats
  test/system/500-networking.bats
  test/system/helpers.bash
Labels: lgtm, approved

#13998 Cirrus: Fix cirrus cache race on bin/podman
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#13978 enable unparam linter
  .golangci.yml
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  cmd/podman/system/connection/add.go
  libpod/container_api.go
  libpod/container_copy_linux.go
  libpod/container_internal_linux.go
  libpod/container_internal_linux_test.go
  libpod/container_stat_linux.go
  libpod/networking_linux.go
  libpod/networking_linux_test.go
  libpod/oci_conmon_exec_linux.go
  libpod/oci_conmon_linux.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_migrate.go
  libpod/runtime_volume_linux.go
  pkg/autoupdate/autoupdate.go
  pkg/domain/infra/abi/play.go
  pkg/machine/fcos.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/generate/ports.go
  pkg/specgenutil/specgen.go
  test/e2e/common_test.go
  test/e2e/play_kube_test.go
  test/e2e/run_aardvark_test.go
  test/testvol/main.go
Labels: lgtm, approved

#13999 [CI:DOCS] fix staticcheck linter warning for deprecated function
  cmd/podman/containers/ps.go
Labels: lgtm, approved

#13990 Pass --tls-verify option in podman -remote build
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
Labels: lgtm, approved

#13942 Add podman machine test suite
  Makefile
  cmd/podman/machine/init.go
  hack/golangci-lint.sh
  pkg/machine/e2e/basic_test.go
  pkg/machine/e2e/config.go
  pkg/machine/e2e/config_basic.go
  pkg/machine/e2e/config_init.go
  pkg/machine/e2e/config_inspect.go
  pkg/machine/e2e/config_list.go
  pkg/machine/e2e/config_rm.go
  pkg/machine/e2e/config_ssh.go
  pkg/machine/e2e/config_start.go
  pkg/machine/e2e/config_stop.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/inspect_test.go
  pkg/machine/e2e/list_test.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/e2e/rm_test.go
  pkg/machine/e2e/ssh_test.go
  pkg/machine/e2e/start_test.go
  pkg/machine/e2e/stop_test.go
  pkg/machine/fcos.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#14006 Unit tests for pkg/specgenutil pkg/signal
  pkg/signal/signal_common_test.go
  pkg/specgenutil/ports_test.go
  pkg/specgenutil/util_test.go
  pkg/specgenutil/volumes_test.go
Labels: lgtm, approved

#14004 [CI:BUILD] Cirrus: Re-fix build-cache miss on main
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved

#13908 Implement Windows volume/mount support
  cmd/podman/common/create_opts.go
  go.mod
  go.sum
  libpod/networking_linux.go
  libpod/networking_machine.go
  pkg/machine/ignition.go
  pkg/machine/wsl/machine.go
  pkg/specgen/volumes.go
  pkg/specgen/winpath.go
  pkg/specgen/winpath_linux.go
  pkg/specgen/winpath_unsupported.go
  pkg/specgen/winpath_windows.go
  pkg/specgenutil/specgenutil_test.go
  pkg/specgenutil/volumes.go
  vendor/github.com/containers/common/libnetwork/etchosts/ip.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_freebsd.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/machine/machine.go
  vendor/modules.txt
Labels: lgtm, approved

#13996 machine starting status
  capture.pcap
  cmd/podman/machine/inspect.go
  pkg/machine/config.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, 4.1, do-not-merge/needs integration tests

#14011 [CI:DOCS]Remove unnecesarry files
  capture.pcap
  cmd/podman/containers/utils.go
Labels: lgtm, approved

#14010 remote: do not join user NS
  pkg/rootless/rootless_linux.go
Labels: lgtm, approved

#14005 vendor in containers/(common,buildah,storage)
  go.mod
  go.sum
  test/buildah-bud/apply-podman-deltas
  test/buildah-bud/buildah-tests.diff
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/internal/parse/parse.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pull.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/onsi/gomega/.travis.yml
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/Dockerfile
  vendor/github.com/onsi/gomega/Makefile
  vendor/github.com/onsi/gomega/RELEASING.md
  vendor/github.com/onsi/gomega/docker-compose.yaml
  vendor/github.com/onsi/gomega/gexec/build.go
  vendor/github.com/onsi/gomega/go.mod
  vendor/github.com/onsi/gomega/go.sum
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/internal/assertion.go
  vendor/github.com/onsi/gomega/internal/async_assertion.go
  vendor/github.com/onsi/gomega/internal/gomega.go
  vendor/github.com/onsi/gomega/internal/gutil/post_ioutil.go
  vendor/github.com/onsi/gomega/internal/gutil/using_ioutil.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/contain_element_matcher.go
  vendor/github.com/onsi/gomega/matchers/have_each_matcher.go
  vendor/github.com/onsi/gomega/matchers/have_field.go
  vendor/github.com/onsi/gomega/matchers/have_http_body_matcher.go
  vendor/github.com/onsi/gomega/matchers/have_http_status_matcher.go
  vendor/github.com/onsi/gomega/matchers/have_value.go
  vendor/github.com/onsi/gomega/matchers/with_transform.go
  vendor/github.com/onsi/gomega/tools
  vendor/github.com/onsi/gomega/types/types.go
  vendor/modules.txt
Labels: lgtm, approved

#14013 Cirrus: Fix skipping all/most tests
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#14009 benchmarks: add more image benchmarks
  Makefile
  hack/podman-registry-go/registry.go
  test/e2e/benchmarks_test.go
Labels: lgtm, approved

#14029 play kube respect hostNetwork
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#14023 Truncate annotations when generating kubernetes yaml files
  cmd/podman/play/kube.go
  libpod/define/annotations.go
  libpod/kube.go
  pkg/domain/infra/abi/play.go
  pkg/machine/e2e/config_init.go
  pkg/machine/e2e/machine_test.go
  test/system/700-play.bats
Labels: lgtm, approved

#13698 Bump version to v4.1.0-dev
  pkg/api/handlers/libpod/manifests.go
  pkg/api/server/register_manifest.go
  pkg/bindings/manifests/manifests.go
  pkg/bindings/test/manifests_test.go
  test/apiv2/01-basic.at
  version/version.go
Labels: lgtm, approved

#14020 [v3.0.1-rhel] update json-iterator/go for golang-1.18
  go.mod
  go.sum
  vendor/github.com/json-iterator/go/README.md
  vendor/github.com/json-iterator/go/go.mod
  vendor/github.com/json-iterator/go/go.sum
  vendor/github.com/json-iterator/go/iter_float.go
  vendor/github.com/json-iterator/go/iter_int.go
  vendor/github.com/json-iterator/go/reflect.go
  vendor/github.com/json-iterator/go/reflect_json_raw_message.go
  vendor/github.com/json-iterator/go/reflect_struct_decoder.go
  vendor/github.com/modern-go/reflect2/.travis.yml
  vendor/github.com/modern-go/reflect2/Gopkg.lock
  vendor/github.com/modern-go/reflect2/Gopkg.toml
  vendor/github.com/modern-go/reflect2/go.mod
  vendor/github.com/modern-go/reflect2/go_above_118.go
  vendor/github.com/modern-go/reflect2/go_above_17.go
  vendor/github.com/modern-go/reflect2/go_above_19.go
  vendor/github.com/modern-go/reflect2/go_below_118.go
  vendor/github.com/modern-go/reflect2/go_below_17.go
  vendor/github.com/modern-go/reflect2/go_below_19.go
  vendor/github.com/modern-go/reflect2/reflect2.go
  vendor/github.com/modern-go/reflect2/test.sh
  vendor/github.com/modern-go/reflect2/type_map.go
  vendor/github.com/modern-go/reflect2/unsafe_link.go
  vendor/github.com/modern-go/reflect2/unsafe_map.go
  vendor/modules.txt
Labels: lgtm, approved

#13953 Allow changing of CPUs, Memory, and Disk Size
  cmd/podman/machine/set.go
  docs/source/markdown/podman-machine-set.1.md
  pkg/machine/config.go
  pkg/machine/e2e/config_set.go
  pkg/machine/e2e/set_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_test.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, 4.1

#13376 Update to F36 CI VM Images + Testing netavark/aardvark-dns
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/run_networking_test.go
Labels: lgtm, approved

#14034 Add CreatedSince & CreatedAt format fields to podman image history
  cmd/podman/images/history.go
  docs/source/markdown/podman-history.1.md
  test/system/110-history.bats
Labels: lgtm, approved, 4.1

#14041 [CI:DOCS] Emergency fix for new CI linter
  pkg/machine/qemu/machine.go
Labels: approved

#14047 podman search: truncate by default
  cmd/podman/images/search.go
  docs/source/markdown/podman-search.1.md
Labels: lgtm, approved

#14051 volume: add new option -o o=noquota
  docs/source/markdown/podman-volume-create.1.md
  libpod/options.go
  libpod/runtime_volume_linux.go
  libpod/volume.go
  libpod/volume_internal.go
  pkg/domain/infra/abi/parse/parse.go
  test/test_podman_baseline.sh
Labels: lgtm, approved

#14042 [CI:DOCS] Bump to v4.1.0-rc1
  RELEASE_NOTES.md
Labels: lgtm, approved

#14039 Report properly whether pod shares host network
  libpod/pod.go
  libpod/pod_api.go
  test/system/200-pod.bats
Labels: lgtm, approved

#14024 podman machine starting test
  pkg/machine/e2e/config.go
  pkg/machine/e2e/list_test.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved

#14033 Refactor machine inspect
  cmd/podman/machine/inspect.go
  pkg/machine/config.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/config_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, 4.1

#14045 remove unused codepath for creating/running ctr in a pod
  libpod/pod.go
Labels: lgtm, approved

#14061 libpod: unlock containers when removing pod
  libpod/runtime_pod_linux.go
Labels: lgtm, approved

#14036 [CI:DOCS] Github PR template: add release-note block
  .github/PULL_REQUEST_TEMPLATE.md
Labels: lgtm, approved

#14062 libpod: host netns keep same /etc/resolv.conf
  libpod/container_internal_linux.go
  test/system/500-networking.bats
Labels: lgtm, approved, 4.1

#14032 [CI:DOCS] buildah-vendor-treadmill script: yet more checks
  hack/buildah-vendor-treadmill
Labels: lgtm, approved

#14026 Use simulated dual-stack binds when using WSL
  cmd/rootlessport/main.go
  cmd/rootlessport/wsl.go
  cmd/rootlessport/wsl_test.go
Labels: lgtm, approved, 4.1
