Repository containers/podman, pull requests merged in 2022-05, with the labels that each got.

#14069 Implement machine inspect for WSL
  pkg/machine/wsl/machine.go
Labels: lgtm, approved

#14063 libpod: unset networks before storing container conf
  libpod/boltdb_state_internal.go
Labels: lgtm, approved

#13859 pod: add exit policies
  cmd/podman/common/completion.go
  cmd/podman/pods/create.go
  docs/source/markdown/podman-pod-create.1.md
  go.mod
  go.sum
  libpod/container_internal.go
  libpod/define/pod_inspect.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime.go
  libpod/runtime_worker.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/podspecgen.go
  test/system/200-pod.bats
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/pod_exit_policy.go
  vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/enabled_go117.go
  vendor/golang.org/x/tools/internal/typeparams/enabled_go118.go
  vendor/golang.org/x/tools/internal/typeparams/normalize.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  vendor/golang.org/x/tools/internal/typeparams/typeterm.go
  vendor/modules.txt
Labels: lgtm, approved

#14078 CI: emergency fix for broken go get
  Makefile
Labels: lgtm, approved

#14081 Treadmill script: revamp
  hack/buildah-vendor-treadmill
Labels: lgtm, approved

#14089 generate systemd: pods: set exit policy
  pkg/systemd/generate/pods.go
  pkg/systemd/generate/pods_test.go
Labels: lgtm, approved

#14085 Add podman machine events
  cmd/podman/machine/init.go
  cmd/podman/machine/inspect.go
  cmd/podman/machine/list.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  cmd/podman/main.go
  cmd/podman/system/connection.go
  cmd/podman/validate/noop.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/events_linux.go
  libpod/events/memory.go
  test/e2e/common_test.go
  test/e2e/system_service_test.go
Labels: lgtm, approved, kind/feature, 4.1

#14097 [v4.0] CI: emergency fix for broken go get
  Makefile
Labels: lgtm, approved

#14096 [v4.0-rhel] CI: emergency fix for broken go get
  Makefile
Labels: lgtm, approved

#14099 Implement --format for machine inspect
  cmd/podman/machine/inspect.go
  pkg/machine/e2e/inspect_test.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, 4.1

#14108 machine events: only open sockets when needed
  cmd/podman/machine/machine.go
Labels: lgtm, approved, 4.1

#14109 libpod: treat ECONNRESET as EOF
  libpod/oci_attach_linux.go
Labels: lgtm, approved, 4.1

#14066 podman system reset removed machines incorrectly
  cmd/podman/machine/init.go
  cmd/podman/machine/inspect.go
  cmd/podman/machine/list.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/platform.go
  cmd/podman/machine/platform_windows.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/set.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  cmd/podman/system/reset.go
  cmd/podman/system/reset_machine.go
  cmd/podman/system/reset_machine_unsupported.go
  docs/source/markdown/podman-system-reset.1.md
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
  test/e2e/system_reset_test.go
Labels: lgtm, approved, 4.1

#14095 Add more unit tests
  pkg/domain/utils/utils_test.go
  pkg/env/env_test.go
Labels: lgtm, approved

#14037 Report correct RemoteURI
  cmd/podman/system/service_abi.go
  libpod/runtime.go
  pkg/api/server/server.go
  pkg/domain/infra/abi/system.go
  pkg/util/utils.go
  test/e2e/info_test.go
  test/e2e/play_kube_test.go
  test/e2e/system_connection_test.go
  test/e2e/system_service_test.go
  test/system/272-system-connection.bats
Labels: lgtm, approved, 4.1

#14116 [CI:DOCS] Bump to v4.1.0-RC2
  README.md
  RELEASE_NOTES.md
  docs/source/Reference.rst
Labels: lgtm, approved

#14092 benchmarks: push/pull
  hack/podman-registry-go/registry.go
  test/e2e/benchmarks_test.go
Labels: lgtm, approved

#14122 Fix usermod call in rootless_tutorial.md
  docs/tutorials/rootless_tutorial.md
Labels: lgtm, approved

#14123 [CI:DOCS] Update rootless_tutorial.md
  docs/tutorials/rootless_tutorial.md
Labels: lgtm, approved

#14059 pass networks to container clone
  libpod/container.go
  pkg/domain/infra/abi/containers.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  test/e2e/container_clone_test.go
Labels: lgtm, approved

#14118 Vendor in containers/buildah@v1.26.1
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/buildah-bud/apply-podman-deltas
  test/buildah-bud/buildah-tests.diff
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/buildah.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/config.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/copier/unwrap_112.go
  vendor/github.com/containers/buildah/copier/unwrap_113.go
  vendor/github.com/containers/buildah/copier/xattrs.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/imagebuildah/util.go
  vendor/github.com/containers/buildah/internal/util/util.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/fsouza/go-dockerclient/auth.go
  vendor/github.com/fsouza/go-dockerclient/client.go
  vendor/github.com/fsouza/go-dockerclient/go.mod
  vendor/github.com/fsouza/go-dockerclient/go.sum
  vendor/github.com/fsouza/go-dockerclient/plugin.go
  vendor/github.com/fsouza/go-dockerclient/system.go
  vendor/github.com/fsouza/go-dockerclient/tar.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/imagebuilder.spec
  vendor/modules.txt
Labels: lgtm, approved

#14124 e2e cleanups
  test/e2e/manifest_test.go
  test/e2e/pull_test.go
Labels: lgtm, approved

#14125 build: disable and hide `--output` for podman-remote clients
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
Labels: lgtm, approved

#14129 test: use `T.TempDir` to create temporary test directory
  libpod/container_internal_linux_test.go
  libpod/container_internal_test.go
  libpod/lock/file/file_lock_test.go
  pkg/hooks/hooks_test.go
  pkg/hooks/monitor_test.go
  pkg/hooks/read_test.go
  pkg/machine/qemu/config_test.go
  pkg/specgen/generate/kube/play_test.go
Labels: lgtm, approved

#14132 Bump to v4.1.0
  README.md
  RELEASE_NOTES.md
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/play/kube.go
  libpod/container.go
  libpod/oci_attach_linux.go
  pkg/api/handlers/libpod/play.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/utils/utils_test.go
  pkg/env/env_test.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  test/e2e/container_clone_test.go
  test/system/700-play.bats
  version/version.go
Labels: lgtm, approved, bloat_approved

#14138 [CI:DOCS] update podman version in README and API docs
  README.md
  docs/source/Reference.rst
Labels: lgtm, approved

#14136 libpod: add c.ConfigWithNetworks()
  libpod/container.go
  pkg/specgen/generate/container.go
Labels: lgtm, approved

#14121 play kube log tag handling
  libpod/oci_conmon_exec_linux.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#14152 test: fix "podman search format json"
  test/e2e/search_test.go
Labels: lgtm, approved

#14158 test skipper: check for $DEST_BRANCH
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
Labels: lgtm, approved

#14147 fix: Container.cGroupPath() skip empty line to avoid false error logging
  libpod/container.go
Labels: lgtm, approved

#14180 Cirrus: Fix Makefile including 'hack' in $PATH
  Makefile
Labels: lgtm, approved

#14179 Cirrus: Guarantee $DEST_BRANCH is passed through
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved

#14176 test: simplify cleanup code
  test/e2e/common_test.go
Labels: lgtm, approved

#14170 Add more machine tests
  cmd/podman/machine/list.go
  pkg/machine/e2e/config_init.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/inspect_test.go
  pkg/machine/e2e/list_test.go
  pkg/machine/e2e/set_test.go
Labels: lgtm, approved

#14141 [CI:DOCS] Add Windows Guide/Tutorial
  docs/tutorials/podman-for-windows.md
  docs/tutorials/podman-win-install.jpg
  docs/tutorials/podman-wsl-term.jpg
Labels: lgtm, approved

#14198 [CI:DOCS] man pages: fix inconsistencies
  docs/source/markdown/podman-auto-update.1.md
  docs/source/markdown/podman-history.1.md
  docs/source/markdown/podman-system-connection-list.1.md
Labels: lgtm, approved

#14215 sdnotify: send MAINPID only once
  libpod/oci_conmon_linux.go
  test/system/260-sdnotify.bats
Labels: lgtm, approved

#14211 vendor: update c/storage and c/image
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/lookaside.go
  vendor/github.com/containers/image/v5/docker/paths_common.go
  vendor/github.com/containers/image/v5/docker/paths_freebsd.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/paths_common.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/paths_freebsd.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/v5/signature/policy_config.go
  vendor/github.com/containers/image/v5/signature/policy_paths_common.go
  vendor/github.com/containers/image/v5/signature/policy_paths_freebsd.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/chrootarchive/archive.go
  vendor/github.com/containers/storage/pkg/chrootarchive/chroot_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/mount/mounter_freebsd.go
  vendor/github.com/containers/storage/pkg/mount/mounter_unsupported.go
  vendor/github.com/containers/storage/storage.conf-freebsd
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/containers/storage/types/options_darwin.go
  vendor/github.com/containers/storage/types/options_freebsd.go
  vendor/github.com/containers/storage/types/options_linux.go
  vendor/github.com/containers/storage/types/options_windows.go
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/inflate_gen.go
  vendor/github.com/klauspost/compress/huff0/autogen.go
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_8b_amd64.s.in
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s.in
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/fuzz.go
  vendor/github.com/klauspost/compress/zstd/fuzz_none.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/modules.txt
Labels: lgtm, approved

#14216 shell completion --format: work with pointer functions
  cmd/podman/common/completion.go
  cmd/podman/common/completion_test.go
Labels: lgtm, approved

#14159 play kube: service container
  cmd/podman/play/kube.go
  go.mod
  go.sum
  libpod/container.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_validate.go
  libpod/define/container_inspect.go
  libpod/options.go
  libpod/pod.go
  libpod/pod_api.go
  libpod/runtime_img.go
  libpod/runtime_pod_linux.go
  libpod/service.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/pause_image.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/podspecgen.go
  test/e2e/containers_conf_test.go
  test/system/200-pod.bats
  test/system/700-play.bats
  test/system/helpers.bash
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/normalize.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/cni/run.go
  vendor/github.com/containers/common/libnetwork/internal/util/create.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/capabilities/capabilities.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_supported.go
  vendor/github.com/containers/common/pkg/completion/completion.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/pkg/machine/machine.go
  vendor/github.com/containers/common/pkg/parse/parse_unix.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/seccomp/conversion.go
  vendor/github.com/containers/common/pkg/seccomp/filter.go
  vendor/github.com/containers/common/pkg/seccomp/types.go
  vendor/github.com/containers/common/pkg/secrets/filedriver/filedriver.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/github.com/containers/common/pkg/secrets/secretsdb.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/sysinfo/nummem_linux.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved

#14221 Fix broken pwd
  Makefile
Labels: lgtm, approved

#14196 [v4.0-rhel] vendor bumps: c/ocicrypt, c/image and buildah
  go.mod
  go.sum
  test/e2e/search_test.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/key.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/keyring.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/perm.go
  vendor/github.com/containers/image/v5/internal/pkg/keyctl/sys_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_linux.go
  vendor/github.com/containers/image/v5/pkg/docker/config/config_unsupported.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/ocicrypt/MAINTAINERS
  vendor/github.com/containers/ocicrypt/crypto/pkcs11/pkcs11helpers.go
  vendor/github.com/containers/ocicrypt/go.mod
  vendor/github.com/containers/ocicrypt/go.sum
  vendor/github.com/fsouza/go-dockerclient/LICENSE
  vendor/github.com/fsouza/go-dockerclient/Makefile
  vendor/github.com/fsouza/go-dockerclient/go.mod
  vendor/github.com/fsouza/go-dockerclient/go.sum
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/value/name.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/miekg/pkcs11/.travis.yml
  vendor/github.com/miekg/pkcs11/README.md
  vendor/github.com/miekg/pkcs11/pkcs11.go
  vendor/github.com/miekg/pkcs11/release.go
  vendor/github.com/miekg/pkcs11/types.go
  vendor/github.com/miekg/pkcs11/zconst.go
  vendor/modules.txt
Labels: lgtm, approved

#14206 Add support for machine events on Windows
  cmd/podman/machine/machine.go
  cmd/podman/machine/machine_unix.go
  cmd/podman/machine/machine_windows.go
  pkg/util/utils_windows.go
Labels: lgtm, approved

#14227 Make sure tests are cleaned up when they complete
  test/e2e/build_test.go
  test/e2e/save_test.go
  test/e2e/volume_create_test.go
Labels: lgtm, approved

#14226 [CI:DOCS] Treadmill script: add --reset option
  hack/buildah-vendor-treadmill
Labels: lgtm, approved

#14205 Vendor in latest containers/common
  go.mod
  go.sum
  test/e2e/containers_conf_test.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/pkg/config/config_freebsd.go
  vendor/github.com/containers/common/pkg/config/config_linux.go
  vendor/github.com/containers/common/pkg/config/config_windows.go
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_darwin.go
  vendor/github.com/containers/common/pkg/config/default_freebsd.go
  vendor/github.com/containers/common/pkg/config/default_linux.go
  vendor/github.com/containers/common/pkg/config/default_windows.go
  vendor/github.com/containers/common/pkg/parse/parse_unix.go
  vendor/modules.txt
Labels: lgtm, approved

#14241 Robust whitespace split of cpu utilization line from /proc/stat
  libpod/info.go
  libpod/info_test.go
Labels: lgtm, approved

#14247 [v4.1] Cherry-pick windows machine events
  cmd/podman/machine/machine.go
  cmd/podman/machine/machine_unix.go
  cmd/podman/machine/machine_windows.go
  pkg/util/utils_windows.go
Labels: lgtm, approved

#14232 [BZ #2083997] pod: build pause image in custom user NS
  pkg/specgen/generate/pause_image.go
  test/system/170-run-userns.bats
Labels: lgtm, approved

#14250 Update WSL machine OS to enable user lingering
  pkg/machine/wsl/machine.go
Labels: lgtm, approved

#14246 [CI:DOCS] Update tutorial list to include Podman for Windows
  docs/source/Tutorials.rst
  docs/tutorials/mac_win_client.md
Labels: lgtm, approved

#14229 Cleanup strange buildtag edit
  cmd/podman/machine/machine_unix.go
Labels: lgtm, approved

#14257 Bump to v3.0.2
  RELEASE_NOTES.md
  version/version.go
Labels: lgtm, approved

#14255 Don't complain about XDG_RUNTIME_DIR, Closes #1424
  libpod/runtime.go
Labels: lgtm, approved

#14258 Make errors on removing exec sessions nonfatal
  libpod/runtime_ctr.go
Labels: lgtm, approved

#14254 api: make no-op `remote` functional in `/libpod/build`
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: lgtm, approved

#14234 Changed permission of .ubuntu_prepare.sh to 755
  .ubuntu_prepare.sh
Labels: lgtm, approved

#14280 [v4.1] [BZ #2083997] pod: build pause image in custom user NS
  pkg/specgen/generate/pod_create.go
  test/system/170-run-userns.bats
Labels: lgtm, approved, kind/bug, release-note

#14228 Deleting an n use image should return conflict not system error
  pkg/api/handlers/compat/images_remove.go
  test/apiv2/10-images.at
Labels: lgtm, approved

#13870 Makefile: simplify for modern Go
  .cirrus.yml
  .gitignore
  Makefile
  contrib/cirrus/pr-should-include-tests
  pkg/api/Makefile
  podman.spec.rpkg
Labels: lgtm, approved

#14288 linter: enable unconvert linter
  .golangci.yml
  cmd/podman/common/create_test.go
  cmd/podman/containers/kill.go
  cmd/podman/containers/rm.go
  cmd/podman/containers/stop.go
  libpod/container_internal_linux.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build_unix.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/parse/parse.go
  pkg/domain/infra/abi/system.go
  pkg/k8s.io/apimachinery/pkg/api/resource/amount.go
  pkg/k8s.io/apimachinery/pkg/api/resource/quantity.go
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/oci.go
  test/e2e/login_logout_test.go
  test/e2e/network_test.go
  test/e2e/run_networking_test.go
  test/e2e/system_df_test.go
  utils/utils.go
Labels: lgtm, approved, release-note-none

#14272 shell completion: use more constants in the code
  cmd/podman/common/completion.go
  cmd/podman/common/inspect.go
  cmd/podman/containers/inspect.go
  cmd/podman/images/inspect.go
  cmd/podman/images/save.go
  cmd/podman/inspect/inspect.go
  cmd/podman/networks/inspect.go
  cmd/podman/volumes/export.go
  cmd/podman/volumes/import.go
  cmd/podman/volumes/inspect.go
  libpod/events/config.go
Labels: lgtm, approved, release-note-none

#14297 Swagger refactor/cleanup
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/compat/events.go
  pkg/api/handlers/compat/exec.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/compat/images_prune.go
  pkg/api/handlers/compat/info.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/compat/secrets.go
  pkg/api/handlers/compat/swagger.go
  pkg/api/handlers/compat/version.go
  pkg/api/handlers/compat/volumes.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/generate.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/libpod/swagger.go
  pkg/api/handlers/libpod/swagger_spec.go
  pkg/api/handlers/libpod/volumes.go
  pkg/api/handlers/swagger/doc.go
  pkg/api/handlers/swagger/errors.go
  pkg/api/handlers/swagger/models.go
  pkg/api/handlers/swagger/responses.go
  pkg/api/handlers/swagger/swagger.go
  pkg/api/handlers/types.go
  pkg/api/handlers/utils/containers.go
  pkg/api/server/doc.go
  pkg/api/server/register_archive.go
  pkg/api/server/register_auth.go
  pkg/api/server/register_containers.go
  pkg/api/server/register_events.go
  pkg/api/server/register_exec.go
  pkg/api/server/register_generate.go
  pkg/api/server/register_healthcheck.go
  pkg/api/server/register_images.go
  pkg/api/server/register_info.go
  pkg/api/server/register_manifest.go
  pkg/api/server/register_networks.go
  pkg/api/server/register_ping.go
  pkg/api/server/register_play.go
  pkg/api/server/register_pods.go
  pkg/api/server/register_secrets.go
  pkg/api/server/register_system.go
  pkg/api/server/register_version.go
  pkg/api/server/register_volumes.go
  pkg/api/server/server.go
  pkg/api/server/swagger.go
  pkg/api/types/types.go
  pkg/bindings/containers/commit.go
  pkg/bindings/containers/exec.go
  pkg/bindings/manifests/manifests.go
  pkg/domain/entities/filters.go
  pkg/domain/entities/pods.go
  pkg/domain/entities/types.go
  pkg/domain/entities/volumes.go
  pkg/errorhandling/errorhandling.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, HTTP API, release-note-none

#14274 dependabot: add release-note-none label
  .github/dependabot.yml
Labels: lgtm, approved, release-note-none

#14300 Update c/image
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/copy/copy.go
  vendor/github.com/containers/image/v5/image/docker_list.go
  vendor/github.com/containers/image/v5/image/oci_index.go
  vendor/github.com/proglottis/gpgme/gpgme.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#14310 [CI:DOCS] fix podman-for-windows.md
  docs/tutorials/podman-for-windows.md
Labels: lgtm, approved, release-note-none

#14292 auto update: create an event
  libpod/events.go
  libpod/events/events.go
  libpod/runtime.go
  libpod/runtime_renumber.go
  pkg/autoupdate/autoupdate.go
  test/system/255-auto-update.bats
Labels: lgtm, approved, release-note

#14240 [CI:BUILD] Cirrus: Fix building multiarch images
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14323 Update _play kube_ doc following PR #14266 merging
  docs/source/markdown/podman-play-kube.1.md
Labels: lgtm, approved

#14321 Instead of erroring, clean up after dangling IDs in DB
  libpod/boltdb_state.go
Labels: lgtm, approved, release-note

#14328 [v4.1] Cirrus: Remove unused netavark/aardvark variables
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14294 fix compat image resolution
  pkg/api/handlers/utils/images.go
  test/apiv2/70-short-names.at
Labels: lgtm, approved, release-note

#14343 [CI:DOCS] Put current product first and historical product second
  docs/tutorials/mac_experimental.md
Labels: lgtm, approved, release-note-none

#14341 TODO's and FIXME's [PART 1]
  cmd/podman/common/completion.go
  cmd/podman/images/mount.go
  cmd/podman/images/search.go
  go.mod
  go.sum
  libpod/container_top_linux.go
  pkg/bindings/images/images.go
  pkg/bindings/images/pull.go
  pkg/bindings/images/rm.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/images_list.go
  pkg/domain/infra/abi/images_test.go
  pkg/inspect/inspect.go
  test/e2e/search_test.go
  test/system/060-mount.bats
  vendor/github.com/containers/common/libimage/define/search.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/search.go
  vendor/github.com/containers/common/libnetwork/cni/cni_conversion.go
  vendor/github.com/containers/common/libnetwork/cni/cni_exec.go
  vendor/github.com/containers/common/libnetwork/cni/cni_types.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/cni/config_freebsd.go
  vendor/github.com/containers/common/libnetwork/cni/config_linux.go
  vendor/github.com/containers/common/libnetwork/cni/network.go
  vendor/github.com/containers/common/libnetwork/cni/run.go
  vendor/github.com/containers/common/libnetwork/cni/run_freebsd.go
  vendor/github.com/containers/common/libnetwork/cni/run_linux.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/const.go
  vendor/github.com/containers/common/libnetwork/netavark/exec.go
  vendor/github.com/containers/common/libnetwork/netavark/ipam.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/netavark/run.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/libnetwork/network/interface_freebsd.go
  vendor/github.com/containers/common/libnetwork/network/interface_linux.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_supported.go
  vendor/github.com/containers/common/pkg/completion/command.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_local.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/pull_policy.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#14348 [CI:DOCS] Remove TODO re: storage-driver
  cmd/podman/root.go
Labels: lgtm, approved, kind/documentation, release-note-none

#14319 compat, build: suppress `step` errors when `quiet=1` is set
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: lgtm, approved

#14330 cmd/podman/common/completion.go: fix FIXMEs
  cmd/podman/common/completion.go
  pkg/signal/signal_common.go
  pkg/signal/signal_linux.go
  pkg/signal/signal_linux_mipsx.go
  pkg/signal/signal_unix.go
  pkg/signal/signal_unsupported.go
Labels: lgtm, approved, release-note

#14346 help-message system test: catch more cases
  cmd/podman/pods/ps.go
  test/system/015-help.bats
Labels: lgtm, approved, release-note-none

#14334 Allow podman pod create to accept name argument
  cmd/podman/pods/create.go
  cmd/podman/volumes/create.go
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-pod-create.1.md
  docs/source/markdown/podman-volume-create.1.md
  test/system/200-pod.bats
Labels: lgtm, approved, release-note

#14354 work queue: simplify and use a wait group
  libpod/runtime.go
  libpod/runtime_worker.go
Labels: lgtm, approved, release-note-none

#14308 Support running podman under a root v2 cgroup
  libpod/container_internal_linux.go
  pkg/specgen/generate/validate.go
  utils/testdata/cgroup.empty
  utils/testdata/cgroup.other
  utils/testdata/cgroup.root
  utils/utils_supported.go
  utils/utils_test.go
  utils/utils_windows.go
Labels: lgtm, approved, release-note

#14333 Allow podman pod create --share +pid
  cmd/podman/pods/create.go
  docs/source/markdown/podman-pod-create.1.md
  test/system/200-pod.bats
Labels: lgtm, approved, kind/feature, release-note

#14357 Fix codespell errors
  cmd/podman/common/completion.go
  pkg/api/handlers/compat/images_build.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
  pkg/util/utils.go
Labels: lgtm, approved, release-note-none

#14358 Todo part 2
  libpod/events/events.go
  libpod/pod_top_linux.go
  pkg/api/handlers/compat/images.go
  pkg/auth/auth.go
  pkg/bindings/containers/archive.go
  pkg/bindings/play/play.go
  test/system/250-systemd.bats
Labels: lgtm, approved, release-note-none

#14361 fix f35 integration test network flake
  test/e2e/run_networking_test.go
Labels: lgtm, approved, release-note-none

#14329 First batch of resolutions to FIXMEs
  docs/source/markdown/podman-kill.1.md
  libpod/container.go
  libpod/container_api.go
  libpod/container_config.go
  libpod/container_exec.go
  libpod/container_internal_linux.go
  test/e2e/kill_test.go
Labels: lgtm, approved, release-note

#14366 Support remote deadlock errors in rm
  cmd/podman/containers/rm.go
Labels: lgtm, approved, kind/cleanup, release-note-none

#14369 Remove more FIXMEs
  libpod/plugin/volume_api.go
  libpod/pod_api.go
  libpod/runtime.go
Labels: lgtm, approved, release-note-none

#14372 [v3.2.3-rhel] Disable static v3.2.3 rhel
  .cirrus.yml
  hack/install_golangci.sh
Labels: lgtm, approved, release-note-none

#14318 [CI:DOCS] Add play kube support docs
  docs/play_kube_support.md
Labels: lgtm, approved, release-note

#14378 [CI:DOCS] Fix test block bypass instructions
  CONTRIBUTING.md
Labels: lgtm, approved, release-note-none

#14371 [v3.2] Cirrus: Disable CI on unmaintained branch
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#14373 Fix TODO in pod/ps.go and parse/net.go
  cmd/podman/parse/net.go
  cmd/podman/pods/ps.go
Labels: lgtm, approved, release-note-none

#14381 [CI:DOCS] Cirrus: Fix several TODOs
  contrib/cirrus/ext_svc_check.sh
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#14355 [CI:Docs]: note regarding version compatablity between server and client for bug fixes.
  troubleshooting.md
Labels: lgtm, approved

#14374 Combine the CheckAllLatest CID and PodID functions
  cmd/podman/containers/checkpoint.go
  cmd/podman/containers/cleanup.go
  cmd/podman/containers/init.go
  cmd/podman/containers/kill.go
  cmd/podman/containers/mount.go
  cmd/podman/containers/port.go
  cmd/podman/containers/restart.go
  cmd/podman/containers/restore.go
  cmd/podman/containers/rm.go
  cmd/podman/containers/stop.go
  cmd/podman/containers/unmount.go
  cmd/podman/networks/reload.go
  cmd/podman/pods/kill.go
  cmd/podman/pods/pause.go
  cmd/podman/pods/restart.go
  cmd/podman/pods/rm.go
  cmd/podman/pods/start.go
  cmd/podman/pods/stop.go
  cmd/podman/pods/unpause.go
  cmd/podman/validate/args.go
Labels: lgtm, approved, release-note-none

#14377 Fix swagger model of `InspectPodResponse`
  libpod/define/pod_inspect.go
Labels: lgtm, approved, release-note-none

#14382 Remove TODO comment
  cmd/podman/machine/init.go
Labels: lgtm, approved, kind/cleanup, release-note-none

#14387 [CI:DOCS] Quick typo for troubleshooting
  troubleshooting.md
Labels: lgtm, approved, release-note-none

#14320 build: allow using `cache` explicitly with `--squash-all` using `--layers`
  cmd/podman/images/build.go
  docs/source/markdown/podman-build.1.md
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/buildah-bud/apply-podman-deltas
  test/e2e/build_test.go
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/go.mod
  vendor/github.com/containers/buildah/go.sum
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/internal/parse/parse.go
  vendor/github.com/containers/buildah/internal/types.go
  vendor/github.com/containers/buildah/internal/util/util.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/storage/go.mod
  vendor/github.com/containers/storage/go.sum
  vendor/github.com/containers/storage/pkg/system/meminfo_freebsd.go
  vendor/github.com/containers/storage/pkg/system/meminfo_unsupported.go
  vendor/github.com/containers/storage/pkg/unshare/unshare.c
  vendor/github.com/containers/storage/pkg/unshare/unshare.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_cgo.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_freebsd.c
  vendor/github.com/containers/storage/pkg/unshare/unshare_freebsd.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_unsupported.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_unsupported_cgo.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/modules.txt
Labels: lgtm, approved

#14393 Add API support for NoOverwriteDirNonDir
  libpod/container_api.go
  libpod/container_copy_linux.go
  pkg/api/handlers/compat/containers_archive.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/archive.go
Labels: lgtm, approved, kind/cleanup, release-note-none

#14383 Add Authorization field to Plugins for Info
  libpod/define/info.go
  libpod/info.go
Labels: lgtm, approved, kind/cleanup, release-note-none

#14415 no-new-privileges format
  pkg/specgenutil/specgen.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#14419 podman volume export/import: give better error
  cmd/podman/volumes/export.go
  cmd/podman/volumes/import.go
  docs/source/markdown/podman-volume-import.1.md
  docs/source/markdown/podman-volume.1.md
  test/e2e/volume_create_test.go
Labels: lgtm, approved, release-note-none

#14433 fix podman container restore without CreateNetNS
  libpod/container_config.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note
