Repository containers/podman, pull requests merged in 2023-02, with the labels that each got.

#17311 Emergency fix for RHEL8 gating tests
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#17301 [4.4] fix regression with runc --privileged rootless containers
  pkg/util/utils_linux.go
Labels: lgtm, approved

#17314 Bump to v4.4.0
  RELEASE_NOTES.md
  version/version.go
Labels: lgtm, approved, release-note-none

#17319 [v4.0-rhel] all: stop using deprecated GenerateNonCryptoID
  libpod/container_exec.go
  libpod/pod_internal.go
  libpod/runtime_ctr.go
  libpod/runtime_volume_linux.go
  test/e2e/common_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/create_test.go
  test/e2e/diff_test.go
  test/e2e/events_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_ps_test.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_staticip_test.go
  test/e2e/run_test.go
  test/e2e/volume_exists_test.go
Labels: lgtm, approved, release-note-none

#17320 system tests: minor fix for RHEL8 incompatibility
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#17315 [v4.2.0-rhel] all: stop using deprecated GenerateNonCryptoID
  libpod/container_exec.go
  libpod/pod_internal.go
  libpod/runtime_ctr.go
  libpod/runtime_volume_linux.go
  test/e2e/common_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/create_test.go
  test/e2e/diff_test.go
  test/e2e/events_test.go
  test/e2e/logs_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_ps_test.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_staticip_test.go
  test/e2e/run_test.go
  test/e2e/volume_exists_test.go
  test/e2e/volume_plugin_test.go
Labels: lgtm, approved, release-note-none

#17326 [CI:DOCS] hack/perf/bz-2162111.sh: measure stop
  hack/perf/bz-2162111.sh
Labels: lgtm, approved, release-note-none

#17327 system tests: fix volume exec/noexec test
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note-none

#17166 Cirrus: Use versionable IMAGE_SUFFIX
  .cirrus.yml
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, release-note-none

#17274 libpod: support idmap for --rootfs
  docs/source/markdown/options/rootfs.md
  go.mod
  go.sum
  libpod/container_config.go
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/container_internal_test.go
  libpod/options.go
  libpod/runtime.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgen/specgen_test.go
  pkg/util/utils.go
  pkg/util/utils_test.go
  test/system/030-run.bats
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/containers.go
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/images.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/idmap/idmapped_utils.go
  vendor/github.com/containers/storage/pkg/idmap/idmapped_utils_unsupported.go
  vendor/github.com/containers/storage/store.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#17343 test: adapt test to work on cgroupv1
  test/system/030-run.bats
Labels: lgtm, approved, release-note-none

#17325 system-reset: use `CleanCacheMount` to clear build cache
  cmd/podman/system/reset.go
  go.mod
  go.sum
  test/e2e/build/cache/Dockerfilecacheread
  test/e2e/build/cache/Dockerfilecachewrite
  test/e2e/build_test.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#17334 Update main to reflect v4.4.0 release
  README.md
  RELEASE_NOTES.md
  docs/source/Reference.rst
  version/version.go
Labels: lgtm, approved, release-note-none

#17350 libpod: allow userns=keep-id for root
  docs/source/markdown/options/userns.container.md
  pkg/specgen/generate/namespaces.go
  pkg/util/utils.go
  test/e2e/run_userns_test.go
  test/system/170-run-userns.bats
Labels: lgtm, approved, release-note

#17302 Handle filetype field in kubernetes.yaml files
  libpod/kube.go
  pkg/k8s.io/api/core/v1/types.go
  pkg/specgen/generate/kube/kube.go
  test/system/700-play.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note

#17303 Expose Podman named pipe in Inspect output
  pkg/machine/config.go
  pkg/machine/machine_windows.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#17357 Backport #15618 to v4.0-rhel
  libpod/container_internal_linux.go
  pkg/specgen/namespaces.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note-none

#17338 [CI:DOCS] Add YAML syntax highlighting in issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: lgtm, approved, release-note-none

#17347 system tests: fix noexistent labels test in the remote
  test/system/410-selinux.bats
Labels: lgtm, approved, release-note-none

#17331 make hack/markdown-preprocess parallel-safe
  hack/markdown-preprocess
Labels: lgtm, approved, release-note

#17356 oci: bind mount /sys with --userns=(auto|pod:)
  pkg/specgen/generate/oci_linux.go
Labels: lgtm, approved, release-note-none

#17335 [CI:DOCS] hack/perf/bz-2162111.sh: use custom network
  hack/perf/bz-2162111.sh
  hack/perf/create.sh
  hack/perf/ps.sh
  hack/perf/rm.sh
  hack/perf/run.sh
  hack/perf/start.sh
  hack/perf/stop.sh
Labels: lgtm, approved, release-note-none

#17351 Install podman-systemd.unit man page, make quadlet discoverable
  Makefile
  docs/source/markdown/links/quadlet.5
  docs/source/markdown/podman-systemd.unit.5.md
  podman.spec.rpkg
Labels: lgtm, approved, release-note, 4.4

#17367 Move `clean-binaries` before `podman-remote` in podman-remote-docs target
  Makefile
Labels: lgtm, approved, release-note-none

#17381 Cirrus: Emergency fix to un-stuck PRs
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, do-not-merge/hold, release-note-none

#17352 Add quadlet support for Rootfs and SELinux labels containers
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/disableselinux.container
  test/e2e/quadlet/noimage.container
  test/e2e/quadlet/rootfs.container
  test/e2e/quadlet/selinux.container
  test/e2e/quadlet_test.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#17364 Add missing return after utils.Error()
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/libpod/networks.go
Labels: lgtm, approved, release-note-none, kind/api-change, 4.4

#17354 [CI:DOCS] docs/podman-systemd.unit: Update example to work out of the box + Explicitely mention '.network' units
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#17376 network ls: handle removed container
  pkg/api/handlers/compat/networks.go
Labels: lgtm, approved, release-note, kind/api-change

#17383 [CI:BUILD] Cirrus: Fix GraphQL ownerRepository:null error
  .github/actions/check_cirrus_cron/cron_failures.sh
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, release-note-none

#17398 Quadlet: exit 0 when there are no files to process
  cmd/quadlet/main.go
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#17378 Fix a potential UID/GID collision in unit tests
  libpod/container_internal_linux_test.go
Labels: lgtm, approved, release-note-none

#17411 [CI:BUILD] Cirrus: Fix & remove GraphQL API tests
  .github/actions/check_cirrus_cron/cron_failures.sh
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, release-note-none

#17401 [CI:DOCS] events: document journald identifiers
  docs/source/markdown/podman-events.1.md
Labels: lgtm, approved, release-note

#17416 Fix typos in comments
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved, release-note

#17421 e2e: fix some tests on remote
  test/e2e/containers_conf_test.go
  test/e2e/unshare_test.go
Labels: lgtm, approved, release-note-none

#17417 Sort quadlet keys to make it easier to read
  pkg/systemd/quadlet/quadlet.go
Labels: lgtm, approved, release-note-none

#17027 Resolve symlink path for qemu directory if possible
  pkg/machine/qemu/options_darwin_arm64.go
Labels: lgtm, approved, release-note-none

#17380 tests: pasta: Mitigation for socat connect() getting EINTR and two other fixes
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#17420 kube play: do not teardown unconditionally on error
  cmd/podman/kube/play.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#17427 [CI:DOCS] OWNERS: add @ygalblum and @alexlarsson
  OWNERS
Labels: lgtm, approved, release-note-none

#17437 [CI:DOCS] github: remove prefix from bugs/features
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: lgtm, approved, release-note-none

#17439 Bump to v4.4.1
  RELEASE_NOTES.md
  version/version.go
Labels: lgtm, approved

#17423 Quadlet: Add support for the Secret key in Container group
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/secrets.container
  test/e2e/quadlet_test.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#17442 [v4.0-rhel] vendor: update c/common to v0.47.6
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/cgroups/cgroups.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/godbus/dbus/v5/auth.go
  vendor/github.com/godbus/dbus/v5/conn.go
  vendor/github.com/godbus/dbus/v5/conn_other.go
  vendor/github.com/godbus/dbus/v5/dbus.go
  vendor/github.com/godbus/dbus/v5/doc.go
  vendor/github.com/godbus/dbus/v5/escape.go
  vendor/github.com/godbus/dbus/v5/export.go
  vendor/github.com/godbus/dbus/v5/homedir.go
  vendor/github.com/godbus/dbus/v5/homedir_dynamic.go
  vendor/github.com/godbus/dbus/v5/homedir_static.go
  vendor/github.com/godbus/dbus/v5/message.go
  vendor/github.com/godbus/dbus/v5/server_interfaces.go
  vendor/github.com/godbus/dbus/v5/sig.go
  vendor/github.com/godbus/dbus/v5/transport_unix.go
  vendor/github.com/godbus/dbus/v5/transport_zos.go
  vendor/github.com/godbus/dbus/v5/variant.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#17440 [CI:DOCS] Cleanup some man pages to display options with line breaks
  docs/source/markdown/podman-kube-play.1.md.in
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-volume-create.1.md
Labels: lgtm, approved, release-note-none

#17412 Add ctrName to network alias during kube play
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#17449 Run codespell on codebase
  Makefile
  contrib/cirrus/lib.sh
  libpod/define/container_inspect.go
  pkg/k8s.io/api/core/v1/types.go
  pkg/k8s.io/apimachinery/pkg/api/resource/quantity.go
  test/system/035-logs.bats
Labels: lgtm, approved, release-note-none

#17443 [CI:DOCS] man-page checker: include --format (Go templates)
  docs/source/markdown/podman-auto-update.1.md.in
  docs/source/markdown/podman-container-inspect.1.md.in
  docs/source/markdown/podman-events.1.md
  docs/source/markdown/podman-history.1.md
  docs/source/markdown/podman-images.1.md.in
  docs/source/markdown/podman-network-inspect.1.md
  docs/source/markdown/podman-network-ls.1.md.in
  docs/source/markdown/podman-pod-ps.1.md.in
  docs/source/markdown/podman-ps.1.md
  docs/source/markdown/podman-secret-inspect.1.md
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved, release-note

#17459 Fix typos. Improve language.
  cmd/podman/system/connection/add.go
  cmd/podman/utils/error.go
  libpod/container_api.go
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal_common.go
  libpod/container_stat_common.go
  libpod/define/container.go
  libpod/events/nullout.go
  libpod/lock/shm/shm_lock.c
  libpod/logs/log.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
  libpod/networking_unsupported.go
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/containers_archive.go
  pkg/api/handlers/compat/volumes.go
  pkg/specgen/generate/container.go
  test/apiv2/10-images.at
  test/e2e/play_kube_test.go
  test/e2e/volume_create_test.go
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note-none, kind/api-change

#17469 kube play: set service container as main PID when possible
  pkg/domain/infra/abi/play.go
  test/system/250-systemd.bats
  test/system/252-quadlet.bats
  test/system/260-sdnotify.bats
Labels: lgtm, approved, release-note-none

#17474 run "typos --write-changes"
  cmd/podman/common/create.go
  cmd/podman/kube/generate.go
  cmd/quadlet/main.go
  contrib/cirrus/logformatter.t
  contrib/cirrus/wsl-env-launch.ps1
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman-systemd.unit.5.md
  docs/tutorials/qemu-remote-tutorial.md
  libpod/boltdb_state.go
  libpod/options.go
  pkg/api/server/register_networks.go
  pkg/bindings/errors.go
  pkg/domain/utils/scp.go
  pkg/errorhandling/errorhandling.go
  pkg/k8s.io/apimachinery/pkg/api/resource/quantity.go
  pkg/k8s.io/apimachinery/pkg/apis/meta/v1/duration.go
  pkg/k8s.io/apimachinery/pkg/apis/meta/v1/time.go
  pkg/machine/e2e/config_ssh_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/set_test.go
  pkg/machine/e2e/ssh_test.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/oci_linux.go
  pkg/util/camelcase/README.md
  test/python/docker/compat/test_containers.py
Labels: lgtm, approved, release-note-none, kind/api-change

#17486 [CI:DOCS] man page xref: validate displayed man page names
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman-system.1.md
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved, release-note-none

#17487 quadlet: add ExecStop
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.container
Labels: lgtm, approved, release-note-none

#17379 Add ulimit annotation to kube gen & play
  libpod/define/annotations.go
  libpod/kube.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, release-note

#17500 [CI:DOCS] man page --format xref: tighten the autocompletion check
  docs/source/markdown/podman-history.1.md
  docs/source/markdown/podman-machine-list.1.md.in
  docs/source/markdown/podman-network-inspect.1.md
  docs/source/markdown/podman-network-ls.1.md.in
  docs/source/markdown/podman-search.1.md.in
  docs/source/markdown/podman-system-connection-list.1.md
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved, release-note-none

#17501 Don't set hostPort when generating a service
  libpod/kube.go
  pkg/domain/infra/abi/generate.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, release-note

#17483 fix != filter in volume prune
  pkg/domain/filters/volumes.go
  test/e2e/volume_prune_test.go
Labels: lgtm, approved, release-note-none

#17207 add support for limiting tmpfs size for systemd-specific mnts
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  docs/source/markdown/options/shm-size-systemd.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-pod-clone.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  libpod/container_config.go
  libpod/container_internal_linux.go
  libpod/options.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/pod_create_test.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note

#17506 Allow specification of podman --remote build -f -
  cmd/podman/images/build.go
  test/system/070-build.bats
Labels: lgtm, approved, release-note

#17392 e2e: adapt play kube test on remote rootless
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#17493 Quadlet use crun specified in containers.conf
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basepodman.container
  test/e2e/quadlet/basic.container
Labels: lgtm, approved, release-note-none

#17494 Introduce podman machine os apply
  Makefile
  cmd/podman/machine/os.go
  cmd/podman/machine/os/apply.go
  cmd/podman/machine/os/manager.go
  cmd/podman/machine/os/os_unsupported.go
  cmd/podman/main.go
  cmd/podman/main_experimental.go
  docs/source/markdown/podman-machine-inspect.1.md
  docs/source/markdown/podman-machine-os-apply.1.md
  docs/source/markdown/podman-machine-os.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/e2e/config_os_apply_test.go
  pkg/machine/e2e/os_test.go
  pkg/machine/os/config.go
  pkg/machine/os/machine_os.go
  pkg/machine/os/ostree.go
Labels: lgtm, approved, release-note

#17518 system tests: prevent leading tabs
  contrib/cirrus/prebuild.sh
  test/system/020-tag.bats
  test/system/030-run.bats
  test/system/055-rm.bats
  test/system/065-cp.bats
  test/system/070-build.bats
  test/system/160-volumes.bats
  test/system/220-healthcheck.bats
  test/system/250-systemd.bats
  test/system/410-selinux.bats
  test/system/500-networking.bats
  test/system/700-play.bats
  test/system/800-config.bats
Labels: lgtm, approved, release-note-none

#17505 Experimental workaround for cdn03.quay.io flake
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#17525 quadlet system tests: add useful defaults, logging
  test/system/252-quadlet.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#17458 Cirrus: Omit functions in env. file
  contrib/cirrus/lib.sh
Labels: lgtm, approved, release-note-none

#17519 [v4.4.1-rhel] Bump c/image to v5.24.1
  go.mod
  go.sum
  vendor/github.com/containers/image/v5/docker/body_reader.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#17535 [v4.0-rhel] Backport #17528
  libpod/container_internal.go
  utils/utils.go
Labels: lgtm, approved, release-note-none

#17541 CI: Temporarily disable all AWS EC2-based tasks
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17527 [CI:BUILD] copr: podman.spec.rpkg cleanups
  podman.spec.rpkg
Labels: lgtm, approved, release-note-none

#17464 [FEAT] Support sysctl configurations from Pod Spec
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/pod_create.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#17538 System tests: assert(): friendlier failure messages
  test/system/helpers.bash
  test/system/helpers.t
Labels: lgtm, approved, release-note-none

#17544 Emergency fix for man pages: check for broken includes
  Makefile
  docs/source/markdown/options/secret.md
Labels: lgtm, approved, release-note

#17546 V4.4.1 rhel backports
  .cirrus.yml
  test/system/090-events.bats
Labels: lgtm, approved, release-note-none

#17548 kube play: only enforce passthrough in Quadlet
  cmd/podman/kube/play.go
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.kube
  test/e2e/quadlet_test.go
  test/system/250-systemd.bats
Labels: lgtm, approved, release-note

#17532 Backport #17528 to v4.4
  libpod/container_internal.go
  utils/utils.go
Labels: lgtm, approved, release-note-none

#17533 [v4.4.1-rhel] Backport #17528
  libpod/container_internal.go
  utils/utils.go
Labels: lgtm, approved, release-note-none

#17554 [CI:BUILD] Revert "CI: Temporarily disable all AWS EC2-based tasks"
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17559 [v4.4.1-rhel] [CI:DOCS] Touch up secret man page
  docs/source/markdown/options/secret.md
Labels: lgtm, approved, release-note-none

#17547 journald: remove initializeJournal()
  libpod/container_log_linux.go
  libpod/container_log_unsupported.go
  libpod/runtime_ctr.go
Labels: lgtm, approved, release-note-none

#17566 [CI:DOCS] Fix spacing typo & indent units in podman-systemd.unit(5)
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#17561 [CI:DOCS] Add restriction to option README
  docs/source/markdown/options/README.md
Labels: lgtm, approved, release-note-none

#17564 Update remote_client.md
  docs/tutorials/remote_client.md
Labels: lgtm, approved

#17508 auto-update: support pods
  docs/source/markdown/podman-auto-update.1.md.in
  pkg/autoupdate/autoupdate.go
  test/system/255-auto-update.bats
Labels: lgtm, approved, release-note

#17522 libpod: support relative positions for idmaps
  docs/source/markdown/options/mount.md
  libpod/container_internal_common.go
  libpod/container_internal_test.go
Labels: lgtm, approved, release-note

#17531 RHEL8 gating-test skips and tweaks
  test/system/252-quadlet.bats
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#17536 [CI:DOCS] Cirrus: Fix version-check to only run on `main` job
  docs/tutorials/mac_win_client.md
  docs/tutorials/podman-for-windows.md
  docs/version-check
Labels: lgtm, approved, release-note-none

#17576 make docs: sanity check for broken man pages
  Makefile
Labels: lgtm, approved, release-note-none

#17309 podman image scp: added identity for ssh.Exec
  pkg/domain/utils/scp.go
Labels: lgtm, approved

#17502 podman logs: read journald with passthrough
  libpod/container_log.go
  libpod/container_log_linux.go
  libpod/container_log_unsupported.go
  libpod/logs/log.go
  test/system/250-systemd.bats
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#17584 machine refactoring preparations for hyperv
  cmd/podman/machine/platform.go
  cmd/podman/machine/platform_windows.go
  pkg/machine/applehv/machine.go
  pkg/machine/config.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/fcos.go
  pkg/machine/fcos_test.go
  pkg/machine/pull.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/fedora.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#17596 [CI:DOCS] Windows/Mac docs link update
  docs/tutorials/mac_win_client.md
  docs/tutorials/podman-for-windows.md
Labels: lgtm, approved, documentation, release-note-none

#17594 compat API: network create return 409 for duplicate
  pkg/api/handlers/compat/networks.go
  test/apiv2/35-networks.at
Labels: lgtm, approved, release-note, kind/api-change

#17578 netavark: only use aardvark ip as nameserver
  libpod/container_internal_common.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#17577 libpod: always use direct mapping for idmapped mounts
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/container_internal_test.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved, release-note

#17603 Logs follow-until tests: loosen checks
  test/system/010-images.bats
  test/system/035-logs.bats
  test/system/170-run-userns.bats
  test/system/500-networking.bats
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#17305 Replace Ubuntu -> Debian SID
  .cirrus.yml
  Makefile
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup_environment.sh
  test/buildah-bud/apply-podman-deltas
  test/e2e/common_test.go
  test/e2e/play_kube_test.go
  test/e2e/run_userns_test.go
  test/system/070-build.bats
  test/system/252-quadlet.bats
  test/system/505-networking-pasta.bats
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#17526 kube: rm secret on down, print secret on play
  cmd/podman/kube/play.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved

#17604 [CI:BUILD] spec.rpkg: trim dependency list
  podman.spec.rpkg
Labels: lgtm, approved, release-note-none

#17597 Machine refactor for QEMU/AppleHV
  pkg/machine/applehv/config.go
  pkg/machine/applehv/machine.go
  pkg/machine/config.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/fcos.go
  pkg/machine/fcos_test.go
  pkg/machine/pull.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/fedora.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/util_windows.go
Labels: lgtm, approved, release-note-none

#17602 docs: context is not optional for build
  docs/source/markdown/podman-build.1.md.in
Labels: lgtm, approved, release-note-none

#17589 system: add warning when running rootless on cgroupv1
  cmd/podman/system/service_abi.go
Labels: lgtm, approved, release-note-none

#17615 sqlite: complete Pod methods
  libpod/sqlite_state.go
  libpod/sqlite_state_internal.go
Labels: lgtm, approved, release-note-none

#17618 Bump to v4.4.2
  RELEASE_NOTES.md
  version/version.go
Labels: lgtm, approved, release-note-none

#17608 CI: new rootless buildah-bud tests (cron only)
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17621 [CI:DOCS] Temporarily disable version-check
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#17617 Vendor in latest containers/storage
  go.mod
  go.sum
  libpod/container_internal_test.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/Makefile
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/ioutils/readers.go
  vendor/github.com/containers/storage/pkg/regexp/regexp.go
  vendor/github.com/containers/storage/pkg/truncindex/truncindex.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/config.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/version.go
  vendor/github.com/tchap/go-patricia/v2/AUTHORS
  vendor/github.com/tchap/go-patricia/v2/LICENSE
  vendor/github.com/tchap/go-patricia/v2/patricia/children.go
  vendor/github.com/tchap/go-patricia/v2/patricia/patricia.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#17641 [v4.4] Quadlet - use the default runtime
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basepodman.container
  test/e2e/quadlet/basic.container
Labels: lgtm, approved, release-note

#17643 Cirrus: Fix bud tests failing to apply patches
  test/buildah-bud/run-buildah-bud-tests
Labels: lgtm, approved, release-note-none

#17113 Support for Windows paths in the source position of the volume mounts
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_unix.go
  pkg/machine/qemu/machine_windows.go
Labels: lgtm, approved, release-note-none

#17649 [CI:DOCS] Fix user socket path in README
  pkg/bindings/README.md
Labels: release-note-none

#17650 Revert "Skip all pasta tests"
  .cirrus.yml
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#17636 Remove replicas field from kubernetes deployment support doc
  docs/kubernetes_support.md
Labels: lgtm, approved, release-note-none

#17457 [CI:DOCS] Document update for docker network options via CLI
  docs/source/markdown/podman-network-create.1.md
Labels: lgtm, approved

#17450 create: add entry to /etc/group via `--group-entry`
  cmd/podman/common/create.go
  docs/source/markdown/options/group-entry.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  libpod/container_config.go
  libpod/container_internal_common.go
  libpod/options.go
  pkg/domain/entities/pods.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/run_passwd_test.go
Labels: lgtm, approved, release-note

#17648 pkginstaller: bump Qemu to version 7.2.0
  contrib/pkginstaller/Makefile
Labels: lgtm, approved, release-note-none
