Repository containers/podman, pull requests merged in 2023-03, with the labels that each got.

#17656 Quadlet: Add support for the Mount key in .container files
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/mount.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#17653 fix "podman logs --since --follow" flake
  test/system/035-logs.bats
Labels: lgtm, approved, release-note-none

#17659 Cirrus: Fix git config permission denied
  test/buildah-bud/run-buildah-bud-tests
Labels: lgtm, approved, release-note-none

#17673 auto-update test: wait for service to be ready
  test/system/255-auto-update.bats
Labels: lgtm, approved, release-note-none

#16717 play kube: Add --wait option
  cmd/podman/kube/down.go
  cmd/podman/kube/play.go
  docs/source/markdown/podman-kube-play.1.md.in
  libpod/service.go
  libpod/shutdown/handler.go
  pkg/api/handlers/libpod/kube.go
  pkg/api/server/register_kube.go
  pkg/bindings/kube/types.go
  pkg/bindings/kube/types_play_options.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/tunnel/kube.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note, kind/api-change

#17658 sqlite updates
  libpod/sqlite_state.go
  libpod/sqlite_state_internal.go
Labels: lgtm, approved, release-note-none

#17661 podman machine: Adjust Chrony makestep config
  pkg/machine/ignition.go
Labels: lgtm, approved, release-note

#17620 [CI:DOCS] Fix docs/version-check always requesting updates
  contrib/cirrus/runner.sh
  docs/tutorials/mac_win_client.md
  docs/tutorials/podman-for-windows.md
  docs/version-check
Labels: lgtm, approved, release-note-none

#17678 sqlite: add a hidden --db-backend flag
  cmd/podman/root.go
  libpod/define/info.go
  libpod/info.go
  libpod/options.go
  pkg/domain/entities/engine.go
  pkg/domain/infra/runtime_libpod.go
  test/system/005-info.bats
Labels: lgtm, approved, release-note-none

#17677 fix: update the default machine value when the previously set default machine is deleted
  cmd/podman/machine/rm.go
Labels: lgtm, approved, release-note-none

#17684 cmd: do not require userns for "version"
  cmd/podman/images/scp.go
  cmd/podman/main.go
  cmd/podman/registry/config.go
  cmd/podman/system/version.go
  pkg/rootless/rootless_linux.c
Labels: lgtm, approved, release-note

#17686 Fix package restore of shadow-utils on Windows
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#17683 [CI:DOCS] Add image not found info to troubleshooting
  troubleshooting.md
Labels: lgtm, approved, release-note-none

#17691 Quadlet: add support for setting --ip and --ip6
  .gitignore
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/ip.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#17700 Cirrus: Run system & integration tests in parallel
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17706 Update checkpointctl v0.1.0
  go.mod
  go.sum
  pkg/checkpoint/crutils/checkpoint_restore_utils.go
  vendor/github.com/checkpoint-restore/checkpointctl/lib/metadata.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#17713 pasta: Re-enable "Local forwarder, IPv4" test now that packages in CI images are fixed
  .cirrus.yml
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#17725 podman.spec.rpkg: distro conditionals for modulesloaddir
  podman.spec.rpkg
Labels: lgtm, approved, release-note-none

#17386 podman inspect list network when using --net=host or none
  libpod/networking_common.go
  test/apiv2/20-containers.at
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#17249 Must use mountlabel when creating builtin volumes
  libpod/options.go
  libpod/pod.go
  libpod/runtime_ctr.go
  libpod/runtime_volume_common.go
  libpod/util_freebsd.go
  libpod/util_linux.go
  libpod/util_linux_test.go
  libpod/util_unsupported.go
  libpod/volume.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/volume.go
  test/system/160-volumes.bats
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#17747 [CI:DOCS] fix cmd `set DOCKER_HOST` suggestion
  docs/tutorials/podman-for-windows.md
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#17739 test: reenable idmap test
  test/e2e/common_test.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved, release-note-none

#17770 auto update system tests: help debug #17607
  test/system/255-auto-update.bats
Labels: lgtm, approved, release-note-none

#17759 Revert "pasta: Use two connections instead of three in TCP range forward tests"
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#17758 bud tests: rootless remote: use correct socket path
  test/buildah-bud/buildah-tests.diff
Labels: lgtm, approved, release-note-none

#17707 test/system: fix wait_for_port() to wait for bind
  test/system/272-system-connection.bats
  test/system/helpers.network.bash
Labels: lgtm, approved, release-note-none

#17772 podman events: unhide --stream
  cmd/podman/system/events.go
  docs/source/markdown/podman-events.1.md
Labels: lgtm, approved, release-note

#17781 system service --log-level=trace: support hijack
  pkg/api/server/handler_logging.go
  test/system/251-system-service.bats
Labels: lgtm, approved, release-note, kind/api-change

#17786 podman-mac-helper: exit 1 on error
  cmd/podman-mac-helper/main.go
Labels: lgtm, approved, release-note

#17793 [CI:DOCS] fix: Document removing anonymous volumes
  docs/source/markdown/podman-run.1.md.in
Labels: lgtm, approved, release-note-none

#17771 events: no duplicates when streaming during a log rotation
  libpod/events/logfile.go
  libpod/events/logfile_test.go
  test/system/090-events.bats
Labels: lgtm, approved, release-note

#17729 Support running nested SELinux container separation
  cmd/podman/containers/create.go
  docs/source/markdown/options/security-opt.md
  libpod/container_config.go
  libpod/container_internal_linux.go
  libpod/define/annotations.go
  libpod/options.go
  libpod/runtime_volume_common.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/containers_conf_test.go
  test/system/410-selinux.bats
Labels: lgtm, approved, release-note

#17766 [CI:DOCS] Document --format for additional man pages
  docs/source/markdown/podman-image-inspect.1.md
  docs/source/markdown/podman-machine-info.1.md
  docs/source/markdown/podman-machine-inspect.1.md
  docs/source/markdown/podman-secret-inspect.1.md
  docs/source/markdown/podman-secret-ls.1.md.in
  docs/source/markdown/podman-system-df.1.md
  docs/source/markdown/podman-volume-inspect.1.md
  docs/source/markdown/podman-volume-ls.1.md.in
Labels: lgtm, approved, release-note

#17755 Use append() to add elements to a slice (restore)
  pkg/domain/infra/abi/containers.go
Labels: lgtm, approved, release-note-none

#17688 Add SQLite job to CI
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  libpod/container_internal_common.go
  libpod/runtime_volume_common.go
  libpod/sqlite_state.go
  libpod/sqlite_state_internal.go
  libpod/volume.go
  pkg/specgenutil/util.go
  test/e2e/common_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/pod_create_test.go
  test/e2e/prune_test.go
  test/e2e/run_transient_test.go
  test/utils/utils.go
Labels: lgtm, approved, release-note-none

#17808 Revert "Revert "pasta: Use two connections instead of three in TCP ra…
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#17790 [v4.4.1-rhel] Use append() to add elements to a slice (restore)
  pkg/domain/infra/abi/containers.go
Labels: lgtm, approved, release-note-none

#17818 logformatter: futureproof output filename
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#17822 CI: test and confirm DESIRED_DATABASE
  test/e2e/info_test.go
  test/system/001-basic.bats
  test/system/005-info.bats
Labels: lgtm, approved, release-note-none

#17798 [SKIP CI] buildah treadmill: also run rootless tests
  hack/buildah-vendor-treadmill
Labels: lgtm, approved, release-note-none

#17757 Use default_ulimits field in containers.conf
  pkg/api/handlers/libpod/containers_create.go
  pkg/specgen/generate/container_create.go
  pkg/specgenutil/specgen.go
  test/e2e/containers_conf_test.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note, kind/api-change

#17842 Fix option --opts -> --opt
  docs/source/markdown/podman-volume-create.1.md
Labels: lgtm, approved, release-note-none

#17846 Makefile: allow specifying /lib dir location
  Makefile
Labels: lgtm, approved, release-note-none

#17834 Add support for oom_score_adj value from containers.conf
  pkg/specgen/generate/container_create.go
  test/e2e/config/containers.conf
  test/e2e/containers_conf_test.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#17830 fix --health-on-failure=restart in transient unit
  libpod/container_internal.go
  libpod/healthcheck.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#17821 Add service ctr cleanup to PlayKubeDown
  pkg/domain/infra/abi/play.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#17857 Quadlet - add support for relative path in Volume key in .container file
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/mount.container
  test/e2e/quadlet/volume.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#17862 [v4.4] fix --health-on-failure=restart in transient unit
  libpod/container_internal.go
  libpod/healthcheck.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#17863 [v4.4.1-rhel] fix --health-on-failure=restart in transient unit
  libpod/container_internal.go
  libpod/healthcheck.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#17864 [v4.3.1-rhel] fix --health-on-failure=restart in transient unit
  libpod/container_internal.go
  libpod/healthcheck.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#17872 quadlet tests: skip on RHEL8 rootless
  test/system/252-quadlet.bats
  test/system/260-sdnotify.bats
Labels: lgtm, approved, release-note-none

#17861 New ulimit test: bump up minimum nfiles
  test/system/030-run.bats
Labels: lgtm, approved, release-note-none

#17735 Cirrus: Store podman machine benchmark data
  .cirrus.yml
  contrib/cirrus/cirrus_yaml_test.py
Labels: lgtm, approved, release-note-none

#17879 Run make codespell
  Makefile
  cmd/podman/containers/export.go
  libpod/runtime_img.go
  test/e2e/run_networking_test.go
  test/e2e/systemd_activate_test.go
  test/system/030-run.bats
  test/system/150-login.bats
Labels: lgtm, approved, release-note-none

#17875 quadlet tests: skip on RHEL8 rootless
  test/system/252-quadlet.bats
  test/system/260-sdnotify.bats
Labels: lgtm, approved, release-note-none

#17874 Sqlite fixes
  libpod/sqlite_state.go
  libpod/sqlite_state_internal.go
Labels: lgtm, approved, release-note-none

#17887 test: podman checkpoint/restore the latest container
  test/system/520-checkpoint.bats
Labels: lgtm, approved, release-note-none

#17891 4.4 backports
  go.mod
  go.sum
  pkg/api/handlers/compat/auth.go
  test/e2e/run_test.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/auth/cli.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note, kind/api-change

#17889 More sqlite fixes
  libpod/sqlite_state.go
Labels: lgtm, approved, release-note-none

#17890 stats compat API: return "id" lowercase
  pkg/api/handlers/compat/containers_stats.go
  pkg/api/handlers/compat/types.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note, kind/api-change

#17916 macos pkginstaller: fix regression which caused the installer to fail
  cmd/podman-mac-helper/install.go
  contrib/pkginstaller/scripts/postinstall
Labels: lgtm, approved, release-note

#17917 Ensure that SQLite state handles name-ID collisions
  libpod/sqlite_state.go
  test/e2e/create_test.go
  test/e2e/pod_create_test.go
Labels: lgtm, approved, release-note-none

#17941 fix os.IsNotExist() CI check
  contrib/cirrus/check_go_changes.sh
Labels: lgtm, approved, release-note-none

#17944 system tests: fix racey sdnotify test
  test/system/260-sdnotify.bats
Labels: lgtm, approved, release-note-none

#17894 hyperv: lookup machine on local filesystem first
  go.mod
  go.sum
  pkg/machine/hyperv/config.go
  pkg/machine/hyperv/machine.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/error.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/memory_settings.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/processor_settings.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/summary.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/system_settings.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/system_settings_builder.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vm.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vmm.go
  vendor/github.com/containers/libhvee/pkg/wmiext/conversion.go
  vendor/github.com/containers/libhvee/pkg/wmiext/service.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#17895 add CONTAINERS_CONF_OVERRIDE
  go.mod
  go.sum
  test/e2e/run_test.go
  test/system/005-info.bats
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#17945 CI: retry the golangci install
  hack/install_golangci.sh
Labels: lgtm, approved, release-note-none

#17951 system tests: use CONTAINERS_CONF_OVERRIDE
  test/system/030-run.bats
  test/system/070-build.bats
  test/system/090-events.bats
  test/system/160-volumes.bats
  test/system/170-run-userns.bats
  test/system/200-pod.bats
  test/system/500-networking.bats
  test/system/700-play.bats
  test/system/800-config.bats
Labels: lgtm, approved, release-note-none

#17930 Quadlet - treat paths starting with systemd specifiers as absolute
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/env-file.container
  test/e2e/quadlet/volume.container
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#17953 sqlite: do not `Ping()` after connecting
  libpod/sqlite_state.go
Labels: lgtm, approved, release-note-none

#17963 fix slirp4netns resolv.conf ip with a userns
  libpod/container_internal.go
  libpod/container_internal_common.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#16315 remote,build: ignore if `.containerignore` or `.dockerignore` is a symlink outside of buildContext
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  pkg/util/utils.go
  test/buildah-bud/apply-podman-deltas
  test/e2e/build/containerignore-symlink/.dockerignore
  test/e2e/build/containerignore-symlink/Dockerfile
  test/e2e/build/containerignore-symlink/hello
  test/e2e/build/containerignore-symlink/world
  test/e2e/build_test.go
Labels: lgtm, approved, release-note, kind/api-change, 4.4

#17847 [CI:DOCS] Add network subnets info to network man page
  docs/source/markdown/podman-network.1.md
Labels: lgtm, approved, release-note-none

#17969 [v4.4.1-rhel] fix slirp4netns resolv.conf ip with a userns
  libpod/container_internal.go
  libpod/container_internal_common.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note-none

#17961 Quadlet - Support setting UID and GID for --userns=keep-id
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/remap-keep-id.container
  test/e2e/quadlet/remap-keep-id2.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#17976 test/e2e: gpg keep stdout/err attached
  test/e2e/image_sign_test.go
  test/e2e/save_test.go
Labels: lgtm, approved, release-note-none

#17974 fix volume-plugin-test flake
  test/e2e/volume_plugin_test.go
Labels: lgtm, approved, release-note-none

#17997 rootless: drop preexec hook error message
  pkg/rootless/rootless_linux.c
Labels: lgtm, approved, release-note-none

#17992 libpod: mount safely subpaths
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
  pkg/specgen/generate/kube/kube.go
  pkg/util/mountOpts.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none
