Repository containers/podman, pull requests merged in 2023-04, with the labels that each got.

#17866 [CI:DOCS] Kube Play Doc: Document the support for K8S Secret
  docs/source/markdown/podman-kube-play.1.md.in
Labels: lgtm, approved, release-note-none

#17981 [CI:DOCS] Quadlet: RemapUsers documentation fixes
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#17878 Add support for cgroup_config from containers.conf
  pkg/specgen/generate/container_create.go
  test/e2e/containers_conf_test.go
Labels: lgtm, approved, release-note

#18009 [CI:DOCS] docs: add `starting` to `HealthCheckResults.Status`
  libpod/define/container_inspect.go
Labels: lgtm, approved, release-note-none

#18006 [v4.4.1-rhel] compat: /auth: parse server address correctly
  go.mod
  go.sum
  pkg/api/handlers/compat/auth.go
  test/e2e/run_test.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/auth/cli.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note, kind/api-change

#17970 [CI:DOCS] Improve basic tutorial
  docs/tutorials/podman_tutorial.md
Labels: lgtm, approved, release-note-none

#18019 Add support for secret exists
  cmd/podman/secrets/exists.go
  docs/source/markdown/podman-secret-exists.1.md
  docs/source/markdown/podman-secret.1.md
  pkg/api/handlers/libpod/secrets.go
  pkg/api/server/register_secrets.go
  pkg/bindings/secrets/secrets.go
  pkg/domain/entities/engine_container.go
  pkg/domain/infra/abi/secrets.go
  pkg/domain/infra/tunnel/secrets.go
  test/apiv2/50-secrets.at
  test/e2e/secret_test.go
Labels: lgtm, approved, release-note, kind/api-change

#18018 Fix Win install task failures with large PR bodies
  contrib/cirrus/win-installer-main.ps1
Labels: lgtm, approved, release-note-none

#18021 System tests: unverbosify a flake log
  test/system/032-sig-proxy.bats
Labels: lgtm, approved, release-note-none

#18030 Bump to 4.5.0-rc1
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#18026 [v4.4] Workaround for cdn03.quay.io flake
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#17993 quadlet: implement `Tmpfs` option
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#18042 rm `hack/release.sh`
  hack/release.sh
Labels: lgtm, approved, release-note-none

#18045 e2e: healthcheck on stopped container: fix flake
  test/e2e/healthcheck_run_test.go
Labels: flakes, lgtm, approved, release-note-none

#18024 rootless netns: recover from invalid netns
  libpod/networking_linux.go
Labels: lgtm, approved, release-note-none

#18053 Copr: fix build deps for /usr/bin/envsubst
  podman.spec.rpkg
Labels: lgtm, approved, release-note-none

#18055 [CI:DOCS] --creds and registries
  docs/source/markdown/options/creds.md
Labels: lgtm, approved, release-note

#18050 Fix daily run CI failures on win installer task
  contrib/cirrus/win-installer-main.ps1
  contrib/cirrus/win-podman-machine-main.ps1
Labels: lgtm, approved, release-note-none

#18069 Cirrus: Fix aarch64 clone_script 404 errors
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#18068 Fix invalid pod name and hostname during kube generate
  libpod/kube.go
  test/e2e/generate_kube_test.go
  test/system/710-kube.bats
Labels: lgtm, approved, release-note

#18067 e2e: GinkgoParallelNode() -> ...Process()
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#18076 libpod.storageService.CreateContainerStorage(): retrieve ID maps
  libpod/storage.go
Labels: lgtm, approved, release-note-none

#18043 test updates to help debug #18041
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/libpod/kube.go
  test/apiv2/80-kube.at
Labels: lgtm, approved, release-note-none, kind/api-change

#18085 test/e2e: use custom network config dir where needed
  test/e2e/build_test.go
  test/e2e/common_test.go
  test/e2e/network_test.go
  test/e2e/prune_test.go
  test/e2e/system_reset_test.go
Labels: lgtm, approved, release-note-none

#18066 chore: replace `github.com/ghodss/yaml` with `sigs.k8s.io/yaml`
  cmd/podman/machine/info.go
  cmd/podman/system/info.go
  go.mod
  go.sum
  pkg/domain/infra/abi/apply.go
  pkg/domain/infra/abi/generate.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
  pkg/specgen/generate/kube/volume.go
  pkg/trust/registries.go
  test/e2e/generate_kube_test.go
  vendor/github.com/ghodss/yaml/.gitignore
  vendor/github.com/ghodss/yaml/.travis.yml
  vendor/github.com/ghodss/yaml/LICENSE
  vendor/github.com/ghodss/yaml/README.md
  vendor/github.com/ghodss/yaml/fields.go
  vendor/github.com/ghodss/yaml/yaml.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18072 Cirrus: Enable labeling of EC2 VMs
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#18088 [CI:BUILD] postbuild step: skip under nightly treadmill
  contrib/cirrus/postbuild.sh
Labels: lgtm, approved, release-note-none

#18074 e2e tests: fix racy flakes
  docs/source/markdown/podman-kube-play.1.md.in
  test/e2e/logs_test.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#18078 The `--ulimit` option now also accepts the name with an `RLIMIT_` prefix both upper and lower case.
  pkg/specgenutil/specgen.go
  pkg/specgenutil/specgenutil_test.go
Labels: lgtm, approved, release-note-none

#18090 "podman pull by digest and list --all" test: untag instead of rmi
  test/e2e/images_test.go
Labels: lgtm, approved, release-note-none

#18091 [CI:DOCS] Release notes for 4.5.0 Part 1
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#18086 Properly remove the service container during kube down
  pkg/domain/infra/abi/play.go
Labels: lgtm, approved, release-note-none

#18098 quadlet: add `UserNS` option key
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#18104 [ci:docs] Capitalize all uid,gid and id words that are not options in docs
  docs/source/markdown/options/systemd.md
  docs/source/markdown/options/userns.container.md
  docs/source/markdown/podman-container-clone.1.md.in
  docs/source/markdown/podman-cp.1.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-images.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-pod-logs.1.md.in
  docs/source/markdown/podman-pod-ps.1.md.in
  docs/source/markdown/podman-run.1.md.in
  docs/source/markdown/podman-systemd.unit.5.md
  docs/source/markdown/podman-volume-create.1.md
  docs/source/markdown/podman.1.md
Labels: lgtm, approved, release-note-none

#18105 Fix up codespell errors
  docs/source/markdown/podman-network.1.md
  libpod/kube.go
  test/system/005-info.bats
Labels: lgtm, approved, do-not-merge/hold, release-note-none

#18138 [CI:DOCS] GHA: Use version instead of SHA for actions
  .github/workflows/issue-labeler.yml
  .github/workflows/rerun_cirrus_cron.yml
  .github/workflows/stale.yml
Labels: lgtm, approved, release-note-none

#18035 Update podman to use atomic container and machine config updates
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note, 4.5

#18101 [CI:DOCS] Add remaining release notes for v4.5.0-RC2
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#18144 test/system/252-quadlet.bats: fix flake
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#18083 rootless: make sure we only use a single pause process
  libpod/runtime.go
  libpod/runtime_migrate.go
  pkg/domain/infra/abi/system.go
  pkg/rootless/rootless_linux.c
  pkg/util/utils_supported.go
  pkg/util/utils_windows.go
  test/system/550-pause-process.bats
Labels: lgtm, approved, release-note-none

#18140 Read kube_generate_type from containers.conf
  cmd/podman/kube/generate.go
  pkg/api/handlers/libpod/generate.go
  test/e2e/config/containers.conf
  test/system/710-kube.bats
Labels: lgtm, approved, release-note, kind/api-change

#18002 add netavark plugin support
  RELEASE_NOTES.md
  cmd/podman/networks/create.go
  docs/source/markdown/podman-network-create.1.md
  pkg/domain/entities/network.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/run_networking_test.go
Labels: lgtm, approved, release-note, 4.5

#18148 Bump to v4.5.0-RC2
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#18146 [CI:DOCS] Tweak renovate configuration
  .github/renovate.json5
Labels: lgtm, approved, release-note-none

#18145 *: migrate image registry to registry.k8s.io
  docs/source/markdown/podman-events.1.md
  pkg/k8s.io/api/core/v1/types.go
  test/e2e/config.go
  test/e2e/manifest_test.go
  test/e2e/play_kube_test.go
  test/system/200-pod.bats
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none, 4.5

#18052 Do not display the resource limits warning message
  pkg/specgen/generate/validate.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none, 4.5

#18143 api: auth: fix nil deref
  go.mod
  go.sum
  test/apiv2/60-auth.at
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#18056 test/e2e/systemd_activate_test.go: simplify test
  test/e2e/systemd_activate_test.go
Labels: lgtm, approved, release-note-none

#17954 CI: enable sqlite system tests
  contrib/cirrus/setup_environment.sh
  test/system/005-info.bats
Labels: lgtm, approved, release-note-none

#17854 test: enable test_wait_next_exit
  test/python/docker/compat/test_containers.py
Labels: lgtm, approved, release-note-none

#18178 Quadlet - do not set log-driver by default
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basepodman.container
  test/e2e/quadlet/basic.container
  test/e2e/quadlet/basic.kube
  test/e2e/quadlet_test.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#18171 system tests: address COPY-hardlink flake
  test/system/070-build.bats
Labels: lgtm, approved, release-note-none

#18169 system tests: fix race in kube-play read-only
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#18172 [v4.4.1-rhel] Vendor c/storage v1.45.5
  go.mod
  go.sum
  libpod/container_internal_test.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/config.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/version.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon.go
  vendor/github.com/opencontainers/selinux/go-selinux/rchcon_go115.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/pkg/pwalk/pwalk.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#17898 [CI:BUILD] Packit: Initial Enablement
  .packit.sh
  .packit.yaml
  podman.spec.rpkg
Labels: lgtm, approved, release-note-none

#18187 [CI:DOCS] Remove disused test/install
  test/install/.gitignore
  test/install/Dockerfile.Centos
  test/install/Dockerfile.Fedora
  test/install/README.md
Labels: lgtm, approved, release-note-none

#18136 Return title fields as a list
  pkg/api/handlers/compat/containers_top.go
  pkg/api/handlers/libpod/pods.go
  pkg/api/handlers/utils/containers.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note, kind/api-change

#18190 bump main to v4.6.0-dev
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#18200 v4.5.0 release
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#18159 [CI:DOCS] docs: update network tutorial with netavark DHCP support
  docs/tutorials/basic_networking.md
Labels: lgtm, approved, release-note

#18203 [v4.5 backport] [CI:BUILD] Packit: Initial Enablement
  .packit.sh
  .packit.yaml
Labels: lgtm, approved, release-note-none

#18209 Don't use bytes.NewBuffer to read data
  libpod/oci_conmon_common.go
  pkg/domain/infra/abi/play_test.go
Labels: lgtm, approved, release-note-none

#18232 [v3.3.1-rhel] Cirrus: Disable CI
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#18231 [v3.4.2-rhel] Cirrus: Disable CI
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#18167 Add support for HVSOCK on hyperv
  go.mod
  pkg/machine/hyperv/config.go
  pkg/machine/hyperv/machine.go
  pkg/machine/hyperv/vsock.go
  pkg/machine/ignition.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note-none

#18236 Enabled network over vsock
  go.mod
  go.sum
  pkg/machine/hyperv/machine.go
  pkg/machine/hyperv/vsock.go
  pkg/machine/ignition.go
  pkg/machine/qemu/machine.go
  pkg/machine/ssh.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vm.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vm_config.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18238 Makefile: include `release-artifacts` target
  Makefile
  RELEASE_PROCESS.md
Labels: lgtm, approved, release-note-none

#18242 HyperV: wait on stop
  go.mod
  go.sum
  pkg/machine/hyperv/machine.go
  pkg/machine/ignition.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vm.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18254 libpod: configureNetNS() tear down on errors
  libpod/networking_common.go
  libpod/networking_linux.go
Labels: lgtm, approved, release-note

#18229 [v3.4] Cirrus: Disable CI
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#18208 Add missing security options to /info response
  pkg/api/handlers/compat/info.go
  test/apiv2/python/rest_api/test_v2_0_0_system.py
Labels: lgtm, approved, release-note-none, kind/api-change

#18246 e2e: quadlet uses PODMAN env for podman binary path
  test/e2e/common_test.go
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#18270 e2e networking test: better way to get host IP
  go.mod
  go.sum
  test/e2e/run_networking_test.go
  vendor/github.com/uber/jaeger-client-go/LICENSE
  vendor/github.com/uber/jaeger-client-go/log/logger.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/agent/GoUnusedProtection__.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/agent/agent-consts.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/agent/agent.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/jaeger/GoUnusedProtection__.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/jaeger/jaeger-consts.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/jaeger/jaeger.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/zipkincore/GoUnusedProtection__.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/zipkincore/zipkincore-consts.go
  vendor/github.com/uber/jaeger-client-go/thrift-gen/zipkincore/zipkincore.go
  vendor/github.com/uber/jaeger-client-go/thrift/.nocover
  vendor/github.com/uber/jaeger-client-go/thrift/README.md
  vendor/github.com/uber/jaeger-client-go/thrift/application_exception.go
  vendor/github.com/uber/jaeger-client-go/thrift/binary_protocol.go
  vendor/github.com/uber/jaeger-client-go/thrift/client.go
  vendor/github.com/uber/jaeger-client-go/thrift/compact_protocol.go
  vendor/github.com/uber/jaeger-client-go/thrift/configuration.go
  vendor/github.com/uber/jaeger-client-go/thrift/context.go
  vendor/github.com/uber/jaeger-client-go/thrift/exception.go
  vendor/github.com/uber/jaeger-client-go/thrift/header_context.go
  vendor/github.com/uber/jaeger-client-go/thrift/header_protocol.go
  vendor/github.com/uber/jaeger-client-go/thrift/header_transport.go
  vendor/github.com/uber/jaeger-client-go/thrift/logger.go
  vendor/github.com/uber/jaeger-client-go/thrift/memory_buffer.go
  vendor/github.com/uber/jaeger-client-go/thrift/messagetype.go
  vendor/github.com/uber/jaeger-client-go/thrift/numeric.go
  vendor/github.com/uber/jaeger-client-go/thrift/processor_factory.go
  vendor/github.com/uber/jaeger-client-go/thrift/protocol.go
  vendor/github.com/uber/jaeger-client-go/thrift/protocol_exception.go
  vendor/github.com/uber/jaeger-client-go/thrift/protocol_factory.go
  vendor/github.com/uber/jaeger-client-go/thrift/response_helper.go
  vendor/github.com/uber/jaeger-client-go/thrift/rich_transport.go
  vendor/github.com/uber/jaeger-client-go/thrift/serializer.go
  vendor/github.com/uber/jaeger-client-go/thrift/server_transport.go
  vendor/github.com/uber/jaeger-client-go/thrift/simple_json_protocol.go
  vendor/github.com/uber/jaeger-client-go/thrift/simple_server.go
  vendor/github.com/uber/jaeger-client-go/thrift/transport.go
  vendor/github.com/uber/jaeger-client-go/thrift/transport_exception.go
  vendor/github.com/uber/jaeger-client-go/thrift/transport_factory.go
  vendor/github.com/uber/jaeger-client-go/thrift/type.go
  vendor/github.com/uber/jaeger-client-go/utils/http_json.go
  vendor/github.com/uber/jaeger-client-go/utils/localip.go
  vendor/github.com/uber/jaeger-client-go/utils/rand.go
  vendor/github.com/uber/jaeger-client-go/utils/rate_limiter.go
  vendor/github.com/uber/jaeger-client-go/utils/reconnecting_udp_conn.go
  vendor/github.com/uber/jaeger-client-go/utils/udp_client.go
  vendor/github.com/uber/jaeger-client-go/utils/utils.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18277 test: fix race when listing cgroups
  test/e2e/pod_rm_test.go
Labels: lgtm, approved, release-note-none

#18267 libpod: stop containers with --restart=always
  libpod/container_api.go
  libpod/container_internal.go
Labels: lgtm, approved, release-note

#18264 Add eBPF snooper that traces the entire fork/exec graph of podman
  hack/fork_exec_snoop.bt
Labels: lgtm, approved, release-note-none

#18278 compat: Translate `noprune` into ImageRemoveOptions.NoPrune
  pkg/api/handlers/compat/images_remove.go
  pkg/api/server/register_images.go
  test/apiv2/10-images.at
Labels: lgtm, approved, release-note, kind/api-change

#18281 test/e2e: use custom network config v2
  test/e2e/prune_test.go
  test/e2e/volume_prune_test.go
Labels: lgtm, approved, release-note-none

#18212 Specify format to buildah before commit
  libpod/container_commit.go
  test/system/010-images.bats
Labels: lgtm, approved, release-note

#18258 hyperv: add podman socket mapping
  pkg/machine/config.go
  pkg/machine/hyperv/machine.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note-none

#18283 Several e2e fixes
  test/e2e/build_test.go
  test/e2e/checkpoint_test.go
  test/e2e/commit_test.go
  test/e2e/common_test.go
  test/e2e/containers_conf_test.go
  test/e2e/generate_kube_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/push_test.go
  test/e2e/run_volume_test.go
  test/e2e/run_working_dir_test.go
Labels: lgtm, approved, release-note-none

#18293 [CI:BUILD] Cirrus: remove copr rpm build task
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#18290 Cirrus: Drop benchmarks artifact collection
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#18272 [CI:DOCS] Update RELEASE_PROCESS.md
  RELEASE_PROCESS.md
Labels: lgtm, approved, release-note-none

#18260 [v3.0.1-rhel] Fix attempt to use incompatible go tools
  .cirrus.yml
  Makefile
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/search_test.go
Labels: lgtm, approved, release-note-none

#18213 Fixes format inconsistencies with docker for certain history fields
  cmd/podman/images/history.go
  test/e2e/history_test.go
  test/system/110-history.bats
Labels: lgtm, approved, release-note

#18284 support `--digestfile` for remote push
  cmd/podman/images/push.go
  cmd/podman/manifest/push.go
  docs/source/markdown/options/digestfile.md
  pkg/api/handlers/compat/images_push.go
  pkg/api/handlers/libpod/images_push.go
  pkg/bindings/images/push.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_push_options.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  test/e2e/push_test.go
Labels: lgtm, approved, release-note, kind/api-change

#18276 e2e: skip journald test if journald is unavailable
  test/e2e/common_test.go
  test/e2e/containers_conf_test.go
  test/e2e/logs_test.go
Labels: lgtm, approved, release-note-none

#18298 cmd/podman/pods: omit superfluous runtime.NumCPU call
  cmd/podman/pods/create.go
Labels: lgtm, approved, release-note-none

#18288 Cirrus: Enable testing on Fedora rawhide
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#18257 Makefile: do not prefix /etc
  Makefile
Labels: lgtm, approved, release-note-none

#18317 [CI:DOCS] Quadlet: clarify overriding user/system services
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#18322 Revert "Resolve symlink path for qemu directory if possible"
  pkg/machine/qemu/options_darwin_arm64.go
Labels: lgtm, approved, release-note

#18329 e2e create same-IP: try to fix flake
  test/e2e/create_staticip_test.go
Labels: lgtm, approved, release-note-none

#18323 system tests: safer container-stop signaling
  test/system/030-run.bats
  test/system/075-exec.bats
  test/system/130-kill.bats
  test/system/260-sdnotify.bats
  test/system/320-system-df.bats
  test/system/410-selinux.bats
  test/system/520-checkpoint.bats
Labels: lgtm, approved, release-note-none

#18338 auto-update: log errors checking for updates
  pkg/autoupdate/autoupdate.go
Labels: lgtm, approved, release-note-none

#18339 sqlite: move first read into a transaction
  libpod/sqlite_state.go
  libpod/sqlite_state_internal.go
Labels: lgtm, approved, release-note

#18344 rootless: support joining containers that use host ns
  pkg/specgen/generate/namespaces.go
  test/system/195-run-namesapces.bats
Labels: lgtm, approved, release-note

#18328 Recover from failed podman machine start
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note

#18342 Netavark userns test: give aardvark time to come up
  test/e2e/run_networking_test.go
Labels: lgtm, approved, release-note-none

#18347 [v4.4.1-rhel] Add file switch for pre-exec hooks
  pkg/rootless/rootless_linux.c
  test/system/950-preexec-hooks.bats
Labels: approved, do-not-merge/hold, release-note-none

#18351 fix: podman manifest annotate help example should use image digest
  cmd/podman/manifest/annotate.go
  cmd/podman/manifest/manifest.go
Labels: lgtm, approved, release-note

#18303 Add user-mode networking feature to Windows/WSL
  Makefile
  cmd/podman-wslkerninst/main.go
  cmd/podman/machine/init.go
  cmd/podman/machine/list.go
  cmd/podman/machine/set.go
  docs/source/markdown/.gitignore
  docs/source/markdown/options/user-mode-networking.md
  docs/source/markdown/podman-machine-init.1.md.in
  docs/source/markdown/podman-machine-inspect.1.md
  docs/source/markdown/podman-machine-list.1.md.in
  docs/source/markdown/podman-machine-set.1.md.in
  pkg/domain/entities/machine.go
  pkg/machine/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/filelock.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/usermodenet.go
  pkg/machine/wsl/util_windows.go
  pkg/machine/wsl/wutil/wutil.go
Labels: lgtm, approved, release-note

#18362 Support systemd optional prefix '-' for devices.
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/devices.container
Labels: lgtm, approved, release-note

#18327 Add sha256: to images history id for docker compatibility
  pkg/api/handlers/compat/images_history.go
  test/apiv2/10-images.at
  test/python/docker/compat/test_images.py
Labels: lgtm, approved, release-note, kind/api-change

#18371 Update c/common and avoid setting umask
  go.mod
  go.sum
  libpod/container_internal_common.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/umask/umask.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18366 [CI:DOCS] Fix simple typo in podman-network-create.md
  docs/source/markdown/podman-network-create.1.md
Labels: lgtm, approved, release-note-none

#18363 Update short description for disconnect cmd
  cmd/podman/networks/disconnect.go
Labels: lgtm, approved, release-note-none

#18365 Fix a copy/paste error in an error message
  pkg/domain/infra/tunnel/manifest.go
Labels: lgtm, approved, release-note

#18374 Nightly dependency treadmill: remove
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#18326 Cirrus: Update CI VM Image to F38
  .cirrus.yml
  libpod/runtime.go
  libpod/runtime_pre_go1.20.go
  libpod/runtime_test.go
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#18361 e2e cleanup: push with auth: add error checks
  test/e2e/push_test.go
Labels: lgtm, approved, release-note-none
