Repository containers/podman, pull requests merged in 2023-01, with the labels that each got.

#16941 [CI:DOCS] Quadlet Doc: Add section for .kube files
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#16952 System test: quadlet kube basic test
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#16810 podman-remote,bindings: trim context path correctly when its `emptydir`
  pkg/bindings/images/build.go
  test/e2e/build_test.go
Labels: lgtm, approved, release-note

#16946 e2e: fix containers_conf_test
  test/e2e/containers_conf_test.go
Labels: lgtm, approved, release-note-none

#16968 vendor: bump `c/storage` to `a747b27`
  go.mod
  go.sum
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#16929 fix `podman system connection - tcp` flake
  test/system/272-system-connection.bats
Labels: lgtm, approved, release-note-none

#16814 Build and use a newer systemd image
  test/system/255-auto-update.bats
  test/system/260-sdnotify.bats
  test/system/320-system-df.bats
  test/system/build-systemd-image
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#16972 System tests: fix unquoted question marks
  test/system/255-auto-update.bats
  test/system/272-system-connection.bats
Labels: lgtm, approved, release-note-none

#16974 [minor] System tests: add missing cleanup
  test/system/220-healthcheck.bats
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#16963 [CI:DOCS] Test README - point users to hack/bats
  test/README.md
Labels: lgtm, approved, release-note-none

#16970 System Test Quadlet - Volume dependency test did not test the dependency
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#16965 [CI:DOCS] Fix instructions about setting storage driver on command-line
  docs/tutorials/performance.md
Labels: lgtm, approved, release-note-none

#16953 Quadlet Container: Add support for EnvironmentFile and EnvironmentHost
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/env-file.container
  test/e2e/quadlet/env-host-false.container
  test/e2e/quadlet/env-host.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#16947 Kube Play: use passthrough as the default log-driver if service-container is set
  cmd/podman/kube/play.go
  test/system/250-systemd.bats
  test/system/260-sdnotify.bats
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#16962 Fixed `podman update --pids-limit`
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  docs/source/markdown/options/pids-limit.md
  docs/source/markdown/podman-update.1.md.in
  test/e2e/update_test.go
Labels: lgtm, approved, release-note

#16971 Quadlet Network - Fix the name of the required network service
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/network.quadlet.container
  test/e2e/quadlet/network.quadlet.kube
Labels: lgtm, approved, release-note-none

#16572 Update the issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  CONTRIBUTING.md
Labels: lgtm, approved, release-note-none

#16934 Fix: List container with volume filter
  pkg/domain/filters/containers.go
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note

#16926 Quadlet -dryrun arg
  cmd/quadlet/main.go
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#16982 [CI:DOCS] Man page checker: require canonical name in SEE ALSO
  docs/source/markdown/podman-image-mount.1.md
  docs/source/markdown/podman-image-unmount.1.md
  docs/source/markdown/podman-logs.1.md.in
  docs/source/markdown/podman-unmount.1.md.in
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved, release-note-none

#16980 kube play: fix the error logic with --quiet
  cmd/podman/kube/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#16981 system df: improve json output code
  cmd/podman/system/df.go
Labels: lgtm, approved, release-note-none

#16978 libpod: fix race condition rm'ing stopping containers
  libpod/container_internal.go
  test/system/055-rm.bats
Labels: lgtm, approved, release-note

#16449 Cirrus: Collect benchmarks on machine instances
  .cirrus.yml
  Makefile
  contrib/cirrus/lib.sh
  contrib/cirrus/prebuild.sh
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#16990 [v4.2.0] libpod: fix race condition rm'ing stopping containers
  libpod/container_internal.go
  test/system/055-rm.bats
Labels: lgtm, approved, release-note

#16985 Support sig-proxy for podman-remote attach and start
  pkg/domain/infra/tunnel/containers.go
  test/system/032-sig-proxy.bats
Labels: lgtm, approved, release-note

#16986 [CI:DOCS] Add shared --compress to man pages
  docs/source/markdown/.gitignore
  docs/source/markdown/options/dir-compress.md
  docs/source/markdown/podman-push.1.md.in
  docs/source/markdown/podman-save.1.md.in
Labels: lgtm, approved, release-note-none

#16993 [CI:DOCS] hack/bats: various improvements
  hack/bats
Labels: lgtm, approved, release-note-none

#16987 Add support for Windows on ARM64
  pkg/machine/fedora.go
  pkg/machine/fedora_unix.go
  pkg/machine/fedora_windows.go
Labels: lgtm, approved, release-note

#16991 [CI:DOCS] Describe copy volume options
  docs/source/markdown/options/volume.md
  pkg/domain/infra/abi/containers.go
  test/e2e/run_transient_test.go
Labels: lgtm, approved, release-note

#16989 e2e: fix run_volume_test
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note-none

#17015 [CI:DOCS] Preprocess files in UTF-8 mode
  hack/markdown-preprocess
Labels: lgtm, approved, release-note-none

#16992 several podman logs fixes
  libpod/container_log.go
  libpod/container_log_linux.go
  libpod/events/journal_linux.go
  test/system/035-logs.bats
Labels: lgtm, approved, release-note

#17020 logformatter: nicer formatting for bats failures
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
Labels: lgtm, approved, release-note-none

#17023 Update win-sshproxy to 0.5.0 gvisor tag
  Makefile
Labels: lgtm, approved, do-not-merge/hold, release-note

#16820 Allow '/' to prefix container names to match Docker
  cmd/podman/containers/attach.go
  cmd/podman/containers/checkpoint.go
  cmd/podman/containers/commit.go
  cmd/podman/containers/exec.go
  cmd/podman/containers/exists.go
  cmd/podman/containers/export.go
  cmd/podman/containers/init.go
  cmd/podman/containers/kill.go
  cmd/podman/containers/logs.go
  cmd/podman/containers/mount.go
  cmd/podman/containers/pause.go
  cmd/podman/containers/port.go
  cmd/podman/containers/prune.go
  cmd/podman/containers/rename.go
  cmd/podman/containers/restart.go
  cmd/podman/containers/restore.go
  cmd/podman/containers/rm.go
  cmd/podman/containers/runlabel.go
  cmd/podman/containers/start.go
  cmd/podman/containers/stats.go
  cmd/podman/containers/stop.go
  cmd/podman/containers/top.go
  cmd/podman/containers/unmount.go
  cmd/podman/containers/unpause.go
  cmd/podman/containers/update.go
  cmd/podman/containers/wait.go
  cmd/podman/utils/utils.go
  libpod/options.go
  libpod/runtime_ctr.go
  pkg/domain/filters/containers.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note, 4.4

#17022 Fix a potential defer logic error around locking
  libpod/container_api.go
Labels: lgtm, approved, release-note-none, 4.4

#17025 oci: terminate all container processes on cleanup
  libpod/container_api.go
Labels: lgtm, approved, release-note

#17014 Vendor in latest containers/common
  go.mod
  go.sum
  test/e2e/network_test.go
  vendor/github.com/containers/common/libnetwork/cni/network.go
  vendor/github.com/containers/common/libnetwork/netavark/const.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/modules.txt
Labels: lgtm, approved, release-note, 4.4

#16997 Fixes automated WSL installation on ARM
  cmd/podman-msihooks/main.go
  contrib/win-installer/build-hooks.bat
  contrib/win-installer/podman-msihooks/check.c
Labels: lgtm, approved, release-note, 4.4

#17003 remove service container _after_ pods
  libpod/runtime_ctr.go
  libpod/service.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note, 4.4

#17017 e2e tests: stop using UBI images
  test/e2e/benchmarks_test.go
  test/e2e/config_amd64.go
  test/e2e/config_arm64.go
  test/e2e/images_test.go
  test/e2e/rmi_test.go
  test/e2e/run_selinux_test.go
  test/e2e/systemd_test.go
  test/system/build-systemd-image
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#17034 linux: add /sys/fs/cgroup if /sys is a bind mount
  pkg/specgen/generate/oci_linux.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note-none

#17040 podman: podman rm -f doesn't leave processes
  libpod/oci_conmon_common.go
  libpod/runtime_ctr.go
  test/system/055-rm.bats
Labels: lgtm, approved, release-note, 4.4

#17052 [v4.2.0-rhel] podman: podman rm -f doesn't leave processes
  libpod/oci_conmon_linux.go
  libpod/runtime_ctr.go
  test/system/055-rm.bats
Labels: lgtm, approved, release-note

#16880 Kube Play - allow setting and overriding published host ports
  cmd/podman/kube/play.go
  docs/source/markdown/podman-kube-play.1.md.in
  pkg/api/handlers/libpod/kube.go
  pkg/bindings/kube/types.go
  pkg/bindings/kube/types_play_options.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/tunnel/kube.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note, kind/api-change, 4.4

#17046 Update Mac installer to use gvproxy v0.5.0
  contrib/pkginstaller/Makefile
Labels: lgtm, approved, release-note-none

#17041 cobra: move engine shutdown to Execute
  cmd/podman/root.go
  test/system/001-basic.bats
Labels: approved, release-note, 4.4

#17008 [release-v4.2.0-rhel] compat,build: handle docker's preconfigured cacheTo,cacheFrom
  pkg/api/handlers/compat/images_build.go
  test/apiv2/10-images.at
Labels: approved, do-not-merge/hold, release-note-none, kind/api-change

#17056 logformatter: include base SHA, with history link
  contrib/cirrus/logformatter
Labels: lgtm, approved, release-note-none

#17053 Network tests: ping redhat.com, not podman.io
  test/e2e/common_test.go
  test/e2e/run_networking_test.go
Labels: approved, release-note-none

#17029 Updated options for QEMU on Windows hosts
  pkg/machine/qemu/options_windows_amd64.go
  pkg/machine/qemu/options_windows_arm64.go
Labels: lgtm, approved, release-note-none

#17038 Quadlet: Add support for ConfigMap key in Kube section
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/configmap.kube
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none, 4.4

#17062 Introduce pkg retry logic in win installer verify task
  contrib/cirrus/win-installer-install.ps1
  contrib/cirrus/win-installer-main.ps1
Labels: lgtm, approved, release-note-none

#16951 System tests: quadlet network test
  test/system/252-quadlet.bats
  test/system/helpers.systemd.bash
Labels: lgtm, approved, release-note-none

#17079 [v4.2.0-rhel] Cirrus: Strip only-main CI tasks
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17080 [v4.3.1-rhel] Cirrus: Strip only-main CI tasks
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17067 e2e: fix play_kube_test
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#17073 Compile regex on demand not in init
  cmd/podman/parse/net.go
  libpod/define/config.go
  libpod/options.go
  pkg/bindings/images/build.go
  pkg/systemd/quadlet/quadlet.go
Labels: lgtm, approved, release-note-none

#17064 [docker compat] Don't overwrite the NetworkMode from "default" to "bridge" if containers.conf specifies a non-default configuration.
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
  test/apiv2/containers.host-netns.conf
Labels: lgtm, approved, release-note, kind/api-change

#17055 Only prevent VTs to be mounted inside privileged systemd containers
  pkg/util/utils_linux.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#17060 Updated error message for supported VolumeSource types
  pkg/specgen/generate/kube/volume.go
Labels: lgtm, approved

#17058 service container: less verbose error logs
  libpod/service.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#16732 network: add support for `podman network update` and `--network-dns-server`
  cmd/podman/networks/create.go
  cmd/podman/networks/update.go
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-network-update.1.md
  docs/source/markdown/podman-network.1.md
  pkg/api/handlers/libpod/networks.go
  pkg/api/handlers/swagger/models.go
  pkg/api/server/register_networks.go
  pkg/bindings/network/network.go
  pkg/bindings/network/types.go
  pkg/bindings/network/types_update_options.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/network.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/tunnel/network.go
  test/e2e/run_networking_test.go
Labels: lgtm, approved, release-note, kind/api-change

#17077 Set StoppedByUser earlier in the process of stopping
  libpod/container_internal.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note

#16816 [CI:DOCS] Cirrus: Support using updated/latest NV/AV in PRs
  contrib/cirrus/CIModes.md
  contrib/cirrus/lib.sh
Labels: lgtm, approved, release-note-none

#17102 E2E Tests: Use inspect instead of actual data to avoid UDP flake
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#17100 Use containers/storage/pkg/regexp in place of regexp
  cmd/podman/parse/net.go
  go.mod
  go.sum
  libpod/options.go
  pkg/bindings/images/build.go
  pkg/systemd/quadlet/quadlet.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/pkg/idtools/usergroupadd_linux.go
  vendor/github.com/containers/storage/pkg/regexp/regexp.go
  vendor/github.com/containers/storage/pkg/regexp/regexp_dontprecompile.go
  vendor/github.com/containers/storage/pkg/regexp/regexp_precompile.go
  vendor/github.com/containers/storage/pkg/stringid/stringid.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#17072 podman-play system test: refactor
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#17018 e2e: fix systemd_activate_test
  test/e2e/systemd_activate_test.go
Labels: lgtm, approved, release-note-none

#17112 [v4.1.1-rhel] [CI:BUILD] Cirrus: Stop building for OSX
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17111 [v4.0-rhel] [CI:BUILD] Cirrus: Stop building for OSX
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17108 fix flake in kube system test
  test/system/250-systemd.bats
Labels: lgtm, approved, release-note-none

#17082 Warn about creating multiple replicas from kubernetes YAML
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#17107 kube play: complete container spec
  pkg/domain/infra/abi/play.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#17121 Vendor in latest containers/storage
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/containers/common/pkg/report/template.go
  vendor/github.com/containers/common/pkg/report/validate.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/github.com/containers/storage/VERSION
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#17084 Cirrus: Run machine tests on PR merge
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17126 container kill: handle stopped/exited container
  libpod/oci_conmon_common.go
  libpod/runtime_ctr.go
Labels: lgtm, approved, release-note

#17128 [CI:DOCS] Remove experimental mac tutorial
  docs/tutorials/mac_experimental.md
Labels: lgtm, approved, release-note-none

#17133 Docs: version-check updates
  docs/tutorials/mac_win_client.md
  docs/tutorials/podman-for-windows.md
Labels: lgtm, approved, release-note-none

#17127 Make rootless privileged containers share the same tty devices as rootfull ones
  docs/source/markdown/options/privileged.md
  docs/source/markdown/options/systemd.md
  pkg/util/utils_linux.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#17130 commit: use libimage code to parse changes
  libpod/container_commit.go
  pkg/util/utils.go
  pkg/util/utils_linux_test.go
  pkg/util/utils_test.go
Labels: lgtm, approved

#17136 [v4.1.1-rhel] [CI:BUILD] remove osx task from artifacts
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#17118 rootless: rename auth-scripts to preexec-hooks
  pkg/rootless/rootless_linux.c
  test/system/950-auth-scripts.bats
  test/system/950-preexec-hooks.bats
Labels: lgtm, approved, release-note-none

#17141 sig-proxy system test: bump timeout
  test/system/032-sig-proxy.bats
Labels: lgtm, approved, release-note-none

#17145 Cleanup documentation on --userns=auto
  docs/source/markdown/options/userns.container.md
Labels: lgtm, approved, release-note-none

#17160 Refactor windows CI to workaround WSL's recent switch to a Windows Store update stream
  .cirrus.yml
  contrib/cirrus/win-podman-machine-main.ps1
  contrib/cirrus/win-podman-machine-verify.ps1
  contrib/cirrus/wsl-env-launch.ps1
Labels: lgtm, approved, release-note-none

#17087 [DO NOT MERGE] Checking an image
  .cirrus.yml
  contrib/cirrus/win-podman-machine-main.ps1
  contrib/cirrus/win-podman-machine-verify.ps1
  contrib/cirrus/wsl-env-launch.ps1
Labels: approved, do-not-merge/release-note-label-needed

#17161 Add openssh-clients to podmanimage
  contrib/podmanimage/stable/Containerfile
  contrib/podmanimage/testing/Containerfile
  contrib/podmanimage/upstream/Containerfile
Labels: release-note

#17144 Remove ReservedAnnotations from kube generate specification
  docs/source/markdown/podman-kube-generate.1.md
  libpod/container_internal_common.go
  libpod/kube.go
  pkg/annotations/annotations.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgenutil/specgen.go
  test/e2e/generate_kube_test.go
  test/system/710-kube.bats
Labels: lgtm, approved, release-note

#17164 e2e tests: reenable long-skipped build test
  test/e2e/build_test.go
Labels: lgtm, approved, release-note-none

#17165 StopContainer: return if cleanup process changed state
  libpod/oci_conmon_common.go
Labels: lgtm, approved, release-note-none

#17162 [CI:DOCS] Add CNI deprecation notices to documentation
  README.md
  cni/README.md
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman-unshare.1.md
  docs/source/markdown/podman.1.md
  docs/tutorials/basic_networking.md
Labels: lgtm, approved, release-note

#17153 Cirrus: preserve podman-server logs
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  test/buildah-bud/buildah-tests.diff
  test/buildah-bud/run-buildah-bud-tests
Labels: lgtm, approved, release-note-none

#16525 update CI images to include pasta
  .cirrus.yml
  Makefile
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/runner.sh
  test/e2e/run_networking_test.go
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#17086 Remove workarounds for 14653 (checkpoint test failures)
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note-none

#17124 e2e: use isRootless() instead of rootless.IsRootless()
  test/README.md
  test/e2e/common_test.go
  test/e2e/create_staticip_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/pull_test.go
  test/e2e/push_test.go
  test/e2e/run_signal_test.go
  test/e2e/run_test.go
  test/e2e/run_userns_test.go
  test/e2e/run_volume_test.go
  test/e2e/save_test.go
  test/e2e/system_reset_test.go
  test/e2e/systemd_activate_test.go
  test/e2e/toolbox_test.go
  test/e2e/unshare_test.go
Labels: lgtm, approved, release-note-none

#17175 network create: do not allow `default` as name
  pkg/domain/infra/abi/network.go
  test/e2e/network_create_test.go
Labels: lgtm, approved, release-note

#17168 kube-play: add support for HostPID
  docs/kubernetes_support.md
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#17178 [CI:DOCS] Change example target to default in doc
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note

#17188 [CI:DOCS] add hack/perf for comparing two container engines
  hack/perf/README.md
  hack/perf/create.sh
  hack/perf/helpers.bash
  hack/perf/ps.sh
  hack/perf/rm.sh
  hack/perf/run.sh
  hack/perf/start.sh
  hack/perf/stop.sh
Labels: lgtm, approved, release-note-none

#17190 ps: do not create copy of container config
  pkg/ps/ps.go
Labels: lgtm, approved, release-note

#17183 (fix) mount_program is in storage.options.overlay
  docs/tutorials/rootless_tutorial.md
Labels: lgtm, approved, release-note-none

#17199 Vendor containers/(storage, image, common, buildah)
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/signature/fulcio_cert.go
  vendor/github.com/containers/image/v5/signature/policy_config.go
  vendor/github.com/containers/image/v5/signature/policy_config_sigstore.go
  vendor/github.com/containers/image/v5/signature/policy_eval_sigstore.go
  vendor/github.com/containers/image/v5/signature/policy_types.go
  vendor/github.com/containers/image/v5/signature/sigstore/copied.go
  vendor/github.com/containers/image/v5/signature/sigstore/generate.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/libtrust/CODE-OF-CONDUCT.md
  vendor/github.com/containers/libtrust/SECURITY.md
  vendor/github.com/containers/ocicrypt/blockcipher/blockcipher.go
  vendor/github.com/containers/ocicrypt/blockcipher/blockcipher_aes_ctr.go
  vendor/github.com/containers/ocicrypt/config/constructors.go
  vendor/github.com/containers/ocicrypt/config/keyprovider-config/config.go
  vendor/github.com/containers/ocicrypt/config/pkcs11config/config.go
  vendor/github.com/containers/ocicrypt/crypto/pkcs11/common.go
  vendor/github.com/containers/ocicrypt/crypto/pkcs11/pkcs11helpers.go
  vendor/github.com/containers/ocicrypt/crypto/pkcs11/pkcs11helpers_nocgo.go
  vendor/github.com/containers/ocicrypt/crypto/pkcs11/utils.go
  vendor/github.com/containers/ocicrypt/encryption.go
  vendor/github.com/containers/ocicrypt/gpg.go
  vendor/github.com/containers/ocicrypt/gpgvault.go
  vendor/github.com/containers/ocicrypt/helpers/parse_helpers.go
  vendor/github.com/containers/ocicrypt/keywrap/jwe/keywrapper_jwe.go
  vendor/github.com/containers/ocicrypt/keywrap/keyprovider/keyprovider.go
  vendor/github.com/containers/ocicrypt/keywrap/pgp/keywrapper_gpg.go
  vendor/github.com/containers/ocicrypt/keywrap/pkcs11/keywrapper_pkcs11.go
  vendor/github.com/containers/ocicrypt/keywrap/pkcs7/keywrapper_pkcs7.go
  vendor/github.com/containers/ocicrypt/utils/ioutils.go
  vendor/github.com/containers/ocicrypt/utils/testing.go
  vendor/github.com/containers/ocicrypt/utils/utils.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/bitreader.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/decoder.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/github.com/sigstore/fulcio/COPYRIGHT.txt
  vendor/github.com/sigstore/fulcio/LICENSE
  vendor/github.com/sigstore/fulcio/pkg/certificate/doc.go
  vendor/github.com/sigstore/fulcio/pkg/certificate/extensions.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note-none

#17174 Get correct username in pod when using --userns=keep-id
  libpod/container_internal_common.go
  test/e2e/pod_create_test.go
  test/system/170-run-userns.bats
Labels: lgtm, approved, release-note

#17201 Correct output when inspecting containers created with --ipc
  libpod/container_inspect_linux.go
  test/system/190-run-ipcns.bats
Labels: lgtm, approved, release-note

#17203 [v4.0-rhel] runtime: unpause the container before killing it
  libpod/runtime_ctr.go
  test/e2e/search_test.go
Labels: lgtm, approved, release-note

#17206 [CI:DOCS] Example in volume import usage is backwards
  cmd/podman/volumes/import.go
Labels: lgtm, approved, release-note-none

#17215 fix APIv2 python attach test flake
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: lgtm, approved, release-note-none

#17211 ps: query health check in batch mode
  libpod/healthcheck.go
  pkg/ps/ps.go
Labels: lgtm, approved, release-note-none

#17220 [CI:DOCS] [v4.4] Bump to v4.4.0-RC3
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#17213 Set runAsNonRoot=true in gen kube
  libpod/kube.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, release-note, 4.4

#17192 WSL refactoring
  pkg/machine/fcos.go
  pkg/machine/fedora_unix.go
  pkg/machine/fedora_windows.go
  pkg/machine/pull.go
  pkg/machine/wsl/fedora.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#17208 e2e: reduce dependency on /tmp for e2e tests
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/mount_rootless_test.go
  test/e2e/push_test.go
  test/e2e/save_test.go
  test/e2e/sign/policy.json
Labels: lgtm, approved, release-note-none

#17217 quadlet: Add device support for .volume files
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/device-copy.volume
  test/e2e/quadlet/device.volume
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none, 4.4

#17210 ps: do not sync container
  libpod/boltdb_state.go
  libpod/boltdb_state_internal.go
  libpod/container_api.go
  libpod/networking_linux.go
  libpod/runtime.go
  libpod/runtime_ctr.go
  libpod/runtime_img.go
  libpod/runtime_migrate.go
  libpod/runtime_renumber.go
  libpod/state.go
  libpod/state_test.go
  pkg/api/handlers/compat/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/ps/ps.go
Labels: lgtm, approved, release-note-none, kind/api-change, 4.4

#17114 Allow --device-cgroup-rule to be passed in by docker API
  pkg/api/handlers/compat/containers_create.go
Labels: lgtm, approved, release-note, kind/api-change, 4.4

#17186 kube-play: add support for HostIPC in pod.Spec
  docs/kubernetes_support.md
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/podspecgen.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#17239 [v4.4] Bump to Buildah v1.29.0
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, 4.4

#17247 fix CI: test fail due to merge
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#17246 e2e: Remove some directories at SynchronizedAfterSuite
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#17251 fix: don't output "ago" when container is currently up and running
  cmd/podman/containers/ps.go
  docs/source/markdown/podman-auto-update.1.md.in
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-ps.1.md
  test/e2e/ps_test.go
Labels: lgtm, approved, release-note, 4.4

#17228 fix: running check error when podman is default in wsl
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note, 4.4

#17238 Bump Bulidah to v1.29.0
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#15436 Bump cirrus image with easier dependency management
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#17252 Backport #15788 to v3.0.1-rhel
  libpod/container_exec.go
  libpod/pod_internal.go
  libpod/runtime_ctr.go
  libpod/runtime_volume_linux.go
  test/e2e/common_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/events_test.go
  test/e2e/network_connect_disconnect_test.go
  test/e2e/network_create_test.go
  test/e2e/network_test.go
  test/e2e/pod_ps_test.go
  test/e2e/ps_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_test.go
Labels: lgtm, approved, do-not-merge/hold, release-note-none

#17245 e2e: Remove the cache with "podman unshare rm" when a rootless user
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#17253 journald: podman events only show events for current user
  libpod/container_log_linux.go
  libpod/events/journal_linux.go
Labels: lgtm, approved

#17182 Clean up more language for inclusiveness
  CONTRIBUTING.md
  README.md
  RELEASE_NOTES.md
  RELEASE_PROCESS.md
  commands-demo.md
  contrib/dependabot-dance
  contrib/snapcraft/README.md
  docs/MANPAGE_SYNTAX.md
  docs/source/markdown/podman-attach.1.md.in
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-container-runlabel.1.md.in
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman-system-service.1.md
  docs/source/markdown/podman.1.md
  docs/tutorials/basic_networking.md
  test/buildah-bud/README.md
  test/e2e/toolbox_test.go
Labels: lgtm, approved, release-note-none

#17262 Fix default handling of pids-limit
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  cmd/podman/containers/create.go
  cmd/podman/containers/update.go
  test/e2e/update_test.go
Labels: lgtm, approved, release-note-none, 4.4

#17266 Fix usage of absolute windows paths with --image-path
  pkg/machine/pull.go
Labels: lgtm, approved, release-note, 4.4

#17259 [v4.4] Clean up more language for inclusiveness (cherry-pick from main)
  CONTRIBUTING.md
  README.md
  RELEASE_NOTES.md
  RELEASE_PROCESS.md
  commands-demo.md
  contrib/dependabot-dance
  contrib/snapcraft/README.md
  docs/MANPAGE_SYNTAX.md
  docs/source/markdown/podman-attach.1.md.in
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-container-runlabel.1.md.in
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman-system-service.1.md
  docs/source/markdown/podman.1.md
  docs/tutorials/basic_networking.md
  test/buildah-bud/README.md
  test/e2e/toolbox_test.go
Labels: lgtm, approved, release-note-none

#17264 fix #17244: use /etc/timezone where `timedatectl` is missing on Linux
  pkg/machine/ignition_linux.go
Labels: lgtm, approved, release-note-none, 4.4

#16807 Add gvproxy to windows packages
  Makefile
  contrib/msi/podman.wxs
  contrib/win-installer/build.ps1
  contrib/win-installer/podman.wxs
  contrib/win-installer/process-release.ps1
  docs/remote-docs.sh
  docs/tutorials/qemu-remote-tutorial.md
  hack/markdown-preprocess
Labels: lgtm, approved, release-note

#17271 e2e: Avoid hard-coding included in quadlet test
  test/e2e/quadlet/basic.kube
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#17269 [CI:DOCS] Add comment to clarify error handling intention
  pkg/machine/pull.go
Labels: lgtm, approved, release-note-none

#17273 [DOCS:CI] podman-events: document verbose create events
  docs/source/markdown/podman-events.1.md
Labels: lgtm, approved, release-note-none, 4.4

#17243 e2e: Avoid hard-coding ImageCacheDir
  test/e2e/common_test.go
  test/e2e/config.go
Labels: lgtm, approved, release-note-none

#17290 e2e tests: fix incorrect os.User.Name
  test/e2e/generate_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved, release-note-none

#17282 Log data that we failed to unmarshal
  pkg/bindings/errors.go
Labels: lgtm, approved, release-note

#17289 [v4.4] Fix usage of absolute windows paths with --image-path
  pkg/machine/pull.go
Labels: lgtm, approved, release-note

#17281 container rm: save once for exec removal and state change
  libpod/container_exec.go
  libpod/runtime_ctr.go
Labels: lgtm, approved, release-note-none

#17295 e2e: fix run_staticip_test about no_proxy
  test/e2e/run_staticip_test.go
Labels: lgtm, approved, release-note-none

#17279 [CI:DOCS] hack/perf: add script for BZ 216111
  hack/perf/bz-2162111.sh
Labels: lgtm, approved, release-note-none

#17291 [NO NEW TESTS NEEDED] Fixes port collision issue on use of --publish-all
  pkg/specgen/generate/ports.go
Labels: lgtm, approved, release-note-none

#17293 [CI:DOCS] docs: specify order preference for FROM
  docs/source/markdown/podman-build.1.md.in
Labels: lgtm, approved, release-note, 4.4

#17304 Do not mount /dev/tty into rootless containers
  pkg/util/utils_linux.go
Labels: lgtm, approved, release-note
