Repository containers/podman, pull requests merged in 2023-10, with the labels that each got.

#20219 [skip-ci] Improve podmansh(1)
  docs/source/markdown/podmansh.1.md
Labels: lgtm, approved, release-note-none

#20227 Volume create - fast exit when ignore is set and volume exists
  libpod/runtime_volume_common.go
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note-none

#20208 update vfkit vendored code
  go.mod
  go.sum
  pkg/machine/applehv/vfkit.go
  vendor/github.com/crc-org/vfkit/pkg/config/json.go
  vendor/github.com/crc-org/vfkit/pkg/config/virtio.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#20194 Add DefaultMode to kube play
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/volume.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#20221 remove selinux tag as not needed anymore
  Makefile
  hack/selinux_tag.sh
Labels: lgtm, approved, release-note-none

#20192 Fix broken podman images filters
  go.mod
  go.sum
  pkg/domain/infra/abi/images_list.go
  test/e2e/images_test.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/types/const.go
  vendor/github.com/containers/common/libnetwork/util/filters.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/have_http_body_matcher.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20215 [skip-ci] Revert "GHA Workflow: Faster discussion-locking"
  .github/workflows/discussion_lock.yml
Labels: lgtm, approved, release-note-none

#20202 windows: Use prebuilt gvproxy/win-sshproxy binaries
  Makefile
  winmake.ps1
Labels: lgtm, approved, release-note-none

#20240 Fix locale issues with WSL version detection
  pkg/machine/wsl/wutil/wutil.go
Labels: lgtm, approved, do-not-merge/hold, release-note

#20242 test, manifest: test push retry
  go.mod
  go.sum
  test/e2e/manifest_test.go
  vendor/github.com/opencontainers/runtime-tools/generate/generate.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/parse_action.go
  vendor/github.com/opencontainers/runtime-tools/generate/seccomp/seccomp_default.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#20205 Build applehv for Intel Macs
  pkg/machine/provider/platform.go
  pkg/machine/provider/platform_darwin.go
Labels: lgtm, approved, release-note

#20132 Change log level for health_check
  libpod/container_exec.go
  libpod/healthcheck_linux.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved, release-note

#20261 [CI:DOCS] Remove dead link from README
  README.md
Labels: lgtm, approved, release-note-none

#20250 inspect: ignore ENOENT during device lookup
  pkg/util/utils_linux.go
Labels: lgtm, approved, release-note

#20256 Revert --env-file changes
  docs/source/markdown/options/env-file.md
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/env/env_unix.go
  pkg/env/env_windows.go
  test/system/300-cli-parsing.bats
Labels: lgtm, approved, release-note, 4.7

#20262 [CI:BUILD] rpm/copr: gvforwarder recommends for RHEL
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#20263 [CI:DOCS] update kube play delete endpoint docs
  pkg/api/server/register_kube.go
Labels: lgtm, approved, release-note, kind/api-change

#20265 Revert "Fix WSL systemd detection"
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#20266 Adjust to path name change for resolved unit on WSL backend
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#20268 [CI:DOCS] update swagger version on docs.podman.io
  docs/source/Reference.rst
Labels: lgtm, approved, release-note-none

#20245 Create Qemu command wrapper
  pkg/machine/qemu/command.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_test.go
  pkg/machine/qemu/qemu_command_test.go
Labels: lgtm, approved, release-note-none

#20269 [v4.7] Fix env-file regssion + more backports
  docs/source/Reference.rst
  docs/source/markdown/options/env-file.md
  libpod/container.go
  pkg/api/handlers/compat/networks.go
  pkg/env/env.go
  pkg/env/env_test.go
  pkg/env/env_unix.go
  pkg/env/env_windows.go
  pkg/util/utils_linux.go
  test/system/300-cli-parsing.bats
Labels: lgtm, approved, release-note, kind/api-change

#20272 New release: v4.7.1
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#20276 [CI:DOCS] Add updating version on podman.io to release process
  RELEASE_PROCESS.md
Labels: lgtm, approved, release-note-none

#20273 vendor: bump c/storage
  go.mod
  go.sum
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/check.go
  vendor/github.com/containers/storage/drivers/overlay/composefs_supported.go
  vendor/github.com/containers/storage/drivers/overlay/mount.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/pkg/loopback/attach_loopback.go
  vendor/github.com/containers/storage/pkg/system/rm.go
  vendor/github.com/containers/storage/storage.conf
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/fast_encoder.go
  vendor/github.com/klauspost/compress/flate/level5.go
  vendor/github.com/klauspost/compress/flate/matchlen_amd64.go
  vendor/github.com/klauspost/compress/flate/matchlen_amd64.s
  vendor/github.com/klauspost/compress/flate/matchlen_generic.go
  vendor/github.com/klauspost/compress/fse/bitwriter.go
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/bitwriter.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/frameenc.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/github.com/klauspost/compress/zstd/snappy.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#20252 containers.conf: add `privileged` field to containers table
  cmd/podman/common/create.go
  cmd/podman/containers/exec.go
  docs/source/markdown/options/privileged.md
  go.mod
  go.sum
  pkg/api/handlers/libpod/containers_create.go
  test/system/800-config.bats
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/modules.txt
Labels: lgtm, approved, release-note, kind/api-change

#20253 Quadlet - add support for global arguments
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.container
  test/e2e/quadlet/containersconfmodule.container
  test/e2e/quadlet/containersconfmodule.image
  test/e2e/quadlet/containersconfmodule.kube
  test/e2e/quadlet/containersconfmodule.network
  test/e2e/quadlet/containersconfmodule.volume
  test/e2e/quadlet/globalargs.container
  test/e2e/quadlet/globalargs.image
  test/e2e/quadlet/globalargs.kube
  test/e2e/quadlet/globalargs.network
  test/e2e/quadlet/globalargs.volume
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#20308 api: drop debug statement
  pkg/api/handlers/libpod/containers_create.go
Labels: lgtm, approved, release-note-none, kind/api-change

#20288 fix: don't ignore containerfiles outside of build context
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: lgtm, approved, release-note-none

#20318 use sqlite as default database
  go.mod
  go.sum
  libpod/boltdb_state.go
  libpod/runtime.go
  libpod/sqlite_state.go
  test/e2e/info_test.go
  test/system/005-info.bats
  vendor/github.com/containerd/containerd/log/context_deprecated.go
  vendor/github.com/containerd/log/.golangci.yml
  vendor/github.com/containerd/log/LICENSE
  vendor/github.com/containerd/log/README.md
  vendor/github.com/containerd/log/context.go
  vendor/github.com/containers/common/pkg/apparmor/apparmor_linux.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/db_backend.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/sha3/sha3.go
  vendor/golang.org/x/crypto/sha3/sha3_s390x.go
  vendor/golang.org/x/crypto/sha3/shake.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/server.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20328 api: add `compatMode` parameter to libpod's pull endpoint
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/api/handlers/utils/images.go
  pkg/api/server/register_images.go
  test/apiv2/10-images.at
Labels: lgtm, approved, release-note, kind/api-change

#20340 [CI:DOCS]rtd: implement v2 build file
  .readthedocs.yaml
Labels: lgtm, approved, release-note-none

#20337 Quadlet - support oneshot .kube files
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/oneshot.kube
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#20347 healthcheck: make sure to always show health_status events
  libpod/events/journal_linux.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note-none

#20348 Run codespell
  cmd/quadlet/main.go
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/machine/e2e/README.md
  pkg/machine/qemu/command.go
Labels: lgtm, approved, release-note-none

#20322 Implement SetLock for all virt providers
  pkg/machine/applehv/machine.go
  pkg/machine/config.go
  pkg/machine/hyperv/machine.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/config.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#20274 Machine: Teardown on init failure
  pkg/machine/applehv/machine.go
  pkg/machine/cleanup.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/rm_test.go
  pkg/machine/hyperv/machine.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#20333 Show client info even if remote connection fails
  cmd/podman/client.go
  cmd/podman/client_supported.go
  cmd/podman/client_unsupported.go
  cmd/podman/root.go
  test/e2e/info_test.go
  test/system/272-system-connection.bats
Labels: lgtm, approved, release-note

#20367 buildah: bump to `v1.32.1-0.20231012130144-244170240d85` and test builds with relative `TMPDIR`
  cmd/podman/common/build.go
  docs/source/markdown/podman-build.1.md.in
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/api/server/register_images.go
  pkg/bindings/images/build.go
  test/e2e/build/basicrun/Containerfile
  test/e2e/build_test.go
  vendor/github.com/containers/buildah/.gitignore
  vendor/github.com/containers/buildah/.packit.yaml
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/mkcw/types/workload.go
  vendor/github.com/containers/buildah/internal/mkcw/workload.go
  vendor/github.com/containers/buildah/pkg/cli/build.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/sshagent/sshagent.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/selinux_tag.sh
  vendor/github.com/containers/luksy/.cirrus.yml
  vendor/github.com/containers/luksy/Makefile
  vendor/github.com/containers/luksy/OWNERS
  vendor/github.com/containers/luksy/decrypt.go
  vendor/github.com/containers/luksy/encrypt.go
  vendor/github.com/containers/luksy/encryption.go
  vendor/github.com/containers/luksy/luks.go
  vendor/modules.txt
Labels: lgtm, approved, release-note, kind/api-change

#20235 Fix handling of --read-only-tmpfs flag
  cmd/podman/common/create.go
  docs/source/markdown/options/read-only-tmpfs.md
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#20338 Update common and buildah vendor
  go.mod
  go.sum
  vendor/github.com/containers/buildah/internal/util/util.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/define/platform.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/platform.go
  vendor/github.com/containers/common/libimage/platform/platform.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20376 buildah-bud: test relative TMPDIR
  test/buildah-bud/apply-podman-deltas
  test/system/070-build.bats
Labels: lgtm, approved, release-note-none

#20363 System Test - Quadlet kube oneshot
  docs/source/markdown/podman-systemd.unit.5.md
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#20239 fix: pull error response docker rest api compatibility
  pkg/api/handlers/utils/images.go
  test/apiv2/10-images.at
Labels: lgtm, approved, kind/api-change

#19586 Fix output of podman --remote top
  libpod/container_top_linux.go
  pkg/api/handlers/compat/containers_top.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/containers.go
  test/e2e/top_test.go
  test/system/085-top.bats
Labels: lgtm, approved, release-note, kind/api-change

#20366 Quadlet - add support for KubeDownForce
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/downforce.kube
  test/e2e/quadlet_test.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#20384 libpod: restart+userns cleanup netns correctly
  libpod/container_internal.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#20388 [CI:DOCS] Add cross-build target info.
  Makefile
Labels: lgtm, approved, release-note-none

#20365 fix(API): Catch ErrNetworkConnected for compat
  libpod/networking_common.go
  pkg/api/handlers/compat/networks.go
  test/apiv2/35-networks.at
Labels: lgtm, approved, release-note, kind/api-change

#20381 image history: fix walking layers
  go.mod
  go.sum
  test/e2e/history_test.go
  vendor/github.com/containers/common/libimage/history.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20391 test/apiv2/20-containers.at: fix NanoCPUs tests on cgroups v1
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note-none

#20394 exec: do not leak session IDs on errors
  libpod/container_exec.go
  pkg/domain/infra/abi/containers.go
  test/system/075-exec.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note

#20383 use FindInitBinary() for init binary
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  go.mod
  go.sum
  libpod/info_linux.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/pause_image.go
  pkg/specgen/generate/storage.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20402 Kill gvproxy when machine rm -f
  pkg/machine/applehv/machine.go
Labels: lgtm, approved, release-note-none

#20404 Emergency workaround for CI breakage
  test/system/075-exec.bats
Labels: lgtm, approved, release-note-none

#20400 Fix path for omvf vars on Darwin/arm64
  pkg/machine/qemu/config.go
  pkg/machine/qemu/options_darwin_amd64.go
  pkg/machine/qemu/options_darwin_arm64.go
  pkg/machine/qemu/options_freebsd_amd64.go
  pkg/machine/qemu/options_freebsd_arm64.go
  pkg/machine/qemu/options_linux_amd64.go
  pkg/machine/qemu/options_linux_arm64.go
  pkg/machine/qemu/options_windows_amd64.go
  pkg/machine/qemu/options_windows_arm64.go
Labels: lgtm, approved, release-note-none

#20406 System tests: fix broken silence127
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#20357 Add TERM iff TERM not defined in container when podman exec -t
  libpod/container.go
  pkg/api/handlers/compat/exec.go
  pkg/domain/infra/abi/containers.go
  pkg/util/utils.go
  test/system/075-exec.bats
Labels: lgtm, approved, release-note, kind/api-change

#20413 [CI:DOCS] quadlet: document cgroupv2 requirement
  docs/source/markdown/podman-systemd.unit.5.md
  docs/tutorials/socket_activation.md
Labels: lgtm, approved, release-note-none

#20409 [CI:DOCS] network: document ports and macvlan interaction
  docs/source/markdown/options/publish.md
  docs/source/markdown/podman-network-create.1.md
Labels: lgtm, approved, release-note-none

#20405 remote: exec: do not leak session IDs on errors
  pkg/api/handlers/compat/exec.go
  pkg/api/handlers/types.go
  pkg/api/server/register_exec.go
  pkg/bindings/containers/exec.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_execremove_options.go
  pkg/domain/infra/tunnel/containers.go
  test/system/075-exec.bats
Labels: lgtm, approved, release-note-none, kind/api-change

#20414 cirrus setup: special-case perl unicode
  contrib/cirrus/lib.sh
Labels: lgtm, approved, release-note-none

#20385 Use node hostname in kube play when hostNetwork=true
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#20427 Update dependency golangci/golangci-lint to v1.55.0
  .golangci.yml
  Makefile
  cmd/podman/containers/stats.go
  libpod/container_internal_common.go
  libpod/container_log.go
  libpod/events.go
  libpod/lock/file/file_lock_test.go
  libpod/oci_conmon_common.go
  libpod/oci_conmon_exec_common.go
  libpod/util.go
  pkg/criu/criu_linux.go
  pkg/domain/infra/abi/pods_stats.go
  pkg/k8s.io/apimachinery/pkg/api/resource/suffix.go
  pkg/machine/e2e/config_test.go
  pkg/rootless/rootless_linux.go
  pkg/specgen/generate/kube/kube.go
  pkg/systemd/activation_test.go
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/pods.go
  pkg/timetype/timestamp_test.go
  pkg/util/utils_supported.go
  test/e2e/common_test.go
  test/e2e/create_test.go
  test/e2e/events_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_userns_test.go
  test/e2e/search_test.go
Labels: lgtm, approved, release-note-none

#20412 hyperV: Update lastUp time
  pkg/machine/e2e/stop_test.go
  pkg/machine/hyperv/machine.go
Labels: lgtm, approved, release-note

#20425 libpod: skip DBUS_SESSION_BUS_ADDRESS in conmon
  libpod/oci_conmon_common.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note-none

#20446 vendor latest c/common
  go.mod
  go.sum
  test/apiv2/12-imagesMore.at
  test/system/090-events.bats
  test/system/260-sdnotify.bats
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/fsnotify/fsnotify/.cirrus.yml
  vendor/github.com/fsnotify/fsnotify/.gitignore
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/backend_fen.go
  vendor/github.com/fsnotify/fsnotify/backend_inotify.go
  vendor/github.com/fsnotify/fsnotify/backend_kqueue.go
  vendor/github.com/fsnotify/fsnotify/backend_other.go
  vendor/github.com/fsnotify/fsnotify/backend_windows.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/mkdoc.zsh
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20452 CI: stop using registry.k8s.io
  test/e2e/config.go
  test/e2e/images_test.go
  test/e2e/play_kube_test.go
  test/system/200-pod.bats
Labels: lgtm, approved, release-note-none

#20456 not mounted layers should be reported as info not error
  libpod/container_internal.go
Labels: lgtm, approved, release-note-none

#20461 Fix logging typo
  pkg/machine/machine_common.go
Labels: lgtm, approved, release-note

#20458 ginkgo setup: retry cache pulls
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#20422 test/apiv2: adapt apiv2 test on cgroups v1 environment
  test/apiv2/20-containers.at
  test/apiv2/25-containersMore.at
  test/apiv2/40-pods.at
Labels: lgtm, approved, release-note-none

#20451 Support size option when creating tmpfs volumes
  docs/source/markdown/podman-volume-create.1.md
  libpod/runtime_volume_common.go
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note

#20455 Use buildah default isolation when working with podman play kube
  docs/source/markdown/podman-kube-play.1.md.in
  pkg/domain/infra/abi/play.go
Labels: lgtm, approved, release-note

#20463 vendor c/{buildah,common}: appendable containers.conf strings, Part 1
  go.mod
  go.sum
  test/system/800-config.bats
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/chroot/run_linux.go
  vendor/github.com/containers/buildah/chroot/seccomp.go
  vendor/github.com/containers/buildah/chroot/seccomp_freebsd.go
  vendor/github.com/containers/buildah/chroot/seccomp_unsupported.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/internal/mkcw/embed/entrypoint.gz
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/common/internal/attributedstring/slice.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note-none

#20480 Makefile - allow more control over Ginkgo parameters
  Makefile
  test/README.md
Labels: lgtm, approved, release-note-none

#20481 compat API: fix image-prune --all
  pkg/domain/infra/abi/images.go
  test/apiv2/10-images.at
Labels: lgtm, approved, release-note

#20050 Add podman farm build command
  .cirrus.yml
  cmd/podman/common/build.go
  cmd/podman/farm/build.go
  cmd/podman/farm/farm.go
  cmd/podman/images/build.go
  contrib/cirrus/lib.sh
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  libpod/define/info.go
  libpod/info.go
  pkg/bindings/images/build.go
  pkg/bindings/test/images_test.go
  pkg/domain/entities/engine.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/images.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/farm.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/abi/runtime.go
  pkg/domain/infra/runtime_abi.go
  pkg/domain/infra/runtime_tunnel.go
  pkg/domain/infra/tunnel/farm.go
  pkg/domain/infra/tunnel/images.go
  pkg/domain/infra/tunnel/manifest.go
  pkg/domain/infra/tunnel/runtime.go
  pkg/emulation/binfmtmisc_linux.go
  pkg/emulation/binfmtmisc_linux_test.go
  pkg/emulation/binfmtmisc_other.go
  pkg/emulation/elf.go
  pkg/emulation/emulation.go
  pkg/farm/farm.go
  pkg/farm/list_builder.go
  test/farm/001-farm.bats
  test/farm/Containerfile
  test/farm/helpers.bash
  test/farm/setup_suite.bash
Labels: lgtm, approved, bloat_approved, release-note

#20468 [CI:DOCS] (API): Fix compat network (dis-)connect
  pkg/api/handlers/swagger/errors.go
  pkg/api/server/register_networks.go
Labels: lgtm, approved, release-note-none, kind/api-change

#20470 CI: try to fix more networking flakes
  test/e2e/pod_infra_container_test.go
  test/system/500-networking.bats
  test/system/700-play.bats
  test/system/helpers.network.bash
Labels: lgtm, approved, release-note-none

#20478 fix: check npipe when executing podman compose on wsl vm
  cmd/podman/compose.go
Labels: lgtm, approved

#20493 CI: e2e: safer GetPort()
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#20492 [CI:DOCS] Fix broken code block markup in Introduction.rst
  docs/source/Introduction.rst
Labels: lgtm, approved, release-note

#20494 CI: systest: safer random_rfc1918_subnet
  test/system/helpers.network.bash
  test/system/helpers.t
Labels: lgtm, approved, release-note-none

#20501 Mask /sys/devices/virtual/powercap
  libpod/container_internal_common.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note-none

#20491 [4.7] fix: check wsl npipe when executing podman compose
  cmd/podman/compose.go
Labels: approved, needs-rebase, release-note, kind/api-change

#20508 compose: try all possible providers before throwing an error
  cmd/podman/compose.go
Labels: lgtm, approved, release-note

#20510 Do not add powercap mask if no paths are masked
  docs/source/markdown/options/security-opt.md
  libpod/container_internal_linux.go
Labels: lgtm, approved, release-note-none

#20513 Small fixes for wacko CI environments
  pkg/machine/applehv/machine.go
Labels: lgtm, approved, release-note-none

#20369 Define better error message for container name conflicts with external storage
  cmd/podman/root.go
  libpod/container_internal.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#20457 podman kube play --replace should force removal of pods and containers
  pkg/api/handlers/libpod/kube.go
  pkg/api/server/register_kube.go
  pkg/bindings/kube/types.go
  pkg/bindings/kube/types_play_options.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/tunnel/kube.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none, kind/api-change

#20529 docs: clarify systemd cgroup mount
  docs/source/markdown/options/systemd.md
Labels: lgtm, approved, release-note-none

#20136 [CI:DOCS] Implement secrets/credential scanning
  .cirrus.yml
  .github/workflows/scan-secrets.yml
  .gitleaks.toml
  .gitleaks/README.md
  .gitleaks/baseline.json
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, do-not-merge/hold, release-note-none

#20476 podman build --remote URI Dockerfile should not be treated as file
  pkg/api/handlers/compat/images_build.go
  pkg/bindings/images/build.go
  test/system/070-build.bats
Labels: lgtm, approved, release-note, kind/api-change

#20539 systests: stty test: retry once on flake
  test/system/450-interactive.bats
Labels: lgtm, approved, release-note-none

#20534 [v4.7] Vendor Buildah v1.32.2
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run_linux.go
  vendor/github.com/containers/buildah/chroot/seccomp.go
  vendor/github.com/containers/buildah/chroot/seccomp_freebsd.go
  vendor/github.com/containers/buildah/chroot/seccomp_unsupported.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20536 systests: pasta: avoid hangs
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#20544 Bump to v4.7.2
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, do-not-merge/hold, release-note-none

#20545 libpod: fix /etc/hostname with --uts=host
  libpod/container.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#20533 [CI:DOCS] Fix secrets scanning GHA Workflow
  .github/workflows/scan-secrets.yml
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, release-note-none
