Repository containers/podman, pull requests merged in 2023-11, with the labels that each got.

#20506 CI: podman farm tests cleanup
  test/farm/001-farm.bats
  test/farm/Containerfile
  test/farm/helpers.bash
  test/farm/setup_suite.bash
Labels: lgtm, approved, release-note-none

#20561 AppleHV: Fix machine rm error message
  pkg/machine/applehv/config.go
  pkg/machine/applehv/machine.go
  pkg/machine/e2e/rm_test.go
Labels: lgtm, approved, release-note-none

#20377 Add status messages to podman --remote commit
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/libpod/images.go
  pkg/api/server/register_images.go
  pkg/bindings/containers/commit.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_commit_options.go
  pkg/bindings/images/build.go
  pkg/domain/infra/tunnel/containers.go
  pkg/specgen/generate/config_linux.go
  test/e2e/commit_test.go
Labels: lgtm, approved, release-note, kind/api-change

#20557 [CI:DOCS] End-of-Life policy for github issues
  ISSUE-EOL-POLICY.md
Labels: lgtm, approved, release-note

#20565 compose: fix compose provider debug message
  cmd/podman/compose.go
Labels: lgtm, approved, release-note-none

#20538 Consume OCI images for machine image
  cmd/podman/machine/stop.go
  pkg/machine/config.go
  pkg/machine/default.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/fcos.go
  pkg/machine/oci.go
  pkg/machine/ocidir.go
  pkg/machine/ocipull/pull.go
  pkg/machine/ocipull/source.go
  pkg/machine/pull.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, bloat_approved, release-note-none

#20417 check system connections before machine init
  cmd/podman/machine/init.go
  pkg/machine/e2e/init_test.go
Labels: lgtm, approved, release-note-none

#20568 vendor: update containers/common
  go.mod
  go.sum
  libpod/info_linux.go
  libpod/runtime_pod_common.go
  libpod/runtime_pod_freebsd.go
  libpod/runtime_pod_linux.go
  libpod/stats_freebsd.go
  libpod/util_linux.go
  pkg/api/handlers/compat/containers_stats_linux.go
  pkg/domain/infra/abi/containers.go
  utils/utils_supported.go
  vendor/github.com/containers/common/pkg/cgroups/blkio.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_linux.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_supported.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_unsupported.go
  vendor/github.com/containers/common/pkg/cgroups/cpu.go
  vendor/github.com/containers/common/pkg/cgroups/cpuset.go
  vendor/github.com/containers/common/pkg/cgroups/memory.go
  vendor/github.com/containers/common/pkg/cgroups/pids.go
  vendor/github.com/containers/common/pkg/cgroups/utils.go
  vendor/github.com/containers/common/pkg/cgroups/utils_linux.go
  vendor/github.com/containers/common/pkg/config/config_local.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/LICENSE
  vendor/tags.cncf.io/container-device-interface/pkg/parser/parser.go
Labels: lgtm, approved, release-note-none, kind/api-change

#20582 remote,test: remove `.dockerignore` which is a symlink
  test/e2e/build/containerignore-symlink/.dockerignore
  test/e2e/build_test.go
Labels: lgtm, approved, release-note-none

#20420 Refactor machine socket mapping
  pkg/machine/applehv/machine.go
  pkg/machine/hyperv/vsock.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/sockets.go
Labels: lgtm, approved, release-note-none

#20559 CI: default to sqlite
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  test/README.md
  test/e2e/common_test.go
  test/system/005-info.bats
Labels: lgtm, approved, release-note-none

#20581 vendor: update github.com/coreos/go-systemd/v22 to latest main
  go.mod
  go.sum
  vendor/github.com/coreos/go-systemd/v22/internal/dlopen/dlopen.go
  vendor/github.com/coreos/go-systemd/v22/sdjournal/journal.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#20558 fix(deps): update module github.com/container-orchestrated-devices/container-device-interface to v0.6.2
  RELEASE_NOTES.md
  go.mod
  go.sum
  libpod/container_internal_common.go
  pkg/specgen/generate/config_freebsd.go
  pkg/specgen/generate/config_linux.go
  pkg/specgen/generate/container_create.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/pkg/parser/parser.go
  vendor/github.com/container-orchestrated-devices/container-device-interface/specs-go/oci.go
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/internal/multierror/multierror.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/k8s/objectmeta.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/k8s/validation.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/validate.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/annotations.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache_test_unix.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache_test_windows.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits_unix.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits_windows.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/device.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/doc.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/qualified-device.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/registry.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec-dirs.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec_linux.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec_other.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/version.go
  vendor/tags.cncf.io/container-device-interface/specs-go/LICENSE
  vendor/tags.cncf.io/container-device-interface/specs-go/config.go
  vendor/tags.cncf.io/container-device-interface/specs-go/oci.go
Labels: lgtm, approved, release-note-none

#20580 adjust string to use default machine name instead of helper path in helper message
  pkg/machine/machine_common.go
Labels: lgtm, approved, ok-to-test, release-note

#20578 [CI:DOCS] docs: make CNI removal explicit
  cni/README.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-network.1.md
  docs/source/markdown/podman.1.md
Labels: lgtm, approved, release-note

#20574 Podman push --help should reveal default compression
  cmd/podman/images/push.go
  test/system/800-config.bats
Labels: lgtm, approved, release-note

#20605 [CI:DOCS] Try to fix the broken formatting of man podman‐kube‐apply(1).
  docs/source/markdown/podman-kube-apply.1.md
Labels: lgtm, release-note-none

#20606 [CI:DOCS] Fix man page display of podman-kube-generate
  docs/source/markdown/podman-kube-generate.1.md
Labels: lgtm, approved, release-note-none

#20612 applehv: allow virtiofs to mount to /
  pkg/machine/applehv/machine.go
Labels: lgtm, approved, release-note

#20572 Refactor key machine objects
  pkg/machine/applehv/config.go
  pkg/machine/applehv/ignition.go
  pkg/machine/applehv/machine.go
  pkg/machine/compression/compression_test.go
  pkg/machine/compression/config.go
  pkg/machine/compression/decompress.go
  pkg/machine/config.go
  pkg/machine/define/image_format.go
  pkg/machine/define/image_format_test.go
  pkg/machine/define/machine_artifact.go
  pkg/machine/define/machine_artifact_test.go
  pkg/machine/define/vmfile.go
  pkg/machine/define/vmfile_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/fcos.go
  pkg/machine/fcos_test.go
  pkg/machine/gvproxy.go
  pkg/machine/hyperv/config.go
  pkg/machine/hyperv/machine.go
  pkg/machine/ocipull/oci.go
  pkg/machine/ocipull/ocidir.go
  pkg/machine/ocipull/versioned.go
  pkg/machine/pull.go
  pkg/machine/qemu/command.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/qemu_command_test.go
  pkg/machine/sockets.go
  pkg/machine/wsl/config.go
  pkg/machine/wsl/fedora.go
  pkg/machine/wsl/machine.go
  utils/utils.go
Labels: lgtm, approved, release-note-none

#20614 systests: add [NNN] prefix in logs, NNN = filename
  test/system/001-basic.bats
  test/system/505-networking-pasta.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#20613 systests: add a last-minute check for db backend
  test/system/005-info.bats
  test/system/999-final.bats
Labels: lgtm, approved, release-note-none

#20608 Run codespell on podman
  contrib/cirrus/prebuild.sh
  libpod/events/journal_linux.go
  pkg/domain/infra/abi/farm.go
  test/system/500-networking.bats
  test/system/700-play.bats
  test/system/800-config.bats
Labels: lgtm, approved, release-note-none

#20620 Automatic code cleanups - JetBrains
  cmd/podman/common/create_test.go
  cmd/podman/containers/restore.go
  cmd/podman/containers/stats.go
  libpod/container_inspect.go
  pkg/api/handlers/compat/containers.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/pods_test.go
  pkg/domain/infra/abi/farm.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/abi/parse/parse.go
  pkg/k8s.io/apimachinery/pkg/api/resource/amount.go
  pkg/k8s.io/apimachinery/pkg/api/resource/math.go
  pkg/k8s.io/apimachinery/pkg/api/resource/quantity.go
  pkg/machine/e2e/config_test.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/e2e/stop_test.go
  pkg/machine/fcos.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/kube/kube.go
  test/e2e/containers_conf_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/play_build_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_infra_container_test.go
  test/e2e/run_device_test.go
  test/e2e/run_passwd_test.go
  test/e2e/run_test.go
  test/e2e/toolbox_test.go
Labels: lgtm, approved, release-note-none, kind/api-change

#20630 Disable goproxy
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#20641 Fix socket mapping nits
  pkg/machine/applehv/machine.go
  pkg/machine/hyperv/vsock.go
  pkg/machine/sockets.go
Labels: lgtm, approved, release-note-none

#20626 Refactor Ignition configuration for virt providers
  pkg/machine/applehv/config.go
  pkg/machine/applehv/machine.go
  pkg/machine/hyperv/config.go
  pkg/machine/hyperv/machine.go
  pkg/machine/ignition.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note-none

#20607 [CI:DOCS] Document --userns=auto behaviour for rootless users
  docs/source/markdown/options/userns.container.md
Labels: lgtm, approved, release-note-none

#19879 Support passing of Ulimits as -1 to mean max
  docs/source/markdown/options/ulimit.md
  libpod/container_internal_common.go
  libpod/oci_conmon_linux.go
  pkg/specgen/generate/oci.go
  pkg/specgen/generate/oci_freebsd.go
  pkg/specgen/generate/oci_linux.go
  test/e2e/inspect_test.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#20649 [CI:DOCS] Improve the documentation of quadlet
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#20643 fix max open files limit for qemu
  cmd/podman/early_init_darwin.go
  cmd/podman/early_init_unsupported.go
Labels: lgtm, approved, release-note

#20646 CI: e2e: fix a smattering of test bugs that slipped in
  test/e2e/create_test.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note-none

#20662 Quadlet test - add case for multi = sign in mount
  test/e2e/quadlet/mount.container
Labels: lgtm, approved, release-note-none

#20672 [CI:BUILD] packit: handle builds for RC releases
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#20674 "[CI:DOCS]" Update podman-stats.1.md.in
  docs/source/markdown/podman-stats.1.md.in
Labels: lgtm, approved, release-note

#20540 qemu: add usb host passthrough
  cmd/podman/machine/init.go
  cmd/podman/machine/set.go
  docs/source/markdown/podman-machine-init.1.md.in
  docs/source/markdown/podman-machine-set.1.md.in
  pkg/machine/applehv/config.go
  pkg/machine/applehv/machine.go
  pkg/machine/config.go
  pkg/machine/hyperv/config.go
  pkg/machine/hyperv/machine.go
  pkg/machine/qemu/command.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/config_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/config.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#20601 rootless: use functionalities from c/storage
  go.mod
  go.sum
  pkg/rootless/rootless_linux.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/close_handle.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/console_size.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/process_modify_request.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/schema2/process_status.go
  vendor/github.com/Microsoft/hcsshim/internal/hcs/system.go
  vendor/github.com/Microsoft/hcsshim/internal/log/format.go
  vendor/github.com/Microsoft/hcsshim/internal/log/hook.go
  vendor/github.com/Microsoft/hcsshim/internal/log/nopformatter.go
  vendor/github.com/Microsoft/hcsshim/internal/protocol/guestrequest/types.go
  vendor/github.com/Microsoft/hcsshim/internal/wclayer/layerutils.go
  vendor/github.com/Microsoft/hcsshim/layer.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_darwin.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_unsupported.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#20673 (Temporary) Emergency CI fix: quay search is broken
  pkg/bindings/test/images_test.go
  test/e2e/search_test.go
Labels: lgtm, approved, release-note-none

#20676 [CI:DOCS] docs: fix relabeling command
  docs/source/markdown/options/volume.md
Labels: lgtm, approved, release-note-none

#20678 qemu,parseUSB: minor refactor
  pkg/machine/qemu/config.go
Labels: lgtm, approved, release-note-none

#20683 Avoid empty SSH keys on applehv
  pkg/machine/applehv/machine.go
Labels: lgtm, approved, release-note-none

#20696 [CI:DOCS] Machine test timeout env var
  pkg/machine/e2e/config_test.go
Labels: lgtm, approved, release-note-none

#20671 Quadlet - add support for UID and GID Mapping
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/idmapping-with-remap.container
  test/e2e/quadlet/idmapping.container
  test/e2e/quadlet/subidmapping-with-remap.container
  test/e2e/quadlet/subidmapping.container
  test/e2e/quadlet/userns-with-remap.container
  test/e2e/quadlet/userns.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#20659 [CI:DOCS] Pass secrets from the host down to internal podman containers
  contrib/podmanimage/stable/Containerfile
  contrib/podmanimage/testing/Containerfile
  contrib/podmanimage/upstream/Containerfile
Labels: lgtm, approved, release-note

#20610 VM images: bump to 2023-11-16
  .cirrus.yml
  test/e2e/run_test.go
  test/system/005-info.bats
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#20704 [CI:DOCS] Add link to podman py docs
  docs/source/index.rst
Labels: lgtm, approved, release-note

#20709 Bump Buildah to v1.33.0
  go.mod
  go.sum
  vendor/github.com/containerd/typeurl/.gitignore
  vendor/github.com/containerd/typeurl/LICENSE
  vendor/github.com/containerd/typeurl/README.md
  vendor/github.com/containerd/typeurl/doc.go
  vendor/github.com/containerd/typeurl/types.go
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/config/convert.go
  vendor/github.com/containers/buildah/internal/config/executor.go
  vendor/github.com/containers/buildah/internal/config/override.go
  vendor/github.com/containers/buildah/internal/mkcw/embed/entrypoint.gz
  vendor/github.com/gogo/protobuf/sortkeys/sortkeys.go
  vendor/github.com/gogo/protobuf/types/any.go
  vendor/github.com/gogo/protobuf/types/any.pb.go
  vendor/github.com/gogo/protobuf/types/api.pb.go
  vendor/github.com/gogo/protobuf/types/doc.go
  vendor/github.com/gogo/protobuf/types/duration.go
  vendor/github.com/gogo/protobuf/types/duration.pb.go
  vendor/github.com/gogo/protobuf/types/duration_gogo.go
  vendor/github.com/gogo/protobuf/types/empty.pb.go
  vendor/github.com/gogo/protobuf/types/field_mask.pb.go
  vendor/github.com/gogo/protobuf/types/protosize.go
  vendor/github.com/gogo/protobuf/types/source_context.pb.go
  vendor/github.com/gogo/protobuf/types/struct.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp.go
  vendor/github.com/gogo/protobuf/types/timestamp.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp_gogo.go
  vendor/github.com/gogo/protobuf/types/type.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers_gogo.go
  vendor/github.com/moby/buildkit/AUTHORS
  vendor/github.com/moby/buildkit/LICENSE
  vendor/github.com/moby/buildkit/frontend/dockerfile/command/command.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/errors.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/line_parsers.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/parser.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/split_command.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/envVarTest
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/equal_env_unix.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/equal_env_windows.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/wordsTest
  vendor/github.com/moby/buildkit/util/stack/generate.go
  vendor/github.com/moby/buildkit/util/stack/stack.go
  vendor/github.com/moby/buildkit/util/stack/stack.pb.go
  vendor/github.com/moby/buildkit/util/stack/stack.proto
  vendor/github.com/openshift/imagebuilder/Makefile
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dockerfile/parser/parser.go
  vendor/github.com/openshift/imagebuilder/evaluator.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note-none

#20707 vmtypes names cannot be used as machine names
  cmd/podman/machine/init.go
  pkg/machine/config.go
  pkg/machine/e2e/init_test.go
Labels: lgtm, approved, release-note, 4.8

#20708 Update to libhvee 0.5.0
  go.mod
  go.sum
  vendor/github.com/containers/libhvee/pkg/hypervctl/diskdrive_settings.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/error.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/ethernet_port_settings.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/resources_settings.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/scsi_controller.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/system_settings.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/system_settings_builder.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vm.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vmm.go
  vendor/github.com/containers/libhvee/pkg/wmiext/array.go
  vendor/github.com/containers/libhvee/pkg/wmiext/enum.go
  vendor/github.com/containers/libhvee/pkg/wmiext/error.go
  vendor/github.com/containers/libhvee/pkg/wmiext/init.go
  vendor/github.com/containers/libhvee/pkg/wmiext/instance.go
  vendor/github.com/containers/libhvee/pkg/wmiext/service.go
  vendor/modules.txt
Labels: lgtm, approved, release-note, 4.8

#20161 CI: test overlay and vfs
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/common_test.go
  test/e2e/config_amd64.go
  test/e2e/config_arm64.go
  test/e2e/config_ppc64le.go
  test/e2e/info_test.go
  test/system/001-basic.bats
  test/system/005-info.bats
  test/system/010-images.bats
  test/system/060-mount.bats
  test/system/070-build.bats
  test/system/400-unprivileged-access.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#20715 Bump Buildah to v1.33.1
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/directives.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/line_parsers.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/parser.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/util/stack/stack.go
  vendor/github.com/moby/buildkit/util/stack/stack.pb.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#20722 [CI:DOCS] rootless_tutorial: modernize
  docs/tutorials/rootless_tutorial.md
Labels: approved, release-note

#20723 [CI:DOCS] More rootless-tutorial fixes
  docs/tutorials/rootless_tutorial.md
Labels: lgtm, approved, release-note-none

#20724 [v4.8] Bump to 4.8.0-rc1
  RELEASE_NOTES.md
Labels: lgtm, approved, do-not-merge/hold, release-note-none

#20726 Clean up storageService.CreateContainerStorage
  libpod/storage.go
Labels: lgtm, approved, release-note-none

#20725 Bump main to 5.0.0-dev
  RELEASE_NOTES.md
  test/apiv2/01-basic.at
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#20356 new 'no-dereference' mount option
  docs/source/markdown/options/mount.md
  go.mod
  go.sum
  libpod/container_internal_common.go
  pkg/specgenutil/volumes.go
  pkg/util/mountOpts.go
  test/system/060-mount.bats
  vendor/github.com/containers/common/pkg/parse/parse.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20739 machine applehv: create better error on start failure
  pkg/machine/applehv/machine.go
Labels: lgtm, approved, release-note-none

#20735 Use configured timeout in list_test.go
  pkg/machine/e2e/list_test.go
Labels: lgtm, approved, release-note-none

#18976 No longer support deprecated legacy QEMU machine structures
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, 5.0, release-note-action-required

#20714 quadlet: Support `healthy` for `Notify` directives
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/notify-healthy.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#20751 [4.8] [CI:DOCS] Update release notes
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#20764 [CI:DOCS] Correct Ulimit syntax in systemd unit docs.
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note

#20768 libpod: drop dead code
  libpod/options.go
  libpod/runtime.go
  pkg/domain/infra/runtime_libpod.go
Labels: lgtm, approved, release-note-none

#20763 [CI:DOCS] Remove unnencessary pregenerated doc
  docs/source/markdown/.gitignore
  docs/source/markdown/podman-farm-build.1.md
Labels: lgtm, approved, release-note-none

#20744 If API calls for kube play --replace, then replace pod
  pkg/domain/infra/abi/play.go
  test/apiv2/80-kube.at
Labels: lgtm, approved, release-note

#20782 [v4.8] Bump to Buildah v1.33.2
  go.mod
  go.sum
  vendor/github.com/containerd/typeurl/v2/.gitignore
  vendor/github.com/containerd/typeurl/v2/LICENSE
  vendor/github.com/containerd/typeurl/v2/README.md
  vendor/github.com/containerd/typeurl/v2/doc.go
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/fsouza/go-dockerclient/client.go
  vendor/github.com/fsouza/go-dockerclient/container_create.go
  vendor/github.com/gogo/protobuf/sortkeys/sortkeys.go
  vendor/github.com/gogo/protobuf/types/any.go
  vendor/github.com/gogo/protobuf/types/any.pb.go
  vendor/github.com/gogo/protobuf/types/api.pb.go
  vendor/github.com/gogo/protobuf/types/doc.go
  vendor/github.com/gogo/protobuf/types/duration.go
  vendor/github.com/gogo/protobuf/types/duration.pb.go
  vendor/github.com/gogo/protobuf/types/duration_gogo.go
  vendor/github.com/gogo/protobuf/types/empty.pb.go
  vendor/github.com/gogo/protobuf/types/field_mask.pb.go
  vendor/github.com/gogo/protobuf/types/protosize.go
  vendor/github.com/gogo/protobuf/types/source_context.pb.go
  vendor/github.com/gogo/protobuf/types/struct.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp.go
  vendor/github.com/gogo/protobuf/types/timestamp.pb.go
  vendor/github.com/gogo/protobuf/types/timestamp_gogo.go
  vendor/github.com/gogo/protobuf/types/type.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers.pb.go
  vendor/github.com/gogo/protobuf/types/wrappers_gogo.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/parser.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/equal_env_unix.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/equal_env_windows.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/util/stack/stack.go
  vendor/github.com/moby/buildkit/util/stack/stack.pb.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#20769 system: enhance check for re-exec into rootless userns
  pkg/domain/infra/abi/system.go
Labels: lgtm, approved, release-note

#20791 [CI:DOCS] Add notes on upcoming deprecations to release notes
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#20753 Clean up farm-build miscommit
  docs/source/markdown/options/add-host.md
  docs/source/markdown/options/no-hostname.md
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-farm-build.1.md.in
  docs/source/markdown/podman-farm-list.1.md
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved, release-note-none

#20793 [v4.8] Bump to v4.8.0
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#20694 [v4.0-rhel] RHEL-17145: Update to github.com/klauspost/pgzip@v1.2.6
  go.mod
  go.sum
  pkg/bindings/test/images_test.go
  test/e2e/search_test.go
  vendor/github.com/klauspost/pgzip/.travis.yml
  vendor/github.com/klauspost/pgzip/LICENSE
  vendor/github.com/klauspost/pgzip/README.md
  vendor/github.com/klauspost/pgzip/gunzip.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20695 [v3.0.1-rhel] RHEL-17147: Update to github.com/klauspost/pgzip@v1.2.6
  go.mod
  go.sum
  pkg/bindings/test/images_test.go
  test/e2e/search_test.go
  vendor/github.com/klauspost/pgzip/.travis.yml
  vendor/github.com/klauspost/pgzip/LICENSE
  vendor/github.com/klauspost/pgzip/README.md
  vendor/github.com/klauspost/pgzip/gunzip.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20795 test/compose: remove debug leftovers
  test/compose/test-compose
Labels: lgtm, approved, release-note-none

#20788 [CI:DOCS] swagger: document play kube annotations param
  pkg/api/server/register_kube.go
Labels: lgtm, approved, release-note-none, kind/api-change

#20797 [systests] new defer-assertion-failure
  test/system/005-info.bats
  test/system/010-images.bats
  test/system/030-run.bats
  test/system/065-cp.bats
  test/system/075-exec.bats
  test/system/110-history.bats
  test/system/620-option-conflicts.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#20802 Use idtools.SafeChown and SafeLchown everywhere
  libpod/container_internal.go
  libpod/container_internal_common.go
Labels: lgtm, approved, release-note-none

#20807 docs: drop default for tmpfs-mode
  docs/source/markdown/options/mount.md
Labels: lgtm, approved, release-note-none

#20762 Quadlet - Add support for .pod units
  cmd/quadlet/main.go
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.pod
  test/e2e/quadlet/name.pod
  test/e2e/quadlet/pod.non-quadlet.container
  test/e2e/quadlet/pod.not-found.container
  test/e2e/quadlet/podmanargs.pod
  test/e2e/quadlet_test.go
  test/system/252-quadlet.bats
  test/system/helpers.bash
  test/system/helpers.systemd.bash
Labels: lgtm, approved, release-note

#20810 sqlite: fix issue in ValidateDBConfig()
  libpod/sqlite_state.go
Labels: lgtm, approved, release-note-none

#20813 sqlite: fix missing Commit() in RemovePodContainers()
  libpod/sqlite_state.go
Labels: lgtm, approved, release-note-none

#20609 Set correct exitcode in remove events
  libpod/container_exec.go
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/journal_linux.go
  libpod/sqlite_state.go
  pkg/api/handlers/utils/containers.go
  pkg/domain/entities/events.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/apiv2/27-containersEvents.at
Labels: lgtm, approved, release-note, kind/api-change

#20794 [CI:DOCS] performance: document sometimes slow native overlayfs
  docs/tutorials/performance.md
Labels: lgtm, approved, release-note-none

#20817 [CI:DOCS] Fix markdown bugs
  docs/source/locale/ja/LC_MESSAGES/markdown.po
  docs/source/markdown/podman-manifest-push.1.md.in
  docs/source/markdown/podman-push.1.md.in
  docs/source/markdown/podman-volume-inspect.1.md
Labels: lgtm, approved, release-note-none

#20517 Get masked paths and readonly masked patchs from containers/common @rhatdan
  pkg/specgen/generate/config_linux.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note-none

#20822 Fix transferring data using tar
  pkg/api/handlers/libpod/images.go
  pkg/domain/infra/tunnel/images.go
Labels: lgtm, approved, release-note-none, kind/api-change

#20823 utils: close a couple of ReadClosers
  utils/utils.go
Labels: lgtm, approved, release-note-none

#20836 Vendor c/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/netavark/exec.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/ginkgo/internal/test_suite.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/watch/dependencies.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/watch/package_hash.go
  vendor/github.com/onsi/ginkgo/v2/reporters/json_report.go
  vendor/github.com/onsi/ginkgo/v2/types/code_location.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20834 Gating test fixes
  test/system/030-run.bats
  test/system/272-system-connection.bats
Labels: lgtm, approved, release-note-none

#20828 quadlet: Support systemd style dropin files
  cmd/quadlet/main.go
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/parser/unitfile.go
  test/e2e/quadlet/merged-override.container
  test/e2e/quadlet/merged-override.container.d/10-first.conf
  test/e2e/quadlet/merged-override.container.d/20-second.conf
  test/e2e/quadlet/merged.container
  test/e2e/quadlet/merged.container.d/10-first.conf
  test/e2e/quadlet/merged.container.d/20-second.conf
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#20837 libpod: Allow using just one jail per container on FreeBSD
  libpod/container_internal_freebsd.go
  libpod/networking_freebsd.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/namespaces_freebsd.go
  pkg/specgen/generate/namespaces_linux.go
Labels: lgtm, approved, release-note-none

#20846 [v4.8] Gating test fixes
  test/system/030-run.bats
  test/system/272-system-connection.bats
Labels: lgtm, approved, release-note-none

#20833 Set `BUILDAH_ISOLATION=chroot` within Podman Containerfile
  contrib/podmanimage/upstream/Containerfile
Labels: lgtm, approved, release-note
