Repository containers/podman, pull requests merged in 2023-12, with the labels that each got.

#20831 fix podman-remote exec regression with v4.8
  pkg/bindings/containers/exec.go
  pkg/bindings/errors.go
  pkg/domain/infra/tunnel/containers.go
  pkg/machine/e2e/basic_test.go
Labels: lgtm, approved, release-note

#20869 libpod: Detect whether we have a private UTS namespace on FreeBSD
  libpod/container.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
Labels: lgtm, approved, release-note-none

#20657 RHEL-14922: accept a config blob alongside the "changes" slice when committing
  cmd/podman/containers/commit.go
  cmd/podman/containers/create.go
  docs/source/markdown/options/volume.image.md
  docs/source/markdown/podman-commit.1.md
  libpod/container_commit.go
  pkg/api/handlers/changes.go
  pkg/api/handlers/changes_test.go
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/libpod/images.go
  pkg/bindings/containers/commit.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_commit_options.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/config.go
  pkg/domain/infra/abi/config_test.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/apiv2/14-commit.at
  test/e2e/commit_test.go
Labels: lgtm, approved, release-note, kind/api-change

#20858 CI: fix system_test_aarch64 dependencies
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#20893 [CI:DOCS] Update health-start-periods docs
  docs/source/markdown/options/health-start-period.md
Labels: lgtm, approved, release-note

#19518 Change default QEMU CPU level to `qemu64` on Windows amd64
  pkg/machine/qemu/options_windows_amd64.go
Labels: lgtm, approved, release-note-none

#20897 apiv2 tests: fix race
  test/apiv2/27-containersEvents.at
  test/apiv2/test-apiv2
Labels: lgtm, approved, release-note-none

#20898 systests: debug systemd failures
  test/system/250-systemd.bats
  test/system/252-quadlet.bats
  test/system/255-auto-update.bats
  test/system/270-socket-activation.bats
  test/system/helpers.systemd.bash
Labels: lgtm, approved, release-note-none

#20907 V4.8.1 bump
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#20885 Add support for the userns annotation in kube play
  docs/source/markdown/podman-kube-play.1.md.in
  libpod/define/annotations.go
  pkg/domain/infra/abi/play.go
Labels: lgtm, approved, release-note

#20857 Fix command failure not resulting in task failure
  contrib/cirrus/win-lib.ps1
Labels: lgtm, approved, release-note-none

#20691 Implement bare-metal Mac M1 podman-machine testing
  .cirrus.yml
  Makefile
  contrib/cirrus/cirrus_yaml_test.py
  contrib/cirrus/mac_cleanup.sh
  contrib/cirrus/mac_env.sh
  contrib/cirrus/mac_setup.sh
  pkg/machine/e2e/README.md
Labels: lgtm, approved, release-note-none

#20889 Kube Play - set ReportWriter when building an image
  pkg/domain/infra/abi/play.go
  test/e2e/play_build_test.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#20866 podman: new option --preserve-fd
  cmd/podman/containers/exec.go
  cmd/podman/containers/run.go
  docs/source/markdown/options/preserve-fd.md
  docs/source/markdown/podman-exec.1.md.in
  docs/source/markdown/podman-run.1.md.in
  libpod/container_config.go
  libpod/container_exec.go
  libpod/oci.go
  libpod/oci_conmon_common.go
  libpod/oci_conmon_exec_common.go
  libpod/options.go
  pkg/domain/entities/containers.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/system/030-run.bats
  test/system/075-exec.bats
Labels: lgtm, approved, release-note

#20905 Add support for Entrypoint in quadlet
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/entrypoint.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#20912 systests: cp: add wait_for_ready
  test/system/065-cp.bats
Labels: lgtm, approved, release-note-none

#20924 [CI:DOCS] fix broken labeler.yml config
  .github/labeler.yml
Labels: lgtm, approved, release-note-none

#20933 Improve error handling in win-lib.ps1
  contrib/cirrus/win-lib.ps1
Labels: lgtm, approved, release-note-none

#20935 [v4.8] bump c/common to v0.57.1
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#20929 Fix user-mode net init flag on first time install
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#20937 [CI:DOCS] compat api: fix formatting syntax
  pkg/api/server/register_containers.go
Labels: lgtm, approved, release-note-none, kind/api-change

#20928 CI: systests: fix flaking --since test
  test/system/035-logs.bats
  test/system/helpers.bash
Labels: lgtm, approved, do-not-merge/hold, release-note-none

#20931 [CI:DOCS]use nginx in podman tutorial
  docs/tutorials/podman_tutorial.md
  docs/tutorials/podman_tutorial_cn.md
Labels: lgtm, approved, release-note-none

#20949 [CI:BUILD] override crun-wasm in fcos + podman-next image build
  contrib/podman-next/fcos-podmanimage/Containerfile
Labels: lgtm, approved, release-note-none

#20948 machine: usb: Fix 'passtrough' typo
  pkg/machine/applehv/config.go
  pkg/machine/hyperv/config.go
  pkg/machine/wsl/config.go
Labels: lgtm, approved, release-note-none

#20772 use rootless netns from c/common
  cmd/podman/system/service_abi.go
  cmd/podman/system/service_abi_common.go
  cmd/podman/system/service_abi_linux.go
  go.mod
  go.sum
  libpod/container_internal_linux.go
  libpod/healthcheck_linux.go
  libpod/networking_common.go
  libpod/networking_linux.go
  libpod/oci_conmon_common.go
  libpod/oci_conmon_freebsd.go
  libpod/oci_conmon_linux.go
  libpod/runtime.go
  libpod/runtime_pod_linux.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/abi/system_freebsd.go
  pkg/domain/infra/abi/system_linux.go
  pkg/specgen/generate/validate_freebsd.go
  pkg/specgen/generate/validate_linux.go
  utils/testdata/cgroup.empty
  utils/testdata/cgroup.other
  utils/testdata/cgroup.root
  utils/utils.go
  utils/utils_supported.go
  utils/utils_test.go
  utils/utils_windows.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libnetwork/cni/cni_exec.go
  vendor/github.com/containers/common/libnetwork/cni/network.go
  vendor/github.com/containers/common/libnetwork/cni/run.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_freebsd.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/netavark/exec.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/libnetwork/netavark/run.go
  vendor/github.com/containers/common/libnetwork/network/interface.go
  vendor/github.com/containers/common/libnetwork/types/define.go
  vendor/github.com/containers/common/libnetwork/types/network.go
  vendor/github.com/containers/common/pkg/cgroups/utils_linux.go
  vendor/github.com/containers/common/pkg/netns/netns_linux.go
  vendor/github.com/containers/common/pkg/systemd/systemd_linux.go
  vendor/github.com/containers/common/pkg/systemd/systemd_unsupported.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#20947 buildah treadmill: cleaner YAML, uglier script
  .cirrus.yml
  hack/buildah-vendor-treadmill
Labels: lgtm, approved, release-note-none

#20914 Fix regression in e2e machine test suite
  .cirrus.yml
  contrib/cirrus/win-podman-machine-main.ps1
  pkg/machine/e2e/config_test.go
  pkg/machine/e2e/config_unix_test.go
  pkg/machine/e2e/config_windows_test.go
  pkg/machine/e2e/machine_test.go
Labels: lgtm, approved, release-note-none

#20945 cli: use StringArray over StringSlice Part 1
  cmd/podman/README.md
  cmd/podman/common/create.go
  cmd/podman/containers/exec.go
  cmd/podman/registry/config.go
  cmd/podman/root.go
  test/e2e/create_test.go
  test/e2e/logs_test.go
  test/e2e/run_test.go
  test/system/300-cli-parsing.bats
  test/system/800-config.bats
Labels: lgtm, approved, 5.0, release-note

#20827 Support lookup of intermediate ID for uidmapping and gidmapping in `--userns=auto`
  docs/source/markdown/options/userns.container.md
  pkg/domain/infra/runtime_libpod.go
  pkg/namespaces/namespaces.go
  pkg/util/utils.go
  pkg/util/utils_test.go
  test/system/170-run-userns.bats
Labels: lgtm, approved, release-note

#20973 v4.8.2
  RELEASE_NOTES.md
  pkg/domain/infra/abi/play.go
  test/e2e/play_build_test.go
  test/system/252-quadlet.bats
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#20979 EMERGENCY: fix broken CI
  test/system/170-run-userns.bats
Labels: lgtm, approved, release-note-none

#20953 Fix WSL machine test regressions
  .cirrus.yml
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/list_test.go
Labels: lgtm, approved, release-note-none

#20946 Support a CI-colon-MACHINE mode
  .cirrus.yml
  contrib/cirrus/CIModes.md
Labels: lgtm, approved, release-note-none

#20988 Podman 5 machine config file - Step 1
  cmd/podman/compose.go
  pkg/machine/applehv/config.go
  pkg/machine/applehv/machine.go
  pkg/machine/applehv/vfkit/config.go
  pkg/machine/applehv/vfkit/rest.go
  pkg/machine/config.go
  pkg/machine/define/config.go
  pkg/machine/define/state.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/start_test.go
  pkg/machine/hyperv/config.go
  pkg/machine/hyperv/machine.go
  pkg/machine/hyperv/vsock/vsock.go
  pkg/machine/ignition.go
  pkg/machine/qemu/command.go
  pkg/machine/qemu/command/command.go
  pkg/machine/qemu/command/command_test.go
  pkg/machine/qemu/command/qemu_command_test.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/config_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_test.go
  pkg/machine/sockets/sockets.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/config_darwin.go
  pkg/machine/vmconfigs/config_freebsd.go
  pkg/machine/vmconfigs/config_linux.go
  pkg/machine/vmconfigs/config_windows.go
  pkg/machine/volumes.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#20938 CI: unskip tests on new VMs
  test/system/075-exec.bats
  test/utils/matchers.go
Labels: lgtm, approved, release-note-none

#20994 Remove deprecated field ContainerState.NetworkStatusOld
  go.mod
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_linux.go
Labels: lgtm, approved, release-note-none

#21002 machine e2e : set default disk size to 11
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/e2e/set_test.go
Labels: lgtm, approved, release-note-none

#20998 CI: systests: safer isolation in registry & tests
  test/system/272-system-connection.bats
  test/system/330-corrupt-images.bats
  test/system/520-checkpoint.bats
  test/system/550-pause-process.bats
  test/system/helpers.bash
  test/system/helpers.registry.bash
  test/system/setup_suite.bash
Labels: lgtm, approved, release-note-none

#21004 Fix push endpoint stream
  pkg/api/handlers/libpod/images_push.go
  test/apiv2/12-imagesMore.at
Labels: lgtm, approved, release-note, kind/api-change

#20966 Kube Play - pass arguments to build
  cmd/podman/kube/play.go
  pkg/domain/entities/play.go
  pkg/domain/infra/abi/play.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#20995 Error on HyperV VM start when gvproxy has failed to start
  pkg/machine/hyperv/machine.go
Labels: lgtm, approved, release-note-none

#21010 [CI:DOCS] doc cleanup
  docs/source/markdown/options/device-cgroup-rule.md
  docs/source/markdown/options/mount.md
  docs/source/markdown/options/network.md
  docs/source/markdown/options/volume.image.md
  docs/source/markdown/options/volume.md
Labels: lgtm, approved, release-note

#21011 CI: safer podman-stop tests
  test/e2e/common_test.go
  test/e2e/prune_test.go
  test/system/050-stop.bats
Labels: lgtm, approved, release-note-none

#21013 Fix Docker API compatibility with network alias
  libpod/container_config.go
  libpod/container_internal_common.go
  libpod/options.go
  pkg/api/handlers/compat/containers_create.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/specgen.go
  test/compose/etc_hosts/README.md
  test/compose/etc_hosts/docker-compose.yml
  test/compose/etc_hosts/hosts
  test/compose/etc_hosts/setup.sh
  test/compose/etc_hosts/teardown.sh
  test/compose/etc_hosts/tests.sh
  test/compose/test-compose
Labels: lgtm, approved, release-note, kind/api-change

#21025 [CI:DOCS] Fix path to example files in contrib/systemd/README.md
  contrib/systemd/README.md
Labels: lgtm, approved, release-note

#21040 [CI:DOCS] Fix `podman save` command example to use correct image format with `--compress` flag
  docs/source/markdown/podman-save.1.md.in
Labels: lgtm, approved, release-note

#21049 quadlet container support multiple Ulimit options
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/ulimit.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#21039 Allow PublishPorts to be used with [Pod] entry
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/network.pod
Labels: lgtm, approved, release-note

#21017 abi: drop check for IsRootless()
  pkg/domain/infra/abi/system_linux.go
Labels: lgtm, approved, release-note

#21046 Improve compose tests to report test errors as failures
  test/compose/simple_port_map/frontend/Dockerfile
  test/compose/slirp4netns_opts/teardown.sh
  test/compose/test-compose
Labels: lgtm, approved, release-note-none

#21053 Move golang requirement from 1.18 to 1.20
  Makefile
  go.mod
  pkg/trust/trust.go
  test/tools/go.mod
Labels: lgtm, approved, release-note-none

#21055 [CI:DOCS] Tests for xref-helpmsgs-manpages
  hack/xref-helpmsgs-manpages
  hack/xref-helpmsgs-manpages.t
Labels: lgtm, approved, release-note-none
