Repository containers/podman, pull requests merged in 2023-06, with the labels that each got.

#18758 test/system: quadlet use correct systemd restart policy
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#15867 Fix: display online_cpus in compat REST API
  libpod/stats_common.go
  libpod/stats_freebsd.go
  libpod/stats_linux.go
  pkg/api/handlers/compat/containers_stats.go
  test/apiv2/19-stats.at
Labels: lgtm, approved, release-note-none, kind/api-change

#18756 libpod: fix timezone handling
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/options.go
  test/e2e/create_test.go
  test/e2e/run_test.go
  test/system/030-run.bats
  test/system/060-mount.bats
  test/system/120-load.bats
  test/system/build-systemd-image
  test/system/helpers.bash
Labels: lgtm, approved, release-note

#18665 [v4.0-rhel] container: do not create .containerenv with -v SRC:/run
  libpod/container_internal_linux.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note-none

#18769 e2e: GetPort(): safer allocation of random ports
  test/e2e/common_test.go
  test/e2e/search_test.go
Labels: lgtm, approved, release-note-none

#18733 Add default ulimit test for gen kube
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, release-note-none

#18789 logformatter: proper status color for failed tests
  contrib/cirrus/logformatter
Labels: lgtm, approved, release-note-none

#18774 pasta: Correct handling of unknown protocols
  libpod/networking_pasta_linux.go
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#18788 Quadlet - add support for Pull key in .container
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/pull.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#18657 Added the "--out" parameter and fixed an issue with "--noout" which prevented stdout from being written to.
  cmd/podman/containers/run.go
  cmd/podman/root.go
  docs/source/markdown/podman.1.md
  test/system/001-basic.bats
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#18725 [CI:DOCS] feat: add insecure registry troubleshooting solution
  troubleshooting.md
Labels: lgtm, approved, release-note

#18710 [v3.0.1-rhel] podman stats: calc CPU percentage correctly
  libpod/pod.go
  libpod/stats.go
  pkg/api/handlers/compat/containers_stats.go
  pkg/domain/infra/abi/containers.go
Labels: lgtm, approved, release-note-none

#18795 Add support for SecurityLabelNested flag in quadlet
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/disableselinux.container
  test/e2e/quadlet/nestedselinux.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#18750 refactor: improve get identity path duplicate code
  pkg/machine/applehv/machine.go
  pkg/machine/hyperv/machine.go
  pkg/machine/keys.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/machine.go
  pkg/util/utils.go
  pkg/util/utils_test.go
Labels: lgtm, approved, release-note-none

#18796 Add support for lock debugging
  cmd/podman/system/locks.go
  docs/source/markdown/podman-container-inspect.1.md.in
  docs/source/markdown/podman-pod-inspect.1.md.in
  docs/source/markdown/podman-volume-inspect.1.md
  docs/source/markdown/podman-volume-ls.1.md.in
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  libpod/define/info.go
  libpod/define/pod_inspect.go
  libpod/define/volume_inspect.go
  libpod/info.go
  libpod/lock/file_lock_manager.go
  libpod/lock/in_memory_locks.go
  libpod/lock/lock.go
  libpod/lock/shm/shm_lock.c
  libpod/lock/shm/shm_lock.go
  libpod/lock/shm/shm_lock.h
  libpod/lock/shm/shm_lock_nocgo.go
  libpod/lock/shm_lock_manager_linux.go
  libpod/lock/shm_lock_manager_unsupported.go
  libpod/pod_api.go
  libpod/runtime.go
  libpod/volume_inspect.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/system.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/system.go
  test/e2e/info_test.go
Labels: lgtm, approved, release-note

#18804 logformatter: better recognition of test names
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#18816 e2e: add ginkgo decorators to address flakes
  test/e2e/exec_test.go
  test/e2e/search_test.go
  test/e2e/trust_test.go
Labels: lgtm, approved, release-note-none

#18798 filters: better handling of id=
  cmd/podman/pods/ps.go
  docs/source/markdown/podman-pause.1.md.in
  docs/source/markdown/podman-pod-ps.1.md.in
  docs/source/markdown/podman-ps.1.md
  docs/source/markdown/podman-restart.1.md.in
  docs/source/markdown/podman-rm.1.md.in
  docs/source/markdown/podman-start.1.md.in
  docs/source/markdown/podman-stop.1.md.in
  docs/source/markdown/podman-unpause.1.md.in
  libpod/define/config.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  test/system/040-ps.bats
  test/system/200-pod.bats
Labels: lgtm, approved, release-note

#18818 [CI:BUILD] GHA: Fix bad job-names & links in monitoring emails
  .github/actions/check_cirrus_cron/cron_failures.sh
  .github/actions/check_cirrus_cron/make_email_body.sh
  .github/actions/check_cirrus_cron/rerun_failed_tasks.sh
  .github/actions/check_cirrus_cron/test.sh
  .github/workflows/check_cirrus_cron.yml
  .github/workflows/rerun_cirrus_cron.yml
Labels: lgtm, approved, release-note-none

#18791 podman-registry: simpler, safer invocations
  hack/podman-registry
  hack/podman-registry-go/registry.go
  hack/podman-registry-go/registry_test.go
  pkg/bindings/test/auth_test.go
  pkg/bindings/test/images_test.go
  pkg/bindings/test/manifests_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/manifest_test.go
Labels: lgtm, approved, release-note-none

#18827 Makefile: don't hard-code the path for bash
  Makefile
Labels: lgtm, approved, release-note-none

#18785 Quadlet: Add support for --sysctl
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/sysctl.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#18832 [v4.2.0-rhel] podman-kube@.service.in: Remove Restart=never option wi…
  contrib/systemd/system/podman-kube@.service.in
Labels: lgtm, approved, release-note-none

#18837 Makefile to force a shell when running command
  Makefile
Labels: lgtm, approved, release-note-none

#18849 fix(specgen): index out of range when unmask=[]
  pkg/specgen/generate/oci_linux.go
Labels: lgtm, approved, release-note

#18850 Fix system service manpage name in API Documentation
  pkg/api/server/doc.go
Labels: lgtm, approved, release-note-none, kind/api-change

#18854 250-systemd.bats: remove outdated comment
  test/system/250-systemd.bats
Labels: lgtm, approved, release-note-none

#18838 Add WorkingDir support to quadlet
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/workingdir.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#18857 criu: return error when checking for min version
  libpod/container_internal_common.go
  pkg/checkpoint/checkpoint_restore.go
  pkg/criu/criu_linux.go
  pkg/criu/criu_unsupported.go
  test/e2e/checkpoint_image_test.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note-none

#18383 libpod: Podman info output more network information
  docs/source/markdown/podman-info.1.md
  libpod/define/info.go
  libpod/info.go
  libpod/info_linux.go
  libpod/oci_conmon_common.go
  libpod/util.go
  test/e2e/info_test.go
  test/system/005-info.bats
Labels: lgtm, approved, release-note

#18858 e2e: GetRandomIPAddress(): parallelize
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#18859 Makefile: add support for 'make help' on FreeBSD
  Makefile
Labels: lgtm, approved, release-note-none

#18684 [CI:DOCS] network-create: document new bclim option
  docs/source/markdown/podman-network-create.1.md
Labels: lgtm, approved, release-note

#18869 container wait: indicate timeout in error
  libpod/container_api.go
Labels: lgtm, approved, release-note-none

#18871 [CI:DOCS] podman-push: rm confusion on supported transports
  docs/source/markdown/podman-manifest-push.1.md.in
  docs/source/markdown/podman-push.1.md.in
Labels: lgtm, approved, release-note-none

#18864 [CI:DOCS] quadlet: adjust container unit documentation
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#18875 update c/{common,image,storage} to latest
  Makefile
  go.mod
  go.sum
  libpod/define/config.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/filters/volumes.go
  pkg/util/filters.go
  pkg/util/filters_test.go
  rpm/podman.spec
  test/e2e/network_test.go
  vendor/github.com/containers/common/libnetwork/types/define.go
  vendor/github.com/containers/common/libnetwork/util/filters.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/default_common.go
  vendor/github.com/containers/common/pkg/config/default_freebsd.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/github.com/containers/common/pkg/util/util.go
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/openshift/openshift-copies.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/drivers/quota/projectquota.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/regexp/regexp.go
  vendor/github.com/containers/storage/types/options.go
  vendor/github.com/go-openapi/swag/util.go
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/SECURITY.md
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/huffman_sortByFreq.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.s
  vendor/github.com/klauspost/compress/zstd/matchlen_generic.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/config.go
  vendor/github.com/opencontainers/runtime-spec/specs-go/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18872 logformatter: ignore 'TOP-LEVEL' headings
  contrib/cirrus/logformatter
  contrib/cirrus/logformatter.t
Labels: lgtm, approved, release-note-none

#18878 [CI:DOCS] Document how to get secret mounts working on RHEL8
  troubleshooting.md
Labels: lgtm, approved

#18880 Verify podman pull dup image only prints id once
  go.mod
  go.sum
  test/system/010-images.bats
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/pkg/retry/retry.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/mac.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#18894 Add quadlet container support for Mask,Umask options
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/mask.container
  test/e2e/quadlet/unmask.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#18739 New command: podmansh
  Makefile
  cmd/podman/containers/exec.go
  cmd/podman/main.go
  cmd/podman/registry/remote.go
  docs/source/markdown/podmansh.1.md
  rpm/podman.spec
  test/e2e/exec_test.go
  test/system/075-exec.bats
Labels: lgtm, approved, release-note

#18891 Add support for setting autoupdate in quadlet
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/autoupdate.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#18900 pasta: use code from c/common
  go.mod
  go.sum
  libpod/info_linux.go
  libpod/networking_pasta_linux.go
  test/system/505-networking-pasta.bats
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libnetwork/etchosts/ip.go
  vendor/github.com/containers/common/libnetwork/pasta/pasta.go
  vendor/github.com/containers/common/libnetwork/util/ip.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_roundrobin.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#18912 remote wait: fix "removed" condition
  pkg/api/handlers/utils/containers.go
  test/apiv2/26-containersWait.at
Labels: lgtm, approved, release-note, kind/api-change

#18892 e2e: GetSafeIPAddress() replaces GetRandomIPAddress
  test/e2e/checkpoint_image_test.go
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/create_staticip_test.go
  test/e2e/pod_create_test.go
  test/e2e/run_staticip_test.go
Labels: lgtm, approved, release-note-none

#18224 podman: add support for splitting imagestore using `--imagestore`
  cmd/podman/root.go
  docs/source/markdown/podman.1.md
  go.mod
  go.sum
  libpod/options.go
  pkg/domain/entities/engine.go
  pkg/domain/infra/runtime_libpod.go
  pkg/specgenutil/util.go
  test/e2e/pull_test.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/check.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/containers/storage/types/options.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note

#18828 quadlet should exit non zero on failures
  cmd/quadlet/main.go
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#18915 fix(ssh): machine failed to start with exit status 255
  pkg/machine/applehv/machine.go
  pkg/machine/ssh.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note

#18917 network create --ip-range allow for custom range
  cmd/podman/networks/create.go
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-systemd.unit.5.md
  test/e2e/network_create_test.go
Labels: lgtm, approved, release-note

#18927 cmd/podman/root.go: fix help document issue of the image store
  cmd/podman/root.go
Labels: lgtm, approved, release-note

#18931 bump golangci-lint to v1.53.3
  .golangci.yml
  Makefile
  cmd/podman/system/connection/add.go
  cmd/quadlet/main.go
  libpod/container_internal_common.go
  libpod/container_internal_linux.go
  libpod/oci_conmon_common.go
  libpod/sqlite_state.go
  pkg/machine/e2e/inspect_test.go
  pkg/machine/e2e/list_test.go
  pkg/rootless/rootless_linux.go
  test/e2e/create_test.go
  test/e2e/generate_kube_test.go
  test/e2e/images_test.go
  test/e2e/inspect_test.go
  test/e2e/network_test.go
  test/e2e/pause_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/prune_test.go
  test/e2e/restart_test.go
  test/e2e/rm_test.go
  test/e2e/start_test.go
  test/e2e/stop_test.go
  utils/utils_supported.go
Labels: lgtm, approved, release-note-none

#18820 Add console mode to podman machine
  pkg/machine/applehv/vfkit.go
Labels: lgtm, approved, release-note

#18936 fix(machine): throw error `connection refused` after set proxy
  pkg/machine/ignition.go
  pkg/machine/qemu/machine_test.go
Labels: lgtm, approved, release-note

#18953 vendor in latests containers/common
  go.mod
  go.sum
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/etchosts/hosts.go
  vendor/github.com/containers/common/libnetwork/internal/util/parse.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/ipam.go
  vendor/github.com/containers/common/pkg/cgroups/cpuset_linux.go
  vendor/github.com/containers/common/pkg/completion/completion.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/hooks/hooks.go
  vendor/github.com/containers/common/pkg/manifests/manifests.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/github.com/containers/common/pkg/supplemented/supplemented.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/internal/focus.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18955 refactor(machine): remove hard code
  pkg/machine/ignition.go
  pkg/machine/qemu/machine_test.go
Labels: lgtm, approved, release-note-none

#18956 compat API container create: handle platform parameter
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note, kind/api-change

#18961 libpod: write /etc/{hosts,resolv.conf} once
  libpod/container_internal.go
  libpod/container_internal_common.go
Labels: lgtm, approved, release-note-none

#18948 e2e: GetSafeIPAddress(): discourage its use
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#18959 e2e: fix one of the many log flakes
  test/e2e/logs_test.go
Labels: lgtm, approved, release-note-none

#18954 compat API create/pull/push: fix error handling
  go.mod
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/images_push.go
  test/apiv2/10-images.at
  test/apiv2/12-imagesMore.at
  test/apiv2/70-short-names.at
Labels: lgtm, approved, release-note, kind/api-change

#18963 systests: test instrumentation
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#18965 e2e: use parallel-safe /dev subdirectories
  test/e2e/pod_create_test.go
  test/e2e/run_device_test.go
  test/e2e/run_privileged_test.go
Labels: lgtm, approved, release-note-none

#18964 [CI:BUILD] Help Renovate manage the golangci-lint version
  Makefile
Labels: lgtm, approved, release-note-none

#18969 run,create: modify `--env-merge` behavior for non-existent vars
  docs/source/markdown/options/env-merge.md
  pkg/specgen/generate/container.go
  test/e2e/run_env_test.go
Labels: lgtm, approved

#18971 StopContainer(): ignore one more conmon warning
  libpod/oci_conmon_common.go
Labels: lgtm, approved, release-note-none

#18946 use slirp4netns code from c/common
  cmd/podman/system/service_abi.go
  cmd/rootlessport/main.go
  go.mod
  go.sum
  libpod/container_exec.go
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
  libpod/info_linux.go
  libpod/networking_common.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  libpod/networking_slirp4netns.go
  libpod/networking_unsupported.go
  libpod/oci_conmon_common.go
  libpod/util.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/const.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/slirp4netns.go
  vendor/github.com/containers/common/pkg/rootlessport/rootlessport_linux.go
  vendor/github.com/containers/common/pkg/servicereaper/service.go
  vendor/github.com/containers/common/pkg/util/util.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18974 podman wait: support healthy/unhealthy
  cmd/podman/common/completion.go
  cmd/podman/containers/exec.go
  cmd/podman/containers/wait.go
  docs/source/markdown/podman-wait.1.md.in
  libpod/container_api.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/utils/containers.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_wait_options.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note, kind/api-change

#18932 [CI:BUILD] Packit: cleanups
  .packit.sh
  .packit.yaml
  rpm/podman.spec
  rpm/update-spec-provides.sh
Labels: lgtm, approved, release-note-none

#18978 [CI:DOCS] Fix example on PublishPort
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#18983 pkg/api: top return error to client
  pkg/api/handlers/compat/containers_top.go
  pkg/api/server/handler_api.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note, kind/api-change

#18998 system tests: add and use _prefetch
  test/system/001-basic.bats
  test/system/010-images.bats
  test/system/011-image.bats
  test/system/120-load.bats
  test/system/255-auto-update.bats
  test/system/260-sdnotify.bats
  test/system/710-kube.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#18981 Trim whitespace from unit files while parsing
  .pre-commit-config.yaml
  Makefile
  pkg/systemd/parser/unitfile.go
  test/e2e/quadlet/remap-keep-id2.container
Labels: lgtm, approved, release-note-none

#19002 specgen: raise error with --device-cgroup-rule in a userns
  pkg/specgen/generate/oci_linux.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#18980 make image listing more resilient
  go.mod
  go.sum
  libpod/container_internal.go
  pkg/domain/infra/abi/images_list.go
  test/system/010-images.bats
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/slirp4netns.go
  vendor/github.com/containers/common/pkg/hooks/exec/exec.go
  vendor/github.com/containers/common/pkg/hooks/exec/runtimeconfigfilter.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#19008 debug tail 800 lines flake
  test/e2e/logs_test.go
Labels: lgtm, approved, release-note-none

#18984 [CI:DOCS] Fix up podmansh man page
  docs/source/markdown/podmansh.1.md
Labels: lgtm, approved, release-note-none

#18975 Kube quadlets can support autoupdate as well as containers
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/autoupdate.kube
Labels: lgtm, approved, release-note

#18999 update c/{common,image,storage,buildah} to latest
  cmd/podman/containers/create.go
  cmd/podman/images/pull.go
  cmd/podman/images/push.go
  go.mod
  go.sum
  pkg/bindings/test/images_test.go
  pkg/util/utils.go
  test/buildah-bud/apply-podman-deltas
  test/e2e/manifest_test.go
  test/e2e/push_test.go
  test/system/010-images.bats
  test/system/120-load.bats
  vendor/dario.cat/mergo/.deepsource.toml
  vendor/dario.cat/mergo/.gitignore
  vendor/dario.cat/mergo/.travis.yml
  vendor/dario.cat/mergo/CODE_OF_CONDUCT.md
  vendor/dario.cat/mergo/CONTRIBUTING.md
  vendor/dario.cat/mergo/LICENSE
  vendor/dario.cat/mergo/README.md
  vendor/dario.cat/mergo/SECURITY.md
  vendor/dario.cat/mergo/doc.go
  vendor/dario.cat/mergo/map.go
  vendor/dario.cat/mergo/merge.go
  vendor/dario.cat/mergo/mergo.go
  vendor/github.com/containers/buildah/.packit.sh
  vendor/github.com/containers/buildah/.packit.yaml
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/buildah.spec.rpkg
  vendor/github.com/containers/buildah/chroot/run_common.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/install.md
  vendor/github.com/containers/buildah/internal/util/util.go
  vendor/github.com/containers/buildah/libdm_tag.sh
  vendor/github.com/containers/buildah/pkg/cli/build.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/common/pkg/secrets/secrets.go
  vendor/github.com/containers/image/v5/copy/single.go
  vendor/github.com/containers/image/v5/openshift/openshift-copies.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/btrfs/btrfs.go
  vendor/github.com/containers/storage/drivers/driver.go
  vendor/github.com/containers/storage/drivers/driver_linux.go
  vendor/github.com/containers/storage/drivers/fsdiff.go
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/drivers/vfs/driver.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/chunked/cache_linux.go
  vendor/github.com/containers/storage/pkg/chunked/compression_linux.go
  vendor/github.com/containers/storage/pkg/chunked/compressor/compressor.go
  vendor/github.com/containers/storage/pkg/chunked/internal/compression.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_unsupported.go
  vendor/github.com/sigstore/sigstore/pkg/signature/payload/payload.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#18977 Re-organize hypervisor implementations
  cmd/podman/machine/platform.go
  cmd/podman/machine/platform_darwin.go
  cmd/podman/machine/platform_windows.go
  pkg/machine/applehv/config.go
  pkg/machine/applehv/machine.go
  pkg/machine/config.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/hyperv/config.go
  pkg/machine/hyperv/machine.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/machine.go
  pkg/machine/wsl/config.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, release-note-none

#18921 Fixes #18907, pass in correct cwd value for hooks exe
  libpod/container_internal.go
  libpod/container_internal_test.go
Labels: lgtm, approved, release-note

#19015 Fix readonly=false failure
  pkg/specgenutil/volumes.go
  test/system/060-mount.bats
Labels: lgtm, approved, release-note

#19021 pasta: Fix pasta tests to work on hosts with multiple interfaces
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#19013 pkg/specgen: Add support for Linux emulation on FreeBSD
  pkg/specgen/generate/oci_freebsd.go
Labels: lgtm, approved, release-note

#19029 Remove 'inspecting object' from inspect errors
  cmd/podman/inspect/inspect.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#19034 e2e: systemd test: major fixes
  test/e2e/systemd_test.go
Labels: lgtm, approved, release-note-none

#19011 Display secret to user in inspect
  cmd/podman/secrets/inspect.go
  docs/source/markdown/podman-secret-inspect.1.md
  docs/source/markdown/podman-secret-ls.1.md.in
  pkg/api/handlers/compat/secrets.go
  pkg/api/server/register_secrets.go
  pkg/bindings/secrets/secrets.go
  pkg/bindings/secrets/types.go
  pkg/bindings/secrets/types_inspect_options.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/secrets.go
  pkg/domain/infra/abi/secrets.go
  pkg/domain/infra/tunnel/secrets.go
  test/e2e/secret_test.go
Labels: lgtm, approved, release-note, kind/api-change

#19031 pkg/specgen: add support for 'podman run --init' on FreeBSD
  libpod/define/mount_freebsd.go
  libpod/define/mount_linux.go
  pkg/specgen/generate/storage.go
Labels: lgtm, approved, release-note-none

#19035 [CI:BUILD] RPM: Fix koji and ELN issues
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#19040 Bump c/image to v5.26.0, c/common 0.54.0
  go.mod
  go.sum
  vendor/github.com/containers/common/pkg/config/config_darwin.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/internal/manifest/list.go
  vendor/github.com/containers/image/v5/internal/manifest/oci_index.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#19044 Correct intermittent failures in pasta port range forwarding tests
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#19032 rootless: use default_rootless_network_cmd config
  pkg/specgen/container_validate.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/namespaces.go
  test/e2e/containers_conf_test.go
Labels: lgtm, approved, release-note

#19043 pasta: Remove some leftover code from pasta bats tests
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#19047 [CI:DOCS] Document support of pod security context IDs
  docs/kubernetes_support.md
Labels: lgtm, approved

#19049 Add support for 'podman system service' on FreeBSD
  cmd/podman/registry/registry.go
  cmd/podman/registry/registry_common.go
  cmd/podman/registry/registry_freebsd.go
  cmd/podman/system/service.go
  cmd/podman/system/service_abi.go
  cmd/podman/system/service_abi_common.go
  cmd/podman/system/service_abi_linux.go
  pkg/api/handlers/compat/containers_stats_freebsd.go
  pkg/api/handlers/compat/containers_stats_linux.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/abi/system_freebsd.go
  pkg/domain/infra/abi/system_linux.go
Labels: lgtm, approved, release-note, kind/api-change, 4.6

#19042 pasta: Create /etc/hosts entries for pods using pasta networking
  libpod/container_internal_common.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none, 4.6

#19053 pasta system tests: cleanup, fixes, sanity check
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none

#19057 Makefile: don't rely on the non-standard -r flag for ln
  Makefile
Labels: lgtm, approved, release-note-none, 4.6

#19060 podman machine start: fix ready service
  pkg/machine/hyperv/machine.go
  pkg/machine/qemu/machine.go
Labels: lgtm, approved, release-note, 4.6

#19063 fix(command): ignore `--format` in `podman search --list-tags`
  cmd/podman/images/search.go
  test/e2e/search_test.go
Labels: lgtm, approved, release-note, 4.6

#19062 Use /proc/self/gid_map as intended, not uid_map
  pkg/util/utils.go
Labels: lgtm, approved, release-note-none, 4.6

#19072 [v4.6] 4.6 Backports
  Makefile
  cmd/podman/images/search.go
  cmd/podman/registry/registry.go
  cmd/podman/registry/registry_common.go
  cmd/podman/registry/registry_freebsd.go
  cmd/podman/system/service.go
  cmd/podman/system/service_abi.go
  cmd/podman/system/service_abi_common.go
  cmd/podman/system/service_abi_linux.go
  libpod/container_internal_common.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  pkg/api/handlers/compat/containers_stats_freebsd.go
  pkg/api/handlers/compat/containers_stats_linux.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/abi/system_freebsd.go
  pkg/domain/infra/abi/system_linux.go
  pkg/machine/hyperv/machine.go
  pkg/machine/qemu/machine.go
  pkg/util/utils.go
  test/e2e/search_test.go
  test/system/505-networking-pasta.bats
Labels: lgtm, approved, release-note-none, kind/api-change
