Repository containers/podman, pull requests merged in 2024-03, with the labels that each got.

#21892 [SKIP-ci] Run codespell on code
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note-none

#21891 CI: must-add-tests check: use GH label, not text
  CONTRIBUTING.md
  contrib/cirrus/pr-should-include-tests
  contrib/cirrus/pr-should-include-tests.t
Labels: lgtm, approved, release-note-none

#21906 Use stop timeout of zero for system reset
  libpod/reset.go
  test/e2e/system_reset_test.go
Labels: lgtm, approved, 5.0, release-note

#20847 Copy past golang/expansion form ks8.io/kubernetes
  go.mod
  go.sum
  pkg/domain/infra/abi/internal/expansion/LICENSE
  pkg/domain/infra/abi/internal/expansion/README.md
  pkg/domain/infra/abi/internal/expansion/expand.go
  pkg/domain/infra/abi/internal/expansion/expand_test.go
  pkg/domain/infra/abi/play.go
  vendor/k8s.io/kubernetes/LICENSE
  vendor/k8s.io/kubernetes/third_party/forked/golang/PATENTS
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#21928 Fix CI: Bump to FreeBSD 13.3 (13.2 vanished)
  .cirrus.yml
Labels: lgtm, approved, 5.0

#18442 test/e2e: check for stderr errors in cleanup()
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#21930 machine init: print output to improve UX
  pkg/machine/ocipull/ociartifact.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#21934 [CI:BUILD] V4.9 rhel bsd backport
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#21933 logformatter: fixes for Macintosh
  Makefile
  contrib/cirrus/logformatter
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/machine_test.go
Labels: lgtm, approved, machine, release-note-none

#21924 [CI:DOCS] Update podman-for-windows.md
  docs/tutorials/podman-for-windows.md
Labels: lgtm, approved, release-note

#21927 Resurrect auto-port reassignment, but for all providers
  cmd/podman/compose_machine.go
  cmd/podman/machine/info.go
  cmd/podman/machine/inspect.go
  cmd/podman/machine/machine.go
  cmd/podman/machine/os/manager.go
  cmd/podman/machine/reset.go
  cmd/podman/machine/rm.go
  cmd/podman/machine/set.go
  cmd/podman/machine/ssh.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  cmd/podman/system/reset_machine.go
  go.mod
  go.sum
  pkg/machine/applehv/stubber.go
  pkg/machine/config.go
  pkg/machine/config_test.go
  pkg/machine/connection/add.go
  pkg/machine/connection/connection.go
  pkg/machine/env/dir.go
  pkg/machine/env/dir_darwin.go
  pkg/machine/env/dir_freebsd.go
  pkg/machine/env/dir_linux.go
  pkg/machine/env/dir_windows.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/ignition/ready.go
  pkg/machine/machine_windows.go
  pkg/machine/os/machine_os.go
  pkg/machine/ports/ports.go
  pkg/machine/ports/ports_unix.go
  pkg/machine/ports/ports_windows.go
  pkg/machine/pull.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/options_windows_amd64.go
  pkg/machine/qemu/stubber.go
  pkg/machine/shim/host.go
  pkg/machine/shim/networking.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/machine.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
  pkg/machine/wsl/usermodenet.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_linux.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_supported.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_unsupported.go
  vendor/github.com/containers/common/pkg/cgroups/systemd.go
  vendor/github.com/containers/common/pkg/config/connections.go
  vendor/modules.txt
Labels: lgtm, approved, machine, 5.0, release-note-none

#21938 properly implement pull-error event status
  cmd/podman/common/completion.go
  cmd/podman/system/events.go
  docs/source/markdown/podman-events.1.md
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/journal_linux.go
  libpod/runtime.go
  pkg/domain/entities/events.go
  test/apiv2/10-images.at
  test/system/090-events.bats
Labels: lgtm, approved, 5.0, release-note

#21948 e2e: fix potential race in file-locks test
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note-none

#21905 Revert "Expose as-tested Mac/Windows repository state"
  .cirrus.yml
  DOWNLOADS.md
Labels: lgtm, approved, release-note-none

#21907 [CI:BUILD] rpm: Put the podmansh(1) manual in the podmansh sub-package
  rpm/podman.spec
Labels: lgtm, approved, release-note, No New Tests

#21918 Fix problem with `podman machine list` returning wrong units for Memory and Disk size
  cmd/podman/machine/list.go
  pkg/machine/config.go
  pkg/machine/e2e/list_test.go
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, 5.0, release-note

#21949 CI: try to fix more flakes
  test/e2e/manifest_test.go
  test/system/520-checkpoint.bats
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#21960 machine: make more use of strongunits
  cmd/podman/machine/set.go
  pkg/machine/applehv/stubber.go
  pkg/machine/define/setopts.go
  pkg/machine/e2e/init_test.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/qemu/command/command.go
  pkg/machine/qemu/stubber.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, machine, 5.0, release-note-none

#21967 [v4.2.0-rhel] Use a branched runc instead of manual vendor changes
  .cirrus.yml
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#21971 pkg/machine: fix relative DefaultPolicyJSONPath
  pkg/machine/ocipull/policy.go
Labels: lgtm, approved, machine, 5.0, release-note-none, No New Tests

#21977 Close error handling
  pkg/machine/compression/decompress.go
  pkg/machine/compression/generic.go
  pkg/machine/compression/gzip.go
  pkg/machine/compression/sparse_file_writer.go
  pkg/machine/compression/sparse_file_writer_test.go
  pkg/machine/compression/uncompressed.go
  pkg/machine/compression/xz.go
  pkg/machine/compression/zip.go
  pkg/machine/compression/zstd.go
  pkg/machine/e2e/machine_test.go
Labels: lgtm, approved, machine, release-note-none

#21981 [CI:DOCS] Add farm command to commands list
  docs/source/Commands.rst
Labels: lgtm, approved, release-note

#21975 vendor libhvee-0.7.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#21978 [CI:BUILD] Build universal Podman binary for Mac installer
  .cirrus.yml
  .github/workflows/mac-pkg.yml
  contrib/pkginstaller/.gitignore
  contrib/pkginstaller/Makefile
  contrib/pkginstaller/README.md
  contrib/pkginstaller/package.sh
Labels: lgtm, approved, release-note-none

#21980 more machine locking fixes
  cmd/podman/machine/init.go
  cmd/podman/machine/set.go
  cmd/podman/machine/start.go
  cmd/podman/machine/stop.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/machine.go
Labels: lgtm, approved, machine, 5.0, release-note-none, No New Tests

#21973 Bump Buildah to v1.35.0
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/info.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/containers/buildah/util/util_linux.go
  vendor/github.com/containers/common/libimage/copier.go
  vendor/github.com/containers/common/libimage/filters.go
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/libimage/save.go
  vendor/github.com/containers/common/libnetwork/internal/util/validate.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/pasta/pasta.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/slirp4netns.go
  vendor/github.com/containers/common/pkg/auth/auth.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_linux.go
  vendor/github.com/containers/common/pkg/cgroups/systemd_linux.go
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/pkg/ssh/connection_golang.go
  vendor/github.com/containers/common/pkg/ssh/connection_native.go
  vendor/github.com/containers/common/pkg/ssh/ssh.go
  vendor/github.com/containers/common/pkg/ssh/utils.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/pkg/supplemented/supplemented.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/go-openapi/swag/initialism_index.go
  vendor/github.com/go-openapi/swag/yaml.go
  vendor/golang.org/x/tools/go/packages/doc.go
  vendor/golang.org/x/tools/go/packages/external.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/modules.txt
Labels: lgtm, approved, 5.0, release-note-none

#21982 podman compose: enable machine socket connection
  cmd/podman/compose_machine.go
Labels: lgtm, approved, 5.0, release-note-none, No New Tests

#21985 Complete policy.json inclusion (Also add to win installer)
  Makefile
  contrib/win-installer/build.ps1
  contrib/win-installer/podman.wxs
  contrib/win-installer/process-release.ps1
Labels: lgtm, approved, 5.0, release-note-none

#21986 Bump to 5.0.0-rc5
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#21987 Backport two docker CLI compatibility fixes
  libpod/container_internal_common.go
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note-none, kind/api-change

#21992 Add note to performance.md for RHEL 8.5 overlayfs support
  docs/tutorials/performance.md
Labels: lgtm, approved, release-note

#21994 [CI:DOCS] Remove outdated references
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#22007 Quadlet docs
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note

#21999 [CI:DOCS] performance: fix URL
  docs/tutorials/performance.md
Labels: lgtm, approved, release-note-none

#21950 [CI:DOCS] Migrate podman container image
  contrib/podmanimage/README.md
  contrib/podmanimage/stable/Containerfile
  contrib/podmanimage/stable/containers.conf
  contrib/podmanimage/stable/podman-containers.conf
  contrib/podmanimage/testing/Containerfile
  contrib/podmanimage/upstream/Containerfile
Labels: lgtm, approved, release-note-none

#22020 [CI:DOCS] update API doc version to 5.0.0
  docs/source/Reference.rst
  pkg/api/server/doc.go
Labels: lgtm, approved, 5.0, release-note-none, kind/api-change

#22026 Add final machine endpoint
  pkg/machine/ocipull/ociartifact.go
Labels: lgtm, approved, machine, 5.0, release-note-none, No New Tests

#21883 Add target win-gvproxy in winmake.ps1
  contrib/cirrus/pr-should-include-tests
  winmake.ps1
Labels: lgtm, approved, 5.0, release-note-none, No New Tests

#22014 do not require policy.json
  Makefile
  contrib/pkginstaller/Makefile
  contrib/pkginstaller/package.sh
  contrib/win-installer/build.ps1
  contrib/win-installer/podman.wxs
  contrib/win-installer/process-release.ps1
  pkg/machine/ocipull/policy.go
  pkg/machine/ocipull/pull.go
Labels: lgtm, approved, machine, 5.0, release-note, No New Tests

#21864 Machine decompress.go refactoring follow-up
  go.mod
  pkg/machine/compression/compression_test.go
  pkg/machine/compression/decompress.go
  pkg/machine/compression/generic.go
  pkg/machine/compression/gzip.go
  pkg/machine/compression/xz.go
  pkg/machine/compression/zstd.go
Labels: lgtm, approved, machine, release-note-none

#21963 [CI:DOCS] Add release notes for v5.0.0
  RELEASE_NOTES.md
Labels: lgtm, approved, 5.0, release-note-none

#22028 Change API socket to be machine name isolated
  pkg/machine/e2e/inspect_test.go
  pkg/machine/env/dir.go
  pkg/machine/machine_common.go
  pkg/machine/machine_windows.go
  pkg/machine/shim/networking.go
  pkg/machine/shim/networking_unix.go
  pkg/machine/shim/networking_windows.go
  pkg/machine/vmconfigs/machine.go
  pkg/machine/vmconfigs/sockets.go
  pkg/machine/vmconfigs/sockets_darwin.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
  pkg/machine/wsl/usermodenet.go
Labels: lgtm, approved, machine, 5.0, release-note

#22003 Pass pod restart policy to individual containers
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
Labels: lgtm, approved, release-note

#22030 [skip-ci] rpm: update containers-common dep on f40+
  rpm/podman.spec
Labels: lgtm, approved, 5.0, release-note-none

#22032 podman machine start: make checkExclusiveActiveVM check race free
  cmd/podman/machine/start.go
  pkg/machine/e2e/start_test.go
  pkg/machine/lock/lock.go
  pkg/machine/shim/host.go
  pkg/machine/wsl/config.go
Labels: lgtm, approved, machine, 5.0, release-note-none

#22041 Use faster gzip for compression for 3x build speedup for large context send to remote
  go.mod
  pkg/bindings/images/build.go
Labels: lgtm, approved, release-note, No New Tests

#21979 fix invalid HTTP header values when hijacking a connection
  libpod/util.go
  test/apiv2/20-containers.at
  test/apiv2/test-apiv2
Labels: lgtm, approved, release-note

#22051 Bump to v5.0.0-RC7
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#21910 [CI:DOCS] Add doc to build podman on windows without MSYS
  build_windows.md
Labels: lgtm, approved, release-note-none

#22062 Switch to 5.x WSL machine os stream using new automation
  pkg/machine/wsl/fedora.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/usermodenet.go
Labels: lgtm, approved, machine, 5.0, release-note-none, No New Tests

#22060 Makefile: add target `podman-remote-static`
  Makefile
Labels: lgtm, approved, release-note-none

#22058 test/system: Add support for multipath routes in pasta networking tests
  test/system/helpers.network.bash
Labels: lgtm, approved, release-note-none, pasta

#22059 [v4.4.1-rhel] libpod: fix deadlock while parallel container create
  libpod/runtime_ctr.go
Labels: lgtm, approved, release-note-none

#22055 Cleanup build scratch dir if remote end disconnects while passing the context
  pkg/api/handlers/compat/images_build.go
Labels: lgtm, approved, release-note, kind/api-change, No New Tests

#22074 xref-helpmsgs-manpages: cross-check Commands.rst
  docs/source/Commands.rst
  docs/source/volume.rst
  hack/xref-helpmsgs-manpages
  hack/xref-helpmsgs-manpages.t
Labels: lgtm, approved, release-note-none, No New Tests

#22085 [v5.0] Bump Buildah to v1.35.1
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/internal/volumes/volumes.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#22086 v5.0.0 release
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#22090 Use correct extension in suite
  pkg/machine/e2e/machine_wsl_test.go
Labels: lgtm, approved, machine, release-note-none, test_podman_machine, No New Tests

#22091 [CI:BUILD] Fix type-o
  .github/workflows/upload-win-installer.yml
Labels: lgtm, approved, release-note-none, No New Tests

#22080 utils: do not generate duplicate range
  pkg/util/utils.go
  pkg/util/utils_test.go
Labels: lgtm, approved, release-note

#22081 logformatter: handle Windows logs
  contrib/cirrus/logformatter
Labels: lgtm, approved, release-note-none

#22083 utils: drop conversion float->string->float
  cmd/podman/containers/stats.go
  libpod/util_test.go
  pkg/domain/infra/abi/pods_stats.go
  utils/utils.go
Labels: lgtm, approved, release-note-none, No New Tests

#22089 minikube: instrument tests, to allow debugging failures
  test/minikube/001-kube.bats
  test/minikube/helpers.bash
Labels: lgtm, approved, release-note-none

#22019 Remove CRI-O related annotations
  libpod/kube.go
  pkg/annotations/annotations.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, release-note, No New Tests

#21481 Add LoongArch support for libpod
  Makefile
Labels: lgtm, approved, machine, release-note-none

#22110 util: use private propagation with bind
  pkg/util/mount_opts.go
  pkg/util/mount_opts_linux.go
  pkg/util/mount_opts_other.go
  pkg/util/utils_test.go
Labels: lgtm, approved, release-note

#22054 bump main to 5.1.0-dev
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#22112 fix remote build isolation when server runs as root
  cmd/podman/common/build.go
  pkg/api/handlers/compat/images_build.go
  pkg/machine/e2e/basic_test.go
Labels: lgtm, approved, machine, release-note, kind/api-change, 5.0.1

#22119 [v4.9-rhel] Bump Buildah to v1.33.7
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/internal/mkcw/embed/entrypoint.gz
  vendor/github.com/containers/buildah/internal/volumes/volumes.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#22120 Dont save remote build context in temp file but stream and extract
  pkg/api/handlers/compat/images_build.go
Labels: lgtm, approved, release-note, kind/api-change, No New Tests

#22133 fix remote build isolation on client side
  cmd/podman/common/build.go
Labels: lgtm, approved, 5.0, release-note-none, No New Tests, 5.0.1

#22135 [CI:DOCS] 5.0 release note fix typo in cgroupv1 env var
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#22131 chore: remove repetitive words
  RELEASE_NOTES.md
  docs/source/markdown/podman-secret-ls.1.md.in
Labels: lgtm, approved, release-note-none, No New Tests

#22124 Add support for annotations
  libpod/container_inspect.go
  libpod/define/container_inspect.go
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/28-containersAnnotations.at
Labels: lgtm, approved, release-note-none, kind/api-change

#22154 libpod: don't warn about cgroupsv1 on FreeBSD
  libpod/runtime.go
  libpod/runtime_freebsd.go
  libpod/runtime_linux.go
Labels: lgtm, approved, release-note-none, No New Tests

#22161 hyperv: error if not admin
  pkg/machine/provider/platform_windows.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/util_windows.go
Labels: lgtm, approved, machine, release-note, No New Tests

#22160 Properly parse stderr when updating container status
  libpod/oci_conmon_common.go
Labels: lgtm, approved, release-note-none, No New Tests

#22140 hyperv: fix machine rm -r
  go.mod
  go.sum
  pkg/machine/hyperv/stubber.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vm.go
  vendor/modules.txt
Labels: lgtm, approved, machine, release-note, No New Tests

#22177 Add rootless network command to `podman info`
  libpod/define/info.go
  libpod/info.go
  test/system/005-info.bats
Labels: lgtm, approved, release-note

#22180 [CI:DOCS] Document CI-maintenance job addition
  RELEASE_PROCESS.md
Labels: lgtm, approved, release-note-none

#22073 [CI:BUILD] Add golang 1.21 update warning
  go.mod
Labels: lgtm, approved, release-note-none

#22136 [skip-ci] Packit: Enable CentOS Stream 10 update job
  .packit.yaml
Labels: lgtm, approved, release-note-none

#22182 applehv: Print vfkit logs in --log-level debug
  pkg/machine/applehv/stubber.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#22181 [CI:DOCS]Add Mario to reviewers list
  OWNERS
Labels: lgtm, approved, release-note-none, No New Tests

#21991 CI: Run logformatter for podman_machine_windows_task
  .cirrus.yml
  contrib/cirrus/win-lib.ps1
  winmake.ps1
Labels: lgtm, approved, machine, release-note-none

#22163 Fix reference to deprecated types.Info
  go.mod
  go.sum
  pkg/api/handlers/compat/info.go
  pkg/api/handlers/types.go
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/backend/backend.go
  vendor/github.com/docker/docker/api/types/client.go
  vendor/github.com/docker/docker/api/types/container/config.go
  vendor/github.com/docker/docker/api/types/image/opts.go
  vendor/github.com/docker/docker/api/types/mount/mount.go
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/github.com/docker/docker/api/types/types.go
  vendor/github.com/docker/docker/api/types/types_deprecated.go
  vendor/github.com/docker/docker/api/types/versions/README.md
  vendor/github.com/docker/docker/api/types/volume/cluster_volume.go
  vendor/github.com/docker/docker/client/distribution_inspect.go
  vendor/github.com/docker/docker/client/image_create.go
  vendor/github.com/docker/docker/client/image_import.go
  vendor/github.com/docker/docker/client/image_list.go
  vendor/github.com/docker/docker/client/image_pull.go
  vendor/github.com/docker/docker/client/image_push.go
  vendor/github.com/docker/docker/client/image_remove.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/pkg/homedir/homedir.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_windows.go
  vendor/github.com/docker/docker/pkg/namesgenerator/names-generator.go
  vendor/github.com/docker/docker/pkg/system/image_os_deprecated.go
  vendor/github.com/moby/docker-image-spec/LICENSE
  vendor/github.com/moby/docker-image-spec/specs-go/v1/image.go
  vendor/modules.txt
Labels: lgtm, approved, kind/api-change, No New Tests

#21493 kube play: always pull when both imagePullPolicy and tag are missing
  pkg/domain/infra/abi/play.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#22199 [CI:DOCS] [v4.9] Fix windows installer action
  .github/workflows/upload-win-installer.yml
  contrib/win-installer/build.ps1
Labels: lgtm, approved, release-note-none

#22198 Bump to v4.9.4-rhel
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#22200 [CI:DOCS] [v4.9] Force WiX 3.11
  .github/workflows/upload-win-installer.yml
  contrib/win-installer/build.ps1
Labels: lgtm, approved, release-note-none

#22205 [CI:DOCS] Switch back to checking out the same branch the action script runs in
  .github/workflows/upload-win-installer.yml
Labels: lgtm, approved, release-note-none

#22202 CI: Bump VMs to 2024-03-28
  .cirrus.yml
  test/e2e/run_device_test.go
  test/e2e/systemd_test.go
Labels: lgtm, approved, release-note-none

#22206 [v4.2.0-rhel] Bump golang.org/x/text to v0.3.8
  go.mod
  go.sum
  vendor/golang.org/x/net/AUTHORS
  vendor/golang.org/x/net/CONTRIBUTORS
  vendor/golang.org/x/sync/AUTHORS
  vendor/golang.org/x/sync/CONTRIBUTORS
  vendor/golang.org/x/sys/AUTHORS
  vendor/golang.org/x/sys/CONTRIBUTORS
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/encoding/htmlindex/tables.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/gbk.go
  vendor/golang.org/x/text/internal/language/compact/tables.go
  vendor/golang.org/x/text/internal/language/lookup.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/internal/language/tables.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/language/doc.go
  vendor/golang.org/x/text/language/match.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/tools/AUTHORS
  vendor/golang.org/x/tools/CONTRIBUTORS
  vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/coretype.go
  vendor/golang.org/x/tools/internal/typeparams/normalize.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#22201 docs/podman-login: Give an example of writing the persistent path
  docs/source/markdown/podman-login.1.md.in
Labels: lgtm, approved, release-note-none

#22219 [v5.0] Bump Buildah to v1.35.3
  go.mod
  go.sum
  libpod/container.go
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  libpod/networking_pasta_linux.go
  test/system/505-networking-pasta.bats
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/common/libnetwork/etchosts/ip.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/pasta/pasta_linux.go
  vendor/github.com/containers/common/libnetwork/pasta/types.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/const.go
  vendor/github.com/containers/common/libnetwork/slirp4netns/slirp4netns.go
  vendor/github.com/containers/common/libnetwork/util/ip.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none
