Repository containers/podman, pull requests merged in 2024-11, with the labels that each got.

#24381 stop podman kube play --wait from using 100% CPU
  libpod/container_api.go
Labels: lgtm, approved, release-note, No New Tests

#24216 [v5.2-rhel] Add --health-max-log-count, --health-max-log-size, --health-log-destination flags
  cmd/podman/common/create.go
  cmd/podman/common/create_opts.go
  docs/source/markdown/options/health-log-destination.md
  docs/source/markdown/options/health-max-log-count.md
  docs/source/markdown/options/health-max-log-size.md
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  docs/source/markdown/podman-systemd.unit.5.md
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/define/container_inspect.go
  libpod/define/healthchecks.go
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/journal_linux.go
  libpod/healthcheck.go
  libpod/options.go
  libpod/runtime_ctr.go
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/domain/entities/pods.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  pkg/systemd/quadlet/quadlet.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note, kind/api-change

#24431 doc: explain --interactive in more detail
  cmd/podman/common/create.go
  cmd/podman/containers/exec.go
  cmd/podman/containers/start.go
  docs/source/markdown/options/interactive.md
Labels: lgtm, approved, release-note, No New Tests

#24421 make podman-clean-transient.service work as user
  Makefile
Labels: lgtm, approved, release-note

#24449 Quadlet - support image file based mount in container file
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/mount.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#24403 go.mod vendor: ensure we never have the toolchain directive set
  Makefile
  contrib/cirrus/postbuild.sh
  go.mod
  test/tools/Makefile
  test/tools/go.mod
Labels: lgtm, approved, release-note-none

#24459 Fix inconsistent line ending in win-installer project
  contrib/win-installer/burn.wxs
  contrib/win-installer/welcome-install-dlg.wxs
Labels: lgtm, approved, release-note-none

#24406 fix API issue about missing the status code in the events and logs endpoints
  cmd/podman/system/events.go
  libpod/container_log.go
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/events_freebsd.go
  libpod/events/events_linux.go
  libpod/events/journal_linux.go
  libpod/events/logfile.go
  libpod/events/memory.go
  pkg/api/handlers/compat/containers_logs.go
  pkg/api/handlers/compat/events.go
  pkg/api/handlers/utils/containers.go
  pkg/bindings/system/system.go
  pkg/domain/entities/types.go
  pkg/domain/infra/tunnel/events.go
  test/apiv2/20-containers.at
  test/apiv2/27-containersEvents.at
Labels: lgtm, approved, release-note, kind/api-change, 5.3

#24461 CI: systests: workaround for parallel podman-stop flake
  test/system/050-stop.bats
Labels: lgtm, approved, release-note-none

#24334 Honor users requests in quadlet files
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.build
  test/e2e/quadlet/ipv6.network
  test/e2e/quadlet/network.build
  test/e2e/quadlet/uid.volume
  test/e2e/quadlet/volume.build
Labels: lgtm, approved, release-note, 5.3

#24469 libpod: journald do not lock thread
  libpod/events/journal_linux.go
Labels: lgtm, approved, release-note-none, No New Tests

#24479 volume ls: fix race that caused it to fail
  pkg/api/handlers/compat/volumes.go
  pkg/api/handlers/libpod/volumes.go
  pkg/domain/infra/abi/volumes.go
Labels: lgtm, approved, release-note, kind/api-change, No New Tests

#24412 Fix: To print create and remove network in podman events
  libpod/events.go
  libpod/events/events.go
  pkg/domain/infra/abi/network.go
  test/e2e/events_test.go
Labels: lgtm, approved, release-note

#24485 CI VMs: bump to f41
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#24394 Update gvproxy to v0.8.0 and disable ssh port forwarding on wsl
  Makefile
  contrib/pkginstaller/Makefile
  pkg/machine/e2e/init_windows_test.go
  pkg/machine/wsl/usermodenet.go
  winmake.ps1
Labels: lgtm, approved, machine, release-note-none, 5.3

#24277 api: Move close function in condition body
  pkg/api/handlers/libpod/images.go
Labels: lgtm, approved, release-note-none, kind/api-change, No New Tests, 5.3

#24490 Excluse symlink from pre-commit end-of-file-fixer
  .pre-commit-config.yaml
Labels: lgtm, approved, release-note-none

#24496 kube SIGINT system test: fix race in timeout handling
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#24340 New `system connection add` test
  .pre-commit-config.yaml
  test/e2e/system_connection_test.go
  test/system/800-config.bats
Labels: lgtm, approved, release-note-none

#24500 Yet another bump, to fixed f41 kernel
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#24507 pkg/machine/e2e: remove dead code
  go.mod
  go.sum
  pkg/machine/e2e/pull_test.go
  vendor/github.com/coreos/stream-metadata-go/LICENSE
  vendor/github.com/coreos/stream-metadata-go/fedoracoreos/fcos.go
  vendor/github.com/coreos/stream-metadata-go/fedoracoreos/internals/fcosinternals.go
  vendor/github.com/coreos/stream-metadata-go/stream/artifact_utils.go
  vendor/github.com/coreos/stream-metadata-go/stream/rhcos/rhcos.go
  vendor/github.com/coreos/stream-metadata-go/stream/stream.go
  vendor/github.com/coreos/stream-metadata-go/stream/stream_utils.go
  vendor/modules.txt
Labels: lgtm, approved, machine, release-note-none, No New Tests

#24526 Buildah treadmill tweaks
  hack/buildah-vendor-treadmill
  test/buildah-bud/apply-podman-deltas
  test/buildah-bud/buildah-tests.diff
Labels: lgtm, approved, release-note-none

#24515 system tests: safer install_kube_template()
  test/system/helpers.systemd.bash
Labels: lgtm, approved, release-note-none

#24542 refactor: simplify LinuxNS type definition and String method
  libpod/container.go
Labels: lgtm, approved, release-note-none, No New Tests

#24540 vendor containers projects to tagged versions
  go.mod
  go.sum
  test/e2e/run_test.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/common/libnetwork/resolvconf/resolvconf.go
  vendor/github.com/containers/common/pkg/cgroups/systemd_linux.go
  vendor/github.com/containers/common/pkg/netns/netns_linux.go
  vendor/github.com/containers/common/pkg/subscriptions/subscriptions.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#24547 spec: clamp rlimits in a userns
  libpod/container_internal_common.go
Labels: lgtm, approved, release-note-none, No New Tests

#24532 Add subpath support to volumes in `--mount` option
  libpod/container.go
  pkg/specgenutil/volumes.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note

#24554 Update release notes on main for v5.3.0
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#24552 doc: fix words repetitions
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#24491 [CI:ALL] Bump main to v5.4.0-dev
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#24525 update golangci-lint to v1.62.0
  .golangci.yml
  Makefile
  cmd/podman/common/completion_test.go
  cmd/podman/system/df.go
  pkg/bindings/errors.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/system.go
  pkg/machine/applehv/stubber.go
  pkg/machine/e2e/config_basic_test.go
  pkg/machine/e2e/config_ssh_test.go
  pkg/machine/e2e/config_start_test.go
  pkg/machine/e2e/config_system_connection_list_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/os_test.go
  pkg/machine/e2e/ssh_test.go
  pkg/machine/e2e/start_test.go
  pkg/machine/libkrun/stubber.go
  pkg/machine/qemu/stubber.go
  test/e2e/common_test.go
Labels: lgtm, approved, machine, release-note-none

#24535 add support for driver-specific options during container creation
  docs/source/markdown/options/network.md
  go.mod
  go.sum
  pkg/specgen/namespaces.go
  pkg/specgen/namespaces_test.go
  test/e2e/network_test.go
  vendor/github.com/containers/common/libnetwork/types/network.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#24321 Fix for podman machine init not creating necessary JSON file when an ignition-path is passed
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, release-note-none, 5.3

#24563 Bump bundled krunkit to 0.1.4
  contrib/pkginstaller/Makefile
Labels: lgtm, approved, release-note

#24578 libpod: addHosts() prevent nil deref
  libpod/container_internal_common.go
  libpod/container_internal_linux.go
Labels: lgtm, approved, release-note, No New Tests, 5.3

#24592 libpod: pass down NoPivotRoot to Buildah
  go.mod
  go.sum
  libpod/runtime_img.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.codespellrc
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/copier/syscall_unix.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/install.md
  vendor/modules.txt
Labels: lgtm, approved, release-note, No New Tests

#24608 [v5.3] v5.3 backports
  .cirrus.yml
  docs/source/Reference.rst
  libpod/container_internal_common.go
  pkg/bindings/connection.go
  pkg/machine/e2e/machine_test.go
Labels: lgtm, approved, machine, release-note

#24565 Overlay mounts supersede image volumes & volumes-from
  pkg/specgen/generate/storage.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note

#24442 Configure HealthCheck with `podman update`
  cmd/podman/common/create.go
  cmd/podman/containers/update.go
  docs/source/markdown/options/health-cmd.md
  docs/source/markdown/options/health-interval.md
  docs/source/markdown/options/health-log-destination.md
  docs/source/markdown/options/health-max-log-count.md
  docs/source/markdown/options/health-max-log-size.md
  docs/source/markdown/options/health-on-failure.md
  docs/source/markdown/options/health-retries.md
  docs/source/markdown/options/health-start-period.md
  docs/source/markdown/options/health-startup-cmd.md
  docs/source/markdown/options/health-startup-interval.md
  docs/source/markdown/options/health-startup-retries.md
  docs/source/markdown/options/health-startup-success.md
  docs/source/markdown/options/health-startup-timeout.md
  docs/source/markdown/options/health-timeout.md
  docs/source/markdown/options/no-healthcheck.md
  docs/source/markdown/podman-update.1.md.in
  libpod/container_api.go
  libpod/container_internal.go
  libpod/define/healthchecks.go
  libpod/healthcheck.go
  libpod/healthcheck_config.go
  libpod/options.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/swagger/models.go
  pkg/api/handlers/types.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/update.go
  pkg/domain/entities/types/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/specgenutil/specgen.go
  test/system/280-update.bats
Labels: lgtm, approved, release-note, kind/api-change

#24653 win-installer test: revert to v5.3.0
  contrib/win-installer/test-installer.ps1
Labels: lgtm, approved, release-note-none

#24643 Quadlet - Use = sign when setting the pull arg for build
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/pull.build
  test/system/252-quadlet.bats
  test/system/helpers.systemd.bash
Labels: lgtm, approved, release-note-none, 5.3

#24668 [v5.3] fix CI and backport quadlet build fix
  contrib/win-installer/test-installer.ps1
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/pull.build
  test/system/252-quadlet.bats
  test/system/helpers.systemd.bash
Labels: lgtm, approved, release-note

#24665 refact: EventerType and improve consistency
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/events_freebsd.go
  libpod/events/events_linux.go
  libpod/events/journal_linux.go
  libpod/events/journal_unsupported.go
Labels: lgtm, approved, release-note-none, No New Tests

#24677 Add support for bridge mode
  docs/source/markdown/podman-network-create.1.md
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/types/const.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#24698 make remotesystem: fail early if serial tests fail
  Makefile
Labels: lgtm, approved, release-note-none

#24700 [skip-ci] Packit/copr: switch to fedora-all
  .packit.yaml
Labels: lgtm, approved, release-note-none

#24696 spec: clamp rlimits without CAP_SYS_RESOURCE
  libpod/container_internal_common.go
Labels: lgtm, approved, release-note, No New Tests

#24702 api: Error checking before NULL dereference
  libpod/container_commit.go
Labels: lgtm, approved, release-note-none, No New Tests

#24686 Fix apparent typos in zstd:chunked tests
  test/system/155-partial-pull.bats
Labels: lgtm, approved, release-note-none

#24706 Fixes missing binary in systemd.
  contrib/systemd/user/podman-user-wait-network-online.service
Labels: lgtm, approved, release-note-none
