Repository containers/podman, pull requests merged in 2024-04, with the labels that each got.

#22231 Bump to v5.0.1
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#22232 [v4.2.0-rhel] CI: Remove F35 and Ubuntu
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#22229 libpod: use original IDs if idmap is provided
  libpod/container_internal_common.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#22242 [CI:DOCS] Add note about host networking to Kube PublishPort option
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none, No New Tests

#22178 Inject additional build tags from the environment
  Makefile
Labels: lgtm, approved, release-note-none

#22167 CI: systests: instrument flaky tests
  test/system/250-systemd.bats
  test/system/700-play.bats
  test/system/helpers.registry.bash
Labels: lgtm, approved, release-note-none

#22175 systests: conditionalize slirp4netns tests
  test/system/500-networking.bats
  test/system/700-play.bats
  test/system/helpers.network.bash
Labels: lgtm, approved, release-note-none

#22250 [CI:DOCS] build deps: make-validate needs docs
  Makefile
Labels: lgtm, approved, release-note

#22245 container: do not chown to dest target with U
  libpod/container_internal_common.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note

#22252 pkg/util: FindDeviceNodes() ignore ENOENT errors
  pkg/util/utils_linux.go
Labels: lgtm, approved, release-note-none, No New Tests

#22243 vendor latest c/common to fix rootless-netns issues
  go.mod
  go.sum
  test/system/505-networking-pasta.bats
  vendor/github.com/containers/common/libimage/load.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libimage/pull.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/github.com/containers/common/pkg/config/pull_policy.go
  vendor/github.com/containers/common/pkg/manifests/manifests.go
  vendor/github.com/containers/common/pkg/version/version.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/types/config.go
  vendor/github.com/onsi/ginkgo/v2/types/flags.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/aliases/aliases.go
  vendor/golang.org/x/tools/internal/aliases/aliases_go121.go
  vendor/golang.org/x/tools/internal/aliases/aliases_go122.go
  vendor/golang.org/x/tools/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gcimporter/support_go117.go
  vendor/golang.org/x/tools/internal/gcimporter/support_go118.go
  vendor/golang.org/x/tools/internal/gcimporter/unified_no.go
  vendor/golang.org/x/tools/internal/gcimporter/unified_yes.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader_no.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader_yes.go
  vendor/golang.org/x/tools/internal/tokeninternal/tokeninternal.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/coretype.go
  vendor/golang.org/x/tools/internal/typesinternal/recv.go
  vendor/golang.org/x/tools/internal/typesinternal/types_118.go
  vendor/golang.org/x/tools/internal/versions/features.go
  vendor/golang.org/x/tools/internal/versions/toolchain.go
  vendor/golang.org/x/tools/internal/versions/toolchain_go119.go
  vendor/golang.org/x/tools/internal/versions/toolchain_go120.go
  vendor/golang.org/x/tools/internal/versions/toolchain_go121.go
  vendor/golang.org/x/tools/internal/versions/types_go121.go
  vendor/golang.org/x/tools/internal/versions/types_go122.go
  vendor/golang.org/x/tools/internal/versions/versions.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#22253 [CI:DOCS] Add GitHub action to update version on Podman.io
  .github/workflows/update-podmanio.yml
Labels: lgtm, approved, release-note-none

#22236 [CI:DOCS] golangci-lint: update deprecated flags
  .golangci.yml
  hack/golangci-lint.sh
Labels: lgtm, approved, release-note-none

#22251 [CI:DOCS] Update kube docs
  docs/source/markdown/podman-kube.1.md
Labels: lgtm, approved, release-note-none

#22259 rm --force work for more than one arg
  cmd/podman/containers/rm.go
  cmd/podman/images/rm.go
  cmd/podman/pods/rm.go
  pkg/domain/infra/tunnel/helpers.go
  pkg/domain/infra/tunnel/pods.go
  test/system/010-images.bats
  test/system/055-rm.bats
  test/system/160-volumes.bats
  test/system/200-pod.bats
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#22262 update github.com/rootless-containers/rootlesskit to v2
  cmd/rootlessport/main.go
  cmd/rootlessport/wsl.go
  cmd/rootlessport/wsl_test.go
  go.mod
  go.sum
  vendor/github.com/rootless-containers/rootlesskit/v2/LICENSE
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/api/api.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/api/openapi.yaml
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/lowlevelmsgutil/lowlevelmsgutil.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/builtin/builtin.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/builtin/child/child.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/builtin/msg/msg.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/builtin/opaque/opaque.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/builtin/parent/parent.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/builtin/parent/tcp/tcp.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/builtin/parent/udp/udp.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/builtin/parent/udp/udpproxy/udp_proxy.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/port.go
  vendor/github.com/rootless-containers/rootlesskit/v2/pkg/port/portutil/portutil.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#22287 [v4.6.1-rhel] inspect: ignore ENOENT during device lookup
  pkg/util/utils_linux.go
Labels: lgtm, approved, release-note-none

#22286 [v4.4.1-rhel] inspect: ignore ENOENT during device lookup
  pkg/util/utils_linux.go
Labels: approved, release-note-none

#22277 podman --runroot: remove 50 char length restriction
  pkg/domain/infra/runtime_libpod.go
  test/system/setup_suite.bash
Labels: lgtm, approved, release-note

#22280 Bump tags.cncf.io/container-device-interface to v0.7.1
  go.mod
  go.sum
  libpod/container_internal_common.go
  pkg/specgen/generate/config_freebsd.go
  pkg/specgen/generate/config_linux.go
  vendor/modules.txt
  vendor/tags.cncf.io/container-device-interface/internal/multierror/multierror.go
  vendor/tags.cncf.io/container-device-interface/internal/validation/k8s/objectmeta.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/cache.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/container-edits.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/default-cache.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/doc.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/registry.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec-dirs.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/spec.go
  vendor/tags.cncf.io/container-device-interface/pkg/cdi/version.go
  vendor/tags.cncf.io/container-device-interface/specs-go/config.go
  vendor/tags.cncf.io/container-device-interface/specs-go/oci.go
Labels: lgtm, approved, release-note, No New Tests

#22300 Makefile: fix annoying errors in docs generation
  Makefile
Labels: lgtm, approved, release-note-none

#22311 [CI:DOCS] update Quadlet volume Options desc
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#22306 [v4.2.0-rhel] Gating-test fixes
  test/system/160-volumes.bats
  test/system/200-pod.bats
  test/system/250-systemd.bats
  test/system/251-system-service.bats
  test/system/410-selinux.bats
Labels: approved, release-note-none

#22304 [skip-ci] GHA: Fix intermittent workflow error
  .github/workflows/issue_pr_lock.yml
Labels: lgtm, approved, release-note-none

#22290 Fix relabeling failures with Z/z volumes on Mac
  pkg/machine/applehv/machine.go
  pkg/machine/e2e/basic_test.go
Labels: lgtm, approved, machine, release-note

#22299 [CI:DOCS] chore: fix function names in comment
  cmd/podman/containers/ps.go
  libpod/boltdb_state.go
  libpod/container_internal.go
  libpod/container_path_resolution.go
Labels: lgtm, approved, release-note-none, No New Tests

#22314 e2e tests: remove requirement for fuse-overlayfs
  test/e2e/info_test.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note-none

#22323 [skip-ci] Add big warning to GHA workflow
  .github/workflows/issue_pr_lock.yml
Labels: lgtm, approved, release-note-none

#22324 New CI VMs, to give us pasta 2024-04-05
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#22328 rootless: drop function ReadMappingsProc
  libpod/info_linux.go
  pkg/rootless/rootless_freebsd.go
  pkg/rootless/rootless_linux.go
  pkg/rootless/rootless_unsupported.go
  pkg/util/utils.go
Labels: lgtm, approved, release-note-none, No New Tests

#22270 e2e: redefine ExitWithError() to require exit code
  test/README.md
  test/e2e/attach_test.go
  test/e2e/checkpoint_image_test.go
  test/e2e/checkpoint_test.go
  test/e2e/commit_test.go
  test/e2e/containers_conf_test.go
  test/e2e/cp_test.go
  test/e2e/create_staticip_test.go
  test/e2e/create_test.go
  test/e2e/exec_test.go
  test/e2e/export_test.go
  test/e2e/farm_test.go
  test/e2e/generate_kube_test.go
  test/e2e/generate_spec_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/healthcheck_run_test.go
  test/utils/matchers.go
Labels: lgtm, approved, release-note-none

#22332 fix "concurrent map writes" in network ls compat endpoint
  pkg/api/handlers/compat/networks.go
  test/apiv2/35-networks.at
Labels: lgtm, approved, release-note, kind/api-change

#22303 [v4.0-rhel] CI maintenance mode
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#22260 [CI:DOCS]Initial PR validation
  Makefile
  contrib/validatepr/Containerfile
  contrib/validatepr/validatepr.sh
Labels: lgtm, approved, release-note-none, No New Tests

#22266 Add os, arch, and ismanifest to libpod image list
  hack/xref-helpmsgs-manpages
  pkg/api/handlers/compat/images.go
  pkg/domain/entities/images.go
  pkg/domain/entities/types/images.go
  pkg/domain/infra/abi/images_list.go
  test/apiv2/12-imagesMore.at
Labels: lgtm, approved, release-note, kind/api-change

#22336 [v4.9-rhel] Bump ocicrypt and go-jose CVE-2024-28180
  go.mod
  go.sum
  vendor/github.com/containers/ocicrypt/keywrap/jwe/keywrapper_jwe.go
  vendor/github.com/containers/ocicrypt/utils/testing.go
  vendor/github.com/go-jose/go-jose/v3/BUG-BOUNTY.md
  vendor/github.com/go-jose/go-jose/v3/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v3/README.md
  vendor/github.com/go-jose/go-jose/v3/SECURITY.md
  vendor/github.com/go-jose/go-jose/v3/asymmetric.go
  vendor/github.com/go-jose/go-jose/v3/crypter.go
  vendor/github.com/go-jose/go-jose/v3/doc.go
  vendor/github.com/go-jose/go-jose/v3/encoding.go
  vendor/github.com/go-jose/go-jose/v3/json/decode.go
  vendor/github.com/go-jose/go-jose/v3/json/encode.go
  vendor/github.com/go-jose/go-jose/v3/json/stream.go
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jwk.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/go-jose/go-jose/v3/opaque.go
  vendor/github.com/go-jose/go-jose/v3/shared.go
  vendor/github.com/go-jose/go-jose/v3/signing.go
  vendor/github.com/go-jose/go-jose/v3/symmetric.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/env_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#22349 [CI:DOCS] Swap out javascript engine
  Makefile
  pkg/api/Makefile
Labels: lgtm, approved, documentation, release-note-none

#22319 podman ps: show exposed ports under PORTS as well
  cmd/podman/containers/ps.go
  docs/source/markdown/options/expose.md
  docs/source/markdown/podman-ps.1.md
  pkg/domain/entities/types/container_ps.go
  pkg/ps/ps.go
  test/e2e/container_inspect_test.go
Labels: lgtm, approved, release-note

#22352 (minor) prefetch systemd image before use
  test/system/030-run.bats
Labels: lgtm, approved, release-note-none

#22347 podman exec CID without command should exit 125
  libpod/define/exec_codes.go
  test/e2e/exec_test.go
  test/system/075-exec.bats
Labels: lgtm, approved, release-note-none

#22370 Fix some comments
  build_windows.md
  libpod/events.go
  libpod/events/events.go
  libpod/healthcheck.go
  libpod/options.go
  libpod/stats_freebsd.go
  libpod/stats_linux.go
  pkg/machine/update.go
Labels: lgtm, approved, machine, release-note, No New Tests

#22386 [v5.0] Bump c/common to v0.58.2
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/libnetwork/netavark/ipam.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#22390 [CI:DOCS] fix swagger doc for manifest create
  pkg/api/server/register_manifest.go
Labels: lgtm, approved, release-note-none, kind/api-change

#22372 [CI:DOCS] options/network: fix markdown lists
  docs/source/markdown/options/network.md
Labels: lgtm, approved, release-note-none

#22403 Emergency fix (well, skip) for failing bud tests
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved, release-note-none

#22406 add `list` as an alias to list networks
  cmd/podman/networks/list.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note-none

#22393 Bump to v5.0.2
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#22415 [CI:DOCS] Fix windows installer action
  .github/workflows/upload-win-installer.yml
Labels: lgtm, approved, release-note-none

#22421 CI: remove compose v1 tests
  .cirrus.yml
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/compose/README.md
  test/compose/etc_hosts/tests.sh
  test/compose/ipam_set_ip/tests.sh
  test/compose/two_networks/tests.sh
  test/compose/uptwice/tests.sh
Labels: lgtm, approved, release-note-none

#22424 [CI:DOCS] Add more annnotation information to podman kupe play man page
  docs/source/markdown/podman-kube-play.1.md.in
Labels: lgtm, approved, release-note-none

#22435 [CI:DOCS] fix podman-pod-restart.1.md typo
  docs/source/markdown/podman-pod-restart.1.md
Labels: lgtm, approved, release-note-none

#22433 [v4.9-rhel] bump go-jose CVE-2024-28180
  go.mod
  go.sum
  vendor/gopkg.in/go-jose/go-jose.v2/CHANGELOG.md
  vendor/gopkg.in/go-jose/go-jose.v2/README.md
  vendor/gopkg.in/go-jose/go-jose.v2/asymmetric.go
  vendor/gopkg.in/go-jose/go-jose.v2/crypter.go
  vendor/gopkg.in/go-jose/go-jose.v2/encoding.go
  vendor/gopkg.in/go-jose/go-jose.v2/symmetric.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#22432 [skip-ci] Packit: switch to EPEL instead of centos-stream+epel-next
  .packit.yaml
Labels: lgtm, approved, release-note-none

#22446 [CI:DOCS] Build & upload release artifacts with GitHub Actions
  .github/workflows/release-artifacts.yml
  .github/workflows/upload-win-installer.yml
Labels: lgtm, approved, release-note-none

#22322 Make `podman update` changes persistent
  cmd/podman/common/completion.go
  cmd/podman/common/create.go
  cmd/podman/containers/update.go
  docs/source/markdown/options/restart.md
  docs/source/markdown/podman-events.1.md
  docs/source/markdown/podman-update.1.md.in
  docs/source/markdown/podman.1.md
  libpod/container_api.go
  libpod/container_inspect.go
  libpod/container_internal.go
  libpod/define/container.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/options.go
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/swagger/models.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/update.go
  pkg/domain/infra/abi/containers.go
  pkg/specgen/generate/container_create.go
  test/apiv2/20-containers.at
  test/e2e/common_test.go
  test/e2e/update_test.go
  test/system/280-update.bats
Labels: lgtm, approved, release-note, kind/api-change

#22453 [CI:DOCS] format podman-pull example as code
  docs/source/markdown/podman-pull.1.md.in
Labels: lgtm, approved, release-note-none

#22442 libpod: wrap store setup error message
  libpod/runtime.go
Labels: lgtm, approved, release-note-none, No New Tests

#22443 add containers.conf healthcheck_events support
  go.mod
  go.sum
  libpod/events.go
  libpod/healthcheck.go
  libpod/runtime_ctr.go
  test/e2e/healthcheck_run_test.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/default.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#22455 e2e tests: stop littering
  test/e2e/create_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/kill_test.go
  test/e2e/pause_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_rm_test.go
  test/e2e/pod_start_test.go
  test/e2e/pod_stop_test.go
  test/e2e/restart_test.go
  test/e2e/rm_test.go
  test/e2e/run_test.go
  test/e2e/start_test.go
  test/e2e/stop_test.go
Labels: lgtm, approved, release-note-none

#22429 [skip-ci] Packit: enable CentOS 10 Stream build jobs
  .packit.yaml
Labels: lgtm, approved, release-note-none

#22457 [skip-ci] Packit/rpm: remove el8 jobs and spec conditionals
  .packit.yaml
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#22464 [CI:DOCS] Add installation instructions for openSUSE
  CONTRIBUTING.md
Labels: lgtm, approved, release-note-none

#22458 [CI:DOCS] Fix artifact action
  .github/workflows/release-artifacts.yml
Labels: lgtm, approved, release-note-none

#22468 [CI:DOCS] Remove redundant Prerequisite before build section
  CONTRIBUTING.md
Labels: lgtm, approved, release-note-none

#22485 ExitWithError() - low-hanging fruit
  test/e2e/image_scp_test.go
  test/e2e/kill_test.go
  test/e2e/load_test.go
Labels: lgtm, approved, release-note-none

#22465 Update to go 1.21
  cmd/podman/containers/create.go
  cmd/podman/containers/ps.go
  cmd/podman/farm/create.go
  cmd/podman/farm/update.go
  cmd/podman/images/save.go
  cmd/podman/images/trust_set.go
  cmd/podman/system/connection/list.go
  cmd/podman/system/connection/remove.go
  go.mod
  go.sum
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/container_top_linux.go
  libpod/kube.go
  libpod/networking_common.go
  libpod/runtime_ctr.go
  libpod/runtime_pod.go
  pkg/bindings/manifests/manifests.go
  pkg/bindings/test/networks_test.go
  pkg/bindings/test/pods_test.go
  pkg/bindings/test/volumes_test.go
  pkg/domain/filters/containers.go
  pkg/domain/filters/pods.go
  pkg/domain/infra/abi/images_list.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/tunnel/manifest.go
  pkg/machine/e2e/config_test.go
  pkg/machine/e2e/list_test.go
  pkg/specgen/container_validate.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/ports.go
  pkg/specgen/generate/security_linux.go
  pkg/specgen/namespaces.go
  test/e2e/common_test.go
Labels: lgtm, approved, machine, release-note-none

#22486 ExitWithError() - more low-hanging fruit
  test/e2e/login_logout_test.go
Labels: lgtm, approved, release-note-none

#22489 ExitWithError() - yet more low-hanging fruit
  test/e2e/logs_test.go
  test/e2e/mount_rootless_test.go
  test/e2e/mount_test.go
  test/e2e/negative_test.go
Labels: lgtm, approved, release-note-none

#22504 Bump buildah to fix CI
  Makefile
  go.mod
  go.sum
  test/buildah-bud/apply-podman-deltas
  test/buildah-bud/buildah-tests.diff
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.packit.yaml
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#22410 Add the ability to automount images as volumes via play
  docs/source/markdown/options/mount.md
  docs/source/markdown/podman-kube-play.1.md.in
  libpod/container.go
  libpod/container_internal_common.go
  libpod/define/annotations.go
  libpod/options.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/container_create.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/volumes.go
  pkg/specgenutil/volumes.go
  test/e2e/run_volume_test.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#22481 chore: fix function names in comment
  libpod/options.go
  libpod/runtime_img.go
  libpod/sqlite_state.go
  pkg/checkpoint/crutils/checkpoint_restore_utils.go
  pkg/farm/list_builder.go
Labels: lgtm, approved, release-note, No New Tests

#22509 Correct network option name `ip` -> `ip6`
  docs/source/markdown/options/network.md
Labels: lgtm, approved, release-note-none

#22516 test/e2e: fixes to make test pass locally
  Makefile
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/common_test.go
  test/e2e/run_test.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note-none

#22494 Use custom image for make validatepr
  Makefile
Labels: lgtm, approved, release-note-none, No New Tests

#22507 Clean machine pull cache
  pkg/machine/e2e/machine_pull_test.go
  pkg/machine/ocipull/ociartifact.go
  pkg/machine/shim/diskpull/diskpull.go
  pkg/machine/stdpull/url.go
  pkg/machine/wsl/stubber.go
Labels: lgtm, approved, machine, release-note

#22520 [skip-ci] Remove unncessary lines at the end of specfile summary
  rpm/podman.spec
Labels: lgtm, approved, release-note, No New Tests

#22207 e2e tests: use /var/tmp, not $TMPDIR, as workdirs
  .cirrus.yml
  contrib/cirrus/runner.sh
  test/e2e/common_test.go
  test/e2e/quadlet/basic.kube
  test/e2e/quadlet/configmap.kube
  test/e2e/quadlet/downforce.kube
  test/e2e/quadlet/env-file.container
  test/e2e/quadlet/mount.container
  test/e2e/quadlet/oneshot.kube
  test/e2e/quadlet/volume.container
  test/e2e/quadlet/volume.pod
  test/e2e/quadlet/workingdir-unit.kube
  test/e2e/quadlet/workingdir-yaml-rel.kube
  test/e2e/quadlet_test.go
  test/e2e/run_networking_test.go
  test/utils/common_function_test.go
  test/utils/utils.go
Labels: lgtm, approved, release-note-none

#22532 test/e2e: more fixes to not leak tmp files/dirs
  test/e2e/build_test.go
  test/e2e/mount_rootless_test.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note-none

#22539 [v4.6.1-rhel] CI Maintenance: Disable machine tests
  .cirrus.yml
  contrib/cirrus/cirrus_yaml_test.py
Labels: lgtm, approved, release-note-none

#22540 [v4.4.1-rhel] CI Maintenance: Disable machine tests
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#22288 Fix machine volumes with long path
  pkg/machine/apple/apple.go
  pkg/machine/e2e/init_test.go
  pkg/machine/volumes.go
  pkg/systemd/parser/split.go
  pkg/systemd/parser/unitfile.go
Labels: lgtm, approved, machine, release-note

#22550 [skip-ci] GHA: Attempt fix exceeded a secondary rate limit
  .github/workflows/issue_pr_lock.yml
Labels: lgtm, approved, release-note-none

#22548 vendor ginkgo 2.17.2 into test/tools
  test/e2e/common_test.go
  test/tools/go.mod
  test/tools/go.sum
  test/tools/vendor/github.com/go-task/slim-sprig/v3/.editorconfig
  test/tools/vendor/github.com/go-task/slim-sprig/v3/.gitattributes
  test/tools/vendor/github.com/go-task/slim-sprig/v3/.gitignore
  test/tools/vendor/github.com/go-task/slim-sprig/v3/CHANGELOG.md
  test/tools/vendor/github.com/go-task/slim-sprig/v3/LICENSE.txt
  test/tools/vendor/github.com/go-task/slim-sprig/v3/README.md
  test/tools/vendor/github.com/go-task/slim-sprig/v3/Taskfile.yml
  test/tools/vendor/github.com/go-task/slim-sprig/v3/crypto.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/date.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/defaults.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/dict.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/doc.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/functions.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/list.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/network.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/numeric.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/reflect.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/regex.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/strings.go
  test/tools/vendor/github.com/go-task/slim-sprig/v3/url.go
  test/tools/vendor/github.com/google/pprof/profile/encode.go
  test/tools/vendor/github.com/google/pprof/profile/filter.go
  test/tools/vendor/github.com/google/pprof/profile/legacy_java_profile.go
  test/tools/vendor/github.com/google/pprof/profile/legacy_profile.go
  test/tools/vendor/github.com/google/pprof/profile/merge.go
  test/tools/vendor/github.com/google/pprof/profile/profile.go
  test/tools/vendor/github.com/google/pprof/profile/proto.go
  test/tools/vendor/github.com/google/pprof/profile/prune.go
  test/tools/vendor/github.com/onsi/ginkgo/v2/ginkgo/generators/bootstrap_command.go
  test/tools/vendor/github.com/onsi/ginkgo/v2/ginkgo/generators/generate_command.go
  test/tools/vendor/github.com/onsi/ginkgo/v2/ginkgo/internal/profiles_and_reports.go
  test/tools/vendor/github.com/onsi/ginkgo/v2/reporters/default_reporter.go
  test/tools/vendor/github.com/onsi/ginkgo/v2/reporters/junit_report.go
  test/tools/vendor/github.com/onsi/ginkgo/v2/types/version.go
  test/tools/vendor/modules.txt
Labels: lgtm, approved, release-note-none
