Repository containers/podman, pull requests merged in 2024-06, with the labels that each got.

#22880 test/e2e: use local skopeo not image
  test/e2e/manifest_test.go
Labels: lgtm, approved, release-note-none

#22885 Fix 5.1 release note re: runlabel
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#22890 [v5.1] Mac PM test: Require pre-installed rosetta
  contrib/cirrus/mac_setup.sh
  pkg/machine/e2e/machine_test.go
Labels: lgtm, approved, machine, release-note-none

#22859 libpod: hostname written to /etc/hostname ends with a newline character
  libpod/container_internal_linux.go
  test/e2e/run_dns_test.go
Labels: lgtm, approved, release-note-none

#22896 pkg/rootless: set _CONTAINERS_USERNS_CONFIGURED correctly
  go.mod
  go.sum
  pkg/rootless/rootless_linux.c
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libnetwork/cni/network.go
  vendor/github.com/containers/common/libnetwork/netavark/network.go
  vendor/github.com/containers/common/pkg/config/config_bsd.go
  vendor/github.com/containers/common/pkg/config/config_windows.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/default_bsd.go
  vendor/github.com/containers/common/pkg/config/default_common.go
  vendor/github.com/containers/common/pkg/password/password_supported.go
  vendor/github.com/containers/common/pkg/version/version.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#22895 libpod: do not leak systemd hc startup unit timer
  libpod/container_internal.go
  libpod/healthcheck.go
  libpod/healthcheck_linux.go
  libpod/healthcheck_nosystemd_linux.go
  libpod/healthcheck_unsupported.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#22900 Bump to v5.1.1
  RELEASE_NOTES.md
  libpod/container_internal.go
  libpod/healthcheck.go
  libpod/healthcheck_linux.go
  libpod/healthcheck_nosystemd_linux.go
  libpod/healthcheck_unsupported.go
  pkg/machine/apple/vfkit.go
  test/system/220-healthcheck.bats
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#22905 libpod: fix 'podman kube generate' on FreeBSD
  libpod/kube.go
Labels: lgtm, approved, release-note-none, No New Tests

#22886 test/system: make some tests faster part 3
  Makefile
  test/system/001-basic.bats
  test/system/030-run.bats
  test/system/040-ps.bats
  test/system/065-cp.bats
  test/system/070-build.bats
  test/system/252-quadlet.bats
  test/system/500-networking.bats
Labels: lgtm, approved, release-note-none

#22926 ExitWithError() - continued
  test/e2e/build_test.go
  test/e2e/cleanup_test.go
  test/e2e/create_staticmac_test.go
  test/e2e/diff_test.go
  test/e2e/exec_test.go
  test/e2e/exists_test.go
  test/e2e/generate_systemd_test.go
  test/e2e/images_test.go
  test/e2e/info_test.go
  test/e2e/init_test.go
Labels: lgtm, approved, release-note-none

#22913 New Windows makefile (winmake.ps1) targets and Windows build documentation update
  .pre-commit-config.yaml
  build_windows.md
  docs/make.bat
  docs/make.ps1
  winmake.ps1
Labels: lgtm, approved, release-note-none, No New Tests

#22933 [CI:DOCS] podman 5, pasta and inter-container networking
  rootless.md
Labels: lgtm, approved, release-note-none

#22924 [CI:DOCS] Rename master to main in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: lgtm, approved, release-note-none, No New Tests

#22954 update golangci-lint to v1.59.1
  Makefile
  cmd/podman/containers/ps.go
  pkg/bindings/connection.go
  pkg/bindings/containers/containers.go
  pkg/bindings/images/images.go
  pkg/machine/config.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#22957 --squash --layers=false should be allowed
  cmd/podman/common/build.go
  test/e2e/build_test.go
  test/system/070-build.bats
Labels: lgtm, approved, release-note

#22914 libpod: do not reuse networking on start
  libpod/container_internal_linux.go
  test/e2e/restart_test.go
  test/system/045-start.bats
Labels: lgtm, approved, release-note

#22964 [CI:DOCS] Add jnovy as reviewer and approver
  OWNERS
Labels: lgtm, approved, release-note-none

#22694 Quadlet: Add support for .build files
  cmd/quadlet/main.go
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/annotation.build
  test/e2e/quadlet/arch.build
  test/e2e/quadlet/authfile.build
  test/e2e/quadlet/basic.build
  test/e2e/quadlet/build-not-found.quadlet.volume
  test/e2e/quadlet/build.quadlet.volume
  test/e2e/quadlet/containersconfmodule.build
  test/e2e/quadlet/dns-options.build
  test/e2e/quadlet/dns-search.build
  test/e2e/quadlet/dns.build
  test/e2e/quadlet/env.build
  test/e2e/quadlet/file-abs.build
  test/e2e/quadlet/file-https.build
  test/e2e/quadlet/file-rel-no-wd.build
  test/e2e/quadlet/file-rel.build
  test/e2e/quadlet/force-rm.build
  test/e2e/quadlet/globalargs.build
  test/e2e/quadlet/group-add.build
  test/e2e/quadlet/image-not-found.quadlet.volume
  test/e2e/quadlet/image.quadlet.volume
  test/e2e/quadlet/label.build
  test/e2e/quadlet/neither-workingdirectory-nor-file.build
  test/e2e/quadlet/network.build
  test/e2e/quadlet/network.quadlet.build
  test/e2e/quadlet/no-imagetag.build
  test/e2e/quadlet/podmanargs.build
  test/e2e/quadlet/pull.build
  test/e2e/quadlet/secrets.build
  test/e2e/quadlet/setworkingdirectory-is-abs.build
  test/e2e/quadlet/setworkingdirectory-is-archive.build
  test/e2e/quadlet/setworkingdirectory-is-file-abs.build
  test/e2e/quadlet/setworkingdirectory-is-file-rel.build
  test/e2e/quadlet/setworkingdirectory-is-git.build
  test/e2e/quadlet/setworkingdirectory-is-github.build
  test/e2e/quadlet/setworkingdirectory-is-https-git.build
  test/e2e/quadlet/setworkingdirectory-is-rel.build
  test/e2e/quadlet/target.build
  test/e2e/quadlet/tls-verify.build
  test/e2e/quadlet/variant.build
  test/e2e/quadlet/volume.build
  test/e2e/quadlet/volume.quadlet.build
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note, quadlet

#22759 Enable libkrun provider to open a debug console
  pkg/machine/apple/apple.go
  pkg/machine/apple/vfkit.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#22977 podman: add new hidden flag --pull-option
  cmd/podman/root.go
  libpod/options.go
  pkg/domain/entities/engine.go
  pkg/domain/infra/runtime_libpod.go
Labels: lgtm, approved, release-note-none, No New Tests

#22983 ExitWithError, continued
  test/e2e/healthcheck_run_test.go
  test/e2e/manifest_test.go
  test/e2e/network_test.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/e2e/pull_test.go
  test/e2e/run_networking_test.go
  test/e2e/untag_test.go
  test/e2e/volume_exists_test.go
Labels: lgtm, approved, release-note-none

#22733 Add `podman system check`
  Makefile
  cmd/podman-testing/create.go
  cmd/podman-testing/data.go
  cmd/podman-testing/layer.go
  cmd/podman-testing/main.go
  cmd/podman-testing/remove.go
  cmd/podman-testing/store_supported.go
  cmd/podman-testing/store_unsupported.go
  cmd/podman/system/check.go
  docs/source/markdown/podman-system-check.1.md
  docs/source/markdown/podman-system.1.md
  hack/golangci-lint.sh
  internal/domain/entities/engine_testing.go
  internal/domain/entities/testing.go
  internal/domain/infra/abi/testing.go
  internal/domain/infra/abi/testing_test.go
  internal/domain/infra/runtime_abi.go
  internal/domain/infra/runtime_proxy.go
  internal/domain/infra/runtime_tunnel.go
  internal/domain/infra/tunnel/testing.go
  internal/domain/infra/tunnel/testing_test.go
  libpod/runtime.go
  pkg/api/handlers/libpod/system.go
  pkg/api/handlers/swagger/responses.go
  pkg/api/server/register_system.go
  pkg/bindings/system/system.go
  pkg/bindings/system/types.go
  pkg/bindings/system/types_check_options.go
  pkg/domain/entities/engine_container.go
  pkg/domain/entities/system.go
  pkg/domain/entities/types/system.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/system.go
  rpm/podman.spec
  test/system/331-system-check.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note, kind/api-change

#22988 [skip-ci] GHA: Send release notification mail
  .github/workflows/release-artifacts.yml
Labels: release-note-none

#22999 [skip-ci] Release workflow: Include candidate descriptor
  .github/workflows/release-artifacts.yml
Labels: lgtm, approved, release-note-none

#23013 CI: do not install python packages at runtime
  contrib/cirrus/setup_environment.sh
Labels: approved, release-note-none

#23010 [CI:DOCS] Quadlet - add note about relative path resolution
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#23017 pkg/machine/wsl: wrap command errors
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
  pkg/machine/wsl/wutil/wutil.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#22909 test/system: speed up basic_{setup,teardown}()
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  hack/bats
  test/system/030-run.bats
  test/system/035-logs.bats
  test/system/045-start.bats
  test/system/050-stop.bats
  test/system/060-mount.bats
  test/system/070-build.bats
  test/system/075-exec.bats
  test/system/090-events.bats
  test/system/120-load.bats
  test/system/130-kill.bats
  test/system/150-login.bats
  test/system/200-pod.bats
  test/system/250-systemd.bats
  test/system/252-quadlet.bats
  test/system/255-auto-update.bats
  test/system/260-sdnotify.bats
  test/system/280-update.bats
  test/system/410-selinux.bats
  test/system/450-interactive.bats
  test/system/500-networking.bats
  test/system/505-networking-pasta.bats
  test/system/520-checkpoint.bats
  test/system/700-play.bats
  test/system/710-kube.bats
  test/system/helpers.bash
  test/system/setup_suite.bash
Labels: lgtm, approved, release-note-none

#23053 sqlite_state: Fix RewriteVolumeConfig
  libpod/sqlite_state.go
  test/system/760-system-renumber.bats
Labels: lgtm, approved, release-note

#23030 cirrus.yml: implement skips based on source changes
  .cirrus.yml
  contrib/cirrus/CIModes.md
  contrib/cirrus/cirrus_yaml_test.py
Labels: lgtm, approved, release-note-none

#23029 Quadlet - use specifier for unescaped values for templated container name
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/template@.container
  test/e2e/quadlet/template@instance.container
Labels: lgtm, approved, release-note

#23058 CI VMs: bump
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#23059 systests: kube: bump up a timeout
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#23056 restore: fix container restore into pod
  pkg/checkpoint/checkpoint_restore.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note

#23060 [CI:DOCS] Adds all PushImage supported paramters to openapi docs
  pkg/api/server/register_images.go
Labels: lgtm, approved, release-note, kind/api-change

#23066 remote: fix incorrect CONTAINER_CONNECTION parsing
  cmd/podman/root.go
  pkg/domain/entities/engine.go
  test/system/272-system-connection.bats
Labels: lgtm, approved, release-note

#23020 CI Cleanup: Remove cgroups v1 & runc support
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/logcollector.sh
  contrib/cirrus/setup_environment.sh
  test/system/120-load.bats
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#22967 Remove references to --pull=true and --pull=false
  cmd/podman/common/build.go
  docs/source/markdown/options/pull.image.md
  docs/source/markdown/podman-build.1.md.in
  test/system/070-build.bats
Labels: lgtm, approved, release-note

#23032 libpod: do not chmod bind mounts
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/oci_conmon_common.go
  libpod/oci_conmon_freebsd.go
  libpod/oci_conmon_linux.go
Labels: lgtm, approved, release-note, No New Tests

#23064 container: pass StopTimeout to the systemd slice
  libpod/container_config.go
  libpod/container_internal_common.go
  test/system/250-systemd.bats
Labels: lgtm, approved, release-note

#23043 fix(diff): do not suggest `--latest` when runs on remote with no args
  cmd/podman/diff/diff.go
  test/e2e/diff_test.go
Labels: lgtm, approved, release-note

#22987 ExitWithError() - more upgrades from Exit()
  test/e2e/pod_initcontainers_test.go
  test/e2e/pod_restart_test.go
  test/e2e/pod_start_test.go
  test/e2e/pod_stop_test.go
  test/e2e/pod_top_test.go
Labels: lgtm, approved, release-note-none

#23072 [CI:DOCS] Add information about Type=oneshot units in podman-systemd.unit.5.md (fixes #22233)
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved

#23068 pkg/machine/e2e: Remove unnecessary copy of machine image.
  pkg/machine/e2e/machine_test.go
Labels: lgtm, approved, machine, release-note-none

#23079 macos-installer: bundle krunkit
  contrib/pkginstaller/Makefile
  contrib/pkginstaller/krunkit.entitlements
  contrib/pkginstaller/package.sh
Labels: lgtm, approved, release-note-none

#22920 machine/linux: Switch to virtiofs by default
  contrib/cirrus/setup_environment.sh
  pkg/machine/apple/apple.go
  pkg/machine/e2e/basic_test.go
  pkg/machine/provider/platform.go
  pkg/machine/qemu/command/command.go
  pkg/machine/qemu/command/qemu_command_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/options_linux_amd64.go
  pkg/machine/qemu/options_linux_arm64.go
  pkg/machine/qemu/stubber.go
  pkg/machine/qemu/virtiofsd.go
  pkg/machine/volumes.go
Labels: lgtm, approved, machine, release-note

#23082 podman run use pod userns even with --pod-id-file
  cmd/podman/common/create.go
  cmd/podman/kube/play.go
  pkg/specgenutil/specgen.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved, release-note

#22736 test/system: Add test for journald log check in quadlet
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#23087 ExitWithError(): continued
  test/e2e/restart_test.go
  test/e2e/rm_test.go
  test/e2e/run_device_test.go
  test/e2e/run_env_test.go
  test/e2e/run_exit_test.go
  test/e2e/run_selinux_test.go
  test/e2e/run_userns_test.go
  test/e2e/run_volume_test.go
  test/e2e/run_working_dir_test.go
Labels: lgtm, approved, release-note-none

#23083 restore: fix missing network setup
  libpod/container_internal_common.go
  test/system/520-checkpoint.bats
Labels: lgtm, approved, release-note

#23095 [skip-ci] RPM: create podman-machine subpackage
  rpm/podman.spec
Labels: lgtm, approved, release-note-none, No New Tests

#23097 pkg/machine/apple: machine stop timeout
  pkg/machine/apple/vfkit/helper.go
Labels: lgtm, approved, machine, release-note, No New Tests

#23099 test/e2e: remove podman system service tests
  test/e2e/system_service_test.go
Labels: lgtm, approved, release-note-none, No New Tests

#23081 CI: logformatter: link to correct PR base
  Makefile
  contrib/cirrus/lib.sh
  contrib/cirrus/logformatter
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#23101 ExitWithError() - more upgrades from Exit()
  test/e2e/run_entrypoint_test.go
  test/e2e/run_test.go
  test/e2e/secret_test.go
  test/e2e/stop_test.go
  test/e2e/system_dial_stdio_test.go
  test/e2e/top_test.go
  test/e2e/unshare_test.go
  test/e2e/wait_test.go
Labels: lgtm, approved, release-note-none

#23103 build API: accept platform comma separated
  pkg/api/handlers/compat/images_build.go
  pkg/api/server/register_images.go
  test/apiv2/10-images.at
Labels: lgtm, approved, release-note, kind/api-change

#23096 podman top: join the container userns
  libpod/container_top_linux.c
  libpod/container_top_linux.go
  test/e2e/top_test.go
Labels: lgtm, approved, release-note

#23086 Run linting in parallel with building
  .cirrus.yml
  Makefile
  contrib/cirrus/runner.sh
  contrib/cirrus/setup_environment.sh
Labels: lgtm, approved, release-note-none

#23105 [CI:BUILD] Minor: Rename the OSX Cross task
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#23110 [skip-ci] Remove conditionals from changelog
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#23098 cirrus: remove redundant skip logic and lower int timeout
  .cirrus.yml
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none

#23116 libpod/container_top_linux.c: fix missing header
  libpod/container_top_linux.c
Labels: lgtm, approved, release-note-none, No New Tests

#23118 apple virtiofs: fix racy mount setup
  .cirrus.yml
  pkg/machine/apple/apple.go
Labels: lgtm, approved, machine, release-note, No New Tests

#23125 Clearly indicate names w/ URLencoded duplicates
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#23112 [CI:DOCS] Minor: Remove unhelpful comment
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#23089 [v4.4.1-rhel] Ensure that containers do not get stuck in stopping
  libpod/container_internal.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note-none

#23131 CI: Build-Each-Commit test: run only on PRs
  contrib/cirrus/runner.sh
Labels: lgtm, approved, release-note-none
