Repository containers/podman, pull requests merged in 2024-02, with the labels that each got.

#21460 Bump to v4.9.1
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#21366 Test new CI VMs
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/setup_environment.sh
  test/e2e/run_networking_test.go
Labels: lgtm, approved, release-note-none

#21414 Farm build should read server registries.conf
  cmd/podman/farm/build.go
  pkg/domain/entities/types/types.go
  pkg/farm/list_builder.go
  test/farm/001-farm.bats
  test/farm/setup_suite.bash
Labels: lgtm, approved, release-note

#21000 Strip key/values of external quotes
  pkg/systemd/parser/unitfile.go
  test/e2e/quadlet/health.container
  test/e2e/quadlet/hostname.container
  test/e2e/quadlet/quotes.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#21068 Support templates in quadlet
  cmd/quadlet/main.go
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/parser/unitfile.go
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/template@.container
  test/e2e/quadlet/template@.container.d/10-env.conf
  test/e2e/quadlet/template@instance.container
  test/e2e/quadlet/template@instance.container.d/10-image.conf
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#21272 Add tests to make sure mounts.conf does not warn on missing content
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#21485 [v4.9] Bump to c/common v0.57.4, buildkit v0.12.5, c/buidah v1.33.5
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/internal/mkcw/embed/entrypoint.gz
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#21483 [v4.2.0-rhel] Manually patch vendor/ to address CVE-2024-21626
  .cirrus.yml
  pkg/bindings/test/images_test.go
  test/e2e/search_test.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
Labels: lgtm, approved, release-note-none

#21489 Bump to v4.9.2
  .cirrus.yml
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#21372 Run lint for mac builds
  .cirrus.yml
  hack/golangci-lint.sh
Labels: lgtm, approved, release-note-none

#21490 [v4.0-rhel] Manually update runc vendor to address CVE-2024-21626
  .cirrus.yml
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
Labels: lgtm, approved, release-note-none

#21501 [CI:DOCS] Corrected markdown documentation for `--stars`
  docs/source/markdown/podman-search.1.md.in
Labels: lgtm, approved, release-note

#21508 Podman Machine AppleHV CI fixes
  .cirrus.yml
  pkg/machine/compression/decompress.go
  pkg/machine/e2e/README.md
  pkg/machine/e2e/machine_test.go
  pkg/machine/e2e/proxy_test.go
  pkg/machine/stdpull/local.go
  pkg/machine/stdpull/url.go
Labels: lgtm, approved, machine, release-note-none

#21431 Warn if cgroups-v1
  .cirrus.yml
  contrib/cirrus/lib.sh
  libpod/runtime.go
  rpm/podman.spec
  test/system/120-load.bats
  test/system/252-quadlet.bats
Labels: lgtm, approved, 5.0, release-note

#21497 Use semi-colon as the field separator for internal volumes-from inspect annotation
  libpod/container_inspect.go
  libpod/pod.go
  pkg/specgen/generate/oci_freebsd.go
  pkg/specgen/generate/oci_linux.go
  test/e2e/container_inspect_test.go
  test/e2e/generate_kube_test.go
Labels: lgtm, approved, breaking-change, 5.0, release-note-none

#21413 Include machine-tests in cirrus-cron jobs
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#21530 test/e2e: unskip netavark macvlan/ipvlan tests
  test/e2e/network_test.go
Labels: lgtm, approved, release-note-none

#21518 vendor: update c/common + libhvee to latest main and use pkg/strongunits from c/common
  go.mod
  go.sum
  pkg/machine/applehv/machine.go
  pkg/machine/errors.go
  pkg/machine/hyperv/machine.go
  pkg/strongunits/config_test.go
  vendor/github.com/containers/common/internal/deepcopy.go
  vendor/github.com/containers/common/libimage/define/manifests.go
  vendor/github.com/containers/common/libimage/manifest_list.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/pkg/manifests/manifests.go
  vendor/github.com/containers/common/pkg/strongunits/config.go
  vendor/github.com/containers/libhvee/pkg/hypervctl/vhd.go
  vendor/modules.txt
Labels: lgtm, approved, machine, bloat_approved, release-note-none

#21524 Use tmpfs mounts when creating a memory-backed emptyDir volume
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/volume.go
  pkg/specgen/generate/kube/volume_test.go
Labels: lgtm, approved, release-note

#20790 [CI:BUILD] rpm: remove dnsname
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#21470 Secret-scanning followup fixes
  .github/workflows/scan-secrets.yml
Labels: lgtm, approved, release-note-none

#21522 fix userns + restart policy with slirp4netns
  libpod/container_internal.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#21514 make podman pod inspect output a json array
  cmd/podman/common/inspect.go
  cmd/podman/inspect/inspect.go
  cmd/podman/pods/inspect.go
  docs/source/markdown/podman-pod-inspect.1.md.in
  test/e2e/common_test.go
  test/e2e/pod_inspect_test.go
  test/system/200-pod.bats
Labels: lgtm, approved, breaking-change, 5.0, release-note

#21446 Set interface name to the network_interface name for macvlan and ipvlan networks
  libpod/networking_common.go
  libpod/runtime_ctr.go
  test/e2e/container_iface_name_test.go
Labels: lgtm, approved, release-note

#21332 Reuse timezone code from containers/common
  libpod/container_internal.go
  libpod/container_internal_common.go
  vendor/github.com/containers/common/pkg/timezone/timezone.go
  vendor/github.com/containers/common/pkg/timezone/timezone_linux.go
  vendor/github.com/containers/common/pkg/timezone/timezone_unix.go
  vendor/github.com/containers/common/pkg/timezone/timezone_windows.go
  vendor/modules.txt
Labels: lgtm, approved, 5.0, bloat_approved, release-note-none

#21409 Show network name network events with podman -remote events
  pkg/domain/entities/events.go
  test/e2e/events_test.go
Labels: lgtm, approved, 5.0, release-note

#21534 Send container stats over API on a per-interface basis
  cmd/podman/containers/stats.go
  docs/source/markdown/podman-stats.1.md.in
  libpod/define/containerstate.go
  libpod/networking_freebsd.go
  libpod/networking_linux.go
  libpod/stats_common.go
  libpod/stats_freebsd.go
  libpod/stats_linux.go
  pkg/api/handlers/compat/containers_stats_linux.go
  pkg/domain/infra/abi/pods_stats.go
  test/apiv2/19-stats.at
Labels: lgtm, approved, breaking-change, 5.0, release-note, kind/api-change

#21512 drop support for "pasta" as a network name
  cmd/podman/common/netflags.go
  cmd/podman/containers/create.go
  cmd/podman/pods/create.go
  docs/source/markdown/options/network.md
  docs/source/markdown/podman-network-create.1.md
  pkg/api/handlers/compat/containers_create.go
  pkg/domain/infra/abi/network.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/namespaces.go
  pkg/specgen/namespaces_test.go
  test/e2e/network_create_test.go
Labels: lgtm, approved, breaking-change, 5.0, release-note, kind/api-change

#21535 Upgrade tests: reenable, but revamped
  .cirrus.yml
  contrib/cirrus/setup_environment.sh
  test/upgrade/README.md
  test/upgrade/helpers.bash
  test/upgrade/test-upgrade.bats
Labels: lgtm, approved, release-note-none

#21558 pkg/machine: make it build for freebsd
  .cirrus.yml
  pkg/machine/qemu/options_freebsd_amd64.go
  pkg/machine/qemu/options_freebsd_arm64.go
  pkg/machine/vmconfigs/config_common.go
  pkg/machine/vmconfigs/config_freebsd.go
Labels: lgtm, approved, machine, release-note-none

#21568 [CI:DOCS] Fix Quadlet Options=key=value documentation/example
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#21556 Quadlet - do not look for line continuation in comment lines
  pkg/systemd/parser/unitfile.go
  test/e2e/quadlet/comment-with-continuation.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#21553 [CI:DOCS] hierarchical issues with userns parameters
  docs/source/markdown/options/userns.pod.md
Labels: lgtm, approved, release-note-none

#21581 [CI:DOCS] fix userns.pod.md mapping table
  docs/source/markdown/options/userns.pod.md
Labels: lgtm, approved, release-note-none

#21356 new testimage and systemd-image
  test/apiv2/10-images.at
  test/apiv2/20-containers.at
  test/e2e/config.go
  test/e2e/config_amd64.go
  test/e2e/config_arm64.go
  test/e2e/config_ppc64le.go
  test/e2e/images_test.go
  test/e2e/rmi_test.go
  test/system/125-import.bats
  test/system/220-healthcheck.bats
  test/system/250-systemd.bats
  test/system/320-system-df.bats
  test/system/build-systemd-image
  test/system/build-testimage
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#21576 machine: USB passthrough
  cmd/podman/machine/set.go
  pkg/machine/applehv/stubber.go
  pkg/machine/config.go
  pkg/machine/define/setopts.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/qemu/stubber.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/machine.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, machine, release-note

#21577 machine: change getDefaultDevices signature
  pkg/machine/applehv/stubber.go
  pkg/machine/applehv/vfkit.go
Labels: lgtm, approved, machine, release-note-none

#21588 [CI:DOCS] Remove gitleaks scanning
  .github/workflows/scan-secrets.yml
  .gitleaks.toml
  .gitleaks/README.md
  .gitleaks/baseline.json
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, release-note-none

#21585 fix "podman run port forward range" flake
  test/system/500-networking.bats
Labels: lgtm, approved, release-note-none

#21441 Windows-cross linting
  contrib/cirrus/runner.sh
  hack/golangci-lint.sh
Labels: lgtm, approved, release-note-none

#21591 Get CopySparse from github.com/crc-org/crc/
  go.mod
  go.sum
  pkg/machine/compression/copy_test.go
  pkg/machine/compression/decompress.go
  pkg/machine/e2e/machine_test.go
  vendor/github.com/crc-org/crc/v2/LICENSE
  vendor/github.com/crc-org/crc/v2/pkg/crc/logging/inmemory.go
  vendor/github.com/crc-org/crc/v2/pkg/crc/logging/logging.go
  vendor/github.com/crc-org/crc/v2/pkg/crc/logging/stderr_hook.go
  vendor/github.com/crc-org/crc/v2/pkg/os/copy.go
  vendor/github.com/crc-org/crc/v2/pkg/os/exec.go
  vendor/github.com/crc-org/crc/v2/pkg/os/execerror.go
  vendor/github.com/crc-org/crc/v2/pkg/os/util.go
  vendor/github.com/crc-org/crc/v2/pkg/os/util_unix.go
  vendor/github.com/crc-org/crc/v2/pkg/os/util_windows.go
  vendor/github.com/klauspost/cpuid/v2/README.md
  vendor/github.com/klauspost/cpuid/v2/cpuid.go
  vendor/github.com/klauspost/cpuid/v2/detect_x86.go
  vendor/github.com/klauspost/cpuid/v2/featureid_string.go
  vendor/github.com/mattn/go-colorable/LICENSE
  vendor/github.com/mattn/go-colorable/README.md
  vendor/github.com/mattn/go-colorable/colorable_appengine.go
  vendor/github.com/mattn/go-colorable/colorable_others.go
  vendor/github.com/mattn/go-colorable/colorable_windows.go
  vendor/github.com/mattn/go-colorable/go.test.sh
  vendor/github.com/mattn/go-colorable/noncolorable.go
  vendor/gopkg.in/natefinch/lumberjack.v2/.gitignore
  vendor/gopkg.in/natefinch/lumberjack.v2/.travis.yml
  vendor/gopkg.in/natefinch/lumberjack.v2/LICENSE
  vendor/gopkg.in/natefinch/lumberjack.v2/README.md
  vendor/gopkg.in/natefinch/lumberjack.v2/chown.go
  vendor/gopkg.in/natefinch/lumberjack.v2/chown_linux.go
  vendor/gopkg.in/natefinch/lumberjack.v2/lumberjack.go
  vendor/modules.txt
Labels: lgtm, approved, machine, release-note-none

#21603 Fail if vm exists in hyperv already
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/init_windows_test.go
  pkg/machine/hyperv/stubber.go
Labels: lgtm, approved, machine, release-note-none

#21604 Minor cleanup from podman 4
  pkg/machine/config.go
  pkg/machine/fcos.go
Labels: lgtm, approved, machine, release-note-none

#21567 [v4.9] [skip-ci] packit: update fedora downstream branches
  .packit.yaml
Labels: lgtm, approved, release-note-none

#21551 Re-enable testing
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#21597 Complete WSL implementation in Podman 5
  cmd/podman/machine/set.go
  go.mod
  go.sum
  pkg/machine/applehv/stubber.go
  pkg/machine/compression/decompress.go
  pkg/machine/config.go
  pkg/machine/define/config.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/e2e/set_test.go
  pkg/machine/gvproxy.go
  pkg/machine/gvproxy_unix.go
  pkg/machine/gvproxy_windows.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/machine_common.go
  pkg/machine/machine_unix.go
  pkg/machine/machine_windows.go
  pkg/machine/provider/platform_windows.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/stubber.go
  pkg/machine/shim/diskpull/diskpull.go
  pkg/machine/shim/host.go
  pkg/machine/shim/networking.go
  pkg/machine/shim/networking_unix.go
  pkg/machine/shim/networking_windows.go
  pkg/machine/ssh.go
  pkg/machine/ssh_unix.go
  pkg/machine/ssh_windows.go
  pkg/machine/stdpull/url.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/config_windows.go
  pkg/machine/vmconfigs/machine.go
  pkg/machine/wsl/declares.go
  pkg/machine/wsl/fedora.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
  pkg/machine/wsl/usermodenet.go
  vendor/github.com/containers/winquit/LICENSE
  vendor/github.com/containers/winquit/pkg/winquit/channels_windows.go
  vendor/github.com/containers/winquit/pkg/winquit/client.go
  vendor/github.com/containers/winquit/pkg/winquit/client_unsupported.go
  vendor/github.com/containers/winquit/pkg/winquit/client_windows.go
  vendor/github.com/containers/winquit/pkg/winquit/doc.go
  vendor/github.com/containers/winquit/pkg/winquit/server.go
  vendor/github.com/containers/winquit/pkg/winquit/server_unsupported.go
  vendor/github.com/containers/winquit/pkg/winquit/server_windows.go
  vendor/github.com/containers/winquit/pkg/winquit/win32/common.go
  vendor/github.com/containers/winquit/pkg/winquit/win32/common_unsupported.go
  vendor/github.com/containers/winquit/pkg/winquit/win32/msg.go
  vendor/github.com/containers/winquit/pkg/winquit/win32/proc.go
  vendor/github.com/containers/winquit/pkg/winquit/win32/pss.go
  vendor/github.com/containers/winquit/pkg/winquit/win32/win.go
  vendor/modules.txt
Labels: lgtm, approved, machine, release-note-none

#21573 Don't panic on podman4 machine configs
  pkg/machine/define/errors.go
  pkg/machine/e2e/config_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/machine.go
Labels: lgtm, approved, machine, release-note-none

#21420 podman-image-scp: Load images without the use of a temporary file.
  pkg/domain/utils/scp.go
Labels: lgtm, approved, release-note-none

#21612 docs: clarify when a URL is treated as a git repo
  docs/source/markdown/podman-build.1.md.in
Labels: lgtm, approved, release-note-none

#21583 image scp: don't require port for ssh URL
  pkg/domain/utils/scp.go
Labels: lgtm, approved, release-note

#21523 Use persist dir for oom file
  libpod/container_exec.go
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_conmon_common.go
  libpod/oci_conmon_exec_common.go
  libpod/oci_missing.go
  test/e2e/run_memory_test.go
Labels: lgtm, approved, release-note

#21562 Enforcing mac tests
  .cirrus.yml
  contrib/cirrus/cirrus_yaml_test.py
Labels: lgtm, approved, release-note-none

#21532 [CI:DOCS] Handle DOCKER_HOST environment for podman-docker package
  Makefile
  docker/docker.in
  docker/podman-docker.csh
  docker/podman-docker.sh
  rpm/podman.spec
Labels: lgtm, approved, 5.0, release-note

#21618 Bump CI VMs to ones with netavark 1.10.3
  .cirrus.yml
  test/e2e/play_kube_test.go
  test/e2e/run_networking_test.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note-none

#21611 libpod: correctly map UID/GID for existing dirs
  libpod/container_internal_common.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved, release-note

#21602 Allow podman machine to download from oci registry
  pkg/machine/config.go
  pkg/machine/define/config.go
  pkg/machine/define/vmtype.go
  pkg/machine/define/vmtype_test.go
  pkg/machine/ocipull/oci.go
  pkg/machine/ocipull/ociartifact.go
  pkg/machine/ocipull/ociartifact_test.go
  pkg/machine/ocipull/pull.go
  pkg/machine/ocipull/source.go
  pkg/machine/ocipull/versioned.go
  pkg/machine/shim/diskpull/diskpull.go
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, release-note-none

#21625 [CI:BUILD] Add VFKit into pkginstaller, remove QEMU
  contrib/pkginstaller/Makefile
  contrib/pkginstaller/README.md
  contrib/pkginstaller/package.sh
  contrib/pkginstaller/scripts/postinstall
Labels: lgtm, approved, release-note-none

#21564 Enable windows and PM windows testing
  .cirrus.yml
  pkg/machine/e2e/machine_test.go
Labels: lgtm, approved, machine, release-note-none

#21642 Bump to v4.9.3
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#21646 machine: `machine set` only in `Stopped` state
  pkg/machine/applehv/stubber.go
  pkg/machine/e2e/set_test.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/qemu/stubber.go
  pkg/machine/wsl/stubber.go
Labels: lgtm, approved, machine, release-note

#21566 Enable freebsd + release-testing tasks
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#21637 [CI:DOCS] Readme update
  README.md
Labels: lgtm, approved, release-note-none

#21619 [v4.9] Remove gitleaks scanning
  .github/workflows/scan-secrets.yml
  .gitleaks.toml
  .gitleaks/README.md
  .gitleaks/baseline.json
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, release-note-none

#21510 Add volumes-from support using annotation in kube yaml
  docs/source/markdown/podman-kube-play.1.md.in
  libpod/container_inspect.go
  libpod/define/annotations.go
  libpod/pod.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/oci_freebsd.go
  pkg/specgen/generate/oci_linux.go
  test/e2e/container_inspect_test.go
  test/e2e/generate_kube_test.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#21657 Fix small bug in ocipull
  pkg/machine/ocipull/ociartifact.go
  pkg/machine/ocipull/pull.go
  pkg/machine/ocipull/source.go
Labels: lgtm, approved, machine, release-note-none

#21662 [v4.4.1-rhel] Bump golang.org/x/net to v0.13.0
  go.mod
  go.sum
  vendor/golang.org/x/net/html/render.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_roundrobin.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/golang.org/x/net/idna/tables15.0.0.go
  vendor/golang.org/x/net/idna/trie.go
  vendor/golang.org/x/net/idna/trie12.0.0.go
  vendor/golang.org/x/net/idna/trie13.0.0.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#21519 Allow CI user to cleanup own files
  contrib/cirrus/mac_cleanup.sh
Labels: lgtm, approved, release-note-none

#21658 Test PR, add a inconsequential period to docs
  RELEASE_PROCESS.md
Labels: lgtm, approved, release-note-none

#21661 More test tweaks to avoid "StopSignal ... 10 seconds" warning
  test/e2e/events_test.go
  test/e2e/prune_test.go
  test/e2e/restart_test.go
  test/e2e/rm_test.go
  test/e2e/run_test.go
  test/system/050-stop.bats
  test/system/160-volumes.bats
Labels: lgtm, approved, release-note-none

#21671 Add a helper for stopping pods and containers in E2E
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/events_test.go
  test/e2e/exec_test.go
  test/e2e/healthcheck_run_test.go
  test/e2e/mount_test.go
  test/e2e/pod_initcontainers_test.go
  test/e2e/prune_test.go
  test/e2e/restart_test.go
  test/e2e/run_cleanup_test.go
  test/e2e/run_test.go
  test/e2e/run_volume_test.go
  test/e2e/volume_plugin_test.go
Labels: lgtm, approved, release-note-none

#21673 machine/qemu: use extra gvproxy socket
  pkg/machine/qemu/stubber.go
Labels: lgtm, approved, machine, release-note-none

#21664 Fixes VM name conflict checking with WSL
  pkg/machine/applehv/stubber.go
  pkg/machine/e2e/config_test.go
  pkg/machine/e2e/init_windows_test.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/qemu/stubber.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/wsl/stubber.go
Labels: lgtm, approved, machine, release-note-none

#21668 machine: ocipull do not error if downloaddir exists
  pkg/machine/ocipull/pull.go
Labels: lgtm, approved, machine, release-note-none

#21643 Prune FCOS related code
  pkg/machine/e2e/config_unix_test.go
  pkg/machine/e2e/machine_test.go
  pkg/machine/e2e/pull_test.go
  pkg/machine/fcos.go
  pkg/machine/fcos_test.go
  pkg/machine/pull.go
  pkg/machine/vmconfigs/arch.go
  pkg/machine/vmconfigs/arch_test.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/wsl/fedora.go
  vendor/github.com/coreos/stream-metadata-go/release/release.go
  vendor/github.com/coreos/stream-metadata-go/release/rhcos/rhcos.go
  vendor/github.com/coreos/stream-metadata-go/release/translate.go
  vendor/modules.txt
Labels: lgtm, approved, machine, release-note-none

#21682 [CI:DOCS] man-page xref: make nested-structure warnings fatal
  docs/source/markdown/podman-stats.1.md.in
  hack/xref-helpmsgs-manpages
Labels: lgtm, approved, release-note

#21692 machine init: validate machine name and username
  cmd/podman/machine/init.go
  pkg/machine/config_test.go
  pkg/machine/connection/add.go
  pkg/machine/connection/connection.go
  pkg/machine/connection/connection_test.go
  pkg/machine/e2e/init_test.go
Labels: lgtm, approved, machine, release-note

#21715 [CI:DOCS] Fix up example description of podman-info.1.md
  docs/source/markdown/podman-info.1.md
Labels: lgtm, approved, release-note-none

#21716 [CI:DOCS] Fix up example description of podman-exec.1.md.in
  docs/source/markdown/podman-exec.1.md.in
Labels: lgtm, approved, release-note-none

#21706 [CI:DOCS] Fix up example description of podman-start.1.md.in
  docs/source/markdown/podman-start.1.md.in
Labels: lgtm, approved, release-note-none

#21684 Introduce Podman machine reset
  cmd/podman/machine/reset.go
  docs/source/markdown/podman-machine-reset.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/config.go
  pkg/machine/e2e/config_reset_test.go
  pkg/machine/e2e/reset_test.go
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, release-note

#21686 Improve cross platform support in QEMU machine sources
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_unix.go
  pkg/machine/qemu/options_windows_amd64.go
  pkg/machine/qemu/options_windows_arm64.go
  pkg/machine/qemu/stubber.go
Labels: lgtm, approved, machine, release-note-none

#21499 Fixed `podman-mac-helper uninstall` to remove docker.sock symlink
  cmd/podman-mac-helper/uninstall.go
Labels: lgtm, approved, release-note

#21703 [CI:DOCS] Fix up example description of podman-pause.1.md.in
  docs/source/markdown/podman-pause.1.md.in
  docs/source/markdown/podman-unpause.1.md.in
Labels: lgtm, approved, release-note-none

#21732 [CI:DOCS] Fix up example description of podman-image commands
  docs/source/markdown/podman-image-diff.1.md
  docs/source/markdown/podman-image-exists.1.md
  docs/source/markdown/podman-image-inspect.1.md
  docs/source/markdown/podman-image-mount.1.md
  docs/source/markdown/podman-image-prune.1.md
  docs/source/markdown/podman-image-scp.1.md
  docs/source/markdown/podman-image-tree.1.md
  docs/source/markdown/podman-image-trust.1.md.in
  docs/source/markdown/podman-image-unmount.1.md
Labels: lgtm, approved, release-note-none

#21707 [CI:DOCS] Fix up example description of podman-rm.1.md.in
  docs/source/markdown/podman-rm.1.md.in
Labels: lgtm, approved, release-note-none

#21717 [CI:DOCS] Fix up example description of podman-healthcheck-run.1.md
  docs/source/markdown/podman-healthcheck-run.1.md
Labels: lgtm, approved, release-note-none

#21702 [CI:DOCS] Fix up example description of podman-unshare.1.md
  docs/source/markdown/podman-unshare.1.md
Labels: lgtm, approved, release-note-none

#21659 Allow podman pull to specify --retry and --retry-delay
  cmd/podman/images/pull.go
  docs/source/markdown/options/retry-delay.md
  docs/source/markdown/options/retry.md
  docs/source/markdown/podman-pull.1.md.in
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/libpod/images_pull.go
  pkg/bindings/images/types.go
  pkg/bindings/images/types_pull_options.go
  pkg/domain/entities/images.go
  pkg/domain/infra/abi/images.go
  pkg/domain/infra/tunnel/images.go
  test/system/150-login.bats
  test/system/helpers.registry.bash
Labels: lgtm, approved, 5.0, release-note, kind/api-change

#21725 [CI:DOCS] Fix up example description of podman-farm commands
  docs/source/markdown/podman-farm-build.1.md.in
  docs/source/markdown/podman-farm-create.1.md
  docs/source/markdown/podman-farm-list.1.md
  docs/source/markdown/podman-farm-remove.1.md
  docs/source/markdown/podman-farm-update.1.md
Labels: lgtm, approved, release-note-none

#21638 Build tag out QEMU for Darwin
  pkg/machine/define/usb.go
  pkg/machine/qemu/command/command.go
  pkg/machine/qemu/command/command_test.go
  pkg/machine/qemu/command/helpers.go
  pkg/machine/qemu/command/qemu_command_test.go
  pkg/machine/qemu/config.go
  pkg/machine/qemu/config_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/qemu/machine_unsupported.go
  pkg/machine/qemu/machine_windows.go
  pkg/machine/qemu/options_freebsd.go
  pkg/machine/qemu/options_freebsd_amd64.go
  pkg/machine/qemu/options_freebsd_arm64.go
  pkg/machine/qemu/options_linux_amd64.go
  pkg/machine/qemu/options_linux_arm64.go
  pkg/machine/qemu/options_windows.go
  pkg/machine/qemu/options_windows_amd64.go
  pkg/machine/qemu/options_windows_arm64.go
  pkg/machine/qemu/stubber.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/machine.go
Labels: lgtm, approved, machine, release-note

#21743 [skip-ci] Packit: Update downstream task targets
  .packit.yaml
Labels: lgtm, approved, release-note-none

#21744 [v4.9] [skip-ci] Packit: remove koji and bodhi tasks for v4.9
  .packit.yaml
Labels: lgtm, approved, release-note-none

#21746 System tests: enable debugging for parallel-rm test
  test/system/040-ps.bats
  test/system/070-build.bats
Labels: lgtm, approved, release-note-none

#21712 [CI:DOCS] Fix up example description of podman-logout.1.md.in
  docs/source/markdown/podman-login.1.md.in
  docs/source/markdown/podman-logout.1.md.in
Labels: lgtm, approved, release-note-none

#21731 [CI:DOCS] Fix up example description of podman-pod commands
  docs/source/markdown/podman-pod-exists.1.md
  docs/source/markdown/podman-pod-inspect.1.md.in
  docs/source/markdown/podman-pod-kill.1.md.in
  docs/source/markdown/podman-pod-logs.1.md.in
  docs/source/markdown/podman-pod-pause.1.md
  docs/source/markdown/podman-pod-restart.1.md
  docs/source/markdown/podman-pod-rm.1.md.in
  docs/source/markdown/podman-pod-start.1.md.in
  docs/source/markdown/podman-pod-stats.1.md.in
  docs/source/markdown/podman-pod-unpause.1.md
Labels: lgtm, approved, release-note-none

#21711 [CI:DOCS] Fix up example description of podman-kill.1.md.in
  docs/source/markdown/podman-kill.1.md.in
Labels: lgtm, approved, release-note-none

#21714 [CI:DOCS] Fix up example description of podman-export/export commands
  docs/source/markdown/podman-export.1.md
  docs/source/markdown/podman-import.1.md
Labels: lgtm, approved, release-note-none

#21724 [CI:DOCS] Fix up example description of podman-cp.1.md
  docs/source/markdown/podman-cp.1.md
Labels: lgtm, approved, release-note-none

#21755 Codespell code
  pkg/machine/e2e/config_reset_test.go
  pkg/machine/wsl/fedora.go
  test/system/500-networking.bats
Labels: lgtm, approved, machine, release-note-none

#21587 [CI:DOCS] Remove disused Containerfile and docs
  contrib/podmanremoteimage/Containerfile
  contrib/podmanremoteimage/README.md
Labels: lgtm, approved, release-note-none

#21720 [CI:DOCS] Fix up example description of podman-diff.1.md.in
  docs/source/markdown/podman-diff.1.md.in
Labels: lgtm, approved, release-note-none

#21721 [CI:DOCS] Fix up example description of podman-events.1.md
  docs/source/markdown/podman-events.1.md
Labels: lgtm, approved, release-note-none

#21719 [CI:DOCS] Fix up example description of podman-create.1.md.in
  docs/source/markdown/podman-create.1.md.in
Labels: lgtm, approved, release-note-none

#21722 [CI:DOCS] Fix up example description of podman-build.1.md.in
  docs/source/markdown/podman-build.1.md.in
Labels: lgtm, approved, release-note-none

#21723 [CI:DOCS] Fix up example description of podman-commit.1.md
  docs/source/markdown/podman-commit.1.md
Labels: lgtm, approved, release-note-none

#21727 [CI:DOCS] Fix up example description of podman-container commands
  docs/source/markdown/podman-container-clone.1.md.in
  docs/source/markdown/podman-container-prune.1.md
Labels: lgtm, approved, release-note-none

#21718 [CI:DOCS] Fix up example description of podman-history.1.md
  docs/source/markdown/podman-history.1.md
Labels: lgtm, approved, release-note-none

#21709 [CI:DOCS] Fix up example description of podman-port.1.md.in
  docs/source/markdown/podman-port.1.md.in
Labels: lgtm, approved, release-note-none

#21705 [CI:DOCS] Fix up example description of podman-stats.1.md.in
  docs/source/markdown/podman-stats.1.md.in
Labels: lgtm, approved, release-note-none

#21708 [CI:DOCS] Fix up example description of podman-push.1.md.in
  docs/source/markdown/podman-push.1.md.in
Labels: lgtm, approved, release-note-none

#21713 [CI:DOCS] Fix up example description of podman-images.1.md.in
  docs/source/markdown/podman-images.1.md.in
Labels: lgtm, approved, release-note-none

#21710 [CI:DOCS] Fix up example description of podman-inspect.1.md.in
  docs/source/markdown/podman-inspect.1.md.in
Labels: lgtm, approved, release-note-none

#21726 [CI:DOCS] Fix up example description of podman-system commands
  docs/source/markdown/podman-system-connection-add.1.md
  docs/source/markdown/podman-system-connection-default.1.md
  docs/source/markdown/podman-system-connection-list.1.md
  docs/source/markdown/podman-system-connection-remove.1.md
  docs/source/markdown/podman-system-connection-rename.1.md
  docs/source/markdown/podman-system-connection.1.md
  docs/source/markdown/podman-system-df.1.md
Labels: lgtm, approved, release-note-none

#21487 Fix running container from docker client with rootful in rootless podman
  libpod/container_internal_common.go
Labels: lgtm, approved, release-note-none

#21764 systests: auto-update: minor cleanup
  test/system/255-auto-update.bats
Labels: lgtm, approved, release-note-none

#21759 cirrus logcollector: update package list
  contrib/cirrus/logcollector.sh
Labels: lgtm, approved, release-note-none

#21763 machine: add sparse file writer
  pkg/machine/compression/sparse_file_writer.go
  pkg/machine/compression/sparse_file_writer_test.go
Labels: lgtm, approved, machine, 5.0, release-note-none

#21762 Build with CNI support on FreeBSD
  Makefile
Labels: lgtm, approved, release-note-none

#21747 Fix Lint on Windows and enable the job
  cmd/podman-wslkerninst/main.go
  cmd/winpath/main.go
  contrib/cirrus/runner.sh
  hack/golangci-lint.sh
  pkg/bindings/containers/term_windows.go
  pkg/machine/e2e/config_test.go
  pkg/machine/e2e/init_windows_test.go
  pkg/machine/fedora_windows.go
  pkg/machine/gvproxy.go
  pkg/machine/gvproxy_unix.go
  pkg/machine/gvproxy_windows.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/hyperv/volumes.go
  pkg/machine/hyperv/vsock/vsock.go
  pkg/machine/machine_windows.go
  pkg/machine/shim/claim_unsupported.go
  pkg/machine/wsl/declares.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
  pkg/machine/wsl/usermodenet.go
  pkg/machine/wsl/util_windows.go
  pkg/specgen/winpath_windows.go
  pkg/systemd/notifyproxy/notifyproxy.go
  pkg/systemd/notifyproxy/notifyproxy_test.go
  pkg/terminal/console_windows.go
Labels: lgtm, approved, machine, 5.0, release-note-none

#21768 zstd now default compression for podman machine
  go.mod
  pkg/machine/compression/compression_test.go
  pkg/machine/compression/config.go
  pkg/machine/compression/decompress.go
  pkg/machine/define/image_format.go
  pkg/machine/define/image_format_test.go
  pkg/machine/ignition/ignition.go
  pkg/machine/ocipull/ociartifact.go
Labels: lgtm, approved, machine, 5.0, release-note-none

#21699 Comply to Kubernetes specifications for annotation size.
  cmd/podman/kube/generate.go
  cmd/podman/kube/play.go
  docs/source/markdown/podman-kube-generate.1.md
  docs/source/markdown/podman-kube-play.1.md.in
  libpod/define/annotations.go
  libpod/kube.go
  pkg/annotations/validate.go
  pkg/annotations/validate_test.go
  pkg/domain/infra/abi/generate.go
  pkg/domain/infra/abi/play.go
  test/e2e/generate_kube_test.go
  test/e2e/play_kube_test.go
  test/system/700-play.bats
Labels: lgtm, approved, release-note

#21735 machine: Add `ConnectionInfo` to inspect
  cmd/podman/machine/inspect.go
  docs/source/markdown/podman-machine-inspect.1.md
  pkg/machine/config.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/inspect_test.go
  pkg/machine/vmconfigs/machine.go
Labels: lgtm, approved, machine, 5.0, release-note

#21636 machine: Remove unnecessary TODOs
  cmd/podman/machine/inspect.go
  pkg/machine/applehv/machine.go
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, 5.0, release-note-none

#21780 Vendor vfkit v0.5.1 and gopsutil v3.24.1
  go.mod
  go.sum
  vendor/github.com/bytedance/sonic/README.md
  vendor/github.com/bytedance/sonic/internal/decoder/assembler_regabi_amd64.go
  vendor/github.com/bytedance/sonic/internal/decoder/assembler_stkabi_amd64.go
  vendor/github.com/bytedance/sonic/internal/decoder/compiler.go
  vendor/github.com/bytedance/sonic/internal/decoder/generic_regabi_amd64.go
  vendor/github.com/bytedance/sonic/internal/encoder/assembler_regabi_amd64.go
  vendor/github.com/bytedance/sonic/internal/jit/assembler_amd64.go
  vendor/github.com/bytedance/sonic/internal/rt/int48.go
  vendor/github.com/chenzhuoyu/iasm/x86_64/operands.go
  vendor/github.com/chenzhuoyu/iasm/x86_64/pools.go
  vendor/github.com/chenzhuoyu/iasm/x86_64/program.go
  vendor/github.com/crc-org/vfkit/pkg/config/bootloader.go
  vendor/github.com/crc-org/vfkit/pkg/config/config.go
  vendor/github.com/crc-org/vfkit/pkg/config/virtio.go
  vendor/github.com/gabriel-vasile/mimetype/README.md
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/binary.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/magic.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text_csv.go
  vendor/github.com/gabriel-vasile/mimetype/mimetype.go
  vendor/github.com/gabriel-vasile/mimetype/supported_mimes.md
  vendor/github.com/go-playground/validator/v10/README.md
  vendor/github.com/go-playground/validator/v10/baked_in.go
  vendor/github.com/go-playground/validator/v10/cache.go
  vendor/github.com/go-playground/validator/v10/doc.go
  vendor/github.com/go-playground/validator/v10/errors.go
  vendor/github.com/go-playground/validator/v10/regexes.go
  vendor/github.com/go-playground/validator/v10/util.go
  vendor/github.com/go-playground/validator/v10/validator.go
  vendor/github.com/go-playground/validator/v10/validator_instance.go
  vendor/github.com/mattn/go-isatty/isatty_bsd.go
  vendor/github.com/mattn/go-isatty/isatty_others.go
  vendor/github.com/mattn/go-isatty/isatty_tcgets.go
  vendor/github.com/shirou/gopsutil/v3/internal/common/common.go
  vendor/github.com/shirou/gopsutil/v3/internal/common/common_linux.go
  vendor/github.com/shirou/gopsutil/v3/process/process.go
  vendor/github.com/shirou/gopsutil/v3/process/process_linux.go
  vendor/github.com/shirou/gopsutil/v3/process/process_windows.go
  vendor/github.com/ugorji/go/codec/cbor.go
  vendor/github.com/ugorji/go/codec/decode.go
  vendor/github.com/ugorji/go/codec/encode.go
  vendor/github.com/ugorji/go/codec/gen.go
  vendor/github.com/ugorji/go/codec/helper.go
  vendor/github.com/ugorji/go/codec/json.go
  vendor/github.com/ugorji/go/codec/msgpack.go
  vendor/github.com/ugorji/go/codec/reader.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#21652 machine: implement http proxy logic for all providers
  pkg/machine/e2e/proxy_test.go
  pkg/machine/ignition/ignition.go
  pkg/machine/proxyenv/env.go
  pkg/machine/qemu/command/command.go
  pkg/machine/qemu/command/command_test.go
  pkg/machine/qemu/command/helpers.go
  pkg/machine/qemu/stubber.go
  pkg/machine/shim/host.go
  pkg/machine/ssh.go
  pkg/machine/ssh_unix.go
  pkg/machine/ssh_windows.go
  pkg/machine/wsl/declares.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
Labels: lgtm, approved, machine, 5.0, release-note

#21786 pkg/machine: ignore gvproxy pidfile not exists error
  pkg/machine/gvproxy.go
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, release-note-none

#21784 make podman events json output more docker compatible
  cmd/podman/system/events.go
  docs/source/markdown/podman-events.1.md
  libpod/events.go
  libpod/events/config.go
  test/apiv2/27-containersEvents.at
  test/e2e/events_test.go
  test/system/090-events.bats
Labels: lgtm, approved, breaking-change, 5.0, release-note

#21792 Bump VMs. New pasta, gvisor
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#21639 Rearrange CI tasks for safety + efficiency
  .cirrus.yml
  contrib/cirrus/cirrus_yaml_test.py
Labels: lgtm, approved, release-note-none

#21517 machine: Address some QEMU TODOs
  cmd/podman/machine/inspect.go
  cmd/podman/machine/rm.go
  docs/source/markdown/podman-machine-inspect.1.md
  pkg/machine/config.go
  pkg/machine/e2e/init_test.go
  pkg/machine/e2e/rm_test.go
  pkg/machine/qemu/machine.go
  pkg/machine/vmconfigs/machine.go
Labels: lgtm, approved, machine, 5.0, release-note

#21793 Adjust some tests to work with Zstd in containers.conf
  test/e2e/manifest_test.go
  test/e2e/push_test.go
  test/system/012-manifest.bats
Labels: lgtm, approved, release-note-none

#21804 Fix race conditions in hyperv backend
  pkg/machine/hyperv/stubber.go
  pkg/machine/hyperv/vsock/vsock.go
  pkg/machine/ignition/ready.go
Labels: lgtm, approved, machine, 5.0, release-note-none

#21805 [CI:DOCS] Adds example for secret creation from environment variable
  docs/source/markdown/podman-secret-create.1.md
Labels: lgtm, approved, release-note-none

#21797 Reformulate sparseWriter
  pkg/machine/compression/sparse_file_writer.go
  pkg/machine/compression/sparse_file_writer_test.go
Labels: lgtm, approved, machine, release-note-none

#21789 Ignore docker's end point config when the final network mode isn't bridge
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note-none, kind/api-change

#21823 systests: enable ipv6 tests
  test/system/500-networking.bats
Labels: lgtm, approved, release-note-none

#21824 Fix nightly cron checks
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#21753 Enable lint for Darwin and fix identified issues
  .cirrus.yml
  cmd/podman-mac-helper/install.go
  cmd/podman-mac-helper/main.go
  cmd/podman-mac-helper/uninstall.go
  pkg/machine/applehv/machine.go
  pkg/machine/applehv/stubber.go
  pkg/machine/applehv/vfkit.go
  pkg/machine/applehv/vfkit/config.go
Labels: lgtm, approved, machine, 5.0, release-note-none

#21594 Change QEMU netdev to Unix domain socket
  pkg/machine/qemu/command/command.go
  pkg/machine/qemu/command/qemu_command_test.go
  pkg/machine/qemu/stubber.go
Labels: lgtm, approved, machine, release-note

#21826 Fix podman stop -t -1 CID
  pkg/util/utils.go
  pkg/util/utils_test.go
  test/system/030-run.bats
Labels: lgtm, approved, 5.0, release-note-none

#21834 CI: e2e: use distinct ports, not just 5000
  test/e2e/common_test.go
  test/e2e/generate_kube_test.go
  test/e2e/manifest_test.go
  test/e2e/port_test.go
  test/e2e/pull_test.go
  test/e2e/push_test.go
  test/e2e/run_test.go
  test/e2e/save_test.go
  test/e2e/testdata/sigstore-registries.d-fragment.yaml
Labels: lgtm, approved, release-note-none

#21838 vendor update gopkg.in/yaml.v2 to v3
  cmd/podman/machine/info.go
  go.mod
Labels: lgtm, approved, release-note-none

#21765 pkg/machine: add custom policy.json logic
  Makefile
  contrib/pkginstaller/Makefile
  contrib/pkginstaller/package.sh
  pkg/machine/ocipull/policy.go
  pkg/machine/ocipull/policy.json
  pkg/machine/ocipull/policy_unix.go
  pkg/machine/ocipull/policy_windows.go
  pkg/machine/ocipull/pull.go
Labels: lgtm, approved, machine, 5.0, release-note

#21843 Add missing vfkit entitlement
  contrib/pkginstaller/Makefile
  contrib/pkginstaller/package.sh
  contrib/pkginstaller/vfkit.entitlements
Labels: lgtm, approved, release-note

#21841 new vms, with rc6 rawhide kernel
  .cirrus.yml
  contrib/win-installer/build.ps1
Labels: lgtm, approved, release-note-none

#21846 systests: kube play URL: workaround for ECONNREFUSED
  test/system/700-play.bats
Labels: lgtm, approved, release-note-none

#21674 [CI:BUILD] Expose as-tested Mac/Windows repository state
  .cirrus.yml
  DOWNLOADS.md
Labels: lgtm, approved, release-note-none

#21572 Ensure HyperV 9p mounts work when a dir doesn't exist
  cmd/podman/machine/client9p.go
  pkg/machine/e2e/basic_test.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/hyperv/volumes.go
Labels: lgtm, approved, machine, 5.0, release-note

#21857 machine config: make write atomic
  pkg/machine/vmconfigs/machine.go
Labels: lgtm, approved, machine, release-note

#21848 Clean up gvproxy if machine start fails
  pkg/machine/cleanup.go
  pkg/machine/hyperv/stubber.go
  pkg/machine/shim/host.go
  pkg/machine/wsl/stubber.go
Labels: lgtm, approved, machine, release-note-none
