Repository containers/podman, pull requests merged in 2025-04, with the labels that each got.

#25756 Update vendored c/buildah to `32d78c69be17`
  go.mod
  go.sum
  test/buildah-bud/apply-podman-deltas
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/chroot/run_linux.go
  vendor/github.com/containers/buildah/commit.go
  vendor/github.com/containers/buildah/common.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#25766 Bump to v5.4.2
  RELEASE_NOTES.md
  libpod/container_copy_common.go
  libpod/container_internal_common.go
  test/e2e/cp_test.go
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#25767 Update links and markup in man pages
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman.1.md
Labels: lgtm, approved, release-note-none

#25768 Update roadmap for 2Q 2025
  ROADMAP.md
Labels: lgtm, approved, release-note-none

#25398 Add initial draft of Podman project Governance
  GOVERNANCE.md
  MAINTAINERS.md
  OWNERS
  REVIEWING.md
Labels: lgtm, approved, release-note-none, No New Tests

#25764 chore: fix function name in comment
  test/e2e/play_kube_test.go
  test/utils/utils.go
Labels: lgtm, approved, release-note

#25757 Add autocomment for `needs-info` label
  .github/workflows/needs-info-labeler.yaml
Labels: lgtm, approved, release-note-none

#25771 Assorted minor fixes to hack/install_golangci.sh
  hack/install_golangci.sh
Labels: lgtm, approved, release-note-none

#25775 Set the IDMappings also when RootfsOverlay is used.
  libpod/container_internal.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note-none

#25772 cirrus: save/restore golangci-lint cache for linux
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#25676 Fix overwriting the Healthcheck configuration from the image
  cmd/podman/common/create.go
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  docs/source/markdown/options/health-cmd.md
  docs/source/markdown/options/health-interval.md
  docs/source/markdown/options/health-retries.md
  docs/source/markdown/options/health-start-period.md
  docs/source/markdown/options/health-timeout.md
  pkg/specgen/generate/container.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved, release-note

#25743 Add freebsd golangci lint run; fix remaining freebsd warnings
  .cirrus.yml
  cmd/podman-testing/store_supported.go
  hack/golangci-lint.sh
  libpod/container_inspect.go
  libpod/container_inspect_linux.go
  libpod/container_internal_freebsd.go
  libpod/info.go
  libpod/networking_freebsd.go
  libpod/oci_conmon_linux.go
  libpod/oci_util.go
  libpod/stats_freebsd.go
  libpod/util_freebsd.go
  pkg/emulation/elf.go
  pkg/machine/e2e/config_freebsd_test.go
  pkg/rootless/rootless_freebsd.go
  pkg/specgen/generate/config_freebsd.go
  pkg/specgen/generate/namespaces_freebsd.go
  pkg/specgen/generate/oci_freebsd.go
  test/checkseccomp/checkseccomp_linux.go
Labels: lgtm, approved, machine, release-note-none, kind/api-change

#25769 docs: update pasta options description
  docs/source/markdown/options/network.md
Labels: lgtm, approved, release-note-none

#25742 Add documentation describing how to triage issues
  CONTRIBUTING.md
  TRIAGE.md
Labels: lgtm, approved

#25773 Makefile: exclude seccomp build tag for !linux
  Makefile
Labels: lgtm, approved, release-note-none

#25781 Use golangci-lint fmt for pkg/bindings
  .golangci.yml
  Makefile
  contrib/cirrus/postbuild.sh
  pkg/bindings/generator/generator.go
  test/tools/Makefile
  test/tools/go.mod
  test/tools/tools.go
  test/tools/vendor/golang.org/x/tools/cmd/goimports/doc.go
  test/tools/vendor/golang.org/x/tools/cmd/goimports/goimports.go
  test/tools/vendor/golang.org/x/tools/cmd/goimports/goimports_gc.go
  test/tools/vendor/golang.org/x/tools/cmd/goimports/goimports_not_gc.go
  test/tools/vendor/golang.org/x/tools/cmd/goimports/gotypesalias.go
  test/tools/vendor/modules.txt
Labels: lgtm, approved, release-note-none

#25819 test/system: do not check dns.podman
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#25793 fix network DB desync after failed connect/disconnect
  libpod/networking_common.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#25820 Maintainers.md: fix two github nicks
  MAINTAINERS.md
Labels: lgtm, approved, release-note-none

#25815 libpod: --user works with --hostuser entries
  libpod/container_internal_common.go
  libpod/container_internal_linux_test.go
  test/e2e/run_passwd_test.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note

#25828 Make Go not panic on a partial update
  pkg/bindings/containers/update.go
  pkg/bindings/test/containers_test.go
Labels: lgtm, approved, release-note-none, No New Tests

#25836 [v5.4-rhel] Remove persist directory when cleaning up Conmon files
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_conmon_common.go
  libpod/oci_missing.go
Labels: lgtm, approved, release-note-none, No New Tests

#25831 update hack/bats to not PASS NOP env and update test README with more system test info
  hack/bats
  test/README.md
Labels: lgtm, approved, release-note-none

#25835 MAINTAINERS.md: sort by role and add nalind to OWNERS
  .github/labeler.yml
  MAINTAINERS.md
  OWNERS
Labels: lgtm, approved, release-note-none, No New Tests, governance

#25823 cmd: Fix help text. --config specifies a dir not a regular file
  cmd/podman/root.go
  pkg/domain/entities/engine.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note

#25755 Remove unused code and data structures
  pkg/domain/entities/pods.go
  pkg/specgen/podspecgen.go
Labels: lgtm, approved, release-note-none, No New Tests

#25839 chore: make function comment match function name
  cmd/podman/common/create_opts.go
  cmd/podman/containers/ps.go
  cmd/podman/parse/net.go
  libpod/container_internal.go
Labels: lgtm, approved, release-note, No New Tests

#25841 Correct units in init error message
  cmd/podman/machine/init.go
  pkg/machine/e2e/init_test.go
Labels: lgtm, approved, machine, release-note

#25842 Quadlet - Add support for adding ExecReload command
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/reloadboth.container
  test/e2e/quadlet/reloadcmd.container
  test/e2e/quadlet/reloadsignal.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#25701 Fix windows path handling in `podman cp`
  cmd/podman/containers/cp.go
  pkg/copy/fileinfo.go
  pkg/copy/parse.go
  pkg/machine/e2e/basic_test.go
  pkg/machine/e2e/cp_test.go
Labels: lgtm, approved, machine, release-note-none

#25837 Update pre-commit-hooks and Codespell hook
  .codespellrc
  .github/workflows/issue_pr_lock.yml
  .pre-commit-config.yaml
Labels: lgtm, approved, release-note-none, No New Tests

#25856 Some minor flake cleanup/debugging/skips
  hack/podman_cleanup_tracer.bt
  test/e2e/checkpoint_test.go
  test/system/220-healthcheck.bats
  test/system/520-checkpoint.bats
  test/system/600-completion.bats
Labels: lgtm, approved, release-note-none

#25840 vendor: update to latest c/common
  go.mod
  go.sum
  libpod/stats_linux.go
  vendor/github.com/containernetworking/cni/libcni/api.go
  vendor/github.com/containernetworking/cni/libcni/conf.go
  vendor/github.com/containernetworking/cni/pkg/types/types.go
  vendor/github.com/containernetworking/cni/pkg/version/version.go
  vendor/github.com/containers/common/libimage/history.go
  vendor/github.com/containers/common/libimage/image.go
  vendor/github.com/containers/common/libimage/image_tree.go
  vendor/github.com/containers/common/libimage/layer_tree.go
  vendor/github.com/containers/common/libimage/manifests/manifests.go
  vendor/github.com/containers/common/libimage/runtime.go
  vendor/github.com/containers/common/pkg/cgroups/cgroups_linux.go
  vendor/github.com/containers/common/pkg/seccomp/default_linux.go
  vendor/github.com/containers/common/pkg/seccomp/seccomp.json
  vendor/github.com/fsnotify/fsnotify/.cirrus.yml
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/CONTRIBUTING.md
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/backend_fen.go
  vendor/github.com/fsnotify/fsnotify/backend_inotify.go
  vendor/github.com/fsnotify/fsnotify/backend_kqueue.go
  vendor/github.com/fsnotify/fsnotify/backend_other.go
  vendor/github.com/fsnotify/fsnotify/backend_windows.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/internal/darwin.go
  vendor/github.com/fsnotify/fsnotify/internal/freebsd.go
  vendor/github.com/fsnotify/fsnotify/internal/unix.go
  vendor/github.com/fsnotify/fsnotify/internal/windows.go
  vendor/github.com/fsnotify/fsnotify/shared.go
  vendor/github.com/fsnotify/fsnotify/staticcheck.conf
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25844 Quadlet - allow deleting the network when stopping the service
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/delete.network
  test/e2e/quadlet_test.go
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#25872 Two small updates to the Governance model
  GOVERNANCE.md
Labels: lgtm, approved, release-note-none, governance

#25874 update golangci-lint to v2.1.1
  Makefile
  pkg/api/handlers/compat/events.go
  pkg/api/handlers/libpod/pods.go
  pkg/bindings/manifests/manifests.go
Labels: lgtm, approved, release-note-none, kind/api-change, No New Tests

#25879 Fix the fd leaking to aardvark-dns.
  libpod/container_internal_linux.go
Labels: lgtm, approved, release-note-none, No New Tests

#25876 ci: fix two issues, remove unused exceptions
  .golangci.yml
  cmd/podman/pods/create.go
  pkg/bindings/containers/term_windows.go
Labels: lgtm, approved, release-note-none, No New Tests

#25887 docs: Expand description of no-new-privileges
  docs/source/markdown/options/security-opt.md
Labels: lgtm, approved, release-note-none

#25898 CI: Fix directive `//nolint:revive` is unused for linter "revive" on ARM
  test/e2e/config_arm64.go
Labels: lgtm, approved, release-note-none, No New Tests

#25899 Quadlet - translate dependencies on other quadlet units
  cmd/quadlet/main.go
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/dependent.build
  test/e2e/quadlet/dependent.container
  test/e2e/quadlet/dependent.error.container
  test/e2e/quadlet/dependent.image
  test/e2e/quadlet/dependent.kube
  test/e2e/quadlet/dependent.network
  test/e2e/quadlet/dependent.pod
  test/e2e/quadlet/dependent.volume
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#25901 Update podman-systemd.unit.5.md
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#25789 Replace podman pause image with rootfs.
  libpod/container.go
  libpod/container_config.go
  libpod/container_internal_common.go
  libpod/container_validate.go
  libpod/kube.go
  libpod/options.go
  libpod/runtime_ctr.go
  pkg/domain/infra/abi/play.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/pause_image.go
  pkg/specgen/generate/pod_create.go
  test/system/010-images.bats
  test/system/020-tag.bats
  test/system/040-ps.bats
  test/system/255-auto-update.bats
  test/system/700-play.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note-none

#25914 Quadlet - support additional systemd unit relationship keys
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/dependent.container
Labels: lgtm, approved, release-note-none

#25918 test: Fix expected output for runc on namespaces
  test/system/195-run-namespaces.bats
Labels: lgtm, approved, release-note-none

#25908 Fix: Compat API in rootless mode ignores ulimits
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note, kind/api-change

#25875 [CI:DOCS] Add link to MAINTAINERS.md file in GOVERNANCE.md
  GOVERNANCE.md
Labels: lgtm, approved, governance

#25858 test/system: add prefetch users to use cache image
  test/system/161-volume-quotas.bats
  test/system/520-checkpoint.bats
Labels: lgtm, approved, release-note-none

#25917 feat: update vfkit binary to v0.6.1 in macOS installer
  contrib/pkginstaller/Makefile
Labels: lgtm, approved, release-note

#25940 [CI DOCS] Touchup buildah-bud README.md
  test/buildah-bud/README.md
Labels: lgtm, approved, release-note-none

#25892 Add HostName to quadlet pod
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/hostname.pod
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#25688 Use gvisor-tap-vsock version from go.mod file
  Makefile
  contrib/pkginstaller/Makefile
  winmake.ps1
Labels: lgtm, approved, release-note-none, No New Tests

#25893 New images f42
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#25909 Add ability to set layer media type for artifacts
  cmd/podman/artifact/add.go
  docs/source/markdown/podman-artifact-add.1.md.in
  pkg/domain/entities/artifact.go
  pkg/domain/infra/abi/artifact.go
  pkg/libartifact/store/store.go
  pkg/libartifact/types/config.go
  test/e2e/artifact_test.go
Labels: lgtm, approved, release-note

#25949 chore: use another script to get the version of gvproxy + fix download link
  Makefile
  contrib/pkginstaller/Makefile
Labels: lgtm, approved, release-note-none

#25939 Bump to Buildah v1.40.0
  cmd/podman/common/build.go
  docs/source/markdown/options/inherit-labels.md
  docs/source/markdown/podman-build.1.md.in
  docs/source/markdown/podman-farm-build.1.md.in
  go.mod
  go.sum
  pkg/api/handlers/compat/images_build.go
  pkg/api/server/register_images.go
  pkg/bindings/images/build.go
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.golangci.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/GOVERNANCE.md
  vendor/github.com/containers/buildah/MAINTAINERS
  vendor/github.com/containers/buildah/MAINTAINERS.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/OWNERS
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/run_linux.go
  vendor/github.com/containers/buildah/chroot/seccomp.go
  vendor/github.com/containers/buildah/chroot/seccomp_unsupported.go
  vendor/github.com/containers/buildah/config.go
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/copier/syscall_unix.go
  vendor/github.com/containers/buildah/copier/syscall_windows.go
  vendor/github.com/containers/buildah/define/build.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/docker/types.go
  vendor/github.com/containers/buildah/imagebuildah/build.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/import.go
  vendor/github.com/containers/buildah/info.go
  vendor/github.com/containers/buildah/internal/config/convert.go
  vendor/github.com/containers/buildah/internal/config/override.go
  vendor/github.com/containers/buildah/internal/mkcw/types/attest.go
  vendor/github.com/containers/buildah/internal/mkcw/types/workload.go
  vendor/github.com/containers/buildah/internal/mkcw/workload.go
  vendor/github.com/containers/buildah/internal/sbom/presets.go
  vendor/github.com/containers/buildah/new.go
  vendor/github.com/containers/buildah/pkg/cli/build.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/jail/jail.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/pkg/rusage/rusage_unix.go
  vendor/github.com/containers/buildah/pkg/sshagent/sshagent.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/github.com/containers/buildah/scan.go
  vendor/github.com/containers/buildah/util/util.go
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/directives.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/line_parsers.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/parser.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/parser/split_command.go
  vendor/golang.org/x/tools/go/ast/inspector/inspector.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, kind/api-change, No New Tests

#25955 hack/bats: Allow specifying PODMAN_ROOTLESS_USER
  hack/bats
Labels: lgtm, approved, release-note-none

#25956 hack/bats: Fix to allow multiple tests
  hack/bats
Labels: lgtm, approved, release-note-none

#25960 hack/bats: Pass --tap (-t) option to bats
  hack/bats
Labels: lgtm, approved, release-note-none

#25964 Add Label to quadlet pod
  cmd/quadlet/main.go
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/label.pod
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#25970 Bump to v5.5.0-RC1
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#25966 remote: don't print bogus error when starting container attached
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/system/045-start.bats
Labels: lgtm, approved, release-note, 5.5

#25972 [v5.5] Bump to v5.5.0-dev
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#25942 Remove using `rw` as a default mount option
  pkg/util/mount_opts.go
  pkg/util/utils_test.go
  test/e2e/play_kube_test.go
  test/python/docker/compat/test_containers.py
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note-none

#25982 Add Mohan Boddu as community manager
  MAINTAINERS.md
Labels: lgtm, approved, release-note-none, governance

#25991 Disable FS mount in volume only test
  pkg/machine/e2e/basic_test.go
Labels: lgtm, approved, machine, release-note-none

#25975 Quadlet - use helper function for handling key=val type keys
  pkg/systemd/quadlet/podmancmdline.go
  pkg/systemd/quadlet/quadlet.go
Labels: lgtm, approved, release-note-none, No New Tests

#25983 Fix: inheritlabels=true if query param absent
  pkg/api/handlers/compat/images_build.go
  pkg/api/handlers/decoder.go
  test/apiv2/90-build.at
Labels: lgtm, approved, release-note-none, kind/api-change

#26001 Quadlet - use helper function to initialize service struct
  pkg/systemd/quadlet/quadlet.go
Labels: lgtm, approved, release-note-none, No New Tests

#26002 OWNERS: Fix GitHub handle
  OWNERS
Labels: lgtm, approved, release-note-none, No New Tests, governance

#25986 Fix handling of "r_limits" in Podman REST API /libpod/containers/create
  pkg/api/handlers/libpod/containers_create.go
  test/apiv2/20-containers.at
  test/system/030-run.bats
Labels: lgtm, approved, release-note, kind/api-change

#26009 Update "check.c" to be C23 compliant
  contrib/win-installer/podman-msihooks/check.c
Labels: lgtm, approved, release-note-none

#26010 pkg/bindings: fix infinite loop/memory leak in image pull
  pkg/bindings/images/pull.go
  pkg/bindings/images/push.go
Labels: lgtm, approved, release-note, No New Tests, 5.5

#26011 bump main to 5.6-dev
  version/rawversion/version.go
  version/version.go
Labels: lgtm, approved, release-note-none

#25832 Handle machine start state when sent a signal
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, release-note, No New Tests

#26014 Fix mach os pr release action
  .github/workflows/machine-os-pr.yml
Labels: lgtm, approved, release-note-none

#26015 Makefile: move some Go-related variable definitions up
  Makefile
Labels: lgtm, approved, release-note-none

#26025 Stop setting btrfs_noversion build tag
  Makefile
  hack/btrfs_tag.sh
  pkg/machine/e2e/README.md
  rpm/podman.spec
  winmake.ps1
Labels: lgtm, approved, machine, release-note-none, No New Tests

#26000 Build documentation in a container on Win arm64
  build_windows.md
  docs/Containerfile
  winmake.ps1
Labels: lgtm, approved, release-note-none

#26007 Quadlet - remove the usage of cid and podid for container and pod files
  cmd/quadlet/main.go
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basepodman.container
  test/e2e/quadlet/basic.container
  test/e2e/quadlet/basic.pod
  test/e2e/quadlet/reloadcmd.container
  test/e2e/quadlet/reloadsignal.container
Labels: lgtm, approved, release-note

#26026 Do not error on tz detection
  pkg/machine/ignition/ignition.go
  pkg/machine/ignition/ignition_linux.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#26022 test: use block devices for I/O limit tests
  contrib/cirrus/setup_environment.sh
  libpod/container_inspect.go
  libpod/container_inspect_linux.go
  pkg/util/utils_linux.go
  pkg/util/utils_unsupported.go
  test/apiv2/20-containers.at
  test/e2e/common_test.go
  test/e2e/run_test.go
  test/e2e/update_test.go
  test/system/030-run.bats
  test/system/280-update.bats
Labels: lgtm, approved, release-note-none, 5.5

#26030 Update release notes for v5.5.0-rc2
  .github/workflows/machine-os-pr.yml
  RELEASE_NOTES.md
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, release-note-none, No New Tests
