Repository containers/podman, pull requests merged in 2025-01, with the labels that each got.

#24899 Add support to ShmSize in Pods with Quadlet
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/shmsize.pod
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#24935 Fix slirp4netns typo in podman-network.1.md
  docs/source/markdown/podman-network.1.md
Labels: lgtm, approved, release-note-none

#24675 Pass container hostname to netavark
  libpod/container.go
  libpod/networking_common.go
  test/e2e/containers_conf_test.go
Labels: lgtm, approved, stale-pr, release-note

#24868 Kube volumes can not contain _
  libpod/kube.go
  test/system/710-kube.bats
Labels: lgtm, approved, release-note-none

#24908 Add hint to restart Podman machine to really accept new certificates
  docs/tutorials/podman-install-certificate-authority.md
Labels: lgtm, approved, release-note-none

#24957 update golangci/golangci-lint to v1.63.4
  Makefile
  cmd/quadlet/main_test.go
  libpod/events/logfile_test.go
  libpod/runtime.go
  pkg/api/handlers/compat/networks.go
  pkg/api/handlers/libpod/manifests.go
  pkg/auth/auth_test.go
  pkg/ctime/ctime_test.go
  pkg/env/env.go
  pkg/machine/compression/copy_test.go
Labels: lgtm, approved, machine, release-note-none, kind/api-change

#24936 Fixing ~/.ssh/identity handling
  pkg/bindings/connection.go
Labels: lgtm, approved, release-note, No New Tests

#24926 Document .build for Image .container option
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note

#24815 Quadlet - make sure the /etc/containers/systemd/users is traversed in rootless
  cmd/quadlet/main.go
  cmd/quadlet/main_test.go
Labels: lgtm, approved, release-note-none

#24960 specgenutil: Fix parsing of mount option ptmxmode
  pkg/specgenutil/volumes.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note

#24965 docs: Update description for completion
  cmd/podman/completion/completion.go
Labels: lgtm, approved, release-note-none, No New Tests

#24655 Mount volumes before copying into a container
  libpod/container_copy_common.go
  libpod/container_copy_freebsd.go
  libpod/container_copy_linux.go
  libpod/container_internal_common.go
  libpod/container_path_resolution.go
  libpod/container_stat_common.go
  libpod/shutdown/handler.go
  test/e2e/cp_test.go
Labels: lgtm, approved, release-note

#24882 namespaces: allow configuring keep-id userns size
  docs/source/markdown/options/userns.container.md
  pkg/namespaces/namespaces.go
  pkg/specgen/namespaces.go
  pkg/util/utils.go
  pkg/util/utils_test.go
  test/e2e/run_userns_test.go
Labels: lgtm, approved, release-note

#24978 Add newer c/i to support artifacts
  go.mod
  go.sum
  vendor/github.com/containerd/typeurl/v2/README.md
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/github.com/containerd/typeurl/v2/types_gogo.go
  vendor/github.com/containers/image/v5/copy/single.go
  vendor/github.com/containers/image/v5/directory/directory_dest.go
  vendor/github.com/containers/image/v5/docker/daemon/client.go
  vendor/github.com/containers/image/v5/docker/distribution_error.go
  vendor/github.com/containers/image/v5/docker/docker_image_dest.go
  vendor/github.com/containers/image/v5/docker/docker_image_src.go
  vendor/github.com/containers/image/v5/docker/internal/tarfile/dest.go
  vendor/github.com/containers/image/v5/internal/imagedestination/stubs/original_oci_config.go
  vendor/github.com/containers/image/v5/internal/imagedestination/wrapper.go
  vendor/github.com/containers/image/v5/internal/manifest/docker_schema2_list.go
  vendor/github.com/containers/image/v5/internal/private/private.go
  vendor/github.com/containers/image/v5/internal/reflink/reflink_linux.go
  vendor/github.com/containers/image/v5/internal/reflink/reflink_unsupported.go
  vendor/github.com/containers/image/v5/oci/archive/oci_dest.go
  vendor/github.com/containers/image/v5/oci/internal/oci_util.go
  vendor/github.com/containers/image/v5/oci/layout/oci_dest.go
  vendor/github.com/containers/image/v5/oci/layout/oci_transport.go
  vendor/github.com/containers/image/v5/oci/layout/reader.go
  vendor/github.com/containers/image/v5/openshift/openshift_dest.go
  vendor/github.com/containers/image/v5/pkg/blobcache/dest.go
  vendor/github.com/containers/image/v5/signature/fulcio_cert_stub.go
  vendor/github.com/containers/image/v5/signature/internal/errors.go
  vendor/github.com/containers/image/v5/signature/internal/rekor_set.go
  vendor/github.com/containers/image/v5/signature/internal/rekor_set_stub.go
  vendor/github.com/containers/image/v5/storage/storage_dest.go
  vendor/github.com/containers/image/v5/storage/storage_reference.go
  vendor/github.com/containers/image/v5/storage/storage_src.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/docker/distribution/registry/client/auth/challenge/addr.go
  vendor/github.com/docker/distribution/registry/client/auth/challenge/authchallenge.go
  vendor/github.com/proglottis/gpgme/.gitignore
  vendor/github.com/proglottis/gpgme/callbacks.go
  vendor/github.com/proglottis/gpgme/data.go
  vendor/github.com/proglottis/gpgme/go_gpgme.c
  vendor/github.com/proglottis/gpgme/go_gpgme.h
  vendor/github.com/proglottis/gpgme/gpgme.go
  vendor/github.com/proglottis/gpgme/unset_agent_info.go
  vendor/github.com/sigstore/sigstore/pkg/oauthflow/interactive.go
  vendor/github.com/sylabs/sif/v2/pkg/sif/create.go
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#24977 RFC: Introduce PodmanTestIntegration.PodmanCleanly
  test/e2e/attach_test.go
  test/e2e/common_test.go
  test/utils/matchers.go
Labels: lgtm, approved, release-note-none

#24987 add support to ; for comments in unit files as per systemd documentation
  pkg/systemd/parser/unitfile.go
  pkg/systemd/parser/unitfile_test.go
  test/e2e/quadlet/comment-with-continuation.container
Labels: lgtm, approved, release-note-action-required

#25010 Add kube play support for CDI resource allocation
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/kube/play_test.go
Labels: lgtm, approved, release-note

#25011 Fix unescaping octal escape sequence in values of Quadlet unit files
  pkg/systemd/parser/split.go
  pkg/systemd/parser/split_test.go
  test/e2e/quadlet/escapes.container
Labels: lgtm, approved, release-note

#25024 docs: Add quadlet debug method systemd-analyze
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#24966 Remove `.exe` suffix if any in completion
  cmd/podman/root.go
  pkg/machine/e2e/config_help_test.go
  pkg/machine/e2e/help_test.go
Labels: lgtm, approved, machine, release-note

#25019 docs: add 'initialized' state to status filters
  docs/source/markdown/podman-pause.1.md.in
  docs/source/markdown/podman-ps.1.md
  docs/source/markdown/podman-restart.1.md.in
  docs/source/markdown/podman-rm.1.md.in
  docs/source/markdown/podman-start.1.md.in
  docs/source/markdown/podman-stop.1.md.in
  docs/source/markdown/podman-unpause.1.md.in
Labels: lgtm, approved, release-note-none

#25008 Add --no-hostname option
  cmd/podman/common/netflags.go
  cmd/podman/kube/play.go
  docs/source/markdown/options/no-hostname.md
  docs/source/markdown/podman-container-inspect.1.md.in
  docs/source/markdown/podman-create.1.md.in
  docs/source/markdown/podman-kube-play.1.md.in
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-run.1.md.in
  libpod/container_config.go
  libpod/container_inspect.go
  libpod/container_internal_common.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
  libpod/define/container_inspect.go
  libpod/define/pod_inspect.go
  libpod/options.go
  libpod/pod_api.go
  pkg/api/handlers/libpod/kube.go
  pkg/bindings/kube/types.go
  pkg/bindings/kube/types_play_options.go
  pkg/domain/entities/play.go
  pkg/domain/entities/pods.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/tunnel/kube.go
  pkg/specgen/generate/container.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgen/generate/namespaces.go
  pkg/specgen/generate/pod_create.go
  pkg/specgen/podspecgen.go
  pkg/specgen/specgen.go
  pkg/specgenutil/specgen.go
  test/e2e/play_kube_test.go
  test/e2e/pod_create_test.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note, kind/api-change

#24591 [5.2-rhel] libpod: fix volume copyup with idmap | convert owner IDs only with :idmap
  contrib/cirrus/setup_environment.sh
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/runtime_ctr.go
  test/e2e/pod_create_test.go
  test/e2e/run_userns_test.go
  test/system/030-run.bats
Labels: lgtm, approved

#25030 [v5.3] Bump c/storage v1.56.1, c/image v5.33.1, c/common v0.61.1
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/pasta/pasta_linux.go
  vendor/github.com/containers/common/pkg/ssh/connection_golang.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/layers.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests, 5.3

#24974 Switch all calls of assert.Nil to assert.NoError
  cmd/podman/common/create_test.go
  cmd/quadlet/main_test.go
  libpod/container_internal_test.go
  pkg/domain/utils/utils_test.go
  pkg/machine/config_test.go
  pkg/machine/provider/platform_test.go
  pkg/specgen/generate/kube/play_test.go
  pkg/specgenutil/specgenutil_test.go
  pkg/util/utils_test.go
Labels: lgtm, approved, machine, release-note-none

#24950 Set network ID if available during container inspect. Fixes #24910
  contrib/cirrus/setup_environment.sh
  libpod/networking_common.go
  test/apiv2/20-containers.at
  test/apiv2/python/rest_api/test_v2_0_0_network.py
  test/compose/ipam_set_ip/docker-compose.yml
  test/compose/uptwice/docker-compose.yml
  test/compose/uptwice/tests.sh
  test/compose/uptwice_idempotent/docker-compose.yml
  test/compose/uptwice_idempotent/tests.sh
  test/e2e/network_test.go
Labels: lgtm, approved, release-note

#25058 Bump timeout in machine tests
  .cirrus.yml
  pkg/machine/e2e/help_test.go
  pkg/machine/e2e/list_test.go
Labels: lgtm, approved, machine, release-note-none

#25021 Stop creating a patch for v5.3.1 upgrades on Windows
  contrib/cirrus/win-installer-main.ps1
  contrib/win-installer/build.ps1
  contrib/win-installer/burn.wxs
  contrib/win-installer/podman-patch.wxs
  contrib/win-installer/test-installer.ps1
  winmake.ps1
Labels: lgtm, approved, release-note-none

#25060 Remove JSON tag from UseImageHosts in ContainerConfig
  libpod/container_config.go
Labels: lgtm, approved, release-note-none, No New Tests, v5.4

#25069 [v5.3] Bump Buildah to v1.38.1 with CVE-2024-11218
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/add.go
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/open/open.go
  vendor/github.com/containers/buildah/internal/open/open_linux.go
  vendor/github.com/containers/buildah/internal/open/open_types.go
  vendor/github.com/containers/buildah/internal/open/open_unix.go
  vendor/github.com/containers/buildah/internal/open/open_unsupported.go
  vendor/github.com/containers/buildah/internal/types.go
  vendor/github.com/containers/buildah/internal/volumes/bind_linux.go
  vendor/github.com/containers/buildah/internal/volumes/bind_notlinux.go
  vendor/github.com/containers/buildah/internal/volumes/volumes.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay_linux.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note-none, No New Tests

#25074 Bump to v5.3.2
  RELEASE_NOTES.md
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#25005 podman artifact
  cmd/podman/artifact/add.go
  cmd/podman/artifact/artifact.go
  cmd/podman/artifact/inspect.go
  cmd/podman/artifact/list.go
  cmd/podman/artifact/pull.go
  cmd/podman/artifact/push.go
  cmd/podman/artifact/rm.go
  cmd/podman/common/completion.go
  cmd/podman/inspect/inspect.go
  cmd/podman/main.go
  cmd/podman/utils/utils.go
  docs/source/Commands.rst
  docs/source/markdown/.gitignore
  docs/source/markdown/options/authfile.md
  docs/source/markdown/options/cert-dir.md
  docs/source/markdown/options/creds.md
  docs/source/markdown/options/decryption-key.md
  docs/source/markdown/options/digestfile.md
  docs/source/markdown/options/retry-delay.md
  docs/source/markdown/options/retry.md
  docs/source/markdown/options/sign-by-sigstore.md
  docs/source/markdown/options/sign-passphrase-file.md
  docs/source/markdown/options/tls-verify.md
  docs/source/markdown/podman-artifact-add.1.md
  docs/source/markdown/podman-artifact-inspect.1.md
  docs/source/markdown/podman-artifact-ls.1.md
  docs/source/markdown/podman-artifact-pull.1.md.in
  docs/source/markdown/podman-artifact-push.1.md.in
  docs/source/markdown/podman-artifact-rm.1.md
  docs/source/markdown/podman-artifact.1.md
  docs/source/markdown/podman.1.md
  pkg/domain/entities/artifact.go
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/artifact.go
  pkg/domain/infra/tunnel/artifact.go
  pkg/libartifact/artifact.go
  pkg/libartifact/store/config.go
  pkg/libartifact/store/store.go
  pkg/libartifact/types/config.go
  test/e2e/artifact_test.go
  test/e2e/common_test.go
Labels: lgtm, approved, bloat_approved, release-note

#25029 Document kube-play CDI support
  docs/source/markdown/podman-kube-play.1.md.in
Labels: lgtm, approved, release-note-none

#25098 [v4.9-rhel] CVE-2024-11218, Bump Buildah to v1.33.12
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/.packit.yaml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/open/open.go
  vendor/github.com/containers/buildah/internal/open/open_linux.go
  vendor/github.com/containers/buildah/internal/open/open_types.go
  vendor/github.com/containers/buildah/internal/open/open_unix.go
  vendor/github.com/containers/buildah/internal/open/open_unsupported.go
  vendor/github.com/containers/buildah/internal/types.go
  vendor/github.com/containers/buildah/internal/volumes/bind_linux.go
  vendor/github.com/containers/buildah/internal/volumes/bind_notlinux.go
  vendor/github.com/containers/buildah/internal/volumes/volumes.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay_linux.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay_unsupported.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#25096 Update c/image + existing tests to resolve the signing ambiguity
  go.mod
  go.sum
  test/e2e/pull_test.go
  test/e2e/run_test.go
  test/system/010-images.bats
  test/system/120-load.bats
  test/system/150-login.bats
  test/system/helpers.bash
  vendor/github.com/containers/image/v5/docker/docker_client.go
  vendor/github.com/containers/image/v5/storage/storage_dest.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/vbatts/tar-split/archive/tar/format.go
  vendor/github.com/vbatts/tar-split/archive/tar/reader.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#25097 Refactor Podman E2E helpers to allow passing/adding more options to the low-level executor
  test/e2e/checkpoint_test.go
  test/e2e/common_test.go
  test/e2e/exec_test.go
  test/e2e/libpod_suite_remote_test.go
  test/e2e/libpod_suite_test.go
  test/e2e/manifest_test.go
  test/e2e/mount_rootless_test.go
  test/e2e/run_cleanup_test.go
  test/e2e/run_test.go
  test/e2e/systemd_activate_test.go
  test/utils/utils.go
  test/utils/utils_suite_test.go
Labels: lgtm, approved, release-note-none

#25095 [v5.2-rhel] CVE-2024-11218, Bump Buildah to v1.37.6
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/open/open.go
  vendor/github.com/containers/buildah/internal/open/open_linux.go
  vendor/github.com/containers/buildah/internal/open/open_types.go
  vendor/github.com/containers/buildah/internal/open/open_unix.go
  vendor/github.com/containers/buildah/internal/open/open_unsupported.go
  vendor/github.com/containers/buildah/internal/types.go
  vendor/github.com/containers/buildah/internal/volumes/bind_linux.go
  vendor/github.com/containers/buildah/internal/volumes/bind_notlinux.go
  vendor/github.com/containers/buildah/internal/volumes/volumes.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay_linux.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25092 do not set the CreateCommand for API users
  cmd/podman/containers/create.go
  cmd/podman/containers/run.go
  pkg/api/handlers/libpod/pods.go
  pkg/specgenutil/specgen.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note-none, kind/api-change

#25077 Quadlet 5 symlink bypass
  docs/source/locale/ja/LC_MESSAGES/markdown.po
  docs/source/markdown/podman-auto-update.1.md.in
  docs/source/markdown/podmansh.1.md
Labels: lgtm, approved, release-note

#25106 docs: mount.md - idmapped mounts only work for root user
  docs/source/markdown/options/mount.md
Labels: lgtm, approved, release-note-none

#24678 Add podman manifest rm --ignore
  cmd/podman/manifest/rm.go
  docs/source/markdown/podman-manifest-rm.1.md
  pkg/api/handlers/compat/images_remove.go
  pkg/api/handlers/libpod/images.go
  pkg/api/handlers/libpod/manifests.go
  pkg/api/server/register_manifest.go
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/manifest.go
  pkg/domain/infra/tunnel/manifest.go
  test/apiv2/15-manifest.at
  test/system/012-manifest.bats
Labels: lgtm, approved, release-note, kind/api-change

#25102 Clean up after unexpectedly terminated build
  cmd/podman/system/prune.go
  docs/source/markdown/podman-system-prune.1.md
  libpod/runtime.go
  pkg/api/handlers/libpod/system.go
  pkg/bindings/system/types.go
  pkg/bindings/system/types_prune_options.go
  pkg/domain/entities/types/system.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/system.go
  test/e2e/prune_test.go
Labels: lgtm, approved, release-note, kind/api-change

#25134 Fix podman-restart.service when there are no containers
  contrib/systemd/system/podman-restart.service.in
Labels: lgtm, approved, release-note

#25133 system-tests: switch ls with getfattr for selinux tests
  test/system/410-selinux.bats
Labels: lgtm, approved, release-note-none

#25135 Avoid upgrading from v5.3.1 on Windows
  contrib/cirrus/win-installer-main.ps1
  contrib/win-installer/burn.wxs
  contrib/win-installer/podman.wxs
  contrib/win-installer/test-installer.ps1
Labels: lgtm, approved, release-note-none, v5.4

#25111 Improve podman build secrets docs / Makefile validatepr description
  Makefile
  docs/source/markdown/options/secret.image.md
  docs/source/markdown/podman-build.1.md.in
Labels: lgtm, approved, release-note-none

#25146 error with libkrun on intel-based machines
  cmd/podman/machine/machine.go
  pkg/machine/provider/platform_darwin.go
Labels: lgtm, approved, machine, No New Tests

#25151 Safer use of `filepath.EvalSymlinks()` on Windows
  pkg/machine/machine_windows.go
  pkg/machine/machine_windows_test.go
Labels: lgtm, approved, machine, release-note, v5.4

#25139 Prevent multiple machines running on different providers on darwin
  cmd/podman/machine/reset.go
  pkg/machine/define/errors.go
  pkg/machine/e2e/start_test.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/machine.go
Labels: lgtm, approved, machine, release-note, No New Tests

#25049 fix(pkg/rootless): avoid memleak during init() contructor
  pkg/rootless/rootless_linux.c
Labels: lgtm, approved, release-note-none, No New Tests

#25128 Remove timer for HealthCheck when container is paused
  libpod/container_internal.go
  test/system/080-pause.bats
Labels: lgtm, approved, release-note

#25160 [CI:ALL] Bump to v5.4.0-RC2
  RELEASE_NOTES.md
Labels: lgtm, approved, machine, release-note-none, No New Tests

#25164 util: replace Walk with WalkDir
  cmd/podman/common/completion.go
Labels: lgtm, approved, release-note-none, No New Tests

#25155 Move detection of libkrun and intel
  cmd/podman/machine/machine.go
  pkg/machine/provider/platform_darwin.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#25171 pkg/api: honor cdi devices from the hostconfig
  pkg/api/handlers/compat/containers_create.go
  test/compose/cdi_device/README.md
  test/compose/cdi_device/device.json
  test/compose/cdi_device/docker-compose.yml
  test/compose/cdi_device/setup.sh
  test/compose/cdi_device/teardown.sh
  test/compose/cdi_device/tests.sh
Labels: lgtm, approved, release-note, kind/api-change, No New Tests

#24748 [skip-ci] RPM: no qemu on RHEL
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#25170 Add type and annotations to artifact add
  cmd/podman/artifact/add.go
  docs/source/markdown/.gitignore
  docs/source/markdown/options/annotation.manifest.md
  docs/source/markdown/podman-artifact-add.1.md.in
  pkg/api/handlers/libpod/manifests.go
  pkg/domain/entities/artifact.go
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/artifact.go
  pkg/domain/infra/tunnel/artifact.go
  pkg/domain/utils/utils.go
  pkg/libartifact/store/store.go
  pkg/libartifact/types/config.go
  test/e2e/artifact_test.go
Labels: lgtm, approved, release-note, kind/api-change

#25182 Add --no-trunc to artifact ls
  cmd/podman/artifact/list.go
  docs/source/markdown/.gitignore
  docs/source/markdown/options/no-trunc.md
  docs/source/markdown/podman-artifact-ls.1.md.in
  docs/source/markdown/podman-images.1.md.in
  test/e2e/artifact_test.go
Labels: lgtm, approved
