Repository containers/podman, pull requests merged in 2025-08, with the labels that each got.

#26213 compat: remove deprecated VirtualSize
  pkg/api/handlers/compat/images.go
  pkg/api/handlers/compat/system.go
  pkg/domain/entities/types/images.go
  test/apiv2/10-images.at
  test/apiv2/45-system.at
Labels: lgtm, approved, stale-pr, release-note, kind/api-change, 5.6

#26750 Feature/podman container runlabel docs 26379
  docs/source/markdown/podman-container-runlabel.1.md.in
Labels: lgtm, approved, release-note

#26741 Packit: do not notify on podman-next failures
  .packit.yaml
Labels: lgtm, approved, release-note-none, No New Tests

#26752 [v5.6] Bump c/storage to v1.59.1, c/image 5.36.1, and
  go.mod
  go.sum
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#26751 pkg/machine/e2e: remove build context skip
  pkg/machine/e2e/basic_test.go
Labels: lgtm, approved, machine, release-note-none

#26728 [CI:DOCS] Remove Experimental from Artifacts man pages
  docs/source/markdown/podman-artifact-add.1.md.in
  docs/source/markdown/podman-artifact-extract.1.md
  docs/source/markdown/podman-artifact-inspect.1.md
  docs/source/markdown/podman-artifact-ls.1.md.in
  docs/source/markdown/podman-artifact-pull.1.md.in
  docs/source/markdown/podman-artifact-push.1.md.in
  docs/source/markdown/podman-artifact-rm.1.md
  docs/source/markdown/podman-artifact.1.md
Labels: lgtm, approved, release-note-none, 5.6

#26771 [v5.6] Bump Buildah to v1.41.1
  go.mod
  go.sum
  test/buildah-bud/apply-podman-deltas
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/imagebuildah/util.go
  vendor/github.com/containers/buildah/pkg/cli/build.go
  vendor/github.com/containers/buildah/pkg/cli/common.go
  vendor/github.com/containers/buildah/pkg/parse/parse.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#26765 feat: added log_path support for configuration files
  go.mod
  go.sum
  libpod/options.go
  libpod/util.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgenutil/specgen.go
  test/e2e/play_kube_test.go
  test/e2e/run_test.go
  vendor/github.com/containers/common/pkg/config/config.go
  vendor/github.com/containers/common/pkg/config/config_local.go
  vendor/github.com/containers/common/pkg/config/config_remote.go
  vendor/github.com/containers/common/pkg/config/containers.conf
  vendor/github.com/containers/common/pkg/config/containers.conf-freebsd
  vendor/github.com/containers/common/pkg/config/pull_policy.go
  vendor/github.com/containers/common/pkg/filters/filters.go
  vendor/github.com/containers/common/pkg/util/util.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/seccomp/libseccomp-golang/CHANGELOG
  vendor/github.com/seccomp/libseccomp-golang/seccomp.go
  vendor/github.com/spf13/pflag/README.md
  vendor/github.com/spf13/pflag/bool_func.go
  vendor/github.com/spf13/pflag/count.go
  vendor/github.com/spf13/pflag/errors.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/func.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/ipnet_slice.go
  vendor/github.com/spf13/pflag/text.go
  vendor/github.com/spf13/pflag/time.go
  vendor/modules.txt
Labels: lgtm, approved, kind/feature, bloat_approved, release-note

#26791 Bump to v5.6.0-rc2
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#26718 Add support for configuring tls verification with machine init
  cmd/podman/machine/init.go
  docs/source/markdown/options/tls-verify.md
  docs/source/markdown/podman-machine-init.1.md.in
  pkg/machine/define/initopts.go
  pkg/machine/e2e/basic_test.go
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/machine_pull_test.go
  pkg/machine/ocipull/ociartifact.go
  pkg/machine/shim/diskpull/diskpull.go
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, release-note

#26732 docs: add examples with resource limits and mounts
  docs/source/markdown/podman-pod-create.1.md.in
Labels: lgtm, approved, release-note

#26788 Add BoltDB deprecation notice
  libpod/boltdb_state.go
Labels: lgtm, approved, release-note, No New Tests

#26785 make machine --user-mode-networking docs more clear
  docs/source/markdown/options/user-mode-networking.md
Labels: lgtm, approved, release-note-none

#26828 [v5.6] Bump to Buildah v1.41.3
  go.mod
  go.sum
  test/buildah-bud/apply-podman-deltas
  test/e2e/diff_test.go
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/copier/copier.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/image.go
  vendor/github.com/containers/buildah/imagebuildah/executor.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#26832 Update release notes for v5.6.0 final release
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#26790 2025 3Q Roadmap Update
  ROADMAP.md
Labels: lgtm, approved, release-note-none

#26834 docs: add missing groups and hgroups descriptors to podman top documentation
  docs/source/markdown/podman-top.1.md.in
Labels: lgtm, approved, release-note

#26722 docs: add LFX Insights badges
  README.md
Labels: lgtm, approved, release-note-none

#26861 podman events: show network create/remove event with journald
  libpod/events/journal_linux.go
  test/system/500-networking.bats
Labels: lgtm, approved, release-note

#26862 Update release notes on main to reflect v5.6 release
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#26868 ci: log wsl --version output
  contrib/cirrus/win-podman-machine-test.ps1
Labels: lgtm, approved, release-note-none

#26900 Add a release note for 5.6 Rosetta being disabled-by-default
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#26895 Add support for criu's tcp-close functionality.
  cmd/podman/containers/restore.go
  docs/source/markdown/podman-container-restore.1.md
  libpod/container_api.go
  libpod/oci_conmon_common.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/server/register_containers.go
  pkg/bindings/containers/types.go
  pkg/bindings/containers/types_restore_options.go
  pkg/domain/entities/containers.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/tunnel/containers.go
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note, kind/api-change

#26713 contrib: add script and docs to analyze dependency usage
  contrib/dependencies/README.md
  contrib/dependencies/dependencies.sh
  dependencies/analyses/README.md
  dependencies/analyses/dependency-tree.sh
  dependencies/analyses/go-archive-analysis.sh
  dependencies/analyses/nm-symbols-analysis.sh
Labels: lgtm, approved, release-note-none, No New Tests

#26931 Mention zstandard tarball import support
  cmd/podman/images/import.go
  cmd/podman/volumes/import.go
  docs/source/markdown/podman-kube-play.1.md.in
Labels: lgtm, approved, release-note-none, No New Tests
