Repository containers/podman, pull requests merged in 2025-05, with the labels that each got.

#26043 Bump to v5.5.0-dev
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#26023 Remove providers checks from the Windows Installer
  build_windows.md
  contrib/win-installer/build-hooks.ps1
  contrib/win-installer/build.ps1
  contrib/win-installer/podman-msihooks/check.c
  contrib/win-installer/podman.wxs
  winmake.ps1
Labels: lgtm, approved, release-note-none

#25945 feat: Add support for configuring swap in Podman machine
  cmd/podman/machine/init.go
  cmd/podman/machine/list.go
  docs/source/markdown/podman-machine-init.1.md.in
  docs/source/markdown/podman-machine-list.1.md.in
  pkg/domain/entities/machine.go
  pkg/machine/config.go
  pkg/machine/define/initopts.go
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/ignition/ignition.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/machine.go
Labels: lgtm, approved, machine, release-note

#26068 docs: fix markdown format
  docs/source/markdown/options/userns.container.md
Labels: lgtm, approved, documentation, release-note-none, No New Tests

#26048 Update winmake.ps1 to build arm64 artifacts
  contrib/win-installer/build.ps1
  contrib/win-installer/podman-setup.wixproj
  contrib/win-installer/podman.wixproj
  contrib/win-installer/podman.wxs
  winmake.ps1
Labels: lgtm, approved, release-note-none

#26059 Automatically bump to -dev after tag
  .github/workflows/dev-bump.yml
Labels: lgtm, approved, release-note-none

#26029 pkg/machine: more timezone fixes
  pkg/machine/e2e/init_test.go
  pkg/machine/ignition/ignition.go
  pkg/machine/ignition/ignition_linux.go
Labels: lgtm, approved, machine, release-note

#25861 update podman socket output to include also exposed ports
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note-none, kind/api-change

#26082 Quadlet - fix pod name to depend on the name of the generate service
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.pod
Labels: lgtm, approved, release-note

#26095 [v5.5] Update to gvisor-tap-sock-0.8.6
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/mlkem.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, 5.5

#25906 Verify the ExecSession pid before killing it.
  libpod/container_exec.go
  libpod/oci_conmon_exec_common.go
  pkg/pidhandle/pidhandle.go
  pkg/pidhandle/pidhandle_linux.go
  pkg/pidhandle/pidhandle_linux_test.go
  pkg/pidhandle/pidhandle_unix.go
  winmake.ps1
Labels: lgtm, approved, release-note-none

#26096 [v5.5] Add Windows ARM64 support
  .github/workflows/release.yml
  Makefile
  build_windows.md
  contrib/win-installer/build-hooks.ps1
  contrib/win-installer/build.ps1
  contrib/win-installer/podman-msihooks/check.c
  contrib/win-installer/podman-setup.wixproj
  contrib/win-installer/podman.wixproj
  contrib/win-installer/podman.wxs
  contrib/win-installer/process-release.ps1
  winmake.ps1
Labels: lgtm, approved, release-note-none

#26089 Release win arm64 artifacts
  .github/workflows/release.yml
  Makefile
  contrib/win-installer/build.ps1
  contrib/win-installer/process-release.ps1
  winmake.ps1
Labels: lgtm, approved, release-note-none, 5.5

#26079 Take WSL path from PATH instead of forcing it to WindowsApps
  cmd/podman-wslkerninst/main.go
  pkg/machine/e2e/config_windows_test.go
  pkg/machine/e2e/init_windows_test.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
  pkg/machine/wsl/wutil/wutil.go
Labels: lgtm, approved, machine, release-note, No New Tests

#26086 Fix: Ensure HealthCheck exec session terminates on timeout
  cmd/podman/common/create.go
  docs/source/markdown/options/health-timeout.md
  libpod/container_exec.go
  libpod/define/errors.go
  libpod/healthcheck.go
  libpod/oci_conmon_exec_common.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved, release-note

#25660 Fix parsing of paths for unmask
  pkg/specgenutil/specgen.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note

#26112 Fix a shellcheck warning about word splitting
  docker/podman-docker.sh
Labels: lgtm, approved, release-note-none, No New Tests

#26113 Quadlet - restore pod name to not use systemd specifiers
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.pod
Labels: lgtm, approved, release-note

#26119 Bump bundled krunkit to 0.2.1
  contrib/pkginstaller/Makefile
Labels: lgtm, approved, release-note

#26126 Bump to v5.5.0
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#26133 GHA: Pin Go to 1.24.2
  .github/workflows/release.yml
Labels: lgtm, approved, release-note-none

#26137 fix macos compile issue with go 1.24.3
  go.mod
  go.sum
  vendor/github.com/ebitengine/purego/dlfcn.go
  vendor/github.com/ebitengine/purego/dlfcn_darwin.go
  vendor/github.com/ebitengine/purego/internal/fakecgo/symbols.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#26140 Update release action
  .github/workflows/release.yml
Labels: lgtm, approved, release-note-none

#26124 fix issues found by nilness
  cmd/podman/volumes/prune.go
  libpod/container_internal_common.go
  libpod/runtime_pod_common.go
  pkg/domain/infra/abi/images.go
  pkg/machine/ocipull/source.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#26127 podman: remember hooks-dir on restarts
  pkg/specgenutil/util.go
  test/system/030-run.bats
  test/system/500-networking.bats
  test/system/helpers.bash
Labels: lgtm, approved, release-note

#26116 compat: Add CgroupnsMode to POST /containers/create
  pkg/api/handlers/compat/containers.go
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/python/rest_api/test_v2_0_0_container.py
Labels: lgtm, approved, release-note, kind/api-change

#26146 Be explicit about ssh configs suitable only for localhost
  cmd/podman/machine/cp.go
  cmd/podman/machine/ssh.go
  pkg/machine/hyperv/volumes.go
  pkg/machine/os/machine_os.go
  pkg/machine/proxyenv/env.go
  pkg/machine/qemu/stubber.go
  pkg/machine/shim/host.go
  pkg/machine/shim/networking.go
  pkg/machine/ssh.go
  pkg/machine/update.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#26156 github: remove fcos next image workflow
  .github/workflows/fcos-podman-next-build.yml
  contrib/podman-next/fcos-podmanimage/Containerfile
Labels: lgtm, approved, release-note-none

#26162 libpod: fix mount order for "/" volume
  libpod/util.go
  libpod/util_test.go
Labels: lgtm, approved, release-note, 5.5

#26149 compat: fix ContainerState.Status JSON values
  CONTRIBUTING.md
  pkg/api/handlers/compat/containers.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note, kind/api-change

#24369 [skip-ci] TMT: run system tests on Fedora
  .packit.yaml
  plans/system.fmf
  plans/tmt.fmf
  plans/toolbox.fmf
  rpm/gating.yaml
  rpm/podman.spec
  test/tmt/system.fmf
  test/tmt/system.sh
  test/tmt/tmt.fmf
Labels: lgtm, approved, release-note-none

#26165 docs: drop --pre-checkpoint requirement
  docs/source/markdown/podman-container-checkpoint.1.md
Labels: lgtm, approved, release-note-none

#26148 test/e2e: do not check dns.podman
  test/e2e/run_networking_test.go
Labels: lgtm, approved, release-note-none

#26150 Update RELEASE_PROCESS.md
  RELEASE_PROCESS.md
Labels: lgtm, approved, release-note-none

#26166 Update release notes on main
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#26175 lint: cleanups after TMT inclusion
  .pre-commit-config.yaml
  test/tmt/system.fmf
Labels: lgtm, approved, release-note-none, No New Tests

#26087 README.md: add openssf passing badge
  README.md
Labels: lgtm, approved, release-note-none

#26193 libpod: Don't exclude running deps from the container graph inputs
  libpod/container_internal.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note

#26202 compat API: respect base_hosts_file containers.conf option
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
Labels: lgtm, approved, release-note, kind/api-change

#26181 Trigger podman.io version bump from release action
  .github/workflows/release.yml
  RELEASE_PROCESS.md
Labels: lgtm, approved, release-note-none

#26200 Fix overlay volumes on Windows
  pkg/machine/e2e/basic_test.go
  pkg/specgenutil/volumes.go
Labels: lgtm, approved, machine, release-note

#26209 Recreate the Rootfs in mountStorage for infra-container.
  libpod/container_internal.go
  libpod/container_internal_common.go
  libpod/runtime_ctr.go
  test/e2e/run_test.go
Labels: lgtm, approved, release-note, 5.5

#26217 Fix SQLite volume lookup queries matching too liberally
  libpod/sqlite_state.go
  test/e2e/volume_rm_test.go
Labels: lgtm, approved, release-note, 5.5

#26207 test: fix race conditions in /dev/kmsg tests
  test/e2e/run_device_test.go
Labels: lgtm, approved, release-note-none

#26230 Handle "Entrypoint":[] in compat containers/create API.
  pkg/api/handlers/compat/containers_create.go
  test/apiv2/20-containers.at
  test/apiv2/test-apiv2
Labels: lgtm, approved, release-note-none, kind/api-change

#26242 e2e: ref full URL for aarch64 criu precheckpoint issues
  test/e2e/checkpoint_test.go
Labels: lgtm, approved, release-note-none

#26174 Support --cpuset-cpus and --cpuset-mems in podman kube play
  docs/source/markdown/podman-kube-play.1.md.in
  libpod/define/annotations.go
  pkg/specgen/generate/kube/kube.go
  pkg/specgenutil/specgen.go
  test/e2e/play_kube_test.go
Labels: lgtm, approved, release-note

#26245 docs: quadlet can translate names now
  docs/source/markdown/podman-systemd.unit.5.md
Labels: lgtm, approved, release-note-none

#26235 Allow not specifying type with --mount flag
  docs/source/markdown/options/mount.md
  pkg/specgenutil/volumes.go
  pkg/specgenutilexternal/mount.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note
