Repository containers/podman, pull requests merged in 2025-09, with the labels that each got.

#26932 quadlet: add HttpProxy option for Container sections
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/httpproxy-false.container
  test/e2e/quadlet/httpproxy-true.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#26945 do not pass volume options as bind mounts options to runtime
  libpod/container_internal_common.go
  libpod/runtime_ctr.go
  test/e2e/run_volume_test.go
Labels: lgtm, approved, release-note

#26947 test/system: some small fixes
  hack/bats
  test/system/001-basic.bats
  test/system/030-run.bats
  test/system/032-sig-proxy.bats
  test/system/035-logs.bats
  test/system/060-mount.bats
  test/system/070-build.bats
  test/system/075-exec.bats
  test/system/080-pause.bats
  test/system/090-events.bats
  test/system/120-load.bats
  test/system/125-import.bats
  test/system/130-kill.bats
  test/system/160-volumes.bats
  test/system/161-volume-quotas.bats
  test/system/170-run-userns.bats
  test/system/180-blkio.bats
  test/system/190-run-ipcns.bats
  test/system/195-run-namespaces.bats
  test/system/252-quadlet.bats
  test/system/260-sdnotify.bats
  test/system/280-update.bats
  test/system/410-selinux.bats
  test/system/420-cgroups.bats
  test/system/500-networking.bats
Labels: lgtm, approved, release-note-none

#26963 Revert "Remove bin/podman.cross Make target"
  Makefile
Labels: lgtm, approved, release-note-none

#26986 Add R! to systemd-tmpfiles script for all /tmp dirs
  contrib/tmpfile/podman.conf
Labels: lgtm, approved, release-note

#26994 Bump to v5.6.1
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#26977 quadlet: fix runtime error for invalid Mount value
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/mount-source-missing.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#27002 docs: restore podman-systemd.unit.5
  docs/source/markdown/links/podman-systemd.unit.5
  docs/source/markdown/links/quadlet.5
  docs/source/markdown/podman-auto-update.1.md.in
  docs/source/markdown/podman-generate-systemd.1.md
  docs/source/markdown/podman-systemd.unit.5.md
  docs/source/markdown/podmansh.1.md
  hack/xref-quadlet-docs
Labels: lgtm, approved, release-note-none

#26950 Handle SIGPIPE to prevent machine stuck in Starting state
  pkg/machine/shim/host.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#26984 update module github.com/spf13/pflag to v1.0.10
  cmd/podman/compose.go
  cmd/podman/registry/config.go
  cmd/podman/registry/remote.go
  go.mod
  go.sum
  pkg/systemd/generate/containers.go
  pkg/systemd/generate/pods.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#27027 Quadlet build - consider File path that starts with a systemd specifier as absolute
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/no-workingdirectory-systemd-specifier.build
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note-none

#27023 [v4.9-rhel] CVE-2025-9566 Fixes
  go.mod
  go.sum
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/abi/play_linux.go
  pkg/domain/infra/abi/play_unsupported.go
  pkg/domain/infra/abi/play_utils.go
  test/e2e/play_kube_test.go
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/LICENSE
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/doc.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_errors_go120.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_errors_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_generics_go121.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_generics_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/cyphar/filepath-securejoin/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/openat_linux.go
  vendor/github.com/cyphar/filepath-securejoin/procfs_linux.go
  vendor/github.com/cyphar/filepath-securejoin/vfs.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#27034 [v4.4.1-rhel] CVE-2025-9566 Fixes
  go.mod
  go.sum
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/abi/play_linux.go
  pkg/domain/infra/abi/play_unsupported.go
  pkg/domain/infra/abi/play_utils.go
  test/e2e/play_kube_test.go
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/LICENSE
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/doc.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_errors_go120.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_errors_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_generics_go121.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_generics_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/cyphar/filepath-securejoin/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/openat_linux.go
  vendor/github.com/cyphar/filepath-securejoin/procfs_linux.go
  vendor/github.com/cyphar/filepath-securejoin/vfs.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#26877 refactor: Modularize binding build functions
  internal/remote_build_helpers/utils.go
  internal/remote_build_helpers/utils_test.go
  pkg/bindings/images/build.go
Labels: lgtm, approved, release-note-none

#26985 Add a directory for design documents
  contrib/design-docs/README.md
  contrib/design-docs/TEMPLATE.md
Labels: lgtm, approved, release-note-none, No New Tests

#26916 Adding github action to generate a badge for first time contributor
  .github/workflows/first_contrib_cert_generator.yml
Labels: lgtm, approved, release-note-none, No New Tests

#27063 fix: Correct typo in chrootdirs option
  docs/source/markdown/options/chrootdirs.md
Labels: lgtm, approved, release-note-none

#27072 docs: remove remote limitation note for --build-context option
  docs/source/markdown/options/build-context.md
  test/buildah-bud/apply-podman-deltas
Labels: lgtm, approved, release-note-none

#27041 [v4.4.1-crio] CVE-2025-9566 Fixes
  go.mod
  go.sum
  pkg/domain/infra/abi/play.go
  pkg/domain/infra/abi/play_linux.go
  pkg/domain/infra/abi/play_unsupported.go
  pkg/domain/infra/abi/play_utils.go
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/LICENSE
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/doc.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_errors_go120.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_errors_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_generics_go121.go
  vendor/github.com/cyphar/filepath-securejoin/gocompat_generics_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/cyphar/filepath-securejoin/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/openat_linux.go
  vendor/github.com/cyphar/filepath-securejoin/procfs_linux.go
  vendor/github.com/cyphar/filepath-securejoin/vfs.go
  vendor/golang.org/x/sys/unix/aliases.go
  vendor/golang.org/x/sys/unix/syscall_darwin_libSystem.go
  vendor/golang.org/x/sys/unix/syscall_freebsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#27039 cirrus: fix golangci-lint cache leak + update freebsd version
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#27087 test/system: fix test race in exec leak check
  test/system/075-exec.bats
Labels: lgtm, approved, release-note-none

#27105 A couple of minor stats improvements for FreeBSD
  libpod/stats_freebsd.go
  pkg/api/handlers/compat/containers_stats_freebsd.go
Labels: lgtm, approved, release-note-none, kind/api-change, No New Tests

#27138 test: remove hack workaround in 'use plugin in containers'
  test/e2e/volume_plugin_test.go
Labels: lgtm, approved, release-note-none

#27160 docs: clarify that `--userns=keep-id` runs container as host UID
  docs/source/markdown/options/userns.container.md
Labels: lgtm, approved, release-note-none

#27123 docs: add Containerfile doc link
  docs/source/Introduction.rst
  docs/source/includes.rst
Labels: lgtm, approved, release-note-none

#27043 Add Podman 6 HLD
  contrib/design-docs/podman6hld.md
Labels: lgtm, approved, release-note-none

#27178 cmd/podman/system: fix error handling in renumber and migrate commands
  cmd/podman/system/migrate.go
  cmd/podman/system/renumber.go
Labels: lgtm, approved, release-note-none, No New Tests

#27159 Added virtual size option in artifact ls format
  cmd/podman/artifact/list.go
  docs/source/markdown/podman-artifact-ls.1.md.in
  test/e2e/artifact_test.go
Labels: lgtm, approved, release-note

#27173 [DOCS] Update volume mount docs for subpath support
  docs/source/markdown/options/mount.md
Labels: lgtm, approved, release-note-none

#27195 test: fix "run healthcheck" bindings test
  pkg/bindings/test/containers_test.go
Labels: lgtm, approved, release-note-none
