Repository containers/podman, pull requests merged in 2025-06, with the labels that each got.

#26248 Don't BuildRequires: ostree-devel
  rpm/podman.spec
Labels: lgtm, approved, release-note-none, No New Tests

#26266 [v5.5] Backport release fixes
  .github/workflows/release.yml
  RELEASE_PROCESS.md
Labels: lgtm, approved, release-note-none

#26216 build: reuse `parse.ContainerIgnoreFile` from buildah
  cmd/podman/common/build.go
  test/system/070-build.bats
Labels: lgtm, approved, release-note

#26221 libpod: don't force only network search domains
  go.mod
  go.sum
  libpod/container_internal_common.go
  test/e2e/run_networking_test.go
  test/system/500-networking.bats
  vendor/github.com/containers/common/libnetwork/resolvconf/resolv.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#26275 [v5.5] Backports and c/common v0.63.1 bump
  cmd/podman/system/check.go
  cmd/podman/system/df.go
  docs/source/markdown/podman-systemd.unit.5.md
  go.mod
  go.sum
  libpod/container_internal_common.go
  libpod/sqlite_state.go
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/libpod/containers_create.go
  pkg/domain/infra/abi/play.go
  pkg/machine/e2e/basic_test.go
  pkg/specgen/generate/container.go
  pkg/specgenutil/volumes.go
  test/apiv2/20-containers.at
  test/apiv2/test-apiv2
  test/e2e/containers_conf_test.go
  test/e2e/run_networking_test.go
  test/e2e/volume_rm_test.go
  test/system/030-run.bats
  test/system/320-system-df.bats
  test/system/500-networking.bats
  vendor/github.com/containers/common/libnetwork/resolvconf/resolv.go
  vendor/github.com/containers/common/version/version.go
  vendor/modules.txt
Labels: lgtm, approved, machine, release-note, kind/api-change

#26177 pkg/machine: setup lingering for custom username and remove unnecessary sleep service
  pkg/machine/e2e/init_test.go
  pkg/machine/ignition/ignition.go
  pkg/machine/wsl/declares.go
  pkg/machine/wsl/machine.go
Labels: lgtm, approved, machine, release-note

#26111 feat: Add OCI Artifact support to the Podman REST API
  cmd/podman/artifact/add.go
  pkg/api/handlers/libpod/artifacts.go
  pkg/api/handlers/swagger/errors.go
  pkg/api/handlers/swagger/responses.go
  pkg/api/handlers/utils/errors.go
  pkg/api/server/register_artifacts.go
  pkg/api/server/server.go
  pkg/domain/entities/artifact.go
  pkg/domain/entities/engine_image.go
  pkg/domain/entities/types/artifacts.go
  pkg/domain/infra/abi/artifact.go
  pkg/domain/infra/tunnel/artifact.go
  pkg/libartifact/store/store.go
  test/apiv2/python/rest_api/fixtures/api_testcase.py
  test/apiv2/python/rest_api/test_v2_0_0_artifact.py
Labels: lgtm, approved, release-note, kind/api-change

#26279 [v5.5] Bump buildah from v1.40.0 to v1.40.1
  go.mod
  go.sum
  test/buildah-bud/run-buildah-bud-tests
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/chroot/pty_unsupported.go
  vendor/github.com/containers/buildah/chroot/run_common.go
  vendor/github.com/containers/buildah/config.go
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/internal/pty/pty_posix.go
  vendor/github.com/containers/buildah/internal/pty/pty_ptmx.go
  vendor/github.com/containers/buildah/internal/pty/pty_unsupported.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note

#26291 Release notes for v5.5.1
  RELEASE_NOTES.md
Labels: lgtm, approved, release-note-none

#26298 Make podman.io update action reusable
  .github/workflows/update-podmanio.yml
Labels: lgtm, approved, release-note-none

#26293 pkg/machine/e2e: skip rosetta test
  pkg/machine/e2e/init_test.go
  pkg/machine/ignition/ignition.go
Labels: lgtm, approved, machine, release-note-none

#26306 pkg/machine: remove some unsused services and add the /etc/environment.d SSL vars back
  pkg/machine/ignition/ignition.go
Labels: lgtm, approved, machine, release-note-none, No New Tests

#26314 docs: replace `RemapUsers=keep-id` with `UserNS=keep-id`
  docs/source/markdown/podmansh.1.md
Labels: lgtm, approved, release-note-none

#26325 Allow generate-bindings on darwin
  Makefile
Labels: lgtm, approved, No New Tests

#26329 make validate-in-container changes
  Makefile
  contrib/validatepr/Containerfile
Labels: lgtm, approved, release-note-none

#26343 some random fixes
  libpod/events/logfile.go
Labels: lgtm, approved, release-note-none, No New Tests

#26336 podman machine: pull wsl image from machine-os
  pkg/machine/ocipull/ociartifact.go
Labels: lgtm, approved, machine, release-note, No New Tests

#26334 dynamically link sqlite
  Makefile
  hack/libdm_tag.sh
  hack/sqlite_tag.sh
  rpm/podman.spec
Labels: lgtm, approved, release-note, No New Tests

#26370 Bunch of trivial manpage fixes
  docs/source/markdown/podman-container-diff.1.md.in
  docs/source/markdown/podman-container-inspect.1.md.in
  docs/source/markdown/podman-container-restore.1.md
  docs/source/markdown/podman-diff.1.md.in
  docs/source/markdown/podman-farm-create.1.md
  docs/source/markdown/podman-image-diff.1.md
  docs/source/markdown/podman-image-mount.1.md
  docs/source/markdown/podman-images.1.md.in
  docs/source/markdown/podman-inspect.1.md.in
  docs/source/markdown/podman-load.1.md
  docs/source/markdown/podman-manifest-add.1.md.in
  docs/source/markdown/podman-manifest-annotate.1.md.in
  docs/source/markdown/podman-manifest-inspect.1.md.in
  docs/source/markdown/podman-manifest-push.1.md.in
  docs/source/markdown/podman-manifest-rm.1.md
  docs/source/markdown/podman-mount.1.md.in
  docs/source/markdown/podman-network-connect.1.md
  docs/source/markdown/podman-network-create.1.md
  docs/source/markdown/podman-network-rm.1.md
  docs/source/markdown/podman-pod-stats.1.md.in
  docs/source/markdown/podman-ps.1.md
  docs/source/markdown/podman-push.1.md.in
  docs/source/markdown/podman-rm.1.md.in
  docs/source/markdown/podman-rmi.1.md
  docs/source/markdown/podman-save.1.md.in
  docs/source/markdown/podman-search.1.md.in
Labels: lgtm, approved, release-note-none

#26352 fix: absolute path usage for kube play on Windows
  cmd/podman/images/import.go
  cmd/podman/kube/play.go
  cmd/podman/parse/net.go
  cmd/podman/parse/net_test.go
Labels: lgtm, approved, release-note

#26368 Add Craig Loewen to Reviewer role
  MAINTAINERS.md
Labels: lgtm, approved, release-note-none, governance

#26391 Manpages: podman machine init add example with --now
  docs/source/markdown/podman-machine-init.1.md.in
Labels: lgtm, approved, release-note-none

#26397 Add examples of `--all` flag
  docs/source/markdown/podman-init.1.md.in
  docs/source/markdown/podman-pod-pause.1.md
  docs/source/markdown/podman-secret-rm.1.md
  docs/source/markdown/podman-system-connection-remove.1.md
  docs/source/markdown/podman-system-prune.1.md
Labels: lgtm, approved, release-note-none

#26201 fix wsl install workflow on machine init command
  cmd/podman/machine/init.go
  pkg/machine/define/errors.go
  pkg/machine/shim/host.go
  pkg/machine/wsl/declares.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
  pkg/machine/wsl/util_windows.go
  pkg/machine/wsl/wutil/wutil.go
Labels: lgtm, approved, machine, release-note, No New Tests

#26403 Update podman system prune doc
  docs/source/markdown/podman-system-prune.1.md
Labels: lgtm, approved, release-note-none

#26466 pkg/systemd: expose [Pod] ExitPolicy key for pod create --exit-policy
  docs/source/markdown/podman-pod-create.1.md.in
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/basic.pod
  test/system/252-quadlet.bats
Labels: lgtm, approved, release-note

#26472 quadlet: remove indirect logrus import
  pkg/systemd/quadlet/quadlet.go
Labels: lgtm, approved, release-note-none, No New Tests

#26456 [v5.4-rhel] Fix: Ensure HealthCheck exec session terminates on timeout
  cmd/podman/common/create.go
  docs/source/markdown/options/health-timeout.md
  libpod/container_exec.go
  libpod/define/errors.go
  libpod/healthcheck.go
  libpod/oci_conmon_exec_common.go
  test/e2e/healthcheck_run_test.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#26454 [CI:DOCS] Tweak Governance slightly
  GOVERNANCE.md
Labels: lgtm, approved, release-note-none, governance

#26341 1. update image_fix 2. skip checkpoint_tests duo to rawhide issue
  .cirrus.yml
  test/e2e/checkpoint_test.go
  test/system/520-checkpoint.bats
Labels: lgtm, approved, release-note-none

#26495 [v5.4-rhel] Skip layer digests for podman system check --quick
  docs/source/markdown/podman-system-check.1.md
  libpod/runtime.go
Labels: lgtm, approved, release-note-none, No New Tests

#26500 docs: document when a volume is chowned
  docs/source/markdown/options/volume.md
Labels: lgtm, approved, release-note-none

#26485 cmd/podman: add --latest option to update #26380
  cmd/podman/containers/update.go
  docs/source/markdown/options/latest.md
  docs/source/markdown/podman-update.1.md.in
  pkg/domain/entities/types/containers.go
  pkg/domain/infra/abi/containers.go
  test/e2e/update_test.go
Labels: lgtm, approved, release-note

#26478 Podman pull - add policy flag
  cmd/podman/images/pull.go
  docs/source/markdown/podman-pull.1.md.in
  test/system/156-pull-policy.bats
Labels: lgtm, approved, release-note

#26515 [v3.2.3-rhel] Backports for health check files
  contrib/cirrus/setup_environment.sh
  libpod/container_internal.go
  libpod/healthcheck_linux.go
  test/e2e/healthcheck_run_test.go
Labels: lgtm, approved, release-note-none

#26461 remove deadcode
  cmd/podman/images/list.go
  cmd/podman/validate/args.go
  go.mod
  libpod/options.go
  libpod/runtime.go
  libpod/runtime_img.go
  libpod/util.go
  pkg/api/handlers/decoder.go
  pkg/api/handlers/libpod/containers.go
  pkg/api/handlers/utils/errors.go
  pkg/api/handlers/utils/handler.go
  pkg/api/server/listener_api.go
  pkg/api/server/server.go
  pkg/bindings/containers/containers.go
  pkg/bindings/internal/util/util.go
  pkg/domain/entities/filters.go
  pkg/domain/entities/images.go
  pkg/domain/entities/set.go
  pkg/domain/entities/types.go
  pkg/domain/infra/abi/containers.go
  pkg/domain/infra/abi/system.go
  pkg/domain/infra/tunnel/containers.go
  pkg/errorhandling/errorhandling.go
  pkg/farm/farm.go
  pkg/fileserver/server_unsupported.go
  pkg/libartifact/store/store.go
  pkg/machine/config.go
  pkg/machine/define/errors.go
  pkg/machine/env/dir.go
  pkg/machine/fedora_unix.go
  pkg/machine/fedora_windows.go
  pkg/machine/ignition/ignition.go
  pkg/machine/keys.go
  pkg/machine/machine_common.go
  pkg/machine/machine_unix.go
  pkg/machine/ocipull/oci.go
  pkg/machine/ocipull/ocidir.go
  pkg/machine/ocipull/pull.go
  pkg/machine/pull.go
  pkg/machine/qemu/machine.go
  pkg/machine/sockets/sockets.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/vmconfigs/machine.go
  pkg/machine/wsl/config.go
  pkg/machine/wsl/machine.go
  pkg/namespaces/namespaces.go
  pkg/parallel/parallel.go
  pkg/rootless/rootless.go
  pkg/rootless/rootless_linux.go
  pkg/util/camelcase/LICENSE.md
  pkg/util/camelcase/README.md
  pkg/util/camelcase/camelcase.go
  pkg/util/utils.go
  test/framework/framework.go
Labels: lgtm, approved, machine, release-note-none, kind/api-change, No New Tests

#26508 Update Neil Smith's GitHub username in MAINTAINERS.md
  MAINTAINERS.md
Labels: lgtm, approved, release-note-none, governance

#26322 quadlet: handle generate environment params that inherit from host
  pkg/systemd/parser/unitfile.go
  pkg/systemd/quadlet/podmancmdline.go
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/env.container
Labels: lgtm, approved, release-note
