Repository containers/podman, pull requests merged in 2025-02, with the labels that each got.

#25180 podman exec: correctly support detaching
  libpod/container_exec.go
  libpod/util.go
  pkg/api/handlers/compat/exec.go
  pkg/domain/infra/tunnel/containers.go
Labels: lgtm, approved, release-note, kind/api-change, No New Tests, v5.4

#25181 new images 2025-01-31
  .cirrus.yml
  contrib/cirrus/postbuild.sh
Labels: lgtm, approved, release-note-none

#25173 [v4.2.0-rhel] Update buildah for CVE-2024-11218
  .cirrus.yml
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/open/open.go
  vendor/github.com/containers/buildah/internal/open/open_linux.go
  vendor/github.com/containers/buildah/internal/open/open_types.go
  vendor/github.com/containers/buildah/internal/open/open_unix.go
  vendor/github.com/containers/buildah/internal/open/open_unsupported.go
  vendor/github.com/containers/buildah/internal/parse/parse.go
  vendor/github.com/containers/buildah/internal/types.go
  vendor/github.com/containers/buildah/internal/volumes/bind_linux.go
  vendor/github.com/containers/buildah/internal/volumes/bind_notlinux.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: lgtm, approved, bloat_approved, release-note-none

#25186 Bump c/storage to v1.57.1, c/image v5.34.0, c/common v0.62.0
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/internal/util/bridge.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/docker/registries_d.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/v5/pkg/tlsclientconfig/tlsclientconfig.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/chunked/compression_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_unsupported.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25187 [v5.4] Bump c/storage to v1.57.1, c/image v5.34.0, c/common v0.62.0
  go.mod
  go.sum
  vendor/github.com/containers/common/libnetwork/cni/config.go
  vendor/github.com/containers/common/libnetwork/internal/rootlessnetns/netns_linux.go
  vendor/github.com/containers/common/libnetwork/internal/util/bridge.go
  vendor/github.com/containers/common/libnetwork/netavark/config.go
  vendor/github.com/containers/common/version/version.go
  vendor/github.com/containers/image/v5/docker/registries_d.go
  vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go
  vendor/github.com/containers/image/v5/pkg/tlsclientconfig/tlsclientconfig.go
  vendor/github.com/containers/image/v5/version/version.go
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/pkg/chunked/compression_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_linux.go
  vendor/github.com/containers/storage/pkg/chunked/storage_unsupported.go
  vendor/github.com/spf13/pflag/.editorconfig
  vendor/github.com/spf13/pflag/.golangci.yaml
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/ip.go
  vendor/github.com/spf13/pflag/ipnet_slice.go
  vendor/github.com/spf13/pflag/string_array.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25207 Bump to Buildah v1.39.0
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25203 update gvproxy version
  contrib/pkginstaller/Makefile
  go.mod
  go.sum
  vendor/modules.txt
  winmake.ps1
Labels: lgtm, approved, release-note, v5.4

#25206 rpm: add attr as dependency for podman-tests
  rpm/podman.spec
Labels: lgtm, approved, release-note-none, No New Tests, v5.4

#25208 [v5.4] Bump Buildah to v1.39.0
  go.mod
  go.sum
  vendor/github.com/containers/buildah/.cirrus.yml
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25202 Force use of iptables on Windows WSL
  pkg/machine/wsl/declares.go
Labels: lgtm, approved, machine, release-note-none, No New Tests, v5.4

#25209 test/e2e: improve write/removeConf()
  test/e2e/common_test.go
Labels: lgtm, approved, release-note-none

#25205 Add --noheading to artifact ls
  cmd/podman/artifact/list.go
  docs/source/markdown/options/noheading.md
  docs/source/markdown/podman-artifact-ls.1.md.in
  test/e2e/artifact_test.go
Labels: lgtm, approved, release-note

#25043 Add `machine init --playbook`
  cmd/podman/machine/init.go
  docs/source/markdown/podman-machine-init.1.md.in
  pkg/machine/define/initopts.go
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/ignition/ignition.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
Labels: lgtm, approved, machine, release-note, v5.4

#25216 Fix flake test: `podman pause/unpause with HealthCheck interval`
  test/system/080-pause.bats
Labels: lgtm, approved, release-note-none

#24781 Add BuildOrigin field to podman info
  Makefile
  cmd/podman/client.go
  cmd/podman/system/info.go
  cmd/podman/system/version.go
  contrib/pkginstaller/package.sh
  libpod/define/version.go
  test/e2e/info_test.go
Labels: lgtm, approved, stale-pr, release-note

#25178 Bump version to 5.5.0-dev
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#25225 [CI:ALL] Bump to v5.4.0-RC3
  .cirrus.yml
  Makefile
  RELEASE_NOTES.md
  cmd/podman/artifact/add.go
  cmd/podman/artifact/list.go
  cmd/podman/client.go
  cmd/podman/common/completion.go
  cmd/podman/machine/init.go
  cmd/podman/system/info.go
  cmd/podman/system/version.go
  contrib/pkginstaller/package.sh
  docs/source/markdown/.gitignore
  docs/source/markdown/options/annotation.manifest.md
  docs/source/markdown/options/no-trunc.md
  docs/source/markdown/options/noheading.md
  docs/source/markdown/podman-artifact-add.1.md.in
  docs/source/markdown/podman-artifact-ls.1.md.in
  docs/source/markdown/podman-images.1.md.in
  docs/source/markdown/podman-machine-init.1.md.in
  libpod/define/version.go
  pkg/api/handlers/compat/containers_create.go
  pkg/api/handlers/libpod/manifests.go
  pkg/domain/entities/artifact.go
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/artifact.go
  pkg/domain/infra/tunnel/artifact.go
  pkg/domain/utils/utils.go
  pkg/libartifact/artifact.go
  pkg/libartifact/store/store.go
  pkg/libartifact/types/config.go
  pkg/machine/define/initopts.go
  pkg/machine/e2e/config_init_test.go
  pkg/machine/e2e/init_test.go
  pkg/machine/ignition/ignition.go
  pkg/machine/shim/host.go
  pkg/machine/vmconfigs/config.go
  pkg/machine/wsl/machine.go
  pkg/machine/wsl/stubber.go
  pkg/rootless/rootless_linux.c
  test/compose/cdi_device/README.md
  test/compose/cdi_device/device.json
  test/compose/cdi_device/docker-compose.yml
  test/compose/cdi_device/setup.sh
  test/compose/cdi_device/teardown.sh
  test/compose/cdi_device/tests.sh
  test/e2e/artifact_test.go
  test/e2e/common_test.go
  test/e2e/info_test.go
Labels: lgtm, approved, machine, release-note-none, kind/api-change

#25007 Zstd:chunked podman-side tests
  test/e2e/common_test.go
  test/e2e/pull_chunked_test.go
  test/e2e/pull_test.go
  test/e2e/run_transient_test.go
  test/utils/utils.go
Labels: lgtm, approved, release-note-none

#25245 rootless: fix hang on s390x
  pkg/rootless/rootless_linux.c
Labels: lgtm, approved, release-note, No New Tests

#25255 [v4.4.1-rhel] CVE-2024-11218 Fix
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/open/open.go
  vendor/github.com/containers/buildah/internal/open/open_linux.go
  vendor/github.com/containers/buildah/internal/open/open_types.go
  vendor/github.com/containers/buildah/internal/open/open_unix.go
  vendor/github.com/containers/buildah/internal/open/open_unsupported.go
  vendor/github.com/containers/buildah/internal/parse/parse.go
  vendor/github.com/containers/buildah/internal/types.go
  vendor/github.com/containers/buildah/internal/volumes/bind_linux.go
  vendor/github.com/containers/buildah/internal/volumes/bind_notlinux.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25252 Makefile: escape BUILD_ORIGIN properly
  Makefile
Labels: lgtm, approved, release-note-none, No New Tests, v5.4

#25237 Remove the option to install WSL/HyperV on Windows
  build_windows.md
  contrib/win-installer/burn.wxs
  contrib/win-installer/podman-theme.wxl
  contrib/win-installer/podman-theme.xml
  contrib/win-installer/podman.wxs
  contrib/win-installer/test-installer.ps1
  contrib/win-installer/welcome-install-dlg.wxs
  winmake.ps1
Labels: lgtm, approved, machine, release-note, No New Tests

#24864 [skip-ci] RPM: cleanup macro defs
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#25273 test/apiv2: fix registry push flake
  test/apiv2/test-apiv2
Labels: lgtm, approved, release-note-none

#25235 [skip-ci] RPM: set BUILD_ORIGIN
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#25275 libpod: make hasCapSysResource platform-specific
  libpod/container_internal_common.go
  libpod/container_internal_freebsd.go
  libpod/container_internal_linux.go
Labels: lgtm, approved, release-note-none, No New Tests

#25281 Switch to the CNCF Code of Conduct
  CODE-OF-CONDUCT.md
Labels: lgtm, approved, release-note-none

#25277 CI: new images 2025-02-10
  .cirrus.yml
  test/system/125-import.bats
Labels: lgtm, approved, release-note-none

#25288 [CI] Bump FreeBSD version to 13.4
  .cirrus.yml
Labels: lgtm, approved, release-note-none, v5.4

#24775 In SQLite state, use defaults for empty-string checks
  libpod/sqlite_state.go
  test/system/005-info.bats
Labels: lgtm, approved, release-note, No New Tests

#25296 Bump to v5.4.0
  .cirrus.yml
  RELEASE_NOTES.md
  docs/source/Reference.rst
  libpod/sqlite_state.go
  test/system/005-info.bats
  version/rawversion/version.go
Labels: lgtm, approved, release-note-none

#25238 add podman artifact extract
  cmd/podman/artifact/extract.go
  docs/source/markdown/podman-artifact-extract.1.md
  docs/source/markdown/podman-artifact.1.md
  pkg/domain/entities/artifact.go
  pkg/domain/entities/engine_image.go
  pkg/domain/infra/abi/artifact.go
  pkg/domain/infra/tunnel/artifact.go
  pkg/libartifact/store/store.go
  pkg/libartifact/types/config.go
  test/e2e/artifact_test.go
  test/e2e/common_test.go
Labels: lgtm, approved, release-note

#25297 Remove persist directory when cleaning up Conmon files
  libpod/container_internal.go
  libpod/oci.go
  libpod/oci_conmon_common.go
  libpod/oci_missing.go
Labels: lgtm, approved, release-note, No New Tests

#25179 Create `--append` flag to add file to existing artifact using `podman artifact add` command
  cmd/podman/artifact/add.go
  docs/source/markdown/podman-artifact-add.1.md.in
  pkg/domain/entities/artifact.go
  pkg/domain/infra/abi/artifact.go
  pkg/libartifact/store/store.go
  pkg/libartifact/types/config.go
  test/e2e/artifact_test.go
  test/e2e/common_test.go
Labels: lgtm, approved, release-note

#25305 artifact extract: support reflink copy
  go.mod
  go.sum
  pkg/libartifact/store/store.go
  vendor/github.com/containers/storage/.cirrus.yml
  vendor/github.com/containers/storage/VERSION
  vendor/github.com/containers/storage/drivers/overlay/overlay.go
  vendor/github.com/containers/storage/layers.go
  vendor/github.com/containers/storage/pkg/archive/archive.go
  vendor/github.com/containers/storage/pkg/fileutils/reflink_linux.go
  vendor/github.com/containers/storage/pkg/fileutils/reflink_unsupported.go
  vendor/github.com/containers/storage/pkg/unshare/unshare_linux.go
  vendor/github.com/containers/storage/store.go
  vendor/github.com/vbatts/tar-split/archive/tar/writer.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25306 [v5.4-rhel] cirrus: remove functional tests
  .cirrus.yml
  contrib/cirrus/cirrus_yaml_test.py
Labels: lgtm, approved, release-note-none, No Jira Link

#25003 Run HealthCheck without saving the `ExecSession` to the database
  libpod/container_exec.go
  libpod/healthcheck.go
  test/system/220-healthcheck.bats
Labels: lgtm, approved, release-note

#25315 update golangci-lint to v1.64.4
  Makefile
  test/e2e/logs_test.go
Labels: lgtm, approved, release-note-none

#25309 cirrus: figure out DEST_BRANCH automatically
  .cirrus.yml
  contrib/cirrus/lib.sh
  contrib/cirrus/prebuild.sh
Labels: lgtm, approved, release-note-none

#25342 update github.com/spf13/cobra to v1.9.1
  completions/bash/podman
  completions/bash/podman-remote
  completions/powershell/podman-remote.ps1
  completions/powershell/podman.ps1
  go.mod
  go.sum
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none, No New Tests

#25343 test/buildah-bud: run in parallel
  .cirrus.yml
  test/buildah-bud/apply-podman-deltas
  test/buildah-bud/buildah-tests.diff
  test/buildah-bud/run-buildah-bud-tests
Labels: lgtm, approved, release-note-none

#25346 quadlet: support `Memory=` in `[Container]` sections
  docs/source/markdown/podman-systemd.unit.5.md
  pkg/systemd/quadlet/quadlet.go
  test/e2e/quadlet/memory.container
  test/e2e/quadlet_test.go
Labels: lgtm, approved, release-note

#25311 Add SyncMap package and use it for graph stop/remove
  libpod/container_graph.go
  pkg/syncmap/syncmap.go
Labels: lgtm, approved, release-note-none, No New Tests

#25347 [v4.4.1-crio] CVE-2024-11218 Fix
  go.mod
  go.sum
  vendor/github.com/containers/buildah/CHANGELOG.md
  vendor/github.com/containers/buildah/Makefile
  vendor/github.com/containers/buildah/changelog.txt
  vendor/github.com/containers/buildah/define/types.go
  vendor/github.com/containers/buildah/imagebuildah/stage_executor.go
  vendor/github.com/containers/buildah/internal/open/open.go
  vendor/github.com/containers/buildah/internal/open/open_linux.go
  vendor/github.com/containers/buildah/internal/open/open_types.go
  vendor/github.com/containers/buildah/internal/open/open_unix.go
  vendor/github.com/containers/buildah/internal/open/open_unsupported.go
  vendor/github.com/containers/buildah/internal/parse/parse.go
  vendor/github.com/containers/buildah/internal/types.go
  vendor/github.com/containers/buildah/internal/volumes/bind_linux.go
  vendor/github.com/containers/buildah/internal/volumes/bind_notlinux.go
  vendor/github.com/containers/buildah/pkg/overlay/overlay.go
  vendor/github.com/containers/buildah/run.go
  vendor/github.com/containers/buildah/run_common.go
  vendor/github.com/containers/buildah/run_freebsd.go
  vendor/github.com/containers/buildah/run_linux.go
  vendor/modules.txt
Labels: lgtm, approved, do-not-merge/hold, bloat_approved, release-note-none, No New Tests

#25345 fix: reduce logs noise when attach input on `ExecStartAndAttach`
  pkg/bindings/containers/attach.go
Labels: lgtm, approved, release-note, No New Tests

#25348 docs: warn about adding capabilities
  docs/source/markdown/options/cap-add.md
Labels: lgtm, approved, release-note-none

#25354 [v4.4.1-crio] cirrus: remove functional tests
  .cirrus.yml
Labels: lgtm, approved, release-note-none

#25350 oci: report empty exec path as ENOENT
  libpod/oci_util.go
  test/e2e/exec_test.go
  test/e2e/run_entrypoint_test.go
  test/e2e/run_exit_test.go
  test/system/030-run.bats
Labels: lgtm, approved, release-note-none

#25360 [skip-ci] Packit/Copr: Fix `podman version` in rpm
  .packit.sh
  rpm/podman.spec
Labels: lgtm, approved, release-note-none

#25261 Add documentation describing issues and support
  .github/ISSUE_TEMPLATE/bug_report.yaml
  ISSUE-EOL-POLICY.md
  ISSUE.md
  SUPPORT.md
Labels: lgtm, approved, release-note-none, No New Tests

#25355 Add --all to artifact rm
  cmd/podman/artifact/rm.go
  docs/source/markdown/podman-artifact-rm.1.md
  pkg/domain/entities/artifact.go
  pkg/domain/infra/abi/artifact.go
  test/e2e/artifact_test.go
Labels: lgtm, approved, release-note

#25373 [v5.4] Backport linter update
  .golangci.yml
  Makefile
  cmd/podman/artifact/inspect.go
  cmd/podman/artifact/list.go
  cmd/podman/artifact/pull.go
  cmd/podman/artifact/push.go
  cmd/podman/artifact/rm.go
  cmd/podman/auto-update.go
  cmd/podman/common/completion.go
  cmd/podman/containers/attach.go
  cmd/podman/containers/cleanup.go
  cmd/podman/containers/clone.go
  cmd/podman/containers/cp.go
  cmd/podman/containers/create.go
  cmd/podman/containers/exec.go
  cmd/podman/containers/init.go
  cmd/podman/containers/logs.go
  cmd/podman/containers/mount.go
  cmd/podman/containers/port.go
  cmd/podman/containers/ps.go
  cmd/podman/containers/rename.go
  cmd/podman/containers/restore.go
  cmd/podman/containers/run.go
  cmd/podman/containers/start.go
  cmd/podman/containers/unmount.go
  cmd/podman/diff/diff.go
  cmd/podman/generate/spec.go
  cmd/podman/generate/systemd.go
  cmd/podman/images/build.go
  cmd/podman/images/exists.go
  cmd/podman/images/list.go
  cmd/podman/images/mount.go
  cmd/podman/images/prune.go
  cmd/podman/images/pull.go
  cmd/podman/images/push.go
  cmd/podman/images/rm.go
  cmd/podman/images/search.go
  cmd/podman/images/tag.go
  cmd/podman/images/unmount.go
  cmd/podman/images/untag.go
  cmd/podman/kube/apply.go
  cmd/podman/kube/generate.go
  cmd/podman/kube/play.go
  cmd/podman/manifest/exists.go
  cmd/podman/networks/exists.go
  cmd/podman/pods/logs.go
  cmd/podman/registry/registry.go
  cmd/podman/root.go
  cmd/podman/secrets/exists.go
  cmd/podman/system/info.go
  cmd/podman/volumes/exists.go
  cmd/podman/volumes/mount.go
  cmd/podman/volumes/unmount.go
  pkg/machine/define/vmfile_test.go
Labels: lgtm, approved, machine, release-note-none

#25408 podman run: fix --pids-limit -1 wrt runc
  cmd/podman/containers/create.go
Labels: lgtm, approved, release-note, No New Tests

#25385 Fix reporting summed image size for compat endpoint
  pkg/api/handlers/compat/system.go
  test/apiv2/45-system.at
Labels: lgtm, approved, release-note, kind/api-change

#25416 vendor: update github.com/go-jose/go-jose/v3 to v3.0.4
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/modules.txt
Labels: lgtm, approved, release-note-none

#25331 Add `podman machine cp` subcommand
  cmd/podman/machine/cp.go
  cmd/podman/machine/machine.go
  docs/source/markdown/podman-machine-cp.1.md
  docs/source/markdown/podman-machine.1.md
  pkg/machine/e2e/config_cp_test.go
  pkg/machine/e2e/cp_test.go
  pkg/machine/ssh.go
  pkg/specgen/volumes.go
  pkg/specgen/winpath.go
Labels: lgtm, approved, machine, release-note

#25420 Add "create" and "remove" events for secrets.
  cmd/podman/common/completion.go
  docs/source/markdown/podman-events.1.md
  libpod/events.go
  libpod/events/config.go
  libpod/events/events.go
  libpod/events/logfile.go
  pkg/domain/infra/abi/secrets.go
  test/e2e/secret_test.go
Labels: lgtm, approved, release-note
